@charset "utf-8";
/*Updated Top Navigation: 11.04.14*/
#primary-nav:after{content:""; display:block; height:0; clear:both}
#menu_pants_denim a:hover{
    background-position: 0 -36px;
}
#menu_dresses a:hover{
    background-position: 0 -34px;
}
#ggRibbon{
    position:absolute;
}
#menu_newarrivals a{width:72px;background:url(/web_assets/skins/navigation/20141121/new_arrivals.gif) top left no-repeat}
#menu_gifts a{width:65px;background:url(/web_assets/skins/navigation/20141121/gifts.gif) top left no-repeat}
#menu_petites a{width:61px;background:url(/web_assets/skins/navigation/20141121/petites.gif) top left no-repeat} 
#menu_blacklabel a{width:60px;background:url(/web_assets/skins/navigation/20141121/black_label.gif) top left no-repeat}
#menu_travelers a{width:84px;background:url(/web_assets/skins/navigation/20141121/travelers.gif) top left no-repeat}
#menu_zenergy a{width:79px;background:url(/web_assets/skins/navigation/20141121/zenergy.gif) top left no-repeat}
#menu_jackets a{width:72px;background:url(/web_assets/skins/navigation/20141121/jackets.gif) top left no-repeat}
#menu_tops a{width:51px;background:url(/web_assets/skins/navigation/20141121/tops.gif) top left no-repeat}
#menu_bottoms a{width:84px;background:url(/web_assets/skins/navigation/20141121/bottoms.gif) top left no-repeat}
#menu_dresses a{width:75px;background:url(/web_assets/skins/navigation/20141121/dresses_skirts.gif) top left no-repeat}
#menu_jewelry a{width:81px;background:url(/web_assets/skins/navigation/20141121/jewelry.gif) top left no-repeat}
#menu_shoes a{width:106px; background:url(/web_assets/skins/navigation/20141121/shoes_accessories.gif) top left no-repeat}
#menu_swim a{width:60px;background:url(/web_assets/skins/navigation/20141121/swim.gif) top left no-repeat}
#menu_sale a{width:44px; background:url(/web_assets/skins/navigation/20141121/sale.gif) top left no-repeat}


/* Structure */
/* Primary Navigation */
#menu, #menu li{margin:0; padding:0; list-style:none; display:inline}
#menu{height:36px}
#menu a{height:36px; padding:36px 0 0 0; margin:0; float:left; overflow:hidden; font-size:11px; outline:none;}
#menu a{overflow:hidden; display:block; height:0 !important}
#menu, #menu a, #exit_msg{overflow:hidden}
#menu a:hover {background-position: 0 -36px;}
#primary-nav {
    text-align:left;
    width:996px;
    /*border-top:1px solid #FCF8ED;*/
    border-bottom:1px solid #EADEC4;
    margin: 0px;
    padding: 0px;
    position:relative;
}

/* Header Overrides */
#header {
    background-color: #FFFFFF;
    height: 70px;
    padding-top: 3px;
    position: relative;
    z-index: 900;
    width:994px;
}

#menu, #menu a, #exit_msg {
    margin-bottom: 6px;
    margin-top: 3px;
    overflow: hidden;
}