
#overviewTab { width: 762px; margin-top: 20px; font-family:'SST W01 Roman';color: #30343f; float: left; }
#overviewTab .product_image img {position: relative; }
#overviewTabFullWidth { width: 792px; margin-top: 20px; font-family:'SST W01 Roman';color: #30343f; float: left;}
.snyOverviewHero {height: 320px; width: 1280px; margin: 40px auto; text-indent: -9000em;}
#overviewTab #ltModules li h4, .ovMods h2 { font-family:'SST W01 Bold'; font-size: 18px !important; }
#module-1 p, #module-2 p, #module-3 p, #module-4 p, #module-5 p, #module-6 p, #module-7 p, #module-8 p ,#module-9 p ,#module-10 p, #module-11 p, #module-12 p{ font-size: 13px; line-height: 18px; } 
#module-1 h2, #module-2 h2, #module-3 h2, #module-4 h2, #module-5 h2, #module-6 h2, #module-7 h2, #module-8 h2, #module-9 h2, #module-10 h2, #module-11 h2, #module-12 h2, .vanity, .module-title {
	margin-top: 0px; padding-top: 18px; padding-bottom: 14px !important;
} 
#overviewTab sup { top: 0; vertical-align: super; }
#ltModules li { width: 363px !important; }
#ltModules li h4 { background: none !important; margin-bottom: 0px !important; } 
#ltModules li p { margin-top: 5px !important; font-size: 12px; line-height: 18px; width: auto !important;}


/* OV Links */
.anchorMods {position: relative; left: 28px; bottom: 0px;}
.mod-anchor,
.mod-anchor:link,
.mod-anchor:active,
.mod-anchor:visited {
	margin: 0px; padding: 18px 15px; display: inline-block; *display: inline; zoom: 1;
	font: normal 13px/0px 'SST Bold', Monaco, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333; text-decoration: none; float: left;
} .mod-anchor:hover {text-decoration: underline;}
  .mod-anchor[rel^="Learn More_"] {color: #4571EC;/*blue*/} 
  .mod-anchor[rel^="Link To_"] {color: #4571EC;}


#productDetailFootnotesArea {width: 792px; display: none;}/* Hide Temporarily*/
#showHideFootesLine {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #333333;
    font-size: 11px;
    line-height: 40px;
    margin:0;
    text-align: right;
    width: 792px;
}
#showHideFootesLine a{margin-right: 28px; color: #333;}
#showHideFootesLine a:hover{ color: #333; text-decoration: underline; }
#footNoteContent{ margin: 15px 28px; font-size: 12px; display: none;}
.footNoteLink {color: #999;}
.footNoteLink sup {font-size: 11px; line-height: 0; position: relative; top: -0.1em;}
.sny-tabset-footnotes {clear: left;}

/* Buttons  */
a {outline: none;} a:hover, 
a.button:hover {cursor: pointer;}
.button {
  width: auto; height: auto; margin: 0px; padding: 8px 16px; 
  display: inline-block; *display: inline; zoom: 1;
  color: #fff; font: 12px/12px 'SST W01 Bold', Arial, sans-serif; text-decoration: none;
  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
} .button[rel^="Shop_"] {font-size: 13px; line-height: 13px; padding: 13px 16px;}
  .button[rel^="Shop_"],
  .button[rel^="Learn_"],
  .button[rel^="Compare_"] {background: #1058A2;/*dark blue*/} 
  .button[rel^="Shop_"]:hover,
  .button[rel^="Learn_"]:hover,
  .button[rel^="Compare_"]:hover {background: #0D4782;} 
  .button[rel^="Buy_"] {background: #ED4E24;/*orange*/ height: 46px;} 
  .button[rel^="Buy_"]:hover {background: #D34520;} 
  .button[rel^="Link To_"],
  .button[rel^="Submit_"] {background: #43516E;/*navy blue*/} 
  .button[rel^="Link To_"]:hover,
  .button[rel^="Submit_"]:hover {background: #323C52;}
  
  
/* PDP Video Carousel Overrides */
div.sny-product-video-carousel .kor-control-previous,
div.sny-product-video-carousel .kor-control-next{ margin-top: 30px; }

/* PDP Video Thumb Links */
.ws-video .sny-video-overlay {width: 151px; height: 85px; display: block;}

/* PDP Link Overrides - 9.10.13 */
.mod-anchor, .mod-anchor:link, .mod-anchor:active, .mod-anchor:visited {
    background: url("../img/migratedOverview/orangeArrow.jpg") no-repeat left center transparent !important;
    color: #333333;
    display: inline-block !important;
    float: left;
    font: bold 12px/0px arial;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
}
.mod-anchor:hover {
    color: #49B2E2;
    text-decoration: underline;
}
a:link, a:visited, a:active {
    cursor: pointer;
    text-decoration: none;
}
a, object, embed {
    outline: medium none;
}
.link-arrow, .link-arrow:link, .link-arrow:active, .link-arrow:visited {
    background: url("../img/migratedOverview/orangeArrow.jpg") no-repeat left center transparent !important;
    color: #49B2E2;
    display: inline-block !important;
    font: bold 12px/12px arial;
    padding-left: 10px !important;
}
.link-arrow:hover {
    text-decoration: underline;
}

#overviewTab a:hover, #overviewTabFullWidth a:hover {
    color: #49B2E2;
}

.sny-product-highlights-title-group, .sny-product-inthebox-title-group{
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.sny-product-highlights-group-contents{
	padding-bottom: 10px;
}

.sny-product-priceadd-grp h4.ws-promo-head{
	font-size: 20px;
	font-weight: normal;
}

.sny-product-background{
	margin-top: 20px !important;
}

.sny-product-features .value {
  cursor: pointer;
  text-decoration:none;
  float: left;
  clear: both;
  line-height: 1.5;
  margin: 0 0 14px 0;
  padding-left: 19px;
  vertical-align: middle;
  display: list-item;
  list-style-type: none;
  background: url('/gsi/static/WFS/SNYNA-Site/-/SNYNA/en_US/assets/img/global/plus-icon.png') no-repeat 0px 3px;
}

#ws-product .ws-breadcrumbs-list{
	margin: 10px 0 15px 0;
	margin-bottom: 15px;
}

#ws-product .sny-product-header{
	padding-bottom: 5px;
}

#ws-product .sny-product-background {
	box-shadow: 0 -3px 12px -16px #757A84 inset;
}

#BVRRSecondarySummaryContainer{
  width:505px;
}
.sny-prod-reviews-cms{
  width: 480px;
  height: 450px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 62px;
  margin-left: 30px;
}