/*_________________________ Product Page ________________________________________*/

*{
	font-family: "News Gothic MT W01",Times,sans-serif;
	font-style: normal;
  	font-weight: 400;
}


.frg13_disabled_btn {
	background-color: #666666;
    color: #E4E4E5;
    cursor: default;
}

/*
.frg13_pseudo_select {
    color: #000000;
    float: left;
    margin: 38px 6px 0 0;
    padding-bottom: 35px;
    position: relative;
    width: 160px;
}
*/

.frg13_pseudo_select .frg13_label_selector {
    background: none;
    font-size: 15px;
    padding: 0 20px 0 0;
    text-transform: uppercase;
}

.frg13_pseudo_select select {
    display: block;
}

.frg13_model_price_nosale{
	text-decoration: line-through;
	font-family: "News Gothic MT W01 Bold", Times, sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

.frg13_model_price_nosale_catentry_displ{
	text-decoration: line-through;
	font-family: "News Gothic MT W01 Bold", Times, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    float: left;
	width: 50%;
	text-align: right;
}

.discount_percent {
	float: right;
	width: 50%;
	margin-top: 5px;
}

.frg13_model_price_onsale{
	color: #CC0000;
	font-family: "News Gothic MT W01 Bold", Times, sans-serif;
    font-size: 15px;
    margin-top: 20px;	
}

.frg13_out_of_stocks {
	display: block;
}

#frg13_tabs_desktop_profumi_2 img {
	width: 100%;
}

#frg13_tabs_desktop_profumi_2 .frg13_tabs-desktop_profumi-content_image {
	float: left;
	-moz-box-sizing: border-box;
  	padding-left: 10px;
  	width: 48%;
}

#frg13_tabs_desktop_profumi_2 .frg13_tabs-desktop_profumi-content_text {
	-moz-box-sizing: border-box;
  	float: right;
  	padding-left: 10px;
  	width: 46%;
}

#frg13_tabs_mobile_2, #frg13_tabs_mobile_3, #frg13_tabs_mobile_9, #frg13_tabs_mobile_10, #frg13_tabs_mobile_11 {
    clear: both;
}
#frg13_tabs_mobile_9, #frg13_tabs_mobile_10, #frg13_tabs_mobile_11 {
    display: none;
}

.frg13_tabs-mobile_profumi-content_image {
    float: left;
    -moz-box-sizing: border-box;
    padding-left: 10px;
    width: 50%;
}

.frg13_tabs-mobile_profumi-content_text {
	-moz-box-sizing: border-box;
    float: right;
    padding-left: 10px;
    width: 50%;
}

.frg13_add_to_bag.frg13_button_disabled button {
	cursor:text;
}

.ui-tabs-nav li {
  width: 25%;
}

.frg13_breadcrumbs {
  margin-top: 5px;
/*  display: none; */
}

.frg13_breadcrumbs .crumbs {
	margin-bottom: 10px;
}

.frg13_breadcrumbs .crumbs span:not(#last_bc_item):after {
    content: " >";
}


.frg13_product_detail .frg13_model_shortdescription {
  font-family: "News Gothic MT W01",Times,sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  width: 90%;
}

.frg13_add_to_bag_disabled {
  -moz-box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-right: 26px;
  position: relative;
  width: 33%;
  z-index: 4;
}

.frg13_add_to_bag_disabled button {
  background: none repeat scroll 0 0 #404040;
  border: medium none;
  color: #FFFFFF;
  font-family: "News Gothic MT W01",Times,sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
}

.frg13_add_to_bag_disabled {
  font-family: "News Gothic MT W01",Times,sans-serif !important;
}

#add2CartBtn_disabled button {
  line-height: 20px;
  /* CAugelli Aggiunti stili per disabilitare pulsante 
  addToCart nel caso in cui non ci sia inventory */
  background-color: #D3D3D3;
  font-weight: bold;
}

.frg13_out_of_stocks {
	text-transform: uppercase;
	display: block;
	width: 80%;
}

/*______________________ Footer Area _____________________________*/

#frg_site_footer .frg_grid_row .frg_span_2 ul li a {
  font-family: "News Gothic MT W01", Arial, sans-serif !important;
}

#frg_site_footer .frg_grid_row .frg_span_2 ul li span {
  font-family: "News Gothic MT W01", Arial, sans-serif !important;
}

/*_________________________ HeadQuarters/Press Page ________________________________________*/
.frg13_HeadquartersPage #frg_page_content .frg_grid_row .frg_span_6 p.frg_overContent span.frg_overSubTitle {
    font-family: "News Gothic MT W01",Arial,sans-serif !important;
    font-size: 14px;
}

/*_______________________ search mobile _____________________*/


.frg13_mobile_search #mobileCatalogSearchForm input#SimpleSearchForm_SearchTerm_mobile {
      background: #2a2c35 url(../../../images/Custom/r_13/sprite_elements1.png) no-repeat 101% -787px;
      min-width: 75%;
      max-width: 75%;
      width: 100%;
      padding-right: 0;
      color: white;
      float: right;
      text-transform: uppercase; 
}
.frg13_mobile_search #mobileCatalogSearchForm #search_submit_mobile {
      height: 30px !important;
      width: 30px !important;
      padding: 0 !important;
      position: absolute;
      right: 0;
      top: 0;
      background: white;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer; 
}


.frg13_userProfilePage .frg13_mobile_search_wrapper,
.frg13_wishlistPage .frg13_mobile_search_wrapper,
.frg13_orderHistoryPage .frg13_mobile_search_wrapper,
.frg13_accountPage .frg13_mobile_search_wrapper,
.frg13_userAddPage .frg13_mobile_search_wrapper,
.frg13_userAddConfirmationPage .frg13_mobile_search_wrapper,
.frg13_newsletterPage .frg13_mobile_search_wrapper, 
.frg13_newsletterInfoPage .frg13_mobile_search_wrapper,
.frg13_shippingBillingPage1 .frg13_mobile_search_wrapper,
.frg13_storeLocatorPage .frg13_mobile_search_wrapper,
.frg13_singleStorePage .frg13_mobile_search_wrapper,
.frg13_contactForm .frg13_mobile_search_wrapper,
.frg13_editorialStaticPage .frg13_mobile_search_wrapper,
.frg13_editorialStaticSimplePage .frg13_mobile_search_wrapper{
	margin-right: 35px;
}

/*__________________ Editorial Area _______________*/
.frg13_editorialStaticPage .frg_legal_page{
    padding-top: 10px;
    line-height: 20px;
}

.frg13_editorialStaticSimplePage .frg_legal_page {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.frg_span_12 .frg_overCaption{
	line-height: 65px !important;
}


.frg13_HomePage figcaption a, .frg13_TopCategory figcaption a{
	display: block;
}

.frg_margin_btm_greater{
	margin-bottom: 3.877%;
	height: auto;
}

.frg_margin_btm_banner{
	height: auto;
}
/*
.frg_omega_left {
	clear: left;
}

.frg_omega_center {
	left: 25%;
}

.frg_omega_right {
	left: 74%;
}
*/
.frg_span_3_text h1.frg_title_centered{
	margin-top: 60% !important;
}

/*_______________________ search _____________________*/
#CatalogSearchForm #search_submit {
    right: 6px;
    top: 70px;
}

#Search_Area_div .frg_grid_row figure figcaption * {
    /*line-height: 65px !important;*/
}

/*____________________ Cookies Area ___________________*/
.frg13_grid_row_overlay{
    background-color: #000000;
    height: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 140px;
    width: 55%;
    z-index: 11;
    -moz-opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
}

.frg13_overlayCookies p{
	color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    margin: 10px 5px 0 5px;
    text-transform: uppercase;
} 
   
.frg13_overlayCookies a.frg13_closeCookies {
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    margin:7px 35px 0px 0px;
    text-transform: uppercase;
}

.frg13_overlayCookies a.frg13_closeCookies img{
    height: 8px;
    width: 8px;
    margin-left: 10px;
}

.frg13_HeadquartersPage .frg13_grid_row_overlay{
	top: 180px;
} 

.frg13_PressIntroPage .frg13_grid_row_overlay{
	top: 160px;
} 

.frg13_ProductPage .frg13_grid_row_overlay{
	top: 200px;
} 
.frg13_editorialmono{
	display: block;
    width: 100%;
    text-align: center;
}

.frg13_editorialmono p{
	color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 50px 20px;
    text-align: center;
}

.frg13_editorialmono h1{
	color: #FFFFFF;
	font-size: 16px;
}
 
/* FERRAGAMOPM-751 */ 
.nodisplay {
	display:none;
}

/*___________ Header Menu Area ___________________*/
 .frg_site_header .frg_user #widget_miniwishlist, .frg_site_header .frg_user #widget_minishopcart {
    bottom: auto;
    z-index: 100;
    cursor: pointer;
}


#frg_main_menu ul li {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#frg_main_menu > ul > li:hover > a, #frg_main_menu > ul > li.selected > a, .frg_second_lev_menu > li:hover > a, .frg_third_lev_menu > li:hover a, .frg_second_lev_menu > li.selected > a, .frg_third_lev_menu > li.selected a {
	font-weight: bold;
}

#MyAccountLink{
	margin-top: 0px;
} 
/*
#aurora_wdg_site_logo {
  margin: none;
}*/

#aurora_wdg_site_logo {
  margin-bottom: -14px !important;
  margin-top: 14px !important;
}

/* frg_goto_wishlist */
.frg_goto_cart, .frg_goto_wishlist {
  background: transparent url(../../../images/Custom/r_13/sprite_elements1.png) no-repeat right -661px; }

.frg_goto_wishlist {
  background: transparent url(../../../images/Custom/r_13/sprite_elements1.png) no-repeat right -616px; }
  
#GotoCartButton2, #GotoCartButton1{
	background-color:#000000;
}  

#add2CartBtn button {
    line-height: 20px;
}

#addToShoppingList button {
    line-height: 20px;
}

@media screen and (max-width:768px) {
 #addToShoppingList button {
 line-height: 35px;
 }
}

@media screen and (max-width:768px) {
 #add2CartBtn button {
  line-height: 35px;
 }
}

@media screen and (max-width: 768px) {
	
	/*_______________________category page mobile _____________________*/
	#frg_page_content .frg_grid_row .frg_span_8,
	#frg_page_content .frg_grid_row .frg_span_4 {
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
        margin: 0 0 20px 0 !important;
        position: relative !important; 
    }
}


#frg_main_menu ul li .frg_second_lev_menu ul li a {
	color:#FFFFFF;
}

/*_________________________________ MiniCart area Header __________________________*/
#user #MiniShoppingCart{
	width: auto;
}

.frg_panel .frg_quick_cart .notification{
	width: 95%;
}

#miniShopCartBody{
    margin-left: 10px;
    text-transform: uppercase;
    white-space: nowrap;
}

#user{
	margin-right: 1.5%;
}

#user #ShoppingListDisplayLink{
	float: left;
}

#user #MyAccountLink{
	position: relative;
	display: table-cell;
	margin-left: 10px;
}

#user #frg_panel_header{
	width: 100%;
}

#MiniShopCartProductsList{
	top:-70px;
}

#MiniShopCartProductAdded{
	top:-58px;
}

.frg_close_panel{
	background-color: transparent;
	background-image: url(../../../images/Custom/r_13/sprite_elements1.png);
	background-repeat: no-repeat;
	background-position: 0 -870px;
}

.frg_panel .frg_close_panel{
	margin:0px;
}

.frg_panel .go_to_cart a{
	display: block;
	font-size: 24px;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: -1px -1px 1px rgba(9,9,9, .3);
	background-color: #000000;
}

.frg_panel a, .frg_quick_cart a {
    color: #000000;
    margin: 0;
    text-transform: none;
    white-space: normal;
    cursor: pointer;
}

#product_name_span {
    font-weight: 700;
}

#MiniShopCartCloseButton_1{
	cursor: pointer;
}

.scroll-pane-minishopcart{
	height: 300px;
	overflow: auto;
}

.frg_quick_cart .frg13_add_to_whislist{
	width: auto;
}

.frg_quick_cart .frg13_add_to_whislist button{
	background-color: #E0E0E0;
	display: block;
	float: left;
	color: #333333;
	height: auto;
	min-height: 30px;
	text-transform: none;
	font-size: 14px;
	line-height: 30px;
	margin-top: 10px;
	text-align: center;
	font-weight: 400;
}

.frg_quick_cart .frg13_add_to_whislist button:hover{
	background-color: #E0E0E0;
}

.cart_totals_label{
	display: block;
}

#four-grid-wishlist .item .frg_btn.frg_red_btn{
	font-family: "News Gothic MT W01", Times, sans-serif !important;
	background-color: #000000;
}

/*________________ Compatibility for no restyle section site ________________________*/
.frg_anonimous_user_nav nav a, .frg_user_nav nav a {
	color:#000000;
}

.frg_account_cnt_wrapper > .frg_column_8 {
	width: 61%;
	border-right: none;
}

.frg13_userAddPage .frg_account_cnt_wrapper > .frg_column_8 {
    border-right: 1px solid #EAEAEB;
}

.frg13_userAddPage #ShopCartDisplay{
	border-left: none;
}


#ShopCartPagingDisplay a.remove_address_link{
	height: 30px;
    padding: 0 5px;
    width: auto;
}

#ShopCartPagingDisplay #addToShoppingList{
	float: none !important;
}

#frg_confirm_reg_form dl dt {
	width: 20%;
}

#frg_confirm_reg_form dl dd {
    width: 79%;
}

#frg_confirm_reg_form dl dd.frg_left {
    width: 30%;
}

.frg_username{
	margin-left: 110px;
	float: none;
	/*line-height: auto;*/
}

.frg13_storeLocatorPage .frg_continent figure figcaption {
    color: #FFFFFF;
    display: block;
    font-size: 120px;
    line-height: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 33%;
    vertical-align: top;
    width: 100%;
	height: auto;
	background: none;
	padding: 0px;
	left: 0px;
} 

/*_______________ Fonts Area _______________________________*/
h4, h5, textarea, .frg_user_name, input[type="submit"], 
.frg_legal_page article h4, .form-actions .frg_right a{
	font-family: "News Gothic MT W01", Times, sans-serif !important;
}

#WC_AccountDisplay_div_23 h4, 
.frg_account_form select {
	font-family: "News Gothic MT W01", Times, sans-serif !important;
}

.form-actions a.button_primary, .form-action a, .form-actions a, .frg_panel, .frg_btn{
	font-family: "News Gothic MT W01", Times, sans-serif !important;
}

#WishlistDisplay_Widget h4, #frg_nletter_reg_wrapper p.frg_success {
	font-family: "News Gothic MT W01", Times, sans-serif !important;
}

#frg_choose_continent h4, .frg_continent figure figcaption {
	font-family: "News Gothic MT W01", Times, sans-serif !important;
} 

.frg_utilities li a, 
.frg_account_form label, #frg_recover_account_form label, 
.frg_direct_contact, .frg_direct_contact strong, 
.frg_btn, .frg_site_header #frg_main_menu ul li > ul li,
.frg_panel h3, .frg_social_feed, .frg_site_header .frg_panel, .frg_panel, .frg_panel label {
	font-family: "News Gothic MT W01", Times, sans-serif !important;
}

#frg_contact_form.frg_account_form fieldset.frg_large_fieldset, 
#frg_page_content a, .form-actions a.button_primary, .form-action a, .form-actions a  {
	font-family: "News Gothic MT W01", Times, sans-serif !important;
	/*color: #000000;*/
}

   
/*_______________ Back on Top ___________________*/

#back-top {
	bottom: 340px;
	height: 43px;
	right: 20px;
	width: 4%;
	background-color: #757575;
	position: fixed;
	z-index: 99999;
}

#back-top a.topLink {
	text-align: center;
	font-family: "News Gothic MT W01", Times, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 15%;
	display: block;
	font-size: 12px;
}

#back-top a.topLink:hover {
	text-decoration: none;
}
/*_______________ Img Resize _______________*/   
.frg_span_3 img{
	position: relative;
}   
/*_________ Editorial Content Area ____________*/
figure.frg_span_3_text{
	clear: right;
    float: left;
    overflow: hidden;
    width: auto;
    background-color: #FFFFFF;
    color: #000000;
    width: 25%;
}

.frg_span_3_text h1 {
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	vertical-align: middle; 
	margin-top: 10%;
}
.frg_span_3_text p{
	margin: 10% 5%;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 18px;
}

.frg13_editorialListPage .frg_grid_row .frg_span_3 figcaption, 
.frg13_editorialListPage .frg_grid_row .frg_span_6 figcaption, 
.frg13_editorialListPage .frg_grid_row .frg_span_9 figcaption {
	line-height: 65px !important;
}

/*_________ User Registration Add Form ____________*/
.error_msg {
	color: #FF0000;
	padding-bottom:10px;
	display:block;
}

/*_________ User Newsletter Home Page ____________*/
.frg_home_banner img{
	position: inherit;
}
.frg_pagination ul li a {
	color:#666666 !important;
}	

.frg_home_banner p {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
}

.frg_home_banner p.frg_newsl1{
    margin-top: 24%;
}

.frg_home_banner p.frg_newsl2{
    margin-top: 31%;
}

.frg_home_banner p.frg_newsl3{
    margin-top: 38%;
}


@media screen and (max-width: 1024px) {
	
	/*_________ Spaziature scritte su versione ipad  ____________*/
	.frg_home_banner p.frg_newsl1{
		margin-top: 24%;
	}

	.frg_home_banner p.frg_newsl2{
		margin-top: 36%;
	}

	.frg_home_banner p.frg_newsl3{
		margin-top: 48%;
	}
}



/*_________ Loading Overlay  ____________*/
#loading{
	left: 0;
 	top:0;
}

#loadingOverlay_black {
	background: url("../../../images/Custom/loading.gif") no-repeat scroll center 40px #000000;
    left: 0;
    filter: alpha(opacity = 70); /* internet explorer */
    opacity: 0.7;           /* fx, safari, opera, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /*IE8*/
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 5000px; 
    border: none;
    /*top: 111px;*/
}

@media screen and (max-width: 768px) {
	
	/*_______________________loader mobile _____________________*/
	#loadingOverlay_black {
        top:auto;
    }
}


/*_________ Color font ____________*/
.frg13_HomePage p.frg_black{
	color: #FFFFFF;
}
.frg13_mobile_nav .frg13_primary_nav li span {
    background: url("../../../images/Custom/r_13/mob_nav_arrow.png") no-repeat scroll 20px center / 3px 6px rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 30px;
    padding-left: 30px;
    text-decoration: none;
}
.frg_goto_wishlist.empty {
   cursor: default !important;
   color: #A1A2A9 !important;
}

.frg_column_1{
    margin-left: 0;
    margin-right: 0;
}

.frg_open_tab_cnt {
    color: #000000;
}

.frg13_logout {
    color: #000000;
    float: right;
    margin-right: 20px;
}

.myaccount_link.frg_recover_account.frg_black_uline {
	color: #000000;
}


/*____________________ Store locator ___________________*/
.frg_single_store a.frg_black_btn {
	color: #FFFFFF;
}

.fg_bck_to_locator a, .frg_store_loc_continengt a, .frg_store_locator a, .frg_country_locator a,
.frg_city_locator a{
	color: #000000;
}

.frg13_shippingBillingPage1 .cs-header-text, 
.frg13_userProfilePage .cs-header-text,
.frg13_wishlistPage .cs-header-text,
.frg13_orderHistoryPage .cs-header-text,
.frg13_orderItemPage .cs-header-text, 
.frg13_checkoutStep3Page .cs-header-text 
{
	color: #000000;
}

.frg_legal_nav a{
  color: #000000;
}

.spanacce {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -1px;
}

#frg_page_content .frg_legal_page a{
	color: #000000;
}

.frg13_ProductPage  .frg13_product_info .frg13_add_to_whislist {
  width: 32% !important;
  }


/*press*/

 .frg13_PressIntroPage .frg13_alt_row .frg13_alt_box  ul {
 	padding-left: 50px !important;
	padding-right: 50px !important;
 } 

.frg13_PressIntroPage .frg_restyled_page figure figcaption p.frg_overContent {
    bottom: 0px;
}

#frg_therm_purchase_id{
	color: #000000;
}

/*Headquarters*/
.frg13_HeadquartersPage .frg_restyled_page figure figcaption {
    bottom: 50% !important;
}

.frg13_HeadquartersPage .frg_restyled_page p.frg_overContent {
    bottom: -0px !important;
}

.frg13_HeadquartersPage .frg_restyled_page figure.frg_span_6 figcaption {
	display:block;
}

#frg_editorial_list_figure a {
	color: #000000;
}
.scroll-pane-editorial{
	overflow: auto;
}

#frg_editorial_text_box{
	height: 100%;
}

#frg_editorial_list_figure .jspDrag{
	top: 2px;
}

.frg_column_12 ul li:hover a, .frg_column_12 ul li.selected a{
	color: #cc0000;
}

.frg_locator_step ul li:hover a, .frg_locator_step ul li.selectedState a{
	color: #cc0000;
}

.frg_locator_step ul li:hover a, .frg_locator_step ul li.selectedCity a{
	color: #cc0000;
}

.frg13_store_locator_footer{
	margin-top: -3px;
}

/*video*/

.frg_homeVideoWrapper {
  left: 0;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 100%;
  z-index: 60;
}

.frg_homeVideoClose {
    background: url("../../../images/Custom/icoClose.gif") no-repeat scroll right top transparent;
    display: block;
    height: 18px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 734px;
    z-index: 64;
}

.frg_homeVideoWrapper video {
    margin: 0 auto !important;
    position: relative;
    top: 50px;
    z-index: 62;
}

.frg_homeVideoContainer_wrapper {
    margin: 0 auto !important;
    position: relative;
    top: 50px;
    z-index: 62;
    position: relative;
    width: 734px;
    height: 480px;
}

.frg_homeVideoContainer {
    margin: 0 auto !important;
    z-index: 63;
}

.frg_homeVideoBackground {
    background: none repeat scroll 0 0 #000000;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 61;
    opacity: 0.75;
    height: 3526px;
}

.frg_restyled_page figcaption {
  font-size: 16px;
}

.frg_restyled_page .frg_persistent_caption {
	font-size: 16px;
}

.widget_search_results_position {
    display: none;
}

#PreviouslyProcessedSummaryMyAccountMainPage{
	display: none;
}

#frg_order_review ul li{
	vertical-align: top;
	word-wrap: break-word;
}


/***lancio brightcove***/
.cover_brightcove{
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000;
  position: relative;
  z-index: 2;
}

.cover_brightcove img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
}

.play_icon{
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.play_icon.play_white{
   background: transparent url(../../../images/Custom/r_13/play_icon_white.png) no-repeat center;
}

.BrightcoveExperience{
  position: absolute;

  top: 0;
  z-index: 1;

}



@media screen and (max-width: 1024px){
    body #frg_main_menu > ul > li{
        padding:0 15px !important;
    }
} 
@media screen and (max-width: 1600px) and (min-width: 1025px){
    body #frg_main_menu > ul > li{
        padding:0 20px !important;
    }
} 
@media screen and (max-width: 1024px) {
	body #frg_main_menu ul li > .frg_second_lev_menu { 
		margin-left: 10px !important; 
	}
}

@media screen and (max-width: 1600px) and (min-width: 1025px) {
	body #frg_main_menu ul li > .frg_second_lev_menu { 
		margin-left: 10px !important; 
	}
}

@media screen and (max-width: 1600px) and (min-width: 1025px) {
	body #frg_main_menu ul li > .frg_second_lev_menu { 
		margin-left: 10px !important; 
	}
}

@media screen and (max-width: 768px) {
	.frg_brightCoveVideo #frg_page_content .frg_grid_row figure.frg_cover img {
	    left: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 1024px) {
	.frg13_calzata_selector, .frg13_taglia_selector, .frg13_color_selector{
		width:36% !important;
	}
} 

/*____________________ Tracking id fix ___________________*/
#order_details td a {
    color: black;
    display: block;
    /*padding: 0 1em;*/
}  