

 /* ************
	+MAC STYLES
**************/

.spriteBubbleSM .spriteBubbleText #navNoteNumber{
	padding-top: 2px;
}

.headerDiv #nav .NavMain {
    height: 23px;
    padding: 9px 0px 2px 0px;
}

.headerDiv .happyHourWrapper .pinkSmTextBubble {
    margin:7px 0 0 11px;
}

.headerDiv .happyHour {
	margin:8px 10px 0 5px;
}

.quickView .addToCartBtn .addToBag {
	padding:8px 10px 8px 2px;
}

.quicklook-miniproduct #addToFavBtn .addToFav a,
.quicklook-miniproduct #moboleBtn .sendToMobile a{ font-size: 11px; text-transform: uppercase; color:#494848; display: inline-block; margin-top: 3px;}