/* activate login flow - soft link */
/* ____________________________________________________ */


#universalModal.USiActiaveLogin {
    left: 50%;
    margin-left: -170px;
    width: 300px;
}
#universalModal .shcModal {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    left: 0;
    padding: 30px 30px 50px;
    position: relative;
    top: 0;
    width: auto;
}
#universalModal .shcModal p {
    color: #666666;
    font-size: 12px;
    margin: 10px 0 15px;
    width: 250px;
}
#universalModal.USiActiaveLogin .storeLogoSYW {
   	background-position: -219px 0;
    background-image: url(../img/universalSignInSprite.png);
    height: 33px;
    position: absolute;
    right: 15px;
    text-indent: -9999px;
    top: 15px;
    width: 140px;
}
#universalModal .leftFlyOut .storeLogoSYW {
    background-image: url("../img/Sears_SYW_lockup.png");
    height: 33px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 140px;
}
.ie #universalModal .leftFlyOut .storeLogoSYW {
    background-image: url("../img/Sears_SYW_lockup.png");
    background-position: -219px 0;
    height: 33px;
    text-indent: -9999px;
    width: 133px;
}

.kmart #universalModal.USiActiaveLogin .storeLogoSYW { position: absolute;right: 20px;top: 15px;height: 34px;text-indent: -9999px;background: transparent url("../img/vp_logos_kmart.png") no-repeat 0 0;width: 134px;}
.kmart.ie #universalModal.USiActiaveLogin .storeLogoSYW { position: absolute;right: 20px;top: 24px;height: 33px;text-indent: -9999px;background-position:-370px 0;background-image: url(../img/universalSignInSprite.png);width: 140px; z-index: 10px;}

#universalModal .usiActivateScreen {
    margin-top: 45px;
}
#universalModal .activateFlowTitle {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 230px;
}
#universalModal .tabBox {
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    border-radius: 3px 3px 3px 3px;
    float: left;
    padding: 10px 0 15px;
    width: 100%;
}
#universalModal .tabBox .emailInfo {
    margin-top: 10px;
    text-align: center;
}
#universalModal {
    background-image: url("../img/modalShadow.png");
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    color: #777777;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    left: 50%;
    margin-left: -295px;
    padding: 12px;
    position: absolute;
    top: 15px;
    width: 620px;
    z-index: 10000;
}
#universalModal.USiActiaveLogin .activateFlowTitle h3 {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -3px 3px rgba(50, 50, 50, 0.15);
    color: #333333;
    font-size: 18px;
    margin: 0 -15px;
    padding: 18px 15px 0;
}
#universalModal .tabBox p {
    color: #333333;
    font-size: 13px;
    margin: 0 10px;
    width: auto;
}
#universalModal input {
    font-family: Arial,Helvetica,sans-serif !important;
}
#universalModal .tabBox label {
    font-size: 12px;
    margin-left: 5px;
}
#universalModal .tabBox hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E8E8E8;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    margin:10px 0;
}
#universalModal .tabBox.firstTab {
    margin-bottom: 14px;
}
#universalModal.USiActiaveLogin label {
    font-size: 12px;
}
#universalModal label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 5px;
}
#universalModal .tabOptionSeparator {
    float: left;
    height: 30px;
    margin: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
#universalModal .tabOptionSeparator hr {
    -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     border-color: #E8E8E8;
     border-image: none;
     border-style: solid;
     border-width: 1px 0 0;
     width: 100%;
}
#universalModal .tabBubbleOuter {
    background-color: #FFFFFF;
    height: 100%;
    left: 37%;
    position: absolute;
    top: 0;
    width: 26%;
}
#universalModal .tabBubbleInner {
    background-color: #CCCCCC;
    border-radius: 100% 100% 100% 100%;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
    padding: 8px 9px;
}

#universalModal.USiActiaveLogin input.shcForm_Text, #universalModal.USiActiaveLogin input#emailOrPhone {
    width: 222px;
}
#universalModal .tabBox input[type="text"] {
    width: 94%;
}
#universalModal input.shcForm_Text {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 3px 4px #F1F1F1 inset;
    margin-top: 4px;
    outline: medium none;
    padding: 6px;
    transition: all 0.25s ease-in-out 0s;
    width: 264px;
}

#universalModal .shcForm_Text {
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 14px;
    padding: 5px;
    width: 165px;
}
#universalModal .shcForm_Text {
    border: 1px solid #CCCCCC;
    color: #707070;
    font-size: 16px;
    padding: 2px;
}


#universalModal.USiActiaveLogin .buttonContainer {
    bottom: -10px;
    position: absolute;
    right: 15px;
    width: 100%;
}

#universalModal.USiActiaveLogin .buttonContainer .shcBtnCTA {
    margin-left: 10px;
}
#universalModal .shcBtn.shcBtnCTA {
}
#universalModal .shcBtn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    float: right;
    font-size: 12px;
    padding: 5px 25px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}
#universalModal .flowInfo {
    float: right;
    font-size: 11px;
    margin: 5px 0 0;
    text-align: right;
    width: 100%;
}

#universalModal #shcForm_errorBubble {
	max-width: 200px;
}

#universalModal p.alert { 
    color:#DC0B00; 
    font-weight:bold; 
    margin-top:0;
    position: relative;
    width: 100%;
    background: none;
    border: none;
    padding-left: 0;
}

#universalModal .sears .popupSprite {
	width: 0px;
	height: 0px;
	background:none;
	border-style: solid;
	border-width: 0 17.5px 15px 17.5px;
	border-color: transparent transparent #DC0B00 transparent;
}



#universalModal #shcForm_errorBubble {
    color: #fff;
    font-size: 12px;
    position: absolute;
    display: none;
    max-width: 300px;
    padding: 4px;
    background: #DC0B00;
    border: solid 1px #DC0B00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 5px #CCCCCC;
    -webkit-box-shadow: 0px 1px 5px #CCCCCC;
    box-shadow: 0px 1px 5px #CCCCCC;
    width: 210px;
    z-index: 99999999 !important;
}

#universalModal .shcForm_TextError { border:solid 1px red !important; font-size: 16px; color:#707070; padding: 2px; }

#verifyPopup #shcForm_errorBubble p {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

body#universalModal .popupSprite,
#verifyPopup .popupSprite {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 17.5px 15px 17.5px;
    border-color: transparent transparent #DC0B00 transparent;
    background: none;
}

#universalModal #shcForm_errorBubble #followItemAlertPointer, 
#universalModal #shcForm_errorBubble .popupSprite_05_overlay_arrowRed_up,
#verifyPopup #shcForm_errorBubble #followItemAlertPointer, 
#verifyPopup #shcForm_errorBubble .popupSprite_05_overlay_arrowRed_up {
    position: absolute;
    top: -10px;
    left: 8px;
    padding: 0px;
}
#sywrMemberNumber.shcForm_TextError { 
	padding: 6px;
	margin-top:4px; 
}

.tabBox input {
  float: left;
}
.tabBox label {
  padding-left: 10px;
}