/*
 * Fixes for errors in branding.css
 *
 */
/*** Typography ***/
/**
 *  Mobile Header update to add to overrides.css
 *  Date: 10/22/2014
 *
 *  Styles needed to accommodate move of Store Locator link into #header
 */
/* Changes to #header */
#header .header-top-box div.primary-logo {
  width: 34%;
  padding: 0 2.5%;
}
#header .header-top-box div.item-icon-box {
  padding: 16px 4.1%;
}
/* Changes to .header-banner, the full with global messaging area */
.header-banner .header-banner-inner p {
  font-size: 0.7857em;
  letter-spacing: 0;
  text-transform: uppercase;
}
.header-banner .header-banner-inner .sr-flexslider li > div {
  padding: 1em;
}
.header-banner .header-banner-inner .sr-flexslider ul > li {
  display: none;
}
.header-banner .header-banner-inner .sr-flexslider ul > li:first-child {
  display: block;
}
.header-banner .header-banner-inner a {
  border: none;
}
.header-banner .header-banner-inner a:after {
  background: none;
}
/* Static Category Ad Specific Styles */
.category-ad-content-static-asset {
  height: 380px;
  margin: 0 -10px;
  position: relative;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * Super Global Banner
 * Banner at the top of the page
 **/
.top-of-header {
  width: auto;
  height: auto;
  position: relative;
  background-color: transparent;
}
.top-header-banner div.top-header-banner-content-wrapper {
  width: 300%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -100%;
  background-color: #666666;
}
.top-header-banner div.top-header-banner-content-wrapper div {
  max-width: 920px;
  margin: 0 auto;
  padding: 0.0125em;
}
.top-header-banner p {
  text-align: left;
  font-size: 0.785714em;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 0.5em 0 0.75em;
}
.top-header-banner p > img {
  display: inline;
  margin-right: 0.5em;
  margin-bottom: -6px;
}
a.button.secondary-button,
.primary-content a.button.secondary-button {
  padding: 0.6em 2em 0.5em;
  letter-spacing: 0;
}
input[type="submit"],
button {
  -webkit-border-radius: 0.357143em;
  border-radius: 0.357143em;
}
.inner .quicklinks-box {
  margin: 7px auto;
}
.quicklinks-box ul li {
  margin: 2px 1em;
}
.quicklinks-box ul li a {
  text-transform: uppercase;
  padding: 0;
}
.button,
.primary-content a.button,
button,
.vertical-category-links a.view-all {
  padding: 0.75em 0.75em 0.625em;
}
.ie8 .button,
.ie8 .primary-content a.button,
.ie8 button,
.ie8 .vertical-category-links a.view-all {
  padding: 1em 1.5em 0.875em;
}
.ftrp .button,
.primary-content .ftrp a.button,
.ftrp button,
.ps .button,
.primary-content .ps a.button,
.ps button,
.mg .button,
.primary-content .mg a.button,
.mg button,
.mc1 .button,
.primary-content .mc1 a.button,
.mc1 button,
.mc2 .button,
.primary-content .mc2 a.button,
.mc2 button,
.hp .button,
.primary-content .hp a.button,
.hp button {
  display: block;
  width: 100%;
  height: 100%;
  letter-spacing: 0;
}
@media (min-width: 767px) {
  .ftrp .button,
  .primary-content .ftrp a.button,
  .ftrp button,
  .ps .button,
  .primary-content .ps a.button,
  .ps button,
  .mg .button,
  .primary-content .mg a.button,
  .mg button,
  .mc1 .button,
  .primary-content .mc1 a.button,
  .mc1 button,
  .mc2 .button,
  .primary-content .mc2 a.button,
  .mc2 button,
  .ncm .button,
  .primary-content .ncm a.button,
  .ncm button,
  .hp .button,
  .primary-content .hp a.button,
  .hp button {
    display: inline-block;
    width: auto;
  }
  .button,
  .primary-content a.button,
  button,
  .vertical-category-links a.view-all {
    padding: 1em 1.5em 0.875em;
  }
}
.ie8 .ftrp .button,
.primary-content .ftrp a.button,
.ftrp button,
.ie8 .ps .button,
.primary-content .ps a.button,
.ps button,
.ie8 .mg .button,
.primary-content .mg a.button,
.mg button,
.ie8 .mc1 .button,
.primary-content .mc1 a.button,
.mc1 button,
.ie8 .mc2 .button,
.primary-content .mc2 a.button,
.mc2 button,
.ie8 .ncm .button,
.primary-content .ncm a.button,
.ncm button,
.ie8 .hp .button,
.primary-content .hp a.button,
.hp button {
  display: inline;
  width: auto;
}
/* Header Banners */
.wrap-header-banners .header-banner p {
  margin: 0;
  padding: 0;
}
.shoe-selector-tabs.ui-tabs .tabs-menu.ui-tabs-nav li a {
  text-transform: uppercase;
}
.mini-cart-slot {
  font-family: 'Gotham Book', sans-serif;
  margin: 1em 0;
  font-style: normal;
}
div.cart-promo.cart-promo-approaching {
  font-style: normal;
}
.login-box-content p {
  font-family: 'Gotham Book', sans-serif;
}
.login-box-content ul {
  padding-left: 1em;
}
.login-box-content li {
  font-family: 'Gotham Book', sans-serif;
  line-height: 1.5;
  font-size: 1em;
}
/* Navigation marketing Slots */
div.level-2 .custom .sr-navigation-content-slot img {
  width: 217px !important;
}
/* Hack to remove last two menu items in mobile */
@media (max-width: 767px) {
  nav .menu-category.level-1 > li:nth-last-child(-n+2) {
    display: none;
  }
  #footer .footer-copyright {
    float: none;
  }
  #footer .footer-content-box {
    /*margin: 0;*/
  }
}
/* Tooltip Lists */
.tooltip-list h3,
.tooltip-list p {
  margin: 0;
}
.tooltip-list p span {
  font-family: 'Gothic Medium', sans-serif;
  font-weight: 700;
}
/*
 * Common content asset styles
 *
 */
/* .pt_product-search-result .cat-landing #main {
    margin-top: 0;
} */
div.sr-navigation-content-slot,
div.sr-cat-landing-banner,
div.sr-marketing-slot {
  position: relative;
  text-align: left;
}
.marketing-slots {
  overflow: hidden;
}
/* text and link styles */
.sr-marketing-slot-content h3 {
  font-family: 'Gotham Medium', sans-serif;
  font-size: 1.14286em;
  line-height: 1.3;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 0.03125em;
  margin: 0;
  font-weight: 400;
}
.ie8 .sr-marketing-slot-content h3 {
  font-weight: 700 !important;
  /* Need to override !important on h3 in branding */
}
.sr-cat-landing-banner a.sr-cta-link,
.sr-marketing-slot a.sr-cta-link {
  white-space: nowrap;
  font-family: 'Gotham Medium', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.3;
  color: #5a4694;
  text-decoration: none;
  letter-spacing: 0.03125em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: 400;
}
.ie8 .sr-cat-landing-banner a.sr-cta-link,
.ie8 .sr-marketing-slot a.sr-cta-link {
  font-weight: 700;
}
.sr-cat-landing-banner a.sr-cta-link > span,
.sr-marketing-slot a.sr-cta-link > span {
  font-size: 1.14286em;
}
.sr-cat-landing-banner a.sr-cta-link:hover,
.sr-marketing-slot a.sr-cta-link:hover {
  color: #9278d1;
}
.sr-cat-landing-banner-content,
.sr-marketing-slot-content,
.sr-navigation-content-slot-content {
  padding: 8px 12px 8px 12px;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  position: absolute;
  top: 23px;
  /* Default positioning - Set custom position inline */
  left: 0;
}
.ie8 .sr-marketing-slot-content.sr-highlight {
  background-color: transparent;
  background-image: url('../images/transparent_white_pixel.png');
}
.sr-marketing-slot-content.sr-highlight {
  background-color: rgba(255, 255, 255, 0.85);
}
.sr-marketing-slot-content.sr-white h3,
.sr-marketing-slot-content h3.sr-white,
.sr-marketing-slot-content.sr-white a.sr-cta-link {
  color: #ffffff;
}
.sr-marketing-slot-content.sr-white a.sr-cta-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.sr-white {
  color: #ffffff;
}
.lc {
  text-transform: lowercase;
}
.sr-center {
  text-align: center;
}
.sr-right {
  text-align: right;
}
/* Mobile footer Menu */
.pt_customer-service #footer footer div.footer-menu.mobile .button.secondary-button {
  padding: 0.6em 2em 0.5em;
}
#footer footer div.footer-menu.mobile {
  text-align: center;
}
#footer footer div.footer-menu.mobile h4 {
  margin-bottom: 0;
}
#footer footer div.footer-menu.mobile p {
  margin: 0.5em 0 1.5em;
  font-size: 0.857143em;
}
#footer footer div.footer-menu.mobile p a {
  color: #5a4694;
  font-size: inherit;
}
#footer footer div.footer-menu.mobile p a:hover {
  color: #9278d1;
}
#footer footer div.footer-menu.mobile ul[class*="-links"] {
  text-align: center;
  display: block;
  width: 100%;
}
#footer footer div.footer-menu.mobile ul.primary-links {
  width: 100%;
}
#footer footer div.footer-menu.mobile ul[class*="-links"] li {
  float: left;
  margin: 0;
}
#footer footer div.footer-menu.mobile ul.primary-links li {
  width: 50%;
}
#footer footer div.footer-menu.mobile ul.primary-links li a {
  display: block;
  margin-left: 0.5em;
}
#footer footer div.footer-menu.mobile ul.primary-links li:first-child a {
  margin-left: 0;
}
#footer footer div.footer-menu.mobile ul.secondary-links {
  text-align: center;
}
#footer footer div.footer-menu.mobile ul.secondary-links li {
  text-transform: uppercase;
  margin: 0 0.5em;
  /*display: inline;*/
}
/* ie8 */
.ie8 .pt_product-search-result .cat-landing #main {
  margin-top: 3em;
}
/* Tablet or larger */
@media (min-width: 767px) {
  .pt_product-search-result .cat-landing #main {
    margin-top: 3em;
  }
}
/* 
 * Find The Right Product Template overrides 
 *
 * Use .ftrp to isolate styles for this specific template
 *
 */
/* ie8 */
/* Slot C1 */
.ie8 .cat-landing-e .marketing-bottom-slot1 .sr-marketing-slot {
  margin-right: 7px;
  margin-bottom: 7px;
}
/* Slot C2 */
.ie8 .cat-landing-e .marketing-bottom-slot2 .sr-marketing-slot {
  margin-left: 7px;
  margin-bottom: 7px;
}
/* Slot D1 */
.ie8 .cat-landing-e .marketing-bottom-slot3 .sr-marketing-slot {
  margin-right: 7px;
  margin-top: 7px;
}
/* Slot D2 */
.ie8 .cat-landing-e .marketing-bottom-slot4 .sr-marketing-slot {
  margin-left: 7px;
  margin-top: 7px;
}
.ie8 .pt_product-search-result .cat-landing-e .marketing-bottom-slots .marketing-bottom-slot.ftrp.sr-column-span {
  width: 920px;
}
@media (min-width: 767px) {
  /* Slot C1 */
  .cat-landing-e .marketing-bottom-slot1 .sr-marketing-slot {
    margin-right: 7px;
    margin-bottom: 7px;
  }
  /* Slot C2 */
  .cat-landing-e .marketing-bottom-slot2 .sr-marketing-slot {
    margin-left: 7px;
    margin-bottom: 7px;
  }
  /* Slot D1 */
  .cat-landing-e .marketing-bottom-slot3 .sr-marketing-slot {
    margin-right: 7px;
    margin-top: 7px;
  }
  /* Slot D2 */
  .cat-landing-e .marketing-bottom-slot4 .sr-marketing-slot {
    margin-left: 7px;
    margin-top: 7px;
  }
  .pt_product-search-result .cat-landing-e .marketing-bottom-slots .marketing-bottom-slot.ftrp.sr-column-span {
    width: 920px;
  }
  /* Styles for individual boxes */
}
/* 
 * Marketing Graphics Template overrides 
 *
 * Use .mg to isolate styles for this specific template
 *
 */
.cat-landing.cat-landing-a .marketing-slots.horizontal-stack {
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
}
.cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme {
  width: 100%;
  max-height: none;
}
/* ie8 */
.ie8 .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box {
  /* margin: -48px auto 0;
            z-index: 10;
            position: relative;*/
  display: block;
  width: auto;
  /*padding: 10px 0;*/
  text-align: center;
}
.ie8 .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul {
  padding: 0;
  display: inline-block;
  margin: 0;
}
.ie8 .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul li {
  margin: 0;
  display: inline-block;
  background-color: transparent;
}
.ie8 .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul li a {
  font-size: 0.857143em;
  border: none;
  padding: 0.75em 0.25em;
}
/* Mobile specific */
@media (max-width: 766px) {
  .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box {
    /* margin: -48px auto 0;
            z-index: 10;
            position: relative;*/
    display: block;
    width: auto;
    /*padding: 10px 0;*/
    text-align: center;
  }
  .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul {
    padding: 0;
    display: inline-block;
    margin: 0;
  }
  .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul li {
    margin: 0;
    display: inline-block;
    background-color: transparent;
  }
  .cat-landing.cat-landing-a .landing-topbanner-box .quicklinks-box ul li a {
    font-size: 0.857143em;
    border: none;
    padding: 0.75em 0.25em;
  }
}
/* ie8 */
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack {
  padding-left: 0;
  padding-right: 0;
}
.ie8 .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack {
  padding: 0;
}
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme {
  width: 33.3%;
}
.ie8 .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme .sr-marketing-slot.mg,
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme .sr-marketing-slot.mg {
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 14px;
}
.ie8 .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack:last-child div.stackme .sr-marketing-slot.mg,
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack:last-child div.stackme .sr-marketing-slot.mg {
  margin-bottom: 0;
}
.ie8 .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme:first-child .sr-marketing-slot.mg,
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme:first-child .sr-marketing-slot.mg {
  margin-right: 8px;
  margin-left: 0;
}
.ie8 .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme:last-child .sr-marketing-slot.mg,
.ie8 .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme:last-child .sr-marketing-slot.mg {
  margin-right: 0;
  margin-left: 8px;
}
@media (min-width: 767px) {
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack {
    padding-left: 0;
    padding-right: 0;
  }
  .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack {
    padding: 0;
  }
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme {
    width: 33.3%;
  }
  .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme .sr-marketing-slot.mg,
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme .sr-marketing-slot.mg {
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 14px;
  }
  .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack:last-child div.stackme .sr-marketing-slot.mg,
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack:last-child div.stackme .sr-marketing-slot.mg {
    margin-bottom: 0;
  }
  .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme:first-child .sr-marketing-slot.mg,
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme:first-child .sr-marketing-slot.mg {
    margin-right: 8px;
    margin-left: 0;
  }
  .cat-landing.cat-landing-a + .marketing-slots.horizontal-stack div.stackme:last-child .sr-marketing-slot.mg,
  .cat-landing.cat-landing-a .marketing-slots.horizontal-stack div.stackme:last-child .sr-marketing-slot.mg {
    margin-right: 0;
    margin-left: 8px;
  }
}
/* 
 * Main Cat 1 Template overrides 
 *
 * Use .mc1 or cat-landing-g to isolate styles for this specific template
 *
 */
.cat-landing-g .sr-marketing-slot {
  margin-bottom: 14px;
}
.cat-landing-g .sr-marketing-slot:last-child {
  margin-bottom: 0;
}
.cat-landing-g .quicklinks-box {
  max-width: 680px;
}
/*
 * Main Cat 2 Template overrides
 *
 * Use .mc2 or cat-landing-h to isolate styles for this specific template
 *
 */
.cat-landing-h .marketing-slots {
  margin-top: 2em;
}
/*
 * Mobile Homepage Template overrides
 *
 *
 */
@media (max-width: 767px) {
  .quicklinks-box ul li {
    margin: 0.5em;
    font-size: 0.714286em;
  }
  .quicklinks-box ul li a {
    font-size: inherit;
    letter-spacing: normal;
  }
  .secondary-content-slot,
  .tertiary-content-slot {
    margin-bottom: 1.5em;
  }
  .secondary-content-slot a.sr-cta-link,
  .tertiary-content-slot a.sr-cta-link {
    letter-spacing: normal;
  }
}
/* 
 * Navigation Content Marketing Slot overrides 
 *
 * Use .ncm to isolate styles for this specific template
 *
 */
ul.level-1 .ncm .sr-navigation-content-slot-image a {
  padding: 0;
}
ul.level-1 .ncm a.button {
  font-size: 0.928571em;
  font-family: 'Gotham Medium', sans-serif;
  color: #ffffff;
  font-weight: 400;
  /* padding: 18px 2.5em 16px;*/
  display: inline;
}
/* Fun Stuff Slats */
.flyout-shoe-size-filter {
  max-width: none;
  /* Allow slats to span the full menu width */
}
.flyout-shoe-size-filter .slat {
  float: left;
  width: 50%;
}
.flyout-shoe-size-filter .slat > a {
  padding: 0;
  margin: 1em 0;
}
.flyout-shoe-size-filter .slat img {
  float: left;
  margin-right: 14px;
}
.flyout-shoe-size-filter .slat h3 {
  font-size: 1em;
  margin: 0 0.25em 0;
}
.flyout-shoe-size-filter .slat p {
  margin: 0.5em;
}
.flyout-shoe-size-filter .slat p > span {
  /*font-size: inherit;*/
  white-space: nowrap;
  font-family: 'Gotham-Medium', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1.3;
  color: #5a4694;
  text-decoration: none;
  letter-spacing: 0.03125em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: 400;
}
.flyout-shoe-size-filter .slat p > span:hover {
  color: #9278d1;
}
/* Flexslider */
.sr-main-slideshow-slot-image {
  width: 100%;
  height: 568px;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
}
.sr-cat-landing-banner-content-wrapper {
  width: 920px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
  background-image: url('../images/arrows-vertical-carousel.png');
}
.flex-direction-nav a {
  height: 50px;
}
/*Desktop */
.flexslider.hp .sr-main-slideshow-slot-image {
  height: 500px;
}
.flexslider.hp .sr-cat-landing-banner-content-wrapper {
  width: 920px;
}
/* Mobile */
.flexslider.mobile .sr-main-slideshow-slot-image {
  height: 217px;
}
.flexslider.mobile .sr-cat-landing-banner-content-wrapper {
  width: 100%;
}
/* 
 * Start Homepage Category Large Bottom Slot overrides 
 *
 * Use .hp to isolate styles for this specific template
 *
 */
/* Override branding.css */
.js .home-bottom-left,
.js .home-bottom-center,
.js .home-bottom-right {
  width: 306px;
}
.js .home-bottom-center {
  margin-right: 1px;
  margin-left: 1px;
  background: #ffffff;
}
/* Content Slot Specific styles */
/* Homepage Slider */
/*** RITE STEPPER ****/
.container {
  position: relative;
  margin: 0 auto;
  width: 920px;
}
#basic-info {
  height: 458px;
  width: 282px;
  position: relative;
  float: right;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  transition: all .9s ease;
  background: url('../images/rite_steps_header.png') no-repeat 40px 48px #ffffff;
}
#basic-info.slide {
  margin-left: -286px;
  margin-right: 1px;
}
.rite-stepper .basic-description {
  background: #f3f5f6;
  color: #b1b1b1;
  height: 331px;
  /* was 300px */
  width: 100%;
  margin-top: 127px;
  /* was 127px */
}
.rite-stepper .basic-description p {
  padding: 40px 40px 10px;
  letter-spacing: 0.05em;
  font-family: 'Gotham Book', sans-serif;
}
.rite-stepper .basic-description div {
  margin-left: 40px;
}
.rite-stepper .basic-description a {
  color: #5bbf21;
  text-transform: uppercase;
}
.rite-stepper .basic-description a:hover {
  color: #208f04;
}
.rite-stepper .steps,
.rite-stepper .step-header {
  background: #fff;
}
.rite-stepper .steps {
  float: right;
  border-left: 1px solid #cccccc;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  transition: all .9s ease;
  z-index: 10;
  overflow: hidden;
  position: relative;
  display: block;
  background: #d0d7da;
  max-height: 458px;
}
.rite-stepper .step-header,
.rite-stepper .steps {
  width: 211px;
}
.rite-stepper .step-header {
  padding-bottom: 1px;
  height: 127px;
  /* was 157px */
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  transition: all .9s ease;
}
.rite-stepper .steps:hover {
  width: 615px;
}
.rite-stepper .bw {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.rite-stepper .diagram {
  position: absolute;
  top: -1px;
  left: 212px;
  z-index: -2;
}
.rite-stepper .step-zone {
  width: 150%;
  margin-left: -50%;
}
.rite-stepper .step-zone:hover > div:not(.selected) {
  width: 150px;
}
.rite-stepper .steps img.color {
  opacity: 1.0;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  transition: all .9s ease;
  z-index: 3;
}
.rite-stepper .step-zone:hover > div:not(.selected) > img {
  opacity: 0.0;
}
.rite-stepper .step-zone:hover > div > img.bw {
  opacity: 1;
}
.rite-stepper .step-zone:hover > div:not(.selected) .circle-num {
  background: #cfd7da;
}
.rite-stepper .step-zone:hover > div:not(.selected) .explore-btn {
  opacity: 0.0;
}
.rite-stepper .step-zone:hover > div:not(.selected) .step-header {
  background: #ebeff0;
}
.rite-stepper .step-zone:hover > div:not(.selected) .step-header h2 {
  opacity: 0.5;
}
.rite-stepper .step-zone:hover #basic-info-blocker {
  display: none;
}
.rite-stepper .steps h2 {
  color: #666666;
  font-size: 2.14286em;
  /* was 30px */
  line-height: 28px;
}
.rite-stepper {
  background: #d0d7da;
  padding: 15px 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
}
.rite-stepper .step-header-wrapper {
  width: 211px;
}
.rite-stepper .circle-num {
  font-size: 2.57143em;
  /* was 36px */
  width: 40px;
  color: #fff;
  text-align: center;
  padding: 3px 3px 1px 3px;
  border-radius: 76px;
  margin-top: 20px;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  -ms-transition: all .9s ease;
  -o-transition: all .9s ease;
  transition: all .9s ease;
}
.rite-stepper .circle-num,
.step-header h2 {
  position: absolute;
  margin-left: 20px;
}
.rite-stepper .step-header h2 {
  margin-top: 80px;
  min-width: 150px;
  font-size: 1.625em;
}
.rite-stepper .green {
  background: #5bbf21;
}
.rite-stepper .orange {
  background: #ff7900;
}
.rite-stepper .red {
  background: #ef2b2d;
}
.js .ui-dialog-content .attributecontentlink.dialogify {
  margin: 61px 0 0;
}
.rite-stepper .explore-bt-wrapper {
  position: absolute;
  bottom: 14px;
  width: 211px;
  text-align: center;
}
.rite-stepper .button.secondary-button.explore-btn {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: #5bbf21;
  color: #ffffff;
  /* font-size: 0.928571em; */
  /* was 13px */
  /*padding: 15px 40px;*/
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.rite-stepper .button.secondary-button.explore-btn:hover {
  background-color: #208f04;
}
#basic-info-blocker {
  position: absolute;
  z-index: 99;
  height: 488px;
  top: 0;
  width: 282px;
}
/* Rite Stepper 
#basic-info {
    background: url('../images/rite_steps_header.png') no-repeat 40px 48px #fff;
}*/
/* Brand tabs */
.home-middle-lower-content {
  /*    .dw_contentlibrary_tabs .ui-tabs-nav {
        padding-left: 96px;
    }*/
}
.home-middle-lower-content .ui-tabs {
  padding: 0;
}
.home-middle-lower-content .ui-tabs .ui-tabs-panel {
  border-color: #d0d7da;
  padding: 0;
}
.home-middle-lower-content .dw_contentlibrary_tabs .ui-tabs-nav {
  padding-left: 0;
}
.home-middle-lower-content .dw_contentlibrary_tabs .ui-tabs-nav li {
  width: 33.2%;
}
.age-group-shoe-selector.ui-tabs .ui-tabs-nav li a,
.home-middle-lower-content .dw_contentlibrary_tabs .ui-tabs-nav li a {
  font-size: 1.125em;
}
.hp .sr-brand-tabs-slot-left {
  float: left;
}
.hp .sr-brand-tabs-slot-right {
  float: right;
}
.hp .sr-brand-tabs-slot-right-button {
  text-align: center;
}
/* Bottom Slots */
.hp .sr-marketing-slot-image {
  position: relative;
}
.hp .sr-marketing-slot-content-button {
  position: absolute;
  top: 360px;
  right: auto;
  left: 0;
  bottom: auto;
  text-align: center;
  width: 100%;
  height: auto;
}
.hp .sr-marketing-slot-content {
  display: block;
  position: static;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0.5em 0;
}
.hp .sr-marketing-slot-content h3 {
  text-align: center;
}
/* Secondary Sidebar Menu as found on Content pages */
#secondary nav .secondary-menu-sidebar h3 a {
  font-size: 1.5em;
  color: #9278d1;
}
#secondary nav .secondary-menu-sidebar h3 a:hover {
  color: #5bbf21;
}
/*
 *
 * Page specific styles
 *
 */
/* Baby-Toddler Landing Page */
#sr-baby-toddler-cat-landing-button {
  -o-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
/* Sale Landing Page */
.sale-shoe-size-filter li {
  float: left !important;
  height: 100%;
  padding: 0;
}
.sale-shoe-size-filter h3 {
  font-family: 'Gotham Medium', sans-serif;
  color: #5bbf21;
  letter-spacing: .025em;
  font-size: 1em;
  line-height: 1.07143;
  margin-bottom: 2px;
  margin: 15px 0 4px;
}
.sale-shoe-size-filter ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
.sale-shoe-size-filter a {
  font-family: 'Gotham Medium', sans-serif;
  font-size: 1.14286em;
  letter-spacing: .05em;
  color: #666;
  position: relative;
  display: block;
  padding: 10px;
  outline-style: none;
}
.sale-shoe-size-filter li a {
  font-size: 0.857143em;
  padding: 6px 0 !important;
  border: 1px solid grey;
  width: 33px;
  text-align: center;
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 4px;
}
/* Rewards Landing Page */
.sr-about-rewards {
  background: transparent url('../images/stripes.png') no-repeat top left;
  position: relative;
  padding-top: 7px;
  font-family: 'Gotham Book', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sr-about-rewards .sr-left {
  width: auto;
  float: left;
  margin-left: 17px;
}
.sr-about-rewards .sr-right {
  width: 473px;
  float: right;
}
.sr-about-rewards .sr-rewards-logo {
  margin: 27px 0 0 -3px;
  opacity: 0.8;
}
.sr-about-rewards h1 {
  font-size: 2.21429em;
  margin-top: 0;
  margin-bottom: 11px;
  text-transform: uppercase;
  color: #f3871a;
}
.sr-about-rewards .sr-top-row ul {
  padding: 0;
  margin: 0;
  list-style: disc;
}
.sr-about-rewards .sr-top-row ul li {
  font-size: 1.14286em;
  color: #787878;
  line-height: 1.375;
  width: 90%;
}
.sr-about-rewards .sr-top-row ul li strong {
  color: #f68817;
  font-weight: 400;
}
.sr-rewards-cta-wrapper {
  margin-top: 56px;
}
.sr-rewards-cta-wrapper > p {
  margin: 0;
}
.sr-bottom-row {
  clear: both;
  margin-top: 7px;
}
.sr-bottom-row > div {
  float: left;
  width: 295px;
  position: relative;
  margin-left: 14px;
  height: 175px;
  border: 1px solid #d0d7da;
}
.sr-bottom-row > div:first-child {
  margin-left: 0;
}
div[class*="sr-rewards-box"] > div {
  padding: 8px 18px 0;
}
div[class*="sr-rewards-box"] > div:first-child {
  padding: 10px;
}
div[class*="sr-rewards-box"] a.button.secondary-button {
  padding: 0.6em 2em 0.5em;
  background: #5bbf21;
  border: 0;
  color: #ffffff;
}
div[class*="sr-rewards-box"] a.button.secondary-button:hover {
  background: #208f04;
}
.sr-rewards-box1 > div:first-child {
  background-color: #7b89be;
}
.sr-rewards-box2 > div:first-child {
  background-color: #7ac043;
}
.sr-rewards-box3 > div:first-child {
  background-color: #ef403d;
}
div[class*="sr-rewards-box"] p strong {
  font-family: 'Gotham Medium', sans-serif;
  font-weight: 700;
}
.sr-bottom-row h2 {
  font-family: 'Gotham Book', sans-serif;
  text-transform: uppercase;
  font-size: 1.14286em;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.sr-rewards-chat-button-wrapper {
  margin-top: 36px;
  margin-left: 18px;
}
/* Page Not Found - 404 */
.sr-page-not-found img {
  float: right;
}
.sr-page-not-found h1 {
  text-transform: uppercase;
  padding-top: 66px;
}
/* Customer Service page */
.pt_customer-service .page-content section .content-asset ul {
  font-family: 'Gotham Book', sans-serif;
  padding: 0 0 0 1em;
  list-style: disc;
}
.pt_customer-service .page-content section .content-asset ul li {
  margin: 0.25em 0;
}
/* Sub Category Product Zone */
.product-tile .promotion-callout,
.product-tile .promotion-callout a,
.sale-callout-wrapper {
  color: #5bbf21;
  font-family: 'Gotham Medium', sans-serif;
}
/* Secondary Menu */
#secondary .refinement-header {
  font-size: 1.5em;
  text-transform: none;
  padding: 0;
}
.cat-landing.cat-landing-g #category-level-1,
.cat-landing.cat-landing-h #category-level-1 {
  padding: 0;
}
.cat-landing.cat-landing-g #category-level-1 li a,
.cat-landing.cat-landing-h #category-level-1 li a {
  color: #5bbf21;
  font-size: 1em;
  padding: 0;
}
.cat-landing.cat-landing-g #category-level-1 li a:hover,
.cat-landing.cat-landing-h #category-level-1 li a:hover {
  color: #208f04;
}
.pt_product-search-result .refinement .level-2 {
  margin-left: 0;
}
.cat-landing.cat-landing-g #category-level-1 li.level-2 a,
.cat-landing.cat-landing-h #category-level-1 li.level-2 a,
.cat-landing.cat-landing-g #category-level-1 li.level-3 a,
.cat-landing.cat-landing-h #category-level-1 li.level-3 a {
  font-size: 0.857143em;
  text-transform: none;
  color: #999999;
}
.cat-landing.cat-landing-g #category-level-1 li.level-2 a:hover,
.cat-landing.cat-landing-h #category-level-1 li.level-2 a:hover,
.cat-landing.cat-landing-g #category-level-1 li.level-3 a:hover,
.cat-landing.cat-landing-h #category-level-1 li.level-3 a:hover {
  color: #d0d7da;
}
.cat-landing.cat-landing-g #category-level-1 > li,
.cat-landing.cat-landing-h #category-level-1 > li {
  margin-top: 1.5em;
  padding: 0;
}
/* Footer Menu */
#footer .footer-bottom-banner ul li,
#footer .footer-bottom-banner ul li a {
  color: #999999;
}
/* Footer Menu Email Sign-Up */
#footer .email-signup-box div {
  clear: both;
}
/*
#footer .email-signup-box label {
    width: auto;
}
#footer .email-signup-box label p {
    font-family: "Gotham Book",sans-serif;
    display: inline;
    float: left;
    width: 80%;
    margin-left: 0.5em;
}
#footer .email-signup-box input[type="email"]{
    font-size: 0.857143em;
    text-transform: none;
    color: @grey2;
}
#footer .email-signup-box input[type="checkbox"] {
    margin: 0.25em 0 0;
    float: left;
}
#footer .footer-content .email-signup-box .email-signup-inner input[type="submit"] {
    float: left;
    width: auto;
    padding: 8px 10px;
    background-position: center -37px;
}
#footer .footer-content .email-signup-box .email-signup-inner input[type="submit"]:hover {
    background-color: @green1;
} */
#main .email-signup-box a.button,
#footer .email-signup-box a.button {
  margin: 0.25em 0;
  display: inline-block;
  color: #ffffff;
  background-color: #5bbf21;
}
#main .email-signup-box a.button {
  display: block;
}
#footer .email-signup-box a.button:hover {
  background-color: #208f04;
}
/* Product Category Pages - Grid Tiles */
.grid-tile .rating-container {
  margin: 0.75em auto;
}
/* Log-in pop-up */
.loyalty-login-box button,
.loyalty-login-box .loyalty-btn {
  padding: 1em 1.5em 0.875em;
}
/* Banner */
.pt_storefront .header-banners,
.pt_product-search-result .header-banners,
.pt_store-locator .header-banners,
.pt_customer-service .header-banners,
.pt_product-details .header-banners,
.pt_cart .header-banners,
.pt_checkout .header-banners,
.pt_account .header-banners,
.pt_remembereditems .header-banners {
  overflow: visible;
}
div.header-banners {
  max-width: none;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, rgba(139, 153, 159, 0.4) 0%, rgba(139, 153, 159, 0) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(139, 153, 159, 0.4)), color-stop(100%, rgba(139, 153, 159, 0)));
  background-image: -webkit-linear-gradient(top, rgba(139, 153, 159, 0.4) 0%, rgba(139, 153, 159, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(139, 153, 159, 0.4) 0%, rgba(139, 153, 159, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(139, 153, 159, 0.4) 0%, rgba(139, 153, 159, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(139, 153, 159, 0.4) 0%, rgba(139, 153, 159, 0) 100%);
  background-repeat: repeat-x;
  background-size: auto 10px;
  background-position: top center;
}
.header-banners div.header-banner1 {
  padding: 10px 0 0 0;
  min-width: 920px;
  float: none;
  margin: 0 auto;
  text-align: center;
}
.header-banners div.header-banner1 h3 {
  display: inline;
  color: #5bbf21;
  text-transform: uppercase;
}
.header-banners div.header-banner1 p {
  display: inline;
  color: #5bbf21;
  text-transform: uppercase;
}
.header-banners div.header-banner1 a.button {
  margin-left: 1em;
  display: inline;
  color: #ffffff;
  background-color: #5bbf21;
}
.header-banners div.header-banner1 a.button:hover {
  background-color: #208f04;
}
/*.pt_checkout div.header-banners,
.pt_cart div.header-banners {
    display: none;
}*/
/* modal pop-up trigger link */
.offer-details-link {
  text-decoration: underline;
  cursor: pointer;
}
.offer-details-link:hover {
  opacity: 0.7;
}
/* Add hover state to custom colored buttons */
.cat-landing a.button[style*="background-color"]:hover {
  opacity: 0.85;
}
