#footer { position:relative; background-color:#ad132a; }
#footer_brand_region2 { background-color:#ad132a; }
#footer { color: #FFF; }
#footer a:link, #footer a:visited, #footer a:active { color: #fff; }
#copyRightFooter { color:#fff; width: 990px; margin-top: 10px; text-align: center; margin-bottom: 10px;}
#copyRightFooter p { color:#fff; padding: 5px; color:#fff }
.text2 { color:#fff }
#footer-background-wrapper { background-color:#ad132a; height:100%; z-index:-1;position:absolute;}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
	/* #footer-background-wrapper { margin-left: -10px; width: 1010px; } */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
	/* #footer-background-wrapper { margin-left: -10px; width: 1010px; } */
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1250px) {
    /* Styles */
}

@media only screen 
and (min-width : 1224px) {
    /* Styles */
    /*Expand footer background color */
    /* #footer-background-wrapper { position:absolute; margin-left:-1000px; margin-right:0; width:5000px; z-index:-1; height: 100%; background-color:#000d42; } */
}

/* Responsive CSS */
#footer_BrandContainer #brandFooter_mobile { display:none; padding-left:10px; color:#000 }
#footer_BrandContainer #brandFooter_mobile a { color:#000; font-size:14px }

/* Small Breakpoint */
	html.breakpoint-small .responsiveShoppingBag #bodyContainer #footer { background:#fff }
	html.breakpoint-small .responsiveShoppingBag #bodyContainer .gidFooterNav { display:block }
	html.breakpoint-small .responsiveShoppingBag #footer_brand_region1 { display:none }
	html.breakpoint-small .responsiveShoppingBag #footer-background-wrapper { display:none }
	html.breakpoint-small .responsiveShoppingBag #brandFooter_mobile { display:block }

/* Medium Breakpoint */
	html.breakpoint-medium .responsiveShoppingBag #bodyContainer #footer { background:#fff }
	html.breakpoint-medium .responsiveShoppingBag #bodyContainer .gidFooterNav { display:block }
	html.breakpoint-medium .responsiveShoppingBag #footer_brand_region1 { display:none }
	html.breakpoint-medium .responsiveShoppingBag #footer-background-wrapper { display:none }
	html.breakpoint-medium .responsiveShoppingBag #brandFooter_mobile { display:block }
	
/* Large Breakpoint */
	html.breakpoint-large .responsiveShoppingBag #bodyContainer #footer { margin:0 auto; padding:0; box-sizing:content-box; }
	html.breakpoint-large .responsiveShoppingBag .marketing-brand-footer-wrapper { float:none; width:980px; height:200px; margin:10px auto }
	html.breakpoint-large .responsiveShoppingBag #textFooterLinks1_10000515 { width:100%; clear:both }
	html.breakpoint-large .responsiveShoppingBag .footer-container-wrapper { height:275px }
	html.breakpoint-large .responsiveShoppingBag #copyRightFooter { width:100% }
	
	@media all and (max-width: 1015px) and (min-width: 768px) {
		html.breakpoint-large .responsiveShoppingBag .marketing-brand-footer-wrapper { display:none }
		html.breakpoint-large .responsiveShoppingBag .footer-container-wrapper { border-top:none }
	}

/* X-Large Breakpoint */
	html.breakpoint-xlarge .responsiveShoppingBag #bodyContainer #footer { /*width:99%;*/ margin:0 auto; padding:0; box-sizing:content-box }
	
	html.breakpoint-xlarge .responsiveShoppingBag .marketing-brand-footer-wrapper { float:none; width:980px; height:200px; margin:10px auto }
	html.breakpoint-xlarge .responsiveShoppingBag #textFooterLinks1_10000515 { width:100%; clear:both }
	html.breakpoint-xlarge .responsiveShoppingBag .footer-container-wrapper { height:275px }
	html.breakpoint-xlarge .responsiveShoppingBag #copyRightFooter { width:100% }
