.imageZoom-sprite, .imageZoom-close-act, .fullscreen-wrapper .fullscreen-close:active .icon, .imageZoom-close-hov, .no-touch .fullscreen-wrapper .fullscreen-close:hover .icon, .imageZoom-close, .fullscreen-wrapper .fullscreen-close .icon, .imageZoom-enlarge-act, .product-detail-container .product-detail-fullscreen:active .icon, .imageZoom-enlarge-hov, .no-touch .product-detail-container .product-detail-fullscreen:hover .icon, .no-touch .factory .product-detail-container .product-detail-fullscreen:hover .icon, .imageZoom-enlarge, .product-detail-container .product-detail-fullscreen .icon, .imageZoom-factory-enlarge, .factory .product-detail-container .product-detail-fullscreen .icon, .factory .product-detail-container .product-detail-fullscreen:active .icon, .imageZoom-madewell-close-act, .madewell .fullscreen-wrapper .fullscreen-close:active .icon, .imageZoom-madewell-close-hov, .no-touch .madewell .fullscreen-wrapper .fullscreen-close:hover .icon, .imageZoom-madewell-close, .madewell .fullscreen-wrapper .fullscreen-close .icon, .imageZoom-madewell-enlarge-act, .madewell .product-detail-container .product-detail-fullscreen:active .icon, .imageZoom-madewell-enlarge-hov, .no-touch .madewell .product-detail-container .product-detail-fullscreen:hover .icon, .imageZoom-madewell-enlarge, .madewell .product-detail-container .product-detail-fullscreen .icon {
  background: url('/media/images/sprites/imageZoom_v2_m56577569833140218.png') no-repeat;
}

.imageZoom-close-act, .fullscreen-wrapper .fullscreen-close:active .icon {
  background-position: 0 0;
  height: 18px;
  width: 18px;
}

.imageZoom-close-hov, .no-touch .fullscreen-wrapper .fullscreen-close:hover .icon {
  background-position: 0 -18px;
  height: 18px;
  width: 18px;
}

.imageZoom-close, .fullscreen-wrapper .fullscreen-close .icon {
  background-position: 0 -36px;
  height: 18px;
  width: 18px;
}

.imageZoom-enlarge-act, .product-detail-container .product-detail-fullscreen:active .icon {
  background-position: 0 -143px;
  height: 29px;
  width: 29px;
}

.imageZoom-enlarge-hov, .no-touch .product-detail-container .product-detail-fullscreen:hover .icon, .no-touch .factory .product-detail-container .product-detail-fullscreen:hover .icon {
  background-position: 0 -172px;
  height: 29px;
  width: 29px;
}

.imageZoom-enlarge, .product-detail-container .product-detail-fullscreen .icon {
  background-position: 0 -114px;
  height: 29px;
  width: 29px;
}

.imageZoom-factory-enlarge, .factory .product-detail-container .product-detail-fullscreen .icon, .factory .product-detail-container .product-detail-fullscreen:active .icon {
  background-position: 0 -201px;
  height: 29px;
  width: 29px;
}

.imageZoom-madewell-close-act, .madewell .fullscreen-wrapper .fullscreen-close:active .icon {
  background-position: 0 -54px;
  height: 20px;
  width: 20px;
}

.imageZoom-madewell-close-hov, .no-touch .madewell .fullscreen-wrapper .fullscreen-close:hover .icon {
  background-position: 0 -94px;
  height: 20px;
  width: 20px;
}

.imageZoom-madewell-close, .madewell .fullscreen-wrapper .fullscreen-close .icon {
  background-position: 0 -74px;
  height: 20px;
  width: 20px;
}

.imageZoom-madewell-enlarge-act, .madewell .product-detail-container .product-detail-fullscreen:active .icon {
  background-position: 0 -230px;
  height: 32px;
  width: 32px;
}

.imageZoom-madewell-enlarge-hov, .no-touch .madewell .product-detail-container .product-detail-fullscreen:hover .icon {
  background-position: 0 -262px;
  height: 32px;
  width: 32px;
}

.imageZoom-madewell-enlarge, .madewell .product-detail-container .product-detail-fullscreen .icon {
  background-position: 0 -294px;
  height: 32px;
  width: 32px;
}




