/* CSS Document */




.wrapBG {background-color: #fff;}




.denimBG {background-color: #333333;}




.title {background-color:#fff;color:#1d1d1d;font-family:verdana, sans-serif;font-size:200%;text-align:center;height:53px;}




.subCategorySelected {background-color:#fff;color:#5a3e1c;font-family:verdana, sans-serif;font-size:11;text-align:left;height:14px;}




.subCategorySelected_right {background-color:#fff;text-align:center;width:20px;font-weight:bold;}




.category {padding-top:20px;background-color:#fff;color:#7fb607;font-weight:normal;font-family:verdana, sans-serif;font-size:14;text-transform:uppercase;text-align:left;height:28px;}




.category_right {background-color:#fff;font-weight:bold;width:20px}




.sale {background-color:#2c4664;color:#6d95c6;font-family:verdana, sans-serif;text-align:right;height:28px;}




.sale_right {background-color:#2c4664;width:20px}




.subCategory {background-color:#fff;color:#6c602e;font-weight:regular;text-align:left;height:15px;font-size:70%;padding-left: 20px;}




.subCategoryOff {background-color:#fff;color:#6c602e;text-align:right;height:15px;font-family:verdana, sans-serif;text-decoration:none;font-weight:normal;}




.subCategoryOff:hover {background-color:#fff;color:#6c602e;text-align:right;height:15px;font-family:verdana, sans-serif;text-decoration:underline;font-weight:normal;}




.subCategory_right {background-color:#fff;color:#6c602e;text-align:center;width:20px;font-weight:normal;}




.subCategoryOpen {background-color:#fff;color:#6c602e;font-family:verdana, sans-serif;font-size:70%;text-align:left;height:15px;font-weight:bold;padding-left: 30px;}




.subCategoryOpen:hover {background-color:#fff;color:#6c602e;font-family:verdana, sans-serif;font-size:70%;text-align:left;height:15px;font-weight:bold;text-decoration:underline;}




.subCategoryOpen_right {background-color:#fff;color:#6c602e;font-weight:normal;text-align:center;width:20px;font-weight:normal;}




.linkOff {color:#1D1D1D;font-family:verdana, sans-serif;text-decoration:none;font-weight:none;}




.linkOff:hover {color:#6c602e;font-family:verdana, sans-serif;text-decoration:none;font-weight:none}




.linkOn {background-color:#fff; color:#6c602e; font-family:verdana, sans-serif;text-decoration:none;font-weight:bold;padding-left: 10px}




.sale2 {background-color:#2c4664; color:#6d95c6; text-decoration:none;font-family:verdana, sans-serif;font-weight:normal;text-align:right;font-size:12px;font-weight:normal;}














.footerBgColor{background-color:#999999;}




.footer{color: #555555;font-family: verdana, sans-serif;font-size: 10px;text-decoration: none;}




A.footer:link, A.footer:active, A.footer:visited {color: #555555;font-family: verdana, sans-serif;font-size: 10px;text-decoration: none;}




A.footer:hover{color: #555555;font-family: verdana, sans-serif;font-size: 10px;text-decoration: underline;}




.emailsignup{border: 1px solid #959585;padding: 1px;margin-top: 2px;margin-bottom: 2px;text-align: left;vertical-align: middle;font-family:verdana,verdana, sans-serif,geneva,helvetica; font-size:9px; color:black; }

DIV#main_asseenin{position: relative;z-index: 150;width: 82px;height: 21px;left: -10px;top: -5px;}

.weddingText {font-family: verdana, sans-serif; font-size: 11px; color: #505050;}

.mainDiv {margin-top: 0px;}

.wedding_section_titles {font-size: 12px; font-weight: bold;}

.wedding_page_title {font-size: 20px; padding-bottom: 10px;}

.wedding_section_titles a, .wedding_section_titles a:hover {font-family: verdana, sans-serif; font-size: 12px; color: #505050;}

.wedding_bookmarks a, .wedding_bookmarks a:hover {font-family: verdana, sans-serif; color: #505050;}

.header1{margin-bottom:0px;color:#1D1D1D; font-family:verdana,sans-serif;font-weight:normal;text-decoration: none; font-size:100%;text-align: left; background:none;text-transform: lowercase;padding:0px }

.header2{font-family:verdana,sans-serif; font-size:11.2px; font-weight:400; font-style:normal; color:#6C602E; margin-top:0px; margin-bottom:0px}

h1.subCatSelected{margin-bottom:0px;color:#1D1D1D; font-family:verdana,sans-serif;font-weight:normal;text-decoration: none; font-size:100%;text-align: left; background:none;text-transform: lowercase;padding:0px }

p.leftNavCat{font-family:verdana,sans-serif; font-size:11.2px; font-weight:400; font-style:normal; color:#6C602E; margin-top:0px; margin-bottom:0px; text-transform: lowercase;}
