@import url("CnetRatingsStars.css");

.CCLPpopup #CCLPCnetReview { color: #000000; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: normal; }
#CCLPCnetReview { overflow: hidden; padding: 0px; }
#CCLPCnetReview #CCLPCnetReviewGBBL { clear: both; }
#CCLPCnetReviewHover { height: 430px; margin: 0; overflow: auto; overflow-x: hidden; overflow-y: auto; padding: 0; width: 400px; }
#CCLPCnetReviewHover #CCLPCnetReview { margin: 0; min-height: 398px; padding: 0; }
#CCLPCnetReviewHover #CCLPCnetReviewGBBL { margin: 0; padding: 10px; }
#CCLPCnetReviewHover #CCLPCnetReviewHoverFooter { height: 32px; overflow: hidden; }
#CCLPCnetReviewHover #CCLPCnetReviewHoverFooter .CCLP_copyRight { font-size: 10px; line-height: 11px; margin: 0; padding: 5px; }
#CCLPCnetReviewHover .CCLP_read_full { margin: 0; }

.CCLP_tab_accorCon { vertical-align: top; }
.CCLP_tab_accorDim {  }
.CCLP_tab_accorPos {  }
.CCLP_copyRight { background: #ECECEC; text-align: center; font-size: 11px; padding: 2px; }
.CCLP_copyRight_noBackground { text-align: left; font-size: 11px; padding: 2px; }

#CCLP_rb_content { *display: inline-block; background: none; padding: 0px; margin: 0px; }
	
/* ----------------- CNET Editors' Review Header -----------------------*/
.CCLP_sectionHed,
.CCLP_sectionHed .CCLP_innerHed { display: block; width: 100%; }
.CCLP_sectionHed { /*background-position: left -500px; font-size: 98.6%; margin: 0 0 4px; height: 30px; width: 385px;*/ }
.CCLP_sectionHed .CCLP_innerHed { /*background-position: right -500px; position: relative; height: 22px; left: 5px;*/ }
.CCLP_sectionHed .CCLP_innerHed h3 { font-weight: bold; /*text-transform: uppercase;*/ /*line-height: 22px;*/ color: #000; font-size: 16px; width: 100%; padding: 0; margin: 0; }
.CCLP_sectionHed { color: #000; margin-bottom: 5px; /*display: none;*/ }

/* ---------- Review Header ---------------------*/
.CCLP_titleWrap h1, .CCLP_titleWrap h4 { border-bottom: 0 none #FFF; font-weight: bold; font-size: 130%; color: #000; padding: 0; margin: 0 0 5px; }
.CCLP_titleWrap { margin-bottom: 10px; /*display: none;*/ }

/* ---------- Review  ---------------------*/
.CCLP_editorsTake p { color: #000000 !important; padding-right: 5px; }

.CCLP_editorsTake { /*float: left;*/ }

/* --------- badgeWrap ----------- */
.CCLP_editorsTake .CCLP_badgeWrap { background-color: #F5F5F5; border: 1px solid #E3E3E3; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 #E3E3E3 inset; color: #000000; float: right; margin: 0px 0 6px 6px; width: 166px; }
.CCLP_badgeWrap, 
.CCLP_badgeWrap li, 
.CCLP_badgeWrap span, 
.CCLP_badgeWrap strong { color: #000000; font-family: arial, helvetica, sans-serif; }
.CCLP_editorsTake .CCLP_badgeWrap a:active,
.CCLP_editorsTake .CCLP_badgeWrap a:hover { *border:0; *text-decoration:none; }

/* ----------- badges --------------- */
.CCLP_editorsTake .CCLP_ratings { padding: 10px; text-shadow: 0 1px 0 #FFFFFF; }
.CCLP_editorsTake .CCLP_ratings ul { position: ; margin: 0 auto; list-style: none; padding: 0; margin: 0; }
.CCLP_editorsTake .CCLP_ratings ul li { text-transform: none; font-weight: bold; font-size: 82.2%; /*height: 26px;*/ margin:0 0 20px !important; clear:both; list-style-type: none !important; }
.CCLP_editorsTake .CCLP_ratings ul li.ratingExplained { text-transform: none; font-weight: bold; font-size: 75%; height: 26px; margin-top: 15px; }
.CCLP_editorsTake .CCLP_ratings ul li span { color: #000000; float: left; font-size: 12px; }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall { border-bottom: 1px solid #DDDDDD; box-shadow: 0 1px 0 #FFFFFF; margin-bottom: 10px !important; padding-bottom: 10px !important; }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall span { color: #000; display: block; font-size: 12px; font-weight: 600; padding: 0px 0px 2px 0px; }
.CCLP_editorsTake .CCLP_ratings li.CCLP_barWrap { font-size: 110%; font-weight: normal; }
.CCLP_editorsTake .CCLP_ratings li.CCLP_barWrap span { display: block; line-height: 1.2; margin-bottom: 5px; width: 70%; }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall div.CCLP_rateBar {  }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall div.CCLP_rateBar b {  }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall,
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall strong { color: #fff; }
.CCLP_editorsTake .CCLP_ratings ul li strong { color: #860000; float: right; font-size: 14px; margin: 0; padding: 0; white-space: nowrap; width: 20%; }
.CCLP_editorsTake .CCLP_ratings ul li.CCLP_overall strong { margin:4px 0 0; }
.CCLP_editorsTake .CCLP_ratings ul li div.CCLP_rateBar { background: url('ratings_bar_bg.gif') repeat-x !important; background-color: #EEEEEE; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; clear: both; margin: 10px 0px 0px 0px; overflow: hidden; }
.CCLP_editorsTake .CCLP_ratings ul li div.CCLP_rateBar b { /*background-color:#940400; background:none,-khtml-gradient(linear,left top,left bottom,from(#c90900),to(#7a0300)); background:none,-moz-linear-gradient(top,#c90900 0,#7a0300 100%); background:none,-webkit-gradient(linear,left top,left bottom,color-stop(0,#c90900),color-stop(100%,#7a0300)); background:none,-webkit-linear-gradient(top,#c90900 0,#7a0300 100%); background:none,-o-linear-gradient(top,#c90900 0,#7a0300 100%); background:none,-ms-linear-gradient(top,#c90900 0,#7a0300 100%); background:none,linear-gradient(top,#c90900 0,#7a0300 100%);*/ border:1px solid #7a0300; -webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.4) inset; -moz-box-shadow:0 1px 0 0 rgba(255,255,255,0.4) inset; box-shadow:0 1px 0 0 rgba(255,255,255,0.4) inset; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:block; height:6px; background: url('ratings_bar.gif') repeat-x !important; }
.CCLP_editorsTake .CCLP_redball { float: left; margin: 0 10px 0 0; }

.CCLP_editorsTake p,
.usersTake p { margin: 0 0 10px; font-size: 100%; line-height: 160%; color: #000000; }
.usersTake p { margin:2px 0 13px; }

.CCLP_editorsTake p b,
.usersTake p b { color: #000000; }
.usersTake p.seeAll { border-top:1px solid #ddd; padding:10px 0 0; }

.CCLP_editorsTake p strong,
.CCLP_editorsTake strong.reviewHed { color: #860000; }
.CCLP_editorsTake strong.reviewHed { padding:3px 4px 0 0; }
.CCLP_editorsTake .reviewSummary p { color: #000000; }
.CCLP_editorsTake p.reviewNote { width: 366px; height: 19px; margin: 0; padding: 10px 20px; position: relative; color: #fff; }

.reviewSummary, .reviewPage { line-height:180%; }
.reviewSummary p, .reviewPage p { line-height:180%; margin:10px 0 0; }

ul.rateBreakdown .CCLP_rateBar b,
.hideText,
.prevButton,
.nextButton,
.CCLP_rateBar b { text-indent: -9999px; display: block; overflow: hidden; font-size: 0; *text-transform: capitalize; color: transparent; }
		
.CCLP_summary {}
.CCLP_description {}

a.CCLP_readmore { color: #2964BF; font-weight: bold; text-decoration: none; }
a.CCLP_readmore.CCLP_on { color: #000; font-weight: bold; }

.CCLP_paging, .CCLP_paging li { list-style: none; }
.CCLP_paging { margin: 0px; padding: 0px; }
.CCLP_paging li { float: left; margin: 0px; padding: 0px; }
.CCLP_paging li a { padding: 0px 10px; }
.CCLP_paging .CCLP_paging-left { float: left; }
.CCLP_paging .CCLP_paging-left a { padding: 0px !important; }
.CCLP_paging .CCLP_paging-right { float: right; }

.CCLP_review_video { float: left; margin: 0px 10px 20px 0px; zoom: 1; }

/* for accessibility */
.CCLP_screen-reader-only { height: 1px; left: -10000px; overflow-x: hidden; overflow-y: hidden; position: absolute; top: auto; width: 1px; }


/* Brand Showcase */
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC { padding: 10px; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC img { border: none; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC .CCLPCnetReview-BSC-Head { margin: 0 0 10px 0; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC .CCLPCnetReview-BSC-Title { display: block; font-size: 150%; margin: 0 0 5px 0; padding: 0; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC .CCLPCnetReview-BSC-ProductTitle { display: block; font-size: 130%; margin: 0; padding: 0; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC .CCLPCnetReview-BSC-EdReviewBadge { float: right; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC .CCLP_review_video { margin: 0 0 20px 0; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC p { display: block; }
#CCLPCnetReview-BSC #CCLPCnetReviewGBBL-BSC p strong { color: #860000; }

/* Target */
#CCLPCnetReview.C477bdb55 p { margin: 0 0 20px 0 !important; }
#CCLPCnetReview.C477bdb55 .CCLP_editorsTake .CCLP_badgeWrap { margin-bottom: 10px !important; margin-left: 20px !important; }

/* Insight */
#CCLPCnetReview.Ceda80a3d { overflow: visible !important; }

.CCLP_gbbl_p { clear: left; }


/* Inline Reviews */
#CCLPCnetReview table td:first-child { width: auto !important; }
#CCLPCnetReview div .u2{-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;background:#eee;width:580px!important;border-bottom:1px solid #ddd;padding:5px 20px 0;font-size:.8em;line-height:1.133em;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25) inset;-moz-box-shadow:0 1px 1px rgba(0,0,0,0.25) inset;box-shadow:0 1px 1px rgba(0,0,0,0.25) inset;}
#CCLPCnetReview div .u2 br{display:none;}
#CCLPCnetReview div .u2 b{font-size:1.8em;font-weight:bold;font-size:1.8em!important;font-weight:bold!important;display:block;text-align:center;line-height:1.2em;}
#CCLPCnetReview div .u2 a,#CCLPCnetReview div .u2 b,#CCLPCnetReview div .u2 div>div{background:none!important;font-weight:normal;}
#CCLPCnetReview div .u2+table{width:100%;}
#CCLPCnetReview div .u2+div{border:none!important;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;background:#eee!important;width:580px!important;zoom:1;_display:inline-block;padding:10px 20px 20px;border-top:1px solid #fff!important;}
#CCLPCnetReview div .u2+div:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#CCLPCnetReview div .u2+div>div{zoom:1;_display:inline-block;position:relative;}
#CCLPCnetReview div .u2+div>div:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#CCLPCnetReview div .u2+div *{font-size:.933em;line-height:1.2em;}
#CCLPCnetReview div .u2+div b,#CCLPCnetReview div .u2+div a,#CCLPCnetReview div .u2+div>div{background:none!important;}
#CCLPCnetReview div .u2+div br{display:none;}
#CCLPCnetReview div .u2+div .u2{display:block;border:none!important;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;padding:0;}
#CCLPCnetReview div .u2+div .u2:nth-last-child(3){width:30%!important;float:left;}
#CCLPCnetReview div .u2+div .m1{float:left;margin-top:2px!important;position:relative!important;clear:both;border:1px solid #1E61A8;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;box-shadow:0 1px 0 rgba(255,255,255,0.4) inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:block;height:6px;}
#CCLPCnetReview div .u2+div .m1:only-of-type{max-width:60%;clear:none;background-color:#7cc434;background:none,-khtml-gradient(linear,left top,left bottom,from(#21630d),to(#6fb02f));background:none,-moz-linear-gradient(top,#21630d 0,#6fb02f 100%);background:none,-webkit-gradient(linear,left top,left bottom,color-stop(0,#21630d),color-stop(100%,#6fb02f));background:none,-webkit-linear-gradient(top,#21630d 0,#6fb02f 100%);background:none,-o-linear-gradient(top,#21630d 0,#6fb02f 100%);background:none,-ms-linear-gradient(top,#21630d 0,#6fb02f 100%);background:none,linear-gradient(top,#21630d 0,#6fb02f 100%);}
#CCLPCnetReview div .u2+div .m1 b{color:#000!important;position:absolute!important;left:100%;top:-5px;padding-left:10px;font-size:1em;line-height:1.2em;}
#CCLPCnetReview div .u2+div .g4{color:#768696;}
#CCLPCnetReview div .u2+div span.g4{font-weight:bold;}
#CCLPCnetReview div .u2 table td{padding-top:10px;}
#CCLPCnetReview div .u2 table div{margin-right:5px;border:1px solid #1E61A8;}