/* All template files should include
 * this rule for the client to verify
 * the CSS was fully loaded. Client blocks booting 
 * on the loading of these css files and this verification
 */
div.bevyup_TemplateStyleVerify {
  height: 5px;
}
/* The black theme */
#bup_taggingSum .bup_taggingSum_window {
  background-color: #333333;
  border-radius: 4px;
}
#bup_taggingSum .bup_taggingSum_window .bevyup_content {
  border-radius: 0px;
}
#bup_taggingSum .bup_taggingSum_window .bevyup_content #bup_taggingSum_content {
  border-radius: 0px;
  background-image: none;
  background-color: #d6d6d6;
}
#bup_taggingSum .bup_taggingSum_window #bup_taggingSum_arrowInner {
  background-color: #333333;
}
#bup_taggingSumInviteButton {
  background-color: rgba(118, 118, 118, 0.61);
}
#bup_taggingSumInviteButton .bup_participantImageWrapper {
  background-color: #333333;
  background-image: url(/Content/Winter/Coaching/invite.png);
  background-position: 6px 3px;
  background-size: 93%;
  background-repeat: no-repeat;
}
#bup_taggingSumInviteButton .bup_taggingSum_userText {
  color: white;
}
.bevyup_inviteWindow.bevyup_window {
  background-color: #333333;
  border-radius: 4px;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content {
  border-radius: 0px;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invite_selectorList {
  background-color: #d6d6d6;
  background-image: none;
  border-radius: 0px;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invite_selectorList .bup_invitation_selectItem .bup_invitation_select_title,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invite_selectorList .bup_invitation_selectItem .bup_invitation_select_description {
  color: #333333;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invite_selectorList .bup_invitation_selectItem .bevyup_arrow {
  background-color: #d6d6d6;
  background-image: none;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content {
  border-radius: 0px;
  background-color: #999999;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_FB_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_FB_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_FB_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_email_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_email_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_email_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_link_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_link_step_container,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_link_step_container {
  background-color: #666666;
}
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_FB_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_FB_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_FB_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_email_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_email_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_email_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_FB_content .bup_invitation_link_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_email_content .bup_invitation_link_step_container .bevyup_default_spinner > .bevyup_cover,
.bevyup_inviteWindow.bevyup_window .bevyup_content .bup_invitation_link_content .bup_invitation_link_step_container .bevyup_default_spinner > .bevyup_cover {
  background: #666666;
}
/* exit session bar */
.bevyup_panel_viewer .bevyup_topBar {
  background-color: #333333;
}
/* bars above each panel w/ light switch button */
.bevyup_panelControl {
  background-color: #333333;
  box-shadow: none;
}
/* wireframe circle bg */
.bup_taggedProduct_wireframe .bup_sticker_wireframe {
  background-color: #d6d6d6;
  background-image: none;
}
