#mediaPlayer{
  background: #000;
  width: 390px;
  height: 219px;
}

#mp_playbutton{
  background: url("http://images.expotv.com/video/player-skins/quidsi-soap/large_play.png") no-repeat center ;}

#mp_controlBar{ 
  height: 48px; 
  margin-bottom: 25px;
}
#mp_information_bar{
  height: 63px;
  width: 380px;
  padding: 5px;
  position: absolute;
  z-index: 200;
  bottom:0;
  left:0;
  background: #000;
	overflow: hidden;
}
#mp_information_bar h2, 
#mp_information_bar h3{
  margin: 0;
  clear: both;
}
#mp_information_bar h2{ 
  color: #a8e2ee;
  font-size: 16px; 
	word-spacing: -1px;
  white-space: nowrap;
}
#mp_information_bar h3{
  color: #FFF;
  font-size: 12px;
  font-weight: normal;
  line-height: 11px;
}
#mp_information_bar h4,
#mp_information_bar p,
#mp_information_bar .mp_rating{
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
  color: #999;
}
#mp_information_bar h4{ text-transform: uppercase;}
#mp_information_bar p{ font-style: italic; }
#mp_information_bar .mp_reviewer{
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding-left: 20px;
  background: url("http://images.expotv.com/video/player-skins/quidsi-soap/avatar.png")  left no-repeat;
}
#mp_information_bar .mp_rating{  
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#mp_information_bar .manufacturer{
  background: #a8e2ee;
  color: #206391;
  font-size: 10px;
  text-transform: uppercase;
  padding: 2px;
  margin-top: -5px;
  margin-bottom:5px;
  float:left;
}

#mp_upper_controls{
  height: 48px;
  border-bottom: 1px solid #333;
}

.mp_playPause{ margin-top: 11px; }
.mp_playPause,
.mp_playPause .on,
.mp_playPause .off{
  width:35px;
  height:25px;
  float: left;
}

.mp_volume{
  margin-top: 11px; 
}
.mp_vol_level{
  background:#999;
  
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;  
  -moz-border-radius: 2px;
}
span.mp_vol_current{
  background: #a8e2ee;
  
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;  
  -moz-border-radius: 2px;
}


.mp_share_container{
  position: absolute;
  right: 0;
  bottom: -25px;
}
.mp_embed{
  width:60px;
  height:25px;
  margin:0 5px;
  float:left;
}
.mp_share{
  width:60px;
  height:25px;
  float:left;
}

.mp_totalTime{
  color:#CCC;
  margin-top: 11px; 
}
.mp_timePlayed{
  height: 22px;
  width: 20px;
  font-size: 0px;
  top: 2px;
}



.mp_scrubBar_container{
  margin: 11px 5px 0;
}
.mp_scrubBar{
  background:#333;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;  
  -moz-border-radius: 5px;
}
.mp_scrubBar span.mp_buffering{
  background:#999;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;  
  -moz-border-radius: 5px;
}
.mp_scrubBar span.mp_progress{
  background:#a8e2ee;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;  
  -moz-border-radius: 5px;
}

#mp_overlay h2,
#mp_overlay h3{
  margin:0;
  padding:0;
  color:#FFF;
  font-size:14px;
  font-weight:bold;
}
#mp_overlay h2{ 
  color: #fa972a;
  margin-bottom: 10px; 
}

.mp_embed_mod, .mp_share_mod, .mp_similar_mod{
  display:none;
  position:relative;
}
#mp_overlay{
  width: 350px;
  height: 180px;
  margin: 10px;
  padding: 10px !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;  
  -moz-border-radius: 0px;
  
}
#mp_overlay textarea{
  padding: 5px;
  color: #FFF;
  background: #444;
  border: 1px solid #CCC;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  overflow: auto;
  height: 100px !important;
}
.mp_replay{
  position:absolute;
  bottom:0;
  left:0;
}
.mp_button.mp_close{
  position:absolute;
  top:0;
  right:0;
  width: 27px;
  height: 27px;
}
.mp_copy_code{
  position:absolute;
  bottom:0;
  right:0;
  display:none;
}


.jcarousel-prev-horizontal{
  position: absolute;
  cursor: pointer;
  width: 37px;
  height: 59px;
  left: 0px;
}
.jcarousel-next-horizontal{
  position: absolute;
  cursor: pointer;
  width: 37px;
  height: 59px;
  right: 0px;
}

.jcarousel-skin{  position: relative; }

ul.jcarousel-list{
  top:0;
  left:0;
  margin:0;
  padding:0;
  overflow:hidden;
  position: absolute;
  list-style: none;
}
.jcarousel-clip, .jcarousel-clip-horizontal  {
  height:220px;
  overflow:hidden;
  position:relative;
}
.jcarousel-item{ float:left; }

.jcarousel-item div.mp_svideo{
  cursor: pointer;
  height:75px;
  padding:7px;
  margin-top: 7px; 
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;  
  -moz-border-radius: 5px;
}

.jcarousel-item img{
  float:left;
  width:100px;
  height:75px;
  margin-right:12px;
}
.jcarousel-item h3{
  font-size:14px;
  font-weight:bold;
  padding:0;
  margin:0;
  color:#FFF
}
.jcarousel-item p{
  font-size:12px;
  margin:5px;
  color:#FFF
}

.mp_button{
  width:100px;
  height:30px;
  font-size:13px;
  font-weight:bold;
  color:#FFF;
  text-align: center;
  line-height: 30px;
}


