@font-face {
	font-family: "ui-icons";
	src:url("/Content/core/fonts/ui-icons/ui-icons.eot");
	src:url("/Content/core/fonts/ui-icons/ui-icons.eot?#iefix") format("embedded-opentype"),
	url("/Content/core/fonts/ui-icons/ui-icons.ttf") format("truetype"),
	url("/Content/core/fonts/ui-icons/ui-icons.svg#ui-icons") format("svg"),
	url("/Content/core/fonts/ui-icons/ui-icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}


.outofstock .PD_outofstock:before {
	font-family: "ui-icons";
	content: "W ";
}

.outofstock .PD_outofstock {
	color: #3285b5;
}

.mobile .outofstock .outofstock {font-size: 16px;font-weight: bold;margin-top: 10px}

.outofstock .PD_outofstock,
.outofstock .stepOpt {
	white-space: nowrap;
}

.outofstock  #ctl00_cphPageMain_pnlTurnTo {clear:both;}