#holiday_top {
	background:url(/Content/2009/11_nov/giftshop/holiday_top_bg2.png);
	height:156px;
	width:960px;
	position:relative;
}

#holiday_top .shop-category {
	position: absolute;
}

#holiday_top .shop-price {
	position: absolute;
	left: 740px;
}
/*#welcome {
	position:absolute;
	left:242px;
	top:82px;
	text-indent:-3000px;
	background:url(/Content/2009/11_nov/giftshop/welcome.jpg) no-repeat;
	width:476px;
	height:50px;
}*/
#button_holder {
	position:absolute;
	left:227px;
	margin-top:62px;
}
#button_holder .button, #button_holder .active, #button_holder .active_c {
	float:left;
	margin:0 6px;
	display:inline;
	width:113px;
	height:103px;
}

#girls_link {
	background:url(/Content/2009/11_nov/giftshop/gift-g.png) no-repeat;
}
#girls_link.active, #girls_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-g-hov.png) no-repeat;
}
#boys_link {
	background:url(/Content/2009/11_nov/giftshop/gift-b.png) no-repeat;
}
#boys_link.active, #boys_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-b-hov.png) no-repeat;
}
#men_link {
	background:url(/Content/2009/11_nov/giftshop/gift-m.png) no-repeat;
}
#men_link.active, #men_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-m-hov.png) no-repeat;
}
#women_link {
	background:url(/Content/2009/11_nov/giftshop/gift-w.png) no-repeat;
}
#women_link.active, #women_link.active_c  {
	background:url(/Content/2009/11_nov/giftshop/gift-w-hov.png) no-repeat;
}


#landing_buttons {
	position:absolute;
	left:182px;
	top:84px;
	width:612px;
	height:97px;
	overflow:hidden;
}
#landing_buttons .button, #landing_buttons .active, #landing_buttons .active_c {
	float:left;
	margin:0 19px;
	display:inline;
	width:113px;
	height:97px;
}

#landing_girls_link {
	background:url(/Content/2009/11_nov/giftshop/gift-gl.png) no-repeat;
}
#landing_girls_link.active, #landing_girls_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-gl-hov.png) no-repeat;
}
#landing_boys_link {
	background:url(/Content/2009/11_nov/giftshop/gift-bl.png) no-repeat;
}
#landing_boys_link.active, #landing_boys_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-bl-hov.png) no-repeat;
}
#landing_men_link {
	background:url(/Content/2009/11_nov/giftshop/gift-ml.png) no-repeat;
}
#landing_men_link.active, #landing_men_link.active_c {
	background:url(/Content/2009/11_nov/giftshop/gift-ml-hov.png) no-repeat;
}
#landing_women_link {
	background:url(/Content/2009/11_nov/giftshop/gift-wl.png) no-repeat;
}
#landing_women_link.active, #landing_women_link.active_c  {
	background:url(/Content/2009/11_nov/giftshop/gift-wl-hov.png) no-repeat;
}


#holiday-tabs {
	position: relative;
	overflow: hidden;
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	width: 960px;
	height: 241px;
	/*background: url(/Content/2009/11_nov/giftshop/tab-bg2.gif);*/
}

#holiday-tabs .landing-tab {
	position: relative;
	display: inline;
	float: left;
	width: 960px;
	height: 241px;
	background: url(/Content/2009/11_nov/giftshop/landing-tab-bg.jpg) center no-repeat;
}
#holiday-tabs .gender-category {
	position: relative;
	display: inline;
	float: left;
	width: 3000px;
	height: 241px;
	background: url(/Content/2009/11_nov/giftshop/tab-bg2.gif);
}

#holiday-tabs .gender-category .gender-tab {
	position: relative;
	display: inline;
	float: left;
	width: 960px;
	height: 241px;
}

#skechers-g {
	background: url(/Content/2009/11_nov/giftshop/tab-bg-twinkle.gif) no-repeat;
}

#holiday-tabs .gender-category .gender-tab h2 {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	height: 39px;
	position: absolute;
	top: 25px;
	left: 25px;
}

#skechers-w h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-w.gif) no-repeat;
	width: 153px;
}

#slippers-w h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-w.gif) no-repeat;
	width: 153px;
}

#boots-w h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-w.gif) no-repeat;
	width: 153px;
}

#asics-m h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-m.gif) no-repeat;
	width: 89px;
}

#slippers-m h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-m.gif) no-repeat;
	width: 89px;
}

#boots-m h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-m.gif) no-repeat;
	width: 89px;
}

#holiday-tabs .gender-category #skechers-g h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-g-twinkle.gif) no-repeat;
	width: 116px;
	left: 29px;
}

#slippers-g h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-g.gif) no-repeat;
	width: 116px;
}

#boots-g h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-g.gif) no-repeat;
	width: 116px;
}

#heelys-b h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-b.gif) no-repeat;
	width: 107px;
}

#slippers-b h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-b.gif) no-repeat;
	width: 107px;
}

#boots-b h2 {
	background: url(/Content/2009/11_nov/giftshop/hdr-b.gif) no-repeat;
	width: 107px;
}

#skechers-w .product-image {
	position: absolute;
	top: 40px;
}

#slippers-w .product-image {
	position: absolute;
	top: 91px;
}

#boots-w .product-image {
	position: absolute;
	left: 185px;
}

#asics-m .product-image {
	position: absolute;
	top: 70px;
}

#slippers-m .product-image {
	position: absolute;
	top: 100px;
}

#boots-m .product-image {
	position: absolute;
	left: 138px;
}

#skechers-g .product-image {
	position: absolute;
	left: 92px;
}

#slippers-g .product-image {
	position: absolute;
	top: 110px;
}

#boots-g .product-image {
	position: absolute;
	left: 161px;
}

#heelys-b .product-image {
	position: absolute;
	left: 34px;
}

#slippers-b .product-image {
	position: absolute;
	top: 85px;
}

#boots-b .product-image {
	position: absolute;
	left: 121px;
}

#holiday-tabs .gender-category .gender-tab .copybox {
	background: url(/Content/2009/11_nov/giftshop/copybox-bg.gif);
	margin: 0;
	padding: 0;
	width: 440px;
	position: absolute;
	left: 480px;
	top: 15px;
}

#holiday-tabs .gender-category .gender-tab .copybox-twinkle {
	background: url(/Content/2009/11_nov/giftshop/spacer.gif);
	margin: 0;
	padding: 0;
	width: 484px;
	position: absolute;
	left: 480px;
	top: 24px;
}

#holiday-tabs .gender-category .gender-tab .copybox h3 {
	display: inline;
	float: left;
	margin: 5px 0 0 15px;
	padding: 0;
	text-indent: -9999px;
	height: 45px;
}

#holiday-tabs .gender-category .gender-tab .copybox p {
	color: #5d5d5d;
	font: 14px/16px Arial, Helvetica, sans-serif;
	width: 400px;
	display: inline;
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
}

#holiday-tabs .gender-category .gender-tab .copybox p.heelys {
	margin: 52px 0 0 15px;
}

#holiday-tabs .gender-category .gender-tab .copybox p.shop-link {
	color: #2e5a7c;
	margin: 3px 20px 0 0;
	text-align: right;
}

#holiday-tabs .gender-category .gender-tab .copybox p.shop-link a {
	color: #2e5a7c;
}

#holiday-tabs .gender-category .gender-tab .copybox-twinkle h3 {
	display: inline;
	float: left;
	margin: 5px 0 0 15px;
	padding: 0;
	text-indent: -9999px;
	height: 45px;
}

#holiday-tabs .gender-category .gender-tab .copybox-twinkle p {
	color: #5d5d5d;
	font: 14px/16px Arial, Helvetica, sans-serif;
	width: 400px;
	display: inline;
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
}

#holiday-tabs .gender-category .gender-tab .copybox-twinkle p.shop-link {
	color: #2e5a7c;
	margin: 3px 20px 0 0;
	text-align: right;
}

#holiday-tabs .gender-category .gender-tab .copybox-twinkle p.shop-link a {
	color: #2e5a7c;
}

#skechers-w h3 {
	background: url(/Content/2009/11_nov/giftshop/w-shapeups.gif) no-repeat;
	width: 181px;
}

#slippers-w h3 {
	background: url(/Content/2009/11_nov/giftshop/w-slippers.gif) no-repeat;
	width: 277px;
}

#boots-w h3 {
	background: url(/Content/2009/11_nov/giftshop/w-boots.gif) no-repeat;
	width: 95px;
}

#asics-m h3 {
	background: url(/Content/2009/11_nov/giftshop/m-asics.gif) no-repeat;
	width: 102px;
}

#slippers-m h3 {
	background: url(/Content/2009/11_nov/giftshop/w-slippers.gif) no-repeat;
	width: 277px;
}

#boots-m h3 {
	background: url(/Content/2009/11_nov/giftshop/w-boots.gif) no-repeat;
	width: 95px;
}

#skechers-g h3 {
	background: url(/Content/2009/11_nov/giftshop/g-skechers.gif) no-repeat;
	width: 368px;
}

#slippers-g h3 {
	background: url(/Content/2009/11_nov/giftshop/w-slippers.gif) no-repeat;
	width: 277px;
}

#boots-g h3 {
	background: url(/Content/2009/11_nov/giftshop/w-boots.gif) no-repeat;
	width: 95px;
}

#heelys-b h3 {
	background: url(/Content/2009/11_nov/giftshop/b-heelys.gif) no-repeat;
	width: 242px;
	height: 79px;
	position: absolute;
	left: 427px;
	text-indent: -9999px;
	z-index: 1;
	margin: 0;
	padding: 0;
}

#slippers-b h3 {
	background: url(/Content/2009/11_nov/giftshop/w-slippers.gif) no-repeat;
	width: 277px;
}

#boots-b h3 {
	background: url(/Content/2009/11_nov/giftshop/w-boots.gif) no-repeat;
	width: 95px;
}

#right_button {
	position: absolute;
	top: 188px;
	left: 778px;
}

#right_button a {
	text-indent: -9999px;
	width: 140px;
	height: 32px;
	background: url(/Content/2009/11_nov/giftshop/arrow-more.gif) no-repeat;
	display: block;
}

#right_button a.back {
	text-indent: -9999px;
	width: 140px;
	height: 32px;
	background: url(/Content/2009/11_nov/giftshop/arrow-prev.gif) no-repeat;
	display: block;
}

#left_button {
	position: absolute;
	top: 188px;
	left: 482px;
}

#left_button a {
	text-indent: -9999px;
	width: 131px;
	height: 32px;
	background: url(/Content/2009/11_nov/giftshop/arrow-prev.gif) no-repeat;
	display: block;
}

.tab-corner {
	position: absolute;
	height: 10px;
	width: 11px;
	left: 50%;
	margin-left: 469px;
	top: 618px;
	z-index: 1;
	background: url(/Content/2009/11_nov/giftshop/tabcorner-btm.gif) no-repeat;
}

#bottom-tiles {
	display: inline;
	float: left;
	margin: 11px 0 0;
	padding: 0;
	width: 960px;
	height: 150px;
}

#bottom-tiles .tile-btm {
	height: 150px;
	width: 309px;
	margin: 0 16px 0 0;
	padding: 0;
	display: inline;
	float: left;
	
}

#bottom-tiles .tile-btm-end {
	height: 150px;
	width: 309px;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	
}