/*end of MTF-Prod-PG-box */

#PG-box-list {
display:none;
	text-align: left;
	margin-top: 10px;
	margin-bottom:10px;
	padding: 0;
	line-height:22px;
	float: left;
	width: 495px;
}

#WT-zone {
background-color:#cec6c0;
margin:0;
padding-left:10px;
padding-bottom:10px;
width:485px;
max-width:485px;
overflow:auto;
}

#MTF-zone {
background:#9e8e83 url(/App_Themes/Default/images/2009/product/top-tab.gif) no-repeat top right;
padding-left:10px;
padding-top:10px;
padding-bottom:5px;
height:40px;
margin:0;
width:485px;
}

.info{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
float:left;
}


.info a {
	color: #fff;
	text-decoration: underline;
	width:60px;
	margin: 0;
	padding: 0;
}

.info a:hover {
	color: #fff;
	text-decoration: none;
	width:60px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.MTF-right {
float:left;
padding:0;
margin:0;
width:400px;
}

.shoe-MTF-col1 {
float:left;
padding:0;
margin:0;
width:225px;
}

.shoe-MTF-col2 {
float:left;
padding:0;
margin:0;
width:170px;
}

.shoe-MTF-col3 {
float:left;
padding:0;
margin:0;
width:65px;
}

.MTF_Input {
width:160px;}

#MTF-zone h1 {
background:url(/App_Themes/Default/images/2009/product/MT.gif) no-repeat;
margin:0;
padding:0;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
height:26px;
width:215px;
font-weight:normal;
text-indent:-9999px;
}


#shoe-MTF-zone {
background:#9e8e83 url(/App_Themes/Default/images/2009/product/btm-tab.gif) no-repeat bottom right;
padding:0;
margin:0;
width:485px;
height:40px;
padding-left:10px;
padding-top:10px;
}

#shoe-MTF-zone h1 {
background:url(/App_Themes/Default/images/2009/product/MT-shoes.gif) no-repeat;
padding:0;
margin-top:5px;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:normal;
text-indent:-9999px;

}

.btn_tag_it {
cursor:pointer;
height:24px;
width:74px;
background:url(/App_Themes/Default/images/2009/product/btn-tag-it.gif) no-repeat;
}


.tagList {
	padding: 0;
	margin: 0;
	list-style: none;

}
.tagList li {
	display: inline;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:18px;
	font-color:#3c1b05;
	margin-right: 10px;
	padding: 0;
	float:left;
}

#adj-A {
font-weight:normal;
}

#adj-B {
font-weight:bold;
}

.veryBoldTagClass{
 font-weight:bold;
 color:#AC1A2F;
}

.boldTagClass{
 font-weight:700;
 
}

.adj-strings {
width:470px;
margin:0 auto;
padding:10px;}

.no-tags {
font-size:14px;
font-color:#3c1b05;
font-weight:bold;
padding-top:10px;}

.top-tags {
background:url(/App_Themes/Default/images/2009/product/top-tags-shoe.gif) no-repeat;
margin-left:160px;
padding:0;
color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
height:24px;
margin-top:10px;
width:166px;
text-indent:-9999px;
}

.expressionValidator {
display:inline;
margin-left:10px;
width:400px;
float:left;
font-size:18px;
color:#AC1A2F;
font-weight:bold;}

#ctl01_MTF_Input_Label {
font-weight:bold;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;}


 /*end of MTF-Prod-PG-box */
