/* Managed Content CSS */ 

#rightContainer .helpfulInformation {
width:180px;
}

.loyaltyChargeApp.platinum #content .terms table th, .loyaltyChargeApp.platinum #content .terms table td {
text-align:left;
}

#custService.landing #contactLinks ul li#module2 a {
color:#F1F2EB;
}

#custService.landing #contactLinks ul li#module3 a {
color:#F1F2EB;
}

#giftsplash 
{ 

background-image: url(/images/callout/Gift_Services/giftcard1.jpg); 
width: 738px; 
height: 521px; 

} 

#giftcards{ 
position: absolute; 
top: 215px; 
left: 30px; 
color: white; 

} 

#Egiftcards{ 
position: absolute; 
top: 215px; 
left: 230px; 
color: white; 


} 

#Egiftbutton{ 
position: absolute; 
top: 204px; 

} 


.helpful_link{ 
text-decoration:underline; 

} 

.underline_link{ 
text-decoration:underline; 

} 

.talbots_list{ 
list-style-position: inside; 
list-style-type: disc; 
font-family:Arial,Helvetica,sans-serif; 
font-size:11px; 
line-height:1.5em; 
margin:0 0 10px; 
} 

#love_necklace_body { 
width: 959px; 

} 


#love_tee_body { 
width: 959px; 

} 



#copy{ 
position:absolute; 
top: 325px; 
left: 672px; 
width:250px; 
color: #7f7f7f; 
font-family: Time New Roman; 
font-size: 12pt; 

} 

.scrollingslots { 
/* used to display the 2nd line of copy on the homepage scrolling slots */ 
color:#333333 !important; 
font-family:Arial,Helvetica,sans-serif; !important 
font-size:11px; !important 
} 

#tcapp { 
/* this is to format the copy on the TC Application page */ 
font-family: Time New Roman; 
font-size: 12pt; 
color:#666666; 
font-weight: bold; 
} 

#Stories #landingPage{ 
border:1px solid #e7e7cb; 
background:none; 
width:500px; 
height:380px; 
position:relative; 
margin-bottom:20px; 
margin-top: 5px; 
float:left; 
} 
#Stories #landingPage h2 { 
background:url(/images/callout/POW/Your_Voice/storytitle.gif) no-repeat; 
width:480px; 
padding-top:125px; 
overflow:hidden; 
height:0; 
} 
#Stories #landingPage h3 { 
background:none; 
width:450px; 
padding-top:0px; 
overflow:visible; 
height:auto; 
position:relative; 
left:20px; 

#Stories #landingPage p { 
color:#666666; 
font-size:18px; 
line-height:24px; 
font-weight: bold; 
width:450px; 
padding:0 0 0 0; 
margin:0 0 5px 3px ; 
position:inherit; 
left:20px; 
} 


#Stories #landingPage a { 
color:#34718d; 
font-size:11px; 
padding-right:10px; 
background:url(/images/icons/hyperlink-arrow.gif) no-repeat right center; 
margin:0 0 15px 3px; 
position:relative; 
left:255px; 
} 

#Stories #landingPage .button { 
position:relative; 
margin-left:15px; 
margin-top:150px; 
} 
#Stories #landingPage .button input{ 
text-transform:uppercase; 
width:150px !important; 
} 


#Stories #landingPage img { 
position:absolute; 
left:5px; 
padding-top: 5px; 
margin-bottom: 15px; 
} 


.hostess_stores{
float:left;
padding-left: 30px;
}


