#bubble_tooltip{
	width:147px;
	position:absolute;
	display:none;
}
#bubble_tooltip .bubble_top{
	background-image: url('../images/bubble_top_08.gif');
	background-repeat:no-repeat;
	height:5px;	
}
#bubble_tooltip .bubble_middle{
	background-image: url('../images/bubble_middle_08.gif');
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	top:3px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:11px;
	height:35px;
}
#bubble_tooltip .bubble_bottom{
	background-image: url('../images/bubble_bottom_08.gif');
	background-repeat:no-repeat;
		
	height:10px;
	position:relative;
	top:-1px;
}


#addsize_tooltip{
	width:147px;
	position:absolute;
	display:none;
}
#addsize_tooltip .addsize_top{
	background-image: url('../images/addsize_top_08.gif');
	background-repeat:no-repeat;
	height:70px;	
	top:-6px;	
}
#addsize_tooltip .addsize_middle{
	background-image: url('../images/addsize_middle_08.gif');
	background-repeat:repeat-y;	
	padding-top:13px;
	padding-left:7px;
	height:17px;
	padding-right:7px;
}
#addsize_tooltip .addsize_middle span{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:11px;
}
#addsize_tooltip .addsize_bottom{
	background-image: url('../images/addsize_bottom_08.gif');
	background-repeat:no-repeat;
	
	height:7px;
	position:relative;
}