#headerTable {
	font-weight: normal;
	font-size: 11px;
}

#headerTable #myaccount {
	font-size: 10px;
	font-weight: bold;
}

#headerTable #myaccount a {
	padding: 0 1px;	
}

#footerTable {
	font-weight: normal;
}