.dep-carousel-container .tabbed-slider .tab-content {
     background: none;
    background: #f7f7f7;
     font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif!important;
    padding: 20px 0;
     border: none;
    border-radius: 0;
    overflow-x: hidden;
}


.product-review-container .fitReviews .key.disable, .overall-review .fitReviews .key.disable {
 color: #dcd;
}

.product-review-container .fitReviews .ball.disable, .overall-review .fitReviews .ball.disable {
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.modal h2 a {
color: #666;
text-transform: none;
font-family: 'Jubilat', sans-serif, Arial, Helvetica;
font-weight: 400;
font-size: 30px;
text-decoration: none;
}

.quickview .fitReviews .label {

margin: 8px 0 0 0;
font-size: 16px;
}

.quickview .fitReviews .key {
    float: left;
    margin: 10px 5px 0 10px;
}

.quickview .fitReviews .bar {
margin: 5px 0 0 0;
}

#item-options li[data-code="size"] li {
    font-size: 12px;
    margin-top: 10px;
    padding: 0 10px;
}

#item-options li[data-code="size"] a#sizeInfo {
margin-left: 10px;
margin-top: 2px;
}
.quickview a#sizeInfo {
float: left;
text-decoration: none;
color: #89c0db;
font-size: 14px;
}

.modal quickview .add-cart-container p a.add-wishlist {

font-size: 14px;
text-transform: none;
letter-spacing: 0;
height: 9px;
}

.modal quickview .add-cart-container p a.tell-friend {
line-height: 16px;
font-size: 14px;
text-transform: none;
letter-spacing: 0;
}

.quickview .info-tabs a {
text-decoration: none;
color: #89c0db;
font-size: 14px;
}

.quickview a.more-details span {
color: #735130;
font-size: 14px;
}

.quickview .cta {
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
}