.sb_facebook,.sb_like,.sb_twitter,.sb_pinterest,.sb_email,.sb_link,.sb_gpOne,.sb_linkedin{display:none !important}
.sb_button{position:relative; background:#ECEEF5; border:#CAD4E7 solid 1px; border-radius:3px; color:#3B5998; cursor:pointer; display:inline-block !important; height:14px; margin:0; padding:2px 5px 2px 3px; text-decoration:none; white-space:nowrap; width:49px; line-height:12px; font-size:11px; font-family:"lucida grande",tahoma,verdana,arial,sans-serif}
.sb_button:hover{background-color:#ebedf4; border-color:#9dacce}
.sb_button_icon{background-color:transparent; background-image:url(../images/icons.png); background-position:0px 0px; color:#3B5998; cursor:pointer; display:block; float:left; height:11px; margin:1px 3px 0 0; padding:0; text-decoration:none; width:16px}
.sb_button_twitter iframe {min-width:60px !important;}
.sb_button_email{width:45px}
.sb_button_email .sb_button_icon{background-image:url(../images/icons.png); background-position:-2px -12px; margin:3px 3px 0 2px; height:8px; width:12px}
.sb_button_link{width:42px}
.sb_button_link .sb_button_icon{background-image:url(../images/icons.png); background-position:0px -21px; margin:3px 3px 0px 0px; height:7px; width:16px}
.sb_button_text{color:#3B5998; cursor:pointer; display:inline; font-family:'lucida grande',tahoma,verdana,arial,sans-serif; font-size:11px; line-height:14px; margin:0; padding:0; text-align:left; text-decoration:none; white-space:nowrap}
.pinterest-button{position:relative;display:block !important;background:url(../images/pinit.png);text-indent: -9999em;color: #CD1F1F;height: 20px;width: 43px;background-position: 0 -7px;}
.pinterest-button:hover {background-position: 0 -28px;}
.pinterest-button:active {background-position: 0 -49px;}
.pinned {background-position: 0 -70px !important;}
.sb_custom {position: relative;display: inline-block;text-decoration: none;text-indent:0px}
.horizontal,.vertical {text-indent:0px;text-decoration: none}
.CountPointer {position: absolute;z-index: 1;background: url(../images/pinit.png) no-repeat;text-indent: -9999em;font-size: .01em;color: white}
.CountBubble {position: absolute;border: 1px solid #C9C5C5;color: #777;background-color: #FCF9F9;border-radius: 1px}
.horizontal .CountBubble {top: 0px;left: 46px;height: 10px;padding: 2px 5px 4px 5px;font: 10px Arial, Helvetica, sans-serif;display: inline-block}
.horizontal .CountPointer {top: 0px;left: 43px;height: 18px;width: 4px;background-position: -43px -8px}
.vertical .CountBubble {top: -39px;left: 1px;height: 21px;width: 39px;font: 12px Arial, Helvetica, sans-serif;line-height: 12px;padding: 9px 0 0;text-align: center}
.vertical .CountPointer {top: -8px;left: 1px;height: 7px;width: 41px;background-position: 0 0}
.pinterest-button .vertical .CountBubble {top: -38px}
.pinterest-button .vertical .CountPointer {top: -7px}
.pinterest-button .horizontal .CountBubble,.pinterest-button .horizontal .CountPointer {top: 1px}
.sb_overlay{-webkit-box-align:center; -webkit-box-pack:center; background:transparent; background:rgb(127,127,127); background:rgba(0,0,0,0.7); background:-moz-radial-gradient(rgba(127,127,127,0.5),rgba(127,127,127,0.5) 35%,rgba(0,0,0,0.7)); background:-webkit-gradient(radial,50% 50%,1200,50% 50%,0,to(rgba(127,127,127,0.5)),color-stop(35%,rgba(0,0,0,0.7))); background:-webkit-radial-gradient(center,ellipse cover,rgba(127,127,127,0.5),rgba(127,127,127,0.5) 35%,rgba(0,0,0,0.7));filter: alpha(opacity=75);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; bottom:0; display:-webkit-box; left:0; padding:20px; padding-bottom:130px; position:fixed; right:0; top:0; z-index:36900}
#sb_popup{width:510px; z-index:37000; padding:8px; position:absolute; margin:0px; top:-999px; left:-999px}
#sb_popup.two, #sb_popup.four{width:433px}
#sb_popup.tab{width:510px}
#sb_popup #sb_content{font-family:Arial,Tahoma,sans-serif !important; text-align:left !important; font-size:12px; line-height:normal !important; color:rgb(85,85,85); background-color:rgb(255,255,255); margin:0; padding:0; -moz-box-shadow:0px 5px 80px #505050; -webkit-box-shadow:0px 5px 80px #505050; box-shadow:0px 5px 80px #505050; border-right:1px solid #2c72ac; border-bottom:1px solid #2c72ac; border-left:1px solid #2c72ac}
#sb_popup.three #sb_content{border-right:1px solid #a93c13; border-bottom:1px solid #a93c13; border-left:1px solid #a93c13}
#sb_popup.four #sb_content{border-right:1px solid #992a16; border-bottom:1px solid #992a16; border-left:1px solid #992a16}
#sb_popup.solo #sb_content{border-right:1px solid #2c72ac; border-bottom:1px solid #2c72ac; border-left:1px solid #2c72ac}
#sb_popup.one #sb_content{border-right:1px solid #266eaa; border-bottom:1px solid #266eaa; border-left:1px solid #266eaa}
#sb_popup.two #sb_content{border-right:1px solid #27a6d1; border-bottom:1px solid #27a6d1; border-left:1px solid #27a6d1}
#sb_popup #sb_close_button{position:absolute; cursor:pointer; right:-8px; top:-6px; background:url(../images/sb_sprite.png) no-repeat; width:34px; height:34px}
#sb_popup.one #sb_close_button{background-position:0px -117px}
#sb_popup.two #sb_close_button{background-position:0px -151px}
#sb_popup.three #sb_close_button, #sb_popup.four #sb_close_button{background-position:0px -185px}
#sb_popup.one #sb_close_button:hover, #sb_popup.two #sb_close_button:hover, #sb_popup.three #sb_close_button:hover, #sb_popup.four #sb_close_button:hover{background-position:-34px -117px}
#sb_popup #sb_content h3{color:rgb(255,255,255); text-indent:9px; font:900 18px Arial,Helvetica,sans-serif; text-decoration:none; height:30px; margin:0px; padding:9px 0px 0px; background:url(../images/sb_sprite.png) repeat-x}
#sb_popup.one #sb_content h3{background-position:0px 0px}
#sb_popup.two #sb_content h3{background-position:0px -39px}
#sb_popup.three #sb_content h3, #sb_popup.four #sb_content h3{background-position:0px -78px}
#sb_popup #sb_content h3 span{background:url(../images/sb_sprite.png) no-repeat; padding-left:20px}
#sb_popup #sb_content h3 span.sb_one{background-position:-68px -117px}
#sb_popup #sb_content h3 span.sb_two{background-position:-68px -137px}
#sb_popup #sb_content h3 span.sb_three{background-position:-68px -155px}
#sb_popup #sb_content h3 span.sb_four{background-position:-68px -174px}
#sb_popup.one #sb_content h3 span.sb_two, #sb_popup.one #sb_content h3 span.sb_three, #sb_popup.one #sb_content h3 span.sb_four{display:none}
#sb_popup.two #sb_content h3 span.sb_one, #sb_popup.two #sb_content h3 span.sb_three, #sb_popup.two #sb_content h3 span.sb_four{display:none}
#sb_popup.three #sb_content h3 span.sb_two, #sb_popup.three #sb_content h3 span.sb_one, #sb_popup.three #sb_content h3 span.sb_four{display:none}
#sb_popup.four #sb_content h3 span.sb_two, #sb_popup.four #sb_content h3 span.sb_three, #sb_popup.four #sb_content h3 span.sb_one{display:none}
#sb_popup #sb_content #sb_details{padding:20px}
#sb_popup.tab #sb_content #sb_details{width:393px; margin:0 auto}
#sb_popup.one #sb_content #sb_details, #sb_popup.three #sb_content #sb_details{width:auto}
#sb_popup #sb_content .sb_preview{background:#ecf6ff; border:1px solid #a6c2da}
#sb_popup #sb_content #sb_success_msg{color:#000; font:bold 14px Arial,Helvetica,sans-serif; margin:0 0 10px 5px; padding:0}
#sb_popup #sb_content #sb_follow{margin:0; padding:0; width:390px; float:left; clear:both; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px}
#sb_popup #sb_content #sb_follow p{font:12px Arial,Helvetica,sans-serif; margin:0 104px 10px 0; padding:0}
#sb_popup #sb_content #sb_follow p a{color:#1b5f99; font-weight:bold; text-decoration:none}
#sb_popup #sb_content #sb_follow p a:hover{text-decoration:underline}
#sb_popup #sb_content #sb_follow #sb_follow_acc{color:#1b5f99; font:bold 14px Arial,Helvetica,sans-serif; margin:0; padding:10px}
#sb_popup #sb_content #sb_follow #sb_follow_user{display:block; position:absolute; top:50px; right:10px; margin:0; padding:0; width:84px; height:28px; background:url(../images/buttons.png) no-repeat; background-position:0px -168px}
#sb_popup #sb_content #sb_follow #sb_follow_user:hover{background-position:-84px -168px}
#sb_popup #sb_content #sb_preview{margin:0 0 20px 75px; padding:0; width:390px; clear:both; position:relative; right:0; top:20px}
#sb_popup.four #sb_content #sb_preview{margin:0 0 20px 0; padding:0; width:390px; clear:both; position:relative; right:0; top:20px}
#sb_popup #sb_content #sb_preview #sb_preview_icon{position:absolute; top:-9px; left:43px; width:15px; height:10px; background:url(../images/sb_sprite.png) no-repeat; background-position:-68px -194px}
#sb_popup #sb_content #sb_prod_description{text-align:left; float:left; margin:0; padding:8px 10px 10px; width:266px}
#sb_popup #sb_content #sb_prod_description span.sb_title{color:#3B5998; display:inline; font-family:'lucida grande',tahoma,verdana,arial,sans-serif; font-size:11px; font-weight:bold}
#sb_popup #sb_content #sb_prod_description span.sb_branding, #sb_popup #sb_content #sb_prod_description p{color:#808080; display:block; font-family:'lucida grande',tahoma,verdana,arial,sans-serif; font-size:11px; font-weight:normal}
#sb_popup #sb_content #sb_prod_description p{margin:5px 0}
#sb_popup #sb_content #sb_prod_description span.sb_app{margin:0; padding:0; color:gray}
#sb_popup #sb_content #sb_prod_description span.sb_app img{margin-bottom:-4px}
#sb_popup #sb_content #sb_prod_description span.sb_fbAppName{color:#5187B4; font-weight:bold; border-bottom:1px dotted #5187B4}
#sb_popup #sb_content .sb_img{margin:10px 0 10px 10px; border:1px solid #a6c2da}
#sb_popup #sb_content #sb_prod_img{width:92px; float:left}
#sb_popup #sb_content #sb_follow_img{float:left; background:#fff; padding:3px; margin:0 10px 10px 10px}
#sb_popup #sb_content #sb_prod_img img{width:90px}
#sb_popup #sb_content #sb_follow_img img{width:62px; height:62px}
#sb_popup #sb_content #sb_form{margin:0; padding:0; width:100%; position:relative; float:left}
#sb_popup #sb_content #sb_form input, #sb_popup #sb_content #sb_form textarea{width:390px; margin:0; padding:0}
#sb_popup #sb_content #sb_form input{height:20px}
#sb_popup #sb_content #sb_form #sb_from_email, #sb_popup #sb_content #sb_form #sb_from_name{width:180px}
#sb_popup #sb_content #sb_form #sb_from_one{float:left; margin:15px 0 0; padding:0}
#sb_popup #sb_content #sb_form #sb_from_two{float:right; margin:15px 0 0; padding:0}
#sb_popup #sb_content #sb_form label, 
#sb_popup #sb_content #sb_form .sb_label{font:bold 16px Arial,Helvetica,sans-serif; text-align:left !important; margin:0; padding:0; display:block}
#sb_popup #sb_content #sb_form .sb_label{float:left; margin-top:3px}
#sb_popup #sb_content #sb_form #sb_from_email_label span.sb_help, #sb_popup #sb_content #sb_form #sb_from_name_label span.sb_help, #sb_popup.four #sb_content #sb_form #sb_message_label span.sb_help{font: normal 13px Arial,Helvetica,sans-serif;color: #999;line-height:17px !important;}
#sb_popup.one #sb_content #sb_form #sb_friends_list_label{float:left; margin-top:6px}
#sb_popup.four #sb_content #sb_form #sb_message_label{float:left; margin-top:15px}
#sb_popup #sb_content #sb_form #sb_post_list{width:355px; border:1px solid gray; float:right; margin:0; padding:0 3px; position:relative}
#sb_popup #sb_content #sb_form #sb_post_list span.sb_friend{font:12px Arial,Helvetica,sans-serif; background-color:#f1f8ff; margin:3px 2px 0 0; padding:2px; border:1px solid #9abfe5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; display:block; float:left}
#sb_popup #sb_content #sb_form #sb_post_list a.sb_friend_remove{width:10px; height:10px; margin:0 0 0 4px; padding:0; *padding:0 0 4px 0; background:url(../images/sb_sprite.png) no-repeat; background-position:-72px -205px; display:inline-block}
#sb_popup #sb_content #sb_form #sb_post_list #sb_friends_list{background-color:transparent; border:0; outline:0; width:44px; font:11px "lucida grande",tahoma,verdana,arial,sans-serif; padding:3px 3px 3px 0; color:#000; margin:0; float:left}
#sb_popup #sb_content #sb_form #sb_counter{display:block; clear:both; margin:10px 2px 0 0; float:right; font:bold 16px Arial,Helvetica,sans-serif; line-height:normal; color:#c2c2c2}
#sb_popup #sb_content #sb_form #sb_user_image{position:absolute; top:42px; left:0px; margin:0; padding:3px; border:1px solid #B2B2B2}
#sb_popup #sb_content #sb_form #sb_user{float:right; margin:0 3px 0 0}
#sb_popup.success #sb_content #sb_form #sb_user{position:absolute; margin:0; padding:0; top:12px; right:3px}
#sb_popup #sb_content #sb_form #sb_user #sb_user_id{color:#5187B4; font:bold 12px Arial,Helvetica,sans-serif; text-decoration:none}
#sb_popup #sb_content #sb_form #sb_user #sb_user_id:hover{color:#000}
#sb_popup #sb_content #sb_form #sb_message, #sb_popup #sb_content #sb_form #sb_to_emails{width:384px; height:40px; padding:3px; margin:20px 0 0; font-family:Arial,Tahoma,sans-serif; font-size:12px; line-height:normal !important; color:#000; float:right}
#sb_popup #sb_content #sb_form #sb_to_emails, #sb_popup.four #sb_content #sb_form #sb_message{margin:0}
#sb_popup.four #sb_content #sb_form #sb_message{height:75px}
#sb_popup.two #sb_content #sb_form #sb_message{height:50px; margin:0px}
#sb_popup #sb_short_url{margin-top:10px}
#sb_popup #sb_short_url{position:relative}
#sb_popup #sb_form #sb_clippy{position:relative; left:0px; top:3px; margin-left:3px}
#sb_popup #url_box_clippy{background-color:#FFD; border:1px solid #CCC; float:left; font-size:13px; margin:0 0 0 5px; padding:4px 3px; display:block; width:180px;overflow:hidden}
#sb_canceldiv{float:left; margin:10px 0 0 20px}
#sb_cancel_link{float:left; display:block; margin:0; padding:0; width:73px; height:28px; background:url(../images/buttons.png) no-repeat; background-position:0px 0px; cursor:pointer}
#sb_cancel_link:hover{background-position:-73px 0px}
#sb_popup #sb_share_button_container{margin:0; padding:0; display:block; height:50px; background:url(../images/sb_sprite.png) repeat-x; background-position:0px -219px}
#sb_popup #sb_share_button_container div.sb_sharediv{padding:0; margin:10px 20px 0 0; float:right}
#sb_popup #sb_share_button_container div.sb_sharediv span.sb_thanks{font-weight:900; font-size:17px; float:left; width:85px; text-align:center; vertical-align:middle; margin:0; padding-top:5px}
#sb_popup #sb_share_button_container div.sb_sharediv #sb_share_link{display:block; float:left; width:73px; height:28px; background:url(../images/buttons.png) no-repeat; cursor:pointer}
#sb_popup.four #sb_share_button_container div.sb_sharediv #sb_share_link{background-position:0px -140px}
#sb_popup.four #sb_share_button_container div.sb_sharediv #sb_share_link:hover{background-position:-73px -140px}
#sb_popup.solo #sb_share_button_container div.sb_sharediv #sb_share_link{background-position:0px -84px}
#sb_popup.solo #sb_share_button_container div.sb_sharediv #sb_share_link:hover{background-position:-73px -84px}
#sb_popup.one #sb_share_button_container div.sb_sharediv #sb_share_link{background-position:0px -56px}
#sb_popup.one #sb_share_button_container div.sb_sharediv #sb_share_link:hover{background-position:-73px -56px}
#sb_popup.two #sb_share_button_container div.sb_sharediv #sb_share_link{background-position:0px -28px}
#sb_popup.two #sb_share_button_container div.sb_sharediv #sb_share_link:hover{background-position:-73px -28px}
#sb_popup.three #sb_share_button_container div.sb_sharediv #sb_share_link{background:none}
#sb_popup #sb_email_share_link img{margin:4px 0}
#sb_popup.tab #sb_content #sb_tabs{text-align:center; margin:-8px -1px 20px -1px; list-style-type:none; padding:0; float:left}
#sb_popup.one #sb_content #sb_tabs{border-bottom:1px solid #266eaa}
#sb_popup.two #sb_content #sb_tabs{border-bottom:1px solid #27a6d1}
#sb_popup.three #sb_content #sb_tabs{border-bottom:1px solid #a93c13}
#sb_popup.four #sb_content #sb_tabs{border-bottom:1px solid #992a16}
#sb_popup.tab #sb_content #sb_tabs li{color:#535353; font:900 18px Arial,Helvetica,sans-serif; background:url(../images/sb_sprite.png) repeat-x; display:block; float:left; padding:6px 6px 5px; margin:0; width:113px; background-position:0px -269px; height:27px; border-right:1px solid #f8f8f8; border-left:2px solid #c6c6c6; cursor:pointer}
#sb_popup.tab #sb_content #sb_tabs li.first{border-left:none}
#sb_popup.tab #sb_content #sb_tabs li.last{border-right:none}
#sb_popup.one #sb_content #sb_tabs #sb_tab_one{color:#fff; background-position:0px -308px; margin:-4px 0 0 0; height:30px; border-top:1px solid #266eaa; border-right:1px solid #266eaa; border-left:1px solid #266eaa; border-top-left-radius:5px 5px;     border-top-right-radius:5px 5px; -moz-border-radius-topleft:5px 5px; -moz-border-radius-topright:5px 5px; -webkit-border-top-left-radius:5px 5px;     -webkit-border-top-right-radius:5px 5px}
#sb_popup.two #sb_content #sb_tabs #sb_tab_two{color:#fff; background-position:0px -350px; margin:-4px 0 0 0; height:30px; width:115px; border-top:1px solid #137696; border-right:1px solid #137696; border-left:1px solid #137696; border-top-left-radius:5px 5px;     border-top-right-radius:5px 5px; -moz-border-radius-topleft:5px 5px; -moz-border-radius-topright:5px 5px; -webkit-border-top-left-radius:5px 5px;     -webkit-border-top-right-radius:5px 5px}
#sb_popup.three #sb_content #sb_tabs #sb_tab_three{color:#fff; background-position:0px -392px; margin:-4px 0 0 0; height:30px; width:115px; border-top:1px solid #a93c13; border-right:1px solid #a93c13; border-left:1px solid #a93c13; border-top-left-radius:5px 5px;     border-top-right-radius:5px 5px; -moz-border-radius-topleft:5px 5px; -moz-border-radius-topright:5px 5px; -webkit-border-top-left-radius:5px 5px;     -webkit-border-top-right-radius:5px 5px}
#sb_popup.four #sb_content #sb_tabs #sb_tab_four{color:#fff; background-position:0px -434px; margin:-4px 0 0 0; height:30px; width:114px; border-top:1px solid #992a16; border-right:1px solid #992a16; border-left:1px solid #992a16; border-top-left-radius:5px 5px;     border-top-right-radius:5px 5px; -moz-border-radius-topleft:5px 5px; -moz-border-radius-topright:5px 5px; -webkit-border-top-left-radius:5px 5px;     -webkit-border-top-right-radius:5px 5px}
#sb_popup.tab #sb_content #sb_tabs a{color:inherit; text-decoration:none; position:relative; top:5px; padding:0; margin:0; float:left; left:50%; display:block}
#sb_popup.tab #sb_content #sb_tabs a span{background:url(../images/sb_sprite.png) no-repeat; padding:0 0 0 20px; right:50%; position:relative; float:left; display:block; height:18px}
#sb_popup.tab #sb_content #sb_tabs #sb_tab_one a span{background-position:-68px -118px}
#sb_popup.tab #sb_content #sb_tabs #sb_tab_two a span{background-position:-68px -137px}
#sb_popup.tab #sb_content #sb_tabs #sb_tab_three a span{background-position:-68px -155px}
#sb_popup.tab #sb_content #sb_tabs #sb_tab_four a span{background-position:-68px -176px}
#sb_popup #sb_power{padding:0px; margin:17px 0 0 20px; float:left; position:relative}
#sb_popup #sb_power span{display:none}
#sb_popup.tab #sb_power span{display:inline; position:relative; top:-4px}
#sb_popup #sb_power img{border:0}
#sb_popup .sb_error{color:#900; display:none; font-size:12px}
#sb_popup div.sb_clear{clear:both}
#sb_popup.one #sb_content #sb_canceldiv, 
#sb_popup.one #sb_content #sb_tabs, 
#sb_popup.one #sb_content #sb_short_url, 
#sb_popup.one #sb_content #sb_email_box, 
#sb_popup.one #sb_content #sb_form #sb_counter, 
#sb_popup.one #sb_content #sb_message_label, 
#sb_popup.one #sb_content #sb_user, 
#sb_popup.one #sb_content #sb_success_msg, 
#sb_popup.one #sb_content #sb_follow{display:none}
#sb_popup.two #sb_content #sb_canceldiv, 
#sb_popup.two #sb_content #sb_tabs, 
#sb_popup.two #sb_content #sb_short_url, 
#sb_popup.two #sb_content #sb_email_box, 
#sb_popup.two #sb_content #sb_friends_list_label, 
#sb_popup.two #sb_content #sb_post_list, 
#sb_popup.two #sb_content #sb_preview, 
#sb_popup.two #sb_content #sb_user_image, 
#sb_popup.two #sb_content #sb_message_label, 
#sb_popup.two #sb_content #sb_success_msg, 
#sb_popup.two #sb_content #sb_follow{display:none}
#sb_popup.success #sb_content #sb_tabs, 
#sb_popup.success #sb_content #sb_short_url, 
#sb_popup.success #sb_content #sb_email_box, 
#sb_popup.success #sb_content #sb_friends_list_label, 
#sb_popup.success #sb_content #sb_form #sb_counter, 
#sb_popup.success #sb_content #sb_message, 
#sb_popup.success #sb_content #sb_post_list, 
#sb_popup.success #sb_content #sb_preview, 
#sb_popup.success #sb_content #sb_user_image, 
#sb_popup.success #sb_content #sb_message_label, 
#sb_popup.success #sb_share_button_container div.sb_sharediv #sb_share_link{display:none}
#sb_popup.success #sb_content #sb_success_msg, 
#sb_popup.success #sb_content #sb_follow{display:block}
#sb_popup.three #sb_content #sb_share_link, 
#sb_popup.three #sb_content #sb_power, 
#sb_popup.three #sb_content #sb_tabs, 
#sb_popup.three #sb_content #sb_form #sb_counter, 
#sb_popup.three #sb_content #sb_email_box, 
#sb_popup.three #sb_content #sb_friends_list_label, 
#sb_popup.three #sb_content #sb_post_list, 
#sb_popup.three #sb_content #sb_preview, 
#sb_popup.three #sb_content #sb_user_image, 
#sb_popup.three #sb_content #sb_message, 
#sb_popup.three #sb_content #sb_message_label, 
#sb_popup.three #sb_content #sb_user, 
#sb_popup.three #sb_content #sb_success_msg, 
#sb_popup.three #sb_content #sb_follow{display:none}
#sb_popup.four #sb_content #sb_share_flash_link, 
#sb_popup.four #sb_content #sb_power, 
#sb_popup.four #sb_content #sb_tabs, 
#sb_popup.four #sb_content #sb_form #sb_counter, 
#sb_popup.four #sb_content #sb_friends_list_label, 
#sb_popup.four #sb_content #sb_post_list, 
#sb_popup.four #sb_content #sb_user_image, 
#sb_popup.four #sb_content #sb_short_url, 
#sb_popup.four #sb_content #sb_prod_description span.sb_app, 
#sb_popup.four #sb_content #sb_user, 
#sb_popup.four #sb_content #sb_success_msg, 
#sb_popup.four #sb_content #sb_follow{display:none}
#sb_popup.tab #sb_close_button, 
#sb_popup.tab #sb_content h3{display:none}
#sb_popup.tab #sb_content #sb_canceldiv, 
#sb_popup.tab #sb_content #sb_tabs{display:block}