.monoQ  {
    background-image: url('/media/images/productDetail/monogram_sprite_v1_m56577569830556741.gif');
}
.monogram-edit-button, .monogram-delete-button {
    background-image: url('/media/images/checkout2/checkout_v1_m56577569830563184.png');
}
.factory .pdp-bag-button {
background-image: url('');   
}  
.social-icon,
#tumblr_button a {
    background-image: url(/media/images/sprites/social-media_v1_m56577569830556744.png);
}
.mw-footer .subscribe-email button.submit{
    background-image:url(/media/assets/footer/btn_email_signup_v1_m56577569830559090.png);
    background-position:0 -35px;

}
.mw-footer .subscribe-email input[type="submit"]:hover{
    background-position:0 0;
}

.mw-footer #ftrCol7 .ftr-item a {
    background-image:url(/media/assets/footer/socialicons_sprite_v1_m56577569830566688.png);
}
#ftrCol7 div:nth-child(9) a{
    background-image:none!important;
}
.leftnav.leftnav1{
    background:url() no-repeat 0 180px;
}
.outfit-wrap .next
    , .outfit-wrap .prev
        , .outfit-wrap .close{
    background:url() no-repeat;
}
.outfit-wrap{
  background:url() no-repeat #fff 27px 39px;
}

.backBtn {
    background:url();
}


.backBtn {
    background:url(/media/assets/giftguide/img0_v1_m56577569830602881.gif);
    }





