/*
GENERAL
PRODUCT IMAGES
PRODUCT DETAIL COPY
BAYNOTE
PRODUCT PRICING COPY
COLOR SWATCHES
SIZE CHIPS
TOOLTIPS
MONOGRAMMING, EMBOSSING AND CRITTER PERSONALIZATION
QUANTITY DROP DOWN
ADD TO BAG & WISHLIST BUTTONS
ERROR MESSAGING
SOCIAL MEDIA BUTTONS
*/

/*---------START: GENERAL---------*/

h2{
	font:13px/13px Georgia;
	font-weight:bold;
	margin:15px 0 15px;
}

#table td{
	vertical-align: bottom;	
}
#hdr table.promo-row td {
    vertical-align: middle;
    line-height: 1.1em;
    height: 31px;
}

button, input, select, textarea {
	vertical-align: text-bottom;
}

/*---------END: GENERAL---------*/

/*--------START: PRODUCT IMAGES----------*/

.prod_main_img {
    width: 425px;
}
.thumbnails{
	width:425px;
}

.left-nav-container, .category {
	width: 154px;
}
/*--------END: PRODUCT IMAGES----------*/

/*---------START: PRODUCT DETAIL COPY---------*/

#prodDtlHdr{
    font: 13px/13px georgia bold;
    letter-spacing: 0px;
    margin: 25px 0;
    text-align:left;
	font-weight: bold;
}

.product_desc {
    font: 13px/13px georgia;
    letter-spacing: 0px;
	line-height: 20px;
}

#prodDtlBody ul {
    letter-spacing: 0px;
    margin: 25px 0 0;
	font-style: normal;
}

.pdp-details{
    margin: 25px auto 0;
    width: 425px;
}

.product-detail-promotext {
	font: 11px Georgia;
	letter-spacing: 0px;
}

#BVRRSummaryContainer {
    text-transform: none;
}

/*---------END: PRODUCT DETAIL COPY---------*/

/*---------START: BAYNOTE---------*/

#baynoteContent{
	padding-top:25px;
}

.crossSellContainer {
	border-top: 1px solid #ccc;
	border-bottom: 0;
	border-left: 0px;
	border-right: 0px;
	padding-top: 25px;
	font-family: Georgia;
	text-align: left;
	letter-spacing: 0px;
	font-size: 13px;
	font-weight: bold;
	width: 805px;
	margin-bottom: 10px;
}

.crossSellContainer table {
	margin: 25px 0px 0px 0px;
}

.crossSellContainer .baynoteLabel {
	font-size: 11px;
}

.crossSellItem li, .crossSellItem li a {
	text-decoration: none;
	text-align: center;
	font-weight: normal;
}

.product_desc {
	padding-right: 15px;
}

/*---------END: BAYNOTE---------*/

/*---------START: PRODUCT PRICING COPY---------*/
.product-detail-img{
	width: 425px;
	border-bottom: 0px;
}
.product-detail-main-img{
	width: 475px;
}
.product-detail-container{
	margin-top: 0px;
	border-top: 0px;
	width:805px;
}
.product-detail-sku{
	font:13px/13px Georgia, serif;
	letter-spacing:0px;
	width: 330px;
}

.product-detail-sku h1{
	font-size:20px;
	line-height:24px;
	margin: 20px 0px 15px;
	text-transform: lowercase;
}

.product-detail-price {
	width: 330px;
    line-height: 19px\9; /* IE8 and below */
 	*line-height : 19px; /* IE7 and below */
 	_line-height : 19px; /* IE6 */
}

hr {
	width: 330px;
}
.price-wrapper hr.row-class-1, .price-wrapper hr.row-class-2 {
	width: 330px;
}
.price-wrapper hr, .price-wrapper hr.last-row {
	width: 330px;
}

.product-pricing {
	margin: 0 0 10px 10px;
}

.product-pricing-wrapper {
	padding-top: 7px;
}
/*---------END: PRODUCT PRICING COPY---------*/

/*---------START: COLOR SWATCHES---------*/


.full-price{
	margin:25px 0px;
	font-size:16px;
}

.selected-color{
	color: #FF3333;
	font-style:italic;
}
.color-title{
	font-weight:bold;
	text-transform:uppercase;
}
.color-title .color-name{
	font-weight:normal;
}
.color-row {
    margin:15px 0;
}

.sale-price{
	color: #FF3333;
}

/*---------END: COLOR SWATCHES---------*/

/*---------START: SIZE CHIPS---------*/
.sizes{
	width: 340px;
}

.sizes header {
	width: 330px;
}

.size-box {
	font-size: 11px;
	width: 73px;
	padding: 6px 0px;
}

.size-box.tall {
	width: 61px;
	padding: 5px 6px;
}
.size-rollover {
	width: 73px;
	height: 25px;
}

.size-box.tall .size-rollover {
    height: 36px;
}

.product-details-sizechart {
	font-size: 13px;
	text-transform: capitalize;
}
/*---------END: SIZE CHIPS---------*/

/*---------START: TOOLTIPS---------*/

.tooltip {
    box-shadow: -1px 1px 6px rgba(50, 50, 50, 0.4);
    font: 10px/10px georgia;
	line-height: 10px;
}
.size-box .tooltip {
	left: -15px;
	top: 31px;
}

/*---------END: TOOLTIPS---------*/

/*---------START: MONOGRAMMING, EMBOSSING AND CRITTER PERSONALIZATION---------*/

.monogram-button {
	text-transform: none;
}
.header {
	letter-spacing: 1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.4;
	color: #000000;
}
.content {
	padding-bottom: 12px;
}
.mono-content {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	margin-bottom: 40px;
	line-height: 24px;
	font-size: 13px;
}
.mono-prod-name {
	text-transform: lowercase;
}
.mainimage {
	margin-bottom: 40px;
}
.emboss-table {
	float: left;
    margin-top: 10px;
}
.initials-table {
	float: left;
	width: 210px;
}
#addtocart {
	text-align: center;
}
.mono-prod-reg-price {
	font-style: italic;
}
.mono-table {
	padding-top: 0px;
	margin-bottom: 0px;
}
.monogram-details {
	float: none;
	font-family: georgia;
	width: 318px;
	font-size: 13px;
	overflow: hidden;
}

.monogram-details-text {
	line-height: 24px;
}
.mono-dtl {
	text-transform: capitalize;
}
.edit-tab {
	width: 324px;
	*width: 302px;
}
#monogram-edit-details {
	*width: 330px;
}
.monogram-shipping {
	font-size: 11px;

}
.content_initials {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;
	color: #575757;
	text-align: left;
	line-height: 11px;
}
.tblBorder td {
    background: #FFFFFF;
}
.embTypeInfo {
	font-weight: bold;
	line-height: 16px;
	padding-top: 5px;
}
#addtocart {
	text-align: left;
	margin-top: 10px;
	padding-bottom: 10px;
}
.styleContainer {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: lowercase;
	font-size: 11px;
	line-height: 11px;
}
.emboss-style-table {
	margin-bottom: 0px;
}
.tblBorder {
	border: 2px solid #000000;
}

.monotype a img {
    border: 2px solid #FFF;
}
.monotype a img.embSelectedType,
.monotype:hover a img {
    border: 2px solid #000;
}
.madewell .triangle {
	margin: -2px 0 0;
	margin : 0\9; /* IE8 and below */
 	*margin : 0; /* IE7 and below */
}
.emoboss-table {
	margin-top: 10px;
}



/*---------END: MONOGRAMMING, EMBOSSING AND CRITTER PERSONALIZATION---------*/

/*---------START: QUANTITY DROP DOWN---------*/
.quantity {
	width:100px;
}
.quantity h2 {
	margin: 15px 0;
}
.selectBox {
    float: left;
	margin: 0px;
	width:45px;
}

.BVRRContainer{
	text-align: left;
}

/*---------END: QUANTITY DROP DOWN---------*/

/*---------START: ADD TO BAG & WISHLIST BUTTONS---------*/

.content-button, .content-button-secondary, .content-button-secondary-confirmation, .wishlist-alert-container, .wishlist-confirmation-text {
	width: 330px;
}

.madewell .content-button-secondary{
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.madewell .content-button-secondary:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.madewell .content-button-secondary:active{
    background-color: #7f7f7f;
    border-color: #7f7f7f;
    color: #fff;
}

.madewell .content-button-secondary.disabled {
    background-color: #f0f0f0;
    color: #d7d7d7;
    border-color: #f0f0f0;
}

/*---------END: ADD TO BAG & WISHLIST BUTTONS---------*/

/*---------START: ERROR MESSAGING---------*/

.messaging .error-box {
	letter-spacing: 0px;
	font: 11px Georgia;
	line-height: 16px;
	padding: 8px 10px;
	width: 308px;
	margin: 0 0 15px;
}
.messaging .error-box .ship-date {
	color: #ff3333;
}

.messaging .error-box h3 {
	font-size: 11px;
}

.messaging .finalsale-msg h3{
	color: #ff3333;
}

.override-message, .sws-message {
	font: bold 13px/20px Georgia;
	letter-spacing: 0px;
	width: 302px;
	padding: 23px 13px;
	border: solid 1px #000;
}

.sold-out-contact {
	font: 13px/20px Georgia;
	letter-spacing: 0px;
	margin: 23px 0 0;
}

.sold-out-contact a {
	font: 13px/20px Georgia;
}

.contact-phone {
	font: 13px/20px Georgia;
}

.sws-message .sold-out-contact {
	margin: 23px 0 0;
}

.session-stock {
	font: 12px/16px georgia;
	letter-spacing: 0px;

}

.global-message {
	font-weight: normal;
	text-align: center;
	left: 10px;
	padding: 15px 5px 15px;
	font-size: 12px;
}

.product-details-nosize {
	color: #ff3333;
}

/*---------END: ERROR MESSAGING---------*/

/*---------START: SOCIAL MEDIA BUTTONS---------*/

.social-links{
	margin-top:50px;
}
.social-links .fbLink,
.social-links .pinterest { float: left; margin-right: 5px;  }

.social-icon-row-inner {
    margin: 0 auto;
}
.social-icon.first {
    padding-left: 23px;
}
.fbLink {background-position: 16px -39px;}
.fbLink.hover { background-position: 16px -71px;}
.fbLink:active { background-position: 16px -7px;}


/*---------END: SOCIAL MEDIA BUTTONS---------*/


/*---------START: SINGLE PRODUCT DETAILS ---------*/
.madewell #socialLinkContainer{
	width: auto;
}
.madewell .social-icon-row h2, .madewell .social-detail h3 {
	font-family: Georgia;
	letter-spacing: 0;
}
.madewell .social-detail {
	border-color: #ccc;
}
.madewell .fbLink-wrapper { left: 109px; }
.madewell .fbLink .mask { left: 155px; height: 40px; }
.madewell .fbsend-wrapper { left: 164px; }
/*---------END: SINGLE PRODUCT DETAILS ---------*/

/*---------START: MULTI PRODUCT DETAILS ---------*/
.madewell#multiPDP .linkOff {
    font-weight: normal;
}
.madewell#multiPDP .linkOff:hover {
    font-weight: normal;
    background: none;
}
.madewell#multiPDP .product-detail-img .thumbnail-wrap{
    border-top: 0;
}
.madewell#multiPDP .wishlist-alert-container, .madewell#multiPDP .wishlist-confirmation-text{
    width: 330px;
}

/*---------END: SINGLE PRODUCT DETAILS ---------*/


/* Fixes Mini Cart / Wishlist / Shopping Bag alignment */
.navigation-row .wishlist-child a{padding-top: 9px;}
#miniCartContainer{top:0px;}

/* temporary */
.minicart-shipdate.quantity{
    display: block;
    margin-bottom: 10px;
}

/*--------------MADEWELL LEFT NAV SQUISHED ON PDP ISSUE---------------*/

.product-detail-main-img{
  width: 440px;
}

.product-detail-container {
  width: 773px;
}

.left-nav-container {
  width: 166px;
  margin-right: 20px;
  border: none;
}

.left-nav-container .catleftNav {
  border: none;
}

.image-zoom.flyout .image-zoom-wrapper {
  left: 440px;
}


