
html table, html thead, html tbody, html tfoot, html tr, html td{border:none;margin:0;padding:0;}

.psSizeChart{width:854px;padding:20px 22px;font-family:Helvetica;}
.psSizeChart table{width:100%;cell-padding:0;border-collapse:collapse;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;margin:15px 0;text-transform:uppercase;}
.psSizeChart th, .psSizeChart td{padding:16px 0;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;vertical-align:middle;font-size:13px;text-align:center;}
.psSizeChart th{font-weight:bold;}
.psSizeChart td.header{font-size:14px;font-weight:bold;}
.psSizeChart td.subhead{font-size:12px;font-weight:bold;}
.psSizeChart table.shoes td.td116{width:116px;}
.psSizeChart table.shoes{width:auto;}
.psSizeChart table.shoes td{width:44px;}
.psSizeChart h3, .psSizeChart h4{font-size:14px;text-transform:uppercase;}
.psSizeChart h3{padding:6px 0 0;}
.psSizeChart h4{font-weight:normal;text-decoration:underline;padding:12px 0 0;}
.psSizeChart p{padding:7px 0 0;}
.psSizeChart .greyBg{background:#e4e2e3;}

.sizeChartHead{font-size:15px;font-weight:bold;color:#fff;text-transform:uppercase;padding:6px 15px 5px 15px; 
	/* SVG fallback(Opera 11.10-, IE9) */
	background:#585858 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDEzMCwxMzAsMTMwLDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoODgsODgsODgsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	/* Opera 11.10+ */
	background:-o-linear-gradient(top, rgba(130,130,130,1), rgba(88,88,88,1));
	/* Firefox 3.6+ */
	background:-moz-linear-gradient(top, rgba(130,130,130,1), rgba(88,88,88,1));
	/* Chrome 7+ & Safari 5.03+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(130,130,130,1)), color-stop(1, rgba(88,88,88,1)));
	/* IE5.5 - IE7 */
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF828282,EndColorStr=#FF585858);
	/* IE8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF828282,EndColorStr=#FF585858)";
}
.sizeChartNav{margin:10px 0 0;}
.sizeChartNav li{margin:0 9px 0 0;}
.sizeChartNav a{border:2px solid #000;display:block;padding:3px 8px;text-transform:uppercase;}
.sizeChartNav .active a{background:#000;color:#fff;font-weight:bold;}
.sizeChartNav .active a:hover{cursor:default;text-decoration:none;}

#sizeInfoContainer{width:854px;margin-top:30px;font-family:Helvetica;}
#sizeInfoContainer .sizeHeader{border-bottom: 1px dotted #A1A3A6;padding-bottom:7px;font-size:13px;font-weight:bold;}
#sizeInfoContainer .sizeText {margin-top:5px;font-size:12px;color:#6d6e71;line-height:17px;letter-spacing:1px;}
#sizeInfoContainer .sizeInfoCol3{width:250px;margin-right:50px;float:left;}
#sizeInfoContainer .sizeInfoBig{width:800px;}
#sizeInfoContainer .sizeInfoCol2{width:365px;}
#sizeInfoContainer .last{margin:0px;}
