/* START: Style for Associate Ordering System */

.mainDivParent
{
	margin: 0 auto;
	width:951px;
	background-color:#000000;
	height:100%;
	overflow: hidden;
	padding: 0;
}

.mainDiv
{
	margin: 0 auto;
	width:614px;
}

.orderingSystem
{
	float:left;
	color: #C41230;
	font: bold 13px/18px 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
	width:614px;
	padding:9px 0px 7px 0px;
	background: #e0e0e0 url(../images/aos/orderSys-mid.gif) repeat-y 0 0;
	margin:0;

}
.orderingSystemTop
{
	width:614px;
	float:left;
	height:4px;
	background: #e0e0e0 url(../images/aos/orderSys-top.gif) no-repeat 0 0;
	padding:0;
	/* zero font line spacing to aviod extra space in IE6 */
	font: bold 0/0 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;

}
.orderingSystemBot
{

	float:left;
	width:614px;
	height:4px;
	background: #e0e0e0 url(../images/aos/orderSys-bot.gif) no-repeat 0 0;
	padding:0;
	margin:0;
	/* zero font line spacing to aviod extra space in IE6 */
	font: bold 0/0 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;

}
.orderingSystem p.orderSysTitle
{
	text-align: left;
	float:left;
	font: bold 12px/18px 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
	color: #C41230;
	padding:0;
	width:420px;
	margin-left:9px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	text-transform: uppercase;
}
* html .orderingSystem p.orderSysTitle
{
	margin-left:5px;
}
.orderingSystem a
{
	margin:0;
	padding:0;
	font: 11px/18px 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
}
.orderingSystem a:hover
{
	text-decoration: none;
}
.orderingSystem a.orderSysLogout
{
	float:right;
	color: #C41230;
	margin-right:9px;
}

.orderingSystem p
{
	float:left;
	margin:5px 0 0 0;
	padding:0;
	color: #000;
	margin-left:9px;
}
* html .orderingSystem p
{
	margin-left:5px;
}
.orderingSystem p.orderSysdetails
{
	text-align: left;
	width:380px;
}
.orderingSystem p.orderSysStore
{
	width:96px;
}
.orderingSystem p.orderSysID
{

	float:right;
	text-align: right;
	width:76px;
	margin-right:9px;
}
*html .orderingSystem p.orderSysID
{

	margin-right:5px;
}
/* END: Style for Associate Ordering System */


















/* START: Style for Associate Ordering System Form */
.orderSysForm
{
	color: #666;
	font: bold 11px/18px Arial, Helvetica, sans-serif;
	width:542px;
	padding:0;
	margin:20px auto 20px auto;
} 
.orderSysForm .orderSysFormTop
{
	width:542px;
	height:4px;
	background: #e0e0e0 url(../images/aos/orderSysForm-top.gif) no-repeat 0 0;
	margin:0;
	padding:0;
	/* zero font line spacing to aviod extra space in IE6 */
	font: bold 0/0 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
}
.orderSysForm .orderSysFormBreak
{
	width:542px;
	height:2px;
	background: #e0e0e0 url(../images/aos/orderSysForm-break.gif) no-repeat 0 0;
	margin:0;
	padding:0;
	/* zero font line spacing to aviod extra space in IE6 */
	font: bold 0/0 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
}
.orderSysForm .orderSysFormBot
{
	width:542px;
	height:2px;
	background: #e0e0e0 url(../images/aos/orderSysForm-bot.gif) no-repeat 0 0;
	margin:0;
	padding:0;
	/* zero font line spacing to aviod extra space in IE6 */
	font: bold 0/0 'Helvetica Neue', Helvetica, 'Apple Gothic', sans-serif;
}

.orderSysForm .orderSysFormHeader
{
	width:542px;
	height:86px;
	background: #e0e0e0 url(../images/aos/orderSysForm-greyMid.gif) repeat-y 0 0;
	margin:0;
	padding:0;
}
.orderSysForm .orderSysFormHeader h1
{
	width:197px;
	height:81px;
	text-indent: -9999px;
	overflow: hidden;
	background: #e0e0e0 url(../images/aos/orderSysForm-logo.gif) no-repeat 0 0;
	margin:0 auto 0 auto;
	padding:0;
}
.orderSysForm .orderSysFormContent
{
	width:542px;
	background: #e0e0e0 url(../images/aos/orderSysForm-whiteMid.gif) repeat-y 0 0;
	margin:0;
	padding:20px 0 0 0;
}
.orderSysForm .orderSysFormContent p
{
	color: #5d5d5d;
	margin:0;
	padding:0;
	text-align: center;
	font: bold 16px/18px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.orderSysForm .orderSysFormContent form
{
	margin:30px auto 0 auto;
	padding:0 0 60px 0;
	width:320px;
}
.orderSysForm .orderSysFormContent label
{
	float:right;
	color: #565656;
	font: bold 11px/18px Arial, Helvetica, sans-serif;
	padding:0;
	margin:9px 10px 0 0;
}
.orderSysForm .orderSysFormContent span.details
{
	float:right;
	color: #666;
	font: bold 9px/18px Arial, Helvetica, sans-serif;
	padding:0;
	margin:0 35px 0 0;
	_margin-right:27px;
}
.orderSysForm .orderSysFormContent label span, .orderSysForm .orderSysFormContent span.details span
{
	color: #C41230;
	padding:0;
	margin:0;
}
.orderSysForm .orderSysFormContent input.fields
{
	color: #333333;
	float:right;
	font: bold 11px/18px Arial, Helvetica, sans-serif;
	padding:2px;
	margin:7px 0 0 0;
	width:200px;
}
.orderSysForm .orderSysFormContent input.submitButton
{
	float:right;
	font: bold 11px/18px Arial, Helvetica, sans-serif;
	padding:0;
	margin:10px 0 0 0;
	width:85px;
	height:18px;
	color: #ffffff;
	background-color: #C41230;
	border:0;
	text-transform: uppercase;
}
.orderSysForm .orderSysFormContent input.submitButton:hover
{
	color: #ffffff;
	background-color: #666;
}
.orderSysForm br.clear
{
	clear:both;
}

/* END: Style for Associate Ordering System Form */


/* SMP 16964 : styles for StoreMan help desk pages */
.helpdesk smPanel .sup {
    position: relative;
	line-height: inherit;
	font-size: 80%;
	top: -0.3em;
}
.lt-ie9 .helpdesk span.sup { /* legacy IE barfs on ad hoc XML element names */
    position: relative;
	line-height: inherit;
	font-size: 80%;
	top: -0.3em;
}