/* gather primary UI */
@import url('normalize.css');
@import url('style.css');

/* adjust for better print view */
*{font-family:Helvetica, Arial, sans-serif !important;}
#header,#header-promo,#navigation nav,#navigation ul,#footer-container,.btn-wrap,.pt_order-confirmation .actions,.oldie #root #container #wrapper.pt_order-confirmation .checkout-top p{display:none;}
.oldie *{width:auto !important;max-width:auto !important;min-width:0 !important;}
.pt_order-confirmation .mini-credit-card-location .minicreditcard-addressdetails{font-size:0.85em !important;color:#7B7D7F !important;line-height:1.2em !important;}
.oldie #root #container #wrapper.pt_order-confirmation #main .miniaddress .mini-address-location address{line-height:1.2em !important;}
.oldie #root #container #wrapper.pt_order-confirmation .digits-ofl-fix{font-size:100% !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-payment-summary .order-detail-summary .order-payment-instruments .details,.oldie #root #container #wrapper.pt_order-confirmation .order-payment-summary .order-detail-summary .order-payment-instruments .details .mini-credit-card-location{font-size:1.1em !important;line-height:1.2em !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-payment-summary .order-detail-summary h3{font-size:1.2em !important;line-height:1.2em !important;margin-bottom:0 !important;padding-bottom:0 !important;}
.oldie #root #container #wrapper.pt_order-confirmation *{border:0 !important;}
.oldie #root #container #wrapper.pt_order-confirmation .checkout-top{margin-bottom:-10px !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-totals-table{margin-top:-150px !important;margin-right:-100px !important;}
.oldie #root #container #wrapper.pt_order-confirmation table.order-shipment-table{page-break-inside:avoid !important;}
.oldie #root #container #wrapper.pt_order-confirmation #main .wrapper-checkout,.oldie #root #container #wrapper.pt_order-confirmation #main .wrapper-checkout .primary-content{padding-bottom:0 !important;}
.oldie #root #container #wrapper.pt_order-confirmation #main{margin-bottom:0 !important;margin-top:-15px !important;}
.oldie #root #container #wrapper.pt_order-confirmation #main .wrapper-checkout{top:0 !important;}
.oldie #root #container #wrapper.pt_order-confirmation .price-sales,.oldie #root #container #wrapper.pt_order-confirmation .subtotal{font-size:1.1em !important;}
.oldie #root #container #wrapper.pt_order-confirmation .price-data{font-size:1.3em !important;}
.oldie #root #container #wrapper.pt_order-confirmation .price-data .price-first-letter,.oldie #root #container #wrapper.pt_order-confirmation .order-shipment-table .order-total-wrapper .order-total span.value .price-first-letter{margin-right:3px !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-shipment-table .order-total-wrapper .order-total span.value{font-size:1.2em !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-total-wrapper,.oldie #root #container #wrapper.pt_order-confirmation .order-total{padding:0 !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-total{height:auto !important;margin-left:20px !important;}
.oldie #root #container #wrapper.pt_order-confirmation .order-totals-table .payment-total td h3{font-size:1em !important;margin:0 !important;padding:0 !important;}
.oldie .pt_order-confirmation .order-detail-summary table.order-totals-table tr td.price-data{margin-top:0 !important;}
.oldie .order-confirmation-details .order-shipment-table .product-list-item .name a{font-size:1.1em !important;}
.oldie .order-confirmation-details .section-header .order-date .columnheading.value{font-size:15px !important;}

/*wishlist print*/
.pt_wishlist .wishlist-breadcrumbs,
.pt_wishlist #secondary,
.pt_wishlist .wishlist-share-wrapp,
.pt_wishlist .item-option.option-add-to-cart.buttons,
.pt_wishlist #cart-table td.item-topinfo form.wishlist-edit, .pt_wishlist .footer-wrapper, .header-promo-area{display:none; float:none;}
.pt_wishlist #primary{margin:0 auto; float:none;}
.pt_wishlist .fixed-header, .pt_wishlist #navigation, .pt_wishlist #global-promo-header, .pt_wishlist #sub-header{display:none;}
.pt_wishlist #header, .pt_wishlist .wishlist-print-footer {display:block !important;}