body {
  margin: 0;
  padding: 0; }

#frg_wrapper.frg_restyled_page, .frg_site_header {
  margin: 0 0.87719% 10px 0.87719%;
  padding: 0; }

#frg_wrapper.frg_restyled_page .frg_site_header {
  margin-left: 0;
  margin-right: 0; }

.frg_grid_row {
  clear: both;
  margin: 0 0 0.87719% 0;
  min-width: 980px; }
  .frg_grid_row:after {
    content: " ";
    display: table;
    clear: both;
    line-height: 0;
    height: 0; }
  .frg_grid_row > *:first-child {
    margin-left: 0; }
  .frg_grid_row .frg_grid_row {
    margin-bottom: 0em;
    min-width: auto; }

img {
  line-height: 0;
  margin: 0;
  padding: 0;
  display: inline-block; }

.test {
  display: block; }

.frg_test_cnt {
  width: 100%;
  min-height: 60px;
  background-color: fuchsia;
  text-align: center;
  text-transform: uppercase; }

.frg_span_1 {
  width: 7.52212%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_1 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_2 {
  width: 15.9292%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_2 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_3 {
  width: 24.33628%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_3 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_4 {
  width: 32.74336%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_4 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_5 {
  width: 41.15044%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_5 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_6 {
  width: 49.55752%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_6 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_7 {
  width: 57.9646%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_7 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_8 {
  width: 66.37168%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_8 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_9 {
  width: 74.77876%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_9 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_10 {
  width: 83.18584%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_10 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_11 {
  width: 91.59292%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.88496%;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_11 img {
    width: 100%;
    height: auto;
    display: block; }

.frg_span_12 {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0.87719%; }
  .frg_span_12 img {
    width: 100%;
    height: auto;
    display: block; }

/**/
#frg_grid_test_wrapper .frg_span_1 {
  background-color: #0f0fff; }

#frg_grid_test_wrapper .frg_span_2 {
  background-color: #1f1fff; }

#frg_grid_test_wrapper .frg_span_3 {
  background-color: #2e2eff; }

#frg_grid_test_wrapper .frg_span_4 {
  background-color: #3d3dff; }

#frg_grid_test_wrapper .frg_span_5 {
  background-color: #4d4dff; }

#frg_grid_test_wrapper .frg_span_6 {
  background-color: #5c5cff; }

#frg_grid_test_wrapper .frg_span_7 {
  background-color: #6b6bff; }

#frg_grid_test_wrapper .frg_span_8 {
  background-color: #7a7aff; }

#frg_grid_test_wrapper .frg_span_9 {
  background-color: #8a8aff; }

#frg_grid_test_wrapper .frg_span_10 {
  background-color: #9999ff; }

#frg_grid_test_wrapper .frg_span_11 {
  background-color: #a8a8ff; }

#frg_grid_test_wrapper .frg_span_12 {
  background-color: #b8b8ff; }

#frg_grid_test_wrapper .frg_grid_row {
  background-color: yellow; }

/**/
.frg_omega {
  margin-right: 0; }

.frg_left {
  float: left; }

.frg_right {
  float: right !important; }

.frg_centered {
  margin: auto;
  float: none; }

.frg_center {
  text-align: center; }

.frg_hidden {
  display: none; }

.frg_margin_btm {
  margin-bottom: 0.87719%; }

.frg_grid_row .frg_row .frg_right {
  margin-right: 0; }
.frg_grid_row .frg_grid_row .frg_margin_btm {
  margin-bottom: 6.14035%; }

.frg_nest .frg_margin_btm {
  margin-bottom: 2.63158%; }

.frg_grid_row .frg_grid_row .frg_span_1 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_2 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_3 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_4 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_5 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_6 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_7 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_8 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_9 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_10 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_11 {
  margin-left: 0; }

.frg_grid_row .frg_grid_row .frg_span_12 {
  margin-left: 0; }

/* The Grid ---------------------- */
.lt-ie9 .row {
  width: 1000px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto; }

.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.lt-ie9 .row.large-collapse .column,
.lt-ie9 .row.large-collapse .columns {
  padding: 0; }

.lt-ie9 .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px; }

.lt-ie9 .row .row.large-collapse {
  margin: 0; }

.lt-ie9 .column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative; }

.lt-ie9 .column.large-centered, .columns.large-centered {
  float: none;
  margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child {
  float: right; }

.lt-ie9 [class*="column"] + [class*="column"].end {
  float: left; }

.lt-ie9 .large-1,
.lt-ie9 .row .large-1 {
  width: 8.33333%; }

.lt-ie9 .large-2,
.lt-ie9 .row .large-2 {
  width: 16.66667%; }

.lt-ie9 .large-3,
.lt-ie9 .row .large-3 {
  width: 25%; }

.lt-ie9 .large-4,
.lt-ie9 .row .large-4 {
  width: 33.33333%; }

.lt-ie9 .large-5,
.lt-ie9 .row .large-5 {
  width: 41.66667%; }

.lt-ie9 .large-6,
.lt-ie9 .row .large-6 {
  width: 50%; }

.lt-ie9 .large-7,
.lt-ie9 .row .large-7 {
  width: 58.33333%; }

.lt-ie9 .large-8,
.lt-ie9 .row .large-8 {
  width: 66.66667%; }

.lt-ie9 .large-9,
.lt-ie9 .row .large-9 {
  width: 75%; }

.lt-ie9 .large-10,
.lt-ie9 .row .large-10 {
  width: 83.33333%; }

.lt-ie9 .large-11,
.lt-ie9 .row .large-11 {
  width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12 {
  width: 100%; }

.lt-ie9 .row .large-offset-1 {
  margin-left: 8.33333%; }

.lt-ie9 .row .large-offset-2 {
  margin-left: 16.66667%; }

.lt-ie9 .row .large-offset-3 {
  margin-left: 25%; }

.lt-ie9 .row .large-offset-4 {
  margin-left: 33.33333%; }

.lt-ie9 .row .large-offset-5 {
  margin-left: 41.66667%; }

.lt-ie9 .row .large-offset-6 {
  margin-left: 50%; }

.lt-ie9 .row .large-offset-7 {
  margin-left: 58.33333%; }

.lt-ie9 .row .large-offset-8 {
  margin-left: 66.66667%; }

.lt-ie9 .row .large-offset-9 {
  margin-left: 75%; }

.lt-ie9 .row .large-offset-10 {
  margin-left: 83.33333%; }

.lt-ie9 .pull-2 {
  right: 16.66667%; }

.lt-ie9 .pull-3 {
  right: 25%; }

.lt-ie9 .pull-4 {
  right: 33.33333%; }

.lt-ie9 .pull-5 {
  right: 41.66667%; }

.lt-ie9 .pull-6 {
  right: 50%; }

.lt-ie9 .pull-7 {
  right: 58.33333%; }

.lt-ie9 .pull-8 {
  right: 66.66667%; }

.lt-ie9 .pull-9 {
  right: 75%; }

.lt-ie9 .pull-10 {
  right: 83.33333%; }

.lt-ie9 .push-2 {
  left: 16.66667%; }

.lt-ie9 .push-3 {
  left: 25%; }

.lt-ie9 .push-4 {
  left: 33.33333%; }

.lt-ie9 .push-5 {
  left: 41.66667%; }

.lt-ie9 .push-6 {
  left: 50%; }

.lt-ie9 .push-7 {
  left: 58.33333%; }

.lt-ie9 .push-8 {
  left: 66.66667%; }

.lt-ie9 .push-9 {
  left: 75%; }

.lt-ie9 .push-10 {
  left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row {
  *zoom: 1; }

.lt-ie9 .row:before, .row:after {
  content: " ";
  display: table; }

.lt-ie9 .row:after {
  clear: both; }

body {
  /*font-family: "news-gothic-std";*/
  background-color: #000;
  line-height: 1em; }
/*
* {
  font-family: "news-gothic-std";
  font-style: normal;
  font-weight: 400; }*/

/*.fixed{
	width: 100%;
	min-width: 1024px;
	top: 0;
	position: fixed;
	z-index: 9999;
}*/
.frg_site_header {
  height: auto;
  padding: 0;
  font-size: 15px;
  background-color: #000;
  margin-top: -20px; }

.frg_site_header .frg_banner {
  float: left; }

.frg_site_header .frg_grid_row {
  margin-bottom: 0; }

/* Logo */
#aurora_wdg_site_logo {
  margin-bottom: -10px; }

#aurora_wdg_site_logo * {
  margin: 0;
  padding: 0; }

#aurora_wdg_site_logo h1, #aurora_wdg_site_logo h1 a, #aurora_wdg_site_logo h1 img {
  text-align: center; }

#aurora_wdg_site_logo a {
  display: inline;
  text-align: center; }

/*  #frg_user_menu */
.frg_user {
  overflow: visible;
  margin-bottom: -5px;
  margin-left: 0; }

#frg_user_menu {
  float: left; }

.frg_username {
  display: block;
  float: left;
  margin: 0;
  line-height: 40px;
  max-width: 55%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.frg_user_menu_logged {
  position: relative;
  line-height: 25px;
  list-style-type: none; }

.frg_user_menu_logged .frg_second_lev_menu {
  line-height: 25px;
  list-style-type: none;
  min-width: 120px;
  text-transform: uppercase;
  margin-top: 11px; }

/* frg_goto_wishlist */
.frg_goto_cart, .frg_goto_wishlist {
  display: block;
  float: right;
  height: 23px;
  padding-top: 10px;
  line-height: 22px;
  font-size: 12px;
  width: 30px;
  margin: -1px 2% 0 0;
  text-align: center;
  background: transparent url(../../images/sprite_elements.png) no-repeat right -661px; }

.frg_goto_wishlist {
  width: 31px;
  background: transparent url(../../images/sprite_elements.png) no-repeat right -616px; }

/* Main menu */
#frg_main_menu {
  text-align: center;
  /*margin: auto;*/   /* VANGOGH */
  overflow: visible; }

#frg_main_menu > ul, #frg_user_menu ul {
  width: 100%;
  margin: 10px 0 0 0;
  line-height: 20px;
  vertical-align: baseline; }

#frg_main_menu ul li, #frg_user_menu ul li {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
  white-space: nowrap;
  vertical-align: baseline;
  position: relative;
  z-index: 1;
  width: 24%; }
  #frg_main_menu ul li:hover a, #frg_user_menu ul li:hover a {
    text-decoration: none;
    color: #fff; }

#frg_main_menu > ul > li:hover > a, #frg_main_menu > ul > li.selected > a, .frg_second_lev_menu > li:hover > a, .frg_third_lev_menu > li:hover a, .frg_second_lev_menu > li.selected > a, .frg_third_lev_menu > li.selected a {
  font-weight: 800;
  font-style: italic; }

#frg_main_menu > ul > li {
  background-color: rgba(255, 255, 255, 0.6); }

/* frg_user_menu */
#frg_user_menu ul li {
  margin: 0;
  padding: 0;
  width: auto; }

#frg_main_menu ul li:first-child {
  margin-left: 0; }

/*second level*/
.frg_second_lev_menu, .frg_third_lev_menu {
  background: url(../../images/bg_darker_overlay.png) repeat;
  position: absolute;
  z-index: 100;
  padding: 12px;
  top: 44px;
  left: 0;
  display: none; }

#frg_main_menu ul li > .frg_second_lev_menu {
  float: left;
  margin: 0;
  text-align: left; }

#frg_main_menu ul li > .frg_second_lev_menu li {
  display: block;
  line-height: 25px;
  list-style-type: none;
  white-space: nowrap;
  margin: 0;
  width: auto; }

#frg_main_menu ul li > .frg_second_lev_menu li a {
  display: block; }

.frg_third_lev_menu {
  float: left;
  left: 116%;
  z-index: 300;
  top: -22px; }

/*search*/
#CatalogSearchForm {
  float: right;
  margin-top: 6px;
  width: 78%; }

#CatalogSearchForm label {
  display: none; }

#CatalogSearchForm input {
  border: none;
  line-height: 30px; }

#CatalogSearchForm input#SimpleSearchForm_SearchTerm {
  background: #2a2c35 url(../../images/sprite_elements.png) no-repeat 101% -787px;
  min-width: 100px;
  max-width: 130px;
  width: 100%;
  padding-right: 40px;
  color: #fff;
  float: right;
  text-transform: uppercase; }

#CatalogSearchForm #search_submit {
  height: 30px !important;
  width: 30px !important;
  padding: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }

/*#CatalogSearchForm input#SimpleSearchForm_SearchTerm:focus{
	background: #fff url(../../images/sprite_elements.png) no-repeat right -827px;
	color: #2a2c35;
	max-width: 100%;
	width: 100%;
}*/
@media screen and (min-width: 1600px) {
  .frg_username {
    width: 70%; } }
@media screen and (min-width: 1190px) {
  .frg_username {
    max-width: 61%; } }
*[class*="ratio_"] {
  background-color: white; }
  *[class*="ratio_"] > a {
    display: block;
    height: 100%;
    width: 100%; }

/* figcaption visible on hover */
.frg_restyled_page figure {
  position: relative; }
  .frg_restyled_page figure figcaption {
    display: none;
    text-transform: uppercase;
    background: url(../../images/bg_darker_overlay.png) repeat;
    width: 80%;
    text-align: center;
    padding: 22px 5%;
    position: absolute;
    bottom: 4%;
    left: 5%;
    z-index: 100; }

.frg_restyled_page figure:hover figcaption {
  display: block; }

.frg_restyled_page .frg_persistent_caption {
	background: none;
  display: block;
  bottom: 40%;
  padding: 3% 5%;
  font-size: 15px;
  line-height: 18px; }
  .frg_restyled_page .frg_persistent_caption p {
    margin-bottom: 0;
    font-size: 13px; }

.frg_restyled_page .frg_product_img {
  position: absolute; }

.frg_restyled_page .frg_product_img img {
  width: 80%;
  margin: 0 10%; }

/* banner in home layout */
.frg_home_banner {
  position: relative; }
  .frg_home_banner .frg_home_banner_cnt {
    margin: 0;
    padding: 10%;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    width: 80%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    text-transform: uppercase; }

.frg_span_4 .frg_home_banner_cnt {
  padding-top: 15%; }
