/*
$Id: main.FF.css,v 1.17 2009/09/06 16:05:23 igoryan Exp $
vim: set ts=2 sw=2 sts=2 et:
*/
#content-container, #center-main {
  overflow: visible;
}
button.button {
  margin-right: -3px;
  margin-left: -3px;
}
div.button {
  margin-top: 1px;
}
.login-buttons div.button {
  margin-top: 2px;
}
button.simple-button {
  margin-top: 2px;
}
.ajax-minicart img.minicart-button {
  margin-top: 1px;
  margin-bottom: 5px;
}
button.do-add2cart-wait .button-left,
  button.do-add2cart-success .button-left,
  button.do-add2cart-error .button-left
{
  margin-top: -2px !important;
}
