    body {margin-left:0px; margin-top:0px;}

    #flyout-wrapper {
        position: relative;
        width: 755px;
        height: 285px;
        margin-top: 24px;
		margin-left: 30px;
    }

    .flyoutSlide {width: 237px;}

    .flyoutSlide:hover {cursor: pointer;}
        
    #divider {border-left: 1px solid #e2e2e2; height: 100%; margin-left: 30px; margin-right: 30px;}

    #flyout-wrapper div {float: left;}    
    #featureTitle {font-size: 19px; color:#333; float: left; margin-bottom: 15px; font-family: Times New Roman, serif; }        
    #slideText {margin-top: 5px; clear: both;}
    #slideText h3 {margin-top: 0px; margin-bottom: 0px; font-size: 19px; color:#333;  font-family: Times New Roman, serif; font-weight: normal; }
    #slideText .text {
	font-family: "Didot W01 Italic", Times New Roman, Times, serif;
	font-size: 14px;
	letter-spacing:.5px;
	color: #666;
	text-transform:none;
	line-height:17px;
	padding-top:4px;}

    #cycle-feature:hover, #bottomText:hover {cursor: pointer;};
	
	@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ce4ef65e-5b51-4870-a855-9b75c58c4d7a");

@font-face{
font-family:"Didot W01 Italic";
src:url("Fonts/9c2cfd19-472b-4ef5-ad73-43eee68dc43b.eot?#iefix");
src:url("Fonts/9c2cfd19-472b-4ef5-ad73-43eee68dc43b.eot?#iefix") format("eot"),url("Fonts/09a4b57b-7400-4d30-b4ba-d6e303c57868.woff") format("woff"),url("Fonts/a0cb08d5-975f-4c8d-bcdc-d771a014d92a.ttf") format("truetype"),url("Fonts/86d60a09-e8f8-4003-b688-0f8a2aba6532.svg#86d60a09-e8f8-4003-b688-0f8a2aba6532") format("svg");
}
@font-face{
font-family:"Gianotten LT W01";
src:url("Fonts/6f2fda70-85a9-4371-a788-c1d67cccf5dd.eot?#iefix");
src:url("Fonts/6f2fda70-85a9-4371-a788-c1d67cccf5dd.eot?#iefix") format("eot"),url("Fonts/370f482d-7f45-43b0-adc7-b369de67508b.woff") format("woff"),url("Fonts/f46bbdaf-3f8f-4b23-8854-f238396bf5b8.ttf") format("truetype"),url("Fonts/ee5d79af-53ee-423c-a087-6978f17219f4.svg#ee5d79af-53ee-423c-a087-6978f17219f4") format("svg");
}

@font-face{
font-family:"Didot W01 Bold Italic";
src:url("Fonts/5fa305e7-b64e-4c8a-b1f5-324ecc0b83ed.eot?#iefix");
src:url("Fonts/5fa305e7-b64e-4c8a-b1f5-324ecc0b83ed.eot?#iefix") format("eot"),url("Fonts/69ebc5c0-3a5a-4452-a681-d3ba91648d9f.woff") format("woff"),url("Fonts/98cd62f2-3e6f-4bf5-8d48-42df36207b6d.ttf") format("truetype"),url("Fonts/97dc6a4b-7baa-436e-9d48-62870c1e49ac.svg#97dc6a4b-7baa-436e-9d48-62870c1e49ac") format("svg");
}


