			.scReviewsContainer,
			#scReviewsStoreLink, 
			#scReviewsPoweredBy,
			.scReviewFormHeader,
			.verifiedText{
				font-size: 12px;	
			}
			body, 
			.scReviewsPagingBar, 
			.scReviewsReviewDate, 
			.scReviewsReviewName, 
			.scReviewsReview, 
			.scReviewsHelpful,
			#scReviewForm,
			#scReviewForm input, 
			#scReviewForm select, 
			#scReviewForm textarea,
			.scReviewFormFooter{
				font-size: 11px;
			}			body, #scReviewsOverLay, #scReviewForm{
				font-family:Arial, Helvetica, sans-serif;
			}			#scReviewsContainer, .scReviewsHelpful, #scReviewForm, #scReviewForm input.scReviewFormSubmit, #scReviewsHeader{
				color:#0c457d;
			}			#scReviewsContainer a, #scReviewForm a, #scReviewsStoreLink a, #scReviewsPoweredBy a{
				color:#85ab09;
			}			.scReviewsPagingBar, .scReviewFormHeader, #scReviewForm input.scReviewFormSubmit{
				background-color:#f2eff1;
			}
			#scReviewForm{
				border:1px solid #f2eff1;
			}
			.scReviewsSeparator{
				border-top:1px solid #f2eff1;
			}			.scReviewsContainer, #scReviewsHeader{
				width:737px;
			}
			.scReviewsReview{
				width:727px;
			}
			.scReviewsPagingBar{
				width:731px;
			}			.verifiedSymbol{
				background: url(../images/verified-icons/verified-blue.png) no-repeat;
			}