.s7flyoutStaticImage {width:456px;height:698px;}

.s7flyoutFlyoutView {
       width : 358px;
       height : 688px;
       border : 1px #A3A29E solid;
	   margin-left:-29px;
 -webkit-box-shadow : 3px 3px 4px #000000;
	box-shadow : 3px 3px 4px #000000;
	filter : progid:DXImageTransform.Microsoft.Shadow(color=#a9a9a9,direction=90,strength=4) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=4)
	background-color : #ffffff;
}

.s7flyoutFrame {
       /*border : 1px #cccccc solid;*/
}

/*

* This css is defined in Scene7Styles.jsp

.s7flyoutCursorDesktop {
	width : 205px;
	height : 197px;
	cursor : pointer;
	background-image : url(/images/armaniexchange/en_us/global/scene7/largeCursor.png);
}

*/

.s7flyoutCursorTouch {
       width : 80px;
       height : 80px;
}