/*
 header{}
 header div#utils{margin-top:0px;}
 header div.search{display:block;clear:both;float:right;margin-top:10px;}
 .eco-mini-basket{background:url('http://ec.lg.com/images/eco-mini-basket.png')   no-repeat 5px 5px  #D90940;float:left;padding:0 10px 0 30px;color:#fff;margin-left:5px;cursor:pointer;border-radius: 0px 0px 6px 6px;}
 .glance p.eco-addtocompare{float:left;display:inline-block;}
 .glance p.eco-addtocompare label{}
 .glance a.small.button.eco-addtobasket{display:inline-block;float:right;}
 .glance a.eco-wheretobuy{display:inline-block;float:right;margin-right:5px;clear:both;text-decoration:none;color:#d80546;}
 .copy-area .eco-wheretobuy{display:inline-block;clear:both;margin: -7px auto 5px 10px;float:right;color:#d80546;}
 .copy-area .eco-addtobasket{display:inline-block;clear:both;margin: -35px auto 5px 10px;}
 .cta-wrapper .cta-button a{display:block;float:none;clear:both;}
 .cta-wrapper .cta-button a.eco-wheretobuy{margin-top:5px;text-align:right;color:#c70752}
*/

header div#utils{margin-top:0px;}
header div.search{clear:both;margin-top:10px;position:absolute;right:0;top: 25px;}

.eco-mini-basket{background:url('/lg3-common-v4/images/e-commerce/eco-mini-basket.png')   no-repeat 6px 6px  #6a6a6a;float:left;padding:0 10px 0 30px;color:#fff;margin-left: 10px;line-height: 25px;border-radius: 0px 0px 6px 6px;}
.eco-mini-basket a:hover {text-decoration:none;}
.eco-mini-basket a[href]:hover {text-decoration:underline;}
.eco-mini-basket.deactive{background:url('/lg3-common-v4/images/e-commerce/eco-mini-basket.png')   no-repeat 6px 6px  #6a6a6a;}
.eco-mini-basket.active{background:url('/lg3-common-v4/images/e-commerce/eco-mini-basket.png')   no-repeat 6px 6px  #D90940;}
.eco-mini-basket span{margin:0 3px}

/*.glance p.eco-addtocompare{float:left;display:inline-block;}*/
.glance p.eco-addtocompare label{}
.glance a.small.button.eco-addtobasket{display:inline-block;float:right;}
.glance a.eco-wheretobuy{display:inline-block;float:right;margin-right:5px;clear:both;text-decoration:none;color:#d80546;}
.copy-area .eco-wheretobuy{display:inline-block;clear:both;margin: -7px auto -1px 10px;float:right;color:#d80546; }
.copy-area .eco-addtobasket{display:inline-block;clear:both;margin: -35px auto 5px 10px !important;}
.ie .copy-area .eco-wheretobuy{margin: -9px auto 5px 10px !important; }
.lt-ie9 .copy-area .eco-wheretobuy{margin: -24px auto 5px 10px !important; }
.ie7 .copy-area .eco-wheretobuy {margin: 0 auto 5px 10px !important; }
.ie7 .copy-area .ratings-wrapper {line-height:12px}
.lt-ie9 .copy-area .eco-addtobasket{margin: -13px auto 5px 10px !important}


.cta-wrapper .cta-button a{display:block;float:none;clear:both;}
.cta-wrapper .cta-button a.eco-wheretobuy{margin-top:5px;text-align:right;color:#c70752; border-right:0; }

.product-compare { }
/* ############################################### banner ############################################### .S */
.e-commerce header { display:block; min-height:127px; border-bottom:1px solid #ccc;}
.e-commerce #hero-area{margin-bottom:0px;}
.e-commerce .column-wrapper{padding-top:54px;}
.e-commerce .subnav h3{font-weight:bold;margin-bottom:40px;}
.e-commerce .subnav h4{font-weight:bold;margin-bottom:15px;}
.e-commerce .e-commerce-round-box-ul{display:inline-block;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box{float:left;margin-right:26px;margin-bottom:26px;width:357px;height:333px;border:1px solid #c6c6c6;-moz-border-radius: 6px;border-radius: 6px;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box.no-margin-right{margin-right:0;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box h3{font-size:18px;width:303px;height:45px;margin:0 auto;margin-top:27px;text-align:center;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box img{width:303px;display:block;margin:0 auto;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box div{width:303px;display:block;margin:0 auto;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box div p{font-size:14px;}
.e-commerce .e-commerce-round-box-ul .e-commerce-round-box div a{display:block;margin:0 auto;width:200px;}
.e-commerce .carousel.e-commerce-banner{height:222px;padding:0;border-top:1px solid #ccc;}
.e-commerce .carousel.e-commerce-banner .carousel-mask{width:960px;height:222px;left:0px;}
.e-commerce .carousel.e-commerce-banner .carousel-mask ul{margin-left:0px;}
.e-commerce .carousel.e-commerce-banner .carousel-mask .hotspot{width:960px;height:222px;}
.e-commerce .carousel.e-commerce-banner .carousel-arrow-left{background:none;}
.e-commerce .carousel.e-commerce-banner .carousel-arrow-left a{height:221px;width:42px;margin-top:50px;background:url('/lg3-common-v4/images/e-commerce/ec-left-roll.png') no-repeat 0 0 ;}
.e-commerce .carousel.e-commerce-banner .carousel-arrow-right{background:none;}
.e-commerce .carousel.e-commerce-banner .carousel-arrow-right a{height:221px;width:42px;margin-top:50px;background:url('/lg3-common-v4/images/e-commerce/ec-right-roll.png') no-repeat 0 0 ;}
.e-commerce .carousel.e-commerce-banner .carousel-mask .counsel-content{position:absolute;top:50px;left:100px;}
.e-commerce .carousel.e-commerce-banner .carousel-mask .counsel-content h1{color:#d10438;}


.e-commerce .carousel.e-commerce-banner .counsel-indicator{position:absolute;bottom:0px;height:22px;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left{height:22px;float:left;background:url("/lg3-common-v4/images/e-commerce/ec-banner-left-bg.png") repeat-x;padding-left:15px;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left .ec-banner-select{display:block;position:static;left:auto;margin-left:0px;margin-top:6px;height:10px;width:auto;min-width:inherit;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left .ec-banner-select li{width:11px;height:10px;float:left;display:inline;cursor:pointer;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left .ec-banner-select li img{width:11px;height:10px;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left .ec-banner-select li.sel{background:url("/lg3-common-v4/images/e-commerce/ec-banner-nav-active.png") no-repeat;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-left .ec-banner-select li.no-sel{background:url("/lg3-common-v4/images/e-commerce/ec-banner-nav.png") no-repeat;}
.e-commerce .carousel.e-commerce-banner .counsel-indicator .ec-banner-right{height:22px;float:left;width:15px;background:url("/lg3-common-v4/images/e-commerce/ec-banner-right-bg.png") no-repeat;}
/* ############################################### banner ############################################### .E */

/* ############################################### order list-detail ############################################### .S */
.e-commerce-desc{}
.e-commerce-desc a{font-weight:bold;}

.e-commerce-desc strong{color:#d80546;}
table.e-commerce-table{width:960px;}
table.e-commerce-table thead th{height:25px;background:#e8e8e8;color:#666666;vertical-align:middle;border:1px solid #fff;padding-left:16px;}
table.e-commerce-table tbody td{height:34px;color:#666666;border-bottom:1px dotted #b5b5b5;padding-left:16px;vertical-align:middle;border-right:1px solid #dddddd;}
table.e-commerce-table tbody td.e-commerce-td-end{border-right:0px;}
table.e-commerce-table tbody td a{color:#666666;}

.e-commerce-desc-ul{display:inline-block;border-bottom:1px solid #ccc;}
.e-commerce-desc-ul ul{margin-top:30px;margin-bottom:30px;display:inline-block;clear:both;}
.e-commerce-desc-ul ul li{width:265px;height:95px;float:left;border-right:1px solid #cccccc;margin-left:0px;margin-right:50px;line-height:120%;}
.e-commerce-desc-ul ul li.e-commerce-end-li{border-right:0px;}
.e-commerce-desc-ul ul li h3{margin-bottom:20px;}
.e-commerce-desc-ul ul li strong{text-transform:uppercase;}
.e-commerce-desc-ul span{display:block;clear:both;margin-bottom:20px;}

.e-commerce-details{padding-top:30px;}
.e-commerce-details h3{float:left;height:29px;line-height:29px;}
.e-commerce-details .e-commerce-print-td{float:right;}
.e-commerce-details .e-commerce-print-td div.hotspot{width:24px;height:29px;float:right;display:Inline-block;margin-left:10px;}
.e-commerce-details table.e-commerce-table{margin-top:10px;float:left;}
.e-commerce-details table.e-commerce-table thead th{text-align:center;padding:0px;}
.e-commerce-details table.e-commerce-table tbody{border-bottom:1px solid #ccc;}
.e-commerce-details table.e-commerce-table tbody td{text-align:center;padding:0px;}
.e-commerce-details table.e-commerce-table tfoot{}
.e-commerce-details table.e-commerce-table tfoot td{padding-top:20px;}
.e-commerce-details table.e-commerce-table tfoot dl{clear:both;float:right;}
.e-commerce-details table.e-commerce-table tfoot dl dt{width:65px;float:left;height:16px;text-align:right;}
.e-commerce-details table.e-commerce-table tfoot dl dd{width:70px;float:left;height:16px;text-align:right;padding-left:5px;}
.e-commerce-details table.e-commerce-table tfoot dl.e-commerce-total{color:#d80546;}

.e-commerce-p{margin-top:20px;}

.e-commerce-details table.e-commerce-table .e-commerce-align-left{text-align:left;padding-left:16px;}
a.e-commerce-here{color:#d80546;}
/* ############################################### order list-detail ############################################### .E */

/* ############################################### whre to buy ############################################### .S */
#where-to-buy-page .product-image-info{margin-top:-40px;}
#where-to-buy-page .where-to-buy-product .item-info{padding-top:0px;}
.lt-ie8 #where-to-buy-page .where-to-buy-product .item-info{padding-top:20px;}

#where-to-buy-page .where-to-buy-product h1{margin-bottom:20px;}
.lt-ie8 #where-to-buy-page .where-to-buy-product h1{margin-bottom:2px;}

#where-to-buy-page .where-to-buy-product .item-info{width:490px;}
#where-to-buy-page .where-to-buy-product .item-info span{float:none;}
#where-to-buy-page .where-to-buy-product .item-info span.product-size + ul { display:inline-block; zoom:1; *display:inline; vertical-align:bottom; }
#where-to-buy-page .where-to-buy-product .item-info span.product-size + ul li { margin-bottom:0 }
#where-to-buy-page  .item-info ul.features{margin-top:10px;clear:both;color: #222;list-style-type: none;text-transform: uppercase;font-weight: normal;text-align: left;}
#where-to-buy-page  .item-info ul.features li {width:490px;clear:both;padding-left: 15px;margin-bottom: 6px;border-right:0px;background: url("/lg3-common-v4/images/global/lg-global-sprite.png") -276px -436px no-repeat transparent;}
#where-to-buy-page .ratings-wrapper {border-right: 0 dotted #a3a3a3;display: block;clear:both;margin-left: 12px;padding-bottom: 10px;width: 140px;}
#where-to-buy-page .ratings-wrapper li{float: left;border-right:0px;padding: 0px;color: #333;}
#where-to-buy-page .ratings-wrapper a {color: #c70752;border: 0;}

.e-commerce-where{float:right;margin-right:50px;width:250px;}
.e-commerce-where dl{margin-top:20px;}
.lt-ie8 .e-commerce-where dl{margin-top:30px;}
.e-commerce-where dl dt{}
.e-commerce-where dl dt h3{color:#d80546;}
.e-commerce-where dl dd{}

.e-commerce-where dl dd .details{position: static;}
.e-commerce-where dl dd .details p.product-price {float: left;width: 75px;margin: 0;min-width: 22px;min-height: 23px;font-size:30px;font-family: "LGFontMedium";color: #D80546;}

.e-commerce-where dl dd .details  .legal {clear: left;font-size: 8px;line-height: 6px;min-width: 6px;min-height: 6px;color:#666;}
.e-commerce-where dl dd .details  .legal.e-commerce-top{float:none;}

.product-image-info .e-commerce-where  ul{display:inline-block;width:250px;}
.product-image-info .e-commerce-where  ul li{float:left;border:0px;}
.product-image-info .e-commerce-where  ul li.e-commerce-right{float:right;}
/* LGEUS-4298 : modify 2014-05-12  */
.product-image-info .e-commerce-where  ul li.e-commerce-right a.eco-addtobasket{display:inline-block;margin-right:10px;margin-top:15px; font-size:11px;}
/*// LGEUS-4298 : modify 2014-05-12  */
/* ############################################### whre to buy ############################################### .E */


/* ############################################### list ############################################### .S */
/* .product .ratings {margin-bottom: 0px;}
     .product.product4[data-commerce-key] .ratings {margin-bottom: 5px;}
 .product .legal {margin-left: 0px;}
 .product label{bottom:-10px;}
 .product .copy-area .details{bottom:20px;}
     .product.product4[data-commerce-key] .copy-area .details { bottom:5px; }
 .product .copy-area .eco-wheretobuy {margin-top: 1px;}*/
/* ############################################### list ############################################### .E */

/* ############################################### search result list ############################################### .S */
/* featured product */
ul.e-commerce-search{display:inline-block;margin-top:10px;padding-top:10px;border-top:0px dotted #ccc;}
ul.e-commerce-search li{float:left;margin:0 5px 0 5px;}
ul.e-commerce-search p.product-price {width:80px;display:inline-block;float:none !important;font-size: 20px;color: #D80546;}
ul.e-commerce-search div.legal{float:none !important;line-height:11px;}
ul.e-commerce-search a.eco-addtobasket{margin-top:0px;}
ul.e-commerce-search a.eco-wheretobuy{margin-top:5px;}
ul.e-commerce-search .ratings li{margin:0 5px 0 0;}
li.e-commerce-search{padding-left:10px;border-left:1px dotted #ccc;}
.new_search_result_list a.eco-wheretobuy{width:82px;display:block;margin:0 auto;color:#d80546;margin-top:10px;}
#search-page .arrow, #search-page .square { width:auto;}
#search-page ul.features li { width:auto; clear:both; margin-bottom:0; }
#search-page .details a.model { white-space:nowrap; }
#search-page .details a.eco-wheretobuy { min-width:82px}

/* at a glance */
.tooltip.e-commerce{display:block;}
.tooltip.e-commerce .productDetails .title-wrapper{}
.tooltip.e-commerce .productDetails .title-wrapper h3{display:inline-block;float:left;}
.tooltip.e-commerce .productDetails .title-wrapper .ratings-wrapper{display:inline-block;float:left;margin-left:15px;}
.tooltip.e-commerce .productDetails .title-wrapper .ratings-wrapper .rating-numbers span{color:#d80546;}
.tooltip.e-commerce .ratings li{margin:0 0 0 0;}
.tooltip.e-commerce .copy-wrapper ul.e-commerce-search{float:right;border-top:0px;margin-top:0px;}
.tooltip.e-commerce .copy-wrapper ul.e-commerce-search li{width:80px;float:left;}
.tooltip.e-commerce .copy-wrapper ul.e-commerce-search li.end{width:100px;}
.tooltip.e-commerce .copy-wrapper ul.e-commerce-search p.product-price {width:80px;display:inline-block;float:none !important;font-size: 20px !important;color: #D80546;}
.tooltip.e-commerce .copy-wrapper .features{margin-bottom:0px!important;}
.tooltip.e-commerce .copy-wrapper ul.e-commerce-search a.eco-wheretobuy{margin-top:10px;margin-left:10px;}

a.eco-wheretobuy img { margin-right:3px;}
#search-page a.eco-wheretobuy img { float: left; margin-right: 3px;}

.row .details{position:relative;}
a.eco-wheretobuy-abs{position:absolute;bottom:0px;}
.lt-ie9 a.eco-wheretobuy-abs{position:absolute;bottom:-16px;left:15px;}
#search-page .glance ul.e-commerce-search  a.eco-wheretobuy{margin-top:0px;}




.lt-ie9 #search-page .glance { z-index:99999; zoom:1; }
.lt-ie9 #search-page .glance:after { clear:both; content:" "; display:block; }
.lt-ie9 #search-page .glance .payload { z-index:99999; position:relative; min-height:200px; }
.lt-ie9 #search-page .glance .payload:after { clear:both; content:" "; display:block; }
.lt-ie9 #search-page .glance .product-classes { float:none; }
.lt-ie9 #search-page .glance .product-classes.eco-model { float:left; width:auto; }
.lt-ie9 #search-page .glance .product-classes.eco-rating { width:auto; }
/*.lt-ie9 #search-page .glance .product-classes ul.rating { width:auto; }*/



.lt-ie9 #search-page .glance ul.e-commerce-search { }
.lt-ie9 #search-page .glance ul.e-commerce-search li.end { width:90px; }
.lt-ie9 #search-page .glance ul.e-commerce-search li.end a.eco-wheretobuy{ width:80px; white-space:nowrap; float:right !important; margin-right:0; }
#search-page ul.e-commerce-search  a.eco-feel { display:none;}
/* ############################################### search result list ############################################### .E */

/* ############################################### common ############################################### .S */
.eco-mini-basket *{color:#fff !important;text-transform:none;font-size:12px;}

.lt-ie9 .copy-area .eco-wheretobuy{width:100px;text-align:center;}
.compare-view #items-wrapper { height:250px; }
.compare-view .item a.eco-addtobasket { }
.compare-view .item a.eco-wheretobuy { clear: both; color: #c70752; float: left; margin-top: 5px; }

.tooltip[data-commerce-key] .payload { height:100%;}
.tooltip[data-commerce-key] .payload:after { content:" "; display:block; clear:both; }

.util-links .signin.on { color:#d80546; }

.tagline .innerwrap .support a.shipping {height:0; background: url(/lg3-common-v4/images/e-commerce/ecommerce_footer_icons.jpg) 0 0 no-repeat; }
.tagline .innerwrap .support a.returns {height:0; background: url(/lg3-common-v4/images/e-commerce/ecommerce_footer_icons.jpg) -60px 0 no-repeat; }

/* 20140403 Where To Buy : add */
.new_search_result_list .details a.eco-wheretobuy {margin:10px 0}