.form {
    margin: 0;
    position: relative
}

fieldset.filtered {
    margin-bottom: 18px
}

ul.content {
    list-style-type: none;
    width: 999em
}

legend {
    text-transform: uppercase;
    padding-bottom: 4px;
    clear: both;
}

label {
    display: block;
    margin: 4px 0
}

label.last {
    padding-bottom: 10px
}

label input {
    margin-right: 6px
}

.swatch {
    position:relative;
    margin-right: 6px;
    margin-bottom: 14px;
    float: left;
    width: 12px;
    height: 12px;
    border: 1px solid #9b9c9c
}

.swatch > span {
    display:inline-block;
    position:absolute;
    top:-2px;
    left:-2px;
    width:12px !important;
    height:12px !important;
}

.swatch input[type="checkbox"] {
    /*display: none*/
    position:absolute;
    top:-2px; 
    left:-2px;
    opacity:0;
    filter:alpha(opacity=0);
}

.swatch.active > span {
    border: 2px solid #d80546
}
.swatch input[type="checkbox"]:focus + span {
    border: 2px solid #7D9FD6
}

.swatch.smooth-black {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') 0 0 no-repeat
}

.swatch.smooth-white {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -14px 0 no-repeat
}

.swatch.stainless-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -28px 0 no-repeat
}

.swatch.black {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -42px 0 no-repeat
}

.swatch.white {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -56px 0 no-repeat
}

.swatch.graphite-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -70px 0 no-repeat
}

.swatch.chardonnay {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -84px 0 no-repeat
}

.swatch.wild-cherry-red {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -98px 0 no-repeat
}

.swatch.silver {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite.gif') -112px 0 no-repeat
}

.swatch.black {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') 0 0 no-repeat
}

.swatch.platinum-silver {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -14px 0 no-repeat
}

.swatch.shine-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -28px 0 no-repeat
}

.swatch.shine-brushed-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -42px 0 no-repeat
}

.swatch.glossy-white {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -56px 0 no-repeat
}

.swatch.black-brushed-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -70px 0 no-repeat
}

.swatch.brushed-steel {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-uk.gif') -84px 0 no-repeat
}

.swatch.titanium {
    background: url('/lg3-common-v4/images/global/lg-swatch-sprite-tr.gif') -28px 0 no-repeat
}

.swatch input.realtime {
	display:block;
	position:absolute;
	left:-2000px;
}

.swatch.disable { 
	opacity:0.5;
	cursor:default;
}