.modal span {
    color: #d80546;
    line-height: 18px;
}

.modal .image-wrapper {
    width: 100%;
    border: 1px solid #cbcbcb;
}

.payload.enlarge {
    background: 0;
}

#product-filter .filtered-header {
    position: relative;
    background: #c70752;
    width: 100%;
    height: 86px;
    margin: 0;
    padding: 0;
}

#product-filter .filtered-header h1 {
    position: absolute;
    font-size: 32px;
    top: 30px;
    color: #fff;
    margin: 0;
}

#product-display {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    /* margin-top: 2px; */
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 540px;
    background: -moz-linear-gradient(top,#dedede,white 45px);
    background: -webkit-gradient(linear,0 0,0 45,from(#ececec),to(#fff));
    opacity: 0;
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    border-top: 1px solid #ccc;
}

#product-display.animate {
    opacity: 1;
    -webkit-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
}

.product-spacer {
    height: 440px;
    width: 496px;
    float: left;
}

.pane-aside {
    position: absolute;
    left: 23px;
    bottom: 59px;
    width: 48px;
}

#product-display .pane-aside {
    left: 15px;
    width: 48px;
}

.link-360 {
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 2px solid #cbcbcb;
    border-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.link-360 a:link,.link-360 a:visited,.enlarge a.hotspot:link,.enlarge a.hotspot:visited,.link-enlarge a:link,.link-enlarge a:visited {
    display: block;
    padding-top: 28px;
    padding-left: 2px;
    text-decoration: none;
    font-family: "LGFontMedium";
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    width: 53px;
}

.link-360 a:link,.link-360 a:visited {
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") 9px -806px no-repeat transparent;
}

.link-360 a:hover, .link-360 a:focus {
    color: #d80546;
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") 9px -845px no-repeat transparent;
}

.enlarge {
    padding-top: 5px;
    position: relative;
    left: 0;
    top: 0;
    border-top: 0;
    padding-bottom: 4px;
}

.enlarge.standard {
    border-top: 0;
}

.enlarge a.hotspot:link,.link-enlarge a.hotspot:link,.link-enlarge a:visited {
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") no-repeat scroll 11px -892px transparent;
}

.enlarge a.hotspot:hover, .enlarge a.hotspot:focus,v.link-enlarge a.hotspot:hover {
    color: #d80546;
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") 11px -931px no-repeat transparent;
}

.social-share {
    margin-top: 16px;
}

.product-info {
    margin-top: 55px;
    float: right;
    width: 460px;
    min-height: 350px;
    color: #333;
}

.product-info h3 {
    font-family: "LGFontMedium",Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #d80546;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 26px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.product-info h2 {
    color: #222;
    font-family: "LGFontMedium",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 15px 10px 0;
    padding: 0;
}

.product-info h1 {
    padding-right: 15px;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.product-info a {
    border-right: 1px solid #ccc;
    padding-right: 4px;
    color: #c70752;
}

.product-info a:last-child {
    border-right: 0;
    padding-right: 0;
}

.product-info a.selected {
    color: #333;
}

.product-info a:hover, .product-info a:focus {
    color: #7e0937;
}

.product-info a.selected:hover {
    text-decoration: none;
    color: #333;
}

.product-info b a:first-child::after {
    content: "|";
    font-weight: 300;
    color: #717171;
    display: inline-block;
    margin: 0 1px 0 3px;
}

.product-info .ratings-wrapper a {
    color: #c70752;
    border: 0;
}

.product-info p {
    margin: 5px 20px 0 5px;
    font-size: 10px;
}

.product-info .legal {
    color: #333;
    font-family: Arial;
    font-size: 11px;
    line-height: 6px;
    margin-left: -100px;
    margin-right: 50px;
    top: 15px;
    position: relative;
}

.product-info label {
    /* min-height: 20px; */
}
.webkit .product-info label {
    white-space: nowrap;
}
.features-wrapper {
    float: right;
    width: 460px;
    margin-top: 15px;
}

.features-wrapper::after {
    clear: right;
}

.product-info ul.features {
    color: #222;
    font-family: "LGFontMedium",Arial,Helvetica,sans-serif;
    font-size: 12px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    max-width: 420px;
}

.product-info ul.features li {
    padding-left: 15px;
    margin-bottom: 6px;
    background: url("/lg3-common/images/global/lg-global-sprite.png") -276px -436px no-repeat transparent;
}

.product-info a.button {
    padding: 4px 6px;
    vertical-align: super;
    float: left;
    margin-left: 4px;
    border-radius: 6px;
    color: #fff;
}

.price {
    float: left;
    border-right: 1px dotted #a3a3a3;
    margin-left: 12px;
    padding-right: 12px;
}

.price-new {
    border-right: 0;
    border-left: 1px dotted #a3a3a3;
    padding-left: 12px;
    padding-right: 0;
}

.price h3 {
    font-family: "LGFontMedium",Arial,Helvetica,sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 28px;
    min-height: 26px;
}

.price .msrp {
    float: left;
    margin-left: 22px;
    min-height: 16px;
}

.price sup.cents {
    top: -0.2em;
}

.cta-wrapper .ratings-wrapper {
    border-right: 0 dotted #a3a3a3;
    display: block;
    float: left;
    margin-left: 12px;
    padding-bottom: 10px;
    width: 140px;
}

.cta-wrapper .ratings-wrapper a.clear {
    margin-left: 5px;
}

.lt-ie9 .cta-wrapper p {
    width: 200px;
}

.cta-wrapper .btn {
    text-transform: uppercase;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
}

.lt-ie9 .cta-wrapper .btn.white.small.button {
    float: left;
    margin-top: -4px;
    display: block;
}

.cta-wrapper span.button.btn,.cta-wrapper span.button.btn:hover, .cta-wrapper span.button.btn:focus {
    font-size: 10px;
}

a.reviews {
    display: block;
    font-weight: 300;
}

.red-wrap {
    float:right;
    display: inline-block;
    margin-top: 8px;
    margin-right: 40px;
    border: 1px solid #d80546;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.red-wrap button,.red-wrap .button {
    display: inline-block;
    background: #585858;
    border: 2px solid #fff;
    margin: 0 !important;
    padding: 4px !important;
    font-size: 10px;
}

.red-wrap button:hover,.red-wrap .button:hover, .red-wrap button:focus,.red-wrap .button:focus {
    background: #bf003d;
}
/* LGEGMO-6  20130122  add */
.red-wrap.redOnly{border: none}
.red-wrap.redOnly a.button{background: #bf003d;border:none;margin-top:3px}
.red-wrap.mgr6{margin-right:6px}
/* //LGEGMO-6  20130122  add */

#product-promo {
    margin-top: 30px;
    height: 304px;
    background: #f4f4f4;
    border: 1px solid #CCC;
}

.tabpanel .tablist {
    padding-left: 70px;
}

.panel .tablist {
    padding-left: 0;
}

.tabpanel .panel {
    width: 820px;
    padding: 20px 70px 0 70px;
}

.tabpanel .panel.full {
    width: 960px;
    padding: 0;
}

.grid .shim {
    padding-top: 3px;
}

#promo-carousel-wrapper.carousel-wrapper {
    height: 300px;
    width: 958px;
}

.tooltip-trigger.active {
    color: #d14179;
}

.tooltip-content {
    display: none;
    position: absolute;
    color: #cc2466;
}

.social div.tooltip-content {
    top: 32px;
    right: 20px;
    border: 1px solid #d4d4d4;
    background-color: #fbfbfb;
}

.social div.tooltip-content>div {
    width: 100%;
    display: inline-block;
    background-color: #eae2e7;
}

.social div.tooltip-content>div::after {
    clear: both;
}

.social div.tooltip-content a.tooltip-trigger {
    float: right;
}

.social img.mock {
    padding: 4px 9px;
}

.pane {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease-in-out;
}

.pane.first img {
    margin-left: 0;
    margin-top: 0;
}

.pane img {
    margin-top: 50px;
    margin-left: 50px;
    opacity: 0;
    visibility: hidden;
}

.pane .enlarge,.pane .link-360 {
    display: none;
}

.pane .video {
    margin-top: 40px;
    margin-left: 30px;
}

.pane .video img {
    margin-top: 0;
    margin-left: 0;
}

.pane.active {
    display:block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease-in-out;
}

.pane.active img {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s ease-in-out;
}

.pane.active .enlarge,.pane.active .link-360 {
    display: block;
}

.to-slide-left {
    text-align: right;
    overflow: hidden;
}

.to-slide-left h1 {
    margin-right: -320px;
    opacity: 0;
}

.to-slide-left.second ul.features {
    margin-right: -460px;
}

.info-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.info-wrapper .info {
    opacity: 0;
    position: relative;
}

.info-wrapper .info b {
    padding-right: 15px;
}

.cta-wrapper {
    float: right;
    position: relative;
    width: 460px;
    overflow: hidden;
    padding-bottom: 10px;
}

.cta {
    position: relative;
    opacity: 0;
    float: left;
    padding-top: 20px;
}

.cta .cta-button {
    padding-top: 7px;
    float: left;
    margin-bottom: 10px;
}

.animate .to-slide-left h1 {
    margin-right: 143px;
    opacity: 1;
    -webkit-transition: margin-right .5s ease-in-out .5s,opacity .7s linear .5s;
}

.animate .to-slide-left.second ul.features {
    margin-right: -18px;
    -webkit-transition: margin-right .4s ease-in-out 1.5s;
}

.animate .info {
    opacity: 1;
    top: 0;
    -webkit-transition: top .8s ease-in-out .8s,opacity 1s linear 1s;
}

.animate .cta {
    opacity: 1;
    top: 0;
    -webkit-transition: top 1s ease-in-out 1.8s,opacity 1s linear 1.8s;
}

.product-carousel {
    z-index: 1001px;
}

.product-carousel .carousel-mask {
    height: 100px;
}

/* h2 {
    color: #c06;
    font-family: "LGFontMedium",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 0;
    padding-top: 0;
} */

h3 {
    font-size: 20px;
}

p {
    font-size: 11px;
}

h3.keyfeatures {
    margin-left: 40px;
}

.feature-top {
    border-bottom: 1px solid #ccc;
}

.feature-top .feature-content {
    margin-bottom: 0;
}

#features_panel {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 960px;
    margin-top: 0;
}

#features_panel .bottom-gradient {
    padding-bottom: 0;
}

#features_panel .module.feature-content {
    padding-top: 25px;
    margin-bottom: 0;
}

#specs_panel #items-info-wrapper {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

#specs_panel a.pdf.top:link,#specs_panel a.pdf.top:visited {
    float: right;
    margin-right: 165px;
    font-family: "LGFontMedium";
    color: #333;
}

#specs_panel .accordion-expand-all {
    top: -30px;
    right: 0;
}

#specs_panel h3.lg-red {
    min-height: 10px;
    margin-bottom: 10px;
    color: #d80546;
}

#specs_panel h4 {
    float: left;
    font-weight: bold;
}

.specs-wrapper {
    width: 830px;
}

.accordion-item:first-child {
    border-top: 0;
}

.accordion-item {
    padding: 8px 0 8px 0;
    width: auto;
}

.accordion-content ul.with-image.first {
    width: 210px;
}

.accordion-content ul.first {
    width: 50%;
}

.accordion-img {
    width: 400px;
}

.accordion-content ul.first li {
    font-size: 11px;
    margin-bottom: 0;
    height: auto;
    word-wrap: break-word;
}

.specs-featured-items {
    margin-top: 35px;
}

.specs-featured-items h5 {
    clear: both;
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") no-repeat scroll 0 -528px transparent;
    border-bottom: medium none;
    font-size: 14px;
    line-height: normal;
    padding-left: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.specs-featured-items li.download h5,.specs-featured-items li.download p {
    background: 0;
    padding-left: 0;
    margin-left: 0;
}

.specs-featured-items ul {
    list-style: none;
    margin-top: 20px;
}

.specs-featured-items li {
    float: left;
    width: 245px;
    margin-left: 5px;
    margin-right: 5px;
}

.specs-featured-items li.divided {
    padding-left: 30px;
    margin-right: 0;
    border-left: 1px dotted #ccc;
}

.specs-featured-items p {
    margin-left: 15px;
}

.specs-featured-items a.pdf {
    font-size: 11px;
}

.specs-wrapper a.back {
    background: url("/lg3-common-v4/images/global/lg-global-sprite.png") no-repeat scroll 205px -546px transparent;
    float: right;
    margin-top: 10px;
    margin-right: 60px;
    font-size: 10px;
    text-transform: uppercase;
    clear: both;
    display: block;
    width: 200px;
    display: block;
    text-align: right;
    padding-right: 15px;
}

.review {
    height: 195px;
    border-top: 1px solid #CCC;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.review_details {
    width: 245px;
    height: 195px;
    border-right: 1px solid #CCC;
    float: left;
    line-height: 17px;
}

.review_details span.name {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.review_details ul {
    list-style: none;
}

.review_details b {
    font-weight: bold;
    color: #666;
}

.review_info {
    height: 195px;
    padding-left: 20px;
    float: left;
}

.review_info span {
    font-weight: bold;
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 30px;
}

.review_info .poll {
    margin-top: 80px;
}

.review_info button {
    background: #FFF;
    border: 2px solid #ededed;
    color: #666;
}

.review_info button.yes {
    margin-left: 10px;
    border-right: 0;
}

.category {
    border-top: 0;
    padding-top: 0;
}

.product-reviews {
    float: left;
    width: 826px;
}

.product-reviews .review-nav li {
    border-right: 1px solid #ccc;
    float: left;
    list-style: none outside none;
    margin: 0 10px 2px 2px;
    padding: 0 10px 0 0;
}

.product-reviews ul li.last {
    border: 0;
}

.product-reviews .review-nav li a {
    color: #d80546;
}

.product-reviews .content-section {
    width: auto;
    border-bottom: solid 1px #ccc;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.product-reviews .summary .user-comment {
    font-family: "LGFontRegular",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    width: 410px;
    float: left;
}

.product-reviews .summary h3 {
    font-size: 22px;
    color: #d80546;
}

.product-reviews .summary .user-comment p {
    font-size: 16px;
}

.product-reviews .summary .user-comment .comment-owner {
    float: right;
    font-size: 10px;
    margin-right: 14px;
}

.product-reviews .summary .user-ratings {
    float: left;
    margin-left: 74px;
}

.product-reviews .summary h4 {
    text-transform: uppercase;
    font-size: 14px;
}

.product-reviews .summary h4 span {
    color: #d80546;
}

.product-reviews .ratings li {
    margin: 0;
}

.product-reviews .ratings {
    float: left;
    height: 14px;
    margin-bottom: 5px;
    width: 80px;
}

.product-reviews .ratings-area-wrapper {
    float: left;
    width: 170px;
    border-right: dotted 1px #ccc;
}

.product-reviews .rating-item {
    float: left;
}

.product-reviews .rating-item span {
    float: left;
    display: block;
    width: 75px;
}

.product-reviews .star-count {
    float: right;
    font-weight: bold;
    margin-right: 22px;
    padding-top: 2px;
}

.product-reviews .percentage-wrapper {
    float: left;
    width: 130px;
    padding-left: 20px;
}

.product-reviews .percentage-wrapper .percentage {
    font-family: "LGFontRegular",Arial,Helvetica,sans-serif;
    font-size: 30px;
    color: #d80546;
    margin-bottom: 0;
}

.product-reviews .filter-reviews-selections {
    float: left;
    padding-bottom: 13px;
}

.filter-reviews-selections input[type="checkbox"]+span::before,.filter-reviews-selections input[type="radio"]+span::before {
    margin-top: 2px!important;
}

.product-reviews .filter-reviews h3 {
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 10px;
}

.product-reviews .filter-reviews .title {
    margin-top: 4px;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
    float: left;
}

.filter-reviews ul {
    float: left;
    padding-left: 10px;
    list-style: none;
}

.filter-reviews ul li {
    float: left;
    padding-right: 20px;
    margin-bottom: 0;
}

.filter-reviews .filter-options {
    float: left;
    width: 100%;
}

.filter-reviews input[type="checkbox"]+span:before {
    margin-top: -2px;
}

.filter-reviews .filter-options button {
    float: left;
}

.filter-reviews .filter-options .sort-by {
    float: right;
}

.filter-reviews .filter-options .sort-by span {
    float: left;
    color: #d80546;
    padding: 6px 8px 0 0;
    text-transform: uppercase;
    font-size: 10px;
}

.review-listings {
    list-style-type: none;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -24px;
}

.single-review {
    float: left;
    padding-bottom: 0;
    margin-bottom: 0;
}

.single-review .ratings-area-wrapper {
    width: 250px;
    border: 0;
    padding-top: 20px;
}

.single-review .ratings-area-wrapper .rating-item {
    width: 160px;
    padding-bottom: 16px;
}

.single-review .ratings-area-wrapper .star-count {
    float: left;
}

.single-review p {
    margin-bottom: 6px;
}

.single-review .questions-answers {
    padding-bottom: 20px;
}

.single-review .left-content {
    border-right: solid 1px #ccc;
    float: left;
    width: 259px;
}

.single-review .right-content {
    float: left;
    width: 524px;
    padding: 20px 0 0 40px;
}

.single-review .right-content h4 {
    font-size: 20px;
    text-transform: uppercase;
}

.single-review .right-content .callout-vote {
    padding-top: 2px;
    margin-bottom: 8px;
    float: left;
}

.single-review .right-content .callout-vote span {
    float: left;
}

.single-review .right-content .callout-vote ul {
    float: left;
    list-style: none;
    padding-left: 10px;
}

.single-review .right-content li {
    float: left;
    padding: 0 10px;
    border-right: solid 1px #ccc;
}

.single-review .right-content li a {
    color: #d80546;
}

.single-review .right-content .share-comment-wrapper .share {
    margin: 0;
    margin-left: -10px;
}

.single-review .right-content .share-comment-wrapper h4 {
    font-size: 10px;
}

.single-review .right-content .share-comment-wrapper .view-comments {
    color: #d80546;
    padding-left: 17px;
    float: left;
    padding-top: 12px;
}

.single-review .right-content .share-comment-wrapper p {
    padding-top: 20px;
}

.single-review .right-content .share-comment-wrapper button {
    margin-left: 15px;
    margin-top: 8px;
    float: left;
    clear: none;
}

#expert_panel {
    font-size: 11px;
    padding-bottom: 30px;
}

#expert_panel h4 {
    text-transform: uppercase;
    margin: 10px 0;
}

#expert_panel .module {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#expert_panel .copy-area {
    margin-top: 40px;
    width: 515px;
}

#expert_panel .image-area {
    text-align: center;
    margin-right: 20px;
}

#expert_panel img.review-img {
    margin-top: 20px;
}

#expert_panel .ratings-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
}

#expert_panel .ratings-wrapper ul.ratings {
    float: right;
    width: 100px;
    margin-top: -1px;
    line-height: 13px;
}

#expert_panel img.hr {
    clear: both;
    height: 1px;
    left: -12px;
    padding: 15px 0;
    width: 820px;
}

#expert_panel>div {
    margin: 0 0 0 10px;
}

#expert_panel p.align-right a {
    text-decoration: underline;
}

#expert_panel .ratings-long {
    width: 100%;
}

#expert_panel .summary {
    width: 780px;
    margin: 0 0 0 10px;
}

#video_panel iframe {
    margin-top: 35px;
}

#video_reviews {
    font-size: 11px;
}

#video_reviews .styled-select.large {
    margin-top: 5px;
    margin-bottom: 40px;
    margin-right: 30px;
}

#video_reviews .video-col1 {
    float: left;
    width: 50%;
    clear: left;
}

#video_reviews .video-col2 {
    float: left;
    width: 50%;
}

#video_reviews .video-img {
    margin-right: 20px;
    margin-bottom: 30px;
}

.accordion label {
    position: relative;
    width: 100%;
}

.accordion label .number-of-answers {
    position: absolute;
    right: 24px;
    text-transform: none;
    font: 11px Arial,Helvetica,sans-serif;
}

.ask-head,.ask-search {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 11px;
}

.ask-search {
    padding-top: 30px;
}

.ask-head h3,.ask-search form,.ask-search .sort span {
    float: left;
}

.ask-search form {
    width: 410px;
    position: relative;
}

.ask-head span,.ask-search .sort {
    float: right;
}

.ask-head span {
    margin-top: 8px;
    margin-right: 12px;
}

.ask-search .styled-input {
    width: 370px;
    float: left;
}

.ask-search .styled-input input {
    width: 370px;
}

.ask-search .btn-search {
    right: 35px;
}

.ask-search .sort span {
    margin-top: 5px;
    margin-right: 10px;
}

.ask-bottom {
    width: 830px;
    margin-top: 30px;
    float: left;
    text-align: left;
}

.ask-bottom .pager {
    margin-top: 10px;
    float: right;
}

.ask-wrapper .accordion-content-wrap {
    padding-left: 24px;
    padding-right: 24px;
}

#answers_panel .shim,#answers_panel ul.content-pages>li {
    width: 820px;
}

.accordion-content-wrap h4 {
    font-weight: bold;
    font-family: Arial;
}

button.answer-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.answers {
    border: 1px solid #ccc;
    padding: 10px;
}

.answers .vote {
    height: 30px;
    width: 200px;
    margin-left: auto;
    font-size: 11px;
}

.vote button,.vote span {
    float: left;
    clear: none;
}

.vote span {
    margin-top: 10px;
}

.vote button {
    margin-left: 10px;
}

.lt-ie9 .grayscale {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}

#tooltip-support {
    margin-top: -5px;
    margin-left: -20px;
}

h3.discontinued {
    color: #d80546!important;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: -40px;
    margin-bottom: 20px;
    float: left;
}
/* LGEIS-756 20130220  modify */
.worldrecord {
    position: absolute;
    left: 0;
    bottom: 283px;
    padding-bottom: 4px;
    width: 48px;
    height: 50px;
}
/* //LGEIS-756 20130220 modify */
.worldrecord a {
    cursor: default!important;
}

.worldrecord a:link,.worldrecord a:visited,.enlarge a.hotspot:link,.enlarge a.hotspot:visited,.link-enlarge a:link,.link-enlarge a:visited {
    display: block;
    padding-top: 20px;
    padding-left: 2px;
    text-decoration: none;
    font: 9px "LGFontMedium";
    text-transform: uppercase;
}

.worldrecord a:link,.worldrecord a:visited {
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -40px -847px no-repeat transparent;
    height: 50px;
}

.worldrecord a:hover, .worldrecord a:focus {
    color: #d80546;
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -40px -847px no-repeat transparent;
    height: 50px;
}

.awards a {
    cursor: pointer!important;
}

.awards {
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 2px solid #cbcbcb;
    border-top: 0;
    padding-bottom: 3px;
    padding-top: 8px;
    width: 50px;
}

.awards a:link, .awards a:visited, .awards a:hover, .awards a:focus {
    display: block;
    padding-top: 42px;
    padding-left: 0;
    text-decoration: none;
    font: 9px "LGFontMedium";
    text-transform: uppercase;
    text-align: center;
}

.awards a:link,.awards a:visited {
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -90px -847px no-repeat transparent;
}

.awards a:hover, .awards a:focus {
    color: #d80546;
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -141px -847px no-repeat transparent;
}

.awards a p {
    margin-bottom: 0;
    color: #d80546;
    font-size: 10px;
    padding-left: 0;
    text-align: center;
}

.enlarge a.hotspot:link,.enlarge a.hotspot:visited,.link-enlarge a:link,.link-enlarge a:visited {
    display: block;
    padding-top: 28px;
    padding-left: 2px;
    text-decoration: none;
    font: 9px "LGFontMedium";
    text-transform: uppercase;
    width: 100%;
}

.top-gradient .text-full {
    padding: 0 40px 45px 40px;
    font-size: 12px;
    margin-bottom: 0;
}
#product-display .pane-asideWrap {
    bottom: 180px;
}
/* LGETR-410 20130307  add */
.lt-ie9 #product-display .pane-asideWrap {
    z-index: 1002;
}
/* //LGETR-410 20130307  add */
.lt-ie9 #product-display .product-spacer {
    height: 400px;
}

.micrositePane {
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 2px solid #cbcbcb;
    border-top: 0;
    padding-bottom: 3px;
    padding-top: 1px;
    width: 50px;
}

.micrositePane a,.micrositePane a:link,.micrositePane a:visited {
    cursor: pointer!important;
    display: block;
    padding-top: 42px;
    padding-left: 0;
    text-decoration: none;
    font: 9px "LGFontMedium";
    text-transform: uppercase;
    text-align: center;
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -194px -847px no-repeat transparent;
}

.micrositePane a:hover, .micrositePane a:focus {
    color: #d80546;
    background: url("/lg3-common-v4/images/global/lg-global-sprite-v2.png") -234px -847px no-repeat transparent;
}

.micrositePane a span.count {
    display: block;
    color: #d80546;
    font-size: 10px;
    padding-left: 0;
    text-align: center;
}

.pane .video-views {
    position: absolute;
    left: 230px;
    top: 430px;
}

.pane .video-views .video-open-btn {
    display: inline-block;
    height: 17px;
    padding-left: 25px;
    line-height: 17px;
    vertical-align: middle;
    background: url('/lg3-common-v4/images/global/lg-global-sprite-v2.png') no-repeat left -683px;
    text-transform: uppercase;
    font-family: "LGFontMedium";
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

#product-display .pane-asideWrap .video-views {
    position: absolute;
    left: 215px;
    top: auto;
    bottom: -50px;
    width: 250px;
    text-align: left;
}

#product-display .pane-asideWrap .video-views .video-open-btn {
    display: inline-block;
    height: 17px;
    padding-left: 25px;
    line-height: 17px;
    vertical-align: middle;
    background: url('/lg3-common-v4/images/global/lg-global-sprite-v2.png') no-repeat left -1102px;
    text-transform: uppercase;
    font-family: "LGFontMedium";
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

.modal .video-layer-01 {
    width: 930px;
    height: 590px;
}
/* LGEIN-527  20130502 add */
.modal .payload.youtube-layer-01 { width: 655px;height: 385px;}
.lt-ie8 .modal .payload.youtube-layer-01 { width: 660px;height: 396px;}
.modal .payload.youtube-layer-01 iframe {overflow:hidden !important;height:100% !important}
/* //LGEIN-527 20130502 add */
.product-carousel {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.lt-ie9 .product-carousel {
    clear: none;
    overflow: visible;
    width: 100%;
    height: 97px;
}

.has-promotion {
    border-bottom: 1px solid #ccc;
}

.lt-ie9 .has-promotion {
    border-bottom: 0;
}

.has-promotion .carousel3 {
    width: 725px;
    border-bottom: 0;
}

.lt-ie9 .has-promotion .carousel3 {
    width: 725px;
    border-bottom: 1px solid #ccc;
}

.has-promotion .carousel3 li {
    width: 168px;
}

.product-carousel .product-promotion {
    float: right;
    width: 220px;
    height: 97px;
    overflow: hidden;
}

.lt-ie9 .product-carousel .product-promotion {
    width: 260px;
    margin-left: -40px;
    border-bottom: 1px solid #ccc;
}

.product-carousel .product-promotion a {
    float: right;
    margin-top: 1px;
}

#awards {
    max-width: 439px!important;
}

.pane-asideWrap #awards {
    margin-top: -40px!important;
}

.pane-asideWrap #awards a.close:hover, .pane-asideWrap #awards a.close:focus {
    background-position: 0 -174px;
}

.pane-asideWrap #awards ul li {
    float: left!important;
}

.pane-asideWrap #awards ul li a {
    background: 0;
    min-height: 50px;
    width: 100px;
    padding: 0;
    margin: 0;
    line-height: 130%;
    height:auto;
}

.pane-asideWrap .link-360 span {
    display: block;
    width: 100%;
    background: #fff none;
}

.pane-asideWrap .enlarge span {
    display: block;
    width: 100%;
    background: #fff none;
}

#overview_panel {
    width: 960px;
    padding: 0;
}

#uspcontent {
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    height: auto;
    border-top: 0;
    padding: 40px 0 0 0;
}

.product-video-player {
    width: 930px;
    padding: 0;
    border-top: 0;
}

.product-video-player h1 {
    padding: 0 0 10px 0;
    color: #d80546;
}

.product-video-player .player {
    width: 930px;
    height: auto;
}

.product-video-player .bottom-description {
    height: 40px;
    margin-top: 10px;
    padding: 15px 20px;
    background: #eee;
}

.product-video-player .bottom-description p {
    font-size: 12px;
}

.product-video-player .bottom-shares {
    height: 30px;
    margin-top: 10px;
    padding-right: 10px;
    text-align: right;
    float: none!important;
}

.product-video-player .bottom-shares a {
    display: inline-block;
    margin-left: 10px;
    height: 30px;
}

.product-video-player .bottom-shares a span {
    display: inline-block;
    background: url('/lg3-common-v4/images/global/lg-global-sprite-v2.png') no-repeat 0 -368px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.product-video-player .bottom-shares .twitter span {
    background-position: -30px -368px;
}

.isitetv-layer01 {
    width: 824px !important;
    height: 680px !important;
}

/* LGEGMO-1  20130125 add */
.top-gradient.group-feature div.top-gradient {background:none;border-top:none;padding-top:0;}
.top-gradient.group-feature div.top-gradient .module.feature-content {background:none;padding-top:15px;padding-bottom: 25px !important}
.top-gradient.group-feature div.top-gradient .module {background:none}
.top-gradient.group-feature div.top-gradient .module.media2 {padding-top:50px !important;/*background: url("/lg3-common-v4/images/global/dotted.png") no-repeat scroll 476px 40px transparent;*/
    margin-bottom: 40px !important;
    width: 960px;}
/* //LGEGMO-1 20130125 add */

/* LGERU-1306   20131216 add */
.pressrelease{border-bottom: 2px solid #CBCBCB;border-top: 0 none;left: 0; padding-bottom: 3px;padding-top: 1px;position: relative;top: 0;width: 50px;}
.pressrelease a.hotspot, .pressrelease a.hotspot:link, .pressrelease a.hotspot:visited{background:url('/lg3-common-v4/images/global/icon-press-release.png') no-repeat scroll -37px 0 transparent; cursor: pointer !important;display: block;font: 9px "LGFontMedium";padding-left: 0;padding-top: 38px;text-align: center;text-decoration: none; text-transform: uppercase;margin-left:7px;width:38px}
.pressrelease a.hotspot:hover, .pressrelease a.hotspot:focus{background:url('/lg3-common-v4/images/global/icon-press-release.png') no-repeat scroll 1px 0 transparent;color:#d80546}
.pressrelease a span.count{color: #D80546;display: block;font-size: 10px;padding-left: 0;text-align: center;}
#pressrelease{margin:-10px 0 0 70px}
#pressrelease .pointer{left:-20px;top:36px}
#pressrelease ul{border-top:1px solid #CCCCCC;overflow: hidden;padding: 10px 0;width: 100%;}
#pressrelease ul li{padding:5px 0}
#pressrelease ul li a{line-height:50px}
#pressrelease ul li .thumbs{height: 50px;width: 110px;}
#pressrelease ul li .thumbs img{float:left}
#pressrelease ul li a .linkTxt{display: inline-block;font-family: "LGFontMedium";font-size: 12px;line-height: 130%;text-transform: uppercase;vertical-align: middle;width:245px;margin-left:10px}
/* //LGERU-1306   20131216 add */
/* LGEGMO-216  20140709 add*/
.simple4 ul.download{margin-left:45px}
.simple4 ul.download li a.pdf{padding-left:25px}
.simple4 ul.download li a.button{top:10px;position:relative}
/* //LGEGMO-216  20140709 add*/

/* 20140324 Product detail */
.red-wrapper {float:right}
.rating {display:inline-block; width:80px; height:18px; background:url('/lg3-common-v4/images/global/lg-global-sprite-v2.png') no-repeat 0 -1132px; vertical-align:top}
.point {display:inline-block; width:100%; height:100%; background:url('/lg3-common-v4/images/global/lg-global-sprite-v2.png') no-repeat 0 -1150px; font-size:0; line-height:0; vertical-align:top}
.rating-num {display:inline-block}

/* 20140325 Product detail */
.cta-wrapper span.button.btn a {color:#333!important; text-decoration:none}
.cta-wrapper input.compare:focus + span:before,
.cta-wrapper input.compare:focus + span > a > span:before {outline:none}

/* 20140326 Awards */
.awards a.close {padding-top:0; background-position:0 -174px}


/* pdf/DjVu icon */
span.pdf{background:0;padding-left:0}
span.DjVu{background:0;padding-left:0}
/*a:link.pdf, a:visited.pdf, a:link.DjVu, a:visited.DjVu{display:inline-block;padding:0;background:0;*display:inline;*zoom:1}*/
.ico_pdf{display:inline-block;width:20px;height:18px;background:url("/lg3-common-v4/images/global/lg-global-sprite.png") 0 -703px no-repeat;vertical-align:middle}
.ico_Djvu{display:inline-block;width:20px;height:18px;background:url("/lg3-common-v4/images/global/lg-global-sprite.png") 0 -1047px no-repeat;vertical-align:middle}
.lt-ie9 .ico_Djvu,.lt-ie9 .ico_pdf{display:inline;zoom:1}
.lt-ie9 .compare-check .button.small.white.btn {display:inline-block; *display:inline; *zoom:1; float:none;}
/* LGEBR-2020 : 20141105 add */
.module.simple2.simple4 div.widget-iframe iframe.lazyLoadedIframe {padding:0}
/* //LGEBR-2020 : 20141105 add */

/* Online sellers */
.carousel.onlinereseller { }
.carousel.onlinereseller ul { }
.carousel.onlinereseller ul li { width: 148px; margin: 0; text-align:left; }
.carousel.onlinereseller ul li > div { width:120px; }
.carousel.onlinereseller ul li .store_thumb { text-align: center; }
.carousel.onlinereseller ul li .store_name span { text-align: center; font-size: 11px; line-height: 11px; padding: 0 0 2px; vertical-align: middle; display: inline-block; width: 100%;}
.carousel.onlinereseller ul li .store_name i { display:inline-block; vertical-align: middle; width: 0; height: 30px;}
.lt-ie8 .carousel.onlinereseller ul li .store_name > * { display:inline; zoom:1; }
.carousel.onlinereseller ul li .store_button { text-align: center; }
.carousel.onlinereseller ul li .store_button a { font-size: 10px; line-height: 14px; display: inline-block; margin: 0; }
.lt-ie8 .carousel.onlinereseller ul li .store_button a { display: inline; zoom: 1; }