/* This is where you will add your overrides to the default Pluck style */
p,pre {
	margin: 0em 0;
}

.pmobile-reviews-starsOutput-overlay {
	z-index: 999 !important
}

#pluck {
	font-family: "Gill Sans W02 Medium", Arial, Helvetica, sans-seri;
	font-size: 14px;
	margin: 20px 0 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
	color: #666;
}

.pluck-review-rollup-review-metawrap {
	display: block;
	padding: 0;
	width: auto;
}

.pluck-review-rollup-wrapper {
	margin: 4px 0 0;
	position: relative;
}

.pluck-comm,.pluck-user-persona,.pluck-review-list,.pluck-review-rollup
	{
	display: block !important;
	visibility: visible !important;
}

.pluck-review,input.pluck-review-create-review-photoTitle,textarea.pluck-review-create-review-photoDesc,input.pluck-review-create-review-input,textarea.pluck-review-create-review-desc-input
	{
	color: #666666;
	font-family: 'Gill Sans W02 Medium', Arial, sans-serif;
	font-size: 12px;
}

.pluck-review-list,.pluck-review-full-wrap,.pluck-review-full-header,.pluck-review-create-wrap,.pluck-review-create-header
	{
	background: none;
	border: medium none;
}

#pluck .rewiew_caption {
	background: url("../images/seperator.png") no-repeat scroll center 27px
		transparent;
	clear: both;
	margin: 20px 0 0;
	padding: 10px 0;
	text-align: center;
}

.rewiew_caption span.title {
	font-family: 'NewBaskervilleW02-Itali';
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 10px;
	background: #fff;
	padding: 0 12px;
	color: #333333;
}

p.pluck-review-create-header-headline {
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px 0 15px;
	font-size: 18px;
}

.pluck-review-full-header {
	display: none;
}

.pluck-review-full-wrap {
	border: none;
	height: auto;
	padding-bottom: 20px;
}

p.pluck-review-full-header-headline,.pluck.review-full-subheader,p.pluck-review-full-subheader-headline,.pluck-review-full-review-image-overlay p,.pluck-review-list a.pluck-review-subhead-friends-filter,.pluck-review-rollup a.pluck-review-create-review-rollup,p.pluck-review-create-header-headline,.pluck-review-create-wrap .pluck-review-create-review-primary-buttons a.pluck-review-create-review-save,p.pluck-review-most-helpful-favorable-headline,p.pluck-review-most-helpful-critical-headline,.pluck-review-most-helpful-header-sorting p,.pluck-review-most-helpful-header-sorting a,.pluck-review-recent-reviews-header-sorting p,.pluck-review-recent-reviews-header-sorting a,.pluck-review-top-header-sorting p,.pluck-review-top-header-sorting a
	{
	color: #666;
}

p.pluck-review-full-subheader-headline {
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px 0 10px 10px;
}

.pluck-review-full-stars {
	display: inline-block;
	float: left;
	left: 0;
	padding-left: 5px;
	position: absolute;
	top: 0;
	width: 150px;
}

.pluck-review-isEven .pluck-review-full-stars {
	top: 20px;
}

.pluck-review-isOdd .pluck-review-full-stars {
	top: 20px;
}

.pluck-review-first .pluck-review-full-stars {
	top: 20px;
}

.pluck-review-first .pluck-review-full-review-desc {
	padding: 0px;
}

.pluck-review-isEven .pluck-review-full-reviewer-block {
	padding: 31px 10px 0 5px;
}

.pluck-review-isOdd .pluck-review-full-reviewer-block {
	padding: 31px 10px 0 5px;
	margin-bottom: 0px;
}

.pluck-review-full-reviewer-block {
	margin: 0 0 0 0;
	padding: 1px 10px 0 5px;
	width: 150px;
	float: left;
}

.pluck-review-full-review-desc {
	float: left;
	margin-top: 0;
	width: 700px;
}

.pluck-review-edit-delete-control-wrap {
	display: none;
}

.pluck-review-full-subheader {
	border: 0px solid #A1A09C;
	margin-bottom: 0;
	margin-top: 0;
}

.pluck-review-full-subheader,.pluck-review-preview-controls-wrap {
	background: none;
}

.pluck-review-preview .pluck-review-full-reviewer-otherreviews {
	display: none;
}

.pluck-review-preview .pluck-review-full-reviewer-block .pluck-review-full-reviewer-name
	{
	color: #666;
}

.pluck-review-preview-controls-wrap {
	border: none;
}

.pluck-review-preview-controls-wrap-top {
	display: none;
}

span.pluck-review-full-subheader-highlight {
	color: #666;
}

p.pluck-review-full-header-sort-label {
	color: #666;
	float: right;
	margin: 13px 0 0 10px;
	text-transform: uppercase;
}

select.pluck-review-full-header-sorting {
	float: right;
	margin: 7px 10px 0;
	padding: 2px 3px;
	font-size: 13px;
}

.pluck-review-preview .pluck-review-full-review-single-review-wrap {
	float: left;
}

.pluck-review-full-review-action-recommend {
	margin-left: 0px;
	width: 240px;
}

.pluck-review-full-review-action-recommended {
	margin-left: 0px;
}

.category-reviews .pluck-review-output-stars {
	display: none !important
}

.pluck-review-full-reviewer-meta p a {
	color: #666 !important;
}

a.pluck-review-full-header-filter {
	display: none;
}

p.pluck-review-full-review-title {
	margin: 6px 0 !important;
	font-size: 18px;
	font-weight: normal !important;
}

.pluck-review-full-review-pro p {
	margin-left: 0;
	font-size: 18px;
	font-weight: normal !important;
}

.pluck-review-full-review-pro-con p {
	margin-left: 0;
}

.pluck-review-full-review-action-share {
	display: none;
}

.pluck-review-full-review-powered-by-wrap {
	display: none;
}

.pluck-review-full-review-desc div.pluck-review-full-review-body {
	margin: 0 0px 10px 0px;
	overflow: hidden;
}

.pluck-review-full-review-pro-con {
	float: left;
	padding-top: 10px;
	padding-left: 12px;
	width: 705px;
	margin-top: 0;
}

.product-tile span.offline-review-starsOutput-overlay {
	background: url("../images/StarCat.png") no-repeat scroll 0 -3px
		transparent;
	height: 16px;
	width: 100px;
	top: 4px;
}

.offline-rating-container-quickview .span.offline-review-starsOutput-overlay
	{
	background: url("../images/StarPDP.png") no-repeat scroll 0 -3px
		transparent;
}

span.offline-review-starsOutput-overlay {
	background: url("../images/StarCat.png") no-repeat scroll 0 -4px
		transparent;
	height: 15px;
	width: 100px;
	top: 5px;
}

span.offline-review-starsOutput-overlay {
	background: url("../images/StarPDP.png") no-repeat scroll 0 -4px
		transparent;
}

span.pluck-review-starsOutput-overlay {
	z-index: 9;
}

.product-tile span.pluck-review-starsOutput-overlay {
	background: url("../images/StarCat.png") no-repeat scroll 0 -4px
		transparent;
	height: 15px;
	width: 100px;
}

.pluck-review-starsOutput span.pluck-review-starsOutput-color {
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 -237px transparent;
	z-index: 0;
}

.pluck-review-starsOutput em {
	background: url("../images/pluck-review-star-overlay.png") repeat-x
		scroll 0 -211px transparent;
}

.offline-review-starsOutput span.offline-review-starsOutput-color {
	background: url("../images/pluck-review-star-output-rating.png")
		no-repeat scroll 0 0 transparent;
}

.offline-review-starsOutput em {
	background: url("../images/pluck-review-star-output-cover.png") repeat-x
		scroll 0 0 transparent;
}

.pluck-review-rollup-wrapper .pluck-review-starsOutput span.pluck-review-starsOutput-color
	{
	background: url("../images/pluck-review-star-output-rating.png")
		no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 100px;
	z-index: 0
}

.offline-rating-container-quickview {
	display: block;
	min-height: 20px;
	margin-top: 7px;
}

.offline-rating-container-quickview span.offline-review-starsOutput-color
	{
	background: url("../images/pluck-review-star-output-rating.png")
		no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 100px;
}

.offline-rating-container-quickview .pluck-review-starsOutput-color {
	background: url("../images/pluck-review-star-output-rating.png")
		no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 100px;
	z-index: 0
}

.offline-review-starsOutput {
	display: inline-block;
	float: left;
	height: 12px;
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
	width: 102px;
}

span.offline-review-starsOutput-overlay {
	display: inline-block;
	height: 12px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 5px;
	width: 100px;
}

.offline-review-starsOutput em,.offline-review-starsOutput em {
	width: 100px;
}

.offline-review-starsOutput em {
	background: url("../images/pluck-review-star-output-cover.png") repeat-x
		scroll 0 0 transparent;
}

.offline-review-starsOutput em {
	display: inline-block;
	height: 12px;
	position: absolute;
	top: 0;
	width: 100px;
}

.container-div #pluck {
	margin-top: 0px;
}

/* For store front PDP */
.pluck-review-rollup-output-line .pluck-review-starsOutput {
	width: 90px;
	height: 15px;
}

span.pluck-review-starsOutput-color {
	background: url("../images/pluck-review-star-output-rating.png")
		no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 100px;
	z-index: 0
}

.pluck-review-rollup-output-line .pluck-review-starsOutput em {
	background: url("../images/pluck-review-star-output-cover.png") repeat-x
		scroll 0 0 transparent;
	height: 15px;
	width: 100px;
}

.pluck-review-rollup-output-line .pluck-review-starsOutput span.pluck-review-starsOutput-overlay
	{
	background: url("../images/StarPDP.png") no-repeat scroll 0 -3px
		transparent;
	height: 15px;
	width: 100px;
	top: 5px;
}

#pluck .pluck-review-full-stars span.pluck-review-starsOutput-overlay {
	background: url("../images/starRatReview.png") no-repeat scroll 0 0
		transparent;
	width: 100px;
}

/* For store front CAT. page */
#category-reviews .pluck-review-output-stars {
	display: none;
	margin: 3px 0 0;
	width: 102px;
}

#category-reviews .offline-review-output-stars {
	display: inline-block;
	margin: 3px 0 0;
	width: 102px;
}

.offline-review-starsOutput span.offline-review-starsOutput-color {
	display: inline-block;
	height: 12px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 6px;
	width: 100px;
}

.pluck-review-starsOutput,.offline-review-starsOutput {
	width: 100px;
}

.pluck-review-starsOutput span.pluck-review-starsOutput-color,.offline-review-starsOutput span.offline-review-starsOutput-color
	{
	width: 100px;
	position: relative;
	top: 0;
}

.pluck-review-starsOutput em,.offline-review-starsOutput em {
	width: 100px;
}

.producttile .pluck-review-starsOutput span.pluck-review-starsOutput-overlay
	{
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 0 transparent;
}

.producttile:hover .pluck-review-starsOutput span.pluck-review-starsOutput-overlay
	{
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 -119px transparent;
	z-index: 9;
}

.producttile .offline-review-starsOutput span.offline-review-starsOutput-overlay
	{
	background: url("../images/starMcatewhite.png") no-repeat scroll 0 0
		transparent;
	z-index: 9;
}

.producttile:hover .offline-review-starsOutput span.offline-review-starsOutput-overlay
	{
	background: url("../images/starMcate_gray.png") no-repeat scroll 0 0
		transparent;
	z-index: 9;
}

.pluck-review-create-review-star-box a {
	background-image: url("url(" ../ images/ StarPDP.png
		") no-repeat scroll 0 -3px transparent");
	background-repeat: no-repeat;
}

a.pluck-review-create-review-star:hover,a.pluck-review-create-review-star-active,span.pluck-review-create-review-star-active,a.pluck-review-create-review-star-clicked,span.pluck-review-create-review-star-clicked
	{
	background-color: #F9F8F6;
	background-position: center bottom;
}

.pluck-review-full-review-action-not-recommended {
	height: 20px;
	margin-left: 0;
	width: 220px;
}

.pluck-review-full-review-comment-text {
	display: none;
	margin-bottom: 0;
	padding-bottom: 10px;
}

.pluck-review-full-review-single-review-wrap {
	border-bottom: 1px dotted #cfcfcf;
	margin-bottom: 0;
	margin-top: 0;
	padding: 15px 6px;
	position: relative;
}

p.pluck-review-featured-headline {
	display: none;
}

.pdetailcontent .pluck-review-rollup-wrapper {
	margin: 7px 0 0;
	position: relative;
	text-align: left;
}

div.pluck-review-rollup-output-star-wrap {
	float: none;
	margin-left: -4px;
}

/* write a Review pop up css */
.pluck-review-create-content-wrap {
	border: 0px solid #cfcfcf;
	height: auto;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 15px 6px 0 6px;
	width: 400px;
	background: #f9f8f6;
}

.pluck-review-create-review-title-tips {
	border: 0px solid #cfcfcf;
	display: none;
	width: 100%;
}

.pluck-review-create-review-label {
	display: block;
	float: left;
	padding: 5px 15px 5px 0;
	width: 100px;
	text-align: right;
}

input.pluck-review-create-review-input {
	border: 1px solid #cfcfcf;
	margin: 0;
	font-size: 14px;
	padding: 2px;
	height: 24px;
	width: 100%;
}

textarea.pluck-review-create-review-desc-input {
	border: 1px solid #cfcfcf;
	height: 160px;
	font-size: 14px;
	margin: 0;
	padding: 2px;
	width: 100%;
}

.pluck-review-create-review-actions {
	display: block;
	float: left;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	padding: 10px 0px 5px;
	width: 65%;
}

.pluck-review-create-pros, .pluck-review-create-cons, .pluck-review-create-review-rec,
.pluck-review-create-review-desc-photoadd-file, .pluck-review-create-review-desc-photoadd/* ,
.pluck-persona-first-navigation-hover-active */ {
	display: none;
}

#plucka .pluck-review-create-wrap a.pluck-review-create-review-preview {
	z-index: 9999;
}

a.pluck-review-create-review-preview {
	z-index: 9999;
	margin-right: 21px;
	font-family: "Gill Sans W02 Medium", Arial, Helvetica, sans-seri;
}

.pluck-review-create-review-primary-buttons a.pluck-secondary-button,a.pluck-primary-button,.pluck-review-create-review-secondary-buttons a.pluck-secondary-button,a.pluck-secondary-button
	{
	display: block;
	float: right;
	height: 30px;
	padding: 0;
	text-align: center;
	background: url("../images/brand-btn.png") no-repeat scroll left 0
		transparent;
}

.pluck-review-create-review-secondary-buttons a.pluck-secondary-button,a.pluck-secondary-button
	{
	float: left;
}

.pluck-review-create-review-primary-buttons span.pluck-secondary-button-text,span.pluck-primary-button-text,span.pluck-secondary-button-text
	{
	background: url("../images/brand-btn.png") no-repeat scroll right -32px
		transparent;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	padding: 0;
	text-transform: uppercase;
	color: #FFF;
	width: 85px;
}

.pluck-persona-first-messages-submit-actions .pluck-persona-first-messages-submit-save span.pluck-primary-button-text
	{
	background: url("../images/brand-btn.png") no-repeat scroll right 0	transparent;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	padding: 0;
	text-transform: uppercase;
	color: #FFF;
	width: 120px;
}

a.pluck-persona-first-messages-submit-save
	{
	margin-right: 5px;
}


span.pluck-persona-first-messages-submit-cancel {
	margin-top: 0;
}

span.pluck-persona-first-messages-submit-cancel a, span.pluck-persona-first-messages-submit-cancel a:hover
	{
	background: -moz-linear-gradient(center top , #828DB8, #5C6999) no-repeat scroll 0 0 #5C6999;
	border: 0 none;
	border-radius: 4px 4px 4px 4px;
	color: #F6F7F9;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 80px; 
}

.pluck-review-create-review-title-tips p,p.pluck-review-create-check-desc,.pluck-review-create-review-desc-photoadd p,p.pluck-review-create-review-desc-photoadd-file-text,div.pluck-review-create-review-desc-photoadd-filename,div.pluck-review-create-review-desc-photoadd-button,.pluck-review-create-wrap a.pluck-review-create-review-desc-photoadd-add,.pluck-review-create-wrap a.pluck-review-create-review-desc-photoadd-cancel,a.pluck-review-create-review-desc-photoedit-add,.pluck-review-create-review-desc-photoedit-cancel,.pluck-review-create-wrap .pluck-review-create-review-primary-buttons a.pluck-review-create-review-preview,.pluck-review-create-wrap .pluck-review-create-review-desc-photoedit-action-wrap a
	{
	color: #fff;
}

.pluck-review-full-review-pro-con p {
	margin-right: 0;
	padding-right: 0;
}

.pluck-review-create-review-primary-buttons {
	padding-left: 215px;
}

.pluck-review-full-reviewer-block .pluck-review-avatar {
	display: none;
	float: left;
	margin-right: 10px;
}

.pluck-review-full-reviewer-meta {
	margin-left: 0;
	min-height: 57px;
	padding-bottom: 10px;
}

.pluck-review-create-header p.pluck-review-create-header-headline {
	border-bottom: 0px solid #E0E0E0;
	background: url("../images/seperator.png") no-repeat scroll center
		bottom transparent;
	font-size: 25px;
	margin-bottom: 30px;
	padding: 5px 0 10px;
	color: #333333;
}

.pluck-review-create-rate-this .pluck-review-create-review-info-text {
	display: none;
}

.pluck-review-create-review-label-text,.pluck-review-create-review-label
	{
	color: #333333 !important;
	font-size: 14px;
}

.pluck-review-create-wrap .pluck-review-create-review-primary-buttons a.pluck-cancel-button
	{
	color: #666699;
}

.pluck-review-create-wrap .pluck-review-create-review-primary-buttons a.pluck-cancel-button:hover
	{
	color: #666699;
}
/* .hasCorners{ padding:15px !important;} */
.pluck-review-rollup-wrapper a {
	color: #666699;
}

a.pluck-cancel-button {
	background: url(../images/btn_cancel.png) no-repeat 0px 0px !important;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 0;
	width: 88px;
	height: 30px;
	display: block;
	float: right;
	margin-right: 10px;
	text-align: center;
	color: #556293;
	font-size: 12px;
}

a.pluck-cancel-button {
	padding-top: 8px;
}

a.pluck-cancel-button:hover {
	color: #666699;
}

.pluck-review-create-review-star-box {
	background: none;
}
/* Css For PDP page Ratings & reviews bottom part*/
span.pluck-review-full-timestamp {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 5px;
	margin-top: 32px;
	padding-top: 3px;
	color: #666666;
	font-size: 14px;
}

.pluck-review-full-reviewer-meta .pluck-review-full-reviewer-name-reviews
	{
	font-size: 14px;
	color: #666666;
	margin: 3px 0 0;
	text-transform: capitalize;
}

.pluck-review-full-review-action-buttons {
	float: right;
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 725px;
}

.pluck-review-full-review-action-recommend a img {
	display: none;
}

.pluck-review-full-review-action-recommend a.pluck-review-up-link {
	background: url(../images/reviewthumbs.jpg) no-repeat scroll 0 0
		transparent;
	display: inline-block;
	min-height: 11px;
	margin: 0 0 0 5px;
	padding: 0 12px;
}

.pluck-review-full-review-action-recommend a.pluck-review-down-link {
	background: url(../images/reviewthumbs.jpg) no-repeat scroll -40px 0
		transparent;
	display: inline-block;
	min-height: 11px;
	margin: 0 0 0 5px;
	padding: 0 10px;
}

.pluck-review-full-review-desc p.summary {
	font-family: 'NewBaskervilleW02-roman';
	font-size: 18px;
}

.pluck-review-full-review-desc .description {
	font-size: 14px;
}

.pluck-review-full-review-action-recommend p {
	color: #666666;
	line-height: 18px;
}

.pluck-review-first-post-review {
	line-height: 20px;
	min-height: 20px !important;
	padding: 20px 6px 40px;
}

.pluck-review-first-post-img.pluck-png {
	display: none;
}

.pluck-review-first-post-link {
	display: none;
}

span.pluck-review-first-post-calltoaction {
	padding: 0;
}

/* Css For PDP page Ratings & reviews top*/
.pluck-review-rollup-wrapper .pluck-review-rollup-output-line {
	float: left;
	padding: 0 4px 0 0;
}

.pluck-review-rollup-wrapper .pluck-review-create-review-rollup-wrap {
	float: left;
	background: url("../images/writeareview_bg.jpg") no-repeat scroll 0 0px
		transparent;
	margin: 30px 0 0;
}

.pluck-review-rollup-review-metawrap p.pluck-review-rollup-review-meta-text
	{
	font-size: 11px;
	line-height: 18px;
	overflow: hidden;
	padding: 0;
	text-indent: -4px;
	width: 103%;
}

.pluck-review-create-review-rollup-wrap a.pluck-review-create-review-rollup
	{
	background: none repeat scroll 0 0 transparent;
	height: auto;
	margin: 0;
	padding: 0 0 0 9px;
}

.pluck-review-create-review-rollup-wrap a.pluck-review-create-review-rollup span
	{
	background: none repeat scroll 0 0 transparent;
	color: #666699;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	width: auto;
}

.pluck-review-rollup-wrapper .pluck-review-login-review-rollup-wrap {
	background: url("../images/writeareview_bg.jpg") no-repeat scroll 0 0
		transparent;
	float: left;
	font-size: 11px;
	margin: 26px 0 0;
	text-transform: uppercase;
}

.product-detail .pluck-review-rollup-wrapper .pluck-review-login-review-rollup-wrap
	{
	background: none;
}

.pluck-review-rollup-wrapper .pluck-review-login-review-rollup-wrap a {
	padding: 0 10px 0 6px;
	line-height: 16px;
	overflow: hidden;
}

.ie .pluck-review-rollup-wrapper .pluck-review-login-review-rollup-wrap
	{
	margin: 30px 0 0;
}
/* Styles for Review in mobile */
.pmobile-reviews-filter-bar {
	background: none repeat scroll 0 0 transparent;
	font-family: 'NewBaskervilleW02-roman';
	font-size: 1.25em;
	min-height: 30px;
}

.pmobile-reviews-thread-wrap {
	border-bottom: 1px dotted #D9D9D8 !important;
}

.pmobile-reviews-score-wrap {
	line-height: 22px;
	font-size: 0.916em;
}

.pmobile-reviews-score-wrap img {
	display: none;
	margin: 0 3px;
	vertical-align: bottom;
}

.pmobile-reviews-up-score {
	background: url(../images/m-yes.jpg) no-repeat scroll right 0
		transparent;
	display: inline-block;
	line-height: 15px;
	font-size: 0.916em;
	margin: 0 2px;
	padding: 0 25px 0 0;
}

.pmobile-reviews-down-score {
	background: url(../images/m-no.jpg) no-repeat scroll right 0 transparent;
	display: inline-block;
	line-height: 15px;
	font-size: 0.916em;
	margin: 0 2px;
	padding: 0 25px 0 0;
}

.pluck-review-first-post-calltoaction>a {
	color: #666699 !important;
}

/* --------------------------------------- Mobile Pluck css ------------------------------------------------*/
.pmobile-reviews-rollup-meta,.pmobile-reviews-rollup-more {
	display: none;
}

.detailsBox .accordion a.linkbar span.review {
	background: none repeat scroll 0 0 transparent;
	margin: -2px 0 0 10px;
}

.detailsBox ul li a div {
	padding: 0px;
	background: none repeat scroll 0 0 transparent;
}

.detailsBox ul li:hover a.linkbar span {
	color: #FFFFFF;
}

.detailsBox ul li a.linkbar span.pmobile-reviews-starsOutput-overlay {
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 -39px transparent;
}

.detailsBox ul li a.linkbar:hover span.pmobile-reviews-starsOutput-overlay
	{
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 -156px transparent;
}

.detailsBox ul li.active a.linkbar span.pmobile-reviews-starsOutput-overlay
	{
	background: url("../images/starMcate_purple.png") no-repeat scroll 0 0
		transparent;
}

.pmobile-reviews-starsOutput span.pmobile-reviews-starsOutput-color {
	background: url("../images/pluck-review-star-output-color.png")
		no-repeat scroll -10px 0 transparent;
	display: inline-block;
	height: 12px;
	left: 3px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 4px;
	width: 100px;
}

.pmobile-reviews-starsOutput em {
	background: url("../images/pluck-review-star-output-cover.png") repeat-x
		scroll 0 0 transparent;
	display: inline-block;
	height: 12px;
	position: absolute;
	top: 0;
	width: 100px;
}

span.pmobile-reviews-filter-txt {
	color: #333;
	margin-left: 3px;
	padding-top: 7px;
}

span.pmobile-reviews-filter-sortBy {
	color: #333;
	display: none;
	float: right;
	margin-right: 5px;
	padding-top: 5px;
}

span.pmobile-reviews-starsOutput-overlay {
	background: url("../images/pluck-review-star-output-overlay-small.png")
		no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 12px;
	left: 3px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 4px;
	width: 100px;
}

.pmobile-reviews-starsOutput span {
	width: 100px;
}

.pmobile-reviews-starsOutput span em {
	width: 100px;
}

.pmobile-reviews-starsOutput {
	width: 100px;
}

.pmobile-reviews-starsOutput-color {
	width: 100px;
}

.pmobile-actions-wrap,.pmobile-powered-by-wrap,.pmobile-reviews-rollup-auth,.pmobile-reviews-filter-bar,.pmobile-reviews-title,.pmobile-reviews-title-short,.pmobile-reviews-filter-select,.pmobile-reviews-filter-sortBy
	{
	display: none;
}

.detailsBox ul li div.pluckReviewRollupContainer div {
	padding: 0px;
	border-bottom: medium none;
}

.plck-app-container-loaded {
	padding: 0 5px 0 0 !important;
}

.detailsBox ul li:last-child div {
	margin: 0;
	padding: 10px 5px 15px 5px;
}

.detailsBox ul li div.pluckReviewRollupContainer {
	padding: 0px;
}

.pmobile-reviews {
	padding: 3px;
	border: 0px solid #999999 !important;
}

.pmobile-reviews-clickable {
	display: block;
	margin-bottom: 10px !important;
}

.detailsBox ul li.active .pmobile-reviews-clickable span.pmobile-reviews-starsOutput-overlay
	{
	background: url("../images/pluck-review-star-overlay.png") no-repeat
		scroll 0 -187px transparent;
}

.pmobile-reviews-detail {
	display: block !important;
	padding-left: 5px !important;
}

.pmobile-reviews-closed,.pmobile-reviews-open {
	display: block !important;
}

a.pmobile-reviews-username {
	color: #566394;
	text-decoration: none;
}

.pmobile-reviews-content p {
	font-size: 13px;
	margin: 5px 0 0;
}

span.pmobile-reviews-content-filler {
	color: #566394;
}

.pmobile-reviews-meta {
	font-size: 14px;
}

.pluckReviewListContainer  .pluck-review-create-review-primary-buttons {
	padding: 0px;
}

.pluckReviewListContainer  .pluck-review-create-review-primary-buttons  a.pluck-review-create-review-save
	{
	padding-right: 0px;
	margin-right: 10px;
}

.pluck-review-create-review-primary-buttons {
	height: 55px;
	padding-left: 110px;
}

.pluck-review-create-wrap .pluck-error-message {
	color: #9E0B0F;
	font-size: 12px;
	margin: 0 0 0 110px;
}

.pluck-review-create-review-error-container {
	padding-top: 10px;
}

.pluck-review-rollup-review-meta-more {
	display: none;
}

#pdpMain .pluck-review-rollup-output-line {
	color: #556293;
}

.pluck-review-full-review-desc  p.pluck-review-full-review-recommendations
	{
	color: #666;
	font-family: 'NewBaskervilleW02-Itali';
	font-size: 14px;
	margin: 0 0 11px 0;
}

.pmobile-reviews-rollup-create {
	display: none;
}

.pluck-review-errors,.pluck-review-main-area .pluck-review-hidden-message a,.pluck-review-main-area .pluck-review-underReview-message a,.pluck-review-main-area .pluck-review-edit-delete-control-wrap a,.pluck-review-main-area .pluck-review-featured-headline a,.pluck-review-main-area .pluck-review-full-stars a,.pluck-review-main-area .pluck-review-full-reviewer-block a,.pluck-review-main-area .pluck-review-full-review-desc a,.pluck-review-main-area .pluck-review-full-review-pro-con a,.pluck-review-main-area .pluck-review-full-review-action-buttons a,.pluck-review-main-area .pluck-review-full-review-comment-wrap a,.pluck-reviews-list-pagination a,span.pluck-reviews-list-pagination-separator,.pluck-review-rollup a,.pluck-review-category-rollup a,.pluck-review-create-wrap a,.pluck-review-preview span.pluck-review-full-reviewer-name,span.pluck-review-full-reviewer-otherreviews,a.pluck-review-most-helpful-reviewer-username,a.pluck-review-most-helpful-review-full-review-link,a.pluck-review-recent-reviews-parent-link,a.pluck-review-recent-reviews-reviewer-username,a.pluck-review-recent-reviews-review-full-review-link,a.pluck-review-top-rated-item-link,a.pluck-review-top-rated-reviewer-username,span.pluck-review-first-post-calltoaction a,.pluck-review-show-hidden-info,.pluck-review-hide-hidden-info,.pluck-review-most-helpful-show-hidden-info,.pluck-review-most-helpful-hide-hidden-info,.pluck-review-recent-reviews-show-hidden-info,.pluck-review-recent-reviews-hide-hidden-info,.pluck-review-full-navigation-back
	{
	color: #666699;
}

/* For general iPad layouts */
@media only screen and (device-width: 768px) {
	#pluck .pluck-review-full-stars span.pluck-review-starsOutput-overlay {
		top: 5px;
	}
}

/* new styling for user account review page */
.pluck-persona-username-header, .pluck-persona-third-navigation, .pluck-persona-third-navigation-tabs, 
ul.pluck-persona-third-navigation-holder, .pluck-persona-main-wrap, .pluck-persona-userbar-wrapper, 
.pluck-persona-hero-avatar, .pluck-persona-userbar-stats, .pluck-persona-userbar-stats-data, 
.pluck-persona-userbar-avatar-quickguide-wrap, .pluck-persona-userbar-rss, 
.pluck-persona-userbar-anchor, .pluck-persona-third-navigation-hover-off, 
.pluck-persona-first-navigation-hover-off, .pluck-persona-third-navigation-hover-off,
.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-messages-header {
	background: none;
}

/* left column */
.pluck-persona-userbar-wrapper, .pluck-persona-personal-sidebar-wrapper {
	width: 200px;
	margin-top: 15px;
	margin-left: 30px;
	padding-top: 3px;
	-webkit-box-shadow: 1px 0px 5px 2px #DBDAD4;/* Webkit (Safari/Chrome) */
	-moz-box-shadow: 1px 0px 5px 2px #DBDAD4; /* Mozilla Firefox */
	box-shadow: 1px 0px 5px 2px #DBDAD4; /* Proposed W3C Markup */
}

.pluck-persona-userbar-wrapper > *, .pluck-persona-personal-sidebar-wrapper > * {
	margin: 0;
	background: #fff;
	border: none;
}

 .pluck-persona-personal-sidebar-wrapper {
 	width: 216px;
 }

.pluck-persona-personal-sidebar-wrapper > * {
	padding-top: 10px;
}

.pluck-persona-firstperson-narrow-wrapper  a, .pluck-persona-personal-sidebar-wrapper a,
.pluck-persona-first-public-galleries-title a, .pluck-persona-first-public-galleries-footer a,
.pluck-persona-first-user-galleries-title a, .pluck-persona-first-user-galleries-footer a {
	color: #556293;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-stats {
	padding-top: 15px;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-stats-data {
	width: 160px;
	margin: 0 auto;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 5px;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-stats-data .pluck-persona-userbar-stats-data-slice
	{
	padding: 0;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-actions {
	padding-top: 0;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-rss {
	padding-top: 0;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-rss .pluck-persona-userbar-rss-element
	{
	width: 160px;
	padding: 0;
	border-top: 1px solid #c6C6C6;
	margin-left: 20px;
	padding-top: 15px;
	margin-top: 0;
}

.pluck-persona-userbar-wrapper .pluck-persona-userbar-rss .pluck-persona-userbar-rss-element .pluck-persona-userbar-rss-link
	{
	margin-left: 0;
}

/* right column */
.pluck-persona-third-main-area {
	margin-top: 45px;
	padding-left: 250px;
	margin-left: 0;
	min-height: 548px;
	font-family: 'Gill Sans W02 Medium';
	font-size: 12px;
	font-style: initial;
}

.pluck-persona-third-main-area .pluck-persona-third-navigation {
	position: relative;
	top: -36px;
}

.pluck-persona-third-main-area .pluck-persona-third-navigation+div {
	top: -25px;
}

.pluck-persona-third-main-area .pluck-persona-third-navigation-hover-off,.pluck-persona-third-navigation-hover-on,
.pluck-persona-first-navigation-hover-off,.pluck-persona-first-navigation-hover-on
	{
	padding: 0px 23px 0px 23px !important;
	line-height: 2em;
}

.pluck-persona-third-main-area .pluck-persona-third-navigation-hover-on,.pluck-persona-third-navigation-hover-active, 
.pluck-persona-first-navigation-hover-active, .pluck-persona-first-navigation-hover-on,
.pluck-persona-first-navigation-hover-active, .pluck-persona-firstperson-wide-wrapper {
	background: #EBEAE0 !important;
}

.pluck-persona-third-main-area a.pluck-persona-third-navigation-link, a.pluck-persona-first-navigation-link, 
.pluck-persona-first-navigation-hover-off a.pluck-persona-first-navigation-link, 
.pluck-persona-first-navigation-hover-on a.pluck-persona-first-navigation-link {
	font-family: 'NewBaskerville', Italic;
	font-size: 0.963em;
	font-style: italic;
}

a.pluck-persona-first-navigation-link {
	padding-top: 0;
}

.pluck-persona-third-main-area .pluck-persona-third-navigation-tabs {
	margin: 0px 0px 0px 10px;
}

.pluck-persona-third-main-area .pluck-persona-update-text {
	margin-left: 62px;
	font-size: 12px;
}

.pluck-persona-third-main-area .pluck-persona-update-time {
	text-transform: uppercase;
	font-size: 10px;
}

.pluck-persona-third-main-area p.pluck-persona-update-content-preview-text
	{
	font-style: normal;
}

.pluck-persona-third-main-area .pluck-persona-third-update {
	margin-left: 10px;
}

.pluck-persona-third-main-area .pluck-persona-update-content-preview .pluck-persona-update-content-preview-text a
	{
	font-size: 14px;
	margin: 10px 0;
	color: #555555;
	font-family: 'GillSans', NewBaskerville-roamn;
}

.pluck-persona-third-main-area .pluck-persona-third-people-wrapper {
	margin-left: 10px;
}

p.pluck-persona-username-text, .pluck-persona-username-first-person-header p.pluck-persona-username-first-person-text,
.pluck-persona-first-navigation-tabs {
	margin-left: 30px;
}

span.pluck-persona-username {
	font-family: 'NewBaskerville';
	color: #556293;
	font-weight: normal;
	font-size: 1.250em;
}

li.pluck-persona-third-navigation-element {
	margin-top: 0px;
	border: 0;
}

span.pluck-persona-userbar-stats-data-label a {
	color: #9B9C9D;
}

span.pluck-persona-userbar-actions-element a {
	margin-left: 20px;
}

span.pluck-persona-userbar-actions-element span {
	margin-left: 18px;
}

span.pluck-persona-first-person-username {
	font-family: 'NewBaskerville';
	color: #556293;
	font-weight: normal;
	font-size: 1.250em;
}

.pluck-persona-username-first-person-header,.pluck-persona-first-navigation,.pluck-persona-first-navigation-tabs,
ul.pluck-persona-first-navigation-holder, .pluck-wall-post-update, .pluck-first-section-header
	{
	background: none;
}

a.pluck-persona-first-global-navigation-link,a.pluck-persona-first-global-navigation-link:hover
	{
	color: #556293;
}

li.pluck-persona-first-navigation-element {
	border-left: none;
	border-right: none;
	border-top: none;
}


/* common styles */
.pluck-persona-third-navigation-hover-on a.pluck-persona-third-navigation-link,
.pluck-persona-third-navigation-hover-on a.pluck-persona-third-navigation-link-active,
a.pluck-persona-third-navigation-link-active, p.pluck-persona-update-message a.pluck-persona-inline-username,
span.pluck-persona-userbar-actions-element a,span.pluck-persona-userbar-rss-element a,
.pluck-persona-first-navigation-hover-on a.pluck-persona-first-navigation-link,
.pluck-persona-first-navigation-hover-on a.pluck-persona-first-navigation-link-active,
a.pluck-persona-first-navigation-link-active, .pluck-first-subnavigation a,
.pluck-persona-third-navigation-hover-active a.pluck-persona-third-navigation-link-active,
.pluck-persona-first-navigation-hover-active a.pluck-persona-first-navigation-link-active {
	color: #636E99;
}

.pluck-persona-hero-avatar .topContainer,.pluck-persona-userbar-anchor .bottomContainer, 
.pluck-persona-username-first-person-header .pluck-persona-avatar, 
.pluck-persona-username-first-person-header .pluck-persona-first-person-user-status,
.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-profile-body .pluck-persona-sidebar-profile-progressBar, 
.pluck-persona-first-navigation-element .topContainer {
	display: none;
}

a.pluck-persona-third-navigation-link, .pluck-persona-update-content-preview, .pluck-persona-third-update a,
.pluck-persona-update-message-info,.pluck-persona-update-time, a.pluck-persona-first-navigation-link, 
.pluck-persona-first-public-galleries-calltoaction, .pluck-persona-first-public-galleries-header, 
.pluck-persona-first-user-galleries-calltoaction, .pluck-persona-first-photos-recent-calltoaction, 
.pluck-first-section-header {
	color: #666666;
} /* grey color text */
.pluck-persona-third-main-area,.pluck-third-subnav-item-off, .pluck-persona-first-main-area,.pluck-first-subnav-item-off {
	background: #EBEAE0;
}

/* global navigation links */
.pluck-persona-first-navigation .pluck-persona-first-global-navigation-element a {
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'Gill Sans W02 Medium';
}

.pluck-persona-first-navigation .pluck-persona-first-global-navigation-holder {
	margin-right: 28px;
}

/* Home tab */
.pluck-persona-username-first-person-header {
	min-height: 47px;	
}

.pluck-persona-third-navigation-hover-off, .pluck-wall-post-update, .pluck-first-section-header {
	border: none;
}

.pluck-persona-first-navigation-tabs, .pluck-persona-first-navigation {
	height: 40px;
}

.pluck-persona-firstperson-narrow-wrapper {
	position: initial !important;
	padding-right: 250px;
	background: #EBEAE0;
	margin-right: 0; 
}

.pluck-persona-firstperson-narrow-wrapper .pluck-wall-post-update {
	margin-top: 0;
	padding-top: 24px;
}

.pluck-persona-firstperson-narrow-wrapper input.pluck-wall-post-message-input, .pluck-persona-firstperson-narrow-wrapper textarea {
	padding: 9px;
	border: 1px solid #cfcfcf;
	width: 282px;
	color: #999999;
	margin-left: 15px;
}

.pluck-persona-firstperson-narrow-wrapper a.pluck-secondary-button {
	float: right;
	margin-right: 186px;
	border-radius: 4px;
	border: 0;
	color: #f6f7f9;
	background-color: #5c6999;
	background: #5c6999 -webkit-gradient(linear, left top, left bottom, from(#828db8), to(#5c6999)) no-repeat;
	background: #5c6999 -moz-linear-gradient(top, #828db8, #5c6999) no-repeat;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#828db8, endColorstr=#5c6999) no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#828db8, endColorstr=#5c6999)" no-repeat;
	padding: 3px 0px 0 0;
	line-height: 2.6em;
	text-transform: uppercase;
	height: 33px;
}

.pluck-persona-firstperson-narrow-wrapper a.pluck-secondary-button span {
	font-size: 12px;
	background: none;
	width: 86px;
}

/* sidebar */
.pluck-persona-personal-sidebar-wrapper {
	padding-top: 0;
	margin-top: 30px;
	margin-right: 32px;
	position: relative;
	z-index: 999;
}

.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-messages-header, 
.pluck-persona-sidebar-middle, .pluck-persona-sidebar-middle, 
.pluck-persona-sidebar-messages-body, .pluck-persona-sidebar-blog-body, 
.pluck-persona-sidebar-profile-body, .pluck-persona-sidebar-know-body, 
.pluck-persona-sidebar-info-endcap {
	background: none;
	margin: 0 20px;
}

.pluck-persona-personal-sidebar-wrapper p.pluck-persona-sidebar-messages-header-text, 
.pluck-persona-personal-sidebar-wrapper p.pluck-persona-sidebar-blog-header-text, 
.pluck-persona-personal-sidebar-wrapper p.pluck-persona-sidebar-profile-header-text, 
.pluck-persona-personal-sidebar-wrapper p.pluck-persona-sidebar-know-header-text {
	color: #666666;
	font-weight: normal;
	margin-left: 0;
	font-family: 'GillSans', NewBaskerville-roman;
	font-size: 0.875em;
}

.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-messages-body,
.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-profile-body,
.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-know-body {
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
}

.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-middle, 
.pluck-persona-personal-sidebar-wrapper .pluck-persona-sidebar-first {
	padding-top: 10px;
}

.pluck-persona-sidebar-messages-body p, .pluck-persona-sidebar-blog-body p, 
.pluck-persona-sidebar-profile-body p, .pluck-persona-sidebar-know-body p {
	padding-left: 0;
	color: #666666;
}

.pluck-persona-sidebar-know-body p strong, .pluck-persona-sidebar-profile-body p:first-of-type {
	font-style: italic;
	font-weight: normal !important;
	font-family: 'GillSans', NewBaskerville-roman;
	font-size: 0.875em;
	color: #666666;
}

.pluck-persona-sidebar-know-body p strong {
	font-size: 1.1em;
}

.pluck-persona-sidebar-profile-body span.pluck-persona-sidebar-profile-call-out {
	font-weight: normal;
	color: #786952;
}

/* photos */
.pluck-persona-firstperson-wide-wrapper {
	padding: 20px 20px 10px 17px;
}

.pluck-first-section-header {
	margin-top: 0;
}