/*********************************
 *
 * CSS control - DO NOT CHANGE OR REMOVE
 * needed to track loading of this css file
 *
 *********************************/

.pmobile-reviews-css-loaded { /* DO NOT CHANGE OR REMOVE - needed to track loading of this css file */
	border-bottom-color: #010204;
}

/****/

.pmobile-reviews {
	border: 1px solid #999999;
	margin: 0px auto;
	max-width: 480px;
	min-width: 318px;
	padding: 0px auto;
	position: relative;
	width: auto;
}

.pmobile-reviews-noReviews,
.pmobile-reviews-noReviewsForFilter {
	font-size: 0.9em;
	min-height: 30px;
	padding: 10px;
}

.pmobile-reviews-filter-bar {
	background: #a3a29e;
	font-size: 0.9em;
	min-height: 30px;
}

select.pmobile-reviews-filter-select {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

span.pmobile-reviews-filter-sortBy {
	color: #FFFFCC;
	display: inline-block;
	float: right;
	margin-right: 5px;
	padding-top: 5px;
}

span.pmobile-reviews-filter-txt {
	color: #e0e0e0;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
}

a.pmobile-reviews-all-reviews {
	color: #0066cc;
	text-decoration: none;
}

a.pmobile-reviews-count {
	color: #e0e0e0;
	text-decoration: none;
}

.pmobile-reviews-return-list {
	background: #a3a29e;
	font-size: 0.9em;
	min-height: 25px;
	padding: 5px 0 0 5px;
}

.pmobile-reviews-return-list a {
	color: #e0e0e0;
	text-decoration: none;
}

.pmobile-reviews-thread-wrap {
	border-bottom: 2px solid #a6a6a5;
	margin-top: 7px;
}

.pmobile-review-isFeatured {
	background: #f4f3ee;
	margin-top: 0px;
	padding-top: 5px;
}

.pmobile-reviews-single-wrap {
	margin: 0 10px 5px 10px;
}

.pmobile-reviews-warning {
	display: none;
	font-size: 0.9em;
	font-style: italic;
	padding: 10px 0;
}

.pmobile-reviews-ignored {
	cursor: pointer;
}

.pmobile-reviews-clickable {
	cursor: pointer;
}

.pmobile-reviews-title,
.pmobile-reviews-title-short {
	font-weight: bold;
	font-size: 1.0em;
}

.pmobile-reviews-score-wrap {
	color: #a6a6a5;
	float: right;
	font-size: 0.9em;
	padding-top: 3px;
}

.pmobile-reviews-score-wrap p {
	margin: 0px;
}

.pmobile-reviews-score-wrap img {
	margin: 0px 3px 0px 3px;
	vertical-align: bottom;
}

.pmobile-reviews-total-score,
.pmobile-reviews-up-score,
.pmobile-reviews-down-score {
	color: #934c34;
}

.pmobile-reviews-starsOutput {  /* all CSS progress bar taken from http://cssglobe.com/post/1468/pure-css-animated-progress-bar */ 
	height: 12px;
	margin: 0px 5px 0px -5px;
	padding: 5px 0px 10px 0px;
	position: relative;
	width: 102px;
}

.pmobile-reviews-starsOutput span.pmobile-reviews-starsOutput-color {
	background: url('/ver1.0/mobile/images/pluck-review-star-output-color.png') no-repeat 0 0;
	display: inline-block;
	height: 12px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 6px;
	width: 100px;
}

.pmobile-reviews-starsOutput em {
	background: url('/ver1.0/mobile/images/pluck-review-star-output-cover.png') repeat-x 0 0;
	display: inline-block;
	height: 12px;
	position: absolute;
	top: 0;
	width: 100px;
}

span.pmobile-reviews-starsOutput-overlay {
	background: url('/ver1.0/mobile/images/pluck-review-star-output-overlay.png') no-repeat 0 0;
	display: inline-block;
	height: 12px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 6px;
	width: 100px;
}

.pmobile-review-isFeatured span.pmobile-reviews-starsOutput-overlay {
	background: url('/ver1.0/mobile/images/pluck-review-star-output-overlay-featured.png') no-repeat 0 0;
}

.pmobile-reviews-ignored-closed .pmobile-reviews-warning {
	display: block;
}

.pmobile-reviews-ignored-closed .pmobile-reviews-clickable {
	display: none;
}

.pmobile-reviews-closed .pmobile-reviews-title,
.pmobile-reviews-closed .pmobile-reviews-detail,
.pmobile-reviews-closed .pmobile-reviews-comments-toggle-wrap,
.pmobile-reviews-closed .pmobile-reviews-comments-list {
	display: none;
}

.pmobile-reviews-open .pmobile-reviews-title-short {
	display: none;
}

.pmobile-reviews-meta {
	font-size: 0.9em;
	margin-bottom: 5px;
}

span.pmobile-reviews-timestamp {
	color: #999999;
}

.pmobile-reviews-featured {
	float: right;
	color: #999999;
}

table.pmobile-reviews-attributes {
	font-size: 0.9em;
}

tr.pmobile-reviews-attributes-header {
	display: none;
}

td.pmobile-reviews-attributes-name {
	font-weight: bold;
	padding-right: 10px;
	text-align: left;
}

td.pmobile-reviews-attributes-value {
}

.pmobile-reviews-content {
	margin-bottom: 15px;
}

.pmobile-reviews-content p {
	font-size: 0.9em;
	line-height: 1.9em;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

.pmobile-reviews-content p.pmobile-reviews-content-thin {
	line-height: normal;
}

.pmobile-reviews-detail p.pmobile-reviews-edited {
	color: #999999;
	font-size: 0.9em;
	text-align: right;
}

a.pmobile-reviews-username {
	color: #0066cc;
	text-decoration: none;
}

span.pmobile-reviews-username {
	font-weight: bold;
}

span.pmobile-reviews-content-filler {
	color: #999999;
}

span.pmobile-reviews-content-header {
	font-weight: bold;
}

.pmobile-reviews-author-attributes-name {
	font-weight: bold;
	margin-right: 5px;
}

.pmobile-reviews-photos {
	font-size: 0.9em;
}

.pmobile-reviews-photo-count {
	font-weight: bold;
	margin-bottom: 10px;
}

.pmobile-reviews-photo {
	margin-bottom: 15px;
	min-height: 60px;
}

.pmobile-reviews-photo a {
	display: block;
	float: left;
	height: 60px;
	padding-right: 10px;
	text-decoration: none;
	width: 60px;
}

.pmobile-reviews-photo img {
	border: 0;
	display: block;
	float: left;
	height: 60px;
	width: 60px;
}

.pmobile-reviews-photo a img {
	margin: 0;
	padding: 0;
}

.pmobile-reviews-photo-content {
	min-height: 60px;
	margin-left: 70px;
}

.pmobile-reviews-photo-content p {
	margin: 0px;
}

.pmobile-reviews-photo-content p.pmobile-reviews-photo-title {
	font-weight: bold;
}

.pmobile-reviews-photo-full {
	display: none;
	margin: 10px 0;
}

.pmobile-reviews-photo .pmobile-reviews-photo-full a {
	float: none;
	height: auto;
	padding-right: 0px;
	width: auto;
}

.pmobile-reviews-photo .pmobile-reviews-photo-full img {
	float: none;
	height: auto;
	width: auto;
}

.pmobile-reviews-actions-wrap {
	margin: 0px -5px;
}

div.pmobile-reviews-reply,
.pmobile-reviews-can-score div.pmobile-reviews-vote-up,
.pmobile-reviews-can-score div.pmobile-reviews-vote-down,
.pmobile-reviews-scored-up div.pmobile-reviews-voted-up,
.pmobile-reviews-scored-down div.pmobile-reviews-voted-down,
.pmobile-reviews-reported-abuse div.pmobile-reviews-reported,
.pmobile-reviews-report-abuse div.pmobile-reviews-report {
	display: inline-block;
}

.pmobile-reviews-comments-toggle-wrap {
	height: 25px;
	margin: 10px 0px 5px 0px;
}

a.pmobile-reviews-comments-closed {
	background: url('/ver1.0/mobile/images/reply-closed.gif') 0px 2px no-repeat;
	color: #0066cc;
	display: inline-block;
	height: 25px;
	font-size: 0.9em;
	margin-left: 10px;
	padding-left: 20px;
	text-decoration: none;
}

a.pmobile-reviews-comments-open {
	background: url('/ver1.0/mobile/images/reply-open.gif') 0px 2px no-repeat;
	color: #0066cc;
	display: inline-block;
	height: 25px;
	font-size: 0.9em;
	margin-left: 10px;
	padding-left: 20px;
	text-decoration: none;
}

.pmobile-reviews-comments-toggle-closed a.pmobile-reviews-comments-open {
	display: none;
}

.pmobile-reviews-comments-toggle-open a.pmobile-reviews-comments-closed {
	display: none;
}

.pmobile-reviews-comment-count {
	margin-right: 5px;
}

.pmobile-reviews-comments-single .pmobile-reviews-comments-count-label {
	display: none;
}

.pmobile-reviews-comments-multiple .pmobile-reviews-comment-count-label {
	display: none;
}

.pmobile-reviews-comments-list {
	margin-bottom: 5px;
}

.pmobile-reviews-comments-list-closed {
	display: none;
}

.pmobile-reviews-comments-list .pmobile-pag-wrap {
	margin-left: 40px;
}

.pmobile-reviews-comments-single-wrap {
	background: url('/ver1.0/mobile/images/reply-arrow.png') 17px 9px no-repeat;
	padding-left: 40px;
	padding-top: 5px;
}

.pmobile-reviews-comments-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pmobile-reviews-comments-content p {
	font-size: 0.9em;
	line-height: 1.9em;
	margin: 0px 0px 10px 0px;
	padding: 0px 10px 0px 10px;
}

.pmobile-reviews-comments-content p.pmobile-reviews-comments-edited {
	color: #999999;
	text-align: right;
}

a.pmobile-reviews-comments-username {
	color: #0066cc;
	text-decoration: none;
}

span.pmobile-reviews-comments-username {
	font-weight: bold;
}

span.pmobile-reviews-comments-content-filler {
	color: #999999;
}

.pmobile-reviews .pmobile-abuse {
	margin-top: 10px;
}

.pmobile-reviews .pmobile-comments {
	border: none;
	border-top: 1px solid #999999;
	font-size: 1.0em;
	margin-top: 0px;
}

.pmobile-reviews-rollup {
	margin: 0px auto;
	padding: 0px auto;
	position: relative;
}

.pmobile-reviews-rollup .pmobile-reviews-starsOutput {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 3px 0;
}

.pmobile-reviews-rollup-meta {
	display: inline-block;
	margin: 0px 0px 0px 5px;
}

.pmobile-reviews-rollup-meta a {
	color: #0066cc;
	text-decoration: none;
}

.pmobile-reviews-rollup-more {
	display: block;
	padding-top: 5px;
}

.pmobile-reviews-rollup-more a {
	color: #0066cc;
	text-decoration: none;
}

.pmobile-reviews-rollup-histogram-control {
}

a.pmobile-reviews-rollup-show-histogram {
	background: url('/ver1.0/mobile/images/reply-closed.gif') 0px 2px no-repeat;
	display: inline-block;
	height: 25px;
	margin-left: 5px;
	padding: 0px 0px 0px 25px;
}

a.pmobile-reviews-rollup-hide-histogram {
	background: url('/ver1.0/mobile/images/reply-open.gif') 0px 2px no-repeat;
	display: none;
	height: 25px;
	margin-left: 5px;
	padding: 0px 0px 0px 25px;
}

.pmobile-reviews-rollup-more .pmobile-reviews-histogram {
	display: none;
}

.pmobile-reviews-slider {  /* all CSS progress bar taken from http://cssglobe.com/post/1468/pure-css-animated-progress-bar */
	display: inline-block;
	height: 8px;
	margin: 0px 15px 0px 17px;
	position: relative;
	width: 76px;
}

.pmobile-reviews-rollup-narrow .pmobile-reviews-slider {
	margin: 0px 5px;
}

.pmobile-reviews-slider span {
	background: url('/ver1.0/mobile/images/pluck-review-star-output-color.png') no-repeat 0 0;
	display: inline-block;
	height: 6px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 1px;
	width: 76px;
}

.pmobile-reviews-slider em {
	background: url('/ver1.0/mobile/images/pluck-review-attribute-bar-cover.png') repeat-x 0 0;
	display: inline-block;
	height: 8px;
	position: absolute;
	top: 0px;
	width: 100px;
}

span.pmobile-reviews-slider-overlay {
	background: url('/ver1.0/mobile/images/pluck-review-slide-output-overlay2.png') no-repeat 0 0;
	display: inline-block;
	height: 8px;
	left: 1px;
	overflow: hidden;
	position: absolute;
	text-indent: -8000px;
	top: 0px;
	width: 100px;
}

.pmobile-reviews-rollup-create {
	display: inline-block;
	height: 40px;
	margin-top: 10px;
}

.pmobile-reviews-rollup-auth {
	display: inline-block;
	height: 40px;
	margin-top: 10px;
}

.pmobile-reviews-rollup-auth a.pmobile-primary-button {
	display: inline-block;
	margin-top: 5px;
	margin-left: 7px;
	width: 60px;
}

.pmobile-reviews-histogram-count {
	color: #999999;
	display: inline-block;
	padding-left: 5px;
}

.pmobile-reviews-categoryRollup {
	margin: 0px auto;
	padding: 0px auto;
	position: relative;
}

.pmobile-reviews-categoryRollup .pmobile-reviews-starsOutput {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	padding: 3px 0;
}

.pmobile-reviews-recent {
	border: 1px solid #999999;
	margin: 0px auto;
	max-width: 480px;
	min-width: 318px;
	padding: 0px auto;
	position: relative;
	width: auto;
}

.pmobile-reviews-recent a {
	color: #0066cc;
	text-decoration: none;
}

.pmobile-reviews-recent-header {
	background-color: #A3A29E;
	font-size: 1.0em;
	min-height: 30px;
	line-height: 30px;
}

.pmobile-reviews-recent-headline {
	color: #e0e0e0;
	display: inline-block;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	padding-top: 3px;
}

.pmobile-reviews-recent-content-wrap {
}

.pmobile-reviews-recent-single-wrap {
	font-size: 0.9em;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
}

.pmobile-reviews-recent-single-wrap .pmobile-reviews-starsOutput {
	margin: 5px 0 0 10px;
}

.pmobile-reviews-recent-single-wrap p {
	margin: 5px 10px;
}

.pmobile-reviews-recent-title {
	font-weight: bold;
}

.pmobile-reviews-recent-meta {
	color: #999999;
	font-weight: 0.9em;
}

.pmobile-reviews-submit {
	border: 1px solid #999999;
	margin: 0px auto;
	max-width: 480px;
	min-width: 318px;
	padding: 0px auto;
	position: relative;
	width: auto;
}

.pmobile-reviews-submit > div {
	font-size: 0.9em;
	margin: 0px 10px 10px 10px;
}

.pmobile-reviews-submit > div.pmobile-reviews-submit-label {
	margin-bottom: 0px;
}

.pmobile-reviews-submit div.pmobile-reviews-submit-header {
	background-color: #A3A29E;
	font-size: 1.0em;
	margin: 0px;
	padding: 5px 10px;
	min-height: 30px;
	line-height: 30px;
}

.pmobile-reviews-submit-headline {
	color: #e0e0e0;
	display: inline-block;
	margin: 0px;
}

.pmobile-reviews-submit-required {
	color: #615555;
	font-weight: bold;
	padding-top: 10px;
}

.pmobile-reviews-submit-data {
}

.pmobile-reviews-submit-data label {
	color: #615555;
}

.pmobile-reviews-submit-line > label {
	display: inline-block;
	margin-right: 10px;
}

.pmobile-reviews-submit-stack > label {
	display: block;
	margin-bottom: 5px;
}

.pmobile-reviews-submit-stars > label {
	display: block;
	float: left;
	height: 18px;
	line-height: 18px;
	margin-right: 10px;
}

.pmobile-reviews-submit-stars > a {
	background: transparent url('/ver1.0/mobile/images/create-review-star-inactive.png') center center no-repeat;
	display: inline-block;
	width: 30px;
	height: 18px;
}

.pmobile-reviews-submit-stars > a.pmobile-reviews-submit-stars-active {
	background: transparent url('/ver1.0/mobile/images/create-review-star-active.png') center center no-repeat;
}

.pmobile-reviews-submit-data select {
	border: 1px solid #afb1b7;
}

.pmobile-reviews-submit-line > select {
	display: inline-block;
}

.pmobile-reviews-submit-data input {
	border: 1px solid #afb1b7;
}

.pmobile-reviews-submit-stack > input {
	width: 95%;
}

.pmobile-reviews-submit-data textarea {
	border: 1px solid #afb1b7;
	height: 150px;
}

.pmobile-reviews-submit-stack > textarea {
	width: 95%;
}

table.pmobile-reviews-submit-data {
	margin: 0px 0px 5px 20px;
}

tr.pmobile-reviews-submit-table-header {
	display: none;
}

.pmobile-reviews-submit-data td {
	padding: 0;
}

td.pmobile-reviews-submit-label {
	padding: 3px 5px 0px 0px;
	text-align: right;
	vertical-align: top;
}

td.pmobile-reviews-submit-histogram {
	height: 18px;
	line-height: 16px;
	padding: 2px 0px 12px 0px;
	width: 125px;
	background: transparent url('/ver1.0/mobile/images/create-review-attribute-bg.png') top left no-repeat;
	vertical-align: top;
}

td.pmobile-reviews-submit-histogram a {
	background: transparent url('/ver1.0/mobile/images/create-review-attribute-sprite.png') top left no-repeat;
	color: #615555;
	display: inline-block;
	height: 18px;
	line-height: 12px;
	margin: 0px 1px;
	text-align: center;
	text-decoration: none;
	width: 23px;
}

td.pmobile-reviews-submit-histogram a.pmobile-reviews-submit-histogram-active {
	background: transparent url('/ver1.0/mobile/images/create-review-attribute-sprite.png') bottom left no-repeat;
}

.pmobile-reviews-submit > div.pmobile-reviews-submit-author-attributes {
	padding-left: 30px;
}

.pmobile-reviews-submit > div.pmobile-reviews-submit-author-attributes > div {
	margin: 0px 0px 10px 0px;
}

.pmobile-reviews-submit .pmobile-reviews-submit-actions {
	height: 40px;
	margin: 10px;
}

.pmobile-reviews-submit-actions .pmobile-primary-button {
	display: inline-block;
	width: 60px;
}

.pmobile-reviews-submit-actions .pmobile-cancel-button {
	font-size: 1.0em;
}

.pmobile-reviews-toprated {
	border: 1px solid #999999;
	margin: 0px auto;
	max-width: 480px;
	min-width: 318px;
	padding: 0px auto;
	position: relative;
	width: auto;
}

.pmobile-reviews-toprated a {
	color: #0066cc;
	text-decoration: none;
}

.pmobile-reviews-toprated-header {
	background-color: #A3A29E;
	font-size: 1.0em;
	min-height: 30px;
	line-height: 30px;
}

.pmobile-reviews-toprated-headline {
	color: #e0e0e0;
	display: inline-block;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	padding-top: 3px;
}

.pmobile-reviews-toprated-content-wrap {
}

.pmobile-reviews-toprated-single-wrap {
	font-size: 0.9em;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
}

.pmobile-reviews-toprated-single-wrap .pmobile-reviews-starsOutput {
	margin: 5px 0 0 6px;
}

.pmobile-reviews-toprated-single-wrap p {
	margin: 5px 10px;
}

.pmobile-reviews-toprated-title {
	font-weight: bold;
}

.pmobile-reviews-toprated-meta {
	color: #999999;
	font-weight: 0.9em;
}

/************************
 * Changes for 5.2
 ************************/
.pmobile-reviews-recent-single-wrap p,
.pmobile-reviews-title, .pmobile-reviews-title-short,
.pmobile-reviews-content p,
.pmobile-reviews-photo-content p,
p.pmobile-reviews-toprated-title {
	overflow: hidden;
	word-wrap: break-word;
}

div.pmobile-reviews-sourcesite-atttribution {
	margin-bottom: 15px;
}

div.pmobile-reviews-sourcesite-attribution > a {
	color: #0066cc;
	text-decoration: none;
}

div.pmobile-reviews-parent-link {
	margin-bottom: 15px;
}

div.pmobile-reviews-parent-link > a {
	color: #0066cc;
	text-decoration: none;
}




