.ui-dialog #listings-nav {float: right;}
.ui-dialog #listings-nav a {cursor: pointer;display: inline-block;margin: 0 5px;}
.ui-dialog #listings-nav a.active {font-weight: bold;}
.ui-dialog.locateinstore {padding: 0px;}
.pdp-main .product-add-to-cart .availability .label {position: relative;}
.pdp-main .product-add-to-cart .availability {padding: 20px 0 20px 0px;width: 80%;}
.pdp-main .product-add-to-cart .online-stock span {float: left;}

.update-location {color:#22B0E8;padding-left: 10px;cursor: pointer;}

div.store-list {
    /*box-shadow: 0 0px 3px 0 #bfbcb6; -moz-box-shadow: 0 0px 3px 0 #bfbcb6; -webkit-box-shadow: 0 0px 3px 0 #bfbcb6;*/
    border-top: 1px solid #ece9e3;
	border-left: 1px solid #ece9e3;
	border-right: 1px solid #ece9e3;
    height: 500px;
    overflow-y: auto;
    padding: 0;
    position: relative;
    font-size:14px;
    font-family:proximanova-regular;
    color: #61574b;

}
div.store-list ul.store-list {position: absolute;}
ul.store-list .store-url {color: #179a8b; font-family: proximanova-bold;}
ul.store-list {list-style: none outside none;margin: 0;padding: 0; width: 100%;}
/*ul.store-list {list-style: none outside none;margin: 0;padding: 0; width:627px;}*/
ul.store-list .selected {background-color: #ddf0df;}
ul.store-list .in-stock {}
.store-tile {height: 110px; list-style: none outside none;margin: 0;padding: 8px;position:relative;border-bottom:1px solid #e4e0d2;clear:both;overflow:hidden;padding:20px;background:#fbf9f6;-webkit-transition: background-color .2s linear;transition: background-color .2s linear;}

.store-tile.alternate{background:#fff;}
.store-tile.mystore-tile{background-color: #d8edeb;-webkit-transition: background-color .2s linear;transition: background-color .2s linear;}

.store-tile .store-tile-address {display: block;}
.store-tile .store-tile-city {margin: 0 5px 0 0;}
.store-tile .store-tile-state {margin: 0 5px 0 0;}
.store-tile .store-tile-postalCode {margin: 0 5px 0 0;}
.store-tile .store-tile-phone {display: block;}
.store-tile .store-tile-status {display: block;font-size: 0.9em;margin: 5px 0;}
.not-available .store-tile-status, .out-of-stock .store-tile-status {color: #990000;}
.In-Stock .store-tile-status {color: #019328;}
.store-tile .store-tile-map-this {display: block;font-size: 0.9em;margin: 5px 0;}
.store-tile .select-store-button {bottom: 5px;left: 6px;position: absolute;}
.store-stock ul.expanded {height: auto;}
.store-stock ul.store-list {margin: 20px 0 5px;}
.store-stock ul.store-list .extended-list {display: none;}
.store-stock ul.expanded .extended-list {display: block;}
.store-stock ul.store-list .selected {background-color: #fff;font-weight: bold;}
.store-stock .store-tile {border-color: #CEBDB3;border-style: dotted;border-width: 1px 0 0;clear: both;float: none;font-size: 0.9em;height: auto;line-height: 1.5em;overflow: hidden;padding: 5px 0 5px 55%;text-align: right;width: auto;}
.store-stock .store-tile .store-tile-address {color: #0167AF;display: inline-block;margin: 0 0px 0 0;}
.store-stock .store-tile .store-tile-city {color: #0167AF;margin: 0 3px 0 0;}
.store-stock .store-tile .store-tile-state {color: #0167AF;}
.store-stock .store-tile .store-tile-postalCode {display: none;}
.store-stock .store-tile .store-tile-phone {color: #0167AF;display: inline-block;margin: 0 0px 0 0;}
.store-stock .store-tile .store-tile-status {left: 0;margin: 0;position: absolute;text-align: left;top: 3px;width: 80px;}
.store-stock .In-Stock .store-tile-status {left: 13px;}
.store-stock .store-tile .store-tile-map-this {display: none;}
.store-stock .store-tile .select-store-button { display: none; }
.more-stores {
	background: url("../images/interface/icon-ui-tabs-active-link-down.png") no-repeat scroll left center transparent;
	color: #0167AF;
    cursor: pointer;
    font-size: 0.8em;
    margin: 0 0 0 2px;
    padding: 0 0 0 12px;
}
.more-stores.active {background: url("../images/interface/icon-ui-tabs-active-link.png") no-repeat scroll left center transparent;}
.checkout-progress-indicator {font-size:1em;}
.checkout-progress-indicator div{padding: 20px;}
.multishipprogress div, .multishipprogress .step-3 {background: url("../images/interface/icon-checkout-indicator.png") no-repeat scroll right center transparent;display: inline;padding: 1em;}
.multishipprogress .step-4 {background: none repeat scroll 0 0 transparent;padding-right: 0;}
.multishipaddressestable {margin: 9px 0px 20px 0px;width: 706px;}
.multi-ship-shipments-table {margin: 0 0 20px;width: 706px;}
.multi-ship-shipments-table th.section-header {font-size: 10px;font-weight: bold;padding: 9px 6px 11px;}
.multi-ship-shipments-table .shipping-address {}
.multi-ship-shipments-table .shipping-address .details {padding: 0 10px 0 22px;}
.multi-ship-shipments-table .gift-options label {float: left;padding: 0;}
.multi-ship-shipments-table .gift-options input {margin: 0 10px;}
.multi-shipping-addresses {margin-bottom: 20px !important;margin-left: 0;margin-right: 0;margin-top: 0;}
.multi-shipping-addresses .shipping-address {text-align: right;}
.multi-shipping-addresses .shipping-address select {margin: 4px 0 0; width: 260px;}
.header-product-shipping {width: 276px;}
.header-qty-shipping {width: 45px;}
.header-location-shipping {text-indent: 70px;width: 307px;}
.header-shipment-index {width: 409px;}
.header-shipment-qty {width: 27px;}
.header-shipment-details {text-indent: 22px;}
.multi-shipping-methods {position: absolute;top: 30px;}
.multi-shipping-methods .shipping-methods .form-row {clear: none;float: left;display: none;}
.multi-shipping-methods .shipping-methods select {width: 250px;margin: -5px 0 0 15px;}
.multi-shipping-option {border-bottom: 2px dotted #CEBDB3;left: 0;padding: 0 0 12px;position: absolute;text-indent: 10px;top: 48px;width: 95%;}
.multi-shipping-addresses .shipping-qty, .multi-ship-shipments-table .shipping-qty {background: none repeat scroll 0 0 #E9E9E9;}
.multiship span.label {font-weight: bold;}
.hide {display: none;}
.loading {background: url("../images/loading-progress-98x22.gif") no-repeat scroll left center transparent;}
.store-in-stock {color: #888;}
.store-tile.alternate .store-in-stock {color: #000;}
.store-error {color: #FF0000;}

.locateinstore .logo {background:url("../images/interface/logo-titlebar.png") no-repeat;width:176px;height:44px;margin:15px 20px 0 20px;}
.locateinstore .ui-dialog-titlebar {height:82px;padding:0;background:url("../images/interface/bg-dashed-divider.gif") repeat-x 0 78px #f4f1e9;clear:both;overflow:none;color:#847873;text-transform:none;}
.locateinstore .ui-dialog-titlebar div {float:left;}
.locateinstore .ui-dialog-titlebar div.titletext {font-size: 25px;margin-top:20px;}
.locateinstore input {height:36px; line-height:36px; vertical-align: middle; background:#f4f1e9; border: 2px solid #d8d4ce; color:#8a8681; font: 12px proximanova-bold, Helvetica, Arial, sans-serif;	margin:0 10px 0 20px; width:296px; padding: 10px; border-radius: 17px; }
.locateinstore input::-webkit-input-placeholder {color: #8a8681;}
.locateinstore input:-moz-placeholder {color: #8a8681;}
.locateinstore input::-moz-placeholder {color: #8a8681;}
.locateinstore input:-ms-input-placeholder {color: #8a8681;}
.locateinstore #preferred-store-panel {padding: 0px; xpadding:20px;}
.locateinstore #preferred-store-panel-content {padding: 20px;}
.locateinstore button {width:100px;background-image:none;padding:10px;}
.locateinstore .storeinfo {clear:both;overflow:hidden;width:100%;margin-bottom:5px;}
.locateinstore .storeinfo .title {float:left;font-family:proximanova-semibold;font-size:16px;color:#847873;margin-top:7px;}
.locateinstore .storeinfo .title span {color:#61574b;font-family:proximanova-regular;}
.locateinstore .storeinfo a.checkoutButton {float:right;color:#7e776d;margin-left:10px;}
.locateinstore .storeinfo .update-location {float:right;color:#179a8b;text-decoration:underline;font-family:proximanova-bold;font-size:14px;margin-top:7px;}
.locateinstore .titles {clear:both;	overflow:hidden; background:#f4f1e9; border-top: 1px solid #ece9e3;	border-left: 1px solid #ece9e3;	border-right: 1px solid #ece9e3; padding:8px 20px; margin:0; font-size:1em;	font-family:proximanova-bold; color:#847873;}
.locateinstore .titles li,
.locateinstore ul.store-list li div {float:left;}
.locateinstore .titles li.loc,
.locateinstore .storelocation {width: 235px;}
.locateinstore .titles li.miles,
.locateinstore .miles {width: 80px;}
.locateinstore .titles li.avail {width: 280px; padding-left: 180px;}
.locateinstore .store-tile-status {margin:0 0 0 15px;}
.locateinstore .mystore-tile .store-tile-status {margin:0 0 0 117px;}
.locateinstore .mystore {}
.locateinstore .mystore a {color: #7e776d;}
.locateinstore .mystore .mystore-text {color: #fa3a12; font-weight: bold;}
.locateinstore .mystore-shield {
	position: absolute; 
	display: none; 
	text-align: center; 
	padding-top: 260px; 
	width: 100%; 
	height: 100%; 
	/*background: url('../images/white-transparent.png') repeat;*/ 
	background-color: #fff;
	left: 0px; 
	top: 0px; 
	z-index: 999;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
.locateinstore.store-locator-mobile {position: relative; margin: 10px;}
.locateinstore .titles li.loc.no-store-inventory-tile {width: 290px;}
.locateinstore .no-store-inventory-tile .storelocation {width: 290px;}
.locateinstore .no-store-inventory-tile .miles {width: 100px;}
.locateinstore .no-store-inventory-tile .mystore {padding-left: 20px;}

.locateinstore .store-freshness {color:#61574b;font-family:proximanova-regular;font-size: 14px;width:100%;border-bottom:1px solid #e4e0d2;margin-bottom:20px;padding-bottom:20px;}
.locateinstore .disclaimer {background:#f4f1e9;padding:20px;color:#61574b;font-family:proximanova-regular;}
.locateinstore #listings-nav, .locateinstore .close.button-style-1 {display:none;}
.locateinstore .findstoresnear {height:36px;font-family:proximanova-bold;color:#61574b;font-size:16px;}

.locateinstore.store-locator-mobile input {display: block; width: 90%; margin: 0 auto;}
.locateinstore.store-locator-mobile #set-user-zip {display: block; width: 90%; margin: 20px auto; height:36px;} 
.locateinstore.store-locator-mobile .mystore-shield {
	padding-top: 50px; 
	position: absolute; 
	display: none; 
	text-align: center; 
	padding-top: 20px; 
	width: 100%; 
	height: 100%; 
	/*background:transparent url('../images/white-transparent.png') repeat;*/ 
	left: 0px; 
	top: 0px; 
	z-index: 999;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}
.locateinstore.store-locator-mobile .store-freshness {margin-bottom: 10px;}
.locateinstore.store-locator-mobile .storeinfo {margin-bottom: 10px;}
.locateinstore.store-locator-mobile .storeinfo .title {font-size: 12px;}
.locateinstore.store-locator-mobile .storeinfo .update-location {font-size: 12px;}
.locateinstore.store-locator-mobile .titles {padding: 8px 10px;}
.locateinstore.store-locator-mobile .titles .loc {width: auto; float: left;}
.locateinstore.store-locator-mobile .titles .avail {width: auto; padding-left: 0px; float: right;}
.locateinstore.store-locator-mobile .store-list {width: auto; list-style-type: none;}
.locateinstore.store-locator-mobile .store-tile {width: auto; height: auto; padding: 0px; border-bottom: none; border-left: 1px solid #f4f1e9; border-right: 1px solid #f4f1e9;}
.locateinstore.store-locator-mobile .storelocation {padding: 10px; width: 70%; border-right: 2px solid #f4f1e9;}
.locateinstore.store-locator-mobile .store-availability {float: right; width: 30%;}
.locateinstore.store-locator-mobile .store-availability .store-distance {display: block;}
.locateinstore.store-locator-mobile .store-availability .store-map-it {display: block; margin-bottom: 20px;}
.locateinstore.store-locator-mobile .store-availability .store-in-stock {display: block;}
.locateinstore.store-locator-mobile .store-status-tile {padding: 10px; text-align: right;}
.locateinstore.store-locator-mobile .store-tile-phone {margin-top: 10px;}
.locateinstore.store-locator-mobile .mystore {margin: 20px 0 10px 0;}
.locateinstore.store-locator-mobile .disclaimer {margin-top: 20px;}

.mystore-button { 
	border: 2px solid #cbc8c5; 
	background: #dedace; 
	color: #7e776d; 
	font-size: 14px; 
	font-family: Proximanova-bold; 
	font-weight: normal; 
	padding: 6px 17px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

@media screen and (min-width:767px) {
	.locateinstore.store-locator-mobile input {width: 690px; margin: 20px auto;}
	.locateinstore.store-locator-mobile #set-user-zip {width: 690px; margin: 20px auto;}
}