/*override existing style*/
.book_content { left: 0; }
/*new style elements*/
#divMainProductContainer{ border: none; width: 990px; float: left; padding-top: 14px; margin: 0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; background-color: #ffffff; position:relative; padding-bottom:18px; }

#divPDLeft {
    float: left;
    width: 370px;
}

#divMainImageContainer {
	border: 1px solid #999999;
	width: 360px;
	float: left;
	margin-left: 10px;
    opacity: 0;
}

/* s7 video */
.videoLayer {
    position: absolute;
    z-index: 50;
}

#s7_videoview {
    z-index: 50;
}

#s7_videoview {
    display: block;
    height: 450px !important;
}

#s7_videoview.s7videoviewer {
    width: 360px;
    height: 450px !important;
}

.s7videoviewer .s7controlbar {
    display: none !important;
}

#divImageSwap {
    left: 0;
    top: 0;
    z-index: 100;
    position: relative;
}

#divAltImages {
	border-top: 1px solid #999999;
	height: 77px;
}

.alt_imgs{
	border: 0 solid Red;
	/*height: 57px;
	width: 60px;*/
	display: block;
	float: left;
	margin-top: 8px;
	margin-left: 25px;
}

#divMainContentContainer {
	border: 0 solid #2E8B57;
	width: 409px;
	float: left;
	margin-left: 14px;
	margin-right: 14px;
}

#divMainContentContainer p{
	margin: 5px 0 0 0;
	padding: 0;
}

.content_header{
	font-size: 12px;
	font-weight: bold;
	color: #ff6500;
	margin-top: 0;
	margin-bottom: 0;
}

.sku_num{
	color: #000000;
	font-weight: normal;
	font-size: 9px;
}

.content_price{
	font-size: 11px;
}

#partnerContainer{
	width: 409px;
	height: 46px;
}

.bazaar_voice{
	border: 0px solid Fuchsia;
	color: #33669b;
	font-size: 10px;
	text-decoration: underline;
	margin-top: 6px;
	width: 309px;
	float: left;
}

.image_ratings{
	border: 0px solid #DA70D6;
	width: 90px;
	float: left;
}

.image_ratings img{
	border: 0px solid #9ACD32;
	display: block;
	float: left;
	padding: 0px 1px;
	margin: 0px;
}

.review_number{
	border: 0px solid #DA70D6;
	width: 66px;
	float: left;
	margin-top: 3px;
	margin-left: 6px;
}

.review_number img{
	display: block;
	float: right;
	margin-top: 3px;
	padding-left: 0px;
	width: 2px;
	height: 8px;
	border: 0px solid #DA70D6;
}

.review_write{
	border: 0px solid #DA70D6;
	width: 86px;
	float: left;
	margin-top: 3px;
	margin-left: 8px;
}

.review_write img{
	display: block;
	float: right;
	margin-top: 3px;
}

.review_share{
	border: 0px solid #DA70D6;
	width: 43px;
	float: left;
	margin-top: 3px;
	margin-left: 7px;
}

.tb_facebook{
	border: 0px solid #DA70D6;
	width: 100px;
	float: left;
	font-size: 10px;
	margin-top:4px;
}

#iframeFBLike {border:none; overflow:hidden; width:100px; height:21px; position:relative; left:8px; top:-2px;}

.faded_divider_bar{
	margin-top: 7px;
	float: left;
}

#readMore{
	margin-top: 10px; 
	font-size: 11px; 
	float: left; 
	margin-left: 15px;
	overflow: hidden;  
	width: 378px;
	position: relative;
}


#moreController{
	position: absolute;
	top: 30px;
	left: 300px;
}

#lessController{
	position: absolute;
	top: 126px;
	left: 300px;
	display: none;
}
/*
#readMore{
	border: 0px solid #DA70D6;
	font-size: 11px;
	float: left;
	width: 378px;
	height: 40px;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
	margin-left: 15px;
}

#moreController{
	position: absolute;
	top: 26px;
	left: 300px;
}

#lessController{
	position: absolute;
	top: 126px;
	left: 300px;
	display: none;
}
*/
.choice_container{
	background-color: #eae3dd;
	width: 407px;
	border: 1px solid #999999;
	float: left;
	margin-top: 12px;
}

.title_color_picker{
	color: #333534;
	font-size: 9px;
	font-weight: bold;
	padding: 0px;
	margin: 0px 0px 0px 15px;
}

.color_container{
	border: 0px solid #999999;
	float: left;
	width: 385px;
	margin-left: 15px;
}

.color_block{
	float: left;
	padding: 1px;
	margin-left: 12px;
	
}

#colorBlock1{
	border: 1px solid #666666;
}

.size_container{
	float: left;
	border: 0px solid #D2691E;
	width: 385px;
	/*height: 17px;*/
	height: 100%;
	/*min-height: 94px;*/
}

.anchor_box{
	height: 17px;
	text-decoration: none;
}

#divProductSize{ border: none; float: left; margin: 5px 0 15px 0; }

.product_sizes_norm{
	border: 1px solid #ffffff;
	text-decoration: none;
	cursor: default;
}

.product_sizes_sel{
	border: 1px solid #000000;
	text-decoration: none;
	cursor: default;
}

.product_sizes_sel_click{
	border: 1px solid #000000;
}

a.product_sizes_sel:hover{
	cursor: default;
}

.individual_size{
	float: left;
	display: block;
	background-color: #cccccc;
	color: #999999;
	height: 16px;
	width: 70px;
	margin: 1px 3px 2px 1px;
	padding: 0px 0px 0px 0px;
}

.size_box{
	cursor: default;
	display: block;
	float: left;
	font-size: 9px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 68px;
	height: 14px;
	text-decoration: none;
	line-height: normal;
	text-align: center;
}

a.size_box:hover{
	text-decoration: none;
}

ol.product_detail_ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.product_quantity{ border: none; float: left; width: 100%; margin: 0; }
.product_quantity select { width: 100px; color: #515042; background-color: #F6EDDE; border-color: #F6EDDE; }

.product_quantity_v2{
    border: none;
    float: left;
}

#divProductQuantity{
	padding-bottom: 15px;
}

#selQuantity{
	border: 1px solid #000000;
}



.button_container{
	border: 0px solid #000000;
	float: left;
	width: 409px;
	padding-top: 16px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
}

.btn_add_to_bag{
	margin-left: 55px;
	float: left;
	background-color: #b6483b;
	color: #ffffff;
	text-transform:uppercase;
    position: relative;
    top: -8px;
}

.btn_add_to_bag_link{
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
	font-family: Georgia;
}

.btn_proceed_to_checkout{
	margin-left: 55px;
	float: left;
	width: 176px;
	height: 19px;
	background-color: #ffffff;
	color: #baba;
	border: 0px solid #000000;
}

.btn_proceed_to_checkout_link{
	display: block;
	color: #bababa;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
	border: 0px solid #2E8B57;
	width: 176px;
	height: 19px;
	cursor: default;
	display:none;
}

.btn_add_to_bag_link:hover,.btn_proceed_to_checkout_link:hover{
	text-decoration: none;
}


#divBtnProceedToCheckout{
	margin-left: 27px;
	float: left;
}

#divPromoContainer{
	border: 0px solid red;
	float: left;
	display:none;
}

#divPromoContainer img{
	display: block;
	float: left;
}

.mini_footer{

	float: left;
	width: 409px;
	padding-top: 10px;
}

.mini_footer_link{
	float: left;
	text-align: center;
	text-decoration: underline;
	color: #336699;
}

.mini_footer_link a{
	color: #336699;
}

.size_left{
	width: 146px;
}

.size_mid{
	width: 148px;
}

.size_right{
	width: 111px;
}

.vert_bar_2{
	border: 0px solid #000000;
	float: left;
	width: 2px;
	padding-top: 4px;
}

.choose_color{
	font-weight: bold;
	padding-top: 18px;
	padding-bottom: 11px;
	text-transform: uppercase;
	font-size: 9px;
}

#swatch_description{
	color: #ff6500;
	font-weight: normal;
	text-transform: none;
    margin-left: 8px;
}

.mid_bar{
	border-bottom: 1px solid #999999;
	height: 1px;
	width: 378px;
}

.size_header{
	float: left;
	width: 393px;
	padding-top: 9px;
	padding-bottom: 21px;
	border: 0px solid #000000;
}

.size_header_choose{
	border: 0px solid #000000;
	width: 235px;
	float: left;
	text-transform: uppercase;
	font-size: 9px;
}

.size_header_also{
	border: 0px solid #000000;
	width: 155px;
	float: left;
	text-transform: uppercase;
	font-size:10px;
}

#divMainUpsellContainer{
	border: 1px solid #999999;
	width: 170px;
	float: left;
	margin-right: 9px;
	padding-bottom: 0px;
	min-height: 528px;
}

.upsell_headerxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx{
	padding-top: 4px;
}

.upsellContainer{
	margin-top: 12px;
	text-align:center;
}

.upsellContainer img{
	display: block;
	margin: 0px auto;
}

.upsellContainerRecs{
	margin-top: 12px;
	text-align:center;
}

.upsellContainerRecs img{
	display: block;
	margin: 0px auto;
}

.upsellName{
	text-align: center;
	margin: 0px;
	padding: 7px 0px 0px 0px;
	color: #336797;
	font-size: 9px;
}

.upsell_header{
	font-size: 10px;
	font-weight: bold;
	color: #ff6500;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.upsell_links{
	
}

#divBreadcrumbNav {left:1px;top:1px;}

#tt{
	position:absolute; 
	display:block; 
	/*background:url(../images/tt_left.gifx) top left no-repeat*/
}

#tttop{
	display:block; 
	height:5px; 
	margin-left:5px; 
	/*background:url(../images/tt_top.gifx) top right no-repeat; */
	overflow:hidden
}

#ttcont{
	display:block; 
	padding:2px 12px 3px 7px; 
	margin-left:5px; 
	background: #CC3333; 
	color:#FFF
}
#ttbot{
	display:block; 
	height:5px; 
	margin-left:5px; 
	/*background:url(../images/tt_bottom.gifx) top right no-repeat; */
	overflow:hidden
}

.tooltip{
	display: block;
}

.product_swatch{
	cursor: pointer;
}

#product_swatches a{
	text-decoration: none;
}

#imgDetail{
	z-index:10000;
}

#lessController2 {float:right;}
.pd_new {color:#cc3333;font-size:10px;text-transform:uppercase;}
#preOrderNote {color:#ff6500;}
.cd_listing {width:400px;margin-left:4px;margin-right:3px;margin-top:0;top:0;font-size:10px;left:-15px;}
.cd_listing a {font-size:10px;}
.track_row {padding-bottom:4px;width:400px;float:left;}
.track_row_header {clear:both;height:18px;margin-top:8px;}
.track_row_line {clear:both;background:url('/media/TB001/images/static/bag_btm_line2.gif') repeat-x;height:1px;margin-bottom:6px;}
.btn_play {float:left;width:30px}
.btn_play_blank {float:left;width:30px;height:1px;}
.track_title {width:200px;float:left;margin-right:10px;}
.track_artist {width:160px;float:left;}
.track_title_header {width:210px;float:left;font-weight:bold;}
.track_artist_header {width:160px;float:left;font-weight:bold;}
.product_quantity_music {margin:20px;width:400px;float:left;}
.btn_play {background: url("/media/TB001/images/static/orange_pause_btn.gif") no-repeat;}
.btn_play a:hover img {visibility:visible;}
#divShippingRestrictions {margin-top:16px;}
.btn_plusone {margin-left:16px;}
.product_quantity {margin-left:0px;margin-top:5px;margin-bottom:15px;}
.product_quantity select {width:100px;color:#515042;background-color:#F6EDDE;border-color:#F6EDDE;}
#divSizeMessage {background-color:#ffff00;color:#ff0000;height:12px;margin-bottom:8px;margin-top:8px;padding:6px;display:none;}
