/*
$Id: main.css,v 1.4 2008/09/03 13:09:31 max Exp $
vim: set ts=2 sw=2 sts=2 et:
*/

/* surveys menu list */
.menu-survey .title-bar img {
  background: url(../../images/dingbats_categorie.gif) no-repeat;
}

/*
  Survey page
*/
.survey-name {
  font-weight: bold;
}
.survey-header {
  font-size: 11px;
  padding-bottom: 15px;
}
.menu-survey .survey-header {
  font-size: 10px;
}
.survey-question {
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}
.menu-survey .survey-question {
  font-size: inherit;
  padding: 0px;
}
.survey-answers {
  padding: 2px 2px 5px 12px;
}
.menu-survey .survey-answers {
  padding: 0px 0px 5px 0px;
}
.survey-textarea {
  width: 400px;
  height: 200px;
}
.menu-survey .survey-textarea {
  width: 120px;
  height: 60px;
}
.survey-answer {
  padding-bottom: 15px;
}
.menu-survey .survey-answer {
  padding-bottom: 5px;
}
.survey-answer label {
  display: block;
}
.survey-answer textarea {
  width: 400px;
  height: 200px;
  margin-left: 20px;
}
.menu-survey .survey-answer textarea {
  width: 120px;
  height: 60px;
}
.survey-answer table tr td {
  padding: 3px;
  vertical-align: top;
}
.menu-survey .survey-answer table tr td {
  padding: 1px;
}
.survey-footer {
  font-size: 11px;
}
.menu-survey .survey-footer {
  font-size: 10px;
}

/*
  Survey result page
*/
.survey-result-row {
  padding-left: 10px;
}
.survey-result-row table tr td {
  padding: 1px;
  white-space: nowrap;
}
.survey-result-answer {
  width: 250px;
}
.survey-result-row img.survey-bar {
  vertical-align: middle;
  height: 15px;
  background: transparent url(../../images/bar.gif) repeat left top;
  float: left;
}
.survey-answer-hl .survey-result-row img.survey-bar {
  background-image: url(../../images/bar_hl.gif);
}
.survey-bar-label {
  padding-left: 6px;
}
