/* Global Content Style Sheet */
/* -------- Top Nav  -------- */
.nav-flyout hr {
	border-bottom: 1px solid #636363;
	margin-top: 5px;
	width: auto;
}
.lt-ie8 .nav-flyout hr {
	width: 110px;
}

.nav-flyout .col1 {
	padding-right: 20px;
	padding-top: 5px;
	width: 130px;
}
.nav-flyout .copytext {
	color: #FFFFFF;
	font-family: Lucida Sans Unicode,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 5px;
	text-transform: none;
}
/* Sport SHop */
#flyout-sportshop {
	left: auto !important;
}
#flyout-sportshop .sportShopLogo {
	background: url("/static/img/menu/Flyout_Tagline_new.gif") no-repeat scroll 1px 0 transparent;
	height: 57px;
	position: relative;
	width: 154px;
}
#flyout-sportshop .col1 {
	padding-right: 0px;
	padding-top: 5px;
	width: 154px;
	display: block;
	float: left;
}
#flyout-sportshop .col2 {
	width: 110px;
	display: block;
	float: left;
}
#flyout-sportshop .copytext {
	color: #CCCCCC;
	font-family: Lucida Sans Unicode, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 5px;
	text-transform: none;
}
/* First Ascent */
#flyout-firstascent .guideBuiltLogo {
	background: url("/static/img/menu/Guide_Built_new.gif") no-repeat scroll 1px 0 transparent;
	height: 29px;
	position: relative;
	width: 130px;
}
#flyout-firstascent .firstAscent{
	width:260px;
}
#flyout-firstascent .links {
	clear: both;
	margin-top: 20px;
	width:100%;
}
#flyout-firstascent .col1 {
	padding-right: 20px;
	padding-top: 5px;
	width: 130px;
	display: block;
	float: left;
}
#flyout-firstascent hr {
	border-bottom: 1px solid #636363;
	margin-top: 5px;
	width: 260px;
}
#flyout-firstascent a.guideLinks {
	margin-top: 5px;
	padding-bottom: 5px;
}
#flyout-firstascent .headerLink {
	font-family: Lucida Sans, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	text-transform: none;
}
#flyout-firstascent .copytextLink{
	font-family: Lucida Sans Unicode, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 15px;
	text-transform: none;
}
/* -------- Layouts --------- */
/* -------- Layout 1 -------- */
/* ----- mainContent CSS ------ */
.mainContent {width:995px; margin:0 auto; padding:0; overflow:hidden;}
.mainContent .billboard {width:995px; height:480px; margin: 20px 0; padding:0; overflow:hidden; float:left;}
/* ----- mainContent CSS - Home Page ------ */
.mainContent.home .subMessage.leftCol {clear:both; float:left; overflow:hidden; width:485px; height:660px; margin-right:20px;}
.mainContent.home .subMessage.rightCol.topRow {float:left; overflow:hidden; width:485px; height:320px; margin-bottom:20px; padding:0;}
.mainContent.home .subMessage.rightCol.bottomRow {float:left; overflow:hidden; width:485px; height:320px; margin-bottom:20px; padding:0;}
/* ----- mainContent CSS - Line Page ------ */
.mainContent.line {width:792px;}
.mainContent.line .billboard {width:785px; height:320px; margin: 20px 0; padding:0; overflow:hidden; float:left;}
.mainContent.line .subLeft {clear:both; float:left; overflow:hidden; width:515px; height:515px; margin-right:20px;}
.mainContent.line .subRight {float:left; overflow:hidden; width:245px; height:515px; margin:0;}
.mainContent.line .subMessage.leftCol.topRow {float:left; overflow:hidden; width:245px; height:245px; margin-bottom:20px; margin-right: 20px; padding:0;}
.mainContent.line .subMessage.leftCol.bottomRow {float:left; overflow:hidden; width:245px; height:245px; margin-bottom:20px; margin-right: 20px; padding:0;}
.mainContent.line .subMessage.rightCol.topRow {float:left; overflow:hidden; width:245px; height:245px; margin-bottom:20px; padding:0;}
.mainContent.line .subMessage.rightCol.bottomRow {float:left; overflow:hidden; width:245px; height:245px; margin-bottom:20px; padding:0;}
/* ----- mainContent CSS - Sale Page ------ */
.mainContent.sale {width:785px;}
.mainContent.sale .billboard {width:785px; height:320px; margin: 20px 0; padding:0; overflow:hidden; float:left;}
.mainContent.sale .subMessage.leftCol {clear:both; float:left; overflow:hidden; width:245px; height:225px; margin-right:20px;}
.mainContent.sale .subMessage.centerCol {float:left; overflow:hidden; width:245px; height:225px; margin-right:20px; margin-bottom:20px; padding:0;}
.mainContent.sale .subMessage.rightCol {float:left; overflow:hidden; width:245px; height:225px; margin-bottom:20px; padding:0;}
/* ----- mainContent CSS - subLine Page ------ */
.mainContent.subLine {width:785px;}
.mainContent.subLine .billboard {width:785px; height:320px; margin: 20px 0; padding:0; overflow:hidden; float:left;}
