.main-navigation > ul > li h2 a { font-size:16px; }

/* SMG-3450 20121119 add */
.page-controls.patent-page {margin-right: -10px;margin-top: -69px;}
.lt-ie8 .page-controls.patent-page{margin-right:-26px}
.patentList .patent p{white-space: normal;word-wrap: break-word;text-align:justify;text-justify:inter-word;}
.patent-page .view-all{padding:6px 20px}
.lt-ie8 .patent-page .view-all{padding:3px 20px}
.patent-page .view-all:hover{text-decoration:underline}
/* //SMG-3450 20121119 add */

/* SNS spacer Adjust by youngyoukwon 2012.12.03 */
.social-share.new-share .gpi-share .gplusBtn {width: 75px;}
.social-share.new-share .gpi-share .twitBtn {width: 90px;}
.social-share.new-share .gpi-share .faceBtn {width: 75px !important;margin-right: 5px;padding-left: 5px;}
.ie7 .social-share.new-share .gpi-share .faceBtn {width: 70px !important;}
.ie8 .social-share.new-share .gpi-share .faceBtn {width: 70px !important;}

a, a:active, a:visited{color:#222222}
/* LGEUS-1869 educational browsing fix : kosangin 20121224 add */
.lt-ie9 #hero-area.find .options.bottom {
    width: auto;
    max-width: 610px
}

.lt-ie9 #hero-area.find .options.bottom.single {
    min-width: 200px
}

.lt-ie9 #hero-area.find .options.bottom label {
    width: 175px;
    height:27px;
	white-space:normal
}

.lt-ie9 #hero-area.find .options.bottom.single label {
    width: auto;
    min-width: 200px
}

.hero-area.find .hero div.imagearea {
    float: left
}

.hero-area.find .hero div.options {
    float: left;
    margin-right: 30px
}

.hero-area.find .hero div.options.bottom {
    float: none!important;
    left: 30px!important
}

.hero-area.find .hero div.options.bottom label {
    /*display: inline-block;*/
    margin-bottom: 0!important;
    height:26px;
    width: 152px
}

.hero-area.find .hero div.contentarea {
    float: none!important;
    max-width: none!important;
    z-index: -1
}

.hero-area.find .hero div.contentarea .headline-wrapper {
    padding: 0 30px;
    float: none;
    width: auto!important
}

.hero-area.find .hero div.contentarea .herocopy-wrapper {
    padding: 0 30px;
    float: none;
    width: auto!important
}

.lt-ie9 .hero-area.find .hero div.contentarea {
    padding-top: 6px
}

.hero-area.find #hero-nav li {
    margin-right: 9px;
    padding-right: 9px
}

.lt-ie9 .hero-area.find #hero-nav li {
    margin-right: 7px;
    padding-right: 7px
}

.hero-area.find #hero-nav ul {
    width: 100%
}

.find .hero .herocopy-wrapper .wrap-duble {
	width:590px;
    margin:13px 0 !important;
	cursor: pointer;
}
.hero-area.find .options.bottom label {
	position:relative;
}
.hero-area.find .options.bottom .wrap-chk {
    vertical-align:middle;
    padding-top:6px;
	padding-top:3px\0/IE9;
    display: inline-block;
}
.lt-ie9 .hero-area.find .options.bottom .wrap-chk {
	padding-top:0;
	margin-right:8px;
}
.hero-area.find .options.bottom .wrap-text {
	margin-top:2px;
	line-height:12px;
	font-size:11px;
	width:127px;
	float:right;
	display:inline-block;
	vertical-align:middle;
	overflow: hidden;
}

.lt-ie9 .hero-area.find .options.bottom .wrap-text {
	margin-top:2px;
	line-height:12px;
	width:145px;
	float:none;
	display:inline-block;
	vertical-align:middle;
}
.mozilla .hero-area.find .options.bottom .wrap-text {padding-left:5px}
.webkit .hero-area.find .options.bottom .wrap-text {
	float:none;
 }
#hero-area.find .options.bottom.single label {
    height:18px
}
.hero-area.find .options.bottom .wrap-text.sin {margin-top:7px}
.lt-ie9 .hero-area.find .options.bottom .wrap-text.sin {margin-top:6px; height:20px}
.find-grid .no-results {
	font-size: 18px
}
.find-grid .grid .shim {
    min-height: 180px;
}
/* LGEUS-2765 20130416 add */
.hero-area.find .hero div.options label.inactive  {
border:1px solid #e7e7e7 !important;
color:#a1a1a1 !important;
cursor: auto !important;
background: #f7f7f7!important; /* Old browsers */
background: -moz-linear-gradient(top,  #f7f7f7 50%, #f7f7f7 90%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f7f7f7), color-stop(90%,#f7f7f7))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7f7f7 50%,#f7f7f7 90%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7f7f7 50%,#f7f7f7 90%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7f7f7 50%,#f7f7f7 90%)!important; /* IE10+ */
background: linear-gradient(to bottom,  #f7f7f7 50%,#f7f7f7 90%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7',GradientType=0 )!important; /* IE6-9 */
}
.hero.active .options label div.loader {background:#fff url("/lg3-common/images/global/loader.gif") no-repeat 50% 50%!important;display: inline-block;position:absolute;max-width:173px}
/* .ie .hero.active .options label div.loader {margin-top:-2px;left:1px;height:24px} */

.hero.active .options.bottom label div.loader {background:#fff url("/lg3-common/images/global/loader.gif") no-repeat 50% 50%!important;left:0;top:0; display: inline-block;position:absolute;max-width:173px}
.webkit .hero.active .options label div.loader {max-width: 179px;}
.lt-ie9 .hero.active .options label div.loader {max-width: 187px;}
#hero-area.find .heroform.active div:not(.bottom) label{white-space: nowrap}
html.webkit .grid-page .product div.copy-area div.details label{white-space: nowrap}
/* LGEUS-2765 20130416 modify */

/* //LGEUS-1869 20121224 add */
/* LGEUS-2652 20130306 add */
.support-main .mainTop .titleBox h1{
	font-weight: normal;
    font-size: 28px;
    color: #d80546;
    margin: 0;
    padding: 0;
    line-height: 30px;
    letter-spacing: -1px;
	font-family: "BryantLGMedium";
    text-align: left;
    white-space: nowrap;
    text-transform:capitalize;
}
.support-main .mainTop .titleBox p {
	text-transform:capitalize;
}
/* LGEUS-2418, SMG-6033 : 20140513 modify*/
.registraion div.repairPopAdd {
    font-size: 12px;
}
/* //LGEUS-2418, SMG-6033 : 20140513 modify */
/* LGEUS-2558 20130409 add */
/* .registraion div.repairPopAdd a { font-weight:bold; } */
.registraion div.repairPopAdd a {text-decoration:underline}
.repairPopAdd span.highlight{font-weight:bold}

#request-response-01 .contact_Info_Wrapper{display:none}
label.repairAlert.showAlerts span.alerts{
    margin-left: 0;
    max-width: 240px;
}
/* LGEUS-2798 20130405 */
/* .grid-page .product div.copy-area p.product-compare label{width:100%;text-align:right;white-space: nowrap;} */
.lt-ie9 .grid-page .product div.copy-area p.product-compare label input.compare{float:none}

/* LGEUS-2475 20130513 add */
a.pinterest, span.pinterest {background-position: -345px -587px}
/* LGEUS-2475 20130513 add */
.support-enhance .search-by-category-grp .search-by-category p{font-size:11px !important;}
/* LGEUS-2817 20130619 add */
.hero-area.find .hero div.contentarea .herocopy-wrapper {text-align:right}
.hero-area.find .hero div.contentarea .herocopy-wrapper p {text-align:left}
#hero-area.find .find-intro-wrap {position:absolute;width:100%;height:350px;height:350px;top:0;left:0;z-index:2001;
	background:#fff;
	-webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
}
#hero-area.find div.imagearea {width:480px;height:225px;right:0;font-family: "BryantLGMedium",Arial,Helvetica,sans-serif;margin: 18px;position: absolute;z-index: 1;}
#hero-area.find div.imagearea h2 {font-size:40px;line-height:37px;color:#525151;margin-bottom:10px}
#hero-area.find div.imagearea h2 span {color:#D80546}
#hero-area.find div.imagearea p {font-size:12px;color:#525151;font-size: 16px;}
#hero-area.find div.imagearea a.button {bottom: 10px;float: right;position: absolute;right: 5px;cursor: pointer;padding:3px 10px; font-size: 14px;font-family: "BryantLGMedium",Arial,Helvetica,sans-serif;}
#compare-tvs-page  #playVideo {z-index: 2005}
/* //LGEUS-2817 20130619 add */

/* LGEUS-3619  : 20140103 add */
 .shoplg-Wrapper, .brandshop-Wrapper{position: relative;}
 .brandshop-Wrapper{height:230px}
 /*.brandshop-Wrapper .shoplg-banner h3 { margin:20px 0 0 18px !important; }*/
 .shoplg-Wrapper .shoplg-banner, .brandshop-Wrapper .shoplg-banner{/* height:192px!important; */padding:0;overflow:hidden}
 .shoplg-Wrapper .shoplg-banner > h3, .brandshop-Wrapper .shoplg-banner > h3{margin: 0;padding:0;font-size: 22px;margin:20px 0 0 18px}
 .shoplg-Wrapper .shoplg-banner > h3 { margin-bottom: 15px !important; }
 .shoplg-Wrapper .shoplg-content, .brandshop-Wrapper .shoplg-content{position:absolute;top:60px;left:82px;}
 .shoplg-Wrapper .shoplg-content h1, .brandshop-Wrapper .shoplg-content h1{color:#d10438;}

  .parts-accessories {    background: -moz-linear-gradient(center top , #DEDEDE, #FFFFFF 45px) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 1px solid #CCCCCC;    clear: both;    padding-top: 26px;padding-bottom: 60px !important;padding-top:53px}
  .parts-accessories .Titletxt{font-family:'BryantLGRegular'; font-size:15px;}
  .shoplg-round-box-ul{}
  .shoplg-round-box-ul .shoplg-round-box .fLeft{float:left; margin-left: 20px!important;;}
  .shoplg-round-box-ul .shoplg-round-box .fRight{float:right; margin-top: 40px!important; margin-right: 40px!important;}
  .shoplg-round-box-ul .shoplg-round-box .fLeft p, .shoplg-round-box-ul .shoplg-round-box .fRight p{font-family:"LGFontMedium";}

  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box{margin-bottom:26px;width:725px; height:210px;border:1px solid #c6c6c6;-moz-border-radius: 6px;border-radius: 6px;}
  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box.no-margin-right{margin-right:0;}
  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box h3{font-size:18px;width:303px;height:45px;margin:0 auto;margin-top:27px;text-align:center;}
  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box img{width:303px;display:block;margin:0 auto;}
  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box div{width:303px;display:block;margin:0 auto;}
  .shoplg-Wrapper .shoplground-box-ul .shoplg-round-box div p{font-size:14px;}
  .shoplg-Wrapper .shoplg-round-box-ul .shoplg-round-box div a{display:block;margin:0 auto;width:200px;}
  /* LGEUS-3619  : 20140103 add */
/* LGEUS-3831 20140204 */
.lg-support .accessories-list{height:auto}
.lg-support .accessories-list a.button,  .lg-support .accessories-list a.eco-wheretobuy{margin-left:12px}
.lg-support .accessories-list .eco-wheretobuy{display:inline-block; margin: 5px 0px 0px;color:#bf003d;margin:7px 0 0}
.lg-support .accessories-list .eco-wheretobuy img{margin-right:3px}
/* //LGEUS-3831 20140204 */

/* LGEUS-3976 : 20140306 add */
.pane-asideWrap #awards ul li a {height:auto}
/* //LGEUS-3976 : 20140306 add */

 /* LGEUS-3779 : 20140219 add*/
.mpo-area .blog-list-area.preview .blog-item li.text-area{height:10.2em;overflow:hidden;}
.mpo-area .blog-list-area.preview .blog-item li.text-area h3{height:auto;}
.mpo-area .blog-list-area.preview .blog-item li.text-area h3 a {height:auto;white-space:normal;}
.mpo-area .blog-list-area.preview .blog-item li.text-area p.hot-topic-desc {height:auto;}

@media ( max-width : 980px) {
.mpo-area .blog-list-area.preview .blog-item li.text-area p.hot-topic-desc{height:auto;}
.mpo-area .blog-list-area.preview .blog-item li.text-area h3 {height:auto;}
.mpo-area .blog-list-area.preview .blog-item li.text-area h3 a {height:auto;}
}

@media (max-width:960px) {
.mpo-area .blog-list-area.preview .blog-item li.text-area h3 {line-height:1.4;}
}
 /* //LGEUS-3779 : 20140219 add */

/* LGEUS-3913 : 20140327 add modify */
.premiumcare-Wrapper {padding-top: 20px;}
.premiumcare-Wrapper ul li {float: left; width: 580px;}
.premiumcare-Wrapper ul li h2 {font-size: 22px;}
.premiumcare-Wrapper ul li.logo {width: 109px; padding-right: 30px;}
.premiumcare-Wrapper ul li.logo img {width:109px;height:129px}
.premiumcare-Wrapper ul li a.omniture-actbtn {float: left !important;}
.premiumcare-Wrapper ul li h3 {text-transform:none;}
/* //LGEUS-3913 : 20140327 modify */

/* LGEUS-3833 :20140217 */
/*.features-wrapper::after { clear: right;}*/
.recp-wrapper {float: right;position: relative;width: 180px;overflow: hidden;padding-bottom: 0;}
.recp {position: relative;opacity: 1;float: left;padding-top: 20px;}
.recp .recp-button {padding-top: 7px;float: left;margin-bottom: 12px;}
.rec_product a.button {border-radius: 6px;color: #FFFFFF;float: left;margin-left: 4px;margin-top: -10px;padding: 4px 6px;vertical-align: super;}
.rec_product .features-wrapper {float: left;max-width:253px;height:60px;margin-top: 15px;}
.rec_product .features-wrapper.noRrtbtn{max-width:430px;}
.rec_product .features-wrapper ul.features {display:inline-block;color: #222;font-family: "BryantLGMedium",Arial,Helvetica,sans-serif;font-size: 12px;
    list-style-type: none;text-transform: uppercase;font-weight: normal;text-align: left;}
.rec_product ul.features li {padding-left: 15px;margin-bottom: 6px;
background: url("/lg3-common-v2/images/global/lg-global-sprite.png") -276px -436px no-repeat transparent;max-width:253px;
text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.rec_product .features-wrapper.noRrtbtn ul.features li{max-width:416px;}

.rec_product a.small.button.eco-addtobasket{display:inline-block;float:right;}
.rec_product a.eco-wheretobuy{display:inline-block;margin-left: 18px;text-align: right;margin-top:5px;clear:both;text-decoration:none;color:#bf003d;}
.rec_product a.eco-wheretobuy img{margin-right: 3px;}
.recommended-product-new .rec_product dd .details .p_number.recommendPN {display:block;}
.recommended-product-new .addcarousel .search_list_rolling.carousel{width: 430px;}
.rec_product .carousel{height: 235px;}
.rec_product .ratings-wrapper{clear:both}
.recommended-product-new .most-popular dd .details .p_info a{color:#bf003d}
 /* //LGEUS-3833 :20140217 */

 /* .shoplg-banner{border-bottom:1px solid black} */

.shoplg-top-contents{position:relative;padding: 0 0 10px 82px;background: url(/us/images/e-commerce/e-commerce-banner-lg.png) 0 -15px no-repeat;}
.shoplg-top-contents h4{ font-size:10px; font-size: 18px; text-transform: uppercase; margin: 15px 0;}
.shoplg-top-contents h4 strong { display:block; font-size:22px; padding: 5px 0; font-weight:normal;color:#d10438;}
.shoplg-top-contents p{font-family:bryantlgregular;font-size:13px;margin: 0;}

.shoplg-round-box .fLeft{height:210px}
.ec-tv{background:url(/us/images/e-commerce/ec-tv.png) 0 100% no-repeat}
.ec-app{background:url(/us/images/e-commerce/ec-app.png) 0 100% no-repeat}
.ec-mobile{background:url(/us/images/e-commerce/ec-mobile.png) 0 100% no-repeat}
.shoplg-round-box-ul .shoplg-round-box .fLeft p, .shoplg-round-box-ul .shoplg-round-box .fRight p{font-size:13px}
.new-cs-main-top{height:235px;background:url(/us/images/new-cs-main-top.png) 0 0 no-repeat transparent !important}
.support-enhance .new-cs-main-top .mainTop-left.by-one li{/* background:url(/us/images/mainTop-left-img_01.png) 100% 100% no-repeat */}


/*LGEUS-4047 : 2014-03-26 add , 2014-05-22 modify */
section.simple4 div.carouselLazy{min-height:120px; height:auto;}
section.simple4 div.carouselLazy ul li div.content a {min-height: 0;}
section.simple4 div.carouselLazy ul li a.button{background:#bf003d; margin:0; display:inline; color:#FFFFFF;}
section.simple4 div.carouselLazy ul li a.eco-wheretobuy{display:block; margin:10px 12px 0 89px; min-height:0; color:#c70752; font-size:10px}
section.simple4 div.carouselLazy ul li a.eco-wheretobuy img{vertical-align:middle;}
/*//LGEUS-4047 : 2014-03-26 add*/
/* LGEUS-4049 : 20140421 add */
.features-finish, .specs-finish{display:none}
.specs-finish{border-top: 1px solid #CCCCCC;font-size: 11px;padding: 25px 0 25px 40px}
/* //LGEUS-4049 : 20140421 add */

/* 20140514 add */
.fluid.container {width:100%;}
/* //20140514 add */


/* LGEUS-4291 : 20140520 add */
.subCategory li .contacts .img-area.phNum span { display:block; padding-top:15px }
/* LGEUS-4291 : 20140520 add */

/* 20140612 add */
.support-main .contacts span.phone .ico{top:22px}

.e-commerce .carousel-mask .hotspot .background-wrapper img{width:960px;height:222px;}

label.repairAlert span.alerts{display:none;}
label.repairAlert.showAlerts span.alerts{display:block;}

.support-registraion label.repairAlert.left{width:470px}

/* LGEUS-4509 : 20140711 add */
#DOE {zoom: 1;font-family: Arial, sans-serif;clear: both}
#DOE em {font-style: normal;color: #c50245}
#DOE:before,
#DOE:after {display: table;content: "";zoom: 1}
#DOE .red {color: #c50245}
#DOE h2 {font-family: 'BryantLGMedium';font-size: 2.5em;line-height: 2;color: #585858;margin: 30px 0 10px}
/* #DOE h2 em {font-style: normal;color: #c50245} */
#DOE h3 {text-transform: none;font-size: 1.75em;line-height: 1.05}
#DOE h5 {text-transform: uppercase;font-size: 1.35em;color: #000}
#DOE #section-nav {zoom: 1;margin:25px 0 0;width: 100%;z-index: 3;position: relative}
#DOE #section-nav:before,
#DOE #section-nav:after {display:table;content: "";zoom: 1}
#DOE #section-nav:after {clear: both}
#DOE #section-nav a {font-family: 'BryantLGMedium';font-size:1.1em;text-transform: uppercase;-webkit-transition: all 0.3s ease 0.3s;-moz-transition: all 0.3s ease 0.3s;-ms-transition: all 0.3s ease 0.3s;-o-transition: all 0.3s ease 0.3s;transition: all 0.3s ease 0.3s;float: left;text-align: center;padding:0.8em 2.5em;display: block;cursor: pointer;background:#f6f6f6;*zoom: 1;background-color: transparent\9;margin-right: 1px;}
#DOE #section-nav a:hover {text-decoration: none;}
#DOE #section-nav a.current {background: #c50245;filter: none;color: #fff;}

#DOE .doe-column1{padding-top:40px;padding-bottom:40px;border-top:solid 1px #ccc;background:-moz-linear-gradient(top,#f1f1f2,#fff 45px);background:-webkit-gradient(linear,0 0,0 45,from(#f1f1f2),to(#fff));overflow:hidden}
#DOE .doe-column1.no-bg{background:0}
#DOE .doe-column1 h2{text-transform:uppercase;line-height:18px;padding-left:20px}
#DOE .doe-column1 p{font-size:12px}
#DOE .doe-column1 p.product-price{font-size:18px}
#DOE .doe-column1 .product{margin-bottom:0}
#DOE .doe-column1:before,.module:after{content:"\0020";display:block;height:0;zoom:1}
#DOE .doe-column1:after{clear:both}
#DOE .doe-column1 {clear:both}
#DOE .content-wrap.home{font-family: 'BryantLGMedium';background:url("/us/general/refrigeratoroffer/img/lfx25971st-large-image.jpg") no-repeat scroll -78px -37px transparent;min-height:450px;}
#DOE .content-wrap div.doe-headline{text-align:right}
#DOE .content-wrap div.doe-headline h2 {text-transform: none;font-size:3.55em;line-height:1.2em}

#DOE .content-wrap div.doe-copy{margin:98px 0 0 390px;padding-left: 21px;font-size:1.15em}
#DOE .content-wrap div.doe-copy.clear{margin-left:240px}
#DOE .content-wrap div.doe-copy.last{margin-top:50px}
#DOE .content-wrap div.doe-copy.bullet{background:url("/us/general/refrigeratoroffer/img/bullet_arrow.jpg") no-repeat scroll -1px 5px rgba(0, 0, 0, 0)}
#DOE .content-wrap div.doe-copy h3{margin-bottom:0}
#DOE .content-wrap div.doe-copy span{color: #c50245}
#DOE .content-wrap div.doe-copy a, #DOE .content-wrap div.doe-copy a:hover, #DOE .content-wrap div.doe-copy a:visited{color: #c50245}
#DOE .banners{position: relative;width: 100%;margin-top:55px;padding: 0 0 25px;overflow: hidden; float: left;}
#DOE .banners .carousel{height: 100%;padding: 0}
#DOE .banners .carousel .rollWrap{width: 960px;overflow: hidden}
#DOE .banners ul{position: relative;right: 0;width: 10000px;height: 100%;z-index: 1;overflow: hidden;margin-left:0}
#DOE .banners ul li{float: left;position: relative;width: 327px;height: 100%;margin: 0}
#DOE .banners ul li .bgImgs{position: absolute;right: 0;top: 0;z-index: 0}
#DOE .banners ul li div.wrap{position: relative;display: block;width: 280px;height: 77px;padding: 10px 12px;z-index: 2;background: #f0f1ec none;border-radius: 7px}
#DOE .banners ul li div.wrap .tit{display: block;line-height: 16px;font-size: 11px;font-weight:bold;color: #333;font-family: "BryantLGMedium", Arial, Helvetica, sans-serif}
#DOE .banners ul li div.wrap .info{display: block;margin-top: 4px;line-height: 14px;font-size: 11px;color: #595959;font-family: Arial, Helvetica, sans-serif;}
#DOE .banners ul li div.wrap .infoBtn{margin-top:10px;display:block;float: right;}
#DOE .banners ul li div.wrap .info .red{color: #e24877}
#DOE .banners ul li div.wrap .tit strong{color: #e24877;font-weight: normal}
#DOE .banners ul li div.wrap .tit .small{text-transform: none;font-size: 10px}
#DOE span.h1Dis{display:block;padding-bottom:30px}
#DOE div.contanier div.space30 {width:1px;height:30px}
#DOE div.contanier h4{margin-bottom:1px}
#DOE div.contanier h4.tit{font-weight:bold;padding-top:10px}
#DOE div.contanier ul {list-style-type : disc;padding-left:13px}
#DOE div.contanier ul li{margin-bottom:3px}
#DOE div.contanier {float: left; margin-left: 50px;width: 430px}
ul.mainbody {
	margin: 30px 0 0 30px;
	width:745px;
}
ul.mainbody li{
	list-style:disc outside url("/us/general/refrigeratoroffer/img/bullet_arrow.jpg");
	margin-bottom:20px;
}

ul.mainbody li span.mainTit{
	font-weight:bold;
	font-size:16px;
	padding-bottom:20px;
	display:block;
}

ul.mainbody li p.red {
	color:#cc0033;
}

ul.mainbody li a {
	color:#cc0033;
	text-decoration:underline;
}
/* //LGEUS-4509 : 20140711 add */


/* LGEUS-4554 20140828 add */
table.e-commerce-table tbody td a { font-weight: bold; text-decoration: underline; color: #d80546 !important;}
/* //LGEUS-4554 20140828 add */

/* LGEUS-4956 add 2014-10-13  */
.support-subcate article.uHelp .sub .units{
	position:relative;
}

.support-subcate article.uHelp .sub .units .viewall {
	position:absolute;
	top:0;
	right:0;
}

.support-subcate article.uEng .sub .units{
	position:relative;
}

.support-subcate article.uEng .sub .units .viewall {
	position:absolute;
	top:0;
	right:0;
}
/* //LGEUS-4956 add 2014-10-13  */

/* SMG-6514 add 2014-10-14 */
#search-page article.new_search_result_list{
	height:140px;
}
.ie #search-page article.new_search_result_list{
	height:140px !important;
}
.ie #search-page article.new_search_result_list .details p{
	padding:0 0 10px 0;
}
/* //SMG-6514 add 2014-10-14 */

/* LGEUS-4521 add 2014-09-03 */
.ie .red-wrapper{
	width: 350px;
}
.red-wrapper .red-wrap {
    border: 1px solid #d80546;
    border-radius: 6px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 8px;
}
/* //LGEUS-4521 add 2014-09-03 */