
#imagesTab.active {
    background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2453.png') !important;
    border-bottom: 0px !important;
    color:deepskyblue;
}

#videoTab.active {
    background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2454.png') !important;
    border-bottom: 0px !important;
    color:deepskyblue;
}
.TabbedPanelsTab{
   height: 17px;
width: 113px;
float: left;
list-style: none;
font-size: 12px;
font-weight: bold;
padding-top: 5px;
cursor: pointer;
color: grey;
}
#videoTab{
    background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2456.png');
    background-repeat: no-repeat;

    display:none;
}
#imagesTab{
    background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2458.png');
    background-repeat: no-repeat;
    margin-left: 10px;
}

#product_videos{
    width: 400px;
    float: left;
    height: 500px;
    font-family:Arial;
}

.lcContainer{
    float: left;
    width: 65px !important;
    height: 80px;
    cursor:pointer;
    list-style:none !important;

}

lcVideoThumb img{
margin-left: -30px;
}

#lcVideo{
    margin-top: 10px;
    padding-left: 7px;
}

#lcWrap{
    float:left;
width: 300px;
padding-right: 14px;

}
#LiveclickerVideoDiv img{
  display:none\9;
 height: 220px;
    width: 287px;
    overflow: hidden;

}


.lcthumb{
float: left;
position: relative;
height: 46px !important;
overflow: hidden;
width: 60px !important;
}

.lcthumb img{
margin-left: -24px;
}

#LiveclickerVideoDiv{

    height: 260px;
    width: 287px;
    overflow: hidden;
}

#lcWrap img{
    float:left;
    cursor:pointer;
}

#lcBottomLine{

background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2476.png');
height: 20px;
width: 300px;
float:left;
}

.lcelement{
    padding-top: 3px;
height: 52px;
width: 64px;
float: left;
padding-right: 2px;
}
.lcThumbs {
margin-top: 15px;
float:left;

}
.playbtn{
background: url("http://edge.liveclicker.net/images/client/2069/imageassets/image2459.png") no-repeat scroll 0 0 transparent;
z-index: 5;
height: 40px;
width: 40px;
position: relative;
left: 13px;
margin-bottom: -40px;
cursor: pointer;
top: 6px;
}


.lctitleBG{
height: 27px;
float: left;
margin-top: -30px;
z-index: 5;
position: relative;
width: 156px;
background-color: black;
margin-left: 0px;
overflow: hidden;
font-weight: bold;
z-index: 4;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
filter: alpha(opacity=80);
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
}

div.selected .lcthumBorder{
margin-top: -41px;
position: relative;
border-style: solid;
border-width: 2px;
border-color: #CB121A;
margin-top: 0px;
width: 56px;
height: 42px !important;
}
.lcthumbBG{
background-color: black;
opacity: 0.25;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
filter: alpha(opacity=25);
-moz-opacity: 0.25;
-khtml-opacity: 0.25;
width: 156px;
height: 88px;
}


.lctitle{
height: 26px;
float: left;
margin-top: 0;
z-index: 5;
position: relative;
width: 88px;
color: black;
font-family: Arial;
margin-left: 4px;
font-weight: bold;
font-size: 11px;
line-height: 12px;
overflow: hidden;
padding-top: 5px;
}



#lcinner{
    width: 287px;
    height: 260px;

}
#mycarousel{
    float:left;
}
#lcarrows{
    margin-top: 32px;

}

#LiveclickerThumbnailDiv{
float:left;
text-align:left;


}

#lcTabs{
background: url('http://edge.liveclicker.net/images/client/2069/imageassets/image2477.png');
margin-left: -4px;
margin-right: 380px;
height: 30px;
background-position:0px -2px;
}

.jcarousel-skin-tango .jcarousel-container {
margin-top :-2px
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
margin-left: 5px;
    width: 300px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
margin-left: 43px;
    width: 70%;
}

.jcarousel-skin-tango .jcarousel-item {
    height: 85px;
    margin-right: 4px;
    width: 65px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 0px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(http://edge.liveclicker.net/images/client/2069/imageassets/image2455.png)  no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
   position: absolute;
right: 13px;
top: 13px;
width: 32px;
 -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
    border-style:none;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url(http://edge.liveclicker.net/images/client/2069/imageassets/image2455.png) ;
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(http://edge.liveclicker.net/images/client/2069/imageassets/image2455.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 5px;
    position: absolute;
    top: 13px;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url(http://edge.liveclicker.net/images/client/2069/imageassets/image2455.png);
    left: auto;
    right: 5px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.product-videos {margin-bottom: -13px; }