.pr-review-engine{font-family:inherit;font-size:inherit;font-weight:inherit;text-align:left;}.pr-snapshot-head{background-image:url(images/bg_snapshot_header.gif);border-width:1px 1px 0 1px;border-style:solid;border-color:#999;padding:.5em .5em 0 .5em;background-repeat:repeat-x;}.pr-snapshot-head p{line-height:1.88em;}.pr-snapshot-head-wrapper{padding:.2em .8em;color:#333;}.pr-snapshot-title{display:inline;padding:0;margin:0;font-size:114%;font-weight:bold;}.pr-snapshot-cobrand{display:inline;margin:0 0 0 .3em;padding:0;font-size:85%;margin-right:1em;}.pr-snapshot-addreviews-wrapper-bot{float:right;margin-top:1em;display:none;}a.pr-btn-slide{background:transparent url(images/bg_button_grey_r.gif) no-repeat scroll top right;color:#FFF;display:block;float:left;font:85% arial,sans-serif;padding-right:4px;text-decoration:none;}a.pr-btn-slide span{background:transparent url(images/bg_button_grey_l.gif) no-repeat;display:block;padding:4px 5px 5px 8px;color:#00E;}a.pr-btn-slide p{background:transparent url(images/icon_plus.gif) no-repeat left center;display:inline;margin:0;padding:1px 0 1px 18px;height:14px;line-height:14px;}.pr-snapshot-body{border-width:0 1px;border-style:solid;border-color:#999;background-color:#ccc;padding:0 .5em .5em;font-size:100%;}.pr-snapshot-body-wrapper{border:1px solid #999;padding:.5em;background-color:#fff;}.pr-snapshot-product-name{display:none;}.pr-snapshot-rating-wrapper{padding:0 .2em;}.pr-snapshot-rating{line-height:1.25em;}.pr-snapshot-rating .pr-stars{float:left;height:20px;line-height:20px;width:112px;margin:0 .5em 0 0;background-image:url(../images/stars.gif);}.pr-snapshot-rating .pr-rating{float:left;margin-right:.3em;height:20px;line-height:20px;}.pr-snapshot-rating .pr-rating-popout{float:left;width:11px;height:11px;background:url(images/icon_popout.gif) no-repeat 0 0;margin:0 .1em;}.pr-snapshot-average-based-on-text{vertical-align:middle;padding:0;margin:0;line-height:20px;}.pr-snapshot-consensus{margin-top:1em;}.pr-snapshot-consensus-value{display:inline;vertical-align:middle;border:1px solid #739E37;font-size:92%;background:#8CC63E url(images/grad_green_40.gif);background-repeat:repeat-x;padding:.1em .3em;margin-right:.3em;color:#fff;font-weight:bold;}.pr-snapshot-consensus-text{display:inline;}.pr-snapshot-body-wrapper .pr-review-points{margin-top:1em;}.pr-snapshot-express-referral{font-size:85%;}.pr-review-points-attr-wrapper{position:relative;clear:both;}.pr-review-points-attr-wrapper .pr-attribute-group{width:32.3%;float:left;margin-right:1%;overflow:hidden;border:1px solid #ccc;}.pr-rounded{-moz-border-radius-topleft:.2em;-moz-border-radius-topright:.2em;-moz-border-radius-bottomleft:.2em;-moz-border-radius-bottomright:.2em;-webkit-border-top-left-radius:.2em;-webkit-border-top-right-radius:.2em;-webkit-border-bottom-left-radius:.2em;-webkit-border-bottom-right-radius:.2em;border-top-right-radius:.2em;border-top-left-radius:.2em;border-bottom-right-radius:.2em;border-bottom-left-radius:.2em;}*html .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group{width:31%;}.pr-review-points-attr-wrapper .pr-last{margin-right:0;}.pr-attribute-label-pros{color:#696;}.pr-attribute-label-cons{color:#c33;}.pr-attribute-label-bestuses{color:#333;}.pr-attribute-key p{background-color:#ccc;display:block;font-weight:bold;padding:.4em .4em .3em;margin:0;text-transform:uppercase;text-align:left;}.pr-attribute-value{padding:.4em;}.pr-attribute-value-list{list-style:none;margin:0;padding:0;}.pr-snapshot-attribute-value-list{height:6.6em;}.pr-attribute-value-list li{line-height:1.4em;font-size:92%;}.pr-snapshot-body-wrapper .pr-other-attributes{padding:.7em .2em 0;}.pr-other-attributes{padding:0 .2em;}.pr-other-attributes-list{margin:0;padding:0;list-style:none;font-size:92%;}.pr-other-attributes-list li{margin:.2em 0;}.pr-other-attributes-list li.pr-other-attribute-label{float:left;width:32.25%;margin-right:1%;clear:left;text-transform:uppercase;font-weight:bold;padding:0 0 0 .7em;background-image:url(images/icon_grid_bullet.gif);background-repeat:no-repeat;background-position:left center;}.pr-other-attributes-list li.pr-other-attribute-value{float:left;width:60%;}.pr-snapshot-footer{padding:.7em .2em 0;}.pr-snapshot-write-review{background-image:url(images/icon_grid_arrow.gif);background-repeat:no-repeat;background-position:0 50%;padding-left:.7em;margin:0;}.pr-review-sort{border-width:0 1px;border-color:#999;border-style:solid;background-color:#ccc;text-align:right;}.pr-review-sort-wrapper{padding:.5em .5em .5em 1.3em;}.pr-review-count{float:left;margin:0;vertical-align:bottom;font-weight:bold;line-height:1.4em;}.pr-review-sort-box{float:right;}.pr-review-sort-box p{display:inline;margin:0 .3em 0 0;padding:0;vertical-align:text-top;line-height:1.4em;}.pr-contents{border-width:0 1px 1px;border-color:#999;border-style:solid;background-color:#ccc;padding:0 .5em .5em;}.pr-contents-wrapper{background-color:#fff;border:1px solid #999;padding:.5em .7em 1em .7em;}*html .pr-contents-wrapper{width:99.9%;}.pr-pagination-top{text-align:right;padding:.5em 0 .7em;margin-bottom:1em;border-bottom:1px solid #ccc;}.pr-pagination-bottom{text-align:right;}.pr-pagination-top p,.pr-pagination-bottom p{padding:0;margin:0;}.pr-page-count{float:left;}.pr-nav-back-to-top{float:left;}.pr-nav-back-to-top a{;margin-left:.3em;}.pr-page-nav{display:inline;float:right;}.pr-review-most-helpful p{padding:0;margin:0;font-size:85%;}.pr-review-most-helpful p span{font-weight:bold;font-size:85%;}.pr-review-rating-wrapper{position:relative;}.pr-review-rating-wrapper,.pr-review-main-wrapper{float:right;width:65%;}.pr-review-rating{margin-bottom:1em;}.pr-review-rating-headline{font-weight:bold;line-height:16px;vertical-align:middle;padding:0;margin:0;}.pr-review-rating .pr-stars{float:left;}.pr-review-rating .pr-rating{float:left;margin-right:.3em;font-size:85%;height:15px;line-height:15px;}.pr-review-author-info-wrapper{margin:0 0 .7em 0;}.pr-review-author{font-size:92%;float:left;width:33%;margin-bottom:1em;}.pr-review-author-profile-link{padding-right:18px;background:url(images/icon_popout.gif) no-repeat center right;text-decoration:underline;}.pr-review-author-profile-link span{display:none;}.pr-review-author-date{padding:.2em .6em;border:1px solid #999;background:url(images/grad_grey_129.gif) repeat-x bottom left;font-size:smaller;text-transform:uppercase;text-align:center;float:right;margin:0 0 0 1em;}.pr-review-author-date p{padding:0;margin:0;display:block;}.pr-review-author-date p.pr-date-day{font-weight:bold;}.pr-review-most-helpful{margin-bottom:.5em;}.pr-review-author-affinity-wrapper{margin:.7em 0;}.pr-review-author-badge-wrapper img,.pr-review-author-badge-wrapper a{border:0;text-decoration:none;}*html .pr-review-author{width:30%;}.pr-review-author p{margin:0;padding:0 0 .3em;}.pr-review-author p span{font-weight:bold;}.pr-review-wrap{border-bottom:1px solid #ccc;padding:1em 0;margin:1em 0;}.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper{padding:0;}.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group{border:0;}.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-key p{background-color:#fff;padding:0;margin:.5em .5em 0 0;}.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-value{padding:0;margin-top:.3em;}.pr-review-text{margin:1em 0;}.pr-review-text p{padding:0;margin:.7em 0 0;}.pr-review-text .pr-comments-header{font-weight:bold;font-size:92%;}.pr-review-bottom-line-wrapper span{font-weight:bold;}.pr-review-bottom-line-wrapper .pr-review-bottom-line{text-transform:uppercase;color:#f90;}.pr-customer-media-wrapper{float:left;width:215px;margin:.7em 0 0 0;}.pr-customer-media{margin:1em 0;}.pr-customer-media-user{font-size:77%;display:inline;}.pr-customer-media-user span{font-weight:bold;}.pr-pic{background:#fff url(images/shade_light.gif) repeat-x scroll left bottom;border:1px solid #ddd;float:left;left:0;padding:10px;}.pr-pic .pr-caption{color:#333;font-size:85%;margin:0 0 5px;}.pr-pic-content{background:transparent url(images/shadow.gif) no-repeat scroll right bottom;float:left;}.pr-pic-content .wrap1{background:transparent url(images/shadows/corner_bl.gif) no-repeat scroll -15px 100%;}.pr-pic-content .wrap2{background:transparent url(images/shadows/corner_tr.gif) no-repeat scroll 100% -15px;padding:0 7px 7px 0;}.pr-pic-content .wrap2 img{background:#fff none repeat scroll 0 0;border:1px solid #bbb;display:block;padding:4px;}.pr-pic .pr-pic-tags{color:#777;float:left;font-size:66%;line-height:13px;margin:0;padding-bottom:.7em;width:70px;}.pr-review-most-helpful-bottom{display:none;font-size:85%;padding:.2em 0;}.pr-review-most-helpful-bottom p{margin:0;padding:0;}.pr-review-most-helpful-bottom p span{font-weight:bold;font-size:85%;}.pr-review-tools{font-size:85%;}.pr-review-tools p{display:inline;font-style:italic;}.pr-review-tools p.pr-review-helpful-response{display:block;font-weight:bold;padding-top:.3em;}.pr-report-issue-header{padding:.3em 0;}.pr-error{display:none;padding-left:5px;padding-bottom:5px;background-color:#efefef;border:1px solid #bbb;margin-top:1em;width:30em;}.pr-error-email{display:block;}.pr-error-comments{display:block;}.pr-merchant-comments{border:1px solid #ccc;padding:.5em;margin:2em 1em;background-color:#efefef;}.pr-merchant-comments p{margin:0;padding:0;font-size:85%;}.pr-merchant-comments p span{font-weight:bold;font-style:italic;}.pr-stars{background-repeat:no-repeat;height:1.25em;line-height:1.25em;margin:0 .25em 0 0;padding:0;position:relative;width:7em;}.pr-stars-small{height:16px;line-height:16px;width:83px;background-image:url(../images/stars_small.gif);}.pr-rating{background-color:#414142;color:#fff;padding:0 .4em 0;vertical-align:top;}.pr-snapshot-no-ratings{text-align:center;}.pr-clear{clear:both;}*html .pr-review-wrap .pr-clear{width:90%;}.pr-snippet-wrapper{border:1px solid #cbcbcb;background:#efefef;padding:.25em;text-align:left;}.pr-snippet-review-count{padding:0;margin:0;font-size:95%;line-height:26px;position:relative;}*html .pr-snippet-review-count{font-size:85%;}.pr-snippet-stars{border:1px solid #cbcbcb;background:#fff;padding:.3em;float:left;margin-right:.3em;}.pr-snippet-stars .pr-stars-small{float:left;height:15px;line-height:15px;width:83px;background-image:url(../images/stars_small.gif);}.pr-snippet-stars .pr-snippet-rating-decimal{float:left;margin-right:.3em;height:15px;line-height:15px;font-size:85%;}.pr-snippet-stars .pr-snippet-rating-decimal{background-color:#414142;color:#fff;padding:0 .2em 0;}.pr-popout{float:left;width:11px;height:11px;background:url(images/icon_popout.gif) no-repeat 0 0;margin:0 .1em;}.pr-snippet-read-write{border:1px solid #cbcbcb;background:#fff;padding:.6em .3em;font-size:77%;text-align:center;clear:both;margin-top:.2em;}.pr-snippet-read-write a.pr-snippet-link{color:#0072bc;}.pr-snippet-read-write a.pr-snippet-link span{font-weight:bold;}.pr-snippet-read-reviews{border-right:1px dotted #cbcbcb;float:left;padding:0 1em;}.pr-snippet-write-review{float:left;padding:0 1em;}.pr-snippet-write-first-review p{display:inline;padding-right:.3em;}.pr-pa-snippet{border:1px solid #cbcbcb;background:#efefef;padding:.25em;}

.pr-pa-snippet-wrapper{position:relative;}
.pr-pa-snippet-title{padding:0 1em;margin:0;font-size:92%;line-height:26px;font-weight:bold;display:inline;}.pr-pa-snippet-text{padding:0;margin:0;font-size:77%;line-height:26px;font-weight:bold;display:inline;}.pr-pa-snippet-qa{border:1px solid #cbcbcb;background:#fff;padding:.6em .3em;font-size:77%;text-align:center;}
.pr-pa-snippet-qa a.pr-snippet-link{color:#0072bc;}
.pr-pa-snippet-qa a.pr-snippet-link span{font-weight:bold;}
.pr-pa-snippet-read-questions{border-right:1px dotted #cbcbcb;float:left;position:relative;}
.pr-pa-snippet-read-questions p{display:inline;padding:0 .5em;}
.pr-pa-snippet-questions{border-right:1px solid #ccc;}
.pr-pa-snippet-ask-question{float:left;margin-left:1em;position:relative;}
.pr-modal-container{border:1px solid #7F7F7F;background-color:#FFF;position:absolute;width:600px;height:422px;z-index:9999;}.pr-modal-toolbar{padding:0;background-color:#DDD;border-bottom:1px solid #7F7F7F;*width:600px;}.pr-modal-container-close span{display:none;}.pr-modal-wrapper{border:1px solid #CCC;background-color:#FFF;width:580px;height:380px;overflow:auto;margin:10px;}.pr-modal-content h2{font-size:15px;padding:10px;margin:0;background:#EFEFEF url(images/bg_snapshot_header.gif) repeat-x bottom left;}.pr-modal-content .prReviewWrap{padding:0 10px;}.pr-hidden{visibility:hidden;}

/* Stars - Small */
.prStarsSm0 {background-position: 0px 0px !important;}
.prStarsSm1 {background-position: 0px -36px !important;}
.prStarsSm2 {background-position: 0px -72px !important;}
.prStarsSm3 {background-position: 0px -108px !important;}
.prStarsSm4 {background-position: 0px -144px !important;}
.prStarsSm5 {background-position: 0px -180px !important;}

iframe body  {
	font-family: Arial, Helvetica, sans-serif !important;
}

/* product page display */
.prSnippetEngine {margin-top:4px;}
.prSnippetEngine div { margin:0 0 12px 0; padding:0; }
.prSnippetTitle { display:none; }
.prSnippetRatingUnclickable { display:inline; margin:0 9px 0 0; padding:0 9px 0 0; }
.prSnippetRatingDecimal { display:none; }
.prSnippetNumberOfRatingsText { display:inline; float:left; margin:0 0 0 9px; padding:0 0 0 9px; color:#a78b8d !important; }
.prSnippetReadReviews { display:inline; float:left; margin:0 0 0 9px; padding:0 0 0 9px;border-left:1px solid #a78b8d !important; }
.prSnippetWriteReview { display:inline; float:left; margin:0 0 0 9px; padding:0 9px !important; color:#A78B8D; }
a.prSnippetLink { margin:0 0 0 12px; color:#464646 !important; font-size : 11px;}
li .prSnippetEngine div{ margin-right:0; }

/* category and family page displays */
ol#products .smallSnippet { width:85px; margin:0 20% 2px 20%; padding:0; }
.smallSnippet div { display:block; float:none; clear:both; margin:0; padding:0; }
.smallSnippet .prSnippetEngine .prSnippetTitle { display:none; }
.smallSnippet .prSnippetEngine .prSnippetRatingUnclickable { border:0; margin:0; padding:0; }
.smallSnippet .prSnippetEngine .prSnippetRatingUnclickable .prSnippetNumberOfRatingsText { display:none; }
.smallSnippet .prSnippetEngine .prSnippetRatingUnclickable .prSnippetRatingDecimal { display:none; }
.smallSnippet .prSnippetEngine .prSnippetReadReviews { display:none; }
.smallSnippet .prSnippetEngine .prSnippetWriteReview { display:none; }
.smallSnippet .prSnippetEngine .prSnippetLink { display:none; width:60px;}

#prReviewSummary {
	background:#FFFFFF;
	border-top:1px solid #CCCCCC;
	border-right:0;
	border-left:0;
	border-bottom:0;
	margin-left:5px;
	font-weight:bold;
}

.prReviewEngine a {
	color:#752641;
	text-decoration:underline;
}

.prSummaryHeader {
	background:#FFFFFF;
	font-size:12px;
	color:#752641;
}

.prSummaryCobrand {
	display:none;
}

.prSummaryRating {
	color:#000000;
	border:0;
	font-size:1em;
	margin-left:10px;
	padding:0;
}

.prSummaryRating span {
	font-weight:normal;
}

.prReviewPoints {
	margin:0 0 0 10px;

}

.prSummaryBody {
	margin:0 0 0 10px;

}

.prSummaryValue {
	font-weight:normal;
}

.prSummaryWriteReview {
	float:left;
	font-weight:bold;
}

.prSummaryWriteReview a {
	font-weight:normal;
}

.prReviewSort {
	background:#EEEEEE;
	color:#752641;
	font-size:11px;
	border-bottom:0;
	margin-top:10px;
	clear:both;
}

.prPagination .prPageCount {
	font-weight:bold;
}

.prPagination {
	clear:both;
}

#prContents {
	clear:both;
}

.prReviewRatingHeadline {
	color:#000000;
}

.prReviewTools {
	font-style:normal;
}

.prReviewHelpfulText {
	font-weight:bold;
	font-style:normal;
}

.prReviewHelpfulText a {
	font-weight:normal;
}

.prReviewReportIssue {
	font-style:normal;
}

#ftrMailinglist {_position:relative !important; _float:left;} #ftrNavigation {_position:relative !important; _float:left; _margin-left:37px; _margin-top:22px;}

/* Ratings and Reviews Tab */
div.prReviewEngine .prSummaryBody {
	font-family: arial;
	font-size: 10px;
}
div.prReviewEngine .prReviewSort {
	background: #ffffff;
	color: #000000;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	padding: 0 15px 0 25px;
	text-transform: capitalize;
}
div.prReviewEngine .prReviewCount { margin: 0; }
div.prReviewEngine .prPagination {
	border: 0;
	margin: 0;
	padding: 0 0 0 25px;
	height: 18px;
}
div.prReviewEngine .prPageCount {
	color: #7c7c7c;
	font-family: arial;
	font-size: 10px;
	font-weight: normal;
}
div.prReviewEngine .prSummaryTitle {
	color: #000000;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 0 15px 0 7px;
	text-transform: capitalize;
}
div.prReviewEngine .prReviewRating {
	background: #f6f0e8;
	border-bottom: 2px solid #F6F0E8;
	border-top: 2px solid #F6F0E8;
	font-family: arial;
	font-size: 10px;
	padding: 0 0 0 15px;
}
div.prReviewEngine .prReviewPoints, div.prReviewEngine .prSummaryWriteReview, div.prReviewEngine .prReviewText {
	font-family: arial;
	font-size: 10px;
}
div.prReviewEngine .prReviewRatingHeadline {
	color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}
div.prReviewEngine #prReviewSummary { border: 0; }
.prSummaryKey {
	text-align: left;
	padding-left: 2px;
	width: 90px;
}
div.prReviewEngine .prSummaryValue {
	text-align: left;
	margin-left: 90px;
	padding-left: 0px;
}
div.prReviewEngine #writeReview {
	color: #54191a;
	font-family: arial;
	font-size: 10px;
	padding-left: 11px;
}
div.prReviewEngine div#prSummaryWriteReviewId_NR { margin: 0 0 10px 20px; }
div.prReviewEngine .prSummaryWriteReview { margin: 0 0 0 11px; }
div.prReviewEngine div.prReviewPoints p { margin-bottom: 8px; }

div.prReviewEngine .prReviewAuthor {
	margin: 4px 0;
	padding: 0 0 0 15px;
}
div.prReviewEngine .prReviewAuthorName, div.prReviewEngine .prReviewAuthorLocation, div.prReviewEngine .prReviewAuthorDate {
	color: #ababab;
	font-family: arial;
	font-size: 10px;
}
div.prReviewEngine .prReviewKey {
	padding-left: 6px;
	text-align: left;
	width: 90px;
}
div.prReviewEngine .prReviewValue {
	margin-left:90px;
	padding-left:0;
}
div.prReviewEngine .prReviewText { margin: 14px 0 0 0; }
div.prReviewEngine .prComments { padding: 0 0 0 15px; }
div.prReviewEngine .prReviewText p { margin-bottom: 0; }
div.prReviewEngine .prReviewTools {
	color: #54191a;
	margin: 14px 0 0 0;
	padding: 0 0 0 15px;
}
div.prReviewEngine .prReviewHelpfulText { font-style: italic; }
div.prReviewEngine .prReviewWrap {
	border: 0;
	margin: 9px 0 25px;
}

div#prReviewEngineDiv div.errorDiv {
	border-top: 1px solid #DCD1D1;
	font-family:arial;
	font-size:10px;
	font-weight:normal;
	line-height: 16px;
	margin: 14px 0 0 11px;
	padding-top: 10px;
}
div#prReviewEngineDiv div.errorDiv input {
	margin-right: 4px;
	vertical-align: -24%;
}

/* Product Page Cross Sells and Recently Viewed */
.prodRightPanelRating .prSnippetEngine a.prSnippetLink {
	margin-right : 0 !important; margin-left : 0 !important;
	padding : 0 !important;
	background : transparent;
}
.prodRightPanelRating .prSnippetEngine .prWriteReview {
	padding : 0 10px 0 0;
}
.prodRightPanelRating .prSnippetEngine .prReadReviews {
	padding : 0 0 0 10px;
}

/* product page Q & A tab
*******************************************************************************/
#product .prPaContainer {
	background-color: #fff;
	color: #000;
	font-size: 10px;
	padding: 0;
	width: auto;
}

#product #tab052ContentsQA .prPaFooter {
	display: none;
}

#product .prPaContainer a {
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
}

#product .prPaContainer .prPaHeader {
	margin-bottom: 10px;
}

#product .prPaContainer .prPaQuestionSubhead {
	margin-bottom: 30px;
	padding: 0;
}

#product .prPaContainer p.prPaQuestionPrompt {
	color: #000;
	font-size: 10px;
	padding: 0;
}

#product .prPaContainer .prPaAskQuestionLnk {
	background: url(../images/sprites/product-sprite.png) no-repeat -437px -84px;
	display: block;
	float: none;
	height: 33px;
	margin: 0 0 5px;
	padding: 0;
	text-indent: -9999px;
	width: 190px;
}

#product .prPaContainer .prPaAskQuestionLnk span {
	display: none;
}

#product .prPaContainer .prPaQuestionPromptIntro {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

#product .prPaContainer .prPaQuestionPrompt span {
	font-weight: bold;
}

#product .prPaCounts {
	border: none;
	padding: 0;
}

#product .prPaContainer .prPaPagination {
	color: #000;
	font-size: 10px;
	line-height: 1.2;
	overflow: hidden;
}

#product .prPaContainer .prPaPageCount {
	float: left;
}

#product .prPaContainer .prPaPageNav {
	float: right;
}

#product .prPaContainer .prPaQaContainer {
	background-color: #f6f7f9;
	color: #333;
	font-size: 12px;
	margin: 5px 0;
}

#product .prPaContainer li {
	background: none;
	border-bottom: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: 0;
	padding: 10px;
}

#product .prPaContainer li:last-child {
	border-bottom: none;
}

#product .prPaContainer .prPaQaDialog {
	float: left;
	width: 680px;
}

#product .prPaContainer .prPaQ {
	font-size: 12px;
	font-weight: bold;
}

#product .prPaContainer .paPrQaPrefix {
	color: #e51c39;
	display: inline;
	font-weight: bold;
	margin: 0;
}

#product .prPaContainer .prPaByLine {
	border: none;
	display: block;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#product .prPaContainer .prPaAnswerLnk {
	color: #333;
	float: right;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 200px;
}

#product .prPaContainer .prPaAnswerLnk a {
	color: #e41937;
}

#product .prPaContainer .prPaTotalsLabel {
	background: none;
	clear: both;
	color: #333;
	cursor: auto;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0;
	text-transform: capitalize;
}

#product .prPaContainer .prPaAnswerCont {
	display: block !important;
}

#product .prPaContainer .prPaAnswerList {
	margin: 0;
}

#product .prPaContainer .prPaAnswerCont li {
	border-bottom: none;
	padding: 5px 10px;
}

#product .prPaContainer .prPaAnswerDialog {
	font-weight: bold;
	padding: 0;
}

#product .prPaContainer .prPaAnswerDialog p {
	display: none;
}

#product .prPaContainer .prPaAnswerDialog .paPrQaPrefix {
	display: inline;
}

/* Power Reviews List Page - Mini Site */
#prMiniSiteHeader { padding : 10px 0; }
#prMiniSiteHeader a { display : block; height : 49px; width : 223px; overflow : hidden; background : transparent url('/images/header/logo.gif') no-repeat 0 0; text-indent : -10000px; }


/* gnc_09_category_2v1 */
#pCatCarousel .pr-snippet-stars {border: none;}
#pCatCarousel .pr-snippet-stars .pr-stars-small {background-image:url(../images/stars_small_blue.gif);}