@charset "utf-8";
/* CSS Document */
.findit{border:1px solid #f90}
.paddingleft50{padding-left:50px!important}
.paddingleft25{padding-left:25p!importantx}
.paddingleft15{padding-left:15px!important}
.paddingtop25{padding-top:25px!important}
.paddingtop15{padding-top:15px!important}
.paddingbot40{padding-bottom:40px!important}
.paddingbot20{padding-bottom:20px!important}
.paddingbothside25{padding:0 25px!important}
.margintopbot50{margin:50px 0!important}
.paddingtopbot25{padding:25px 0!important}
.alignCenter{text-align:center!important}
.marginCenter{margin:auto!important}

.clear60{height:60px; clear:both}
.clear30{height:30px; clear:both}

.everythingy *{margin:0; padding:0;font-family:"HPSimplified", Arial, Helvetica, sans-serif;}
.everythingy{font-size:14px; margin-top:20px; font-family:"HPSimplified", Arial, Helvetica, sans-serif; margin:0; padding:0; background:#fff!important;}
.everythingy a{color:#007dba; text-decoration:none}
.everythingy h1, .everythingy h2, .everythingy h3, .everythingy h4, .everythingy h5{ font-weight:100!important}
.everythingy h1.fpo{font-size:100px}

.noborder{border:none!important;}
.fltLeft{float:left!important;}
.fltRight{float:right!important;}
.clearFix{clear:both; overflow:hidden}
/*buttons*/
.everythingy .btn{color: #fff;
width: auto;
display: inline-block;
font-size: 1em;
font-weight: bold;
line-height: 2em;
text-decoration: none;
text-align: center;
padding: 0 10px;
background: #0096d6;
border-radius: 0 3px 0 3px;
-moz-border-radius: 0 3px 0 3px;
-webkit-border-radius: 0 3px 0 3px;
cursor: pointer;
margin: 3px 10px 3px 0;
border: none;}
.everythingy .btn.btn-red{background: #D7410B;}
.everythingy .btn.btn-red:hover{background: #C1401A;}
.everythingy .btn:hover{background:#007dba}
.everythingy .btn-msnew{border-radius: 0 5px 0 5px; -moz-border-radius: 0 5px 0 5px; -webkit-border-radius: 0 5px 0 5px; text-transform:none; padding:5px 15px!important; font-weight:bold; text-transform:none!important; font-size:14px!important; margin-left:0!important}

/*section heading*/
.everythingy .sectionHeading { background:url(/wcsstore/hpusstore/Treatment/etr_sectionHeading-tile.jpg) repeat-x bottom; clear:both; overflow:hidden; text-align:center; width:1000px; margin:20px auto}
.everythingy .sectionHeading span{font-size:36px; line-height: 40px; font-weight:100; background-color:#fff; padding:0 20px}
.everythingy .sectionHeading.dark{ background:url(/wcsstore/hpusstore/Treatment/etr_sectionHeading-tile_dark.png) repeat-x bottom; }
.everythingy .sectionHeading.dark span{background-color:#0096d6; color:#fff}
.everythingy .sectionHeading span.f42{font-size:42px;}
.everythingy .centerText{ text-align:center}
/*Tablet*/
.everythingy .bodyContent .compareTable th, .everythingy .bodyContent .compareTable td{padding:15px 20px; font-weight:100}
.everythingy .bodyContent .compareTable th{ font-size:24px; font-weight:100; background:#1b96d3; color:#fff;}
.everythingy .bodyContent .compareTable td{font-size:14px; line-height:20px; border-right:1px solid #ccc; width:22%}
.everythingy .bodyContent .compareTable td.heading{font-size:24px; line-height:28px;; border-bottom:1px solid #ccc}
.everythingy .bodyContent .compareTable td:first-child{border-right:none; width:120px; background:url(/wcsstore/hpusstore/Treatment/etr_tile-compareTableShadow.png) repeat-y right top; font-weight:400; padding-left:15px}
.everythingy .bodyContent .compareTable td:last-child{border-right:none}
.everythingy .bodyContent .item-price{font-size:30px; margin-bottom:15px}
.everythingy .bodyContent .item-price sup{font-size:60%; position:relative; bottom:7px; vertical-align:baseline}
.everythingy .bodyContent .item-price span{font-size:18px}
.everythingy .bodyContent .item-price p{font-size:16px; color:#5a5a5a; padding-left:18px}

.everythingy .bodyContent .compareTable .rollover{font-weight:400; font-size:14px; padding-right:20px; background:url(/wcsstore/hpusstore/Treatment/ii_icon_info_15x15.png) right 5px no-repeat}
.everythingy .bodyContent .compareTable strong{font-weight:400}

.everythingy .pricing2 span{color:#5a5a5a; font-size:12px}
.everythingy .pricing2 p{color:#d7410b; font-size:36px; line-height:38px; font-weight:100; padding-bottom:5px}
.everythingy .link10{font-size:14px; padding:0 5px; line-height:30px}

.everythingy .compareTable .circle {width: 20px; height: 20px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display:block; float:left; margin-right:10px }
.everythingy .compareTable .modern_silver{background:#dee6ea;}
.everythingy .compareTable .black{background:#000;}
.everythingy .compareTable .white{background:#f4fbfe; border:1px solid #cecece;}

.everythingy .learnMore{color:black; line-height:30px;}
.everythingy .learnMore::before{content: ""; background:url(/wcsstore/hpusstore/Treatment/etr_ico_learnmore.png) no-repeat bottom; display:block; float:left; height:30px; width:30px; margin-right:3px}
.everythingy .learnMore:hover::before{background-position:top}

.footNote-hpe{clear:both; font-size:11px; line-height:16px; color:#767676; margin:40px 0 0; padding:40px; border-top:1px solid #ccc}
.footNote-hpe h3{font-weight:bold; font-size:14px; padding-bottom:10px}
.footNote-hpe ol{list-style:decimal}
.footNote-hpe li{padding-bottom:10px; list-style:decimal}
.footNote-hpe  p{padding-bottom:10px}

