body {background:#f3f2f2 !important;}
#page-wrapper {background:#fff  !important;}

#main-navigation-container #header_logo {}
#main-navigation-container #main-navigation > ul { margin-top: 90px !important;}
#search-form.showSearch { display: block !important; position:absolute; width: 100% !important; top: 110px !important; }
#search-form.showSearch #search-form-wrapper label {padding:0px;}
#search-form.showSearch  #search-form-wrapper {margin:0px !important; min-height: inherit !important; background: none !important;}
#search-form.showSearch  #search-form-wrapper input[type="text"] {width: 140px !important; background-color: #f3f2f2 !important; height: 40px !important; padding: 0px 10px !important; line-height:40px; font-size:16px; margin:0px;}
#search-form.showSearch #search-form-wrapper label {display:none;}
#search-form.showSearch  #search-form-wrapper .search-area {display:inline-block; margin: 0 auto; width:inherit;}
#search-form.showSearch  #search-form-wrapper .search-area .black-button {    padding: 0px 5px;  text-align: center; width: 40px; height:40px;  background:  #f3f2f2;  }
#search-form.showSearch  #search-form-wrapper .search-area .black-button i {   width: 20px; height:20px; margin:10px auto 0px; display:block; background:  #f3f2f2 url("http://www.sunglasshut.com//wcsstore/MadisonsStorefrontAssetStore/images/sprites/redesignIcons.png") -54px -87px  no-repeat ;  }
#search-form.showSearch  #search-form-wrapper input[type="text"]::-webkit-input-placeholder  { font-family: "brandon_bold",Helvetica,Arial,sans-serif; color: #7d7d7d; text-transform:uppercase; font-size: 13px;}
#search-form.showSearch  #search-form-wrapper input[type="text"]:-moz-placeholder  { font-family: "brandon_bold",Helvetica,Arial,sans-serif; color: #252525; text-transform:uppercase; font-size: 13px;}
#search-form.showSearch  #search-form-wrapper input[type="text"]::-moz-placeholder  { font-family: "brandon_bold",Helvetica,Arial,sans-serif; color: #252525; text-transform:uppercase; font-size: 13px;}
#search-form.showSearch  #search-form-wrapper input[type="text"]::-ms-input-placeholder  { font-family: "brandon_bold",Helvetica,Arial,sans-serif; color: #7d7d7d; text-transform:uppercase; font-size: 13px;}

#search-form.showSearch #search-form-wrapper #no-results {display:none; position:absolute;}
#search-form.showSearch #search-form-wrapper #autoSuggest_Container li  { float:left; margin-left: 45px;}

#search-form.showSearch #search-form-wrapper #no-results {display:none; position:absolute; width: 100%; top: -115px; left: 255px; padding: 0px;}
#search-form.showSearch #search-form-wrapper #no-results .close { cursor: pointer;   position: absolute;  right: 15px; text-indent: -9999px;  top: 15px; background-position: -31px 0; height: 13px; width: 14px;}
#search-form.showSearch #search-form-wrapper #no-results.on-focus {display:block; }
#search-form.showSearch #search-form-wrapper #no-results.off-focus {display:none !important;}
#search-form.showSearch #search-form-wrapper .row {width: 500px;  background: #f3f2f2; margin: 0 auto; padding: 20px 0; position:relative;}
#search-form.showSearch #search-form-wrapper #slider  {width: 450px;}
#search-form.showSearch #search-form-wrapper .carousel-item .img-container { width: 100%;}

#search-form.showSearch #autoSuggest_Container { padding: 0px; left: 255px;  position: absolute; top: -115px;  width: 100%; background-color: rgb(0,0,0), 0.5 ;}
#search-form.showSearch #autoSuggest_Container #autoSuggest_Result_div {background: #f3f2f2; margin: 0 auto; background: #f3f2f2; padding: 50px 0;  width: 500px;}
#search-form.showSearch #search-form-wrapper #autoSuggest_Container li  { float:left; margin-left: 45px;}
#search-form.showSearch #search-form-wrapper .heading {padding-left: 140px; text-align: left; margin: 20px 0px 10p; }
#search-form.showSearch #search-form-wrapper .heading br {display: none;}

#search-form.showSearch #search-form-wrapper li .img-container {width:150px;}
#search-form.showSearch #search-form-wrapper li .img-container img {width:100%;}

#search-form.showSearch #search-form-wrapper li .brandInfo .brand, 
#search-form.showSearch #search-form-wrapper li .brandInfo .price,
#search-form.showSearch #search-form-wrapper li .brandInfo .style {line-height:16px;}
#search-form.showSearch #search-form-wrapper li .brandInfo .brand {margin-top: 5px;}

#main-navigation-container #collapsed-navigation i.menu-search { width: 20px; height:20px; margin:20px auto 0px; display:block; background: #fff url("http://www.sunglasshut.com//wcsstore/MadisonsStorefrontAssetStore/images/sprites/redesignIcons.png") -54px -87px  no-repeat ; }


#right-nav li.account ,
#right-nav li.favorites {top: 0px;}
#right-nav li.search { display:none;}


#right-nav { height:inherit !important; }
#right-nav #cart-dropdown { z-index: 9001;}
#right-nav.open  { -webkit-transition-property: right !important; transition-property: right !important;}
#right-nav .item-display {height: inherit !important; padding-bottom: 20px !important; display:none;}
#right-nav .item-display.top {  z-index: 9002; display:block;}
#right-nav.open  { right: 256px !important; -webkit-animation: none !important;  animation:none !important;}
#right-nav.open .item-display .close {-webkit-animation: none !important;  animation:none !important; opacity: 1;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#right-nav { -webkit-transition: top 0.5s !important; -ms-transition: top 0.5s !important;  transition: top 0.5s !important; }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,#right-nav {  -webkit-transition: top 0.5s !important; transition: top 0.5s !important; }
}

