<style>

/* = Global
--------------------------------------------------------------------------------*/	    

#pdp .product_options #bv-container {width: 170px !important;}
#pdp .product_options { position: fixed !important;}

#pdp .product_options h1,
#pdp .product_options .frame-color,
#pdp .product_options .polarized,
#pdp .product_options #pdp_Colors .colorText { font-weight: normal !important;}

#pdp .product_options #pdp_Colors ul li a.tooltip .tooltipContent {padding: 10px  !important; width:inherit  !important;}
#pdp #pdp-container #pdp-display .icon.new {z-index:2 !important;}
#pdp .show-small {display:none;}



/* = PDP Left
--------------------------------------------------------------------------------*/	

#pdp_Colors_Collapse {display:none;}

#pdp_Colors_Collapse p.colorText{ font-family: "brandon_black",Helvetica,Arial,sans-serif; font-size: 12px; cursor:pointer; font-style: normal; font-weight: normal!important;}
#pdp_Colors_Collapse p.colorText i {display:inline-block; width:5px; font-style:normal; font-size: 16px; position:relative; top: 0px; margin-left:3px; color:#e74c3c; }
#pdp_Colors_Collapse p.colorText i:before { content:"+";}
#pdp_Colors_Collapse p.colorText.color-expand i:before { content:"-";}
#pdp_Colors_Collapse p.colorText .frame-lens-combo.active {float:inherit; display:inline-block; position:relative; top: 7px; margin-right: 15px;}

#pdp .product_options #pdp_Colors .redesignIcons-close-black {position:absolute; top: 10px; right:10px; cursor:pointer; display:none;}

#pdp .product-color-seventeen #pdp_Colors.collapse-color-seventeen,
#pdp .product-color-five #pdp_Colors.collapse-color-five {display:block;}

/* = @media 651 - 782
--------------------------------------------------------------------------------*/	    

@media (max-height:782px) {
#pdp .product_options #left-logo { margin-bottom: 36px !important;}
#pdp .product_options h1 {margin-bottom: 9px !important;}	
#pdp .product_options #pdp_Colors ul,
#pdp .product_options .product-upc,
#pdp .product_options h2  {margin-bottom: 0px !important;}	
#pdp .product_options #pdp_Colors  {margin: 5px 0px 10px !important;}
#pdp .product_options #pdp_Colors .colorText {line-height: 28px !important;}
#pdp .product_options #price,
#pdp .product_options .polarized { margin-bottom: 20px !important;}
#pdp .product_options .price br { display: none !important;}
#pdp .product_options .price {margin-bottom: 10px; margin-top: 10px;}
#pdp .product_options .cart-button {margin-bottom:28px !important;}
#pdp .product_options .favorites {margin-bottom: 22px !important;}
#pdp .product_options #pdp_Colors ul li {margin-bottom: 0px !important; height: 28px !important;}

#pdp .product-color-seventeen .show-small {display: inline-block;}
#pdp .product-color-seventeen .show-large {display: none;}
#pdp .product-color-seventeen #pdp_Colors_Collapse {display: inline-block; margin-bottom:20px;}
#pdp .product_options #pdp_Colors_Collapse > p.colorText { margin-top: 10px; margin-bottom: -4px;}
#pdp .product_options #pdp_Colors_Collapse > p.color-all-text {margin-top:0px; margin-bottom: 8px;}
#pdp .product_options #pdp_Colors p.show-small {font-family: "brandon_black",Helvetica,Arial,sans-serif; font-size: 12px; margin-bottom:5px;}
#pdp .product-color-seventeen #pdp_Colors.collapse-color-seventeen {display:none; position:absolute; width: 256px !important;  left: 256px !important; background-color: #f3f2f2 !important; padding: 25px 0px !important;}
#pdp .product_options #pdp_Colors.color-expand {} 
#pdp .product-color-seventeen #pdp_Colors .redesignIcons-close-black {position:absolute; top: 10px; right:10px; cursor:pointer; display:block;}
#pdp .product-color-seventeen #pdp_Colors.color-expand {display:block;}

}




/* = @media < 630
--------------------------------------------------------------------------------*/	
    
@media (max-height:680px) {
	
#pdp .product-color-five .show-small {display: inline-block;}
#pdp .product-color-five .show-large {display: none;}
#pdp .product-color-five #pdp_Colors_Collapse {display: inline-block; margin-bottom:20px;}
#pdp .product-color-five #pdp_Colors .redesignIcons-close-black {position:absolute; top: 10px; right:10px; cursor:pointer; display:block;}


#pdp .product-color-five #pdp_Colors.collapse-color-five { display:none; position:absolute; width: 256px !important;  left: 256px !important; background-color: #f3f2f2 !important; padding: 25px 0px !important;}
#pdp .product-color-five #pdp_Colors.color-expand {display:block;}

#pdp .product_options .polarized { margin-bottom:35px !important;}
#pdp .product_options .cart-button {margin-bottom: 15px !important;}
#pdp .product_options .social-options,
#pdp .product_options .favorites { margin-bottom: 18px !important;}

}

</style>