/*-------------------------
Thematic page overrides
-------------------------*/
.category-product-wrap .last .quickview {
	width: 73px;
}

#catalog-thematic .quickview {
	margin: -80px 62px;
}

/*-------------------------
Category and Product Page Widgets
-------------------------*/
.category-view .relprod-widget-content {
	height: 240px;
	bottom: 100px;
	float: left;
	padding-top: 20px;
}
.product-view .relprod-widget-content {
	height: 250px;
	padding-top: 20px;
	width: 960px;
}
	.relprod-widget-content .more-results {
		border-right: 1px solid #cccccc;
		float: left;
	}
		.category-view .relprod-widget-content .more-results {
			border-top: 1px solid #cccccc;
			width: 500px;
		}
		.product-view .relprod-widget-content .more-results {
			width: 680px;
		}
	.relprod-widget-content #br-related-searches-widget a,
	.relprod-widget-content #br-more-results-widget a,
	.relprod-widget-content #br-related-searches-widget a:hover,
	.relprod-widget-content #br-more-results-widget a:hover {
		text-decoration: none;
		color: #777777;
	}
	.relprod-widget-content #br-more-results-widget {
		width: 510px;
		float: left;
	}
		.product-view .relprod-widget-content #br-more-results-widget {
			width: 680px;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget {
			float: left;
			height: 200px;
			width: 170px;
		}
		.relprod-widget-content #br-more-results-widget img {
			height: 120px;
			width: 120px;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-desc {
			display: none;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-title {
			max-width: 150px;
			padding-top: 10px;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-title a,
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-title a:hover,
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-desc{
			color: #333333;
		}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-title a {
				font-size: 13px;
			}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-desc,
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-qv a{
				font-size: 12px;
			}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-qv a,
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-qv a:hover {
				color: #777777;
			}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont {
			width: 495px;
			height: 195px;
			z-index: 10;
			position: absolute;
			background: white;
		}
			.product-view .relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont {
				width: 680px;
			}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-img {
			float: left;
			position: relative;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-title {
			float: left;
			position: absolute;
			top: 125px;
		}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-title a,
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-title a:hover {
				color: #333333;
				font-size: 12px;
			}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-desc,
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-view {
			float: left;
			position: relative;
			width: 270px;
			padding: 10px 0 0 50px;
			color: #777777;
			font-size: 12px;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-view {
			text-decoration: underline;
		}
		.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-close {
			position: absolute;
			font-size: 12px;
			top: -40px;
			left: 435px;
			background: #ededed;
			text-align: center;
			width: 65px;
			height: 22px;
		}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-close a {
				display: block;
				padding-top:3px;
				padding-right: 15px;
			}
			.relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-close [data-icon]:before {
				font-size: 1.4em;
				left: 28px;
				top: -18.5px;
				margin-right: -2px;
			}
			/*IE 10/11 Hack to fix font icon size*/
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		        .relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-close [data-icon]:before {
		                font-size: .5em;
	 	       }
			}
			.product-view .relprod-widget-content #br-more-results-widget .br-sf-widget-merchant-popup-maincont .br-sf-widget-merchant-popup-close {
				left: 580px;
				top: -27px;
			}
	.relprod-widget-content #br-related-searches-widget {
		width: 259px;
		height: 250px;
		float: right;
	}
		.category-view .relprod-widget-content #br-related-searches-widget {
			border-top: 1px solid #777777;
		}
		.relprod-widget-content #br-related-searches-widget .br-related-heading, 
		.relprod-widget-content .more-results .br-found-heading {
			font-size: 16px;
			color: #333333;
			padding: 10px 0px;
		}
			.product-view .relprod-widget-content #br-related-searches-widget .br-related-heading, 
			.product-view .relprod-widget-content .more-results .br-found-heading {
				margin-top: -13px;
			}
		.relprod-widget-content #br-related-searches-widget .br-related-heading,
		.relprod-widget-content #br-related-searches-widget .br-related-query {
			padding-left: 20px;
		}
		.relprod-widget-content #br-related-searches-widget .br-related-query {
			font-size: 12px;
			padding-top: 5px;
		}

/*-------------------------
Protection against a fourth product being returned on category page
-------------------------*/
.category-view .relprod-widget-content .br-sf-widget:nth-child(7) {
	display: none;
} 