a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:underline;}

.marketingMessage{color:#FFFFFF;font-size:18px;}

/***** Begin styles common to Category,Sale/Clearance,Seach and MUPs pages *****/
/* Category Header */
#catHdrRoundedTop{background-color:#6699CC;height:5px;padding:0px;margin:0px;overflow:hidden;}
#catHdrRoundedRight,#catHdrRoundedLeft{background-color:#ffffff;height:5px;width:5px;padding:0px;margin:0px;}
#catHdrRoundedLeft{float:left;}
#catHdrRoundedRight{float:right;}
#catHdr{background-color:#6699CC;height:25px;}

/* Sale/Clearance Header */
#clearanceHdr{background-color:#fff;height:91px;width:627px;margin-bottom:3px;}
#saleHdr,#clearanceHdr{background-color:#fff;height:72px;width:627px;border-bottom:1px solid #bfbfbf;}
#saleName{float:left;width:104px;margin-right:20px;}
#clearanceName{float:left;width:279px;}
#saleImg{width:104px;height:72px;}
#clearanceImg{height:91px;width:279px;}
#clearanceMenu{width:auto;margin-top:45px;float:left;text-align:left;}
#saleMenu{width:auto;margin-top:31px;float:left;text-align:left;}

/* Product Iteration */
.mupsMessage{color:#990000;font-size:10px;text-decoration:none;font-weight:bold;}
a.mupsLink:link,a.mupsLink:active,a.mupsLink:visited{text-decoration:none;color:#666;text-transform:lowercase;font-weight:normal;}
a.mupsLink:hover{text-decoration:underline;}

.gridProdImg {height:auto; width:202px;}
.priceDisplay{display:block;}
.productCatItem .imgDiv {height:auto; width:202px;}
.mupSupMessage{display:block; clear:both;}
.brandBreak{display:block;width:10px;clear:left;height:0px;line-height:1px;}
*html .brandBreak{margin-bottom:-3px;}
.productMarketingFlag{padding:0px 4px 0px 4px;}
.productItemName:link,.productItemName:visited,.productItemName:hover,.productItemName:active{font-size:10px;text-decoration:none;text-align:left;font-weight:normal;color:#666; padding-left: 10px; padding-right: 10px;}
.productItemName:hover{text-decoration:underline;}

/* Univeral Product Grid - (VI) */
.productCatItem{float:left;margin:7px 1px 7px 1px;min-height:207px;overflow:hidden;width:204px;text-align:center;}
/* IE 6 */
* html productCatItem{height:290px;}
.categoryFacetedSearch .productCatItem {
    min-height:270px;   
}

span.productPricing,li.marketing-flag{text-align:left;}
.category-iteration-name{padding:15px;color:#989898;font-size:15px;text-decoration:none;font-weight:500;}

/* Begin:Size Finder Div */
#shopBySizeContainer {padding:5px;}
#shopBySizeTop {height:10px;width:617px;padding:0px;margin:0px;overflow:hidden;background:#ffffff;}
#shopBySizeTop .left{background:#ffffff;height:10px;width:13px;padding:0px;margin:0px;float:left;}
#shopBySizeTop .right{background:#ffffff;height:10px;width:13px;padding:0px;margin:0px;float:right;}
#shopBySizeBottom {height:10px;width:617px;padding:0px;margin:0px;overflow:hidden;background-color:#ffffff;}
#shopBySizeBottom .left{background:#ffffff;height:10px;width:13px;padding:0px;margin:0px;float:left;}
#shopBySizeBottom .right{background:#ffffff;height:10px;width:13px;padding:0px;margin:0px;float:right;}
#shopBySizeTools {background:url(/assets/browse/category/en/shopbysize_hdr.gif) no-repeat 13px 0px;background-color:#ffffff;padding:0px 0px 2px 106px;margin:0px;width:511px;white-space:nowrap;height:14px;}
#shopBySizeTools ul {list-style-type:none;white-space:nowrap;}
#shopBySizeTools li{float:left;line-height:11px;padding-left:6px;}
#shopBySizeTools li a{text-transform:lowercase;color:#666;font-size:9px;font-weight:normal;text-decoration:underline;font-family:Verdana}
#shopBySizeSelections {margin:0px;padding:0px 0px 5px 13px;background:#ffffff;}
#shopBySizeSelections li {float:left;}
#shopBySizeSelections li.sizeFinderDropdowns{vertical-align:baseline;width:91px;padding:7px 10px 0px 0px;}
#shopBySizeSelections li.sizeFinderDropdowns label {color:#666;font-size:9px;font-weight:normal;text-transform:lowercase;margin:0px;padding:0px;white-space:nowrap;font-family:Verdana}
#shopBySizeSelections li.sizeFinderDropdowns select{background:#fff;width:91px;padding:0px;margin:3px 0px 0px 0px;font-size:9px;color:#807c2d;}
#shopBySizeSelections li.sizeFinderDropdowns select.active {background:#fff;font-weight:bold;color:#807c2d;}
#shopBySizeSelections li.sizeFinderFind{margin:22px 5px 0px -5px;}
#shopBySizeSelections li.sizeFinderReset{margin:22px 0px 0px 0px;}
#shopBySizeSelections li.sizeFinderFindNoLabel{margin:10px 5px 0px -5px;}
#shopBySizeSelections li.sizeFinderResetNoLabel{margin:10px 9px 0px 0px;}

/*
#shopBySizeSelections li.sizeFinderDropdowns{vertical-align:baseline;width:91px;padding:7px 10px 0px 0px;}
#shopBySizeSelections li.sizeFinderDropdowns label {color:#666;font-size:9px;font-weight:normal;text-transform:lowercase;margin:0px;padding:0px;white-space:nowrap;}
#shopBySizeSelections li.sizeFinderDropdowns select{background:#fff;width:91px;padding:0px;margin:3px 0px 0px 0px;font-size:9px;color:#333;}
#shopBySizeSelections li.sizeFinderDropdowns select.active {background:#fff;font-weight:bold;color:#f60;}
#shopBySizeSelections li.sizeFinderFind{margin:22px 10px 0px 0px;}
*/

/* end Size Finder */

/* category paging can be really wide if large number of pages */
.productToolsLine {margin-bottom:2px; clear: both;}
.sortBySelection,.paginationSearchModeControl,.categoryPaging{float:left;padding:0px;margin:0px;margin-bottom:2px;}
.sortBySelection{text-align:left;width:225px;}
* html label.sortByLabel{position:relative;top:-3px;}
.paginationSearchModeControl{text-align:center;width:129px;padding-top:3px;}
.categoryPaging{float:right;text-align:right;padding:3px 5px 0px 0px;width:250px;}
.seeAll{font-weight:bold;margin:0px 10px 0px 10px;}
.seeAllLink{font-weight:normal;margin:0px 10px 0px 10px;}

/* Begin:Tab Styles */
#tabnav{margin:0px;padding:0px;padding-left:16px;height:24px;background:url(/assets/browse/category/en/tab_spacer.gif) repeat-x bottom;}
#tabnav li{font-size:9px;margin:0px;padding:0px;display:inline;list-style-type:none;line-height:12px;}
#tabnav li a{font-weight:normal;text-decoration:none;}
#tabnav span{float:left;}
#tabnav span.center{border-bottom:none;display:block;width:auto;max-width:470px;padding:0px 5px 0px 5px;}

/* Active Left Tab */
#tabActiveLeft span{height:24px;background-color:#fff;border-bottom:none;}
#tabActiveLeft span.center{padding-top:6px;height:18px;color:#f60;font-weight:bold;}

/* Active Right Tab */
#tabActiveRight span{height:24px;background-color:#fff;border-bottom:none;}
#tabActiveRight span.center{padding-top:6px;height:18px;color:#993300;font-weight:bold;font-family:Verdana}

/* Inactive Left Tab */
#tabInactiveLeft span{height:23px;background-color:#eaebdb;border-bottom:none;}
#tabInactiveLeft span.center{padding-top:6px;height:17px;}
#tabInactiveLeft a:link,#tabInactiveLeft a:visited,#tabInactiveLeft a:hover,#tabInactiveLeft a:active {color:#666;font-weight:normal;}

/* Inactive Right Tab */
#tabInactiveRight span{height:23px;background-color:#eaebdb;border-bottom:none;}
#tabInactiveRight span.center{padding-top:6px;height:17px;}
#tabInactiveRight a:link,#tabInactiveRight a:visited,#tabInactiveRight a:hover,#tabInactiveLeft a:active {color:#666;font-weight:normal;}

/* span */
span.left{background:url(/assets/browse/category/en/category_tab_left.gif) no-repeat top;display:block;margin-left:2px;width:6px;}
span.right{background:url(/assets/browse/category/en/category_tab_right.gif) no-repeat top;display:block;width:6px;}
span.center{background:url(/assets/browse/category/en/tab_spacer.gif) repeat-x top;}

#tabTable, #tabTableOff {background-color:#fff;border:none;border-top:none;margin:0;padding:8px 0 0;}
/* #tabTableOff{padding-top:10px;padding-bottom:5px;} */
#tabTableOff .clear5{height:0px;}

.liLink{cursor:pointer;}
/* End:Tab Styles */
/***** End styles common to Category,Sale/Clearance,Seach and MUPs pages *****/


.brand10 {color:#333333;}
#productImageLeft .brand10 {width:100%;}
.brand10 #quickLookLoadAnimation{border:1px solid #600;}
.brand10 #quickLookWindow{color:#333;}
.brand10 .crossSellImage { width:120px !important; height: auto !important;}

.brand10 .quickLookWindowTop{background-color:#B3B1AF;}
.brand10 .quickLookWindowClose{background-color:#B3B1AF;}

.brand10 .topBadge {overflow:hidden; height: 22px; background:transparent url(/gid/assets/common/en/titleBar_QL_bananarepublic.gif) top left no-repeat;}
.brand10 .topBadgeFix {padding-top: 5px;}
.brand10 .quickLookWindowContent .productMarketingFlag{font-size:9px;height:15px;line-height:15px;}
.brand10 .quickLookPageError{margin:0px;padding:0px 5px 5px 0px;line-height:1em;display:none;}
.brand10 #quickLookSize1Text, #quickLookSize2Text {margin-top:5px; margin-bottom: 2px;width:150px;}
.brand10 .quickLookMupMessage{margin:5px 0px 5px 2px;font-weight:bold;color:#993300;}
.brand10 .quickLookGIDPromoMessage, .brand10 #quickLookGIDPromoMessage, .brand10 #productPageGIDPromoMessage {margin:5px 0px 5px 2px;font-weight:bold;color:#06f;display:none;}
.brand10 .quickLookMarketingFlagStyle, .brand10 #quickLookMarketingFlagStyle, .brand10 #productPageMarketingFlagStyle {display:none; padding:0px 0px 0px 8px;}
.brand10 .quickLookMarketingCallOut, .brand10 #quickLookMarketingCallOut, .brand10 #productPageMarketingCallOut {display:none;}
.brand10 #quickLookMarketingFlagColor, .brand10 #productPageMarketingFlagColor {display:none;height:15px;margin:0px 0px 0px 3px;}
.brand10 #quickLookMarketingFlagSize, .brand10 #productPageMerketingFlagSize {display:none;height:15px;margin:0px 0px 0px 3px;}
.brand10 .quickLookMupMessageStyle, .brand10 #quickLookMupMessageStyle, .brand10 #productPageMupMessageStyle{display:none;}
.brand10 .quickLookProductImage {
    background-color: #FFFFFF;
    display: table-cell;
    height: 272px;
    margin: 0;
    padding: 5px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 202px;
}
.brand10 #quickLookProductImageTools{width:202px;padding:15px 0;margin:0px; text-align: center;}
.brand10 .quickLookProductName{width:197px;padding:5px 0px 0px 8px;background-color:#fff;font-weight:bold;}
.brand10 .quickLookProductOriginCopy{display: none;padding:0px 0px 0px 8px;}
.brand10 #quickLookMarketingContentLeft{width:197px;padding:0px 0px 5px 5px;background-color:#fff;}
.brand10 #quickLookInfoTabs img{ cursor: pointer; }
.brand10 .quickLookSizeTab{float:left;}
.brand10 .quickLookOverviewTab{float:left;}
.brand10 .quickLookTabSpacer{display: none;}

.brand10 #quickLookInfoTabs .off { background-color: #eaebdb; }

.brand10 .quickLookCloseButton{float:right;border-bottom:1px solid #e1e1e1;}
.brand10 #quickLookSwatches p{padding:0px;margin:0px;}
.brand10 #quickLookColorSwatches{padding:0px 0px 10px 1px;}
.brand10 #quickLookColorSwatches #colorPrice{margin-bottom:5px;}
.brand10 #quickLookColorSwatches .colorSwatches{margin-bottom:5px;}

.brand10 .quickLookTabContent ul, .brand10 #quickLookTabArea ul {list-style:disc outside;margin:0px 0px 10px 15px;}
.brand10 .quickLookTabContent li a:link, .brand10 .quickLookTabContent li a:visited,.brand10 .quickLookTabContent li a:hover,.brand10 .quickLookTabContent li a:active{text-decoration:underline;}
.brand10 .quickLookTabContent .productID{padding:10px 0px 0px 0px;}
.brand10 .quickLookTabContent .productDetail{padding:0px 0px 6px 0px;margin:22px 0px 0px 0px;font-weight:bold; text-align: right; }
.brand10 #quickLookVariants{margin:3px 0px 3px 2px;}
.brand10 #quickLookVariants .legal{font-size:9px;line-height:10px;}
.brand10 .quickLookPriceText{font-weight:bold;}
.brand10 #quickLookProductDetail{float:left;margin:0px 0px 0px 3px;}
.brand10 .quickLookAddtoBag{float:right;margin:5px 0px 0px 0px;padding:0px;}
.brand10 .quickLookAddtoBag img{display:block;}

.brand10 .quickLookAddToBagArea {background-color:#eaebdb;}
.brand10 .quickLookConfirmationArea{background-color: #eaebdb; border-left-color: #ffffff;}

.brand10 .quickLookConfirmationAreaBottom{height:6px;overflow:hidden;display:none;}
.brand10 #quickLookInventoryStatusWindow{width:168px;color:#993300;padding:2px 0px 2px 0px;font-size:9px;}
.brand10 .quickLookOnOrderDate{font-weight:bold;}
.brand10 .quickLookOnOrderBkg{background-color:#EAEBDB;}
.brand10 .quickLookLowInventoryBkg{background-color:#f90;}
.brand10 #quickLookLauncher a img#quickLook{width:102px;height:24px;}
.brand10 #quickLookProductDescription { color : #666; margin-top: 10px; margin-bottom: 10px; }
.brand10 #quickLookClose {margin-top:3px;width:19px;}
.brand10 #quickLookMailOnlyReturn{background-image:url(/assets/common/quicklook/en/mailonly_quicklook.gif);width:162px;height:18px;}
.brand10 #moreViewsBtn { vertical-align: middle; cursor: pointer;}
.brand10 #quicklook_product_image {width:202px; height:auto;}
.brand10 #quicklook_outfit_image {width:118px; height:202px;}
.brand10 .swatchLabelName{font-weight:bold;}
.brand10 .sColorSelection .swatchLabelName { font-weight: normal; }
.brand10 .swatchLabel{font-weight:normal; display:none;}
.brand10 .brandBadge { width: 120px; text-align: right; height: 40px; position: absolute; top:0px; left:0px;}
.brand10 #outfit_product_image { width: 120px; height: auto; }
.brand10 .smallbox_img { width: 58px; height: 77px; }
.brand10 .imgDiv {position: relative; margin-bottom: 3px;}

.brand10 #swatchContent input,
.brand10 #quickLookSwatches input,
.brand10 #shoppingBagEditSwatches input,
.brand10 #colorSwatches input,
.brand10 #swatchContent button,
.brand10 #quickLookSwatches button,
.brand10 #shoppingBagEditSwatches button,
.brand10 #colorSwatches button,
.brand10 #fistProductSwatches input, 
.brand10 #fistProductSwatches button {
display: block; float: left; text-align: center; vertical-align: middle; border:1px solid #807C2D; padding: 1px; margin:2px; cursor: pointer; background-color: white; font-weight: bold; color: #807C2D;
}
.brand10 .productId {float: left;}

.brand10 #swatchContent .hover, 
.brand10 #swatchContent .selected,
.brand10 #quickLookSwatches .hover, 
.brand10 #quickLookSwatches .selected,
.brand10 #shoppingBagEditSwatches .selected, 
.brand10 #shoppingBagEditSwatches .hover,
.brand10 #colorSwatches .hover, 
.brand10 #colorSwatches .selected,
.brand10 #fistProductSwatches .hover, 
.brand10 #fistProductSwatches .selected {border:2px solid #807C2D; margin: 1px;}

.brand10 #swatchContent .soldOut,
.brand10  #quickLookSwatches .soldOut,
.brand10 #shoppingBagEditSwatches .soldOut{border:1px dotted #aaa; background-color: #fff; color:#aaa; margin: 2px;}
.brand10 #swatchContent .selectedSoldOut,
.brand10 #quickLookSwatches .selectedSoldOut,
.brand10 #shoppingBagEditSwatches .selectedSoldOut{border:2px dotted #aaa;background-color:#fff;color:#aaa; margin-top: 1px; margin-bottom: 1px;}
.brand10 .thumbs {margin: 3px; border: solid 1px #807C2D; cursor : pointer; text-align: center; vertical-align:middle; padding: 1px; width: 38px; height: auto;}
.brand10 .thumbSelected { margin: 2px; border: solid 2px #807C2D; cursor : pointer; text-align: center; vertical-align:middle; padding: 1px; width: 38px; height: auto;}
.brand10 #colorThumbs { float : left; margin: 0px; padding: 0px;}
.brand10 #imageThumbs_ql{padding:0px 0px 0px 5px;}

.brand10 .quicklook-sprites { background:transparent url(/assets/common/quicklook/en_US/quicklook-sprites.gif) no-repeat scroll left top; }
.brand10 .sprite-button_add_to_bag_on, .brand10 .sprite-button_add_to_bag_over {float: right; background-position: 0 -10px; width: 71px; height: 19px; margin: 5px 0px 5px 9px;}
.brand10 .sprite-tab_size_off { background-position: 0 -169px; width: 83px; height: 20px; }
.brand10 .sprite-Gap_quickLookContent_bkg { background-position: 0 -69px; width: 388px; height: 4px; }
.brand10 .sprite-sizeChart { background-position: 0 -83px; width: 63px; height: 20px; }
.brand10 .sprite-tab_overview_off { background-position: 0 -228px; width: 68px; height: 20px; }
.brand10 .sprite-button_more_views { background-position: 0 -137px; width: 85px; height: 24px; }
.brand10 .sprite-tab_size_on, .brand10 .sprite-tab_size_over { background-position: 0 -39px; width: 83px; height: 20px; }
.brand10 .sprite-button_add_to_bag_out { margin:12px 5px 5px 0; background-position:0 -199px; float:right; height:19px; width:71px;}
.brand10 .sprite-tab_overview_on, .brand10 .sprite-tab_overview_over { background-position: 0 -113px; width: 68px; height: 20px; }
.brand10 .sprite-quickLook_close { background-position: 0 -258px; width: 13px; height: 13px; margin: 0px 0px 12px 15px; }
.brand10 .sprite-button_add_to_bag_off {float:right; background-position: 0 -289px; width: 71px; height: 19px; margin: 5px 0px 5px 9px;}

.brand10 .sprite-mailonly,
.brand10 .sprite-intlmailonly { background-position: 0 -318px; width: 330px; height: 16px; background-color: #e1e1e1; }
.brand10 .sprite-freereturn { background-position: 0 -350px; width: 180px; height: 16px; background-color: #e1e1e1; }
.brand10 .sprite-nonreturnable,
.brand10 .sprite-notintlship { background-position: 0 -377px; width: 180px; height: 16px; background-color: #e1e1e1; }

.brand10 #productMailOnlyReturn .sprite-mailonly,
.brand10 #productIntlMailOnlyReturn .sprite-intlmailonly { background-position: 0 -318px; width: 175px; height: 16px; background-color: #e1e1e1; }
.brand10 #productFreeReturn .sprite-freereturn { background-position: 0 -350px; width: 175px; height: 16px; background-color: #e1e1e1; }
.brand10 #productNonreturnable .sprite-nonreturnable,
.brand10 #productNotIntlShip .sprite-notintlship { background-position: 0 -377px; width: 175px; height: 16px; background-color: #e1e1e1; }

.brand10 #productMailOnlyReturn .sprite,
.brand10 #productIntlMailOnlyReturn .sprite,
.brand10 #productFreeReturn .sprite,
.brand10 #productNonreturnable .sprite,
.brand10 #productNotIntlShip .sprite { height:16px; width:30px; vertical-align: middle; background-color:#E1E1E1; background: url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; }

.brand10 #productMailOnlyReturn .mailonly,
.brand10 #productIntlMailOnlyReturn .intlmailonly { background-position:0 -318px; }
.brand10 #productFreeReturn .freereturn { background-position:0 -350px;}
.brand10 #productNonreturnable .nonreturnable,
.brand10 #productNotIntlShip .notintlship { background-position:0 -377px; }

.brand10 #productMailOnlyReturn,
.brand10 #productIntlMailOnlyReturn,
.brand10 #productFreeReturn,
.brand10 #productNonreturnable,
.brand10 #productNotIntlShip { background-color: #DCDCDC; border: none; margin: -4px 0 0; width: auto; height: auto; text-transform: lowercase; float: right; padding: 2px 5px 1px 0; zoom: 1;}

.brand10 #productMailOnlyReturn, { margin: -18px 0 0; padding-bottom: 0;}
.brand10 #productIntlMailOnlyReturn, { margin: -18px 0 0; padding-bottom: 0;}
.brand10 #productFreeReturn, { margin: -18px 0 0; padding-bottom: 0;}
.brand10 #productNonreturnable, { margin: -18px 0 0; padding-bottom: 0;}
.brand10 #productNotIntlShip, { margin: -18px 0 0; padding-bottom: 0;}

/*\*/ * html .brand10 #productMailOnlyReturn {padding-bottom: 2px; padding-top: 0;}
/*\*/ * html .brand10 #productIntlMailOnlyReturn {padding-bottom: 2px; padding-top: 0;}
/*\*/ * html .brand10 #productFreeReturn {padding-bottom: 2px; padding-top: 0;}
/*\*/ * html .brand10 #productNonreturnable {padding-bottom: 2px; padding-top: 0;}
/*\*/ * html .brand10 #productNotIntlShip {padding-bottom: 2px; padding-top: 0;}

#productMailOnlyReturn2{background-color:#DCDCDC;}
#productIntlMailOnlyReturn2{background-color:#DCDCDC;}
#productFreeReturn2{background-color:#DCDCDC;}
#productNonreturnable2{background-color:#DCDCDC;}
#productNotIntlShip2{background-color:#DCDCDC;}

.brand10 #productMailOnlyReturn2 .sprite,
.brand10 #productIntlMailOnlyReturn2 .sprite,
.brand10 #productFreeReturn2 .sprite,
.brand10 #productNonreturnable2 .sprite,
.brand10 #productNotIntlShip2 .sprite { height:16px; width:30px; vertical-align: middle; background-color:#E1E1E1; background: url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; }

.brand10 #productMailOnlyReturn2 .mailonly,
.brand10 #productIntlMailOnlyReturn2 .intlmailonly { background-position:0 -318px; }
.brand10 #productFreeReturn2 .freereturn { background-position:0 -350px;}
.brand10 #productNonreturnable2 .nonreturnable,
.brand10 #productNotIntlShip2 .notintlship { background-position:0 -377px; }



.swatchDiv { width: 100%; }

/* Division Wide Footer */
#divisionWideFooterContainerRow1, #divisionWideFooterContainerRow2, #divisionWideFooterContainerRow3{ width:776px;}
#divisionWideFooterContainerGroup1{width:768px;float:left;}
#divisionWideFooterContainerGroup2{width:384px;float:left;}
#divisionWideFooterContainerGroup3{width:384px;float:left;}
#divisionWideFooterContainerGroup4{width:256px;float:left;}
#divisionWideFooterContainerGroup5{width:256px;float:left;}
#divisionWideFooterContainerGroup6{width:256px;float:left;}

/* safari hack - dont remove # sign */
.brand10 #sizeDimensionSwatchContent .hover, 
.brand10 #sizeDimensionSwatchContent .selected,
.brand10 #quickLookSize1Swatches .hover, 
.brand10 #quickLookSize1Swatches .selected,
.brand10 #quickLookSize2Swatches .hover, 
.brand10 #quickLookSize2Swatches .selected,
.brand10 #shoppingBagEditSizeSwatches .hover, 
.brand10 #fistProductSize .hover, 
.brand10 #fistProductSize .selected,
.brand10 #shoppingBagEditSizeSwatches .selected,
.brand10 #sizeDimensionSwatchContent .selectedSoldOut,
.brand10 #quickLookSize1Swatches .selectedSoldOut,
.brand10 #quickLookSize2Swatches .selectedSoldOut,
.brand10 #shoppingBagEditSizeSwatches .selectedSoldOut
{margin: 2px;  margin-top: 1px; margin-bottom: 1px; #}

/* Product Iteration - placed here to override styles above */
* html .productCatItem{margin:0 1px 8px 0px;}


/* Catalog 1: preserve these classes until catalog 2 goes live */
.productItem{float:left;margin:0 7px 8px 0;text-align:center;width:202px;}
/* IE 6 hack */
* html .productItem {*margin:0 3px 8px 0;}
/* IE7 & IE8 - different than Byung's IE 7 hack because couldn't get it to work*/
.productItem {margin/*\**/:0 3px 8px 0\9}

.productItem .imgDiv a img {height:202px;width:202px;}
.productItem .imgDiv {min-height:202px; width:202px;}

/* Outfits */
.productCatItem .outfitDiv a img, .productItem .outfitDiv a img {width:118px;}

.marketingFlagContainer{height:24px;}

/* SearchDex */
#searchDexFooter .expFooter {text-align:center;padding-top:10px;padding-bottom:10px;}
#searchDexFooter .expFooter A:link{text-decoration:none}
#searchDexFooter .expFooter A:visited{text-decoration:none}
#searchDexFooter .expFooter A:active{text-decoration:none}
#searchDexFooter .expFooter A:hover{text-decoration:none}
#searchDexFooter .brandExp { padding-bottom:10px;}
#searchDexFooter .linkContainer{display:none;}
#searchDexFooter .plus {margin-left:-2px;cursor:pointer;cursor:hand;font-size:9px;}
#searchDexFooter .minus{display:none;margin-left:-2px;cursor:pointer;cursor:hand;font-size:10px;}

#homeMarketingContainer {min-height:400px;}

.clear { clear: both; }


/* SiteWide Css */
.brand10 #quickLookConfirmationArea #quickLookAddToBag,
.brand10 #addToBagContent .addToBagBtn,
.brand10 #confirmationContentTop .addToBagBtn,
.brand10 #confirmationContentBottom .addToBagBtn {float:right; height:19px; width:71px; margin:9px; cursor:pointer; background:url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; }

.brand10 #addToBagContent .out,
.brand10 #confirmationContentTop .out,
.brand10 #confirmationContentBottom .out { background-position: 0 -199px; }

.brand10 #addToBagContent .off,
.brand10 #confirmationContentTop .off,
.brand10 #confirmationContentBottom .off { background-position: 0 -289px;  }

.brand10 #addToBagContent .on,
.brand10 #confirmationContentTop .on,
.brand10 #confirmationContentBottom .on { background-position: 0 -10px;  }

.brand10 #imageTools #moreViewsBtn,
.brand10 #moduleProductImageTools #moreViewsBtn { background: url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; background-position:0 -137px;height:24px; width:85px; }

.brand10 #swatchContent .sizeChartImage,
.brand10 #quickLookSwatches .sizeChartImage { height:20px;width:63px;background: url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; background-position:0 -83px;}

.brand10 .quickLookClose { cursor: pointer; background: url("/assets/common/quicklook/en_US/quicklook-sprites.gif") no-repeat scroll left top transparent; background-position: 0 -258px; width: 13px; height: 13px; margin: 0px 0px 12px 15px; }