/* Category Styles */
.clearfix {clear: both;}
.red {font-size: 2em; line-height: 1.1;}
/*** Engagement Block ***/
.engagementBlock { background:url(../img/category/bg_engagement_module.jpg) repeat-x 0 0; overflow:hidden;}
.engagementBlock.single { background:#f1f1f1; height:auto;}
.engagementBlock .engagementProduct { position:relative;}
.engagementBlock .engagementProduct .productInfo .bluetext { margin-left:1em; }

.engagementBlock .imgContainer { position: absolute; right: -13%; width: 100%; }
.engagementBlock .imgContainer img { width: 100%;}
.engagementBlock .productInfo {
	padding: 5.5em 0;
	position:relative;
    width: 360px;
}
.engagementBlock.tabletBlock .productInfo {padding: 7.5em 0 6.5em;}
.engagementBlock .productInfo p { margin:0;}
.engagementBlock .productInfo h2 {
	font-size: 55px;
    font-family: "HPSimplified-light";
    line-height: 60px;
    margin: 0;
}
.engagementBlock .productInfo h2 span  {
	display: block;
    font-size: 26px;
    margin-bottom: -20px;
}
.engagementBlock.tabletBlock .productInfo h2 strong, .printerheader h2 strong, .laptopheader h2 strong {
	display: block;
    font-family: "HPSimplified-light";
	font-weight:normal;
    line-height: 55px;
    padding: 10px 0;
}

.engagementBlock .productInfo .rate_widget { padding:15px 0;}
.engagementBlock .productInfo .reviewtxt { margin-top:0;}
.productInfo span.price { padding:10px 0 40px 0;}

.engagementBlock.single .imgContainer {
	position:inherit;
	right:auto;
}
.engagementBlock.single .productInfo {
	padding: 1.25em;
	position:relative;
	text-align:center;
    width: 100%;
}
.engagementBlock.single .productInfo p { margin:0; color:#767676;}
.engagementBlock.single .productInfo h2 {
	font-size: 55px;
    font-family: "HPSimplified-light";
    line-height: 60px;
    margin: 0;
}
.engagementBlock.single .productInfo h2 span  {
	display: inline-block;
    font-size: 26px;
    margin-bottom: -20px;
}
.engagementBlock.single .productInfo .btnBlock a { margin-top:0.5em; }
.engagementBlock.single .productInfo span.price {
	float:left;
	margin:0px 40px 0 0;
    padding: 0;
}

.engagementBlock.single .productInfo .btnBlock { display:inline-block; padding:2em 0; }
.btnBlock span { float:left; }
.da-slider, .tab-slider, .printer-slider {
	width: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	color:#fff;
}
.da-slider .bx-wrapper,
.tab-slider .bx-wrapper,
.printer-slider .bx-wrapper { margin-bottom:0; }
.da-slider .large-6,
.tab-slider .large-6,
.printer-slider .large-6 { width:66%; }
.da-slider .large-4,
.tab-slider .large-4,
.printer-slider .large-4 { width:34%; }

.da-slider li,
.tab-slider li,
.printer-slider li{
	width: 100%;
	text-align: left;
	color: #ffffff;
	font-family: "HPSimplified-light";
}

.da-slider li h2,
.tab-slider li h2,
.printer-slider li h2 {
    font-size: 50px;
    white-space: nowrap;
	font-family: "HPSimplified-light";
	color: #ffffff;
	margin-bottom:0.1em;
}
.tab-slider li h2 { color:#000; line-height:1em; }
.da-slider li p,
.tab-slider li p,
.printer-slider li p {
    font-size: 1.5em;
    line-height: 1.2em;
    overflow: hidden;
	font-family: "HPSimplified-light";
}
.tab-slider li p { color:#000; width: 60%; }

.tabsliderContent img,
.printersliderContent img {
    max-width: none;
    position: relative;
    width: auto;
	background-position:right top;	
}

.categorySlider li .captions { position: absolute; top: 15%; right:0; width: 100%; }
.categorySlider li .captions .sliderContent { padding: 0 0 0 18%; width: 75%; }
.categorySlider li .captions .sliderContent h2 {
color: #FFFFFF;
    font-size: 50px;
    font-family: "HPSimplified-light";
    margin-bottom: 0;
}
.categorySlider li .captions .sliderContent p {
color: #FFFFFF;
    font-size: 24px;
    font-family: "HPSimplified-light";
    line-height: 1.2;
}
#category-prev, #category-next { position:absolute; top:50%; margin-top:-25px; z-index:11;}
#category-prev { left:10%; }
#category-next { right:10%; }
.da-slider .bx-prev, .da-slider .bx-next,
.tab-slider .bx-prev, 
.tab-slider .bx-next,
.printer-slider .bx-prev, 
.printer-slider .bx-next { background:url(../img/arrows.png) no-repeat}
.da-slider .bx-nextt,
.tab-slider .bx-next,
.printer-slider .bx-next { background-position:-50px 0px; }
.da-slider .bx-prev:hover,
.tab-slider .bx-prev:hover,
.printer-slider .bx-prev:hover { background-position:0 -50px; }
.da-slider .bx-next:hover,
.tab-slider .bx-next:hover,
.printer-slider .bx-next:hover { background-position:-50px -50px; }


/*** Sub Category ***/
.subCatNavBlock { background:#ececec; overflow:hidden;}
.subCatNavBlock ul.fiveNav, .subCatNavBlock ul.fourNav,
.subCatNavBlock ul.thereNav, .subCatNavBlock ul.twoNav { margin:0; border-bottom:1px solid #c7c6c8; overflow:hidden;}
.subCatNavBlock ul.fiveNav li { width:20%;}
.subCatNavBlock ul.fourNav li { width:25%;}
.subCatNavBlock ul.thereNav li { width:33.33%;}
.subCatNavBlock ul.twoNav li { width:50%;}
.subCatNavBlock ul li {
	float:left;
	border-right:1px solid #c7c6c8;
	background:#ececec;
	text-align:center;
}
.subCatNavBlock ul li:first-child { border-left:1px solid #c7c6c8;}
.subCatNavBlock ul li a { display:block;}
.subCatNavBlock ul li a span {
	display: block;
    font-size: 14px;
    line-height: 19px;
    padding: 6px 12px;
	text-align:left;
}
.subCatNavBlock ul li a:hover span, .subCatNavBlock ul li a.active span { background:#0096d6; color:#fff;}
.subCatNavBlock ul li a.active { background:#fff;}

/*** Explore Category ***/
.exploreCategory { padding:70px 0 25px;}
.exploreCategory h2 {
	color: #000000;
    font-size: 2em;

    font-family: "HPSimplified-light";
    margin: -17px 0 0;
}
.exploreCategory ul { margin:0;}

.exploreCategory ul li { float: left; width: 118px;}
.exploreCategory ul li a {
	background: #e5e8e8;
	border: 1px solid #FFFFFF;
	color: #000000;
    display: block;
    font-weight: bold;
    line-height: 37px;
    text-align: center;
	position:relative;
}
.exploreCategory ul li a:hover, .exploreCategory ul li a.active { color: #fff; background: #0096d6;}
.exploreCategory ul li a.active:after,
.exploreCategory ul li a:hover:after,
.exploreCategory ul li a.active:before,
.exploreCategory ul li a:hover:before {
	top: 37px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index:10;
}
.exploreCategory ul li a.active:after,
.exploreCategory ul li a:hover:after {

	border-color: rgba(0, 150, 214, 0);
	border-top-color: #0096d6;
	border-width: 7px;
    left: 50%;
    margin-left: -7px;
}
/*** By Category ***/
.byCategory, .byBrand, .byUse { overflow:hidden; margin-bottom:70px;}
.exploreBig {
	border: 1px solid #c8caca;
	border-bottom:0;
	position:relative;
	border-top:none;
}
.exploreBig .subBoxinfo {
	position:absolute;
	top:10%;
	left:10%;
}
.byCategory h2,
.byCategory h3,
.byBrand h2,
.byBrand h3,
.byUse h2,
.byUse h3 {
	color: #000000;
    font-size: 2em;
    font-family: "HPSimplified-light";
    margin: 0 0 30px;
}
.byCategory p,
.byCategory h3 span,
.byBrand p,
.byBrand h3 span,
.byUse p,
.byUse h3 span {
	color: #767676;
	display:block;
	font-size: 24px;
	font-family: "HPSimplified-light";
	line-height:24px;
	margin: 0px;
}
.byCategory p, .byBrand p, .byUse p {
    min-height: 65px;
    padding: 7px 0 5px;
}
.byBrand .printersubBoxinfotype p {min-height:85px;}
.byBrand .byBrandSubBox .subBoxinfoSmall p {min-height:0; padding:0 0 20px;}
.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, .byUse .subBoxinfoSmall p {
    font-size: 16px;
    line-height: 17px;
    min-height: 60px;
    padding: 0 0 2px;
}
.byCategory .subBoxinfoSmall p {min-height:35px;}
.byCategory h2, .byBrand h2, .byUse h2 {line-height:50px; margin: 35px 0 -11px;}
.byCategory h3, .byBrand h3, .byUse h3 { font-size: 2em;}
.byCategory h3 span,
.byBrand h3 span,
.byUse h3 span { font-size: 16px;}
#featuredLaptops a.details, #featuredTablets a.details, #featuredPrinters a.details {
	line-height: 21px;
	padding-left: 26px;
	font-size: 16px;
}
.printerHeroBlock .byUse .exploreBig1 {border-bottom:1px solid #C8CACA;}
.printerHeroBlock .byUse .printersubBoxinfotype p {padding-bottom:20px;}

.byUseSubBox, .byBrandSubBox, .byCategorySubBox { border: 1px solid #c8caca; border-right:none; overflow:hidden; margin-bottom:30px;}
.exploreSmall_1,
.exploreSmall_2,
.exploreSmall_3 {
	border-right: 1px solid #c8caca;
	position:relative;
}

.subBoxinfoSmall {
	position:absolute;
	top:16px;
	left:22px;
}
/*** By Brand ***/
.byBrand .subBoxinfo {
	left: 60%;
    position: absolute;
    top: 25%;
}

.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 {
	line-height: 56px;
    margin: 0 10px 0 0;
	overflow: hidden;
}

.byUseSubBox { overflow:hidden; }

/*** By Use ***/
.byUse .subBoxinfo {
	left: 60%;
    position: absolute;
    top: 25%;
}
/*** Featured Laptops ***/
#featuredLaptops, #featuredTablets, #featuredPrinters {position:relative;}
#featuredLaptops h2, #featuredTablets h2, #featuredPrinters h2 {
	color: #000000;
    font-size: 50px;
    font-family: "HPSimplified-light";
    margin: -17px 0 25px;
    padding: 0;
}
.band1, .band2 {
	background: url("../img/category/band1.png") no-repeat top right;
	color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 30px;
    margin: 0;
    padding: 0 25px 0 15px;
    position: absolute;
    top: 10px;
}
.band2 {
	background: url("../img/category/band2.png") no-repeat top right;
}
.band2 img { float: left; margin: 6px 6px 0 0;}
.triangle1, .triangle2 {	
	border-color: transparent #3F153E transparent transparent;
    border-style: solid;
    border-width: 0 7px 7px 0;
    height: 0;
    left: 0px;
    position: absolute;
    top: 28px;
    width: 0;
}
.triangle2 { border-color: transparent #006699 transparent transparent;}
#featuredLaptops ul, #featuredTablets ul, #featuredPrinters ul { overflow:hidden;}
#featuredLaptops ul li, #featuredTablets ul li, #featuredPrinters ul li {
	float: left;
    margin: 0;
	padding-top:50px;
    position: relative;
    width: 21%;
}
#featuredLaptops ul li .imgContainer, #featuredTablets ul li .imgContainer, 
#featuredPrinters ul li .imgContainer { text-align:center;}
#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3 {
	color: #787878;
    font-size: 24px;
    font-family: "HPSimplified-light";
    height: 75px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 15px 0;
	width:155px;
}
#featuredPrinters ul li h3 {width:210px;}
.productInfo span.price {
	color: #D7410B;
    display: block;
    font-size: 36px;
    font-family: "HPSimplified-light";
}

#featuredLaptops .price, #featuredTablets .price, #featuredPrinters .price { line-height:1em; padding:0.7em 0; margin:0; }
#featuredLaptops .price .red, #featuredTablets .price .red, #featuredPrinters .price .red { font-size:2.3em; }

#featuredLaptops ul li span sup, .productInfo span.price sup, #featuredTablets ul li span sup, 
#featuredPrinters ul li span sup {
    font-size: 24px;
    position: relative;
    top: 6px;
}

#featuredLaptops .bx-wrapper .bx-viewport, #featuredTablets .bx-wrapper .bx-viewport, 
#featuredPrinters .bx-wrapper .bx-viewport { left:0; }
#featuredLaptops #nextLaptop, #featuredTablets #nextArrow, 
#featuredPrinters #nextPrinter { position:absolute; top:12.5em; right:-25px; z-index:9999; }
#featuredLaptops .disabled, #featuredTablets .disabled, #featuredPrinters .disabled { display:none; }
#featuredLaptops #prevLaptop, #featuredTablets #prevArrow, 
#featuredPrinters #prevPrinter { position:absolute; top:12.5em; left:-20px; z-index:9999;}

/* Browse by category Slider*/
.categorySlider + .orbit-prev + .orbit-next, .categorySlider + .orbit-prev, 
.printer-slider + .orbit-prev, .printer-slider + .orbit-prev + .orbit-next, 
.tab-slider + .orbit-prev, .tab-slider + .orbit-prev + .orbit-next {
    background: url("../img/arrows.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    width: 50px;
}
.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {
    background-position: 0 -50px;
	left: 10%;
}
.categorySlider + .orbit-prev:hover, .printer-slider + .orbit-prev:hover, 
.tab-slider + .orbit-prev:hover {background-position:0 0;}
.categorySlider + .orbit-prev + .orbit-next:hover, .printer-slider + .orbit-prev + .orbit-next:hover , 
.tab-slider + .orbit-prev + .orbit-next:hover{background-position:-50px 0;}
.categorySlider + .orbit-prev + .orbit-next span, .categorySlider + .orbit-prev span, .printer-slider + .orbit-prev span,
.printer-slider + .orbit-prev + .orbit-next span, .tab-slider + .orbit-prev span,
.tab-slider + .orbit-prev + .orbit-next span {
    display: none;
}
.categorySlider + .orbit-prev + .orbit-next,
.printer-slider + .orbit-prev + .orbit-next,
.tab-slider + .orbit-prev + .orbit-next {
    background-position: -50px -50px;
	right: 10%;
}
.engagementBlock + div + ol, .data-orbit div + ol, .subCatNavBlock + div + ol {display:none;}
.orbit-next { background-position:-50px -50px; }
.orbit-prev { background-position:0px -50px; }

/* For Home Page nav */
.heroSlider + .orbit-prev, .heroSlider + .orbit-prev + .orbit-next {display:none;}

/* category printer */
.printer-slider li p { color:#000; width: 35%; margin-bottom:16px; font-size:19px; } 
.tab-slider li p {width: 45%;font-size: 1.5em;}
.tabsliderContent .slidecontent,
.printersliderContent .slidecontent { 
	left: 586px;
    position: absolute;
    top: 72px;
}
.printersliderContent .slidecontent {
    left: 25%;
    position: absolute;
    top: 2%;
}
.printer-slider .slidecontent h3 { margin:0; font-size:1.5em; font-family: "HPSimplified-light"; color:#000; } 
.printer-slider .slidecontent h2 { margin:0; color:#000; margin-bottom: 12px; line-height:.8em;font-size: 48px;} 
.tab-slider .slidecontent h2 {line-height:1em;}
.exploreBig .subBoxinfotype {
	position:absolute;
	top:10%;
	left:12%;
	width:20%;
}
.printersubBoxinfotype {
	left: 18%;
    position: absolute;
    top: 17%;
    width: 30%;
}
.exploreBig1 {
	border: 1px solid #c8caca;
	border-top:none;
	border-bottom:none;
	position:relative;
}
.exploreBig .byBrandSubBox  { border:none;}
.engagementBlock .prodInfo { width:289px;}
.exploreBig .gradientgrey { background:url(../img/category/tablet/gradientgrey.png) repeat-x; }
.engagementBlock .engagementProduct .printerheaderImg { margin-right:-28%; }

.printer-slider ul {height:450px !important;}
.printer-slider ul li img {max-width:none;}

/* Tablet */
.engagementProduct .imgTablet {
	right: -15%;
    top: -3%;
}
.tab-slider .printersliderContent .slidecontent {
	left: 52%;
    top: 10%;
    width: 75%;
}
.categorySlider + .orbit-prev + .orbit-next, .categorySlider + .orbit-prev, .printer-slider .orbit-prev, .printer-slider .orbit-next { z-index:1;}
.engagementBlock .text-right.imgContainer { right: -35%;}

@media only screen and (max-width: 899px) {
	.categorySlider li .captions .sliderContent p {font-size: 0.8em;}
	.categorySlider li .captions .sliderContent h2 {font-size: 2em;}
	.tab-slider li .slidecontent p {font-size: 1em;}
	.tab-slider li .slidecontent h2 {font-size: 1.8em;}
	.printer-slider .slidecontent h3 {font-size: 1.2em;}
	.printer-slider .slidecontent h2 {font-size: 1.7em; margin-bottom: 5px;}
	.printer-slider li p {font-size: 0.8em; margin-bottom: 0.5em; width: 45%;}
	.btn.bluebtn {line-height: 2em; padding: 0 0.5em !important;}	
	
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
	.categorySlider li .captions .sliderContent p {font-size: 1.2em;}
	.categorySlider li .captions .sliderContent h2 {font-size: 2.5em;}
	.tab-slider li .slidecontent p {font-size: 1.2em;}
	.tab-slider li .slidecontent h2 {font-size: 2.1em;}
	.printer-slider .slidecontent h2{font-size: 2em; margin-bottom: 0.3em;}
	.printer-slider li p {font-size: 1em; margin-bottom: 0.3em;}
	.btn.bluebtn {line-height: 2em; padding: 0 0.8em;}	
}
@media only screen and (min-width:801px) and (max-width: 1024px) {
	.engagementBlock .productInfo, .engagementBlock.tabletBlock .productInfo {padding-left:1em;}
	#featuredLaptops #prevLaptop, #featuredTablets #prevArrow, #featuredPrinters #prevPrinter {left:-13px;}
	#featuredLaptops #nextLaptop, #featuredTablets #nextArrow, #featuredPrinters #nextPrinter {right:-13px;}	
}
@media only screen and (max-width: 998px) {
	.exploreCategory {padding-left: 0.7em; padding-right: 0.7em;}
	.byCategory, .byBrand, .byUse {padding-left: 0.7em; padding-right: 0.7em;}
	#featuredLaptops h2, #featuredTablets h2, #featuredPrinters h2 {margin-left:.2em;}
	#featuredLaptops #prevLaptop, #featuredTablets #prevArrow, #featuredPrinters #prevPrinter, 
	#featuredLaptops #nextLaptop, #featuredTablets #nextArrow, #featuredPrinters #nextPrinter {top: 11.5em;}
	#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3, 
	#featuredLaptops .price, #featuredTablets .price, #featuredPrinters .price, 
	#featuredLaptops a.details, #featuredTablets a.details, #featuredPrinters a.details, .rate_widget {margin-left:0.5em;}
	
	.band1 {margin-left:10px;}
}
@media only screen and (max-width: 800px) {
	.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 {font-size:30px; line-height:30px; }
	.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, 
	.byUse .subBoxinfoSmall p {font-size:13px; line-height:14px;min-height: 35px; }
	.engagementBlock.tabletBlock .productInfo h2 strong, .printerheader h2 strong, 
	.laptopheader h2 strong {font-size: 42px; line-height: 45px;}
	.exploreCategory h2 {font-size:49px;}
	.byCategory h2, .byBrand h2, .byUse h2 {font-size:48px; }
	.byCategory p, .byCategory h3 span, .byBrand p, .byBrand h3 span, .byUse p, .byUse h3 span {font-size:20px;}
	#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3 {font-size:21px; line-height: 23px;}
	#featuredPrinters ul li h3 { width: 190px;}
	#featuredLaptops ul li h3 {width:180px;}
}


/* Temp CSS */
/*.exploreBig {
    border: medium none;
}*/
.exploreBig .imgContainer {
    text-align: center;
}
.byCategory .exploreBig .subBoxinfo {
    left: 9%;
    top: 14%;
}
.exploreCategory {
    padding-bottom: 0;
}
.exploreCategory ul {
    margin: 0;
	overflow: hidden;
}
.byCategory, .byBrand, .byUse {
    margin-bottom: 0;
}
#featuredLaptops h2, #featuredTablets h2, #featuredPrinters h2 {
	margin-top:20px;
}
.exploreCategory .categoryTabs li {
    margin-right: 2.9em;
    width: auto;
}
.categoryTabs li a.active {
    border-bottom: 4px solid #007DBA;
    color: #007DBA;
}
.exploreCategory .categoryTabs li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
	color: #7B7B7B;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 2em;
}
.exploreCategory .categoryTabs li a.active, .exploreCategory .categoryTabs li a:hover {
	background: none;
    border-bottom: 4px solid #007DBA;
    color: #343434;
	padding-bottom: 8px;
}
.exploreCategory ul li a.active:after, .exploreCategory ul li a:hover:after, .exploreCategory ul li a.active:before, .exploreCategory ul li a:hover:before {
	border:none;
}
.exploreCategory .categoryblock { margin-top:-10px; }
.categorySlider li .captions .sliderContent.bannercontent span { font-size:1.5em; color:#5a5a5a; font-family: HPSimplified-light; }
.categorySlider li .captions .sliderContent.bannercontent p { color:#000; font-weight:normal; font-size:1em; }
.categorySlider li .captions .sliderContent.bannercontent h2 { color:#000; margin-top:-17px; }
.bottom_Border { border-bottom:1px solid #C8CACA; }

/* Slider */
.exploreCategory .row:first-child { position: relative;}
.exploreCategory h2 {margin:-11px 0;}
.exploreCategory .navigation { margin-top:-12px; }
.exploreCategory + div + div + ol {	display:none;}
.exploreCategory { padding:10px 0px 0px 0px; }
.exploreCategory .hpwindowsLogo { 
	float: right;  
	font-size: 0.813em;
    margin-bottom: 0;  
    width: 34.2%;
	z-index: 1;
}
.exploreCategory .hpwindowsLogo .icoPlace p {font-family:"HPSimplified","arial"; font-size:11px; line-height:normal; padding-bottom:7px; padding-top:6px;}
.exploreCategory .hpwindowsLogo .icoPlace{ display: inline-block; }
.exploreCategory .hpwindowsLogo .icoPlace2{ display: inline-block; position: relative; top:-20px; }
.exploreCategory .hpwindowsLogoLaptops { float: right; font-size: 0.813em; position: absolute; right: 132px; top: 15px; width: 22%; z-index: 1;}
.exploreCategory .hpwindowsLogo p, .exploreCategory .hpwindowsLogoLaptops p  { font-weight:bold; margin-bottom:0;}
.exploreCategory .btn.bluebtn {position:relative; float:right;}
.exploreCategory .row.hide-for-small > nav {
    border-bottom: 1px solid #CCCCCC;
}
/*Oct.2 2013 modified by Michelle Pierce*/
/*.exploreCategory .hpwindowsLogo > a:first-child, .exploreCategory .hpwindowsLogoLaptops > a:first-child { float: left;}*/
.exploreCategory .hpwindowsLogo > a:first-child, .exploreCategory .hpwindowsLogoLaptops > a:first-child { float: right;}
.exploreCategory .hpwindowsLogo > a, .exploreCategory .hpwindowsLogoLaptops > a { float: right;}

/* Mobile version of catageory pages */
@media only screen and (min-width: 300px) and (max-width: 360px) {
	/*Category Laptops Block Styles Starts*/
	/*Engagement Laptops Block Styles Starts*/
	.engagementBlock .imgContainer img {max-width: 100%;}
	.engagementBlock {background: #ffffff; border-top: 1px solid #E4E6E5;}
	.engagementBlock .imgContainer { min-width: 165%; min-height: 18.75em; position: relative; right: 145px; top: -1.9%; z-index: 1; }
	.subCatNavBlock { position: absolute; top: 9.7%; z-index: 1;}
	.subCatNavBlock ul li a.active img { background: url("../img/category-thumb-active.jpg") repeat-x bottom left;}
	.subCatNavBlock ul.fiveNav, .subCatNavBlock ul.fourNav, .subCatNavBlock ul.thereNav, .subCatNavBlock ul.twoNav {border-bottom: none;}	
	.engagementBlock .productInfo { width: 90%; background: #FFFFFF; display: inline-block; margin: 4em 0em 2.5em 1.25em; padding: 0em 0.3em 0em 0em;}	
	.engagementBlock .productInfo h2 { font-size: 2em; font-weight: 100; line-height: 1em;}
	.engagementBlock .productInfo .btn.redbtn {padding: 0em 1.625 !important;}
	.engagementBlock .productInfo h2 span {font-size: 0.4375em; margin-bottom: 0em;}
	.engagementBlock .productInfo p { min-height: 9.0625em; font-size: 1em; padding: 0.5em 1.25em 0em 0px;}
	.engagementBlock .productInfo span.price { padding: 0px 0px 15px 0px;}
	.engagementBlock .bluetext { display: block; margin: 1.25em 0em 0em 0em;} 
    .engagementBlock .engagementProduct .productInfo .bluetext	{margin-left:0em;}
	
	/*Category Laptops Slider Block Styles Starts*/
	.categorySlider img {max-width: 200%;}
	.categorySlider li .captions {position: relative; top:0;}
	.categorySlider li .captions .sliderContent {width: 65%; margin: 0px auto 10px auto; padding: 15px 5px 0px 0px; }
	.categorySlider li .captions .sliderContent h2 {font-size: 1.75em; color: #000000; padding: 0px 0px 10px 0px;}
	.categorySlider .sliderContent sup {font-size: 0.25em;}
	.categorySlider li .captions .sliderContent p {font-size: 1em; color: #000000;} 
	.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {left: 3%; margin-top: 60px;}
	.categorySlider + .orbit-prev + .orbit-next, .printer-slider + .orbit-prev + .orbit-next, .tab-slider + .orbit-prev + .orbit-next { right: 3%; margin-top: 60px;}
	 /*Explore Laptops Block Styles Starts*/
	.byUseSubBox, .byBrandSubBox, .byCategorySubBox {border: none;}
	.byCategory h2, .byBrand h2, .byUse h2 { font-size: 1.5em; margin: 0px; line-height: 32px !important;}
	.byCategory p, .byBrand p, .byUse p { font-size: 1em; padding: 0px 0px 5px 0px;} 
	.exploreBig .primarysubBoxContent {top: 0 !important; left: 6% !important;}
	.exploreBig .subBoxinfo { padding-right: 5px; position: absolute; right: 0; top: 0 !important;}
	.exploreSmall_1, .exploreSmall_2, .exploreSmall_3 {border-top: 1px solid #e5e8e8;}
	#byCategory .exploreBig .imgContainer img { min-width: 130%; margin-left: -55px;}
	.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 {font-size: 1.5em !important;}
	.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, .byUse .subBoxinfoSmall p {font-size: 1em;}
	.exploreBig .primaryimg-content { left: 7%; position: absolute; top: 0; width: 100%;}	 
	.exploreCategory {border-top: 1px solid #e5e8e8; padding: 20px;}
	.exploreCategory h2 {font-size: 2em; padding: 10px 0px 15px 0px; margin: 0px;}
	.exploreCategory ul li {float: none;}
	.mobilecatnav {background: url("../img/filters.disclosure.png") no-repeat scroll 95% center #ffffff; border: 1px solid #CFCFCF; cursor: pointer; margin: 0; padding: 17px 20px;}
    .mobilecatnav-content { border-left: 1px solid #CFCFCF;border-right: 1px solid #CFCFCF;}
	.mobilecatnav-content li { width: 100% !important; border-bottom: 1px solid #C6C6C6; cursor: pointer; font-weight: 100; margin-bottom: 0;}
	h3.mobilecatnav { font-weight: 100;}
	.mobilecatnav-content li a:link, .mobilecatnav-content li a:visited {background: none !important; font-weight: 100 !important; text-align: left !important; color: #000000; line-height: none; padding: 10px 20px; }
	.mobilecatnav-content li a.active:after, .mobilecatnav-content li a:hover:after, .mobilecatnav-content li a.active:before, .mobilecatnav-content li a:hover:before { border: none !important;}
	.exploreCategory ul { border-left: 1px solid #C6C6C6; border-right: 1px solid #C6C6C6; border-bottom: none; background: #ffffff; }
	.exploreCategory ul li a:hover { color: #000000 !important;}
	.exploreCategory ul li a.active {background: #0096d6 !important; border: 1px solid #0096D6;}
	.byCategory, .byBrand, .byUse {padding: 0px; margin: 20px 0px 0px 0px !important; overflow: visible;}
	 /*Featured Laptops Block Styles Starts*/	
    .featuredmobile-block #featured-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; top: -17.5em; left: 35px;}
	.featuredmobile-block #featured-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; top: -17.5em; right: 25px;}
	.featuredmobile-block h2, .featuredmobile-block h3, .featuredmobile-block p, .featuredmobile-block startingat, .featuredmobile-block .red {font-weight: 100; margin-left: 20px;}
	.featuredmobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredmobile-block p.band1, .featuredmobile-block p.band2 {margin-left: 20px;}
	.featuredmobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 
	/*Category Laptops Block Styles Ends*/	
	/*Category Printers Block Styles Starts*/
    /*Engagement Printers Block Styles Starts*/	
	.printerBlock .productInfo { margin-top: 60px !important;} 		
    .printer-mobile-subCatNavBlock { top: 7%;}
	.engagementBlock .printer-primary-img img {left: 0px; position:static;}
    .engagementBlock .prodInfo {width: 100%;}	
    /*Category Printers Slider Block Styles Starts*/
	.printer-slider img { max-width: 170%;} 
	.printer-slider li .captions .slidecontent { left: 5%; padding: 20px 90px; position: relative; top: 0px; width: 112%;}
	.printer-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.printer-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.printer-slider .slideContent sup {font-size: 0.25em;}
	.printer-slider li p {font-size: 1em; color: #000000; width: 100%;} 
	.printer-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}		
	/*Explore Printers Block Styles Starts*/
    .exploreBig .explorecategoryPrimararyimg img { min-width: 130%;}
	.byUse .imgContainer { min-width: 140%; padding-right: 112px;}
    .exploreBig1 .imgContainer {padding-top: 95px;}	
    .exploreBig1 .subBoxinfoSmall p { line-height: 20px; padding: 0px 20px 20px 0px;}
    .printerHeroBlock .byUse .printersubBoxinfotype p {padding: 0px 30px 20px 0px;}		
	.printerHeroBlock .printersubBoxinfotype { width: 100%;}
	.printerHeroBlock .byBrand .printersubBoxinfotype p {min-height: 50px;}
	.printerHeroBlock img.printer-secondary-img {min-width: 140%;}
    .printerHeroBlock .printer-secondary-content { top: 10% !important;}
	/*Featured Printers Block Styles Starts*/	
	.featured-printer-mobile-block #featured-printer-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -17.5em;}
	.featured-printer-mobile-block #featured-printer-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -17.5em;}
	.featured-printer-mobile-block h2, .featured-printer-mobile-block h3, .featured-printer-mobile-block p, .featured-printer-mobile-block startingat, .featured-printer-mobile-block .red {font-weight: 100; margin-left: 20px;}
	.featured-printer-mobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featured-printer-mobile-block p.band1, .featured-printer-mobile-block p.band2 {margin-left: 20px;}
	.featured-printer-mobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;}	
	/*Category Printers Block Styles Ends*/		
    /*Category Tablets Block Styles Starts*/	
    .engagementBlock.tabletBlock .productInfo {margin: 5em 0em 2.5em 1.25em; padding: 0px;}
	.tabletBlock .imgTablet {top: 0px; right: 105px;} 
    /*Category Tablets Slider Block Styles Starts*/	
	.tab-slider img { max-width: 200%;} 
	.tab-slider .printersliderContent .slidecontent { left: 5%; padding: 20px 90px; position: relative; top: 10%; width: 112%;}
	.tab-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.tab-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.tab-slider .slideContent sup {font-size: 0.25em;}
	.tab-slider li p {font-size: 1em; color: #000000; width: 100%;} 
	.tab-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}
	/*Featured Tablets Block Styles Starts*/	
	.featuredtablet-block #featuredtablet-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -17.5em;}
	.featuredtablet-block #featuredtablet-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -17.5em;}
	.featuredtablet-block h2, .featuredtablet-block h3, .featuredtablet-block p, .featuredtablet-block startingat, .featuredtablet-block .red {font-weight: 100; margin-left: 20px;}
	.featuredtablet-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredtablet-block p.band1, .featuredtablet-block p.band2 {margin-left: 20px;}
	.featuredtablet-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 	
	/*Category Tablets Block Styles Ends*/	
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
	/*Category Laptops Block Styles Starts*/
	/*Engagement Laptops Block Styles Starts*/	
	.engagementBlock .imgContainer { min-height: 18.825em; min-width: 133%; position: static; z-index: 1;}
	.engagementBlock .imgContainer img {max-width: 78%;}
	.engagementBlock {background: #ffffff; border-top: 1px solid #E4E6E5;}
	/*.engagementBlock .text-right.imgContainer { left: -105px;}*/
    .engagementBlock .productInfo { background: #ffffff; display: inline-block; margin: 6em 0em 2.5em 1.25em; padding: 0px 10px 0px 0px; width: 100%;}
	.subCatNavBlock {position: absolute; top: 8.1%; z-index: 1;}
    .subCatNavBlock ul li a.active img { background: url("../img/category-thumb-active.jpg") repeat-x bottom left;}
	.subCatNavBlock ul.fiveNav, .subCatNavBlock ul.fourNav, .subCatNavBlock ul.thereNav, .subCatNavBlock ul.twoNav {border-bottom: none;}	
	.engagementBlock .productInfo h2 { font-size: 2em; font-weight: 100; line-height: 1em;}
	.engagementBlock .productInfo .btn.redbtn {padding: 0px 26px !important;}
	.engagementBlock .productInfo h2 span {font-size: 0.4375em; margin-bottom: 0px;}
	.engagementBlock .productInfo p {font-size: 1em; padding: 8px 20px 0px 0px;}
	.engagementBlock .productInfo span.price { padding: 0px 0px 15px 0px; }
	.engagementBlock .bluetext { display: block; margin: 20px 0px 0px 0px;}  
    .engagementBlock .engagementProduct .productInfo .bluetext	{margin-left:0em;}			
	/*Category Laptops Slider Block Styles starts*/
	.categorySlider img {max-width: 150%;}	
	 ul.categorySlider { min-height: 370px;}
	.categorySlider li .captions .sliderContent {width: 65%; margin: 45px auto 10px auto; position: relative; top: 121px; padding: 15px 5px 0px 0px; }
	.categorySlider li .captions .sliderContent h2 {font-size: 1.75em; color: #000000; padding: 0px 0px 10px 0px;}
	.categorySlider .sliderContent sup {font-size: 0.25em;}
	.categorySlider li .captions .sliderContent p {font-size: 1em; color: #000000;} 
	.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {left: 3%; margin-top: 60px;}
	.categorySlider + .orbit-prev + .orbit-next, .printer-slider + .orbit-prev + .orbit-next, .tab-slider + .orbit-prev + .orbit-next {
     right: 3%; margin-top: 60px;}	
	/*Explore Laptops Block Styles Starts*/
	.exploreBig .primaryimg-content { left: 7%; position: absolute; top: 0; width: 100%;}
	.exploreCategory {border-top: 1px solid #e5e8e8; padding: 20px;}
	.exploreCategory h2 {font-size: 2em; padding: 10px 0px 15px 0px;}
	.exploreCategory ul { border-left: 1px solid #C6C6C6; border-right: 1px solid #C6C6C6; border-bottom: none; background: #ffffff; }
	.exploreCategory ul li {float: none;}
	.mobilecatnav {background: url("../img/filters.disclosure.png") no-repeat scroll 95% center #ffffff; border: 1px solid #CFCFCF; cursor: pointer; margin: 0; padding: 17px 20px;}
    .mobilecatnav-content {border-left: 1px solid #CFCFCF;border-right: 1px solid #CFCFCF;
}
	.mobilecatnav-content li { width: 100% !important; border-bottom: 1px solid #C6C6C6; cursor: pointer; font-weight: 100; margin-bottom: 0;}
	h3.mobilecatnav { font-weight: 100;}
	.mobilecatnav-content li a:link, .mobilecatnav-content li a:visited {background: none !important; font-weight: 100 !important; text-align: left !important; color: #000000; line-height: none; padding: 10px 20px; }
	.mobilecatnav-content li a.active:after, .mobilecatnav-content li a:hover:after, .mobilecatnav-content li a.active:before, .mobilecatnav-content li a:hover:before { border: none !important;}
	.exploreCategory ul li a:hover { color: #000000 !important;}
	.exploreCategory ul li a.active {background: #0096d6 !important; border: 1px solid #0096D6;}
	.byCategory, .byBrand, .byUse {padding: 0px; margin: 20px 0px 0px 0px !important; overflow: visible;}
	.byUseSubBox, .byBrandSubBox, .byCategorySubBox {border: none;}
	.byCategory h2, .byBrand h2, .byUse h2 { font-size: 1.5em; margin: 0px; line-height: 32px !important;}
	.byCategory p, .byBrand p, .byUse p { font-size: 1em; padding: 0px 0px 5px 0px;} 
	.exploreBig { position: relative;}
	.exploreBig .primarysubBoxContent .subBoxinfo {top: 0 !important; left: 20px;}
	.exploreBig .subBoxinfo {top: 0 !important; right: 20px;}
	.exploreSmall_1, .exploreSmall_2, .exploreSmall_3 {border-top: 1px solid #C8CACA;}
	.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 {fonte-size: 1.5em;}
	.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, .byUse .subBoxinfoSmall p {font-size: 1em;}
	/*Featured Laptops Block Styles Starts*/
	.featuredmobile-block #featured-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 35px; position: absolute; top: -20.5em;}
	.featuredmobile-block #featured-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 25px; top: -20.5em;}
	.featuredmobile-block h2, .featuredmobile-block h3, .featuredmobile-block p, .featuredmobile-block startingat, .featuredmobile-block .red {font-weight: 100; margin-left: 20px;}
	.featuredmobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredmobile-block p.band1, .featuredmobile-block p.band2 {margin-left: 20px;}
	.featuredmobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 
    /*Category Laptops Block Styles Ends*/	
	/*Category Printers Block Styles Starts*/
    /*Engagement Printers Block Styles Starts*/
	.printer-mobile-subCatNavBlock { top: 5.5%;}
    /*Category Printers Slider Block Styles Starts*/
	.printer-slider img { max-width: 170%; height: 40%;}
  	.printer-slider li .captions .slidecontent { left: 0; padding: 20px 120px; position: relative; top: 0; width: 110%;}
	.printer-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.printer-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.printer-slider .slideContent sup {font-size: 0.25em;}
	.printer-slider li p {font-size: 1em; color: #000000; width: 115%;} 
	.printer-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}
	/*Explore Printers Block Styles Starts*/
	.featured-printer-mobile-block #featured-printer-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -20.5em;}
	.featured-printer-mobile-block #featured-printer-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -20.5em;}
	.featured-printer-mobile-block h2, .featured-printer-mobile-block h3, .featured-printer-mobile-block p, .featured-printer-mobile-block startingat, .featured-printer-mobile-block .red {font-weight: 100; margin-left: 20px;}
	.featured-printer-mobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featured-printer-mobile-block p.band1, .featured-printer-mobile-block p.band2 {margin-left: 20px;}
	.featured-printer-mobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;}	
	/*Featured Printers Block Styles Starts*/	
	/*Category Printers Block Styles Ends*/
	/*Category Tablets Block Styles Starts*/	
    /*Engagement Tablets Block Styles Starts*/
	.tabletBlock .imgContainer img {max-width: 90%;} 
	.engagementBlock .printer-primary-img img {position: static;}
	.engagementBlock .prodInfo {width: 100%;}
	.tablet-mobile-subCatNavBlock {top: 8.9%; z-index: 1;}
    .engagementBlock.tabletBlock .productInfo {padding: 0px; margin-top: 6em;}	
	.tabletBlock .imgTablet {top: 0px; right: 0px;}
	.tabletBlock .productInfo p {min-height: 110px !important; width: 465px !important; }		
    /*Category Tablets Slider Block Styles Starts*/
	.tab-slider img { max-width: 200%;}
  	.tab-slider .printersliderContent .slidecontent { left: 10%; padding: 25px 120px; position: relative; top: 0; width: 120%;}
	.tab-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.tab-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.tab-slider .slideContent sup {font-size: 0.25em;}
	.tab-slider li p {font-size: 1em; color: #000000; width: 100%;} 
	.tab-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}	
	/*Explore Tablets Block Styles Starts*/
	/*Featured Tablets Block Styles Starts*/	
	.featuredtablet-block #featuredtablet-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -20.5em;}
	.featuredtablet-block #featuredtablet-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -20.5em;}
	.featuredtablet-block h2, .featuredtablet-block h3, .featuredtablet-block p, .featuredtablet-block startingat, .featuredtablet-block .red {font-weight: 100; margin-left: 20px;}
	.featuredtablet-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredtablet-block p.band1, .featuredtablet-block p.band2 {margin-left: 20px;}
	.featuredtablet-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 	
	/*Category Tablets Block Styles Ends*/			  
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
	/*Category Laptops Block Styles Starts*/
    /*Engagement Laptops Block Styles Starts*/
	.engagementBlock .imgContainer {z-index: 1;}
	.engagementBlock .imgContainer img { max-width: 90%; position: relative; right: -15%; top: 0;}	
    .engagementBlock {background: #ffffff; border-top: 1px solid #E4E6E5;}	
    .subCatNavBlock { z-index: 1;}
    .subCatNavBlock ul.fiveNav li {width: 19%;}	 
	.subCatNavBlock ul li a.active img { background: url("../img/category-thumb-active.jpg") repeat-x bottom left;}
	.subCatNavBlock ul.fiveNav, .subCatNavBlock ul.fourNav, .subCatNavBlock ul.thereNav, .subCatNavBlock ul.twoNav {border-bottom: none; margin: 0px 40px 0px 40px;}	
    .engagementBlock .productInfo { background: #ffffff; display: inline-block; width: 50%; margin: 20px 0px 20px 20px; padding: 0px;}	
	.engagementBlock .productInfo h2 { font-size: 2em; font-weight: 100; line-height: 1em;}
	.engagementBlock .productInfo .btn.redbtn {padding: 0px 26px !important;}
	.engagementBlock .productInfo h2 span {font-size: 0.4375em; margin-bottom: 0px;}
	.engagementBlock .productInfo p {font-size: 1em; padding: 8px 20px 0px 0px;}
	.engagementBlock .productInfo span.price { padding: 0px 0px 15px 0px;}
	.engagementBlock .bluetext { display: block; margin: 1.25em 0em 0em 0em;}  
    .engagementBlock .engagementProduct .productInfo .bluetext	{margin-left:0em;}
    /*Category Laptops Slider Block Styles Starts*/
	.categorySlider img {max-width: 150%;}
	 ul.categorySlider { height: 370px;}	
	.categorySlider li .captions .sliderContent {width: 85%; margin: 60px 0px 10px 65px; position: relative; top: 121px; padding: 15px 5px 0px 0px; }
	.categorySlider li .captions .sliderContent h2 {font-size: 1.75em; color: #000000; padding: 0px 0px 10px 0px;}
	.categorySlider .sliderContent sup {font-size: 0.25em;}
	.categorySlider li .captions .sliderContent p {font-size: 1em; color: #000000;} 
	.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {left: 3%; margin-top: 90px;}
	.categorySlider + .orbit-prev + .orbit-next, .printer-slider + .orbit-prev + .orbit-next, .tab-slider + .orbit-prev + .orbit-next {
     right: 3%; margin-top: 90px;}	 
	/*Explore Laptops Block Styles Starts*/
	.exploreBig .primaryimg-content { left: 7%; position: absolute; top: 0; width: 100%;}	 
	.exploreCategory {border-top: 1px solid #e5e8e8; padding: 20px;}
	.exploreCategory h2 {font-size: 2em; padding: 10px 0px 15px 0px;}
	.exploreCategory ul {border-left: 1px solid #C6C6C6; border-right: 1px solid #C6C6C6; border-bottom: none; background: #ffffff;} 
	.exploreCategory ul li {float: none;}
	.mobilecatnav {background: url("../img/filters.disclosure.png") no-repeat scroll 95% center #ffffff; border: 1px solid #CFCFCF; cursor: pointer; margin: 0; padding: 17px 20px;}
    .mobilecatnav-content { border-left: 1px solid #CFCFCF;border-right: 1px solid #CFCFCF;
}
	.mobilecatnav-content li { width: 100% !important; border-bottom: 1px solid #C6C6C6; cursor: pointer; font-weight: 100; margin-bottom: 0;}
	h3.mobilecatnav { font-weight: 100;}
	.mobilecatnav-content li a:link, .mobilecatnav-content li a:visited {background: none !important; font-weight: 100 !important; text-align: left !important; color: #000000; line-height: none; padding: 10px 20px; }
	.mobilecatnav-content li a.active:after, .mobilecatnav-content li a:hover:after, .mobilecatnav-content li a.active:before, 	.mobilecatnav-content li a:hover:before { border: none !important;}
	.exploreCategory ul li a:hover { color: #000000 !important;}
	.exploreCategory ul li a.active {background: #0096d6 !important; border: 1px solid #0096D6;}
	.byCategory, .byBrand, .byUse {padding: 0px; margin: 20px 0px 0px 0px !important; overflow: visible;}
	.byUseSubBox, .byBrandSubBox, .byCategorySubBox {border: none;}
	.byCategory h2, .byBrand h2, .byUse h2 { font-size: 1.5em; margin: 0px; line-height: 32px !important;}
	.byCategory p, .byBrand p, .byUse p { font-size: 1em; padding: 0px 0px 5px 0px;} 
	.exploreBig .primarysubBoxContent .subBoxinfo {top: 0 !important; left: 20px;}
	.exploreBig .subBoxinfo {top: 0 !important; right: 20px;}
	.exploreSmall_1, .exploreSmall_2, .exploreSmall_3 {border-top: 1px solid #C8CACA;}
	.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 {fonte-size: 1.5em;}
	.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, .byUse .subBoxinfoSmall p {font-size: 1em;}	
	/*Featured Laptops Block Styles Starts*/	
	.featuredmobile-block #featured-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 35px; position: absolute; top: -23.5em;}
	.featuredmobile-block #featured-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 25px; top: -23.5em;}
	.featuredmobile-block h2, .featuredmobile-block h3, .featuredmobile-block p, .featuredmobile-block startingat, .featuredmobile-block .red {font-weight: 100; margin-left: 20px;}
	.featuredmobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredmobile-block p.band1, .featuredmobile-block p.band2 {margin-left: 20px;}
	.featuredmobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 
	/*Category Laptops Block Styles Ends*/
	/*Category Printers Block Styles Starts*/
    /*Engagement Printers Block Styles Starts*/
    .engagementBlock .printer-primary-img img {max-width: 90% !important; position: relative !important; right: -30% !important; top: 0 !important;}	
    /*Category Printers Slider Block Styles Starts*/
	.printer-slider img { max-width: 170%;}
  	.printer-slider li .captions .slidecontent { left: 1%; padding: 30px 140px; position: relative; top: 0; width: 110%;}
	.printer-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.printer-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.printer-slider .slideContent sup {font-size: 0.25em;}
	.printer-slider li p {font-size: 1em; color: #000000; width: 115%;} 
	.printer-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}		
	/*Explore Printers Block Styles Starts*/
	/*Featured Printers Block Styles Starts*/
	.featured-printer-mobile-block #featured-printer-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -23.5em;}
	.featured-printer-mobile-block #featured-printer-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -23.5em;}
	.featured-printer-mobile-block h2, .featured-printer-mobile-block h3, .featured-printer-mobile-block p, .featured-printer-mobile-block startingat, .featured-printer-mobile-block .red {font-weight: 100; margin-left: 20px;}
	.featured-printer-mobile-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featured-printer-mobile-block p.band1, .featured-printer-mobile-block p.band2 {margin-left: 20px;}
	.featured-printer-mobile-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;}			
	/*Category Printers Block Styles Ends*/
	/*Category Tablets Block Styles Starts*/
    /*Engagement Tablets Block Styles Starts*/
	.tabletBlock .imgContainer img {max-width: 85%; z-index:0;} 	
	.tablet-mobile-subCatNavBlock {position: relative; z-index: 1;}		
    .engagementBlock.tabletBlock .productInfo {padding: 0px;}
    /*Category Tablets Slider Block Styles Starts*/
	 .tab-slider img { max-width: 200%;}
  	 .tab-slider .printersliderContent .slidecontent { left: 11%; padding: 25px 135px; position: relative; top: 0; width: 120%;}
	.tab-slider .slidecontent h2 {font-size: 1.5em !important; color: #000000; padding: 0px 0px 10px 0px;}
	.tab-slider .slidecontent h3 {font-size: 1em !important; color: #000000; padding: 0px 0px 5px 0px;}
	.tab-slider .slideContent sup {font-size: 0.25em;}
	.tab-slider li p {font-size: 1em; color: #000000; width: 100%;} 
	.tab-slider a.btn.bluebtn {  margin: 15px 0px 0px 0px; padding: 5px 15px !important;}	
	/*Explore Tablets Block Styles Starts*/
	/*Featured Tablets Block Styles Starts*/
	.featuredtablet-block #featuredtablet-prev .bx-prev { background: url("../img/mobile-featured-prev.png") no-repeat scroll center top transparent; left: 15px; position: absolute; top: -23.5em;}
	.featuredtablet-block #featuredtablet-next .bx-next { background: url("../img/mobile-featured-next.png") no-repeat scroll center top transparent; position: absolute; right: 15px; top: -23.5em;}
	.featuredtablet-block h2, .featuredtablet-block h3, .featuredtablet-block p, .featuredtablet-block startingat, .featuredtablet-block .red {font-weight: 100; margin-left: 20px;}
	.featuredtablet-block .imgContainer img {width: 75% !important; margin-top: 40px;}
	.featuredtablet-block p.band1, .featuredtablet-block p.band2 {margin-left: 20px;}
	.featuredtablet-block .btn.bluebtn {padding: 5px 26px !important; margin-right: 30px !important;} 	
	/*Category Tablets Block Styles Ends*/				 
}
.printersubBoxinfoUse { left: 10%; position: absolute;}

/* 1024 new psd changes */ 
@media only screen and (min-width: 801px) and (max-width: 1024px){
	.exploreCategory { padding: 30px 0 0;}
	.exploreCategory .hpwindowsLogo {width:auto;}
	.exploreCategory .hpwindowsLogo img { margin: 0;}
	.exploreCategory .categoryTabs li a { font-size:1em; }
	.categorySlider, .orbit-container .categorySlider li {height: 245px !important;}
	.byCategory, .byBrand, .byUse { padding: 0;}
	.exploreCategory h2, .byCategory h2, .byBrand h2, .byUse h2, 
	#featuredLaptops h2, #featuredTablets h2, #featuredPrinters h2, 
	.subBoxinfoSmall h3, .byBrand .subBoxinfo h2, .byUse .subBoxinfo h2 { font-size: 2em;}
	.byCategory p, .byCategory h3 span, .byBrand p, .byBrand h3 span, .byUse p, 
	.byUse h3 span { font-size: 1em;}
	#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3, 
	.byCategory p, .byCategory h3 span, .byBrand p, .byBrand h3 span, .byUse p, .byUse h3 span {font-size: 1.5em;}
	.byCategory .subBoxinfoSmall p, .byBrand .subBoxinfoSmall p, .byUse .subBoxinfoSmall p {
		font-size: 1em;
		line-height: 18px;
	}
}
@media only screen and (min-width: 801px) and (max-width: 895px){
	#featuredLaptops #prevLaptop, #featuredTablets #prevArrow, #featuredPrinters #prevPrinter { left: -30px;}
	#featuredLaptops #nextLaptop, #featuredTablets #nextArrow, #featuredPrinters #nextPrinter { right: -30px;}
	.categorySlider, .orbit-container .categorySlider li {height: 185px !important;}
	.categorySlider li .captions .sliderContent h2 { font-size: 1.8em;}
	.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {left: 2%;}
	.categorySlider + .orbit-prev + .orbit-next, .printer-slider + .orbit-prev + .orbit-next, 
	.tab-slider + .orbit-prev + .orbit-next {right: 2%;}
	.categorySlider li .captions .sliderContent.bannercontent p { font-size: 0.8em;}
	.categorySlider li .captions {top:8%;}
	#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3 {height:63px;}
}
@media only screen and (min-width: 896px) and (max-width: 1024px){
	#featuredLaptops #nextLaptop, #featuredTablets #nextArrow, #featuredPrinters #nextPrinter {right: 0;}
	#featuredLaptops #prevLaptop, #featuredTablets #prevArrow, #featuredPrinters #prevPrinter { left: 5px;}
	.categorySlider + .orbit-prev, .printer-slider + .orbit-prev, .tab-slider + .orbit-prev {left: 7%;}
	.categorySlider + .orbit-prev + .orbit-next, .printer-slider + .orbit-prev + .orbit-next, 
	.tab-slider + .orbit-prev + .orbit-next {right: 7%;}
	#featuredLaptops ul li h3, #featuredTablets ul li h3, #featuredPrinters ul li h3 {height:75px;}
}