.star0{width:95px; height:18px; background:url(../images/star0_5.png) 0 0px no-repeat; float:left}
.star1{width:95px; height:18px; background:url(../images/star1_5.png) 0 0px no-repeat; float:left}
.star2{width:95px; height:18px; background:url(../images/star2_5.png) 0 0px no-repeat; float:left}
.star3{width:95px; height:18px; background:url(../images/star3_5.png) 0 0px no-repeat; float:left}
.star4{width:95px; height:18px; background:url(../images/star4_5.png) 0 0px no-repeat; float:left}
.star5{width:95px; height:18px; background:url(../images/star5_5.png) 0 0px no-repeat; float:left}

.star0_s{width:74px; height:15px; background: url(../images/star_s0_5.png) 0 0px no-repeat; float:left}
.star1_s{width:74px; height:15px; background: url(../images/star_s1_5.png) 0 0px no-repeat; float:left}
.star2_s{width:74px; height:15px; background: url(../images/star_s2_5.png) 0 0px no-repeat; float:left}
.star3_s{width:74px; height:15px; background: url(../images/star_s3_5.png) 0 0px no-repeat; float:left}
.star4_s{width:74px; height:15px; background: url(../images/star_s4_5.png) 0 0px no-repeat; float:left}
.star5_s{width:74px; height:15px; background: url(../images/star_s5_5.png) 0 0px no-repeat; float:left}

.clear{ clear:both}

/* Classes for pagination 
.pagination{padding:1px; margin:0px; font-family:Arial, Helvetica, sans-serif}
.pagination ul {margin:0px; padding:0px; text-align: center;/*Set to "right" to right align pagination interfacefont-size: 12px;}
.pagination li {list-style-type:none; display:inline; padding-bottom:1px}
.pagination a, .pagination a:visited{ padding:3px 6px 3px 6px; border: 1px solid #7f7f7f; text-decoration:none; color:#7f7f7f; font-weight:normal}
.pagination a:hover, .pagination a:active{border: 1px solid #7f7f7f; background-color:#7f7f7f; color:#FFFFFF;}
.pagination li.currentpage{padding: 0px 4px; margin:3px; border: 1px solid #7f7f7f; background-color:#7f7f7f; color:#FFF;}
 End Classes for pagination */


/* Classes for pagination - Nhung Pham update 17/10/08
.pagination{ padding:1px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:11px }
.pagination ul { margin:0px; padding:0px }
.pagination li { list-style-type:none; display:inline; margin-left:1px }
.pagination a, .pagination a:visited{ border:1px solid #C5C5C5; color:#7f7f7f; text-decoration:none;  font-weight:normal; padding:3px 6px 3px 6px }
.pagination a:hover, .pagination a:active{ border:1px solid #7f7f7f; background-color:#7f7f7f; color:#FFFFFF }
.pagination li.currentpage{ border:1px solid #7f7f7f; background-color:#7f7f7f; color:#FFFFFF; text-decoration:none; padding: 0px 4px; margin:3px }
/* End Classes for pagination */

/* - Nhung Pham update 17/10/08 */
.pagination { padding:0 }
.pagination ul { margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:11px}
.pagination ul li { list-style-type:none; display:inline; padding-bottom:1px}
.pagination ul li a, .pagination ul li a:visited { padding:3px 6px 3px 6px; margin:2px 0 2px 2px; border:1px solid #C5C5C5; color:#7f7f7f;  }
.pagination ul li a:hover, .pagination ul li a:active {padding:3px 6px 3px 6px; margin:2px 0 2px 2px; border:1px solid #7f7f7f; background-color:#7f7f7f; color:#FFFFFF }


.ProductNameColorLARGE{color:#3886BA}
.fieldwrap {margin-bottom:20px}
.fieldwrap_title{ font-size:12px; font-weight:bold; margin-bottom:5px}
.fieldwrap_content{ border: 1px #DDDDDD solid; padding:10px; background:#f7f7f7}

/* Classes for button*/
a.button { background: url(../images/Bg/bg_button_a.gif) top right;display: block;  float: left; font: normal 12px arial, sans-serif;  height: 30px; margin-right: 6px; padding-right: 10px; /* sliding doors padding */   text-decoration: none;}
a.button span {background: url(../images/Bg/bg_button_span.gif) no-repeat; display: block; line-height:18px; padding: 6px 0 5px 8px; color:#FFFFFF; font-size:13px; font-weight:bold; text-transform:uppercase} 
a.button:hover {background-position: bottom right; color: #000;  outline: none; text-decoration:none/* hide dotted outline in Firefox */}
a.button:hover span {background-position: bottom left; padding: 6px 0 6px 8px; text-decoration:none /* push text down 1px */} 
/* End Classes for button*/

/* Classes for grey button*/
a.button2 { background: url(../images/Bg/bg_button_b.gif) top right;display: block;  float: left; font: normal 12px arial, sans-serif;  height: 30px; margin-right: 6px; padding-right: 10px; /* sliding doors padding */   text-decoration: none;}
a.button2 span {background: url(../images/Bg/bg_button_span2.gif) no-repeat; display: block; line-height:18px; padding: 6px 0 5px 8px; color:#FFFFFF; font-size:13px; font-weight:bold; text-transform:uppercase} 
a.button2:hover {background-position: bottom right; color: #000;  outline: none; text-decoration:none/* hide dotted outline in Firefox */}
a.button2:hover span {background-position: bottom left; padding: 6px 0 6px 8px; text-decoration:none /* push text down 1px */} 
/* End Classes for button*/

/* Classes for stars rating */
ul.rating {width:102px; height:18px;  margin:0px; padding:0; list-style:none; clear:both; position:relative; background:url(../images/Bg/stars.png) no-repeat 0 0;}
ul.rating.star_0 {background-position:0 0}
ul.rating.star_1 {background-position:0 -20px}
ul.rating.star_2 {background-position:0 -40px}
ul.rating.star_3 {background-position:0 -60px}
ul.rating.star_4 {background-position:0 -80px}
ul.rating.star_5 {background-position:0 -100px}

ul.rating li {cursor: pointer;  /*ie5 mac doesn't like it if the list is floated but ie6 does\*/   float:left;  /* end hide*/   text-indent:-999em;/* hide text*/  }
ul.rating li span {position:absolute; left:0; top:0; width:18px; height:18px; text-decoration:none; z-index: 200;}
ul.rating li span:hover { z-index:2; width:102px; height:18px; overflow:hidden; left:0; background:url(../images/Bg/stars.png) no-repeat 0 0}

ul.rating li.star_1 span {left:0}
ul.rating li.star_2 span {left:22px;} 
ul.rating li.star_3 span {left:42px;}
ul.rating li.star_4 span {left:62px;}
ul.rating li.star_5 span {left:82px;}

ul.rating li.star_1 span:hover, ul.rating li.star_1 span:active {background-position:0 -140px; left:0px; height:18px}
ul.rating li.star_2 span:hover {background-position:0 -160px; left:0px;height:18px}
ul.rating li.star_3 span:hover {background-position:0 -180px; left:0px;height:18px}
ul.rating li.star_4 span:hover {background-position:0 -200px; left:0px;height:18px}
ul.rating li.star_5 span:hover {background-position:0 -220px; left:0px;height:18px}


*html ul.rating li.star_1 span {left:0}
*html ul.rating li.star_2 span {left:20px;} 
*html ul.rating li.star_3 span {left:40px;}
*html ul.rating li.star_4 span {left:60px;}
*html ul.rating li.star_5 span {left:80px;}
*html ul.rating li.star_1 .star1hover {z-index:2; width:102px; overflow:hidden; background:url(../images/Bg/stars.png) no-repeat 0 0; background-position:0 -140px; left:0; height:18px}
*html ul.rating li.star_2 .star2hover { position:absolute;z-index:2; width:102px; overflow:hidden; background:url(../images/Bg/stars.png) no-repeat 0 0; background-position:0 -160px; left:0;height:18px}
*html ul.rating li.star_3 .star3hover {position:absolute;z-index:2; width:102px; overflow:hidden; background:url(../images/Bg/stars.png) no-repeat 0 0; background-position:0 -180px; left:0;height:18px}
*html ul.rating li.star_4 .star4hover {position:absolute; z-index:2; width:102px; overflow:hidden; background:url(../images/Bg/stars.png) no-repeat 0 0; background-position:0 -200px; left:0;height:18px}
*html ul.rating li.star_5 .star5hover {z-index:2; width:102px; overflow:hidden; background:url(../images/Bg/stars.png) no-repeat 0 0; background-position:0 -220px; left:0;height:18px}



/* End Classes for stars rating */

