body{font-family:arial,helvetica,sans-serif;font-size:12px;color:#000;padding:0;margin:0;text-align:center;background:#fff;height:100%;width:100%;color:#666}
html{overflow-y:scroll}
h1,h2,h3,h4,h5{margin:0}
.leftBodyContent{float:left;margin-right:10px;width:790px}
.rightBodyContent{float:right;font-size:11px;line-height:11pt;text-align:right;width:160px}
a,a:visited{color:#039}
a{text-decoration:none}
a:hover{text-decoration:underline}
p a{text-decoration:underline}
form{margin:0;padding:0}
select,input,textarea{font-family:arial,sans-serif;font-size:12px;line-height:normal;padding:1px;margin:0}
fieldset{border:1px solid #bbb}
.clearBoth{clear:both}
#contentEnd{clear:both;padding:10px 0 0}
.columns{padding:0;margin:0;clear:both}
.column{float:left;display:inline;padding:0;margin:0}
.columnRight{float:right;display:inline;padding:0;margin:0}
.clearColumns{clear:both;height:1px;font-size:1px;line-height:1px;min-height:1px}
.clearFloat{clear:both;height:0;font-size:1px;line-height:0}
.floatRight{float:right}
.floatLeft{float:left}
.positionRelative{position:relative}
img{border:0}
.capitalized{text-transform:capitalize}
.centered{text-align:center}
.underlined{text-decoration:underline}
.boldText{font-weight:bold}
.boldText a,.boldText a:visited,.boldText a:hover,.boldText a:active{color:#cc3434;text-decoration:underline}
.blueHighlight{font-weight:bold;color:#69c}
div.blockMsg{width:40%;top:40%;left:30%;text-align:center;background:url(/images/etc/processing.gif) no-repeat scroll 15px 50% #fff;border:2px solid #666;-moz-border-radius:10px;-webkit-border-radius:10px;padding:15px;color:#666;font-weight:bold;font-size:16px}
div.blockOverlay{-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);-moz-opacity:.70;opacity:.70;background-color:#ddd}
.error{color:#c00;font-weight:bold}
.error a{text-decoration:underline}
.formFieldError{background:#f1edd4}
.alignTop{vertical-align:top}
.alignCenter{text-align:center}
hr{background:#ccc none repeat scroll 0 0;border:medium none;color:#ccc;height:1px}
.instructions{font-size:10px}
.instructions a,.instructions a:visited,.instructions a:hover,.instructions a:active{text-decoration:underline}
a.tel,a.tel:visited,a.tel:hover,a.tel:active{color:#666;text-decoration:none}
input.disabledField{background:#eee}
ul.blueSecondary{list-style-type:none;margin:0;padding:0;text-align:left;border-bottom:1px solid #69c}
ul.blueSecondary li.header{background:#69c;border-bottom:0;color:#fff;font-weight:bold;text-align:center}
ul.blueSecondary li.header a{color:#fff}
ul.blueSecondary li{border-bottom:1px dashed #ccc;border-left:1px solid #69c;border-right:1px solid #69c;padding:2px 2px 2px 4px;background:#e4ecf7}
ul.blueSecondary li.last{border-bottom:0}
ul.blueSecondary a{color:#666}
ul.mini-survey{list-style:none;margin:0 0 20px 0;padding:3px 1px 1px 2px}
ul.mini-survey li{padding:1px}
ul.mini-survey input{margin-right:8px;padding:3px 3px 0 5px}
div.warning{font-weight:bold;font-size:16px}
div.warning h1{text-transform:none;font-size:28px;color:#69c}
#atHomeImgFooter{vertical-align:bottom;width:13px;height:16px;padding-right:2px}
#atFooter{display:inline;vertical-align:middle}
#purchaseNotNecessary{font-size:10px;color:#00aeef;margin-top:20px;text-align:center}
#ratingReviewImage{height:345px;width:960px}
.ratingRulesLink{font-size:10px;color:#00aeef;text-decoration:underline}
#review{font-size:16px;font-weight:bold;color:#00aeef}
#review h1{font-size:180%;color:#00aeef}
#review h2{font-size:160%;color:#00aeef;margin-top:20px;margin-bottom:25px}
#review p{color:#666;font-weight:normal;margin-bottom:5px}
#review p a{color:#69c;font-size:12px}
#review p.call{color:#00aeef;font-weight:bold;font-size:16px;margin-top:20px}
#review_steps{clear:both;border-top:2px solid #ccc;margin-top:10px;padding-top:7px}
#review_steps{font-size:15px;margin-bottom:25px}
#review_steps h2{margin-bottom:20px}
#review_steps p{margin-bottom:11px}
#review_steps p.call{font-style:italic}
#review_steps li p a{color:#666;font-size:15px;font-weight:bold}
#review_steps ol{padding:2px 0 2px 20px}
#review_steps li{padding-top:3px}
#review_rules{clear:both;border-top:2px solid #ccc}
#review_rules h4{font-size:120%;font-weight:bold}
#review_rules h5{font-size:100%;font-weight:bold}
.darkToLightBlueBG{background:#ecf3f9;background:-webkit-gradient(linear,left top,left bottom,from(#d5e5f2),to(#fff));background:-moz-linear-gradient(top,#d5e5f2,#fff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E5F2',endColorstr='#FFFFFF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr=#D5E5F2, endColorstr=#FFFFFF, GradientType=0)"}
.lightToDarkBlueBG{background:#ecf3f9;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eef5fb));background:-moz-linear-gradient(top,#fff,#eef5fb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#EEF5FB');-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr=#FFFFFF, endColorstr=#EEF5FB, GradientType=0)"}
#buttonsArea div.liveChat{color:#FFF;margin-bottom:5px}
.careerTable{border:0;width:960px}
.careerTable td{vertical-align:top}
#careerMain{height:403px}
#careerMain td{font-family:Arial,Helvetica,sans-serif;font-size:18px;line-height:25px;color:#006eaf}
#careerMain td span{color:#92b342}
#careerMain td p{margin-top:15px}
#careerNav{height:285px}
#careerNav #locations{background-color:#e6f0f8;height:224px}
#careerNav #locations a{margin-right:30px;float:left}
#careerNav #locations a:first-child{padding-left:20px}
#careerNav #locations a:last-child{padding-left:0}
#careerNav #locations #careerRightNav:first-child{padding-left:0}
#careerRightNav{float:right;width:198px;padding-left:0;margin:0 20px 0 0;list-style-type:none}
#careerRightNav a{margin-bottom:24px}
#careerFooter{margin-top:17px;color:#666;font-family:Arial,Helvetica,sans-serif;font-size:13px}
#careerFooter a{text-decoration:none;color:#69c}
#careerDisclaimer{width:960px}
.benefitsList{margin-top:16px;font-size:11px;font-weight:bold}
.benefitsList ul{padding-top:0;padding-left:15px;padding-bottom:10px}
#shippingRates thead td{font-size:12px;line-height:16px;font-weight:bold;color:#666}
#shippingRates{margin-top:13px}
#shippingRates tr.even td{background-color:#efefef}
#shippingRates .total{width:300px}
#shippingRates .rate{width:660px}
.catalogRow{padding:0 0 20px 0}
.catalogRow>div{text-align:center}
.catalogRow h2{margin-top:5px}
#revision p{padding:30px 0 10px 0;color:#ddd;font-size:9px;text-align:center;float:none}
#revision p.production{color:#ddd}
span.breadcrumb{color:#69c;font-size:12px;font-weight:bold}
a.breadcrumb{text-decoration:none;color:#666}
a.breadcrumb:hover{text-decoration:underline}
input.greyed{font-weight:bold;color:#777}
input.lightgrey{font-weight:bold;color:#bbb}
.secondarySubmit{-x-system-font:none;background:#ccc none repeat scroll 0 0;border-color:#039 #000000 #000 #003399;border-style:solid;border-width:1px;color:#039;font-family:Arial,Helvetica,Sans-Serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:10px;overflow:visible;padding:3px 5px;text-align:center;text-transform:uppercase;vertical-align:middle}
html>body .secondarySubmit{padding:2px 0}
.secondarySubmit:hover,.secondarySubmit.sfhover{background:#bbb none repeat scroll 0 0}
.secondarySubmitButton{background:transparent url(/images/etc/secondary_button_medium.gif) no-repeat scroll center center;border:medium none;color:#000;font-family:arial;font-size:12px;font-weight:bold;line-height:33px;margin:0;padding:8px 0;width:130px}
.submit{-x-system-font:none;background:#c00 none repeat scroll 0 0;border-color:#f33 #660000 #600 #FF3333;border-style:solid;border-width:1px;color:#fff;font-family:Arial,Helvetica,Sans-Serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:10px;overflow:visible;padding:3px 5px;text-align:center;text-transform:uppercase;vertical-align:middle}
html>body .submit{padding:2px 0}
.submit:hover,.submit.sfhover{background:#a00 none repeat scroll 0 0}
.gradientHeader{-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;background:#005da4;background:-webkit-gradient(linear,left top,left bottom,from(#2f87c9),to(#03508a));background:-moz-linear-gradient(top,#2f87c9,#03508a);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F87C9',endColorstr='#03508A');-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr=#2F87C9, endColorstr=#03508A, GradientType=0)"}
.expertHelp{clear:both;padding-left:10px}
.expertHelp ul{width:148px;list-style-type:none;margin:0;padding:0}
.expertHelp ul li.header{border:0;color:#fff;font-size:12px;font-weight:bold;text-align:center}
.expertHelp ul li.header a{color:#fff}
.expertHelp ul li{border-left:1px solid #69c;border-right:1px solid #69c;border-bottom:1px dashed #69c;padding:4px;text-align:left}
.expertHelp ul li.last{border-bottom:1px solid #69c}
.expertHelp ul li a{color:#69c;text-decoration:none}
.expertHelp ul li a:hover{text-decoration:underline}
a.whiteButton,a.mboneclklink,a.mboneclklink:link{background:transparent url(/images/buttons/white_button_large.gif) no-repeat center center;color:#0061aa;text-decoration:none;text-align:center;display:inline-block;font-weight:bold;font-family:arial;font-size:10px;line-height:19px;margin:0 0 6px 0;padding:0;height:20px;width:100px}
a.whiteButton:hover,a.mboneclklink:hover{text-decoration:underline}
.submitButton{background:transparent url(/images/etc/button_medium.gif) no-repeat center center;border:0;color:#fff;font-family:arial;font-size:16px;font-weight:bold;line-height:20px;margin:0;padding:5px 0;width:85px;cursor:pointer;display:inline-block}
.submitButton:hover{text-decoration:underline}
.linkButton,a.linkButton{background:transparent url(/images/etc/button_medium.gif) no-repeat center center;text-align:center;color:#fff;display:inline-block;font-weight:bold;font-family:arial;font-size:16px;line-height:20px;margin:0;padding:6px 0;width:85px}
a.tallLargeLinkButton{background:transparent url(/images/etc/button_tall_large.gif) no-repeat center center;text-align:center;color:#fff;display:inline-block;font-weight:bold;width:219px;height:42px;font-size:18px;line-height:40px}
.smallerButtonText,a.smallerButtonText{font-size:14px;padding:7px 0}
.buttonText13{font-size:13px;padding:7px 0}
.tallLargeButton,a.tallLargeButton{background:transparent url(/images/etc/button_tall_large.gif) no-repeat center center;width:219px;height:42px;font-size:18px}
.xlargeButton,a.xlargeButton{background:transparent url(/images/etc/button_xlarge.gif) no-repeat center center;width:200px}
.largeButton,a.largeButton{background:transparent url(/images/etc/button_large.gif) no-repeat center center;width:150px}
.largeButton280,a.largeButton280{background:transparent url(/images/etc/button_large_280.gif) no-repeat center center;width:280px}
.largeRedButton,a.largeRedButton{background:transparent url(/images/etc/button_large_red.gif) no-repeat center center;width:150px}
.smallButton,a.smallButton{background:transparent url(/images/etc/button_small.gif) no-repeat center center;width:64px;font-size:13px;padding:3px 0;line-height:16px}
a.smallButton{padding:4px 0}
input.smallButton{background:transparent url(/images/etc/button_small.gif) no-repeat center center;border:0;color:#fff;font-family:arial;font-size:13px;font-weight:bold;line-height:16px;margin:0;padding:5px 0;width:85px;cursor:pointer;display:inline-block}
input.tinyButton{background:transparent url(/images/etc/button_tiny.gif) no-repeat center center;border:0;color:#fff;font-family:arial;font-size:12px;font-weight:bold;line-height:14px;margin:0;padding:5px 0;width:35px;cursor:pointer;display:inline-block}
a.noLine{text-decoration:none}
a.noLine:hover{text-decoration:underline}
a.submitLink,.submitLink{background:0;border:0;color:#666;font-family:arial,helvetica,sans-serif;font-size:14px;font-weight:bold;cursor:pointer;display:inline-block}
a.submitLink{text-decoration:none}
.submitLink:hover{text-decoration:underline}
.storeThumbnail{float:left;margin-top:6px}
.storeThumbnail p{text-align:center;padding-right:25px}
.storeThumbnail a{color:#666;text-decoration:none}
.storeThumbnail a:hover{text-decoration:underline}
.storeThumbnail img{display:block}
ul.greyHelpBox{list-style-type:none;margin:0;padding:0;text-align:left}
ul.greyHelpBox li.header{background:#ccc;border-bottom:0;color:#666;font-weight:bold;text-align:center}
ul.greyHelpBox li{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;padding:2px 2px 2px 4px}
ul.greyHelpBox a{color:#69c}
#secondaryNavigation{margin:0 4px 0 0;text-align:left;width:155px}
html>body #secondaryNavigation{margin:0 0 0 8px}
#secondaryNavigation a,#secondaryNavigation a:visited,#secondaryNavigation a:active{color:#69c;text-decoration:none}
#secondaryNavigation a:hover{color:#69c;text-decoration:underline}
#secondaryNavigation ul{margin:0;padding:0;list-style-type:none}
#secondaryNavigation ul li{padding:2px 2px 2px 4px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc}
#secondaryNavigation ul li.current{font-weight:bold;background:#eee}
#secondaryNavigation ul li.current span{color:#039}
#secondaryNavigation ul li.first{border-top:1px solid #ccc}
#secondaryNavigation ul li.header{color:#666;font-weight:bold;background:#ccc;border-bottom:0;text-align:center}
.addressCell{font-family:verdana,sans-serif;font-size:11px;display:inline;float:left;line-height:16px;padding-top:6px}
.addressButtonCell{display:inline;float:left;padding:2px 0 10px}
#editAddress p{margin:4px 0 4px}
h3.highlighted{background:#69c none repeat scroll 0 0;color:#fff;font-size:13px;font-weight:bold;margin:0 0 5px;padding:3px 0 3px 4px;text-align:left;line-height:14pt}
td.shipToAddress{padding:0 0 12px 0;vertical-align:bottom}
b.disabled{color:#999}
#planSpaceAdminDetails label{display:block;text-align:left;width:200px;float:left;margin-right:10px}
#planSpaceAdminDetails p{float:left;font-weight:bold;margin-bottom:0}
#planSpaceAdminDetails div{margin-bottom:10px}
#planSpaceAdminDetails h3{margin-bottom:15px}
.formLabel{font-weight:bold}
table.addressEdit{width:100%}
table.addressEdit td{height:28px;font-size:11px;font-family:verdana,sans-serif;vertical-align:middle;line-height:1.2em}
table.addressEdit .instructions td{height:auto;font-size:10px}
h3.blueBar{color:#fff;font-weight:bold;font-size:13px;background:#69c;text-align:left;padding:3px 0 3px 4px;margin:0 0 5px 0}
#olOver{cursor:pointer}
#contactUsLinks{padding-left:14px;line-height:20px}
#contactUsLinks li strong{padding-left:.5em}
#contactUsLinks li a{text-decoration:underline}
.listItem{float:left;margin:12px 0 12px 0;width:153px;text-align:center}
#content h1{color:#69c;text-transform:none;font-size:14px}
.alert{background:#e3ecf6 url(/images/etc/alert.gif) no-repeat scroll left center;border:2px solid #759aca;margin:5px 0 10px;padding:12px 0 12px 52px}
.listItem p{width:110;padding:0;margin:auto;line-height:16px}
.listItem a,.listItem a:visited,.listItem a:active{color:#666;text-decoration:none}
.listItem a:hover{color:#666;text-decoration:underline}
p.productDescription{line-height:14pt}
div.productButton{float:left;width:100px;padding:0;margin:0 12px 0 0;text-decoration:none}
.paginationContainer{clear:both}
.itemPagination{background:url(/images/etc/pageNumberBackground.gif) repeat-x;font-size:12px;font-family:arial,sans-serif;float:right;margin-left:5px}
.itemPagination.upper{margin:0}
.itemPagination.lower{margin-top:12px}
.itemPagination span,.itemPagination a{display:block;float:left;height:24px;line-height:24px}
.itemPagination .leftNoArrow{background:url(/images/etc/pageNumberLeftNoArrow.gif) no-repeat left center;width:22px}
.itemPagination .leftArrow{background:url(/images/etc/pageNumberLeftEndArrow.gif) no-repeat left center;width:22px}
.itemPagination .rightNoArrow{width:22px;border-right:1px solid #297cbb}
.itemPagination .rightArrow{background:url(/images/etc/pageNumberRightArrow.gif) no-repeat center center;width:22px;border-right:1px solid #297cbb}
.itemPagination .rightEndArrow{background:url(/images/etc/pageNumberRightEndArrow.gif) no-repeat right;width:15px;padding-left:6px}
.itemPagination .rightEndNoArrow{background:url(/images/etc/pageNumberRightNoArrow.gif) no-repeat right;width:15px;padding-left:6px}
.itemPagination .currentPage{color:#fff;font-weight:bold}
.itemPagination a.viewAll{background:url(/images/etc/pageNumberRightNoArrow.gif) no-repeat right center;color:#fff;padding:0 13px 0 8px;border-left:1px solid #186db0;text-decoration:underline}
#auxPagination{background:url(/images/etc/pageNumberBackground.gif) repeat-x}
#auxPagination .rightArrow{background:url(/images/etc/pageNumberRightEndArrow.gif) no-repeat center right;width:22px;border-right:0}
#auxPagination .rightNoArrow{background:url(/images/etc/pageNumberRightNoArrow.gif) no-repeat center right;width:22px;border-right:0}
a.productImage{display:block;text-align:center;text-decoration:none;color:#666;font-size:10px;padding-right:10px}
a.productImage p{margin:4px 0}
table.cartItems{width:960px}
table.cartItems p.description a{color:#666;text-decoration:none}
table.cartItems p.description a:hover{color:#666;text-decoration:underline}
table#cartTotals td{border:0;padding:3px;line-height:14pt}
td.cartSummary,td.cartSummary td{border-bottom:0}
.masthead{background-color:#c6e8ea;min-height:165px;padding-left:10px;margin-bottom:10px}
.masthead .bannerImage{float:right;height:165px;padding-left:10px}
.masthead .catalogBreadcrumb{float:none;padding-top:20px;margin-right:auto}
div#altProdPage{display:none;margin-bottom:25px}
div#prodImages{width:270px}
div#prodDescription{width:520px}
div#mybuyspagezone2{float:left;width:600px;margin-bottom:10px}
div#altExpertTips{display:inline;float:right}
.productSubmitButtons{text-align:right;width:780px;margin:20px 0}
.productSubmitButtonsWide{width:960px}
.productSubmitButtons input{margin-left:12px;vertical-align:middle}
div.noTopBorder{border-top:0}
h2.styleMaker{background:#69c;padding:8px;color:#fff;font-size:12px}
h2.styleMakerProduct{background:url("/images/etc/sectionBackground.png") repeat-x;padding:6px 5px;color:#069;font-size:12px}
table.styleMaker td{font-size:11px}
table.styleMaker td.item p.description{font-weight:normal}
table.styleMaker td.price{font-family:arial,sans-serif}
table.styleMaker .item p.dimensions{font-size:11px}
h3.asSeenInSection{background:#69c;color:#fff;font-size:13px;font-weight:bold;margin:0 0 14px;padding:4px 0 5px 4px}
table.kitComponents thead tr td{border-bottom:1px solid #69c}
table.kitComponents tbody tr td{border-bottom:1px solid #ccc;font-size:12px;line-height:14pt}
table.kitComponents .componentName{font-weight:bold;margin:0}
td.instructions{margin:0}
td p.instructions{margin:3px 0 0 0}
.skuBubble{cursor:pointer}
.inlineBubble{width:180px}
.inlineBubble .bubble_top{background:url('/images/etc/bubbleTop.gif') no-repeat;height:21px}
.inlineBubble .bubble_middle{border-left:2px solid #b0cce5;border-right:2px solid #b0cce5;background:#fff;padding:0 7px}
.inlineBubble .bubble_middle span{color:#69c;font-size:10px;line-height:12px}
.inlineBubble .bubble_bottom{background:url('/images/etc/bubbleBottom.gif') no-repeat;height:9px}
.sellableItems tr.last td{border-bottom:0}
.sellableItems p.description a.skuName{color:#666;text-decoration:none}
.sellableItems p.description a.skuName:hover{text-decoration:underline}
h2.giftList{line-height:79px;border:#ccc 1px solid;background:#dcf1c4;font-size:22px;color:#666;font-weight:normal;padding:9px}
h2.giftList img{border:1px solid #ccc;vertical-align:middle;margin-right:12px}
.addlist-menu{padding:0;margin:0;text-align:left}
.addlist-menu-container{margin-left:4px;margin-top:-12px}
.addlist-menu ul{background:#fff none repeat scroll 0 0;float:right;font-size:12px;list-style-type:none;margin-top:0;margin-left:0;position:absolute;text-align:left;width:190px;padding:0}
.addlist-menu li{border-left:1px solid #0061aa;border-right:1px solid #0061aa;border-bottom:1px solid #0061aa;padding:0 3px}
.addlist-menu li a{display:block;color:#666}
.addlist-menu li a:hover,.addlist-menu li a{text-decoration:none}
.addlist-menu li a:hover{color:#fff}
.addlist-menu li:hover{background:#6e6d6c}
#addlist-menu img{cursor:pointer}
#BVRRSummaryContainer{clear:left}
#mybuyspagezone1 .mbzone_vertical{margin-top:0}
#mybuyspagezone1 td.mblegend{padding:3px 0 3px 0;vertical-align:middle!important;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;background:#005da4;background:-webkit-gradient(linear,left top,left bottom,from(#2f87c9),to(#03508a));background:-moz-linear-gradient(top,#2f87c9,#03508a);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F87C9',endColorstr='#03508A');-ms-filter:"progid:DXImageTransform.Microsoft.gradient( startColorstr=#2F87C9, endColorstr=#03508A, GradientType=0)"}
#mybuyspagezone1 span.mblegend{background:0}
.alertImage{background:url('/images/browse/alert_cpsia.gif') no-repeat;font-size:12px;font-weight:bold;padding-left:16px}
.prop65Warning{margin-top:6px;line-height:16px;font-size:10px}
@media only screen and (min-device-width :768px) and (max-device-width :1024px){div#bottomPagination div.blueBar{width:143px}
div#bottomPagination div.blueBar div.blueBarContent{width:135px}
div#bottomPagination img.nextPage{padding-right:14px}
div#bottomPagination img.previousPage{padding-left:14px}
div#bottomPagination div.blueBarLeft{background:url(/images/etc/pageNumberLeftNoArrowSlim.gif) left center no-repeat;width:4px}
#searchResults div.blueBarRight{background:url(/images/etc/pageNumberRightNoArrowSlim.gif) no-repeat right;width:4px}
}
@media print{.category-header-image{width:inherit!important}
.product{width:20%}
.tcslogo:before{content:url(/images/navigation/tcs-logo-blue.png)}
}
.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;direction:ltr;box-shadow:none;padding:0}
.qtip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}
.qtip-titlebar{position:relative;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:bold}
.qtip-titlebar+.qtip-content{border-top-width:0!important}
.qtip-close{position:absolute;right:-9px;top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid;border-color:transparent}
.qtip-titlebar .qtip-close{right:4px;top:50%;margin-top:-9px}
* html .qtip-titlebar .qtip-close{top:16px}
.qtip-titlebar .ui-icon,.qtip-icon .ui-icon{display:block;text-indent:-1000em;direction:ltr}
.qtip-icon,.qtip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}
.qtip-icon .ui-icon{width:18px;height:14px;line-height:14px;text-align:center;text-indent:0;font:normal bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}
.qtip-default{border-width:1px;border-style:solid;border-color:#f1d031;background-color:#ffffa3;color:#555}
.qtip-default .qtip-titlebar{background-color:#ffef93}
.qtip-default .qtip-icon{border-color:#CCC;background:#f1f1f1;color:#777}
.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}
/*! Light tooltip style */.qtip-light{background-color:white;border-color:#e2e2e2;color:#454545}
.qtip-light .qtip-titlebar{background-color:#f1f1f1}
/*! Dark tooltip style */.qtip-dark{background-color:#505050;border-color:#303030;color:#f3f3f3}
.qtip-dark .qtip-titlebar{background-color:#404040}
.qtip-dark .qtip-icon{border-color:#444}
.qtip-dark .qtip-titlebar .ui-state-hover{border-color:#303030}
/*! Cream tooltip style */.qtip-cream{background-color:#fbf7aa;border-color:#f9e98e;color:#a27d35}
.qtip-cream .qtip-titlebar{background-color:#f0de7d}
.qtip-cream .qtip-close .qtip-icon{background-position:-82px 0}
/*! Red tooltip style */.qtip-red{background-color:#f78b83;border-color:#d95252;color:#912323}
.qtip-red .qtip-titlebar{background-color:#f06d65}
.qtip-red .qtip-close .qtip-icon{background-position:-102px 0}
.qtip-red .qtip-icon{border-color:#d95252}
.qtip-red .qtip-titlebar .ui-state-hover{border-color:#d95252}
/*! Green tooltip style */.qtip-green{background-color:#caed9e;border-color:#90d93f;color:#3f6219}
.qtip-green .qtip-titlebar{background-color:#b0de78}
.qtip-green .qtip-close .qtip-icon{background-position:-42px 0}
/*! Blue tooltip style */.qtip-blue{background-color:#e5f6fe;border-color:#add9ed;color:#5e99bd}
.qtip-blue .qtip-titlebar{background-color:#d0e9f5}
.qtip-blue .qtip-close .qtip-icon{background-position:-2px 0}
.qtip-shadow{-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15)}
.qtip-rounded,.qtip-tipsy,.qtip-bootstrap{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.qtip-rounded .qtip-titlebar{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.qtip-youtube{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #333;-moz-box-shadow:0 0 3px #333;box-shadow:0 0 3px #333;color:white;border-width:0;background:#4a4a4a;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#4a4a4a),color-stop(100%,black));background-image:-webkit-linear-gradient(top,#4a4a4a 0,black 100%);background-image:-moz-linear-gradient(top,#4a4a4a 0,black 100%);background-image:-ms-linear-gradient(top,#4a4a4a 0,black 100%);background-image:-o-linear-gradient(top,#4a4a4a 0,black 100%)}
.qtip-youtube .qtip-titlebar{background-color:#4a4a4a;background-color:rgba(0,0,0,0)}
.qtip-youtube .qtip-content{padding:.75em;font:12px arial,sans-serif;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"}
.qtip-youtube .qtip-icon{border-color:#222}
.qtip-youtube .qtip-titlebar .ui-state-hover{border-color:#303030}
.qtip-jtools{background:#232323;background:rgba(0,0,0,0.7);background-image:-webkit-gradient(linear,left top,left bottom,from(#717171),to(#232323));background-image:-moz-linear-gradient(top,#717171,#232323);background-image:-webkit-linear-gradient(top,#717171,#232323);background-image:-ms-linear-gradient(top,#717171,#232323);background-image:-o-linear-gradient(top,#717171,#232323);border:2px solid #ddd;border:2px solid rgba(241,241,241,1);-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 0 12px #333;-moz-box-shadow:0 0 12px #333;box-shadow:0 0 12px #333}
.qtip-jtools .qtip-titlebar{background-color:transparent;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"}
.qtip-jtools .qtip-content{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"}
.qtip-jtools .qtip-titlebar,.qtip-jtools .qtip-content{background:transparent;color:white;border:0 dashed transparent}
.qtip-jtools .qtip-icon{border-color:#555}
.qtip-jtools .qtip-titlebar .ui-state-hover{border-color:#333}
.qtip-cluetip{-webkit-box-shadow:4px 4px 5px rgba(0,0,0,0.4);-moz-box-shadow:4px 4px 5px rgba(0,0,0,0.4);box-shadow:4px 4px 5px rgba(0,0,0,0.4);background-color:#d9d9c2;color:#111;border:0 dashed transparent}
.qtip-cluetip .qtip-titlebar{background-color:#87876a;color:white;border:0 dashed transparent}
.qtip-cluetip .qtip-icon{border-color:#808064}
.qtip-cluetip .qtip-titlebar .ui-state-hover{border-color:#696952;color:#696952}
.qtip-tipsy{background:black;background:rgba(0,0,0,.87);color:white;border:0 solid transparent;font-size:11px;font-family:'Lucida Grande',sans-serif;font-weight:bold;line-height:16px;text-shadow:0 1px black}
.qtip-tipsy .qtip-titlebar{padding:6px 35px 0 10px;background-color:transparent}
.qtip-tipsy .qtip-content{padding:6px 10px}
.qtip-tipsy .qtip-icon{border-color:#222;text-shadow:none}
.qtip-tipsy .qtip-titlebar .ui-state-hover{border-color:#303030}
.qtip-tipped{border:3px solid #959fa9;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#f9f9f9;color:#454545;font-weight:normal;font-family:serif}
.qtip-tipped .qtip-titlebar{border-bottom-width:0;color:white;background:#3a79b8;background-image:-webkit-gradient(linear,left top,left bottom,from(#3a79b8),to(#2e629d));background-image:-webkit-linear-gradient(top,#3a79b8,#2e629d);background-image:-moz-linear-gradient(top,#3a79b8,#2e629d);background-image:-ms-linear-gradient(top,#3a79b8,#2e629d);background-image:-o-linear-gradient(top,#3a79b8,#2e629d);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"}
.qtip-tipped .qtip-icon{border:2px solid #285589;background:#285589}
.qtip-tipped .qtip-icon .ui-icon{background-color:#fbfbfb;color:#555}
.qtip-bootstrap{font-size:14px;line-height:20px;color:#333;padding:1px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.qtip-bootstrap .qtip-titlebar{padding:8px 14px;margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.qtip-bootstrap .qtip-titlebar .qtip-close{right:11px;top:45%;border-style:none}
.qtip-bootstrap .qtip-content{padding:9px 14px}
.qtip-bootstrap .qtip-icon{background:transparent}
.qtip-bootstrap .qtip-icon .ui-icon{width:auto;height:auto;float:right;font-size:20px;font-weight:bold;line-height:18px;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}
.qtip-bootstrap .qtip-icon .ui-icon:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;filter:alpha(opacity=40)}
.qtip:not(.ie9haxors) div.qtip-content,.qtip:not(.ie9haxors) div.qtip-titlebar{filter:none;-ms-filter:none}
.qtip .qtip-tip{margin:0 auto;overflow:hidden;z-index:10}
x:-o-prefocus,.qtip .qtip-tip{visibility:hidden}
.qtip .qtip-tip,.qtip .qtip-tip .qtip-vml,.qtip .qtip-tip canvas{position:absolute;color:#123456;background:transparent;border:0 dashed transparent}
.qtip .qtip-tip canvas{top:0;left:0}
.qtip .qtip-tip .qtip-vml{behavior:url(#default#VML);display:inline-block;visibility:visible}
.basketList .listItem{width:750px;border-bottom:1px dotted gray}
.basketImage{width:105px;float:left}
.basketDetails{width:255px;margin-left:10px;margin-top:50px;float:left}
.basketItemPrice{margin-left:20px;margin-top:50px;float:left}
.basketItemQuantity{margin-left:20px;margin-top:50px;float:left}
.basketItemFinalPrice{margin-left:20px;margin-top:50px;float:left}
.basketItemQuantityInput{width:30px}
.roundedbox,.roundedbox_bottom,.roundedbox_main,.roundedbox_main div.content{background:#ffffff url("/images/greyBox.gif") no-repeat bottom right;}
.lightBlueBoxNoBorder,.lightBlueBoxNoBorder .roundedbox_bottom,.lightBlueBoxNoBorder .roundedbox_main,.lightBlueBoxNoBorder .roundedbox_main div.content{background:#ffffff url("/images/navigation/search/background.gif") no-repeat bottom right;}
.eodcBox,.eodcBox .roundedbox_bottom,.eodcBox .roundedbox_main,.eodcBox .roundedbox_main div.content{background:#ffffff url("/images/eodc_roundedBox.gif") no-repeat bottom right;}
.roundedbox{width:400px;}
.roundedbox .roundedbox_main{background-position:top right;padding-right:10px;}
.roundedbox .roundedbox_main div.content{background-position:top left;padding:6px 0 0 6px;height:auto !important;height:1%;}
.roundedbox .roundedbox_bottom{background-position:bottom left;margin-right:5px;height:7px;line-height:1px;font-size:1px;padding:0;}

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.gutter-left{margin-left:20px;}
.gutter-left-half{margin-left:10px;}
.gutter-left-quarter{margin-left:5px;}
.gradientHeader{-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#0a64b5;background-image:-moz-linear-gradient(top, #1073d6, #004d83);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1073d6), to(#004d83));background-image:-webkit-linear-gradient(top, #1073d6, #004d83);background-image:-o-linear-gradient(top, #1073d6, #004d83);background-image:linear-gradient(to bottom, #1073d6, #004d83);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1073d6', endColorstr='#ff004d83', GradientType=0);border-color:#004d83 #004d83 #002036;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#004d83;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.gradientHeader:hover,.gradientHeader:focus,.gradientHeader:active,.gradientHeader.active,.gradientHeader.disabled,.gradientHeader[disabled]{color:#ffffff;background-color:#004d83;*background-color:#003e6a;}
.gradientHeader:active,.gradientHeader.active{background-color:#002f50 \9;}
.jqmOverlay{background-color:#222;}
.jqmWindow{display:none;top:10%;width:630px;background-color:#FFF;color:#333;border:none;-webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);-moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);}.jqmWindow>.modalContentContainer{background-color:#ffffff;height:400px;}.jqmWindow>.modalContentContainer>h1{font-family:inherit;font-weight:bold;line-height:20px;font-size:24.5px;color:#6699cc;text-rendering:optimizelegibility;padding:12px 19px;border-bottom:1px solid #eee;text-transform:none;}
.jqmWindow>.modalContentContainer>.jqmClose{cursor:pointer;}
.jqmWindow>.modalContentContainer>.closeButton{font-family:Arial,Helvetica,sans-serif;float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);margin:10px 10px 0 0;}.jqmWindow>.modalContentContainer>.closeButton:hover{filter:alpha(opacity=40);opacity:0.4;}
.jqmWindow>.modalContentContainer>.modalContent{padding:20px;color:#666666;overflow:auto;}.jqmWindow>.modalContentContainer>.modalContent>div.withButton{height:320px;margin-bottom:10px;}
.jqmWindow>.modalContentContainer>.modalContent p{font-size:12px;}.jqmWindow>.modalContentContainer>.modalContent p:last-child{margin-bottom:0;}
.jqmWindow.smallModal{width:300px;margin:50px 0 0 330px;left:auto;position:absolute;}.jqmWindow.smallModal>.modalContentContainer{height:auto;}
.jqmWindow.mediumModal{width:500px;margin:30px 0 0 230px;left:auto;position:absolute;}.jqmWindow.mediumModal>.modalContentContainer{height:auto;}
.jqmWindow.mediumLargeModal{width:600px;margin:20px 0 0 180px;left:auto;position:absolute;}.jqmWindow.mediumLargeModal>.modalContentContainer{height:auto;}
.jqmWindow.largeModal{width:700px;margin:10px 0 0 130px;left:auto;position:absolute;}.jqmWindow.largeModal>.modalContentContainer{height:auto;}
.jqmWindow.extraLargeModal{width:900px;margin:0 0 0 30px;left:auto;position:absolute;}.jqmWindow.extraLargeModal>.modalContentContainer{height:auto;}
.jqmWindow.dynamicModal{margin:30px 0 0 20px;left:auto;position:absolute;}.jqmWindow.dynamicModal>.modalContentContainer{height:auto;}
.jqmWindow.dimensionsModal h2{font-size:12px;}
.jqmWindow.registryPromoModal{width:500px;margin:260px 0 0 230px;left:auto;position:absolute;}.jqmWindow.registryPromoModal>.modalContentContainer{height:auto;}
#kitModal p.instructions{margin:3px 0 0 0;}
#addNewAddressModal{width:600px;}
* iframe.jqm{position:absolute;top:0;left:0;z-index:-1;width:expression(this.parentNode.offsetWidth+'px');height:expression(this.parentNode.offsetHeight+'px');}

#oo_feedback_fl_spacer{display:block;height:1px;position:absolute;top:0;width:100px;}
.oo_feedback_float{width:100px;font:12px Arial,Helvetica,sans-serif;text-align:center;color:black;cursor:pointer;z-index:1000;position:fixed;bottom:5px;-webkit-transition:-webkit-transform 0.3s ease;}
.oo_feedback_float .olUp{background:url(/onlineopinionV5/oo_float_icon.gif) center 10px no-repeat;text-align:center;padding:30px 0 5px 0;position:relative;z-index:2;}
.oo_feedback_float .olUp img{margin-bottom:5px;}
.oo_feedback_float .oo_transparent{display:block;background:white;position:absolute;top:0;left:0;height:100%;width:100%;z-index:1;opacity:0.5;filter:alpha(opacity=50);-moz-border-radius:5px;-webkit-border-radius:5px;}
.oo_feedback_float:hover .olUp{display:none;}
.oo_feedback_float .fbText{display:block;}
.oo_feedback_float .olOver{display:none;-moz-border-radius:5px;-webkit-border-radius:5px;position:relative;min-height:50px;z-index:2;}
.oo_feedback_float .olOver span{display:block;padding:10px 5px;}
.oo_feedback_float:hover .olOver{background:white;display:block;height:100%;width:100%;}
.oo_cc_wrapper{left:0;padding:0;position:fixed;text-align:center;top:25px;width:100%;z-index:999999;}
.oo_cc_wrapper span{width:100%;height:100%;position:absolute;left:0;top:0;z-index:1;}
.oo_cc_wrapper .iwrapper{background-color:white;margin:0 auto;position:relative;width:535px;z-index:2;-webkit-box-shadow:rgba(0, 0, 0, 0.6) 0 0 15px;-moz-box-shadow:rgba(0, 0, 0, 0.6) 0 0 15px;}
.oo_cc_wrapper iframe{position:relative;border:none;width:100%;z-index:4;}
.oo_cc_wrapper .oo_cc_close{display:block;background:url(/onlineopinionV5/oo_close.png) no-repeat;height:27px;position:absolute;right:-10px;top:-14px;width:27px;z-index:5;}
.oo_cc_wrapper .oo_shadows{display:block;height:100%;position:absolute;top:0;left:-15px;width:565px;z-index:1;}
.oo_cc_wrapper .oo_shadows div{background-image:url(/onlineopinionV5/oo_shadow.png);display:block;left:0;position:absolute;width:100%;}
.oo_cc_wrapper .oo_shadows .oo_top{background-position:left top;height:15px;top:-15px;}
.oo_cc_wrapper .oo_shadows .oo_body{background-position:top center;height:100%;top:0;}
.oo_cc_wrapper .oo_shadows .oo_bottom{background-position:top right;height:15px;bottom:-15px;}
#oo_container{position:fixed;height:100%;width:100%;top:0;left:0;z-index:999999;}
#oo_invitation_prompt{background:white;}
#oo_ol_brand{background:url(/onlineopinionV5/oo_inv_opinionlab.gif) top right no-repeat;border-top:#999999 solid 1px;}
#oo_invitation_prompt a{background:white;-moz-border-radius:5px;-webkit-border-radius:5px;}
a#oo_launch_prompt{background:#990000;}
#oo_invitation_prompt a#oo_launch_prompt:hover{background:red;}
#oo_invitation_prompt a:hover{background:#666666;color:white !important;}
#oo_close_prompt:hover{background:#666666;color:white !important;}
#oo_overlay{background:#000000 url(/onlineopinionV5/oo_loading.gif) 50% 80px no-repeat;display:block;height:1000%;left:0;position:fixed;top:0;width:100%;z-index:999998;opacity:0.5;filter:alpha(opacity=50);}
#oo_overlay.no_loading{background:black;opacity:0.5;filter:alpha(opacity=50);}
@media print{#oo_bar,.oo_feedback_float,#oo_tab{display:none;}}

.ie6 a.blueArrow,.ie7 a.blueArrow{zoom:1;}
.ie6 .modalContentContainer,.ie7 .modalContentContainer{zoom:1;}
.ie6 .gridRow,.ie7 .gridRow{zoom:1;}
.ipad *:hover>.showOnParentHover,.ipod *:hover>.showOnParentHover,.iphone *:hover>.showOnParentHover{display:block;}
@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape){.modal.fade.in{top:20px;} .modal-large>.modal-body{max-height:520px;} #selectAStoreModal li{padding-top:0px !important;padding-bottom:0px !important;}}.webkit .roundedbox_search{width:276px;}
.webkit div.tipsMenuDiv{height:22px !important;}
.webkit ul.tipsSubMenu{border-top:1px solid #008 !important;}
.webkit ul.tipsMenu li a{padding-bottom:1px !important;}
.webkit ul.tipsMenu li{padding-bottom:1px !important;}
.mac.gecko .roundedbox_search{width:290px;}

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.gutter-left{margin-left:20px;}
.gutter-left-half{margin-left:10px;}
.gutter-left-quarter{margin-left:5px;}
.gradientHeader{-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#0a64b5;background-image:-moz-linear-gradient(top, #1073d6, #004d83);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1073d6), to(#004d83));background-image:-webkit-linear-gradient(top, #1073d6, #004d83);background-image:-o-linear-gradient(top, #1073d6, #004d83);background-image:linear-gradient(to bottom, #1073d6, #004d83);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1073d6', endColorstr='#ff004d83', GradientType=0);border-color:#004d83 #004d83 #002036;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#004d83;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.gradientHeader:hover,.gradientHeader:focus,.gradientHeader:active,.gradientHeader.active,.gradientHeader.disabled,.gradientHeader[disabled]{color:#ffffff;background-color:#004d83;*background-color:#003e6a;}
.gradientHeader:active,.gradientHeader.active{background-color:#002f50 \9;}
.sprites{background-image:url(/images/navigation/global_sprites.png?r=PROJECT_VERSION) !important;background-color:transparent;background-repeat:no-repeat;}
.contactus{width:32px !important;height:26px;background-position:-92px 0;}
.contactusnav{width:32px !important;height:26px;background-position:0 -87px;}
.footer-blog{width:91px !important;height:27px;background-position:0 0;}
.footer-facebook{width:30px !important;height:27px;background-position:0 -28px;}
.footer-instagram{width:30px !important;height:27px;background-position:-70px -112px;}
.footer-pinterest{width:29px !important;height:27px;background-position:-31px -28px;}
.footer-twitter{width:32px !important;height:27px;background-position:-72px -56px;}
.footer-youtube{width:30px !important;height:27px;background-position:0 -183px;}
.footerbannercareers{width:342px !important;height:101px;background-position:-105px -48px;}
.iconcart{width:56px !important;height:44px;background-position:0 -138px;}
.iconcontactus{width:32px !important;height:32px;background-position:-33px -81px;}
.iconlivechat{width:32px !important;height:30px;background-position:0 -56px;}
.iconlocations{width:33px !important;height:27px;background-position:-66px -84px;}
.iconourblog{width:27px !important;height:27px;background-position:-31px -195px;}
.poplogofooter{width:11px !important;height:11px;background-position:-31px -183px;}
.searchbutton{width:38px !important;height:24px;background-position:-33px -56px;}
.signupemailfooterbutton{width:43px !important;height:27px;background-position:-61px -28px;}
.tcslogoslim{width:319px !important;height:47px;background-position:-125px 0;}
.elfabutton{width:69px !important;height:23px;background-position:0 -114px;}
.sprites{display:inline-block;}
.show{display:block !important;}
#header{padding-top:6px;line-height:normal;}
#headerEnd{clear:both;height:25px;}
#topControls{margin:5px 0 12px 0;text-transform:uppercase;float:right;}#topControls>a,#topControls>.linkContainer{padding:0 8px;font-size:10px;display:inline-block;position:relative;}
#topControls a{color:#0061AA !important;text-decoration:none !important;}#topControls a:last-child{padding-right:0;}
#topControls>.divider{display:inline-block;width:1px;height:8px;background:#777;}
#headerViewedRegistries{display:none;position:absolute;top:11px;left:-4px;z-index:100;-webkit-box-shadow:5px 5px 10px #888;-moz-box-shadow:5px 5px 10px #888;box-shadow:5px 5px 10px #888;background:white;padding:7px 8px 3px 11px;}
#cartQuantity{position:absolute;top:-4px;right:-3px;background-color:#0D89E6;color:white;-moz-border-radius:16px / 12px;-webkit-border-radius:16px / 12px;border-radius:16px / 12px;padding:2px 10px;border:2px solid white;behavior:url(/scripts/pie.htc);}
#headerBottom{margin-top:17px;}
#headerShop>.headerDropDown{width:709px;left:0;margin-top:-1px;}
#headerElfa>.headerDropDown,#headerSale>.headerDropDown{width:235px;left:-5px;margin-top:-1px;}
#headerElfa img{vertical-align:baseline;}
#headerShop>.headerDropDown>.headerDropDownColumn>a[data-is-sale$="yes"],#headerSale>.headerDropDownColumn>a[data-is-sale$="yes"]{color:#c00 !important;font-weight:bold!important;}
.headerDropDownColumn1,.headerDropDownColumn2{border-right:1px solid #A9C9E6;}
#footer{line-height:normal;margin-top:35px;}#footer #footer .emailInput{height:21px;font-size:14px;padding:2px 13px;width:270px;}
#footerNav{clear:both;margin:0 0 40px 0;}#footerNav>ul{padding:0;float:left;list-style-type:none;width:24.5%;margin:0;}#footerNav>ul.list{width:18.5%;}
#footerNav>ul>li{padding-bottom:3px;line-height:normal;font-size:12px;}#footerNav>ul>li.header{text-transform:uppercase;font-weight:bold;margin-top:14px;color:#666;}
#footerNav>ul>li>a{color:#999;text-decoration:none;}
#footerCareers{float:right;margin-top:30px;}
#footerCopyright{float:left;clear:both;margin-top:10px;color:#999;font-size:11px;width:380px;}
#footerSecurity{float:right;}
#mcafee{width:94px;height:54px;}
#verisign{color:#000000;text-decoration:none;font:bold 7px verdana,sans-serif;letter-spacing:.5px;text-align:center;margin:0px;padding:0px;}
#footerVerisign{float:right;margin-left:15px;}
#footerMcafee{float:right;margin-left:15px;}
.siteMessage_TOP_BANNER_container{margin:0 -8px;width:976px;}.siteMessage_TOP_BANNER_container>.siteMessage_TOP_BANNER_line{padding-top:5px;padding-bottom:5px;width:100%;color:#ffffff;background-color:#0063A9;text-align:center;}
.siteMessage_PROMO_SEARCH_container{float:right;clear:both;margin-top:12px;width:276px;text-align:center;}.siteMessage_PROMO_SEARCH_container>.siteMessage_PROMO_SEARCH_line{width:276px;text-align:center;font-size:13px;color:#0063A9;font-weight:bold;}
.siteMessage_PROMO_NAV_container{width:100%;margin-bottom:-20px;clear:both;}.siteMessage_PROMO_NAV_container>.siteMessage_PROMO_NAV_line{padding-top:15px;padding-bottom:5px;width:100%;color:#ffffff;background-color:#0063A9;text-align:center;font-weight:bold;}
.siteMessage_HEADER_container{padding-right:40px;float:right;width:260px;}.siteMessage_HEADER_container>.siteMessage_HEADER_line{padding-top:5px;padding-bottom:5px;width:100%;color:#0063A9;text-align:center;font-weight:bold;}
.siteMessage{line-height:normal;font-size:12px;}.siteMessage p:first-child{margin:0;padding:0;line-height:inherit;}
@media print{#topControls,#bottomControls,#headerBottom,#headerSearch,#footer,#footerCopyright,#footerSecurity,#oo_feedback_float,#oo_feedback_fl_spacer,#addThisToolbox,.liveChat,#BVRRDisplayContentHeaderID{display:none !important;}}.sale{color:#c00;font-weight:bold;}
a.nounderline{text-decoration:none;}
body{text-align:center;height:100%;width:100%;}
.bodyContent{text-align:left;width:960px;margin:0 auto;padding:0 8px;}
#revision p{padding:30px 0px 10px 0px;color:#ddd;font-size:9px;text-align:center;float:none;}#revision p.production{color:#ddd;}
.clearBoth{clear:both;}
#contentEnd{clear:both;padding:10px 0 0;}

