* { margin: 0; padding: 0; }
body { font: 12px Georgia, serif; }
html { overflow-y: scroll; }
a { text-decoration: none; }
a:focus { outline: 0; }
p { font-size: 15px; margin: 0 0 20px 0; }
#page-wrap { width: 440px; margin: 80px auto; }

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }



#example-two .list-wrap { 
	margin: 0 0 0 0;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 4px;
	padding-right: 5px;
	height: 93px;
	width: 543px;
	background-color: #f9f2e4;
	position: absolute;
	bottom: 0px;
	font-size: 11px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c9a96c;
	z-index: 0;
}

#example-two .nav {
	position: absolute;
	bottom: 103px;
	z-index: 1;
	left: 20px;
	font-size: 12px;
	font-weight: bold;
}


#example-two ul { list-style: none; }
#example-two ul li a { display: block; border-bottom: 0px solid #666; padding: 4px; color: #666; }
#example-two ul li a:hover {  color: white; }
#example-two ul li:last-child a { border: none; }

#example-two .nav { overflow: hidden; margin-left:10px; margin-bottom:0px; z-index:1000;}
#example-two .nav li { 
    float: left; 
    margin: 0 10px 0 0;    
    border-left: 1px solid #C9A96C;
    border-right: 1px solid #C9A96C;
    border-top: 1px solid #C9A96C;
    border-botom: 1px solid #F9F2E4;

 }
#example-two .nav li.last { margin-right: 0; border-bottom: 1px solid #F9F2E4;}
#example-two .nav li a { 
    display: block; 
    /* padding: 5px; */
    padding: 3px 10px; 
    background: #C9A96C; 
     /* height: 22px; */
    /*margin: 0 3px 0 0;*/
    color: white; 
    /* font-size: 10px; */
    font-size:12px;
    
    text-align: center; 
    border: 0; 
    }

#example-two li a.current,#example-two li a.current:hover {background-color: #f9f2e4; color: black; }
#example-two .nav li a:hover { background-color: #B5924e;}
#example-two .nav li a:focus { background-color: #f9F2e4;}

.customizer {
	height: 443px;
	width: 554px;
	border: 1px solid #c9a96c;
	position: relative;
}


