
/*
 * Responsive design adjustments for the ShopRunner elements
 */
@media screen and (max-width:767px){
	
	#cart-items-form .cart-footer .shoprunnerintegration {
		width: 320px;
		height: 45px;
		margin:0 auto;
	}
	
}
@media screen and (max-width:482px){
	
	#cart-items-form .cart-footer .shoprunnerintegration {
		width: 270px;
		height: 45px;
		margin:0 auto;
	}
	
}
.shoprunnerintegration { clear: both; }
.shoprunnerintegration img { float: left; }

.pdpForm .shoprunnerintegration { margin-bottom: 30px; }


#cart-items-form .cart-footer .shoprunnerintegration-wrapper  { border-top: 1px solid #e8e8e7; padding: 5px 0 5px 10px;}
/*#cart-items-form .cart-footer .shoprunnerintegration { border-top: 1px solid #e8e8e7; padding: 5px 0 5px 10px;}*/
.shoprunnerintegration a { 
	color: rgb(00,26,42) !important; 
	text-transform: uppercase; 
	text-decoration: underline; 
	font-weight: bold; 
}

.ie9 #cart-table .item-image .shoprunnerintegration { line-height: 18px; }
#cart-table .item-image .shoprunnerintegration,
#cart-table .item-image .shoprunnerintegration .sr_txt_style { 
	margin-top: 10px; 
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.shoprunnerintegration.sr_summary { 
	padding: 10px 0px; 
	width: 415px;
}
.sr_ship_free_txt{ margin:2px 7px 0px 0px; }
#sr_shipSum > div { width:auto !important; }
.shoprunnerintegration.sr_summary.billing .sr_radio{display:none;}
.shoprunnerintegration.sr_summary.billing{margin-left:15px;}
.shoprunnerintegration.sr_summary.billing .sr_ship_free_txt{margin-right:0px;}
/* L O G O U T _ _ B U T T O N _ _ S T A R T */

.mini-shipment .shippingMethod .shoprunnerintegration {clear: none;}

.mini-shipment .shippingMethod #sr_ShipOpt {
	font-size: 14px;
	color: rgb(00,26,42) !important;
	left: 300px;
	top: -3px;
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	text-decoration: underline;
	z-index: 1000;
}
#shipping-method-list #sr_ShipOpt{
	font-size: 14px;
	color: rgb(00,26,42) !important;
	right: 20px;
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	text-decoration: underline;
	z-index: 1000;
}
.content-checkout-step #shipping-method-list #sr_ShipOpt {
	right: 73px
}
.mini-shipment .shippingMethod #sr_ShipOpt a {
	position:relative;
	top: 32px;
}


/*akhi = Alaska & Hawai method*/
#shipping-method-list a.shoprunnerintegration.akhi {
	left: 280px;
	padding-top: 2px;
}

.ie9 #shipping-method-list a.shoprunnerintegration.akhi {
	padding-left: 4px;	
}


.mini-shipment .shippingMethod a.shoprunnerintegration.akhi {
	position:relative;
	left:0px;
	top:6px;
	display:inline;
}

#multiShippingShipmentsForm #shipping-method-list a.shoprunnerintegration {
	padding-top: 0;
	font-size: 13px;
	left: 265px;
}

#multiShippingShipmentsForm #shipping-method-list a.shoprunnerintegration.akhi {
	left: 283px;
}

#multiShippingShipmentsForm #shipping-method-list a.shoprunnerintegration ~ .radio-row .price-free{
	position: relative;
	left: 70px;
}
.shippingMethod.shoprunner  .name{
	width:60%;
}

/* L O G O U T _ _ B U T T O N _ _ E N D */

