@font-face {
font-family: 'Avenir Black';
src: url('/web20/assets/fonts/avenirltstd-light-black-webfont.eot');
src: url('/web20/assets/fonts/avenirltstd-light-black-webfont.eot?#iefix') format('embedded-opentype'),
url('/web20/assets/fonts/avenirltstd-light-black-webfont.woff') format('woff'),
url('/web20/assets/fonts/avenirltstd-light-black-webfont.ttf') format('truetype'),
url('/web20/assets/fonts/avenirltstd-light-black-webfont.svg#AvenirLTStd95Black') format('svg');
font-weight: normal;
font-style: normal;
}
