/* line 3, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > div.ui-dialog-titlebar {
  background-color: #ddd;
}
/* line 6, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > div.ui-dialog-titlebar > .ui-dialog-titlebar-close {
  width: 25px;
  height: 24px;
  right: 0.6em;
}
/* line 13, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay {
  background-color: #fff;
  padding-bottom: 0px;
}
/* line 17, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .main-view-holder {
  overflow: hidden;
  float: left;
}
/* line 21, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .main-view-holder img {
  max-width: none;
}
/* line 26, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  height: 455px;
  width: 99px;
  overflow: hidden;
}
/* line 35, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images {
  position: relative;
  top: 15px;
  overflow: hidden;
  height: 425px;
}
/* line 41, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul {
  position: absolute;
  margin: 1px 0;
}
/* line 45, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li {
  position: relative;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 1px 5px 1px 0;
  width: 86px;
  height: 105px;
}
/* line 53, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li > img {
  max-width: initial;
}
/* line 57, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li > img + span {
  display: none;
}
/* line 61, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li:last-of-type {
  margin-bottom: 2px;
}
/* line 66, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li.selected {
  border-color: #000;
}
/* line 70, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-zoomer-images > ul > li.selected:after {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -11px;
  content: ' ';
}
/* line 86, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-image-scroll {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  left: 15px;
}
/* line 92, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .alt-zoomer-images-container > .alt-image-scroll.alt-image-scroll-down {
  bottom: 0;
}
/* line 98, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .zoomer-buttons {
  text-align: center;
  font-size: 0;
  clear: left;
}
/* line 103, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
div.ui-dialog > .features-zoomer-overlay .zoomer-buttons img {
  cursor: pointer;
}
/* line 109, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
html.tablet div.ui-dialog {
  max-width: 750px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: #cccccc 0 0 0.42857em;
  -moz-box-shadow: #cccccc 0 0 0.42857em;
  box-shadow: 0 0 0.42857em #cccccc;
}
/* line 116, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
html.tablet div.ui-dialog > div.ui-dialog-titlebar {
  position: relative;
  padding: 18px;
}
/* line 120, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
html.tablet div.ui-dialog > div.ui-dialog-titlebar > .ui-dialog-titlebar-close {
  position: absolute;
  top: 0.6em;
  border: 0;
}
/* line 127, ../../../../src/mcom/features/zoomer/pdpOverlayZoomer.scss */
html.tablet div.ui-dialog > .features-zoomer-overlay {
  padding: 1em 1.42857em 1.42857em;
}
