/* Shopping Cart */
#csBasket {text-align:left; padding:0; width:475px;}
#csBasket .cs-header-text {font: bold 17px Arial, sans-serif; color:#000;}
#csBasket .cs-rec {float:left; width:140px; text-align:center; padding:3px; margin:5px;}
#csBasket img {width:100px; padding:3px; border:0;}
/*#csBasket a {color:#000; text-decoration:none; margin:5px;}
#csBasket a:hover {color:#999;}*/
#csBasket a span {display:block; clear:both;}
#csBasket .cs-price {margin:0; padding:0; padding-top:3px; font-weight:bold;}
#csBasket a:hover .cs-price {color: #000;}

/* Item page */
#cs-recslot {text-align:left; padding:0; font:12px Arial, sans-serif;}
#cs-recslot .cs-header-text {font: bold 17px Arial, sans-serif; color:#000;}
#cs-recslot .cs-rec {float:left; height: 185px; width:125px; text-align:center; padding:2px; margin:5px;}
#cs-recslot img {padding:2px; border:0;}
#cs-recslot a { text-decoration:none; margin:5px;}
#cs-recslot a:hover {}
#cs-recslot a span {display:block; clear:both;}
#cs-recslot .cs-price {margin:0; padding:0; padding-top:3px; font-weight:bold;}
#cs-recslot a:hover .cs-price {color: #000;}

