/*	
    3dcart Style Sheet 
    by Infomart2000 Corp.
    www.3dcart.com
    ---------------------   */

/*body:: Controls website background and any other text outside of a table without an associated style.*/ 	
body {

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000;
font-weight: normal;
padding: 0;
margin: 0;
background: url(../images/bg-body.jpg) repeat;

}
img {
	border: 0;
}
input,
textarea,
select {
	font-family: Arial, Helvetica, sans-serif;
}
#mobileMenu i,
#slideMenu i,
#closeSlideMenu i,
#mobileCatMenu i,
#mobileCart i,
#closecbpMenu i {
	color: #FFF;
	font-size: 21px;
}
blockquote {
	color: #000;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	background: #FFF;
	border-left: 6px solid #070b34;
	margin: 0 0 15px 0;
	padding: 40px;
}

/*******************************************************************************************************/
/*          STYLES USED ON THE FRAME OF THE WEBSITE (HEADER, LEFT NAV, RIGHT NAV AND FOOTER)           */
/*******************************************************************************************************/



/*frame:: Controls the left and right column background.*/		
.frame {
	background: #FFF;
}
/*mod_bg:: Controls the left and right column modules background.*/		
.mod_bg {
	background: none;
}
/*frame-ht:: Controls the height left, right and middle columns.*/		
.frame-ht {
	height: 1000px;
}
/*footer:: This style controls the text you type under global footer. Merchants usually use to add security logos, credit card logos, privacy notes, etc.*/		
.footer {
	font-size: 12px;
	color: #1b1c20;
	font-weight: normal;
}
/*footerLinks:: Controls the way the Footer Links display in the Global Footer.*/
.footer a, .footer a:visited, .footer a:hover, .footer a:visited:hover {
	font-size: 12px;
	color: #1b1c20;
	font-weight: normal;
	text-decoration: underline;
}
/*icon:: Controls the way the menu icons display if they are being used.*/ 
.icon {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
}
/*top-sellers-star:: Controls the background image and style for the top ranking item star.*/
.top-sellers-star {
	width: 42px;
	height: 42px;
	line-height: 42px;
	background: #ffffff;
	position: absolute;
	top: 0px;
	right: 5px;
	font-size: 18px;
	font-weight: normal;
	color: #272727;
	text-align: center;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
/*ranking:: Controls the way the menu icons display if they are being used.*/ 
.ranking {
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #070b34;
	width: 12px;
	height: 20px;
	text-align: left;
}
/*menu-text:: Controls the way the menu (mailing list) text look on the frame.*/ 
.menu-text {
	font-size: 11px;
	color: #070b34;
	font-weight: normal;
}
/*price2:: Controls the way the product's price display in the top sellers and new releases sections.*/ 
.price2 {
	font-size: 12px;
	color: #070b34;
	font-weight: bold;
}


/********************* Styles used for Headers and Titles  ****************************/

/*h1:: Controls the H1 tag.*/ 
h1 {

font-size: 12px;
line-height: 14px;
color: #070b34;
margin: 0;

}
/*h2:: Controls the H2 tag.*/ 
h2 {
font-size: 12px;
letter-spacing: 0px;
margin: 0;
}
/*h3:: Controls the H3 tag.*/ 
h3 {
font-size: 12px;
letter-spacing: 0px;
margin: 0;
}

/*page_headers:: Large DARK Blue Text.*/
.page_headers {
font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
font-weight: bold;
color: #070b34;
letter-spacing: 0px;
line-height: 16px;
}
/*page_headers2:: Large DARK Gray Text.*/
.page_headers2 {

font-family: Verdana, Geneva, sans-serif;
font-size: 16px;
font-weight: bold;
color: #272727;
letter-spacing: 0px;
line-height: 14px;

}
/*page_headers3:: Large LIGHT blue/gray Text.*/
.page_headers3 {

font-family: Verdana, Geneva, sans-serif;
font-size: 14px;
font-weight: bold;
color: #708090;
letter-spacing: 0px;
line-height: 12px;

}
/*category_header:: Category Header div holder.*/	
.category_header {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #070b34;
text-align: center;
background-color: #ededed;
padding-top: 4px;
padding-bottom: 6px;
}
/*menu-headers:: Controls the way the menu titles look. For example: Categories, Browse By Price, Top Sellers, etc.*/ 
.menu-headers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	background-color: #070B34;
	text-indent: 12px;
}

/*******************************************************************************************************/
/*                            STYLES USED FOR LINKS                                                    */
/*******************************************************************************************************/

/*A:: Controls the way the all Links without an associated style display before a user clicks or mouses over them.*/ 	 
A {
	color: #070b34;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:hover:: When a user passes  their mouse over them.*/ 	 	
A:hover {
	color: #a9a9a9;
	text-decoration: none;
}
/*A:visited:: After a user has visited that section.*/ 
A:visited {
	color: #070b34;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:visited:hover:: When a user hovers over a section they have visited.*/ 	 
A:visited:hover {
	color: #a9a9a9;
	text-decoration: none;
}

/*A.cat:: Controls the way the Category Links display in the left or right navigation bars before a user clicks or mouses over them.*/ 	 
A.cat {
	color: #070b34;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	display: block;
	line-height: 21px;
	padding: 0 10px 0 25px;
	background: url(../images/li.png) no-repeat 9px 5px;
}
/*A.cat:hover:: When a user passes  their mouse over them.*/ 	
A.cat:hover {
	color: #272727;
	text-decoration: none;
}
/*A.cat:visited:: After a user has visited that section.*/ 
A.cat:visited {
	color: #070b34;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	display: block;
	line-height: 21px;
	padding: 0 10px 0 25px;
	background: url(../images/li.png) no-repeat 9px 5px;
}
/*A.cat:visited:hover:: When a user hovers over a section they have visited.*/ 	 
A.cat:visited:hover {
	color: #272727;
	text-decoration: none;
}
/*A.subcat:: Controls the way the Sub-Category Links display in the left or right navigation bars before a user clicks or mouses over them.*/ 	 
A.subcat {
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
/*A.subcat:hover:: When a user passes  their mouse over them.*/ 	
A.subcat:hover {
	color: #070b34;
	text-decoration: none;
}
/*A.subcat:visited:: After a user has visited that section.*/ 
A.subcat:visited {
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
/*A.subcat:visited:hover:: When a user hovers over a section they have visited.*/ 	 
A.subcat:visited:hover {
	color: #070b34;
	text-decoration: none;
}
/*A:menu:: Controls the way the Links display in the top navigation before a user clicks or mouses over on them.*/ 	 
A.menu {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	padding: 0 0.5em;
}
/*A:menu:over:: When a user passes their mouses over them.*/ 	
A.menu:hover {
	color: #1f3fc9;
	text-decoration: none;
}
/*A:menu:over:: After a user has visited that section.*/ 	
A.menu:visited {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	padding: 0 0.5em;
}
/*A:menu:visited:over:: A user hovers over a section they have visited.*/ 		
A.menu:visited:hover {
	color: #1f3fc9;
	text-decoration: none;
}
/*A:menu-bottom:: Controls the way the Links in the footer display before a user clicks or mouses over on them.*/ 	 
A.menu-bottom {
	color: #FFF;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:menu-bottom:over:: When a user passes their mouses over them.*/ 	
A.menu-bottom:hover {
	color: #070b34;
	text-decoration: none;
}
/*A:menu-bottom:over:: After a user has visited that section.*/ 	
A.menu-bottom:visited {
	color: #FFF;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:menu-bottom:visited:over:: When a user hovers over a section they have visited.*/ 		
A.menu-bottom:visited:hover {
	color: #070b34;
	text-decoration: none;
}
/*A:link:: Controls the way Secondary Links display before a user clicks or mouses over on them.*/ 	 
A.link {
	color: #FFF;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:link:over:: When a user passes their mouses over them.*/ 	
A.link:hover {
	color: #070b34;
	text-decoration: none;
}
/*A:link:over:: After a user has visited that section.*/ 	
A.link:visited {
	color: #FFF;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
/*A:link:visited:over:: When a user hovers over a section they have visited.*/ 		
A.link:visited:hover {
	color: #070b34;
	text-decoration: none;
}
/*A.details:: Controls the way the Top Sellers Links display before a user clicks or mouses over them.*/ 	 
A.details {
	color: #2c3e50;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 4px 6px;
}
/*A.details:hover:: When a user passes their mouse over them.*/ 	 	
A.details:hover {
	color: #FFF;
	background: #5973b6;
	text-decoration: none;
}
/*A.details:visited:: After a user has visited that section.*/ 
A.details:visited {
	color: #2c3e50;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	background: #FFF;
	padding: 4px 6px;
}
/*A.details:visited:hover:: When a user hovers over a section they have visited.*/ 	 
A.details:visited:hover {
	color: #FFF;
	background: #5973b6;
	text-decoration: none;
}
/*******************************************************/
/*          STYLES USED THROUGHTOUT THE WEBSITE        */
/*******************************************************/



/*Alignment fix for the use of the XHTML Transitional DOCTYPE.*/ 
tr {
	text-align: left;
}
/*td:: Controls all text inside a table without and associated style.*/ 
td {
	text-decoration: none;
	word-spacing: normal;
	font-size: 12px;
}
/*data:: Controls the font style of your content on all the pages.*/
.data {
	text-decoration: none;
	word-spacing: normal;
	font-size: 12px;
}
/*alternative:: Controls the background color of the boxes used throughout the site.*/
.alternative {
	background: #FFF;
}

/*error:: Controls the error messages*/ 
.error {
	font-size: 12px;
	font-weight: bold;
	color: #e10e04;
	text-decoration: none;
}
/*borders:: Controls the color of the line dividers used throughout the site.*/ 
.borders {
	color: #585C5F;
	border: 1px solid #CCC;
	border-style: none none solid;
}
/*borders2:: Controls the color of the solid line dividers used throughout the site.*/ 
.borders2 {
	border: 1px solid #CCC;
	border-style: none none solid;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON VIEW CART AND CHECKOUT PAGES      */
/*******************************************************************************************************/

/*checkout-headers:: Controls the titles of the sections on the checkout pages (Billing Information, Shipping Information etc)*/
.checkout-headers {
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
/*steps:: Controls the way the steps on the checkout pages display.*/
.steps {
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
}
/*steps_on:: Controls the way the step the customer is currently on displays on the checkout pages.*/
.steps_on {
	font-size: 16px;
	font-weight: bold;
	color: #070b34;
}
/*******************************************************************************************************/
/*   STYLES ONLY USED ON PRODUCT PAGES      */
/*******************************************************************************************************/

/*options-titles:: Controls the way the option titles display on the product page.*/
.options-titles {
	font-size: 12px;
	font-weight: bold;
	color: #585C5F;
	border: 1px solid #CCC;
	border-style: none none solid;
}
/*item:: Controls the item description and item details text.*/ 
.item {
	font-size: 12px;
	color: #000;
}
/*itemTitle:: Controls the name of the Product.*/ 
.item-title {
	font-size: 22px;
	color: #070b34;
	font-weight:bold;
}
/*price-info:: Controls the way the sub-prices display on the product page, the final price is controlled by the style called "price".*/ 
.price-info {
	font-size: 12px;
	font-weight: bold;
	color: #585C5F;
}
/*small-txt:: Controls the way the item id displays.*/ 
.small-txt {
	color: #afafae;
	text-decoration: none;
	text-align: left;
	letter-spacing: 0;
	font-size: 10px;
	vertical-align:bottom;
}
/*availability-txt:: Controls the way the Availability of the product displays i.e. 'In Stock', 'Back Order'.*/ 
.availability-txt {
	color: #070b34;
}
/*reward-title:: Controls the title of the Reward Points section.*/ 
.reward-title {
	color: #070b34;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 7px;
	line-height: 10px;
	font-size: 16px;
	font-style:italic;
}

/********************************************/
/*   STYLES USED ONLY ON THE INVOICE        */
/********************************************/

/*invoice_table:: Controls the background color on your invoices*/ 
.invoice_table {
	background-color: #f9f8f8;
}
/*invoice_title:: Controls the way the title of the invoices look */ 
.invoice_title {
	font-size: 10px;
	font-weight: bold;
	background-color: #cbcaca;
	color: #4f4e4e;
}
/*************************************************************/
/*          LEGACY STYLES: STYLES USED PRIOR TO v3.2         */
/*************************************************************/

/*font1:: Primary Screen Font */ 
.font1 {
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
/*font2:: Secondary Screen Font */ 
.font2 {
	font-size: 12px;
	font-weight: bold;
	color: #070b34;
}
.font3 {
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
.font4 {
	font-size: 12px;
	font-weight: bold;
	color: #c32519;
}
/*top:: Controls the  Color of the top Bar*/		
.top {
	background: none;
}
/*line:: Controls the  Color of the line bellow the top bar*/		
.line {
	background: #FFF;
}

/*********************************/
/*          CUSTOM STYLES        */
/*********************************/

/* Accent/Secondary Colors */

.accent-color {
    color: #070b34;
}
.accent-bg-color {
    background: #e2e2e2;
    color: #000;
}

#mainContainer {
	padding: 0 0 80px;
}
.wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#mobileCatMenu {
	display: none;
	float: left;
	width: 30px;
	height: 25px;
	margin: 2px 0 0 10px;
	list-style: none;
}
#slideMenu {
	display: none;
	float: left;
	width: 30px;
	height: 25px;
	margin: 35px 10px 0 10px;
    cursor: pointer;
}
#closeSlideMenu {
	display: none;
	float: right;
	width: 30px;
	height: 25px;
	margin: 0 0px 10px 10px;
    cursor: pointer;
}
#mobileCart {
	display: none;
	float: right;
	width: 30px;
	height: 25px;
	margin: 0 10px 0 0;
}
#mobileMenu {
	display: none;
	float: right;
	width: 30px;
	height: 25px;
	margin: 2px 0 0 10px;
}
#closecbpMenu {
    text-align: right;
    display: none;
}
header {
	min-height: 30px;
	position: relative;
}
nav#showSlideMenu {
    display: inline-block;
}
#FRAME_MENU {
	display: inline;
}
.utils ul {
	list-style: none;
	margin: 0 0.5em 0 0;
	padding: 0;
	display: inline;
}
.utils li {
	display: inline-block;
	line-height: 38px;
}
.utils li.div {
	background:#FFF;
	width: 2px;
	height: 10px;
}
aside#leftBar {
	float: left;
	width: 186px;
	min-height: 800px;
	margin: 0 9px 0 0;
	padding: 15px 0 0 0;
    display: block;
	background-color: rgb(125, 131, 192); /* Hex Value: #38419d */
	background-color: rgba(125, 11, 192, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21)";
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
aside#rightBar {
	float: left;
	width: 186px;
	min-height: 800px;
	display: block;
	margin-left: 10px;
	padding: 15px 0 0 0;
	background-color: rgb(148, 157, 241); /* Hex Value: #38419d */
	background-color: rgba(148, 157, 241, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21)";
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
aside .module {
	margin-bottom: 10px;
	padding: 0 0 20px;
}
aside .module ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
aside .module li.div {
	width: 170px;
	height: 1px;
	background: #8d8d8d;
	border: none;
	margin: 0 auto;
}
aside .module .info {
	width: 100%;
	padding: 0 15px;
}
aside .module .name {
	line-height: 1em;
	margin-bottom: 10px;
}
aside .module .price2 {
	float: left;
}
aside .module .stars {
	float: right;
}
aside .module .div {
	display: block;
	height: 1px;
	background: none;
	border-bottom: 2px dotted #8d8d8d;
	margin: 10px 15px;
}
aside li.sub-cat {
	margin: 0 10px 0 25px;
}
.manf-select {
	width: 183px;
	overflow: hidden;
	height: 29px;
	background: #FFF url(../images/dark-arrow.png) no-repeat right center;
	border: 1px solid #000;
}
.manf-select select {
	font-weight: bold;
	width: 210px;
	height: 29px;
	line-height: 29px;
	-webkit-appearance: none;
	background: transparent !important;
	border: none;
}
.topsellers_topitem {
	position: relative;
	margin: 0 12px;
	padding: 0 0 10px 0;
}
.topsellers_topitem .img {
	display: table-cell;
	width: 171px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
}
.topsellers_topitem .img img {
	width: 150px;
}
.topsellers_topitem .info {
	padding: 0.5em 0;
}
#mainContent {
	float: left;
	width: 100%;
	min-height: 800px;
	margin: 0;
	padding: 15px 5px;
	background: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
footer {
	min-height: 100px;
	position: relative;
}
ul.frame-links {
	list-style: none;
	display: block;
	text-align: center;
	line-height: 30px;
	margin: 25px 0 10px;
	padding: 0;
}
ul.frame-links li {
	display: inline-block;
	margin: 0 5px;
}
#copyright {
	text-align: center;
}
#globalFooter {
    margin-top: 15px;
}
#modMailist label {
	line-height: 14px;
	display: block;
	margin-bottom: 15px;
}
#modMailist form {
	padding: 0 10px;
}
#modMailist input {
	float: left;
}
#modMailist label {
	display: none;
}
#modMailist input[type="text"] {
	color: #374a51;
	font-size: 11px;
	border: 2px solid #dff2f6;
	width: 77%;
	height: 22px;
	line-height: 22px;
	margin: 0 3px 10px 0;
	padding: 0 0 0 5px;
}
#modMailist input[type="submit"] {
	margin: 0 0 10px 0;
    padding: 2px;
	width: 19%;
}
.stats {
	height: 0;
	overflow: hidden;
}
.header-specials {
	color: #070b34;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	margin: 0 0 10px;
}
.product-item {
	width: 100%;
	background: #FFF;
	border: 1px solid #e9e9e9;
	padding: 0 10px;
	position: relative;
	overflow: hidden;
}
.product-item .name {
	min-height: 60px;
}
.category-footer {
	border-top: 1px solid #4e4e4d;
	padding: 15px 0;
}

/*********************************/
/*       LTE8 IE FALLBACK        */
/*********************************/
.no-boxshadow .boxShadow {
	border: 1px solid #e9e9e9;
}

/*	Theme Responsive Styles
	-----------------------	*/
@media only screen and (max-width: 767px) {

html {
	padding: 0 !important;
}
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
	margin: 0 !important;
	padding: 0 !important;
}
.wrapper {
	width: 100% !important;
	margin: auto;
}
aside {
	display: none !important;
}
#mainContent {
	display: block;
	width: 100% !important;
	padding-bottom: 2em;
}
.top-menu-bar {
	background-color: rgb(57, 43, 33); /* Hex Value: #392b21 */
	background-color: rgba(57, 43, 33, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21)";
    min-height: 35px;
}
header {
	background: none;
    min-height: 155px;
}
#logo {
	float: none;
	margin: 0;
	width: auto;
	text-align: center;
}
#logo img {
	max-width: 100%;
    max-height: 70px;
}
.utils {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0 2%;
}
.utils li {
    display: block;
}
.utils li.div {
    display: none;
}
#searchBox {
	width: 100%;
	margin: 0 !important;
}
#searchBox input[type="text"] {
	width: 74%;
	height: 30px;
	line-height: 30px;
	margin: 0 2px 0 0;
}
#searchBox input[type="submit"] {
	height: 30px;
}
nav#navCatMenu {
	width: 100%;
	height: auto;
    overflow: visible;
}
nav#navCatMenu ul {
	display: none;
	background: #FFF;
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 10px;
    z-index: 1005;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
nav#navCatMenu li {
	float: none;
	text-align: center;
	display: block;
}
nav#navCatMenu li a,
nav#navCatMenu li a:visited {
	color: #000 !important;
	font-size: 14px !important;
	font-weight: bold !important;
	line-height: 2.5em !important;
	background: none !important;
	width: 100%;
	float: none;
	display: block;
	padding: 0 !important;
}
nav#navCatMenu li.div {
	display: none;
}
#homeCarousel {
    position: relative;
	margin: 0 auto 15px !important;
    overflow: hidden;
}
#homeCarousel img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#homeHeader {
	border: none;
	margin-bottom: 0;
	padding-bottom: 20px;
}
#homeHeader img {
	width: 100%;
	height: auto;
}
.productBlockContainer {
	margin: 0;
}
.header-specials {
	width: 100%;
	text-align: center;
}
.product-item {
	width: 95%;
	margin: 0 auto 13px;
}
.last-item .product-item {
	margin: 0 auto 13px;
}
.product-item .img {
	width: 100%;
	margin: 0 auto;
}
footer {
	padding-bottom: 30px;
}
#copyright {
	float: none;
	text-align: center;
}
#FRAME_LINKS {
	float: none;
}
ul.frame-links {
	list-style: none;
	text-align: center;
	width: 100%;
	padding: 1.5em 0;
}
ul.frame-links li {
	float: none;
	display: block;
	margin: 0 0 10px 0;
}
#globalFooter {
	float: none;
	text-align: center;
	margin-top: 10px;
}

/* General styles for Slide Out Menus */
.cbp-spmenu {
	background-color: rgb(57, 43, 33); /* Hex Value: #392b21 */
	background-color: rgba(57, 43, 33, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99392b21, endColorstr=#99392b21)";
	position: fixed;
}
.cbp-spmenu a,
.cbp-spmenu a:visited {
	display: block;
	font-size: 1.1em;
	font-weight: 300;
    text-align: left;
}
.cbp-spmenu a:hover,
.cbp-spmenu a:visited:hover {
}
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #000;
	padding: 1em;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #000;
}
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
	left: -240px;
}
.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	left: 0;
    z-index: 1050;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0;
}
/* Push classes applied to the body */
 
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toright {
	left: 240px;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
/* Transitions */
 
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

}

@media only screen and (min-width: 768px) and (max-width: 980px) {

html {
	padding: 0 !important;
}
body {
    max-width: 100%;
    overflow-x: hidden;
	padding: 0 !important;
}
.wrapper {
    width: 100%;
}
.productContainer {
	float: none !important;
}
.product-item {
	width: 100%;
}
#rightBar {
    display: none !important;
}
#slideMenu {
    display: block;
}
#closeSlideMenu {
    display: block;
}
aside#leftBar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	width: 300px;
	height: 100vh;
    margin: 0;
    padding: 0.5em;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    overflow: auto;
}
#logo {
	width: 30%;
	margin-left: 2%;
}
#mobileCatMenu {
	display: none !important;
	list-style: none;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

#slideMenu {
    display: block;
}
aside#leftBar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
	width: 300px;
	height: 100vh;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    overflow: auto;
}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

#rightBar {
    display: block;
}
aside#leftBar {
	position: relative;
	top: 0;
	left: 0;
	z-index: 100;
	display: block;
	width: 186px;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    overflow: auto;
}

}
