@charset "utf-8";
/* CSS Document */
.dijitInputFieldFocused {
	border: solid 2px #FFDF00;
}
.dijitReset input {
	padding:3px;
	height:auto;
	line-height:normal;
}
.dijitTextBox {
    /*background: url("../dojo/dijit/themes/tundra/images/validationInputBg.png") repeat-x scroll left top #FFFFFF;*/
    border: 1px solid #ccc;
	width:auto
}
.dijitError {  
    background-color:none;  
    background-image:none;  
 }
.dijitValidationIcon {
	display:none
}
.dijitButtonNode .dijitArrowButtonInner {
    background: url("../dojo/dijit/themes/tundra/images/spriteArrows.png") no-repeat scroll 0 center transparent;
	background-position: 0 center;
    margin: 0 4px;
    width: 7px;
}
.dijitButtonNode {
    background: url("../dojo/dijit/themes/tundra/images/buttonEnabled.png") repeat-x scroll left bottom #FFFFFF;
}
.phone.dijitTextBox {
	width: 34px;
}
.phone.phone2.dijitTextBox {width: 42px;}
div.action-button span.dijitButtonNode span {
	margin:0;
	padding:0;
}
span.dijitButtonNode{	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF8C00), color-stop(1, #F47C22 ) );
	background:-moz-linear-gradient( center top, #FF8C00 5%, #F47C22  100% );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C00', endColorstr='#F47C22');
	background-color:#FF8C00;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-weight:bold;
	padding:5px 12px;
	text-decoration:none;
	text-transform:uppercase;
	border:none
}
span.dijitButtonNode span.dijitButtonText {
	text-transform: uppercase;
	font-size: 12px;
	border: none !important;
	color: #fff;
}
div.action-button span.dijitButton,
div.action-button span.dijitButton span {
	margin-left:0;
}
.dijitTextBoxDisabled, 
.dijitTextBoxDisabled span.dijitButtonNode,	
.dijitTextBoxReadOnly, 
.dijitTextBoxReadOnly span.dijitButtonNode
{
	background-color: #eee;
}
	
.dijitButtonDisabled span.dijitButtonNode, 
.dijitToggleButtonDisabled span.dijitButtonNode, 
.dijitDropDownButtonDisabled span.dijitButtonNode, 
.dijitComboButtonDisabled span.dijitButtonNode
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFA333), color-stop(1, #F47C22) );
	background:-moz-linear-gradient( center top, #FFA333 5%, #F47C22 100% );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA333', endColorstr='#F47C22');
	background-color:#FFA333;
}
.quick_add span.dijitButtonNode span.dijitButtonText {font-size:10px;}
.dijitInputInner{ padding-left: 5px !important; padding-right:5px !important}
.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton{ margin:0 }
.dijitTooltipRight{ display:none }


/* Mobile number section */

.phone.phoneDisabled.dijitTextBox {width: 39px;}

.phone.phoneDisabledFirst.dijitTextBox {
	width: 28px;
	margin:0 3px 0 0;	
}

#loginSection .dijitTextBox { 
/*border:none;*/
 }
.dijitButtonNode .dijitArrowButtonInner {
    background: url("../images/global/spriteArrows.png") no-repeat scroll 0 center transparent;
	background-position: 0 center;
    margin: 0 4px;
    width: 7px;
}
.dijitButtonNode {
    background: url("../images/global/buttonEnabled.png") repeat-x scroll left bottom #FFFFFF;
}
/* END */