#footer .tool .frame #social_icons_container .social-link,
#footer .tool .frame #sms_link_container .social-link {
	display: inline-block;
	float: none;
}

#sms_link_container {
	display: block;
	float:right;
	width: auto;
	height: 30px;
	padding: 15px 0px 15px 0px;
}

.social-icons {
	background: url(http://s7d9.scene7.com/is/image/LordandTaylor/sprite-footer?wid=210&30&fmt=png); 
	display: inline-block;
	height: 30px; 
	width: 30px;
	margin-right: 17px;
}

#sms_link_container .sms_blurb {
	display: inline-block;
	float: left;
	color: #54534A;
	line-height: 30px;
	text-transform: none;
	font-family: TriviaGroteskR2;
	font-size: 14px;
	font-weight: normal;
	margin-right: 17px;
}
#social_icons_container {
	display: block;
	float:left;	
	height:30px;
	width:auto;
	padding: 15px 0px 15px 0px;
}

.social-icons.fb_icon {
	background-position: 0px 0px;
}
.social-icons.twitter_icon {
	background-position: -30px 0px;
}
.social-icons.pinterest_icon {
	background-position: -60px 0px;
}
.social-icons.youtube_icon {
	background-position: -90px 0px;
}
.social-icons.instagram_icon {
	background-position: -120px 0px;
}
.social-icons.tumblr_icon {
	background-position: -150px 0px;
}
.social-icons.sms_link {
	background-position: -180px 0px;
	margin-right: 0px;
}

