@charset "utf-8";
/* CSS Document */
div.quick_add{ 
	overflow:hidden;
	/*Part of defect 2293 fix*/
	/*padding:7px 0 7px 155px;*/
	padding:7px 0 7px 163px; 
	/*END - Part of defect 2293 fix*/
	border-bottom:solid 1px #818181; 
}
div.quick_add a{ margin-left:10px !important; line-height:normal}
div.quick_add span.allbutton{ margin-left:10px; margin-top:-2px }
div.quick_add select{ width:170px}
/*Part of defect 2293 fix*/
/*.ad-book{ float:left; overflow:hidden; height:auto; width:760px; margin:20px 0px 15px 0px;}*/
.ad-book{ float:left; overflow:hidden; height:auto; width:760px; margin:0px 0px 0px 0px;}
/*END - Part of defect 2293 fix*/
ul.info-form{ overflow:hidden; float:left }
div.margin_he{ height:8px;}
ul.info-form li{ margin-bottom:7px; overflow:hidden; line-height:140% }
ul.info-form li.mark{ font-size:11px }
ul.info-form li div{ float:left; overflow:hidden }
ul.info-form li div span{ font-size:11px; color:#666; width:320px; display:block; float:left; margin-top:1px }
ul.info-form li div p{ float:left; color:#666; line-height:22px; overflow:hidden; margin:0 2px }
ul.info-form li div p.ext{ color:#000; margin-left:10px }
ul.info-form li div.ifreceive{ clear:both; margin-top:12px; width:300px }
ul.info-form li div.ifreceive input{ width:auto; border:none; height:auto; line-height:normal; margin:0; padding:0 }
ul.info-form li div.ifreceive label{ width:250px; margin-top:-4px; margin-left:3px }
ul.info-form li input{width:205px; float:left}
ul.info-form li input.spec_input{ width:auto; border:none; margin-left:10px;}
ul.info-form li label.spec_input2{width:auto; margin:0px; text-align:left}
div.email-noti ul.info-form li input{width:200px;float:left}
ul.info-form li input.mulit{ margin-bottom:7px; float:none }
ul.info-form li input.posalcode{ width:62px }
ul.info-form li input.phone1{ width:18px }
ul.info-form li input.phone2{ width:28px }
ul.info-form li input.rewards{ width:98px; margin-top:2px }
ul.info-form li select{ width:120px }
ul.info-form li label{
	text-align:right;
	display:block;
	float:left;
	padding-top:3px;
	width:148px;
	line-height:120%;
	overflow:hidden;
	margin-right:7px;
}
ul.info-form li label.bottom_lable{
	width:157px;}
ul.info2 li label{width:90px;}
ul.info-form.for-shipping{ margin-top:29px; display:none }
ul.info-form.for-shipping li div span{ width:300px }
.profile-con{ overflow:hidden; padding:10px;}
.profile-con h4{font-size: 12px; margin: 0 0 0 25px;}
div.check-like{
	clear:both;
	overflow:hidden;
	margin-bottom:5px;
}
div.check-f{margin-bottom:40px;}
div.check-like input{ width:15px; display:block; float:left; border:none; height:auto; margin-right:3px;; padding:0}
div.floatri ,p.floatri{ margin-left:60px;}
div.check-like label{
	display:block;
	float:left;
	line-height:13px;
	margin-left:3px
}
div.proinfo-check h4{ color:#818181; font-size:12px}
div.look-for{ overflow:hidden; padding:12px;}
div.profile-info{ padding:20px 0px 10px 0px;}
.normal-check{ width:15px;}
ul div#reward-no2{ background:#F4F4F4; padding:10px 7px 10px 0px; margin-top:10px;}
div.proinfo-check{
	float:left;
	overflow:hidden;
	margin-top:10px;
	margin-left:50px
}
div.proinfo2{
	float:none;
	overflow:hidden;
	margin-top:10px;
	margin-left:0px
}
.pro-pannel{
	color:#666;
	width:auto;
	float:left;
	margin-bottom:10px;
}
.pro-address{
	margin-top:10px;
	float:left;
	width:auto;
}
.add-better{ overflow:hidden; padding:15px 0px 15px 0px;border-top:solid 1px #666;}
.add-better h4{ font-size:12px }
div.dis-birth select, option{ margin-right:8px;}
div.dis-birth div.disc { float:none; margin-left:163px;}
div.dis-birth div.disc span{ float:left; width:65px;}
#arbt1, #arbt2{ clear:both; width:auto !important; border:none;}
ul.info-form li label.txt{ width:auto}
ul.info-form li input.txt{ float:left;}
.privacy{ color:#000; font-weight:bolder; font-size:10px; text-transform:uppercase; margin-left:170px; margin-top:100px;}
div.form-title{  border-bottom:solid 2px #666; padding:6px 0 6px 0}
div.nwin-title{ border-bottom:solid 2px #666; padding:6px 0 6px 0}
div.form-title h3{ text-transform:uppercase; font-size:14px}
div.form-title h4{ font-size:12px }
div.form-check{ overflow:hidden; padding:10px 0 10px 0px;}
div.form-check input{ border:none;}
div.email-noti{ float:left }
div.email-noti ul.info-form li label{ width:75px;}
ul.info-th li label{width:55px;overflow:hidden}
input#wlike-other{ width:15px; display:block; float:left; border:none; height:auto; margin-right:3px;; padding:0}
div#e-others input{width:20px; margin-left:10px;}
div.thx-feed-sub{ overflow:hidden; width:940px}
div.thx-feed-sub div.thxchf{ padding-bottom:30px; overflow:hidden}
div.thx-feed-sub div.floatri2{ margin-left:75px;}
div.thx-feed-sub div.thxchf h4{ font-size:12px }
div.nwin-form{padding-left:10px;}
div.se-title{ width:570px; margin-bottom:10px;}
div.pop_boder{ padding:15px 0px; height:30px;border-top:solid 3px #666; background-color:#f6f6f7}
div.unsub_notifi a, div.unsub_notifi a:visited {
	text-decoration:none; color:#000;
}
div.unsub_notifi a:hover {
	text-decoration:underline; color:#AB1F21;}
div.unsub_notifi{ font-weight:bold; color:#AB1F21; height:auto; border-top:solid 1px #818181; padding:10px;}
form#addressBookForm input.dijitInputInner{ width:205px !important }
form#addressBookForm input#country, form#addressBookForm input#province{ width:120px !important }
form#addressBookForm div#widget_po{ width:74px !important }
form#addressBookForm div.allerrors{ margin-left:155px }
form#changeProfile input.dijitInputInner{ width:205px !important }
form#changeProfile input#country, form#changeProfile input#province, form#changeProfile input#preferred{ width:120px !important }
form#changeProfile div.allerrors{ margin-left:155px }
form#notification div.allerrors{ margin-left:82px }
form#notification input.dijitInputInner{ width:190px !important }
form#notification ul.info2 div.allerrors{ margin-left:97px }
form#notificationSignUp div.allerrors{ margin-left:82px }
form#notificationSignUp input.dijitInputInner{ width:190px !important }
form#notificationSignUp ul.info2 div.allerrors{ margin-left:97px }
form#thankYou div.allerrors{ margin-left:62px }
form#thankYou input.dijitInputInner{ width:200px !important }
/*fix error message position*/
ul#contact_info_form div.allerrors {
	margin-left:120px;
}

/* Changes for Unsubscribe page */
div.unsub_notifi_border{ border-bottom:solid 1px #818181; padding:10px;}
.look-for p.rec_disc { margin-left:0px;}
.look-for  ul.info-th li label { width:34px;}
.pro-pannel p.alignTxt{ padding:10px 0 0 0; font-weight:bold;}


.pro-pannel div.look-for{margin-left:0;}
.check-like li label {margin-right:7px}
.unsub_notifi_border p a{ text-decoration: underline;}
.headSub{ margin-bottom:10px;color:#666666;}
ul.info-form li label.bottom_lable{	width:90px;}
ul.info-form li.markPad { padding-left:95px;}

.myaccountBillingCheck{
	left: 163px;
    position: relative;
    /*Part of defect 2293 fix*/
    /*top: -30px;*/
    top: -20px;
    /*END - Part of defect 2293 fix*/
    width:200px;
}
.myaccountAdBook{
	 position: relative;
     top: -24px;
     margin-top:0px;
}
input{ margin-right:3px; float:left; height:20px; line-height:20px; border:solid 1px #ccc; padding:1px 5px }

div.proinfo-check { width:255px; margin-left:30px !important;}
div.proinfo2 { width:auto;}
div.unsub_notifi_border {
    margin-bottom: 15px;
    padding: 10px 0 0 !important;
}
.emlFrq{ margin-top:20px !important;}
#main_content .thxconten p { width:350px;}
.pro-pannel div.look-for {
    margin-left: -12px;
    margin-top: 10px;
}
div.look-for ul.info-th li input#unsubEmail { width:150px !important;}
.look-for p.rec_disc {
    margin-bottom: 8px;
}
#main_content .thxconten p#WC_Unsubscribe_NotiPrefRegUsers ,#WC_Unsubscribe_Register { width:auto !important;}
.pro-pannel div.unSub .check-like{margin-bottom:3px !important;}
div.unSub div.check-like li {
    width: auto;
}
div.thx-feed-sub div.thxchf {
    padding-bottom: 20px;
}
.proSub{
	margin-bottom: 0px;
}
form#AddressForm .addrspace,form#AddressForm1 .addrspace
{
	padding: 0 0 30px 0;
}
.profile-con h4.headSub { margin-left:9px !important; }
.profile-con h4.normal{margin:15px 0 0 2px !important;}
.profile-con .topMar{margin-top:0px !important;}
.profile-con .topMar div.look-for{margin-top:0px !important; margin-left: 60px;}
.profile-con h4.profileHead
{
	margin: 0 0 0 10px;
}