
/* Liquid Pixel Image Styles */

#mainImage { 
	height: 300px;
	width: 300px;
	overflow: hidden;
	padding-top: 25px;
	z-index: 0;
}

#mainImageZoom {
	position: absolute;
	height: 300px;
	width: 300px;
	border: 3px solid #b1b1b1;
	overflow: hidden;
}

#imageContent{
	height: 300px; 
	width: 300px;
}