.panel{
	display:block;
	float:left;
	margin:2px 0;
	width:45%;
	text-align:left;
	background:transparent;
	padding:0;
}
.panel img {
	float:left;
}
.clear{
	clear:both;
	font-size:1px;
}
form ul {list-style: none; margin: 0; padding: 0}
form li {margin: 0.5em 0;}

label {text-align:right; width:8em; margin-right:0.5em;
float:left; display:block;
}
table label
{
text-align:left; width:10em; margin-right:0.5em;
float:none; display:inline;
}
li.check label {text-align:left; width:auto;
float:none; display:inline; }
li.check span {display:inline; padding-left:0em; }
li.check span.name {padding-left:0em; width:12em;margin-right:0.5em;text-align:right; }
li.submit input {margin-left:12.5em; 
border:1px solid;
border-color:#ddf #003 #003 #ddf;
}


/* make button looks like a like */
.linkbutton
{
	cursor:hand;
	background:transparent;
	border:0;
	color:blue;
}

.button
{
	margin-left:20em;
}

/* used to show/hide links that depends on javascript */
.posthidden {display:none} 
.postshown {display:inline}

div#footer ul
{
	list-style: none;
}
div#footer ul li
{
	display: inline;
}

ul.modulemenu
{
	list-style: none;
}
ul.modulemenu li
{
	display: inline;
}
ul.breadcrumbs
{
	list-style: none;
}
ul.breadcrumbs li
{
	display: inline;
}
.form div {
	margin-bottom: 0.1em;
	width: 100%;
}

.form .indent {
	margin:10px 0px 10px 95px;
}

.form .form_element
{
	padding: 0px 10px 0px 0px;
	text-align:right;
	float: left;
	width: 180px;
	vertical-align: middle;
}

.form .form_data 
{
	padding: 3px;
	text-align:left;
	float: left;	
}

.form .form_data label
{
    display:inline;
    float:none;
}
/***** Global Classes *****/
 
.clear         { clear:both; }
.float-left    { float:left; }
.float-right   { float:right; }
.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }
.bold          { font-weight:bold; }
.italic        { font-style:italic; }
.underline     { border-bottom:1px solid; }
.highlight     { background:#ffc; }
.img-left      { float:left;margin:4px 10px 4px 0; }
.img-right     { float:right;margin:4px 0 4px 10px; }
.nopadding     { padding:0; }
.noindent      { margin-left:0;padding-left:0; }
.nobullet      { list-style:none;list-style-image:none; }
.error, .red  
{
	background:#FFEBE8 none repeat scroll 0%;
	border:1px solid #DD3C10;
	margin:0pt 10px 10px;
	padding:10px;
	display: block;
}
.correct, .green
{
	background:#E6FCE6 none repeat scroll 0%;
	border:1px solid #84DB12;
	margin:0pt 10px 10px;
	padding:10px;
	display: block;
}
.info
{
	background:#FBFCE6 none repeat scroll 0%;
	border:1px solid #D9B411;
	margin:0pt 10px 10px;
	padding:10px;
	display: block;
}

.required_fields
{
	color:red;
}