body, p, td, li, span, div, .breadcrumb, .results, .nullsearchtext { font: 11px verdana; color:#333; }
body { margin:0 auto; text-align:center; background:#fff repeat-x; }

#wrapper {margin: 0 auto; text-align: left;}

.resultson { font: 11px verdana; color:#990; }
.ourPrice, .ourprice { font: 11px verdana; color:#D9DA8B; }
.landingtext { font: 11px verdana; color: #666; }
.padding { padding:5px; }

.padding2 { padding:0px; text-align:center; }
.pagelink_rv { color:#4D4D4D; font: 11px verdana; text-decoration:none; }
.viewall_rv { color:#6F859C; font: 11px verdana; text-decoration:underline; }

.subheadsmall { font: bold 12px arial; color:#ED3025; text-decoration:none; }
.subheadmed { font: bold 15px arial; color:#ED3025; text-decoration:none; }
.subheadlarge { font: bold 17px arial; color:#ED3025; text-decoration:none; }

.hotlink { color: #ED3533; text-decoration:none; font-weight:bold; }
.hotlink:hover { text-decoration:underline; }
/* begin outlet */
.topnavlink { color:#000; }
/* end outlet */

/* begin left nav */
.tnavtext, .tnavlink { font: 11px arial; color:#868686; }
.tnavlink { text-decoration:underline; }
/* end left nav */

/* begin Footer */
.emailheader { font: bold 15px verdana; color:#969180; }
.emailtext { font: 13px arial; color:#969180; }
.footertext { font: 11px arial; color:#666; text-decoration:none; }
/* end Footer */

/* begin Search */
.searchtitle { font: bold 15px verdana; color:#39c; }
.groupviewresults { font: 11px verdana; color:#333; }
.grouptitle, .groupgoto { font: 11px verdana; color:#636363; }
/* end Search */

/* begin Left Navigation */
.level1{ font: bold 12px arial; color:#fff; text-decoration:none; }
.level2 { font: bold 12px arial; color:#333; text-decoration:none; }
.level3 { font: bold 12px arial; color:#333; text-decoration:none; }
.level4 { font: bold 12px arial; color:#333; text-decoration:none; }
td .subCatGray { color:#585858;}
td .subCatDrkGray { color:#fff;}
td .subCatGrayLvl1{ color:#333;}
/* end Left Navigation */

/* begin Home Page */
.leftnavHeader { font: bold 11px verdana; color:#333; }
.leftnavLink, .leftnavlink { font: 11px verdana; color:#036; }
.sectionHeader, h2.sectionHeader { font: 11px verdana; color:#333; background:#fff; }
	h2.sectionHeader { display: inline; margin-bottom:0; }
.featuredSport { font: bold 10px verdana; color:#69c; }
/* end Home Page */

/* begin Category Pages */
.categorytitle, h1.categorytitle { font: bold 15px verdana; color:#39c; background:#fff; padding:0 15px 0 10px; }
	h1.categorytitle { margin: 0; float:right; display: inline; height: 18px; }
.categoryLongDesc { font: 9.5px/12.5px verdana; color:#666; margin:20px 0 30px 0; padding:0; }	
.shopText { font: 9.5px/11px verdana; color:#666; margin:14px 6px 0 8px; padding:0; }
.featprodname { font: bold 12px verdana; color:#000; }
.promotext { font: 11px verdana; color:#696; }
.featprodprice { font: bold 12px verdana; color:#363; }
.featproddescription, .morefeatprodbrand { font: 11px verdana; color:#333; }
.morefeatprod, h2.morefeatprod { font: 11px verdana; color:#666; }
	h2.morefeatprod { display:inline; }
.morefeatprodname { font: 11px verdana; color:#000; text-decoration:none; }
.morefeatprodname:hover { color:#333; text-decoration:underline; }
.morefeatprodprice { font: 11px verdana; color:#990; }
/* end Category Pages */

/* begin Family Page */
.familytitle { font: bold 15px verdana; color:#39c; background:#fff; padding-left:10px; }
	h1.familytitle { font: bold 15px verdana; color:#39c; background:#fff; margin:0 0 0 0; padding: 0 0 0 10px; float:right; display: inline; height: 18px; }
.famprodname, .famprodbrand { font: 11px verdana; color:#333; }
.famprodprice { font: 11px verdana; color:#990; }
#cms_family_description { margin: 5px 11px 30px; overflow: hidden; width: 541px; height:auto; }
#cms-family-title-area { overflow: hidden; width: 563px; height:auto; }
/* end Family Page */

/* begin Product Pages */
.subheadmed2 { font: bold 12px arial; color:#000; }
.pagetext2 { font: normal 11px arial; color: #666; }
.listprice2, .listPrice2 { font: normal 11px arial; color:#333; text-decoration:line-through; }
.ourprice2, .ourPrice2  { font: bold 12px verdana; color:#363; }
.promodetails2 { font: normal 11px arial; color:#933; }
.tabsetpanel { font: normal 12px arial; }
.addtowishlist { font: normal 10px verdana; color:#363; }
.buyingtoolstxt { font: bold 11px arial; color:#036; }
.buyingtools { font: normal 11px arial; color:#333; }
.reviewthis { font: normal 11px verdana; color:#333; }
.customizetitle { font: bold 11px verdana; color:#333; }
.customizedesc { font: normal 11px verdana; color:#333; }
.alertgreen { font: bold 10px verdana; color:#369; }
.prodtitle { font: bold 12px arial; color:#000; }
.ourprice, .ourPrice { font: bold 12px verdana; color:#000; }
.listprice, .listPrice { font: 11px verdana; color:#333; text-decoration:line-through; }
.noticetext { font: 11px verdana; color:#933; }
.dropdowndesc { font: 11px verdana; color:#666; }
.wishlist_emailfriend { font: 10px verdana; color:#363; }
.nopayments { font: 10px verdana; color:#333; }
.buyingtoolstitle { font: bold 11px arial; color:#036; }
.buyingtoolstext { font: 11px arial; color:#333; }
.relatedproducts { font: bold 11px arial; color:#666; }
.basedon { font: 11px verdana; color:#666; }
.reviewthisproduct { font: 11px verdana; color:#333; }
.tabsettitles { font: 11px verdana; color:#fff; }
.tabsettext { font: 12px arial; color:#369; }
.relprodtitle { font: 11px verdana; color:#000; }
.relprodbrand, .relprodprice { font: 11px verdana; color:#333; }
.relprodprice { font-weight:bold; }
.reviewername { font: bold 11px arial; color:#369; }
.reviewtext { font: 11px arial; color:#369; }
#cms_product_description { margin: 5px 0 30px 8px; overflow: hidden; width: 570px; height: auto; }
/* end Product Pages */

/*checkout 2004*/
.checkbg_dk { background:#D7D7D7; }
.checkbg_border { border:solid 1px #666; }
.check_bullet { color:#c00; }
.checkbg_lt, .cartrow1 { background:#F5F5F5; }
.checkbg_lt  label, .checkbg_lt input{ float:left;}
#checkoutTable form .maincolor, #checkoutTable .checkbg_lt {text-align:left;}
.cartrow2 { background:#fff; }

tr.cartInfoRow ~ tr td table tbody tr td.checkbg_dk,
table#taxShippingSummary td.checkbg_dk {
	display: inline-block!important;
	line-height: 1px!important;
	width: 100%!important;
	height: 1px!important;
	padding: 0px!important;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #cecece;
}
input#promoBx.pagetextPromoBox {width:201px;}

/* cart page PPE */
#cartItems .proceed-to-checkout * {_border:0; _padding:0; _margin:0;}
#cartItems .proceed-to-checkout #buttonBox {padding:3px 0;}
#cartItems .proceed-to-checkout #buttonBox table {width:400px; _width:415px;}
#cartItems .proceed-to-checkout #buttonBox table td {text-align:right; width:auto !important; vertical-align:top;}
#cartItems .proceed-to-checkout #buttonBox table td a {display:inline;}
#cartItems .proceed-to-checkout #buttonBox table td fmt {display:block; float:right;}
#cartItems .proceed-to-checkout #buttonBox table td form {display:none;}
#cartItems .proceed-to-checkout #payPalExpressBtn img {border:medium none !important; display:block; float:left; _display:inline; _float:none;}
#cartItems .proceed-to-checkout #payPalExpressBtn {display:inline; float:left; text-decoration:none; text-align:left; _text-align:center;}
#cartItems .proceed-to-checkout a#payPalExpressBtn {margin-right:10px; _margin:0; width:145px !important;}
#cartItems .proceed-to-checkout .paypalOrDiv {display:inline; float:left; margin:12px 10px 12px 5px; _margin:12px 3px 12px 4px;}
#cartItems .proceed-to-checkout #paypalButtonDiv {display:inline; float:right; position: relative;}
#cartItems .proceed-to-checkout #paypalButtonDiv.activePPEDiv {float:left; width:150px;}
#cartItems .proceed-to-checkout #paypalButtonDiv .payPalExpressAuthFail {clear:left; float:left; font-size:9px; color:red; width:145px; text-align:center;}
#cartItems .proceed-to-checkout #paypalButtonDiv #payPalExpressBtn {display:block !important; float:left; width:109px !important;}
#cartItems .proceed-to-checkout .activePPEDiv .paypalOrDiv {float:right; *float:left; _margin:12px 0 12px 20px;}
#cartItems .proceed-to-checkout #payPalExpressBtn .payPalExpressSml {width:175px; text-align:center; font-size:9px; display:block; float:left; clear:both; margin-left:-15px; _margin:0;}
#cartItems .proceed-to-checkout #payPalExpressBtn .payPalExpressSml a {font-size:9px;}

/* helpdesk style */
.hd_pagelink { color:#4D4D4D; }
.hd_pagelink:hover { color:#005F90; }
.header { text-decoration: none; } 
.subheadNumber { font-size: 13px; padding-left: 2px; font-weight: bold; color: #E1211E; text-decoration:none; }
.subnavHeader { font-size: 11px; padding-left: 2px; font-weight: bold; color: #fff; text-decoration:none; }
.hdTopicHeading { font: bold 15px arial,helvetica; text-decoration: none; color:#000; }

/* gift certificates */
.header { font: bold 14px arial,helvetica; color:#E1211E; }
.bigheader  { font: bold 19px arial,helvetica; color:#E1211E; }

/*global stuff */
.pagetext { font: 11px verdana; color: #333; }
.pagelink { color:#4D4D4D; font: 11px verdana; }
.pagelink:hover { color:#ED3025; }

/*site palette*/
.maincolor { background:#ED3025 !important; color:#fff; }
.maincolor a { color:#fff !important; }
.maincolor a.promodetails { color:#8E8E8E !important; }
.secondarycolor { background:#D5D5D5; }
.tertiarycolor { background:#8E8E8E; }
.wizmaincolor { background:#D5D5D5; color:#000; padding-left:10px; padding-right:10px; font-weight:bold; text-align:center; }
.wizhighcolor { background:#fff; color:#000; padding-left:10px; padding-right:10px; font-weight:bold; text-align:center; }

/*shopping2.0 checkout styles*/
.error { font: bold 12px verdana, geneva; color:#c00; line-spacing:8px; border-color:#c00; border-style:solid; border-width:2px; width:550px; height:65px; }
.error2 { font: bold 12px verdana, geneva; background:#ff0; padding:1px; }
.alert { font: bold 11px verdana; color:#ff6600; }
span.gtgt-prodPromo { font: bold 11px verdana; color:#000000; }
.details { font: 10.5px verdana,geneva; color:#555; }
.details2 { font: normal 10px verdana; color:#333; }
.promodetails { font: 10.5px verdana,geneva; color:#555; }

.backOrderMsg { font: 11px verdana; color:#c00; margin-bottom:12px; }
/*menus*/

.transMenu { 
	position:absolute; 
	overflow:hidden; 
	left:-1000px; 
	top:-1000px; 
	z-index:10; 
	}

.transMenu .content { 
	position:absolute; 
	z-index:10; 
	margin-top:1px; 
	}
	
.transMenu .items { 
	position:relative; 
	left:0px; top:0px; 
	z-index:20; 
	background:#538FD8; 
	}

.transMenu.top .items { 
	border-top:none; 
	}

.transMenu .item { 
    color:#fff; 
	text-decoration:none; 
	font: 12px arial,helvetica; 
	border:none; 
	cursor:pointer; 
	cursor:hand; 
	}

.transMenu .item.hover { 
	color:#fff; 
	text-decoration:underline; 
	font: 12px arial,helvetica; 
	}

.subnavlink { 
    color:#fff; 
	text-decoration:none; 
	font: 12px arial,helvetica; 
	}

.subnavlink:hover { 
	color:#333; 
	text-decoration:underline; 
	font: 12px arial,helvetica; 
	}

.transMenu .background { 
	position:absolute; 
	left:0px; top:0px; 
	z-index:10; 
	-moz-opacity:1; 
	filter:alpha(opacity=100); 
	}

.transMenu .shadowRight { 
	position:absolute; 
	z-index:30; 
	top:3px; width:2px; 
	-moz-opacity:.4; 
	filter:alpha(opacity=40); 
	}

.transMenu .shadowBottom { 
	position:absolute; 
	z-index:10; 
	left:3px; height:2px; 
	-moz-opacity:.4; 
	filter:alpha(opacity=40); 
	}

.transMenu .item img { 
	margin-left:10px; 
	}
	

/*  BEGIN: ShoeFinder landing page styles */
#shoeFinderLanding .crumbPadding { line-height:24px; }
#shoeFinderLanding .title { color:#369; font-size:24px; font-weight:bold; letter-spacing:-2px; line-height:1em; margin-left:12px; padding:15px 0pt 10px; }
#shoeFinderLanding .subtitle { color:#75BCEA; font-size:24px; font-weight:normal; }
#shoeFinderLanding .intro { margin-left:14px; margin-top:15px; margin-bottom:23px; width:590px; }
#shoeFinderLanding .image { margin-left:6px; margin-bottom:16px; }
/*  END: ShoeFinder landing page styles */

/* BEGIN: APR Styles */
#leftNavAPR { width:157px; float:left; margin:0px 0 0 20px; padding-top:20px; border-right:1px solid #DFDFDF; display:inline; }
#verticalSeparator { width:1px; padding:0 1px 0 1px; height:100%; background:#DFDFDF; }
.hrLine { color:#BBDBEF; background:#BBDBEF; height:3px; float:left; width:780px; margin-top:-1px; }
#APRLanding .breadcrumbPadding { padding:0 0 0 182px; line-height:20px; }
#APRLanding .pageContents { float:left; margin:10px; width:580px; border-left:1px solid #DFDFDF; margin-left:-1px; padding-left:10px; }
#APRLanding .title { color:#369; font-size:24px; font-weight:bold; letter-spacing:-2px; line-height:1em; margin-left:12px; padding:15px 0pt 10px; }
#APRLanding .subtitle { color:#75BCEA; font-size:24px; font-weight:normal; }
#APRLanding .intro { margin-left:6px; margin-top:15px; margin-bottom:23px; width:560px; }
#APRLanding .searchTerm { color:#165685; }
#APRLanding .image { margin-left:0px; margin-bottom:6px; }
#APRLanding .groupBox { float:left; margin-bottom:15px; margin-left:6px; }
#APRLanding .boxTitle { float:left; width:569px; height:24px; background:url(../images/TSA_APR_headerbg.jpg) no-repeat; padding:5px 0 0 35px; font-weight:bold; color:#999; }
#APRLanding .boxContents { border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF; border-bottom:1px solid #DFDFDF; }
#APRLanding .boxContents, #APRLanding .boxProducts { float:left; width:569px; padding:15px 0 15px 0px; margin-top:-6px; margin-top:"-2px"; color:#333; }
#APRLanding #searchBox { padding:15px 0 15px 10px; width:557px; width:"569px"; }
#APRLanding #categoryList { padding:5px 0 15px 0px; padding:"15px 0 5px 0px"; width:567px; width:"569px"; }
#APRLanding #categoryList ul { width:520px; }
#APRLanding #categoryList ul li { padding-right:10px; width:120px; float:left; list-style:none; line-height:18px; }
#APRLanding #categoryList ul li a { color:#333; font: 10px verdana; }
/* END: APR Styles */

/* BEGIN: Closeout Page Styles */
    
    .navGroup { height:116px; }
    
    .navList { width:100%; height:20px; list-style-type:none; margin:0px; padding:0px; background-image:url(../images/closeout_NavBG.gif); }
    
    .navList li { width:50%; float:left; list-style-type:none; }
    
    .navList li a { display:block; padding-left:15px; padding-top:6px; }
    
    #closeOutLeft { width:254px; margin-left:15px; float:left; _display:inline; }
    #closeOutSearch { width:254px; height:41px; background:#de2d25; background-image:url('../images/closeout_Search_bgc.gif');/*Modified for SMP:7608*/ _height:44px; }
    
    #closeOutRight { float:left; margin-left:3px; }
    
    .closeOutSearchInput { width:194px; height:19px; margin-top:3px; margin-left:16px; font-size:8pt; }
    
    #closeOutSearchGoButton { margin-top:5px; margin-left:5px; }
    
    #closeOutShopGreatGear { margin-top:1px; }
    
    #closeOutShopTopTeams { height:114px; }
    
    #innerWrapper #closeOutLeft a { text-decoration:none; color:#353636; font: 9px Verdana; }
		
    #innerWrapper { width:780px; height:462px; }
	
    #innerWrapper #closeOutLeft a:hover { text-decoration:underline; color:#2076b1; font: 9px Verdana; }
    
    #closeOutRightContent { height:232px; _height:233px; width:500px; }
    
    .closeOutRightInner { width:50%; float:left; }
    
    #closeOutProdImage { margin-left:19px; float:left; }
    
	#closeOutDealOfDayImage { margin-left:3px; margin-top:11px; }
    
    #closeOutProdName { margin:8px 13px; width:210px; }
    
    #closeOutProdName .featprodname { font-size:14px; }
    
    #closeOutProdPrice { margin:21px 14px 9px; }
    
    #closeOutProdPrice .listprice, #closeOutProdPrice .listPrice { font-size:13px; text-decoration:none; }
    
    #closeOutBuyNow { margin:0px 12px; }
    
    #breadcrumbs { padding:7px 20px; }
    
    .kw { height:0px; width:0px; line-height:0px; border:none; display:none; }
    
/* END: Closeout Page Styles */

/*Review Landing Page Styles*/
#reviewsEmail .contentfull { width:700px; height:600px; margin-left:29px}
#reviewsEmail .mainHeader { background-image:url('../images/PowerReview_header.gif'); width:365px; height:32px; margin-top:28px; margin-bottom:17px; }
#reviewsEmail .headerText { font-size:12px; color:#000; margin-bottom:24px; }
#reviewsEmail .subHeader { font-size:12px; font-weight:bold; color:#000; width: 712px; }
#reviewsEmail .prodOuterLoop { width:130px; height:280px; float:left; margin-top:25px; margin-left:10px; margin-right:34px; }
#reviewsEmail .ProdInnerLoop { width:130px; height:180px; text-align:center; }
#reviewsEmail .prodTitleDiv { margin-top: 8px; }
#reviewsEmail .prodTitle { font-size: 12px; color:#000; text-decoration: none; font-weight:bold; }
#reviewsEmail .rateReview { margin-top: 22px; }
#reviewsEmail .orderError { font-size: 12px; color:#000; margin-bottom:24px; margin-top:17px; }
#reviewsEmail .arrowImage { background-image:url('../images/arrow_rv.gif'); }
#reviewsEmail .footerText { font-size:12px; color:#000; margin-left:29px; }

/* Footer carousel PMO #76371
	Don't alter the following 6 selectors if it can be avoided. The script (js/carousel.js) which 
	uses these needs them just so - R.Heaney */
.carousel-component { 
	position:relative; 
	overflow:hidden; 
	visibility:visible; /* component turns it on when first item is rendered */}				
.carousel-component ul.carousel-list { 
	width:10000px; 
	position:relative; 
	z-index:1; }
.carousel-component .carousel-list li { 
	float:left; 
	list-style:none; 
	overflow:hidden; }
.carousel-component .carousel-vertical li { 
	float:none; 
	margin-bottom:0px; }
.carousel-component ul.carousel-vertical { width:auto; }
.carousel-component .carousel-clip-region { 
	overflow:hidden; 
	margin:0px auto; 
	position:relative; }
/* These remaining are safe to override. */
#specialCollectionsContainer { 
	width: 780px; 
	height: 26px; 
	background: url('../images/tsa_footerBanner.jpg') no-repeat; 
	clear:both; 
	}
#homePage #specialCollectionsContainer {
	background: url('../images/special_collections_bg.jpg') repeat-x;
}
#specialCollectionsHeader { 
	width: 132px; 
	height: 26px; 
	float: left; 
	margin: 0 20px 0 18px; 
	padding: 0; 
	background: url('../images/special_collections_header.jpg') no-repeat; }
.carousel-component { 
	margin: 0; padding: 0; 
	background: url('../images/special_collections_bg.jpg') repeat-x; }
.carousel-component ul.carousel-list { margin: 0; padding: 0 5px; }
.carousel-component .carousel-list li { 
	margin: 0; padding: 5px 14px 0 8px;}
.carousel-component .carousel-list li a { 
	font: 12px Helvetica; 
	color: #000; 
	text-decoration: none; }
.carousel-component .carousel-vertical li, .carousel-component ul.carousel-vertical { margin: 0; padding: 0; }
#html-carousel { 
	margin: 0; padding: 0; 
    float: left; 
    width: 550px; 
    height: 26px; }
#html-carousel .carousel-list li { margin: 0; }
#html-carousel .carousel-list li img { 
    border:1px solid #999; 
    display: inline; }
/* Carousel Buttons */
#prev-arrow-container, #next-arrow-container { 
    float:left; 
    margin: 0px; 
    padding: 0px; }
#next-arrow, #prev-arrow { cursor:pointer; }

/* Footer Global Links image map PMO #76371 */
#footerMenu { 
  position: relative; 
  width: 444px; 
  height: 54px; 
  background: url('../images/tsa_footerLink.gif'); }
#footerMenu a { 
  text-indent: -9999px; 
  text-decoration: none; 
  position: absolute; 
  /* Turn the following line on to see red boxes around each link for testing coordinates */
  }

/* Row1 */  
#item01 a { top: 2px; left: 0px; width: 56px; height: 14px; }		 
#item02 a { top: 2px; left: 57px; width: 60px; height: 14px; }		
#item03 a { top: 2px; left: 116px; width: 90px; height: 14px; }   
#item04 a { top: 2px; left: 206px; width: 52px; height: 14px; }		
#item05 a { top: 2px; left: 257px; width: 62px; height: 14px; }		
#item06 a { top: 2px; left: 319px; width: 81px; height: 14px; }		
/* Row2 */
#item07 a { top: 16px; left: 0px; width: 86px; height: 14px; }	
#item08 a { top: 16px; left: 87px; width: 59px; height: 14px; }	
#item09 a { top: 16px; left: 146px; width: 65px; height: 14px; }	
#item10 a { top: 16px; left: 210px; width: 61px; height: 14px; }	
#item11 a { top: 16px; left: 271px; width: 155px; height: 14px; }		 
/* Row3 */
#item12 a { top: 30px; left: 0px; width: 122px; height: 14px; }		  
#item13 a { top: 30px; left: 122px; width: 80px; height: 14px; }	 
#item14 a { top: 30px; left: 202px; width: 111px; height: 14px; }	 
#item15 a { top: 30px; left: 312px; width: 113px; height: 14px; }	 
/* Row4 */
#item16 a { top: 44px; left: 0px; width: 51px; height: 14px; }	 
#item17 a { top: 44px; left: 52px; width: 103px; height: 14px; }	 
#item18 a { top: 44px; left: 155px; width: 91px; height: 14px; }	 
#item19 a { top: 44px; left: 247px; width: 75px; height: 14px; }	 


/* Header Tags PMO #76371 
	Added H1s to ceratain shop pages using a slightly modified Fahrner Image Replacement technique.*/
#firApparel, #firFanShop, #firFootwear, #firGames, #firGolf, #firTeamSports { width: 580px; height: 90px; }
#firApparel span, #firFanShop span, #firFootwear span, #firGames span, #firGolf span, #firTeamSports span { display: none; }
#firApparel { background: url('../images/landing_apparel_masthead.jpg') no-repeat; }
#firFanShop { background: url('../images/landing_fan_masthead.jpg') no-repeat; }
#firFootwear { background: url('../images/landing_footwear_masthead.jpg') no-repeat; }
#firGames { background: url('../images/landing_games_masthead.jpg') no-repeat; }
#firGolf { background: url('../images/landing_golfracq_masthead.jpg') no-repeat; }
#firTeamSports { background: url('../images/landing_tsports_masthead.jpg') no-repeat; }
	
	
/*vendor information section*/
.vrgLogisticInfo { margin-left:22px; padding-left:7px; }


/*popup close button*/
#popUpcloseBtn { color:#fff; font-size:10px; font-weight:bold; text-decoration:none; }
#popCustomCareBtn { color:#fff; font-weight:bold; font-size:14px; }


/*corp flash pad*/
#corpJobsFlashPad { padding:10px; }

/*added for PMO 84664*/
.shopLinkPad3px { padding-left:3px; padding-bottom:3px; }
.shopLandTable1 { background:#F8F7F0; }
.shopLandTable2 { background:#BBDBEF; }
.shopLandTD1 { background:#EAF4FE; padding:10px; }
.shopLandTD2 { margin:4px 0 4px 0; background:#EAF4FE; }
.shopLandTD3 { border: 4px solid #EAF4FE; }
.shopLandDIV1 { width:15px; height:3px; background:#BBDBEF; }

/*added for emailThanks page*/
.emailTWrap { width:780px; margin:0 auto; text-align:left; }
#emailTWrapNav { padding-left:10px; }
#emailTWrapLink { margin-bottom:6px; }
#emailThanxBodyCntr { text-align:center; }

.pageHeader h1 { background:#fff; color:#272727; font-size:18px; font-weight:bold; line-height:12pt; margin-bottom:14px; margin-top:14px; padding-right:2px; position:relative; z-index:1; }

/*added for mailinglist page*/
#mailListNote { color:#ED3533}
#mailListUClickHere { color:#0089cf}
#mailListUPad { padding:0 15px 0 15px; }
#mailListUPF { font-size:12px; font-weight:bold; }

.pagelink1 { color:#4D4D4D; font: 9px verdana !important; }
.pagelink1:hover { color:#005F90; }

/* BEGIN: Outlet Page Styles */
#innerWrapper.Outlet { width:780px; background:url(../images/outlet/outlet_bottom.gif) no-repeat bottom left; float:left; clear:both; margin-bottom:10px; height:auto; }
#OutletLeft { width:161px; margin-left:15px; float:left; _display:inline; }
#OutletSearch { width:161px; height:41px; background:#ee3e22; _height:44px; }
.OutletLeftNavSection { background:#dde2e5; clear:both; float:left; }
.OutletLeftNavList { float:left; clear:both; width:100%; list-style-type:none; margin:2px 0 0; padding:0px; background:url(../images/outlet/outlet_leftnavBG.gif) repeat-y 0 0; }
.OutletLeftNavList li { width:100%; float:left; list-style-type:none; }
.OutletLeftNavList li a { display:block; padding:2px 0 4px 15px; }
.OutletSearchInput { width:98px; height:19px; margin-top:2px; margin-left:16px; font-size:8pt; }
#OutletSearchGoButton { margin-top:5px; margin-left:9px; }
#OutletShopGreatGear { margin-top:1px; }
#OutletRight { float:left; margin-left:10px; }
#OutletRight #topOASBanner { float:left; width:100%; }
#innerWrapper #OutletLeft a { text-decoration:none; color:#353636; font: 9px Verdana; }
#innerWrapper #OutletLeft a:hover { text-decoration:underline; color:#2076b1; font: 9px Verdana; }
#OutletRightContent { clear:both; float:left; width:579px; background:url(../images/outlet/outlet_featProd_topBG.gif) no-repeat top left; }
#OutletRightFeatProduct { clear:both; float:left; width:432px; }
#OutletDealOfDayImage { clear:both; float:left; margin:18px 0 30px; }
#OutletProdImage { width:220px; float:left; }
#OutletRightInner { width:212px; float:left; }
#OutletRightInner a { text-decoration:none; }
#OutletProdName { margin:8px 8px 20px; }
#OutletProdName .featprodname { font-size:12px; }
#OutletRightInner .promotext { margin-left:8px; clear:both; }
#OutletRightInner .promotext .alert { font-size:10px; }
#OutletProdPrice { margin:21px 8px 9px; }
#OutletProdPrice .listprice, #OutletProdPrice .listPrice { font-size:11px; text-decoration:none; color:#666; text-decoration:line-through; }
#OutletProdPrice .featprodprice .ourprice dl.ourpricetitle { color:#000; display:inline; }
#OutletBuyNow { margin:10px 8px; clear:both; float:left; width:98px; height:26px; background-image:url(../images/outlet/outlet_buynow.gif); cursor:pointer; }
#OutletRightInner .discountNotation { font:9px Arial, Helvetica, sans-serif; color:#999; clear:both; margin-top:30px; float:left; margin-left:5px; width:200px; }
#RightRailOAS { float:right; padding-left:10px; background:url(../images/outlet/outlet_rightOASBg.gif) no-repeat center left; margin-top:13px; width:137px; }
#RightRailOAS .RightRailOASSpot { float:left; margin-bottom:10px; }
#breadcrumbs { padding:7px 20px; }
.kw { height:0px; width:0px; line-height:0px; border:none; display:none; }
/* END: Outlet Page Styles */


/* BEGIN: OAS Styles */


/* NoResults page */
#oasx01NR, #oasx02NR, #oasx03NR { float:left; overflow-x: hidden; width:150px; }

#oasx01NR strong, #oasx02 strong { color: #E1211E; }
.nullsearchtext p#noResults { float: left; width:130px; }

#oasx02 { overflow-x: hidden; width:500px; }
br.clear { clear:both; }
br.addBtmSpace { padding-bottom: 16px; }

/* /shop/index.jsp?categoryId=3712552 page */

.oasSpotSmall { float:left; overflow-x: hidden; width:125px; margin:0; padding:0; }
.oasSpaceSmall { width:148px; float:left; margin:0 !important; padding:0 !important; }
.oasSpaceLast { width:125px; float:left; }

#oasContainer, #oasSubContainer { width: 569px; overflow:hidden; }
/* html .oasSpaceSmall { margin-left: 20px; border:1px solid red; }
.oasSpaceFirst { float:left; width:144px; margin-left:6px !important; *margin-left:6px !important; *border:1px solid green; _border:1px solid red; padding:0 !important; }*/

/* END: OAS Styles */

/* SMP 3624 - corp/index.jsp?page=logisticinfo */
#logisticinfo a { color: #4D4D4D; }
#logisticinfo a:hover { color: #005F90; }
#logisticinfo h2 { text-align: center; clear: both; line-height: 30px; }
#logisticinfo h2, #logisticinfo h3 { font-size: 11px; font-weight: bold; }
#logisticinfo div { float: left; width: 50%; }

/* header */
#logoBg { float:left; width:177px; height:96px; background: #f22c21 url(../images/header/tsa_logoBg.gif) no-repeat right top; text-align: center; }

/* exercise & fitness shop /shop/index.jsp?categoryId=3077568  */
#tsa_exercise { width: 775px; margin: 0; padding: 0; }
#tsa_exercise #leftNavigation { width: 177px; background: #F8F7F0; height: 460px; *height: 485px; vertical-align: top; float: left; }
#tsa_exercise #breads { padding-left: 15px; width: 562px; *width: 580px; height: 19px; *height: 22px; border-bottom: 3px solid #BBDBEF; margin-bottom: 30px; float: left; }
#tsa_exercise #ribs { padding-left: 15px; width: 583px; float: left; }
#tsa_exercise #guts { width: 583px; background:#EAF4FE; }
#tsa_exercise #guts #content_links { width: 252px; padding:10px; float: left; }
#tsa_exercise #guts #content_links table { width: 252px; margin: 0; padding: 0; border: 0; }
#tsa_exercise #guts #content_links td { padding: 0 0 3px 3px; vertical-align: top; }
#tsa_exercise #guts #content_links td.tick { padding-left:0px; }
#tsa_exercise #guts #right_ads { width: 310px; float: left; margin:4px 0; }
#tsa_exercise #guts #brand_logos { width: 575px; *width: 583px; height: 58px; *height: 82px; padding: 12px 0; border: 4px solid #EAF4FE; background: #fff; text-align: center; }
#tsa_exercise #guts #brand_logos div { width: 143px; float: left; background: #fff; margin: 0; padding: 0; }
#tsa_exercise #guts #brand_logos div img { width: 115px; height: 65px; border: 0; }

/*checkout*/
#buttonBox img.proceed-to-checkout {
	width: 190px !important; 
	height: 41px !important; 
	margin-right:0px;
}

/* RV */
#rv_guts { margin: 0 0 40px 11px; }
#rv_head { margin: 0 0 0 11px; border: 1px solid #d9d9d9;}

/*Hide 1px tracking pixel on Home */
#trackingPixel {
	background: #000000;
}

/* metro_transit */

#metro-transit {
	padding: 50px;
	margin: 0;
	width: 675px;
	*width: 775px;
	_width: 775px;
	text-align: center;
}
#metro-transit img {
	margin: 0 auto;
}
#metro-transit h1 {
	font-size: 18px;
}
#metro-transit p {
	font-size: 11px;
}
#metro-transit a {
	font-size: 12px;
}
#metro-transit .micro {
	font-size: 10px;
}

/* BEGINNING OF STYLE SPECIFIC TO aaa_promo store page */
div.pcOAS { display: block; }
#pcBranding { padding-top: 35px; }
#pcOAS1 { margin: 0 15px; border-bottom: 1px solid #cce2ed; font: 12px helvetica, sans-serif; }
#aaa-promo {position: relative;width: 780px; margin:0 auto;}
#aaa-promo #pcOAS1 {height: 395px; width: 330px; margin:0 0 30px 30px;}
#aaa-promo #pcOAS1 h2 {margin: 25px 0; color: #0073a2; font-size: 18px;}
#aaa-promo #pcOAS1 p {margin: 12px 0; color: #000; font-size: 12px; line-height: 15px;}
#aaa-promo #pcOAS2 {height: 540px; width: 375px; position: absolute; top: 100px; left: 375px;}

#aaa-promo .pcShopNow {position: absolute; margin-top: -45px; margin-bottom: 72px; left: 200px;height: 30px; width: 135px; background: transparent url('../images/pcSprites.jpg') no-repeat left bottom; }

#recentlyViewedWrap{border: solid 1px #d2d2d2;background-color:white;border-top-style:none;height:286px;}
#recentlyViewed{background:url("../images/product/otherviews_sprite.gif") repeat scroll 0px -242px transparent;clear: left; float:none;margin: 0px auto 20px auto;overflow:hidden;position:relative;width:570px;*margin-left:5px;}
#recentlyViewed div ul li{	color:#333;float:left;font-family:Arial,Helvetica,sans-serif !important;list-style-type:none;margin-top:10px;text-align:center;width:136px;height: 250px;list-style:none outside none;padding: 0px 1px;}
#recentlyViewed div ul li a{display: inline;text-align: center;margin: 0px auto;}
#recentlyViewed .spacer{display: block;	height: 29px;margin: 0px;}
#recentlyViewed div ul{list-style:none outside none;padding-left:0;margin-left:0px;width: 560px;}
li.recentlyViewed{border-left:1px solid #dcdcdc;}
li.firstRecentlyViewed{border-style: none;}
img.recentlyViewed{width: 80px;height: 80px;border-style:none;display: inline !important;}

td.leftPanel fieldset#billingShipping label{min-width:130px;}

/* checkout process - gsi transition page - PPE */
#checkoutTable #paypalInterstit {width:auto; margin:30px 90px;}
#checkoutTable #paypalInterstit div * {margin: 24px 0;}
#checkoutTable #paypalInterstit h2 {color: #ED3025;}
#checkoutTable #paypalInterstit input.continue{background:transparent url("../images/checkout/cart_continuecheckout_old.gif") -42px 0 no-repeat; width:121px;height:26px;text-indent:-9999px;border:none;cursor:pointer;display:block; line-height: 0; font-size: 0;}
td.leftPanel fieldset#billingShipping label{min-width:130px;}
#cartItems .proceed-to-checkout .checkoutTable {width: 410px !important;}


/* --------------------- Changes for v2 MIB Checkout --------------------- */
/* note: the ID "#checkoutPanelsHolder" only exists if the LEGACY_BETTER_CHECKOUT flag is set */
/* millere2: this makes the 'giveAnything' payment method labels align with the ccForm labels */
#checkoutPanelsHolder #giveAnythingForm label { 
  display:inline-block;
  width:125px;
  }
/* millere2: this makes the checkout text black. Previously the link color was overriding it  */
#checkoutPanelsHolder .productList .pagetext a {
  color:#333; 
  }

#tsa_siteStripeInclude_1{ margin:0 auto !important;}

/* MIB cart overrides :: uses '!important' at the request of the MIB dev team */
.maincolor,
.wizmaincolor,
.wizhighcolor {
font-family:arial !important;
}
#cartBgclrProdDtls a.maincolor {
background-color: transparent !important;
}

#addressTitle { 
background-color: #fff !important;; 
color:#ED3025 !important;
font-family:arial !important;
font-size:15px !important;
}
.itemDescriptionColumn a {
color: #000 !important;
font-weight: bold !important;
}
.return_to_cart_container a {
color:#666 !important;
font-family:arial !important;
}
#terms a {
color:#666 !important;
}
.return_to_cart_container a:hover,
.itemDescriptionColumn a:hover,
#terms a:hover {
color:#ED3025 !important;
}
#cartQtyCol,
#cartItemDescCol,
#cartPriceCol,
#cartTotalCol,
.orderQuantityColumn,
.orderItemColumn,
.orderGiftColumn,
.orderAvailabilityColumn,
.orderTotalColumn,
#costSummaryHeadingTD {
background: #666 url(../images/checkout/cart_title_bg.gif) repeat-x 0 0 !important;
}
#costSummaryHeadingTD,
#co2-costsummary-label,
#co2-costsummary-value {
padding: 3px;
}

/* AOS managed */
#aosPage #AOSerrorMessage {
	border:1px solid #CC0000;
	color:#ED3025;
	font-weight:bold;
	margin:34px auto;
	padding:10px 2px;
	width:532px;
}

#tableleftnav .level1, #tableleftnav .level2, #tableleftnav .level3, #tableleftnav .level4, #tableleftnav .level5 { line-height:22px; }
#tableleftnav .level3 { color:#fff; }

.checkoutPrinterFriendly .pf-checkoutPanels .maincolor,
.checkoutPrinterFriendly .pf-checkoutPanels #costSummaryHeadingTD {
	background: none repeat scroll 0 0 #FFFFFF !important;
	color: #333333;
}

.checkoutPrinterFriendly .pf-checkoutPanels .total td {
	font-weight: bold;
}

/* search results cms */
#tsa_search_noresultsWrap {margin-bottom:10px; width:520px;position:relative;right:-17px}

div#content td div#categoryPageSlot { margin-left: 9px; margin-top: 15px; }

/*Group Sales styling*/
div#groupsalesmain{background:url(../images/GroupSales_LP.jpg) no-repeat;width:585px;height:637px;}
body#groupSales div.gSalePolicy {width:530p}
body#groupSales ul.groupSaleInfo li {padding:0px 5px 5px 5px;;text-align:left;vertical-align:baseline;}
body#groupSales h2.groupSales {font:32px normal; font-family:verdana; color:#339999 ; padding-left:7px; margin:5px 0px;text-transform:uppercase;}
body#groupSales h2.groupSales.contactForm{padding-bottom:5px;}
body#groupSales p.gSales{padding-left:7px;}
body#groupSales form.groupSaleSignup{margin-left:5px;}
table.formElements{padding-left:15px;}
a.emailGroup{text-indent:-9999px;top: 333px;position: relative;width: 222px;display:inline-block;float:right;right:55px;}
a.specialOrder{text-indent:-9999px;top: 333px;position: relative;left: 20px;width: 230px;display:inline-block;float:left;}
div.gSalesPolicy{width:535px;padding-top:17px;}

/*bml agree to terms styling*/
#checkoutTable #billMeLaterForm td p{ margin:11px 0;}

ul.corpDonations li{ padding-bottom:5px;}

p.corpEmail { line-height:16px;}
/* for payment page tender options */
div#checkoutPanelsHolder #ccTSAImg{position:absolute; right:10px; top:0; width:131px; height:21px; display:block; background:url(../images/checkout/ccTSAIcon.gif) no-repeat left top;}



.main_addresssuggestion .leftPanel #addressSuggestion ,.main_addresssuggestion .leftPanel #addressSuggestion .suggestions, .main_addresssuggestion .leftPanel #addressSuggestion .userinput {width:480px!important;}

.main_addresssuggestion .leftPanel #addressSuggestion .suggestions span.suggLabel, .main_addresssuggestion .leftPanel #addressSuggestion .userinput span.suggLabel {width:150px!important;}

.main_addresssuggestion .leftPanel #addressSuggestion .buttons  {padding-left:153px!important;}

.main_addresssuggestion .rightPanel {
margin-left: 15px!important;
}

.cartWrapper_v2 #checkout2davisCart #cartItems #cartTopButtonContainer div,
.cartWrapper_v2 #checkout2davisCart #cartItems #cartTopButtonContainer div iframe  {width : 0px !important; height:0px !important;}
div.sr_cartSummaryMessage {float:none !important;}
/* Paypal Changes */
.paypal-icon .txt{ left: 145px; padding-right: 2px; padding-top: 5px; position: absolute; top: 15px; vertical-align: middle; width: 45px;}
a#payPalExpressBtn{display:block; float:left; text-decoration:none;}
.cartWrapper_v2 #checkout2davisCart #cartItems #cartTopButtonContainer #paypalButtonDiv{width:auto !important; height:auto !important; display:block; float:left; position:relative; bottom:5px;}
.cartWrapper_v2 #checkout2davisCart #cartItems #cartTopButtonContainer .paypal-icon{display: block; float: left; position: relative; width:auto !important; height:auto !important;}
.cartWrapper_v2 #checkout2davisCart #cartItems #cartTopButtonContainer .paypal-icon table{left: 70px; position: absolute; top: -10px;}
#paypalContainer img, #billMeLaterContainer img{position:relative; top:5px;}
#paymentMethod img{float:left;}
#paymentMethod div{display: block; float: left; padding-left: 10px !important; padding-top: 5px !important; width: 190px;}
#paymentMethod .edit-link{  display: block; float: left; padding-top: 5px; width: 100%; padding-left:0 !important;}
#billMeLaterContainer img{width:36px; height:23px; border:1px solid #bfbfbf;}
#billMeLaterContainer #billMeLatr{margin-right:3px;}
.payPalExpressAuthFail{ color: #FF0000; float: left; font-size: 9px; left: -10px; position: relative; text-align: center; width: 160px; cursor:auto;}
#cartItems .proceed-to-checkout #payPalExpressBtn.inactive img{ float:none; margin:0 auto;}
#cartItems .proceed-to-checkout #payPalExpressBtn.inactive .payPalExpressSml{ clear: both; display: block; float: none; font-size: 9px; margin-left: 0; text-align: center; width: 160px;}
#cartItems .proceed-to-checkout #payPalExpressBtn.inactive{ position:relative; left:10px;}
#cartItems .proceed-to-checkout #payPalExpressBtn.paypalMarkInactive{ position:relative; left:0px;}
 @media screen and (-webkit-min-device-pixel-ratio:0) { #cartItems .proceed-to-checkout #payPalExpressBtn.inactive{ width:155px;} }
 #cartItems .proceed-to-checkout #paypalButtonDiv.paypalBtnUpdate{left:-10px;}
 #cartItems .proceed-to-checkout #paypalButtonDiv #payPalExpressBtn .payPalExpressAuthFail{margin-left: 10px; width: 150px;}
 .paypalBtnUpdate .payPalExpressAuthFail{margin-top: 5px;}