@charset "UTF-8";

.lNav { width: 177px; height: 16px; background: url(//www.fatbraintoys.com/images/skinv3/nav_highlights.gif) no-repeat 0 0; border: none; text-decoration: none; font: 13px Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif; color:#3A88C6; cursor: pointer; position: relative; left: -3px; background-position: 0 -32px; } 
.lNav:hover { background-position: 0 -17px; text-decoration: underline; color:#3A88C6; } 
.lNav:active { background-position: 0 -1px; text-decoration: underline; color:#3A88C6; } 

.lNavR { width: 177px; height: 16px; background: url(//www.fatbraintoys.com/images/skinv3/nav_highlights2.gif) no-repeat 0 0; border: none; text-decoration: none; font: 13px Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif; color:#3A88C6; cursor: pointer; position: relative; left: -3px; background-position: 0 -32px; } 
.lNavR:hover { background-position: 0 -17px; text-decoration: underline; color:#3A88C6; } 
.lNavR:active { background-position: 0 -1px; text-decoration: underline; color:#3A88C6; } 

.lNavF { width: 177px; height: 16px; background: url(//www.fatbraintoys.com/images/skinv3/nav_highlights3.gif) no-repeat 0 0; border: none; text-decoration: none; font: 13px Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif; color:#3A88C6; cursor: pointer; position: relative; left: -3px; background-position: 0 -33px; } 
.lNavF:hover { background-position: 0 -17px; text-decoration: underline; color:#3A88C6; } 
.lNavF:active { background-position: 0 0px; text-decoration: underline; color:#3A88C6; }

.smallButton { width: 125px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small2.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: -4px; } 
.smallButton:hover { background-position: 0 -40px; } 
.smallButton:active { background-position: 0 -80px; } 

.smallButtonHighlighted { width: 125px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: -4px; } 
.smallButtonHighlighted:hover { background-position: 0 -40px; } 
.smallButtonHighlighted:active { background-position: 0 -80px; } 

.smallButtonArrow { width: 150px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small_arrow.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: -4px; } 
.smallButtonArrow:hover { background-position: 0 -40px; } 
.smallButtonArrow:active { background-position: 0 -80px; } 

.smallButton250Arrow { width: 250px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small_250_arrow.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: -4px; } 
.smallButton250Arrow:hover { background-position: 0 -40px; } 
.smallButton250Arrow:active { background-position: 0 -80px; } 

.smallButton250 { width: 250px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small_250.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: -4px; } 
.smallButton250:hover { background-position: 0 -40px; } 
.smallButton250:active { background-position: 0 -80px; } 

.largeButtonHighlighted { display: block; width: 340px; height: 90px; _height: 85px; background: url(//www.fatbraintoys.com/images/cloudfront/button_large_checkout2.png) no-repeat; border: none; font: bold 18px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; position: relative; left: 0px; } 
.largeButtonHighlighted:hover { background-position: 0 -100px; color: #000; text-decoration: none; } 
.largeButtonHighlighted:active { background-position: 0 -200px; } 

.largeButton250Arrow { display: block; width: 250px; height: 90px; _height: 85px; background: url(//www.fatbraintoys.com/images/cloudfront/button_large_250_arrow.png) no-repeat; border: none; font: bold 18px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #000; cursor: pointer; text-shadow: #fff 0 1px 0; text-decoration: none; position: relative; left: 0px; } 
.largeButton250Arrow:hover { background-position: 0 -100px; color: #000; text-decoration: none; } 
.largeButton250Arrow:active { background-position: 0 -200px; text-decoration: none; } 

.myFavorite { display: block; width: 61px; height: 25px; _height: 20px; background: url(//www.fatbraintoys.com/images/my_favorite_combo.gif) no-repeat; border: none; cursor: pointer; float:left; _position: relative; left: 0px; } 
.myFavorite:hover { background-position: 0 -50px; } 

.smallButtonBlue { width: 250px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small_arrow_BLUE.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #fff; cursor: pointer; text-shadow: #222 0 1px 0; position: relative; left: -4px; } 
.smallButtonBlue:hover { background-position: 0 -40px; } 
.smallButtonBlue:active { background-position: 0 -80px; } 

.smallButtonGreen { width: 250px; height: 40px; background: url(//www.fatbraintoys.com/images/cloudfront/button_small_arrow_GREEN.png) no-repeat 0 0; border: none; font: bold 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; color: #fff; cursor: pointer; text-shadow: #000 0 1px 0; position: relative; left: -4px; } 
.smallButtonGreen:hover { background-position: 0 -40px; } 
.smallButtonGreen:active { background-position: 0 -80px; } 