/**
 * Responsive styles - Desktop first!
 */

/* Desktop style overrides
--------------------------------------------------------------------------- */

/* Carousels */

.carousel.large {
    width: 100%;
    overflow: hidden;
}

.carousel.small {
    width: 49%;
    margin-top: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.carousel.small:nth-child(odd) {
    margin-right: 2% !important;
}

.carousel .viewport {
    margin-top: 10px !important;
}

.carousel .box-top {
    text-align: left;
}

/* Filters */

.sell-search {
    padding-bottom: 15px;
}

.sell-search .select-container, .sell-search input {
    display: inline-block;
    margin-bottom: 7px;
}

.sell-search .select-container.small {
    margin-left: 0;
}

.filter-item {
    margin-top: 5px;
    float: none !important;
    display: inline-block !important;
    margin-right: 10px !important;
}

.filter-item label {
    display: block;
    font-weight: bold;
}

.filter-item .select-container {
    display: block;
}

/* Recommendations */

.recommendations-box .viewport {
    margin-top: 20px;
    padding: 0 !important;
}

.recommendations-box .viewport li {
    display: inline-block;
    vertical-align: top;
    margin: 8px !important;
    float: none;
}

.recommendations-box .box-top {
    margin-bottom: 10px;
}

.recommendations-box .box-bottom {
    margin-top: 10px;
}

/* Single Product */

.single-product .album-art {
    width: 25% !important;
}

.single-product .product-details {
    width: 70% !important;
}

.single-product .tee-description {
    width: 70%;
    float: right;
}

.single-product .purchase-options {
    width: 100%;
}

.single-product .purchase-options .left {
    width: 47% !important;
    margin: 0;
}

.single-product .purchase-options .left:first-child {
    border-right: 2px solid #cccccc;
    margin-right: 4%;
}

.single-product .purchase-options .left .left {
    width: 100% !important;
}

.single-product .last-one {
    right: 0;
}

.single-product .divider {
    border: none;
    padding: 0;
    margin: 0;
}

.single-product .album-art .trailer-image {
    height: 25px;
}

/* Cart */

.shopping-cart .signupMsg a, .shopCart .signupMsg a {
    float: none;
}

.shopping-cart .top-cart .continue-shopping {
    float: left;
    margin-left: 20px;
    margin-right: 0;
}

.shopping-cart .top-cart .checkout {
    float: right;
}

.shopping-cart .top-cart h1 {
    margin-bottom: 10px;
}

.shopping-cart .top-cart a {
    margin-bottom: 10px;
}

.shopping-cart .cart-bottom .cartcalc {
    width: auto;
}

.shopping-cart .cart-bottom {
    margin-left: 0;
}

/* Product lists */

.table-container {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-container .product-details-mobile {
    display: none;
}

.table-container .product-price-mobile {
    display: none;
}

.right-box .buy.items {
    margin: 0 0 30px 0 !important;
}

/* Login / Registration */

.login-page .pod {
    width: 50%;
}

.login-page .continue-shopping {
    float: none !important;
}

/* Checkout */

.stepHolder {
    margin-top: 0;
    margin-left: 0;
}

.cartSteps {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.shopCart .login {
    float: left;
    width: 30%;
    margin-right: 0;
}

.shopCart .registration {
    float: right;
    width: 56%;
    margin-right: 0;
}

.shopCart .login .login-links {
    clear: both;
    padding-top: 10px;
}

.shopCart .shipAddress {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.shopCart .shipAddress .form {
    width: 100%;
    margin-left: 0;
}

.shopCart .shipAddress .form input {
    width: 95%;
}

/* Content */

.slider {
    margin-bottom: 10px;
}

.pagination {
    float: right;
    margin: 5px 0 15px 0;
}

.additional-resources {
    padding-bottom: 30px;
}

.cart-footer-mobile {
    display: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-footer-mobile a {
    color: #001d32;
}

.cart-footer-mobile a:hover {
    text-decoration: underline;
}

.cart-footer-mobile span {
    color: #faaa49;
}

.store-locator-map iframe {
    width: 600px !important;
    height: 600px !important;
    border: none !important;
}

.just-for-you-tab {
    display: none !important;
}

.card-heading {
    margin-bottom: 10px;
}

.card-select-form {
    margin: 0 !important;
}

.select-card {
    margin: 20px 0 10px 0;
}

.select-card li {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 31%;
    height: auto;
    margin-right: 1%;
    float: none;
}

.wanna-win iframe {
    height: auto;
    min-height: 800px;
}

.wanna-win h1 {
    margin: 20px 0 10px 10px;
    line-height: 1.1em;
}

/* Mobile portrait to tablet landscape
--------------------------------------------------------------------------- */

@media (max-width: 1020px) {

    /* Global */

    img {
        max-width: 100%;
        height: auto;
    }

    .container {
        max-width: 1020px;
        width: auto;
    }

    .wrap {
        width: auto;
        padding: 0 10px 0 10px;
    }

    /* Header */

    .primary-header .left {
        width: 25%;
    }

    .primary-header .right {
        width: 75%;
    }

    .primary-header .secondary-nav {
    }

    .primary-header .shipping-banner {
        line-height: inherit;
    }

    .primary-header .shipping-banner:after {
        right: auto;
    }

    .primary-header .large-ad div {
        width: 95% !important;
        height: auto !important;
        float: right;
    }

    .primary-header .large-ad img {
        width: 100% !important;
    }

    .primary-header .nav-section {
        width: auto;
    }

    .primary-header .primary-nav li a {
        font-size: 17px;
    }

    .primary-header .primary-nav .sub-menu {
        top: 28px;
        width: 175px;
    }

    /* Slider */

    .slider .slides {
        width: 74%;
        max-height: 250px;
    }

    .slider .slides img {
        width: 100%;
    }

    .slider .slider-nav {
        width: 26%;
    }

    /* Promotions */

    .promotions {
        width: auto;
    }

    .promotions ul {
        width: 480px;
        margin: 0 auto;
    }

    .promotions ul li {
        margin-right: 43px;
    }

    .promotions ul li:first-child {
        float: none;
        margin: 0 0 10px 0;
    }

    /* Carousels */

    .carousel.large .viewport {
        width: 96%;
    }

    .carousel.large .simply-scroll {
        width: 96%;
        overflow: hidden !important;
    }

    .carousel.small .viewport {
        width: 90%;
        overflow: hidden !important;
    }

    .carousel.small .simply-scroll {
        width: 90%;
    }

    .carousel.medium {
        width: 100%;
    }

    .carousel.medium .viewport {
        width: 100%;
        overflow: hidden !important;
    }

    .carousel.medium .simply-scroll {
        width: 100%;
    }

    .carousel.small img {
        max-width: none;
        height: 80px;
    }

    /* Content */

    .main .category-sidebar, .main .sidebar {
        width: 24%;
        margin-right: 1%;
    }

    .main .category-sidebar ul, .main .sidebar ul {
        margin-left: 0;
    }

    .main .right-box {
        width: 75%;
    }

    .main .right-box table, .main .right-box iframe {
        width: 100%;
        height: auto;
    }

    .single-product iframe {
        height: 320px !important;
    }

    .additional-resources .pod {
        width: 31%;
        margin-right: 3%;
    }

    .sidebar .deals-wrap div, .sidebar .deals-wrap img {
        width: 100% !important;
    }

    .store-locator-ads {
        text-align: center;
    }

    .store-locator-ads img {
        height: 75px;
        width: auto;
    }

    .card-pod {
        margin-bottom: 15px;
    }

    /* Cart */

    .shopping-cart .buy-terms, .shopping-cart .buy-subtotal, .shopping-cart .sell-terms, .shopping-cart .sell-subtotal {
        float: right;
        width: 100% !important;
    }

    /* Checkout */

    .placeOrder .order {
        width: 60%;
    }

    .placeOrder .order .col3 {
        margin-right: 0 !important;
    }

    .placeOrder .cartSummary {
        width: 30%;
    }

    .placeOrder .order .codeSearch input[type="text"], .cart-bottom .cols div .codeSearch input[type="text"] {
        width: 100%;
        padding-right: 0;
        margin-right: 0;
    }

    .placeOrder .order .codeSearch input[type="submit"], .cart-bottom .cols div .codeSearch input[type="submit"] {
        right: 0;
    }

    /* Utilities */

    .hide-tablet {
        display: none;
    }
}

/* Custom Just In Bin queries
--------------------------------------------------------------------------- */

@media (max-width: 950px) {

    /* Used */

    .used .breadcrumb .used-heading {
        margin-top: 15px;
        float: left;
        line-height: 1.2em;
    }

    .used .tabs-nav {
        padding: 0 0 0 10px;
    }

    .used .tabs-nav li a {
        font-size: 14px;
    }
}

/* Tablet portrait and up
--------------------------------------------------------------------------- */

@media (min-width: 768px) {
/* Header X-Mas */

    ).top {
        background: #fff url(../images/header-xmas.jpg) repeat-x;
    }

    .logo {
        background: url(../images/logo-xmas.png) no-repeat;
        width: 170px;
        height: 138px;
        margin-top: 0;
    } 
    
    /* Header */
/*
    .top {
        background: #fff url(../images/header.png) repeat-x;
    }

    .logo {
        background: url(../images/logo.png) no-repeat;
    }
  */  

    .primary-header .primary-nav {
        display: block !important;
    }

    .primary-header .primary-nav .menu-more {
        display: none;
    }

    .primary-header .menu-deals {
        display: none;
    }

    .primary-header .top-links-mobile {
        display: none;
    }

    .primary-header .search-title {
        display: none;
    }

    .primary-header .mobile-account-bar {
        display: none;
    }

    .primary-header .searchbar .nav-icon {
        display: none;
    }
}

/* Mobile Portrait and Mobile Landscape
--------------------------------------------------------------------------- */

@media (max-width: 767px) {

    /* Header */

    .top {
        background: #fff url(../images/header-mobile.png) repeat-x;
    }

    .used .used-text {
        margin-left: 65px;
        top: 12px;
        font-size: 50px;
    }

    .primary-header .top-links {
        display: none;
    }

    .primary-header .top-links-mobile li {
        display: none;
        height: 30px;
        border-radius: 0;
    }

    .primary-header .top-links-mobile li.cart {
        display: inline-block;
        border-bottom-right-radius: 0;
    }

    .primary-header .top-links-mobile li.locator {
        display: inline-block;
        margin-right: 5px;
        background: #f8a725;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
    }

    .primary-header .top-links-mobile li.locator a:hover {
        color: #fff;
    }

    .primary-header .top-links-mobile li.locator a:before {
        content: url(../images/locator.png);
        margin-right: 5px;
    }

    .primary-header .primary-nav {
        z-index: 50;
    }

    .primary-header .primary-nav ul li {
        height: auto;
    }

    .primary-header .primary-nav ul li a {
        font-size: 22px;
        float: none;
    }

    .primary-header .primary-nav .sub-menu {
        margin-top: 10px;
        background: #1575bd;
        position: relative;
        top: auto;
    }

    .primary-header .primary-nav .sub-menu li a {
        font-size: 16px;
    }

    .primary-header .primary-nav .with-sub-menu, .primary-header .primary-nav .no-sub-menu {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #2985be;
        text-align: left;
    }

    .primary-header .primary-nav .with-sub-menu:hover, .primary-header .primary-nav .no-sub-menu:hover {
        background: #0075bf !important;
        border-radius: 0 !important;
    }

    .primary-header .primary-nav .with-sub-menu a, .primary-header .primary-nav .no-sub-menu a {
        color: #fff !important;
    }

    .primary-header .secondary-nav {
        display: none;
    }

    .primary-header .shipping-banner {
        display: none;
    }

    .primary-header .large-ad {
        display: none;
    }

    .primary-header .logo {
        width: 60px;
        height: 44px;
        background: url(../images/logo-mobile.png);
        margin: 0;
        float: left;
    }

    .primary-header .top-links-mobile {
        display: block;
        float: right;
        margin-right: -10px;
    }

    .primary-header .left {
        width: 100%;
        float: none;
    }

    .primary-header .right {
        width: 100%;
        float: none;
    }

    .primary-header .nav-section {
        height: auto !important;
    }

    .primary-header .nav-icon {
        float: left;
        margin-top: 3px;
        margin-left: -5px;
        height: 40px;
        overflow: hidden;
    }

    .primary-header .searchbar {
        text-align: right;
        padding-bottom: 20px;
    }

    .primary-header .search-title {
        display: none;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 10px;
        font-family: 'Open Sans Condensed', sans-serif;
        border-left: 1px solid #60a1d2;
        padding-left: 15px;
        vertical-align: 9px;
    }

    .primary-header .searchform-container {
        float: right;
        margin-top: 9px;
        width: 80%;
    }

    .primary-header #searchform {
        display: inline-block;
        margin-top: -6px;
        width: 90%;
    }

    .primary-header .searchform {
        width: auto;
    }

    .primary-header .searchform input[type="text"] {
        width: auto;
    }

    .primary-header .primary-nav {
        display: none;
        height: auto;
        margin-left: -10px;
        margin-right: -10px;
    }

    .primary-header .primary-nav li {
        display: block;
        background: #0075bf;
    }

    .primary-header .primary-nav .sub-menu {
        height: auto;
        width: auto;
    }

    .primary-header .primary-nav .menu-more {
        display: block;
    }

    .primary-header .primary-nav .menu-games {
        display: none;
    }

    .primary-header .primary-nav .menu-more .weekly-deals {
        display: none;
    }

    .primary-header .mobile-account-bar {
        display: block;
        margin-left: -10px;
        margin-right: -10px;
        height: 26px;
        text-align: right;
        line-height: 2em;
        padding-right: 10px;
        background: #0f5995;
        border-top: 1px solid #0d4c80;
    }

    .primary-header .mobile-account-bar li {
        margin-left: 10px;
        color: #fff;
    }

    .primary-header .mobile-account-bar li:first-child {
        margin-left: 0;
    }

    .primary-header .mobile-account-bar li a {
        color: #fff;
    }

    .slider {
        margin-top: 20px;
    }

    /* Carousels */

    .carousel.large .viewport {
        width: 100%;
    }

    .carousel.large .simply-scroll {
        width: 100%;
        overflow: hidden !important;
    }

    .carousel.small {
        display: block;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
        text-align: left;
    }

    .carousel.small .viewport, .carousel.small .simply-scroll, .carousel.small .simply-scroll .simply-scroll-clip {
        width: 100%;
    }

    /* Tabs */

    .used .tabs-nav, .single .tab-nav {
        margin: 10px 0 15px 0;
        padding: 0;
        border-bottom: 0;
    }

    .used .tabs-nav li, .single .tab-nav li {
        display: block;
        margin: 0;
        padding: 0;
        border-radius: 0;
        float: none;
    }

    .used .tabs-nav li a, .single .tab-nav li a {
        display: block;
        width: auto;
        margin: 0;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        border-radius: 0;
    }

    .used .tabs-nav li:hover, .single .tab-nav li:hover a {
        background: #1575bd;
    }

    .used .tabs-nav li:first-child, .single .tab-nav li:first-child a {
        border-radius: 5px 5px 0 0;
    }

    .used .tabs-nav li:last-child, .single .tab-nav li:last-child a {
        border-radius: 0 0 5px 5px;
    }

    /* Content */

    .main .category-sidebar, .main .sidebar {
        display: none;
    }

    .main .right-box {
        width: 100%;
    }

    .additional-resources .pod {
        width: 100%;
        margin-bottom: 20px;
    }

    .additional-resources .pod:last-child {
        margin-bottom: 0;
    }

    .additional-resources .pod ul {
        border-bottom: 0;
        min-height: 0;
    }

    .store-locator-ads img {
        height: 60px;
    }

    .shopping-cart .signupMsg, .shopCart .signupMsg {
        margin: 0 !important;
    }

    .select-card span {
        font-size: 18px !important;
    }

    .wanna-win iframe {
        min-height: 700px;
    }

    /* Single Product */

    .single-product .album-art, .single-product .product-details {
        display: block;
        width: 100% !important;
    }

    .single-product .album-art {
        text-align: center;
    }

    .single-product .album-art .modal-link {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .single-product .product-details .product-heading {
        text-align: center;
        margin-top: 15px;
    }

    .single-product .album-art {
        background: none !important;
    }

    .single-product .tee-description {
        width: 100%;
    }

    .single-product .trailer-image {
        display: none;
    }

    /* Product lists */

    .table-container .product-price {
        display: none;
    }

    .table-container .product-price-mobile {
        display: table-cell;
    }

    .table-container td.product-price-mobile {
        text-align: left;
        font-family: 'Open Sans Condensed';
        font-weight: bold;
        font-size: 14px;
    }

    .table-container td.product-price-mobile span {
        font-weight: normal;
    }

    .table-container .product-quantity .count {
        width: 20px;
    }

    #info-popup {
        display: none !important;
    }

    /* Cart */

    .shopping-cart .cart-shipping .cols {
        width: 0% !important;
    }

    .shopping-cart .cart-shipping .cols.right {
        float: right;
        width: 65% !important;
    }

    /* Checkout */

    .shopCart .login, .shopCart .registration {
        width: 39%;
    }

    .shopCart .registration .cols {
        float: none;
        width: 100%;
    }

    .placeOrder .order {
        float: none;
        width: 100%;
    }

    .placeOrder .cartSummary {
        float: none;
        width: 90%;
    }

    .paymentMethod {
        margin: 0;
    }

    .shippingAddress {
        margin: 0;
    }

    .shippingAddress .cols {
        width: 45%;
    }

    .shippingAddress form {
        float: none !important;
        margin-top: 20px;
    }

    .shippingAddress input[type='submit'] {
        float: none !important;
    }

    /* Utilities */

    .hide-tablet {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* Phone portrait only
--------------------------------------------------------------------------- */

@media (max-width: 479px) {

    /* Header */

    .slider .slides {
        width: 100%;
    }

    .slider-nav {
        display: none;
    }

    .primary-header .cart-total {
        margin-left: 0;
        display: none;
    }

    .used .used-text {
        display: none;
    }

    /* Carousels */

    .carousel.large h2 a, .carousel.small h2 a {
        display: block;
        margin-bottom: 10px;
    }

    .home-grid .carousel.large, .home-grid .carousel.small {
        position: relative;
        margin-bottom: 10px;
        background: none;
        width: 100%;
        border-radius: ;
    }

    .home-grid .carousel.large:after, .home-grid .carousel.small:after {
        position: absolute;
        content: "»";
        top: 18px;
        right: 10px;
        font-size: 30px;
        font-weight: 500;
        color: #7b0caa;
        pointer-events: none;
    }

    .home-grid .carousel.large .box-top, .home-grid .carousel.small .box-top {
        background: #e9e9e9;
        margin-bottom: 0;
        padding: 10px 10px 0 10px;
    }

    .home-grid .carousel.large .viewport, .home-grid .carousel.small .viewport {
        display: none;
    }

    .just-for-you-tab {
        display: none !important;
    }

    .home-grid #justForYou {
        display: none !important;
    }

    /* Promotions */

    .promotions {
        padding: 10px;
    }

    .promotions ul {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .promotions ul li {
        width: 50%;
        margin-right: 0;
    }

    .promotions ul li:first-child {
        width: 100%;
        margin-right: 0;
    }

    .promotions ul li.fyeguy {
        display: block;
        width: 100%;
        height: 40px;
        background: none;
    }

    .promotions ul li.fyeguy a {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin-right: 10px;
        text-indent: 0;
        font-size: 14px;
        color: #96CDF0;
        text-decoration: underline;
        line-height: 3em;
    }

    .promotions ul li.fyeguy a:hover {
        color: #CDE9FA;
    }

    .promotions ul li:first-child img {
        width: 300px !important;
    }

    /* Product lists */

    .table-container {
        margin-left: -10px;
        margin-right: -10px;
        overflow: hidden;
    }

    .table-container td {
        word-wrap: break-word;
    }

    .table-container .product-image, .table-container .product-artist, .table-container .product-title, .table-container .product-type {
        display: none;
    }

    .table-container.tees-list .product-image, .table-container.tees-list .product-title { /* Override for tees lists */
        display: table-cell;
    }

    .table-container .buy-new, .table-container .buy-used {
        width: 115px !important;
    }

    .table-container .product-details-mobile {
        display: table-cell;
        width: 100% !important;
    }

    .table-container td.product-details-mobile {
        font-family: 'Open Sans Condensed';
        font-size: 14px;
        font-weight: bold;
    }

    .table-container td.product-details-mobile a {
        display: block;
        margin-bottom: 5px;
        font-family: 'Open Sans Condensed';
        font-size: 14px;
        font-weight: bold;
        color: #0076c2;
        text-transform: uppercase;
    }

    .table-container td.product-details-mobile img {
        width: auto;
        height: auto;
        max-width: none;
    }

    .table-container td.product-details-mobile p {
        line-height: 2em;
    }

    .table-container td.grey.button {
        width: auto;
    }

    .pagination {
        float: none;
        text-align: center;
    }

    /* Recommendations */

    .recommendations-box .viewport li {
        width: 27%;
    }

    /* Single Product */

    .single-product .recommendations-box .viewport li {
        width: 25%;
    }

    .single-product .jp-audio {
        width: 100%;
        overflow: hidden;
    }

    /* Cart */

    .shopping-cart .top-cart h1, .shopping-cart .top-cart .continue-shopping, .shopping-cart .top-cart .checkout {
        float: none;
    }

    .shopping-cart .buy.items h3 {
        margin-top: 20px;
    }

    .shopping-cart .cart-shipping .cols.right {
        width: 100% !important;
    }

    .shopping-cart .shipping-label, .shopping-cart .promo-label {
        float: none !important;
    }

    /* Login / Registration */

    .login-page .pod {
        width: 100%;
    }

    .login-page .pod:first-child {
        border-bottom: 1px solid #ccc;
    }

    /* Checkout */

    .cartSteps {
        width: 280px;
    }

    .cartSteps li.bar {
        width: 33%;
    }

    .shopCart .login, .shopCart .registration {
        float: none;
        width: 100%;
    }

    .shopCart .shipAddress {
        width: 100%;
    }

    .placeOrder .order .col3 .cols {
        float: none;
        width: 100%;
    }

    .placeOrder .order .col2 .cols {
        float: none;
        width: 70%;
    }

    .placeOrder .cartSummary {
        width: 85%;
    }

    .paymentMethod .form {
        padding: 10px;
    }

    .paymentMethod .right {
        float: none;
        text-align: center;
    }

    .shippingAddress {
        margin: 0;
    }

    .paymentMethod .cols {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Content */

    .select-card li {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .select-card span {
        font-size: 20px !important;
    }

    /* Footer */

    .cart-footer-mobile {
        display: block;
    }

    /* Utilities */

    .hide-mobile-portrait {
        display: none !important;
    }
}
