
#acctHowToRedeemGiftCard
{
	position: absolute;
	_position: absolute; /* hack for internet explorer 6*/
	height: auto;
	width: 567px;
	display: none;
	z-index: 1010;
}

#acctHowToRedeemGiftCard .close
{
	background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 10px;
}

#acctHowToRedeemGiftCard h1
{
    font-size:23px;
    line-height:48px;
    border-bottom:1px solid #aaaaaa;/* border gray */
    margin-bottom:12px;
}

#acctHowToRedeemGiftCard p.story
{   padding: 0;
    margin: 0 auto 0 auto;
    width: 350px;
}
#acctHowToRedeemGiftCard p.last
{
    padding: 0;
    width: 285px;
    font-weight: bold;
    margin: 0 auto 25px auto;

}

#acctHowToRedeemGiftCard div.actions
{
    height:19px;
    margin-top:0;
    margin-bottom:11px;
}

*html #acctHowToRedeemGiftCard div.actions
{
    margin-top:18px;
}

#acctHowToRedeemGiftCard div.actions ul li
{
    float:right;
    padding-left:10px;
    display:inline;
}

