div#cartpopup
{
	background-image: url(../images/pop_up_box_top_midsize.gif);
	background-position: top left;
	background-repeat: no-repeat;
		position: absolute;
	_position: absolute; /* hack for internet explorer 6*/
	width: 567px;
	overflow: visible;
	display: none;
	z-index: 1010;
}
div#cartpopup h2.header
{
    font-size: 23px;
    line-height: 23px;
    padding: 0 0 10px 0;
    margin: 0px 0 10px 0;
    font-weight: normal;
    border-bottom: solid 1px #222222;
}
div#cartpopup h2
{
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 0px 0 0px 0;
    margin: 10px 0 10px 0;
    clear: both;
}
div#cartpopup h5
{
    color: White;
	float: left;
	display: inline;
	margin-left: 14px;
	font-size: 14px;
	font-weight: bold;
	width: 412px;
	line-height: 35px;
}
div#cartpopup a.close
{
    background: url(../images/popup_box_close_x.gif) no-repeat right center;
	padding-right: 18px;
	margin-right: 18px;
	color: White;
	border: none;
	line-height: 35px;
	float: right;
}
div#cartpopup a.close:hover
{
	color: White;
	border: none;
	text-decoration: underline;
}
div#cartpopup .box
{
	background-image: url(../images/pop_up_box_btm_midsize.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 10px 16px 40px 16px;
	margin: 0 0 25px 0;
	clear: both;
	width: 567;

}
div#cartpopup .box ul
{
    margin: 0px;
    padding: 0px;
    clear: both;
}
div#cartpopup .box ul.last
{
    padding-bottom: 20px;
}
div#cartpopup .box li
{
    float: left;
    display: inline;
}
div#cartpopup .box li.qty
{
    width: 30px;
}
div#cartpopup .box li.name
{
    width: 350px;
}
div#cartpopup .box li.total
{
    width: 145px;
    text-align: right;
}
div#cartpopup .box li.viewcart
{
	font-size: 12px;
    line-height: 23px;
}
div#cartpopup .box p.moreinfo
{
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
div#cartpopup .box .checkout
{
    margin: 0;
    padding: 0;
    float: right;
}
div#cartpopup .box .checkout li
{
    display: inline;
    float: left;
    padding: 0 0 0 6px;
}
div#cartpopup .box a.cancel
{
	border-bottom: dotted 1px #444444 /* charcoal */;
}
div#cartpopup .box a.cancel:hover
{
	color: #5C2946 /*  eggplant */;
	border-bottom: solid 1px #5C2946 /*  eggplant */;
}

div#cartpopup .box .totals
{
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: solid 1px #222222;
}
div#cartpopup .box .totals li
{
    font-size: 14px;
    width: 100px;
}
div#cartpopup .box .totals li.totalqty, div#cartpopup .box .totals li.subtotal
{
    width: 80px;
}
div#cartpopup .box .totals li.subtotal
{
    margin-left: 167px;
}
div#cartpopup .box .totals li.subtotalqty
{
    text-align: right;
}
div#cartpopup .box .totals li label
{
    font-weight: bold;
}
div#cartpopup .box p.moreinfo
{
    border-bottom: solid 1px #222222;
}

