/*
	Name:		Close-up Styles 2&3
	File:		closeups.css
	Purpose:
	
*/

/*--------------------------
	close-up 2 style
--------------------------*/
.closeup2
{
	float: left;
    width: 990px;
    background: url(../images/feature_box_top2.gif) no-repeat top left;
    padding-top: 12px;
    margin-bottom: 16px;
	display: inline;
}

.closeup2 .box
{
    width: 958px;
    background: url(../images/feature_box_btm.gif) no-repeat bottom left;
    padding: 2px 16px 16px 16px;
	*padding: 2px 16px 0 16px;
    overflow: auto;
}
.closeup2 .box h2.header
{
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 16px;
}

.closeup2 .box div.innerBox1
{
    float: left;
    width: 465px;
    margin-right: 28px;
    display: inline;
}

.closeup2 .box div.innerBox2
{
    float: left;
    width: 465px;
    display: inline;
}

.closeup2 .itemBox
{
    float: left;
    width: 215px;
    display: inline;
    overflow: auto;
}

.closeup2 .itemBox .item img
{
    width: 211px;
    height: 211px;
    border: 1px solid #aaaaaa;
}

.closeup2 .itemBox .item a
{
    display: block;
    padding: 0px;
    border-bottom: none;
    border: 1px solid white;
}

.closeup2 .itemBox .item a:hover
{
    border-bottom: solid 1px white;
}
.closeup2 .itemBox .smallItem
{
    width: 215px;
    margin-top: 10px;
	overflow:auto;
}

.closeup2 .itemBox .smallItem a
{
    display: block;
    float: left;
    padding: 0px;
    text-decoration: none;
    margin: 0px 0px 0px 7px;
    border: 1px solid white;
}

.closeup2 .itemBox .smallItem a.first{
	margin:0;
}

.closeup2 .itemBox .smallItem a img
{
    width: 63px;
    height: 63px;
    border: 1px solid #AAAAAA /* border gray */;
}
.closeup2 .itemBox .smallItem a:hover, .closeup2 .itemBox .smallItem a:hover img
{
    border: 1px solid #DB8F21 /* tomato */;
    display: block;
}

.closeup2 .itemInfo
{
    float: left;
    width: 238px;
    margin-left: 12px;
    display: inline;
}

.closeup2 .itemInfo h2
{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 12px;
    font-weight: bold;
}
.closeup2 .itemInfo p
{
    margin: 0px 0px 10px 0px;
    padding: 0;
}

/*--------------------------
	close-up 3 style
--------------------------*/
.closeup3
{
	float: left;
    width: 990px;
    background: url(../images/feature_box_top2.gif) no-repeat top left;
    padding-top: 4px;
    margin-bottom: 16px;
	display: inline;
}

.closeup3 .box
{
    width: 958px;
    background: url(../images/feature_box_btm.gif) no-repeat bottom left;
    padding: 10px 16px 16px 16px;
	*padding: 10px 16px 0 16px;
    overflow: auto;
}

.closeup3 .box h2.header
{
    font-size: 23px;
    line-height: 23px;
    margin-bottom: 16px;
    font-weight: normal;
}

.closeup3 .box h2
{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 12px;
    font-weight: bold;
}

.closeup3 .box div.innerBox1
{
    float: left;
    width: 280px;
    padding-right: 29px;
    border-right: 1px solid #aaaaaa;
    display: inline;
}

.closeup3 .box div.innerBox2
{
    float: left;
    width: 280px;
    margin-left: 29px;
    padding-right: 29px;
    border-right: 1px solid #aaaaaa;
    display: inline;
}

.closeup3 .box div.innerBox3
{
    float: left;
    width: 280px;
    margin-left: 29px;
    display: inline;
}

.closeup3 .box p
{
    margin: 0;
    padding: 0;
}

.closeup3 .itemBox
{
    margin-bottom: 4px;
    overflow: auto;
	width:280px;
}

.closeup3 .itemBox .item
{
    float: left;
    width: 204px;
    height: 204px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    display: inline;
    border: solid 1px white;
}

.closeup3 .itemBox .item a, .closeup3 .itemBox .item a:hover
{
    display: block;
    border: none;
    text-decoration: none;
}

.closeup3 .itemBox .item a img
{
    display: block;
    width: 202px;
    height: 202px;
    border: solid 1px #AAAAAA /* border gray */;
}

.closeup3 .itemBox .smallItem
{
    float: left;
    width: 64px;
    display: inline;
}

.closeup3 .itemBox .smallItem a img
{
    border: 1px solid #aaaaaa;
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.closeup3 .itemBox .smallItem a
{
    display: inline-block;
    text-decoration: none;
    width:62px;
    height:62px;
    border: 1px solid white;
    margin: 0px 0px 7px 0px;
    padding:0;
}

.closeup3 .itemBox .smallItem a.last
{
    margin: 0;
    padding:0;
}

.closeup3 .itemBox .smallItem a:hover
{
	display: inline-block;
    text-decoration: none;
    border: 1px solid #ffa500;
	margin: 0px 0px 7px 0px;
    padding:0;
}
.closeup3 .itemBox .smallItem a:hover img{
	text-decoration: none;
    border: 1px solid #ffa500;
	margin: 0;
    padding:0;
}