/*
	Name:		Theme Favorites (Gift Shops)
	File:		themeFavorites.css
	Purpose:
	
*/
.culclassby2 .box h2.header
{
	font-size: 23px;
	line-height: 23px;
	font-weight: normal;
	margin: 0 0 12px 0;
}
.culclassby2 .itemBox h2
{
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	margin-bottom: 6px;
}
/* *********************************************
		wide style
   ********************************************* */
.culclassby2
{
	clear: both;
	width: 990px;
	background: url(/styles/images/content_box1_top.gif) no-repeat top left;
	margin-bottom: 16px;
	padding-top: 4px;
}
.culclassby2 .box
{
	width: 958px;
	background: url(/styles/images/content_box1_btm.gif) no-repeat bottom left;
	padding: 0 16px 16px 16px;
	*padding: 0 16px 4px 16px;
	margin-top: 12px;
	overflow: auto;
}
.culclassby2 .itemBox
{
	float: left;
	width: 958px;
	display:inline;
}
.culclassby2 .itemBox .item
{
	float: left;
	width: 465px;
	display:inline;
}
.culclassby2 .itemBox .item.first
{
	margin-right: 28px;
}
.culclassby2 .classimage
{
	float: left;
	width: 219px;
	height: 219px;
	margin: 0;
	padding: 0;
}
.culclassby2 .classstory
{
	float: left;
	width: 230px;
	margin-left: 16px;
}
.culclassby2 .itemBox a.classPicture
{
	display: block;
	width: 219px;
	height: 219px;
	padding: 0;
	margin: 0;
	border: 0;
}
.culclassby2 .itemBox img
{
	display: block;
	width: 217px;
	height: 217px;
	border: solid 1px #aaaaaa /* border gray */;
	padding: 0;
	margin: 0;
}
/* *********************************************
		narrow style
   ********************************************* */
.culclassby2.narrow
{
	clear: both;
	width: 792px;
	background: url(/styles/images/content_box2_top.gif) no-repeat top left;
	margin-bottom: 16px;
	padding-top: 4px;
}
.culclassby2.narrow .box
{
	width: 760px;
	background: url(/styles/images/content_box2_btm.gif) no-repeat bottom left;
	padding: 0px 16px 16px 16px;
	*padding: 0px 16px 4px 16px;
	margin-top:12px;
	overflow: auto;
}
.culclassby2.narrow .itemBox
{
	float: left;
	width: 760px;
	display:inline;
}
.culclassby2.narrow .itemBox .item
{
	float: left;
	width: 370px;
	display:inline;
}
.culclassby2.narrow .itemBox .item.first
{
	margin: 0 20px 0 0;
}
.culclassby2.narrow .classimage
{
	float: left;
	width: 152px;
	height: 152px;
	margin: 0;
	padding: 0;
}
.culclassby2.narrow .classstory
{
	float: left;
	width: 202px;
	margin-left: 16px;
}
.culclassby2.narrow .itemBox a.classPicture
{
	display: block;
	width: 152px;
	height: 152px;
	padding: 0;
	margin: 0;
	border: 0;
}
.culclassby2.narrow .itemBox img
{
	display: block;
	width: 150px;
	height: 150px;
	border: solid 1px #aaaaaa /* border gray */;
	padding: 0;
	margin: 0;
}
.classstory .priceblock
{
	padding-top: 0;
}
/* MERGED FROM CULCLASSDETAIL.CSS */
/*
	name: Product Detail Styles
	file: pdpProductdetail.css
	desc: Use with pdpProductDetail.htm to style the upper-most portion
		  of the product detail page.
*/
#culclassdetail
{

}
#culclassdetail .primary, #culclassdetail .secondary
{
	overflow: auto;
	float: left;
}
* html #culclassdetail .primary, * html #culclassdetail .secondary
{
	display: inline /* IE6 3-pixel fix */;
}
#culclassdetail .primary
{
	width: 529px;
	margin-left: 7px;
	margin-bottom: 16px;
	overflow:hidden;
}
#culclassdetail .secondary
{
	margin-right: 24px;
	width: 430px;
}
/* *********************************************
			Product Name
   ********************************************* */
#culclassdetail .name
{
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	margin: 0 0 16px 0;
}
/* *********************************************
			Outlook Section
   ********************************************* */
#culclassdetail .outlook .rating, 
#culclassdetail .outlook .review, 
#culclassdetail .outlook .social
{
	font-size: 11px;
	line-height: 11px;
	margin-right: 16px;
}
#culclassdetail .outlook
{
	margin-bottom: 24px;
}
#culclassdetail .outlook .rating
{
	font-weight: bold;
}
#culclassdetail .outlook .review a
{
	color: #444444;
}
#culclassdetail .outlook .review a:hover
{
	border-bottom: solid 1px #5C2946 /*  eggplant */;
}
/* *********************************************
			Pricing Section
   ********************************************* */
#culclassdetail .pricing
{
	margin-bottom: 24px;
	font-size: 13px;
	line-height: 13px;
}
#culclassdetail .pricing li
{
	display: inline;
	margin-right: 12px;
}
#culclassdetail .pricing .price
{
	font-weight: bold;
}
#culclassdetail .pricing .sale
{
	font-weight: bold;
	color: #921E1E /* bordeux heavy */;
}
#culclassdetail .pricing .regular
{
	color: #AAAAAA /* border gray */;
}
/* *********************************************
			Options Section
   ********************************************* */
#culclassdetail .options
{
	overflow: auto;
	margin: 0 0 24px 0;
}
#culclassdetail .options label
{
	font-weight: bold;
}
#culclassdetail .options li
{
	display: inline;
	margin-right: 12px;
}
#culclassdetail .options .size select, 
#culclassdetail .options .color select
{
	width: 12em;
	margin-left: 2px;
}
/* *********************************************
			Offers Section
   ********************************************* */
#culclassdetail .reserveDiv
{
	float: left;
	width: 100%;
	display: inline;
}
#culclassdetail .offers, 
#culclassdetail .reserve, 
#culclassdetail .scheduling
{
	margin: 0 0 10px 0;
	padding: 0;
	display: block;
	width: 60%;
}
#culclassdetail .scheduling
{
    width: 100%;
}
#culclassdetail .offers label, 
#culclassdetail .reserve label, 
#culclassdetail .scheduling label
{
	font-weight: bold;
}
#culclassdetail .offers dd a, 
#culclassdetail .reserve dd a
{
	color: #444444;
}
#culclassdetail .reserve dl dt
{
    width: 150px;
}
#culclassdetail .reserve dl dd
{
    width: 150px;
}
#culclassdetail .scheduling dl dd a, 
#culclassdetail .offers dd a.format
{
    border-bottom: dotted 1px #222222 /* border gray */;
}
#culclassdetail .scheduling dl dd a:hover, 
#culclassdetail .offers dd a.format:hover
{
	border-bottom: solid 1px #5C2946 /* eggplant */;
	color: #5C2946 /* eggplant */;
}
#culclassdetail .scheduling dl dt
{
    width: 100px;
}
#culclassdetail .scheduling dl dd
{
    width: 200px;
}
/* *********************************************
			Purchasing Section
   ********************************************* */
#culclassdetail .purchasing
{
	float: left;
	margin: 24px 0 24px 0; 
	line-height: 23px;
	display: inline;
}
#culclassdetail .purchasing label
{
	font-weight: bold;
}
#culclassdetail .purchasing li
{
	float: right;
	margin: 0 12px 0 0;
	display: inline;
}
#culclassdetail .purchasing.byrows ul,
#culclassdetail .purchasing ul.first,
#culclassdetail .purchasing ul.last
{
	float: left;
}
#culclassdetail .primary .purchasing ul li.quantity,
#culclassdetail .primary .purchasing ul li.cart,
#culclassdetail .primary .purchasing ul li.registry,
#culclassdetail .primary .purchasing ul li.wishlist
{
	float: left;
	margin: 0 0 0 12px;
}
#culclassdetail .primary .purchasing ul li.mycollections
{
	display: none;
}
#culclassdetail .purchasing .quantity input
{
	width: 2em;
	margin-left: 4px;
}
/* *********************************************
			Related Items Section
   ********************************************* */
#culclassdetail .relateditems
{
	clear: both;
	margin-bottom: 26px;
	overflow: auto;
}
#culclassdetail .relateditems li
{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
	border-right: solid 1px #AAAAAA /* border gray */;
}
#culclassdetail .relateditems li a
{
	color: #444444;
}
#culclassdetail .relateditems li.last
{
	border-right: none;
}
#culclassdetail .relateditems li.first
{
    padding-left: 0;
}
/* *********************************************
			Tab Description Section
   ********************************************* */
#culclassdetail .tabdescription
{
	overflow: hidden;
}
#culclassdetail .tabdescription .tab a
{
	/* charcoal */;
}
#culclassdetail .tabshopping.pdp
{
	width: 528px;
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu
{
	width: 502px;
	padding: 0;
	margin: 0 0 -1px 13px; /* pull the menu down 1px, and indent it left */
	background: url(/styles/images/small_tab_box_back_nav.gif) no-repeat bottom left; /* tab row background */
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.first
{
	margin-left: 0 /* position the first tab name from the left 6px (expose bkgnd) */;
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li a span
{
	padding-left: 8px /* space on left side of tab name */;
	padding-right: 10px /* space on right side of tab name */;
	font-size: 11px /* font size of tab name */;
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.last a
{
	padding: 0 0 0 4px /* pull right tab to the right */;
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.first a span
{
}
#culclassdetail .tabshopping.pdp div.tabs div.tab
{
	background: url(/styles/images/small_tab_box_top.gif) no-repeat top left; /* box top */
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box
{
	background: url(/styles/images/small_tab_box_btm.gif) no-repeat bottom right; /* box btm */
	padding-bottom: 16px;
	width: 496px;
}
/*  box sides , fix bug 17053 */
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides
{
	background: url(/styles/images/small_tab_box_mid_528_3.gif) repeat-y left top; /* box btm */
	width: 496px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides h2
{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides p
{
    margin-bottom: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides .last
{
    margin-bottom: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides img
{
    height: 128px;
    width: 128px;
    margin: 0px;
    padding: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides .instructorimage
{
    float: left;
    height: 128px;
    width: 128px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxsides .instructorstory
{
    float: left;
    width: 350px;
    margin-left: 16px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .boxbtm
{
	float: left;
	background: url(/styles/images/small_tab_box_btm_528_16.gif) no-repeat right bottom; /* box btm */
	width: 528px;
	height: 16px;
	display: inline-block;
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.active a
{
	background: url(/styles/images/carsl5_top_nav_ovr_left.gif) no-repeat bottom left; /* left section */
}
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.last.active a span, 
#culclassdetail .tabshopping.pdp div.tabs ul.menu li.active a span
{
	background: url(/styles/images/carsl5_top_nav_ovr_right.gif) no-repeat bottom right; /* right section */
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box h2
{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box p
{
    margin-bottom: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box .last
{
    margin-bottom: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box img
{
    height: 128px;
    width: 128px;
    margin: 0px;
    padding: 0px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box .instructorimage
{
    float: left;
    height: 128px;
    width: 128px;
}
#culclassdetail .tabshopping.pdp div.tabs div.tab .box .instructorstory
{
    float: left;
    width: 350px;
    margin-left: 16px;
}
/* *********************************************
			Zoom Image Section
   ********************************************* */
#culclassdetail .mainimage img
{
	height: 426px;
	width: 426px;
	border: solid 1px #AAAAAA /* border gray */;
	margin: 1px;
}
#culclassdetail .mainimage a
{
	height: 430px;
	width: 430px;
	border: none;
}
/* *********************************************
			Alt Views Section
   ********************************************* */
#culclassdetail .views
{
	width: 300px;
	overflow: auto;
	margin: 0 auto 25px auto;
}
#culclassdetail .views .row
{
	overflow: auto;
	margin: 0 auto 6px auto;
}
#culclassdetail .views a
{
	margin-right: 6px;
	border: solid 1px white;
	float: left;
	display: block;
}
#culclassdetail .views a img
{
	width: 47px;
	height: 47px;
	border: solid 1px #AAAAAA /* border gray */;
}
#culclassdetail .views a:hover, 
#culclassdetail .views a:hover img, 
#culclassdetail .views a.active, 
#culclassdetail .views a.active img
{
	border: solid 1px #DB8F21 /* tomato */;
}
/* *********************************************
			Description Text
   ********************************************* */
#culclassdetail .productbugs
{
	font-size: .90em;
	font-weight: bold;
}
#culclassdetail .tabdescription p, 
#culclassdetail .tabdescription ul, 
#culclassdetail .tabdescription ol
{
	margin-bottom: 1.75em;
}
#culclassdetail .tabdescription ul
{
	list-style-type: square;
	list-style-position: inside;
}
/* tabs
*/
#culclassdetail div.tabshopping.pdp div.tabs ul.menu li a span
{
    padding-left: 26px;
	padding-right: 28px;
}
#culclassdetail .storedetails, 
#culclassdetail .storehours, 
#culclassdetail .storecontact
{
    font-size: 12px;
    line-height: 1.5em;
	/*margin: 0 0 6px 0;*/
	padding: 0;
	display: block;
	float: left;
}
#culclassdetail .storehours dl
{
    width: 250px;
}
#culclassdetail .storehours dt
{
    width: 75px;
}
#culclassdetail .storehours dd
{
    width: 125px;
}
#culclassdetail .storedetails
{
    float: left;
}
#culclassdetail .storedetails .storehours dl.last, 
#culclassdetail .storedetails .storehours dl.last dd
{
	margin: 0;
}
#culclassdetail .mapwrap
{
    width: 200px;
    height: 200px;
    float: right;
    padding: 0;
    overflow: hidden;
    margin: 0;
}
#culclassdetail #storemap
{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}
/* MERGED FROM CULCLASSOVERVIEW.CSS */
/*
	name: Product Detail Styles
	file: culClassOverview.css
	desc: Use with culClassOverview.htm to style the upper-most portion
		  of the cooking classes detail page.
*/
#culclassoverview .primary, 
#culclassoverview .secondary
{
	overflow: auto;
	float: left;
}
* html #culclassoverview .primary, 
* html #culclassoverview .secondary
{
	display: inline /* IE6 3-pixel fix */;
}
#culclassoverview .primary
{
	width: 536px;
}
#culclassoverview .secondary
{
	margin-right: 24px;
	width: 430px;
}
/* *********************************************
			Product Name
   ********************************************* */
#culclassoverview .name
{
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	margin: 0 0 16px 0;
}
/* *********************************************
			Outlook Section
   ********************************************* */
#culclassoverview .outlook .rating, 
#culclassoverview .outlook .review, 
#culclassoverview .outlook .social
{
	font-size: 11px;
	line-height: 11px;
	margin-right: 16px;
}
#culclassoverview .outlook
{
	margin-bottom: 24px;
}
#culclassoverview .outlook .rating
{
	font-weight: bold;
}
#culclassoverview .outlook .review a
{
	color: #444444;
}
#culclassoverview .outlook .review a:hover
{
	border-bottom: solid 1px #5C2946 /*  eggplant */;
}
/* *********************************************
			Pricing Section
   ********************************************* */
#culclassoverview .pricing
{
	margin-bottom: 24px;
	font-size: 13px;
	line-height: 13px;
}
#culclassoverview .pricing li
{
	display: inline;
	margin-right: 12px;
}
#culclassoverview .pricing .sale
{
	font-weight: bold;
	color: #921E1E /* bordeux heavy */;
}
#culclassoverview .pricing .regular
{
	color: #AAAAAA /* border gray */;
}
/* *********************************************
			Options Section
   ********************************************* */
#culclassoverview .options
{
	overflow: auto;
	margin: 0 0 24px 0;
}
#culclassoverview .options label
{
	font-weight: bold;
}
#culclassoverview .options li
{
	display: inline;
	margin-right: 12px;
}
#culclassoverview .options .size select, 
#culclassoverview .options .color select
{
	width: 12em;
	margin-left: 2px;
}
/* *********************************************
			Offers Section
   ********************************************* */
#culclassoverview .offers, 
#culclassoverview .reserve
{
	margin: 0 0 6px 0;
	padding: 0;
	display: block;
	width: 60%;
}
#culclassoverview .offers label, 
#culclassoverview .reserve label
{
	font-weight: bold;
}
#culclassoverview .offers dd a, 
#culclassoverview .reserve dd a
{
	color: #444444;
	BORDER-BOTTOM: #222222 1px dotted
}
#culclassoverview .offers dd a:hover, 
#culclassoverview .reserve dd a:hover
{
	border-bottom: solid 1px #5C2946 /* eggplant */;
	color: #5C2946 /* eggplant */;
}
#culclassoverview .reserve
{
    clear: both;
}
#culclassoverview .reserve dl dt
{
    width: 150px;
}
#culclassoverview .reserve dl dd
{
    width: 150px;
}
/* *********************************************
			Purchasing Section
   ********************************************* */
#culclassoverview .purchasing
{
	margin-bottom: 24px;
	margin-top: 12px;
	line-height: 24px;
	overflow: auto;
}
#culclassoverview .purchasing label
{
	font-weight: bold;
}
#culclassoverview .purchasing li
{
	float: left;
	display: inline;
	margin: 0 12px 0 0;
}
#culclassoverview .purchasing .quantity input
{
	width: 2em;
	margin-left: 4px;
}
/* *********************************************
			Related Items Section
   ********************************************* */
#culclassoverview .relateditems
{
	clear: both;
	margin-bottom: 16px;
	overflow: auto;
}
#culclassoverview .relateditems li
{
	float: left;
	display: inline;
	padding: 0 5px 0 5px;
	border-right: solid 1px #AAAAAA /* border gray */;
}

#culclassoverview .relateditems li a
{
	color: #444444;
	BORDER-BOTTOM: #222222 1px dotted
}
#culclassoverview .relateditems li a:hover
{
	border-bottom: solid 1px #5C2946 /* eggplant */;
	color: #5C2946 /* eggplant */;
}
#culclassoverview .relateditems li.last
{
	border-right: none;
}
/* *********************************************
			Color Choices Section
   ********************************************* */
#productdetail .colorchoices
{
	width: 430px;
	overflow: auto;
	margin-bottom: 26px;
}
#productdetail .swatches
{
	width: 282px;
	overflow: auto;
	margin: 0 auto;
}

#productdetail .swatches a
{
	margin: 2px 6px 4px 0;
	border: solid 1px white;
	float: left;
	display: block;
}
#productdetail .swatches a img
{
	width: 23px;
	height: 23px;
	border: solid 1px #AAAAAA /* border gray */;
}
#productdetail .swatches a:hover, 
#productdetail .swatches a:hover img, 
#productdetail .swatches a.active, 
#productdetail .swatches a.active img
{
	border: solid 1px #DB8F21 /* tomato */;
}
/* *********************************************
			Tab Description Section
   ********************************************* */
#culclassoverview .tabdescription
{
	overflow: hidden;
}
#culclassoverview .tabdescription .tab a
{
	border-bottom: dotted 1px #444444 /* charcoal */;
}
#culclassoverview .tabshopping.pdp
{
	width: 528px;
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu
{
	width: 502px;
	padding: 0;
	margin: 0 0 -1px 13px; /* pull the menu down 1px, and indent it left */
	background: url(/styles/images/small_tab_box_back_nav.gif) no-repeat bottom left; /* tab row background */
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.first
{
	margin-left: 6px /* position the first tab name from the left (expose bkgnd) */;
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu li a span
{
	padding-left: 8px /* space on left side of tab name */;
	padding-right: 10px /* space on right side of tab name */;
	font-size: 11px /* font size of tab name */;
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.last a
{
	padding: 0 0 0 4px /* pull right tab to the right */;
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.first a span
{
}
#culclassoverview .tabshopping.pdp div.tabs div.tab
{
	background: url(/styles/images/small_tab_box_top.gif) no-repeat top left; /* box top */
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box
{
	background: url(/styles/images/small_tab_box_btm.gif) no-repeat bottom right; /* box btm */
	width: 496px;
	padding-bottom: 16px;
}
/*  box sides , fix bug 17053 */
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides
{
	background: url(/styles/images/small_tab_box_mid_528_3.gif) repeat-y left top; /* box btm */
	width: 496px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides h2
{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides p
{
    margin-bottom: 20px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides img
{
    height: 128px;
    width: 128px;
    margin: 0px;
    padding: 0px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides .instructorimage
{
    float: left;
    height: 128px;
    width: 128px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxsides .instructorstory
{
    float: left;
    width: 350px;
    margin-left: 16px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .boxbtm
{
	float: left;
	background: url(/styles/images/small_tab_box_btm_528_16.gif) no-repeat right bottom; /* box btm */
	width: 528px;
	height: 16px;
	display: inline-block;
}
/*--------------------------------------------*/
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.active a
{
	background: url(/styles/images/carsl5_top_nav_ovr_left.gif) no-repeat bottom left; /* left section */
}
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.last.active a span, 
#culclassoverview .tabshopping.pdp div.tabs ul.menu li.active a span
{
	background: url(/styles/images/carsl5_top_nav_ovr_right.gif) no-repeat bottom right; /* right section */
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box h2
{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box p
{
    margin-bottom: 20px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box img
{
    height: 128px;
    width: 128px;
    margin: 0px;
    padding: 0px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box .instructorimage
{
    float: left;
    height: 128px;
    width: 128px;
}
#culclassoverview .tabshopping.pdp div.tabs div.tab .box .instructorstory
{
    float: left;
    width: 350px;
    margin-left: 16px;
}
/* *********************************************
			Zoom Image Section
   ********************************************* */
#culclassoverview .mainimage img
{
	height: 426px;
	width: 426px;
	border: solid 1px #AAAAAA /* border gray */;
	margin: 1px;
}
#culclassoverview .mainimage a
{
	height: 430px;
	width: 430px;
	border: none;
}
/* *********************************************
			Alt Views Section
   ********************************************* */
#culclassoverview .views
{
	width: 300px;
	overflow: auto;
	margin: 0 auto 25px auto;
}
#culclassoverview .views .row
{
	overflow: auto;
	margin: 0 auto 6px auto;
}
#culclassoverview .views a
{
	margin-right: 6px;
	border: solid 1px white;
	float: left;
	display: block;
}
#culclassoverview .views a img
{
	width: 47px;
	height: 47px;
	border: solid 1px #AAAAAA /* border gray */;
}
#culclassoverview .views a:hover, 
#culclassoverview .views a:hover img, 
#culclassoverview .views a.active, 
#culclassoverview .views a.active img
{
	border: solid 1px #DB8F21 /* tomato */;
}
/* *********************************************
			Description Text
   ********************************************* */
#culclassoverview .productbugs
{
	font-size: .90em;
	font-weight: bold;
}
#culclassoverview .tabdescription p, 
#culclassoverview .tabdescription ul, 
#culclassoverview .tabdescription ol
{
	margin-bottom: 1.75em;
}
#culclassoverview .tabdescription ul
{
	list-style-type: square;
	list-style-position: inside;
}
/* tabs
*/
#culclassoverview div.tabshopping.pdp div.tabs ul.menu li a span
{
    padding-left: 45px;
	padding-right: 47px;
}
/* MERGED FROM CULCLASSSCHEULE.CSS */
/*
	name: Culinary Classes Overview - class date and time widget
	file: culClassSchedule.css
	desc: Defines specific styles for the cooking class overview upcoming classes date/time info
*/
#culclassschedule
{
    overflow: auto;
    margin-bottom: 16px;
    clear: both;
}
#culclassschedule .classschedule
{   
    float: left;
    width: 47%;
}
#culclassschedule .classschedule.first
{
    padding-right: 20px;
}
#culclassschedule .classschedule.last
{
    padding-left: 35px;
}
#culclassschedule h3
{
    font-size: 23px;
    line-height: 29px;
    padding-bottom: 10px; 
    margin-bottom: 10px;    
    border-bottom: solid 1px #AAAAAA;
}
#culclassschedule h4
{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 13px;
    clear: both;
}
#culclassschedule .classschedule ul
{
    margin: 0;
    padding: 0;
    clear: both;
}
#culclassschedule .classschedule ul.last
{
    padding-bottom: 27px;
}
#culclassschedule .classschedule ul li
{
    overflow: visible;
    float: left;
    line-height: 2em;
    font-size: 12px;
    width: 32%;
}
#culclassschedule .classschedule ul li span
{
    display: block;
    line-height: 1.3em;
    color: #921E1E; /* bordeux heavy */
}
#culclassschedule .classschedule ul li.first
{
    margin-left: 10px;
}



