/* CSS Document $Revision:   1.15  $ */

/*******Single-product page***************/

/***left column: image and cross-sells***/
.imageCrossSellBlock{
	float:left;
	width:365px;
	margin: 10px 0 0 0;
	padding: 0;
}

/*main product image*/
.prodFullImg{ 
	text-align:center;
	height:250px;
}

.noBorder{
    border:none ;   
}

.prodView{ /*viewing tools*/
	text-align:center;
	margin-top: 2px;
	margin-bottom: 20px;
}

.prodView a {
	background: url(cssImg/magnifyIcon.gif) no-repeat 0 2px;
	padding: 0 0 8px 16px;  
}

/*age grading*/
.imageCrossSellBlock .ageGrade{
	margin: -20px 0 4px 0;
	padding-right: 6px;
	text-align:right;
}

/***cross sells***/
.crossCoordinating, .crossWays, .crossAlsoLike, .recentlyViewed{
	clear:both;
}
.crossHeader{/*cross-sell title*/
	border: 1px solid #E5B9CE;
	font-weight:bold;
	padding: 4px 21px;
	background: #F8E5EE url(cssImg/starIcon.gif) no-repeat 7px 50%;
	clear:both;
}

.crossSubhead{/*cross-sell list title*/
	border: 1px solid #E5B9CE;
	font-weight:bold;
	padding: 4px 21px;
	background: #F8E5EE url(cssImg/starIcon.gif) no-repeat 7px 50%;
	clear:both;
}

ul.crossList{
	list-style:none;
	margin: 4px 0 20px 0;
	padding-left:21px;
}

ul.crossList .price{
	display:inline;
	padding-left: 4px;
}

/*cross-sell product sections*/
.imageCrossSellBlock .prodGroupFeature{
	float:left;
	width:100%;
	margin-bottom:20px;
}

.imageCrossSellBlock .prodGroup{
	float:left;
	width:100%;
	padding-bottom:20px;
}

/*thumbnail module definitions below*/

/***right column: transaction and info***/
.transactionInfoBlock{
	margin: 10px 0 0 375px;
	padding: 0;
}

.transactionInfoBlock .prodName{
	font-size:140%;
	font-weight:bold;
	margin:0;
}

.productCopy p, .productCopy ul{
	margin-top: .7em;
	margin-bottom: 0;
}

/***** below here for dot whack positioning *****/



.freeShip {
	position:relative;
}

.freeShip img {
	position:absolute;
	left:-420px;
	top:-48px;
}


.prodDotWhack {
	position:relative;
}

.prodDotWhack img {
	position:absolute;
	left:-420px;
	top:-32px;
}
/***** abover here for dot whack positioning *****/

.productCopy ul{
	list-style:none;
}

.productCopy li{
	padding-left:8px;
	background: url(cssImg/bullet.gif) no-repeat 0 5px;
}

.productCopy a.moreInfo{
	padding-left: .2em
}

/*promo and new callouts*/
.promoBlock{
	margin-bottom: 2px;
}

.transactionInfoBlock .promoCallout, 
.transactionInfoBlock .promoNew{
	display: inline;
	font-weight:bold;
	color:#E21776;
	font-size: 120%;
	padding-right: .35em;
}

/*SKU and congigurable doll link*/
.skuBlock{
	margin-bottom: 8px;
}

.skuBlock *{
	display: inline;
}

.sku{
font-weight:bold;
color: #333333;
}

.configLink{
font-weight:bold;
padding-left: .35em;
}

/*product pricing*/
.prodPrice{
	margin:8px 0;
}

.currentPrice{
	font-size:175%;
	font-weight:bold;
	color:#E21776;
	display:inline;
}

.priceCallout{
	display:inline;
	font-weight: bold;
	font-style: italic;
	padding-left: .35em;
}

.priceSale{
	font-weight:bold;
	color:#585656;
}

.avail{
	color:#E21776;
	margin-bottom:8px;
	font-weight:bold;
}

/*single-product set*/
.singleItemSet{
	border-top: 1px solid #E5B9CE;
	border-bottom: 1px solid #E5B9CE;
	margin: 14px 0;
	padding: 6px 30px 0 6px;
	float:left;
}

.singleItemSet .prodName{
	font-size:100%;
	float:left;
	width:205px;
	margin-top:1px;
}

.singleItemSet .sku{
	float:right;
	margin-top:1px;
}

.singleItemSet .currentPrice{
	font-size:110%;
	float:left;
	margin-right: .25em;
}

.singleItemSet input{
	vertical-align:text-bottom;
	float:left;
}

.singleItemSet li{
	list-style:none;
	padding:4px 0 4px 4px;
	clear:both;
}

.singleItemSet .priceSale{
	color:#585656;
	font-weight:bold;
	clear:both;
}

.singleItemSet .priceSale div{
	display:inline;
}

.singleItemSet .saleOrig{
	background: url(cssImg/salePriceBkgrndL.gif) no-repeat bottom left;
	padding:0 .25em;
	margin-left: 20px;
	float:left;
}

.singleItemSet .saleSave{
	background: url(cssImg/salePriceBkgrndR.gif) no-repeat bottom right;
	padding-right: .25em;
	float:left;
	clear:right;
}

.singleItemSet .priceCallout{
	padding-left:.5em;
	float:left;
}

/*configurable product tools*/
.selectBlock label{
	display:none;
}

.selectBlock select{
}

.sizeChartLink{
	display:inline;
}

.quickSell{
	margin-top:8px;
}

.quickSell input{
	vertical-align:middle;
}

/*add button*/
.addToBag{
	margin: 20px 0;
}

.addToBag a{
	color:white;
	font-weight: bold;
	padding: 7px 17px 11px 13px;
	background: #990033 url(cssImg/btnShadow.gif) bottom right;
	text-decoration: none;
}

.addToBag a:hover{
	text-decoration: none;
}

.addToBag a.disabled{
	color: #9F6378;
	cursor: default;
}

/* alternate Actions*/
.altActionMsg{
	background: #FCF5F9 url(cssImg/wishAckArrow.gif) repeat-x left bottom;
	padding:6px 11px 14px 11px;
	margin-bottom:0;
}

.altActionList{
	list-style:none;
	padding:0;
	margin:0;
	margin-bottom:10px;
}

.altActionList li{
	display: inline;
}

.altActionList li a{ 
	background-position: 0 4px;
	background-repeat: no-repeat;
}

.altActionList .wish a, .altActionList .giftReg a{
	background-image: url(cssImg/addIcon.gif);
	padding: 0 10px;
}

.altActionList .tellFriend a{
	background-image: url(cssImg/emailIcon.gif);
	padding: 0 16px;
}

/*supplemental info: disclaimers, etc...*/
.supplTitle{
	font-weight:bold;
}

ul.supplList{
	margin: 0;
	margin-bottom:10px;
	padding:0;
	list-style: none;
}

ul.supplList li{
	padding-left:8px;
	background: url(cssImg/bullet.gif) no-repeat 0 4px;
}

/*world content block*/
.world{
	/*margin-top: -10px; removed for customer reviews */
	margin-bottom:20px;
	background: #FBF3F8 url(cssImg/worldBkgrnd.gif) no-repeat top left;
	border-bottom: 1px solid #D8A4C1;
	overflow: hidden;
}

.imageCrossSellBlock .world{width:365px;}
.transactionInfoBlock .world{width:355px;}

.worldTitle {
	font-weight:bold;
	padding: 3px 21px 12px 21px;
	xbackground: transparent url(cssImg/starIcon.gif) no-repeat 7px 50%;
}

.worldImg{
	margin-bottom: -88px;
	text-align:right;
}

.worldContent{
	margin: 0 1px;
	padding: 0 21px;
	width: 240px;
	line-height: 120%;
}

ul.worldLinks{
	margin-top: 0;
	padding:0;
	list-style: none;
	border-right: 1px solid #D8A4C1;	
	padding-bottom: 4px;
}

ul.worldLinks li{
	padding-left:21px;
padding-bottom:5px;
}

/*additional copy sections*/
.detailHeader{
	border: 1px solid #E5B9CE;
	font-size: 11px;
	font-weight:bold;
	padding: 4px 21px;
	background: #F8E5EE url(cssImg/starIcon.gif) no-repeat 7px 50%;
	margin: 0 -21px 8px -21px;
	color: black;
}

.detailCopy{
	margin: 16px 0;
	padding: 0 21px;
	color: black;
	float:left;   /***** added because reviews *****/
	width: 315px;  /****  interferes with "awards" copy ****/
}

.detailCopy p, .detailCopy ul{
	margin-top: .7em;
	margin-bottom: 0;
}

.detailCopy ul{
	list-style:none;
}

.detailCopy li{
	padding-left:8px;
	background: url(cssImg/bullet.gif) no-repeat 0 5px;
}

/*******************multi-product page*************/
.multiProdMod{
	padding-bottom: 6px;
	padding-top: 10px;
	border-top: 1px solid #E5B9CE;
	float:left;
}

/*image block*/
.prodImgBlock{
	width: 130px;
	float:left;

}

.prodImgBlock .prodImg{
	height:128px;
}

.prodImg img{
	border:none;
}

.multiProdMod .prodView a{
}

/*age grading*/
.prodImgBlock .ageGrade{
	margin-top: -12px;
	padding-right: 10px;
	text-align:right;
}

/*product block*/
.prodInfoBlock{
	margin: 0 0 0 10px;
float:left;
}

.multiProdMod .prodName{
	float: left;
	font-weight:bold;
	font-size: 110%;
	width: 140px;
	padding-right:4px;
}

.multiProdMod .sku{
	float:right;
	font-weight:bold;
	margin-top:1px;
}

.multiProdMod .supplInfo{
	margin-top:6px;
	width:200px;
}

.multiProdMod .avail{
	color:#E21776;
	font-weight:normal;
}

.multiProdMod .sizeChartLink{
}

/*selection checkbox*/
.selectItem{
	margin-top: 6px;
}

.selectItem input{
	vertical-align:middle;
}

.selectItem label{
	display: inline;
	font-weight: bold;
}

/*pricing*/
.multiProdMod .prodPrice{
	clear:both;
	padding-top: 4px;
	margin-bottom:6px;
}

.multiProdMod .currentPrice{
	font-weight:bold;
	color:#E21776;
	font-size: 130%;
	padding-right: 2px;
}

.multiProdMod .priceSale{
	color:#585656;
	font-weight:bold;
}

.multiProdMod .prodPrice div{
	display:inline;
}

.multiProdMod .saleOrig{
	background: url(cssImg/salePriceBkgrndL.gif) no-repeat bottom left;
	padding-left:.25em;
}

.multiProdMod .saleSave{
	background: url(cssImg/salePriceBkgrndR.gif) no-repeat bottom right;
	padding-right: .25em;
}

.multiProdMod .prodPrice .priceCallout{
	display:block;
	font-weight:bold;
	font-style:italic;
	margin-top: 4px;
}

.multiPage .addToBag{
	padding-top: 20px;
	border-top: 1px solid #E5B9CE;
float:left;
width:100%;
}

/******************index pages***********************/
.category{
	width:100%;
}

/*brand content block*/
.brandContent{
	margin-bottom:10px; 
  height:184px;
}


.brandTitle{
	color: #333333;
	font-size: 100%;
	font-weight:bold;
	margin: -77px 0 0 0px;
	padding-left: 3px;
	width: 302px;
	text-align:center;
	position:relative;
	z-index:1;
}


.brandText{
	margin: .2em 0 0 25px;
	width: 275px;
	padding-bottom: .2em;
	text-align:center;
}

ul.brandLinks{
	padding-left:26px;
	list-style: none;
	width: 260px;
	padding-bottom: .1em;
	text-align:center;
} 

/*internal category links*/
.categoryLinks{
	width: 545px;
	border: 1px solid #E5B9CE;
	border-bottom: none;
	padding: 4px 9px;
	font-weight:bold;
	margin-top: 10px;
	background-color:transparent;
}

.categoryLinks ul{
	display:inline;
}

.categoryLinks li{
	color:#999999;
	display:inline;
	font-weight:normal;
	border-right: 1px solid #999999;
}

.categoryLinks a{
	padding: 0 6px;
}

.categoryLinks li:last-child{
	border-right: none;
}

/*filtering section*/
.filters{
	border: 1px solid #E5B9CE;
	border-bottom: none;
	padding: 4px 9px;
	margin-top: 0px;
}

.filters label{
	font-weight:bold;
}

.filters select{
}

/*pagination controls*/
.categoryExtent, .pagination{
	float:right;
	padding: 4px 10px;
	width:278px;
	text-align:right;
	background-color: #F8E5EE;
}

.paginationBottom{
	float:right;
	border: 1px solid #F8E5EE;
	padding: 4px 21px;
	text-align:right;
	margin-top: -7px;
	margin-bottom: 10px;
	width: 523px;
}

.categoryExtent div, .pagination div, .paginationBottom div{
	display:inline;
}

.viewToggle{
	border-right: 1px solid #666666;
	padding-right: 8px;
	margin-right: 6px;
}

.categoryLocation{
	margin-right: 6px;
}

.categoryMore{
	border-left: 1px solid #666666;
	padding-left: 8px;
}

.pageLocation{
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	padding: 0 8px;
	margin: 0 6px;
}

.next a{
	padding-right: 16px;
	background: url(cssImg/nextIcon.gif) no-repeat right 51%;
}

.previous a{
	padding-left: 15px;
	background: url(cssImg/prevIcon.gif) no-repeat left 51%;
}

/*category titles*/
.categoryDivider{
	border: 1px solid #E5B9CE;
	background: #F8E5EE;
	float:left
}

.categoryHeader{
	font-weight:bold;
	padding: 4px 21px;
	background: #F8E5EE url(cssImg/starIcon.gif) no-repeat 7px 7px;
	float:left;
	width:222px;
	clear:left;
}

.categoryHeader a{
	color:black;
	text-decoration:none;
}

.categoryEmpty{
	font-weight:bold;
	padding: 4px 21px;
	clear:both;
}

/*************Choose Index Pages***************/
.configProcess{
	background: #F8E5EE;
	overflow:hidden;
	width:566px;
	height:137px;
	border-bottom: 1px solid #E5B9CE;
}

.processTitle, .processContent, .processNote{
/*display:none;*/
}

/*filtering section*/
.configIndexPage .filters{
	padding: 6px 9px 4px;
	margin-top: 0px;
	position:absolute;
	top:108px;
	width:546px;
	background: url(cssImg/configFilterBkgrnd.gif) repeat-x bottom;
}

.filters label{
	font-weight:bold;
}

.filters select{
	font-size:95%;
}

.configIndexPage .content{
	position:relative;
}

/***************thumbnail modules*******************/
/**cross-sells, choose, single and multi-category**/

/*view larger*/
.indexPage .viewLarger,
.indexMultiPage .viewLarger{
	display:none;
}

.configIndexPage .viewLarger{
	margin-bottom: 10px;
	background: url(cssImg/thumbDivider.gif) no-repeat bottom;
	padding: 4px 0 16px 0;
}

.configIndexPage .viewLarger a{
	background: url(cssImg/magnifyIcon.gif) no-repeat 0 2px;
	padding: 0 0 8px 16px; 
}

/*product modules*/
.prodMod {
	float:left;
	text-align:center;
	margin-top:4px;
	position:relative;
}

.indexPage .prodMod,
.indexMultiPage .prodMod,
.configIndexPage .prodMod{
	width:141px;
	height:295px;
	border-bottom:1px solid #F8E5EE;
	margin-top: 12px;
	margin-bottom: 6px;
	background: url(cssImg/thumbBkgrnd.gif) no-repeat top right;
}

.indexMultiPage .prodMod{
	border:none;
	margin-bottom: 0;
}

.configIndexPage .prodMod{
	height:258px;
	background: url(cssImg/configBkgrnd.gif) no-repeat top right;
}


.imageCrossSellBlock .prodGroupFeature .prodMod{/*2-across ways to buy*/
	width: 182px;
	height:234px;
	background: url(cssImg/prodFeaturebkgrnd.gif) no-repeat top right;
}

.imageCrossSellBlock .prodGroup .prodMod{ /* made taller to accommodate several rows of modules */
	width: 121px;
	height:160px;
}

.crossWays .prodGroup .prodMod{/*3-across ways to buy*/
	height:202px;
	background: url(cssImg/prodModWaysbkgrnd.gif) no-repeat top right;
}

.imageCrossSellBlock .prodMod {
	background: url(cssImg/prodModCrossbkgrnd.gif) no-repeat top right;
}

/*age grading*/
.prodMod .ageGrade{
	position:absolute;
	top: 116px;
	left: 116px;
}

/*product images*/
.prodMod img{
	border:none;
}

.imageCrossSellBlock .prodGroupFeature .prodMod .prodImg{/*2-across ways to buy*/
	height:128px;
}

.imageCrossSellBlock .prodGroup .prodMod .prodImg{/*3-across ways to buy & YMAL*/
	height:88px;
}

.indexPage .prodImg,
.indexMultiPage .prodImg,
.configIndexPage .prodImg{
	background: url(cssImg/thumbDivider.gif) no-repeat bottom;
	padding-bottom:10px;
	margin-bottom: 2px;
	height:128px;
}

.configIndexPage .prodImg{
	background: none;
	padding-top: 8px;
	height:88px;
}

/*callouts*/
.indexPage .prodNew,
.indexMultiPage .prodNew,
.configIndexPage .prodNew{
	color:#E00034;
}

.indexPage .promoCallout,
.indexMultiPage .promoCallout,
.configIndexPage .promoCallout{
	color:#FB4F14;
}

/*item descriptions*/
.imageCrossSellBlock .itemDesc{
	padding: 0 4px 0 2px;
}

.indexPage .itemDesc,
.indexMultiPage .itemDesc,
.configIndexPage .itemDesc{
	position:absolute;
	top:152px;
	left:0;
	width:130px;
	padding: 0 4px 0 4px;
}

.configIndexPage .itemDesc{
	top:168px;
}

/*pricing*/
.indexPage .price,
.indexMultiPage .price{
	font-weight:bold;
	position:absolute;
	left:0;
	width:100%;
	top: 212px;
}

.crossWays .prodMod .price{
	font-weight:bold;
	position:absolute;
	left:0;
	width:100%;
}

.prodGroupFeature .prodMod .price{
	top: 180px;
}

.crossWays .prodGroup .prodMod .price{
	top: 150px;
}

.indexPage .priceSale,
.indexMultiPage .priceSale{
	font-weight:normal;
	color:#E00034;
}

.imageCrossSellBlock .prodMod .priceSale{
	font-weight:normal;
	color:#585656;
}

.indexPage .avail,
.indexMultiPage .avail{
	position:absolute;
	top:272px;
	left:0;
	width:100%;
	color:#E21776;
        font-weight:bold;
}

.configIndexPage .avail{
	display:none;
}

.indexPage .priceLabel,
.indexMultiPage .priceLabel{
	display:inline;
}

.imageCrossSellBlock .prodMod .price .priceLabel{
display:none;
}

.imageCrossSellBlock .prodMod .priceSale .priceLabel{
	display:inline;
}

/*button*/
.indexPage .addConfig,
.indexMultiPage .addConfig,
.configIndexPage .choose{
	position:absolute;
	top:247px;
	left:0;
	width:100%;
}

.configIndexPage .choose{
	top:218px;
}

.indexPage .addConfig a,
.indexMultiPage .addConfig a,
.configIndexPage .choose a{
	background-color: #F9CDE2;
	padding: 2px 6px 2px 6px;	
	border-right: 1px solid #888;
	border-bottom:  1px solid #888;
	letter-spacing:0px;
	color: black;
	line-height:190%;
}

.configIndexPage .choose a {
	padding: 2px 16px 2px 16px;	
}

.indexPage .addConfig a:hover,
.indexMultiPage .addConfig a:hover,
.configIndexPage .choose a:hover{
	text-decoration: none;
}

.choose a.disabled, .addConfig a.disabled{
	color: silver;
	cursor: default;
}

/* Spotlight Deal product dot whack */
.deal {
    position:relative;
}

.deal a {
    position:absolute;
    left:-420px;
    top:-48px;
}