/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * armaniexchange.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2014
 */

@font-face {
   font-family: "LLCircularProWeb-Book";
   src:    url("fonts/lineto-circular-pro-book-c.eot");
   src:    url("fonts/lineto-circular-pro-book-c.eot?#iefix") format("embedded-opentype"),
     url("fonts/lineto-circular-pro-book-c.woff") format("woff"),
     url("fonts/lineto-circular-pro-book-c.ttf") format("truetype"),
     url("fonts/lineto-circular-pro-book-c.svg#LLCircularProWeb-Book") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "LLCircularProWeb-Bookitalic";
   src:    url("fonts/lineto-circular-pro-bookitalic-c.eot");
   src:    url("fonts/lineto-circular-pro-bookitalic-c.eot?#iefix") format("embedded-opentype"),
     url("fonts/lineto-circular-pro-bookitalic-c.woff") format("woff"),
     url("fonts/lineto-circular-pro-bookitalic-c.ttf") format("truetype"),
     url("fonts/lineto-circular-pro-bookitalic-c.svg#LLCircularProWeb-Bookitalic") format("svg");
   font-weight: normal;
   font-style: normal;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

@font-face {
   font-family: "Ogg-Roman";
   src:    url("fonts/Ogg-Roman.eot");
   src:    url("fonts/Ogg-Roman.eot?#iefix") format("embedded-opentype"),
     url("fonts/Ogg-Roman.woff") format("woff"),
     url("fonts/Ogg-Roman.svg#Ogg-Roman") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Ogg-Italic";
   src:    url("fonts/Ogg-Italic.eot");
   src:    url("fonts/Ogg-Italic.eot?#iefix") format("embedded-opentype"),
     url("fonts/Ogg-Italic.woff") format("woff"),
     url("fonts/Ogg-Italic.svg#Ogg-Italic") format("svg");
   font-weight: normal;
   font-style: normal;
}


@font-face {
   font-family: "SharpSansNo1-Extrabold";
   src:    url("fonts/SharpSansNo1-Extrabold.eot");
   src:    url("fonts/SharpSansNo1-Extrabold.eot?#iefix") format("embedded-opentype"),
     url("fonts/SharpSansNo1-Extrabold.woff") format("woff"),
     url("fonts/SharpSansNo1-Extrabold.svg#SharpSansNo1-Extrabold") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SharpSansNo1-ExtraboldItalic";
   src:    url("fonts/SharpSansNo1-ExtraboldItalic.eot");
   src:    url("fonts/SharpSansNo1-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
     url("fonts/SharpSansNo1-ExtraboldItalic.woff") format("woff"),
     url("fonts/SharpSansNo1-ExtraboldItalic.svg#SharpSansNo1-ExtraboldItalic") format("svg");
   font-weight: normal;
   font-style: normal;
}