.productDtls h2{font-size:13px; color:#414141;text-transform:uppercase;padding:0 0 5px 0;margin:0px;}
.productDtls .price{font-size:12px; font-weight:normal;}
.productDtls .pricewas{text-decoration: line-through;}
.productDtls .pricenow{color:#ff0000;}
.productDtls .socialnet{position:absolute;margin-left:227px;width:73px;overflow:hidden;}
span.swatcheshdng{display:block;}
.productDtls .shortDesc, #prdDescr #prdLongDesc{font-size:12px;clear:both;padding:15px 0 10px 0;}
#DetailBuyOption {color: #5F5B5C; font-weight: bold; font-size:12px;}

.productDtls .swatches{ background:#f9f9f9; margin:10px 5px 0px 4px;}

.swatches ul.colorswatches{margin:0px; padding:0px; float:left; margin: 13px 0 13px 12px;}
.swatches ul.colorswatches li{list-style-type:none; float:left; width:24px; height:21px; margin-right:10px; margin-top:4px;}
.swatches ul.colorswatches li a.one{background-position:0 0;}
.swatches ul.colorswatches li a.two{background-position:-24px 0;}
.swatches ul.colorswatches li a.three{background-position:-48px 0; }
.swatches ul.colorswatches li a:hover{ border:1px solid #777;}
.swatches ul.colorswatches li.active a:hover,.swatches ul.colorswatches li.active a{border:0px solid #000;}
.swatches ul.SwatchList li a:hover{ border:1px solid #bbb;}
.swatches ul.SwatchList{margin:5px 0px 15px 12px; padding:0px; float:left; }
.swatches ul.SwatchList li {list-style-type:none;  font-size:10px; font-weight:bold;  float:left; margin-top:15px; }
.swatches ul.SwatchList li span{position:absolute; top:2px;}
.swatches ul.SwatchList li span.s{left:7px;}
.swatches ul.SwatchList li span.xl{left:4px;}
.swatches ul.SwatchList li span.xxl{left:1px;}
.swatches ul.SwatchList li.selected a:hover{border:1px solid #e1e1e1;}
.swatches ul.SwatchList li.selected a{margin:2px 11px 0px 2px; margin:3px 10px 0px 3px\9;}
label{font-weight:bold; color:#000; }
.swatches .qty input{ background:#fff; width:20px; color:#242424; margin-left:12px;}
.swatches .sizechart, .sizechart a { color:#3f3f3f;}
.clear{clear:left;}
.clearR{clear:right;}

/*Alternate view*/
#alternateView{width:120px;position:absolute; bottom:10px;left:10px;z-index:6;}
#alternateView ul.alternatepics{margin:0px; padding:0px; float:left;list-style-image:none;}
#alternateView ul.alternatepics li.activeview span{border: 2px solid #FF9000; display: block; height: 96px; height:100px\9; position: absolute; top: 0; left:0; width: 89px; width:93px\9}
#zoom{position:absolute; bottom:0px;padding:11px 11px 20px 11px;z-index:6;margin:auto;width:100%;left:120px;}
#zoom ul.zoombtns{margin:0px; padding:0px; float:right; margin-top:23px;}
#zoom ul.zoombtns li{float:left;}
#zoom .zoomin{background-position: 0 0;}
#zoom .zoomout{background-position: -66px 0;}
#zoom .actualpixel{background-position:-132px 0;}
.alternatepics .altNSelected, .alternatepics .altSelected{width:101px;height:152px;}
.alternatepics .altNSelected img{border:1px solid #E2E2E2;}
#SjElement4{cursor:default !important;}

/*Add to cart*/
.addtocartBlk{float:right; width:199px;}
.addtocart{display:block; float:right; margin:5px 0 0;}
.pickUpStore{display:block; float:right;}
input#zip{border:1px solid #cecece; width:62px; color:#4b4b4b; float:left; margin-right:7px; }
a.findOut{margin:5px 0px 15px 35px; display:block; color:#606060; float:right;}
a.virtual{color:#4b4b4b; float:left; margin-top:2px; text-decoration:none;}
a.giftList{float:right;}

#bodyImg img {cursor:pointer;}
#buttonCl {position:absolute;right:5px;cursor:pointer;z-index:99999;}
.forceTop {top: 0px !important;}
input[type="text"], input[type="password"], textarea, select {border: 1px solid #CCCCCC;padding: 1px;}
.productLargeViewL td, .productLargeViewL div, .productLargeViewL span, .productLargeViewL label{color:#000;font-size: 12px !important;}
#zipCodeforPickUp {height: auto !important;}
/** AX Swatched **/
.colorOpt label {float: left;}
#swatchTable{}
.optionValueNearDetailImage {margin-left: 36px;text-transform:uppercase;}
#sizeDisplay {margin-left: 30px;height:13px;font-weight:normal;text-transform:uppercase;}
div#zoomView {position: absolute !important;bottom:0px !important;}
.s7videoviewer .s7controlbar {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    height: 36px;
    left: 0;
    position: absolute;
    width: 100%;
    display:none;
}