div#social-share > ul {
    float: right;
}

div#social-share > ul > li {
    float: left;
}

div#social-share .share {
    display: inline-block;
}

div#social-share iframe.facebook-like {
    border:none;
    overflow:hidden;
    float: left;
    margin-top: 3px;
    width: 80px;
    height: 30px;
}

div#social-share .share.facebook {
    background-image: url(../images/sprite_social-shares_pdp.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

div#social-share .share.facebook:hover {
    background-position: 0px -30px;
}

div#social-share .share.twitter {
    background-image: url(../images/sprite_social-shares_pdp.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    background-position: -34px 0px;
}

div#social-share .share.twitter:hover {
    background-position: -34px -30px;
}

div#social-share .share.pinterest {
    background-image: url(../images/sprite_social-shares_pdp.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    background-position: -74px 0px;
}

div#social-share .share.pinterest:hover {
    background-position: -74px -30px;
}

div#social-share .share.tumblr {
    background-image: url(../images/sprite_social-shares_pdp.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    background-position: -112px 0px;
}

div#social-share .share.tumblr:hover {
    background-position: -112px -30px;
}

div#social-share .share.email {
    background-image: url(../images/sprite_social-shares_pdp.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 30px;
    background-position: -152px 0px;
}

div#social-share .share.email:hover {
    background-position: -152px -30px;
}

.fancybox-inner div#social-share .share.facebook,
.fancybox-inner div#social-share .share.twitter,
.fancybox-inner div#social-share .share.pinterest,
.fancybox-inner div#social-share .share.tumblr,
.fancybox-inner div#social-share .share.email {
    background-image: url(../images/sprite_social-shares_qv.png);
}

div#product-pinit {
    float: left;
    margin-left: -78px;
}

div#product-pinit > a {
    display: inline-block;
    width: 56px;
    height: 28px;
    background-image: url(../images/pinit_bg_en_rect_gray_28_1.png);
    background-position: 0px -28px;
}
>>>>>>> f8cf3ba... TP#175424: Add secondary PinIt Button
