.balance_result {
    color: #3bacee;
    font: bold italic 14px Georgia,Times,'Times New Roman',serif;
}

.cms-page-view.cms-gift-cards .col-main li { margin-bottom: 10px; }
.cms-gift-cards .buttons-set button.button { float:left; }

/* Giftcard landing page */
.enterprise-giftcardaccount-index-index .giftcardlanding-wrap {
    position: relative;
}
.enterprise-giftcardaccount-index-index h1 {
    margin-left: 42px;
    margin-top: -12px;
}
.enterprise-giftcardaccount-index-index .giftcardlanding-balance-link {
    position: absolute;
    right: 40px;
    top: 10px;
}
.enterprise-giftcardaccount-index-index .giftcard-links {
    margin: 7px auto 0;
    width: 860px;
}
.enterprise-giftcardaccount-index-index .giftcard-links .col {
    float: left;
    text-align: center;
}
.enterprise-giftcardaccount-index-index .giftcard-links .col-1,
.enterprise-giftcardaccount-index-index .giftcard-links .col-3 {
    width: 380px;
}
.enterprise-giftcardaccount-index-index .giftcard-links .col-2 {
    width: 100px;
}
.enterprise-giftcardaccount-index-index .giftcard-links .col-2 img {
    margin-top: 141px;
}
.enterprise-giftcardaccount-index-index .giftcard-links a.button {
    margin-top: 44px;
    padding: 7px 40px;
}
.enterprise-giftcardaccount-index-index .giftcard-links a.button span {
    font-size: 13px;
}
.enterprise-giftcardaccount-index-index .giftcard-check-balance {
    margin-top: 35px;
    position: relative;
}
.enterprise-giftcardaccount-index-index .giftcard-check-balance h2 {
    font-size: 23px;
}
.enterprise-giftcardaccount-index-index .giftcard-check-balance form {
    display: block;
    margin-top: 40px;
    width: 640px;
}
.enterprise-giftcardaccount-index-index .giftcard-check-balance button {
    margin-right: 19px;
}
.enterprise-giftcardaccount-index-index .disclaimer p {
    margin-bottom:8px;
}

/* Egiftcard page */
.enterprise-giftcardaccount-egiftcard-index .links-to-left_9 {
    width: auto;
}
.enterprise-giftcardaccount-egiftcard-index .header {
    border-bottom: 1px solid #d0d0d0;
}
.enterprise-giftcardaccount-egiftcard-index iframe {
    border: none;
    display: block;
    height: 850px;
    margin: auto;
    width: 850px;
}

