span#ctl00_ctl01_MainContent_ContentPlaceHolder1_billing_info_message {
color: red;
font-weight:bold;
margin-bottom:10px;
}
.body {
margin:0;
padding:0;
text-align: center;
font-family: Century Gothic;
font-size: 14px;
}

#maincontainer {
width: 1000px;
margin: 0 auto;
background: url(../images/sce/header.jpg) no-repeat;
color: #797979;
}

#topsection {
height: 164px;
text-align: left;
margin: 0 auto; 
font-weight: bold;
}

#topsection_main {
height: 164px;
text-align: left;
margin: 0 auto; 
font-weight: bold;
}

#contentwrapper {
float: left;
width: 100%;
padding: 0px 0px 0px 0px;
}

#menubar {
margin: 0 843px 0 0px;
text-align: left;
padding: 0px 0px 0px 0px;
}

#content {
float: left;
width: 843px; 
margin-left: -843px; 
}

#bottom {
clear: left;
width: 100%;
text-align: center;
padding: 0px 0px 0px 0px;
}

#body_content {
padding-left: 20px;
min-height: 500px;
padding-top: 5px;
}

.innertube {
margin: 0px;
margin-top: 0;
padding: 0px 0px 0px 0px;
text-align: left;
}

#topsection_main #menu {
margin-top: 108px;
}

div#menu {
margin-top: 34px;
width: 800px;
}

#menu ul li a.main_menu {
font-family: Century Gothic;
text-transform: lowercase;
border-left: 1px solid #ee744c;
}

#menu ul li#menu0 a.main_menu {
border-left: 0px;
}

#box0 {
border: 3px solid #ffffff;
float: left;
margin-right: 4px;
}

#box1 {
border: 3px solid #ffffff;
float: left;
margin-right: 4px;
width:150px;
font-size: 12px;
text-align:center;
}

#box2 {
border: 3px solid #92d23e;
float: left;
margin-right: 4px;
}

#box3 {
border: 3px solid #d8457b;
float: left;
margin-right: 4px;
}

#box4 {
border: 3px solid #f27a19;
float: left;
margin-right: 4px;
}

#box5 {
border: 3px solid #3bc9b1;
float: left;
margin-right: 4px;
}

#box6 {
border: 3px solid #3bc9b1;
float: left;
margin-right: 4px;
margin-top: 4px;
}

#box7 {
border: 3px solid #f27a19;
float: left;
margin-right: 4px;
margin-top: 4px;
}

#box8 {
border: 3px solid #b437b5;
float: left;
margin-right: 4px;
margin-top: 4px;
}

#box9 {
border: 3px solid #92d23e;
float: left;
margin-right: 4px;
margin-top: 4px;
}

#box10 {
border: 3px solid #d8457b;
float: left;
margin-top: 4px;
}

#topmenu {
padding-top: 13px;
float: right;
clear: both;
padding-right: 10px;
text-align: right;
}

#topmenu a {
color: #7c7878;
text-decoration: none;
}

#topmenu span {
font-weight: normal;
}

#topnavigation {
clear:both;
float:right;
padding-bottom:21px;
padding-right:10px;
padding-top:13px;
}

#left_categories ul li {
list-style: none;
}

#left_categories ul li a {
text-decoration: none;
text-transform: lowercase;
color: #959595;
font-size: 16px;
}

#headers {
background:url("../images/sce/headingbg.jpg") no-repeat scroll 0 0 transparent;
color:#F37A19;
font-size:26px;
font-weight:bold;
height:52px;
padding-top:12px;
text-align:center;
width:815px;
}

#vgmsubmit {
background: none;	
border: 0px;
color: #F37A19;
font-size: 15px;
font-weight: bold;
}

#search_name {
width: 200px;
}

#left_categories {
margin-left:-43px;
}

#topnavigation form {
display: inline;
float: right;	
}

#backgroundradiostyle {
z-index: -99999; 
position: relative; 
cursor: pointer; 
width: 30px; 
height: 30px;
margin-right:10px;
}

#colors label {
margin-left: -20px;
} 

#colors input {
width: 30px; 
height: 30px; 
margin: 0px; 
padding: 0px; 
}

.data table tr td input {
margin-left:8px;
margin-top:7px;
}

#contactform div
{
	margin-bottom: 0.5em;
	width: 100%;
}

#contactform .indent
{
	margin:10px 0px 10px 95px;
}

#contactform .form_element
{
	padding: 0px 10px 0px 0px;
	text-align:right;
	float: left;
	width: 180px;
}

#contactform .form_data 
{
	padding: 0px;
	text-align:left;
	float: left;	
}

#contactform .separator 
{
	clear: both;
	padding: 0px;
	font-size: 0.5px;
	height: 0.5px;
}

.stButton span.chicklets 
{
	color:#000000;
	background:url(../images/sce/sharethisproduct.jpg) no-repeat scroll right top transparent;
	height:22px;
	padding-left:135px;
}

div#site_map 
{
	margin-left: 100px;
}

div#site_map ul 
{
	margin-left: 15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{  
	div#backgroundradiostyle {
		margin-top: -20px;
	}
}

.related_products img
{
width: 100px;
}