html {
    overflow-y:scroll !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
body {width:100%; min-width:1099px; /*fix bug on iPad*/margin:0 auto 0 auto;padding:0;font-family:Helvetica,Arial,Verdana,sans-serif;font-size:12px; color:#666666;}
.content-wrapper {width:980px;min-height:824px;margin:0 auto;padding:0 23px 67px 23px;}
.content-inner {width:100%;float:left;}
#content-wrapper .header {margin: 0 auto;width: 980px;}
footer { margin:0 auto;margin-top:-4px;}
.footer-wave {background-color:#EBEDE8;padding-top:21px;}	
.fvideo {width:100%; height:352px; background-color:#472C61; padding-top:37px}
.fvideo-inner {width:753px; height:315px; margin:auto;}
/*========================================================================================
   FOR PUBLIC STYLE 
  ======================================================================================*/
a { color:#4199DF; text-decoration:none; cursor:pointer; outline:none; }
a:hover { color:#ff6633; text-decoration:underline; cursor:pointer }
*{ margin:0; padding:0; outline:none;}
form { margin:0px; padding:0px }
img { border:none; }
ul, ol { list-style-type:none; margin:0; padding:0 }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table {	border-spacing: 0; }
*html+first-child html {overflow:hidden; } /*fix IE7 scrollbar */
input, textarea, select { font:normal 12px Arial, Helvetica, sans-serif; color:#666666; padding:0; border:0; margin:0; }
input[type="button"],input[type="submit"] { cursor:pointer;}

.floatL {float:left;}
.floatR {float:right}
.bold {font-weight:bold!important;}
.italic {font-style:italic}
.clear {clear:both; width:100%; height:0; font-size:0; line-height:0;}
/*Size/Color Text*/
.txt-12 {font-size:12px}
.txt-14 {font-size:14px}
.txt-15 {font-size:15px}
.txt-16 {font-size:16px}
.txt-17 {font-size:17px}
.txt-20 {font-size:20px}
.txt-39 {font-size:39px}
.txt-53 {font-size:53px}
.bg-cWhite { background-color:#fff;}
.padL5 { padding-left:5px!important;}
.position-main { background-image:url(/images/sprite-main-reskin.png); background-repeat:no-repeat; overflow:hidden; text-indent:-1000px; display:block; }

/** SPRITE TECHNIQUES **/
/** UI general **/
.link-sizing-chart, .link-live-chat, .link-email-signup, .box-shopping-cart p, .bg-arrow-down,.bg-arrow-down-striped, .frm-signup .frm-tittle, .frm-contactus .frm-tittle, .tit-content3 .bg-arrow-down { background:url(../images/sprite-main-reskin.png) 0 0 no-repeat;}
.link-live-chat { background-position:-355px 0px;}
.link-email-signup { background-position: -357px -23px;}
.link-sizing-chart { background-position: -378px -267px; }
.box-shopping-cart p { background-position:-355px -52px;}
.bg-arrow-down { background-position:-185px 0px; width:10px; height:5px;}
.bg-arrow-down-striped { background-position:-185px 0px; width:10px; height:5px;}
.frm-signup .frm-tittle { background-position:0 -842px;}
.frm-contactus .frm-tittle { background-position:0 -894px;}
.tit-content3 .bg-arrow-down { background-position:-319px -8px; width:12px; height:5px;}
/** Buttons **/
.btn-view-shopping-cart, a.link-view-all, .btn-live-chat, 
.shopping-cart-global .show-shopping-cart, .shopping-cart-global .show-added-cart-off, .shopping-cart-global .show-added-cart-on,
.ui-shopping-cart-global .show-shopping-cart, .ui-shopping-cart-global .show-added-cart-off, .ui-shopping-cart-global .show-added-cart-on { background:url(../images/sprite-main-reskin.png) 0 0 no-repeat;}
.link-checkout {background-color:#EDA156;border-radius:3px;color:#FFFFFF;display:block;font-size:10px;line-height:15px;padding:4px 6px;}
.link-checkout:hover { text-decoration:none; color:#fff; }
.shopping-cart-global .show-shopping-cart { background-position:-147px 0px;}
.shopping-cart-global .show-added-cart-off { background-position:-147px 0px;}
.shopping-cart-global .show-added-cart-on { background-position:-165px 0px;}
.shopping-cart-global a:hover.show-shopping-cart {background-position:-165px 0px; }
.ui-shopping-cart-global .show-shopping-cart { background-position:-147px 0px;}
.ui-shopping-cart-global .show-added-cart-off { background-position:-147px 0px;}
.ui-shopping-cart-global .show-added-cart-on { background-position:-165px 0px;}
.ui-shopping-cart-global a:hover.show-shopping-cart {background-position:-165px 0px; }

.btn-view-shopping-cart { background-position:-93px -82px; width:153px; height:24px;}
a.link-view-all { background-position:100% -85px;}
.btn-live-chat { background-position:-243px -140px; width:142px; height:35px;}
/** Shopping cart Popup - Round corners **/
.lb-corner-viewcart, .rb-corner-viewcart { background:url(../images/sprite-main-reskin.png) 0 0 no-repeat; line-height:0;}
.lb-corner-viewcart { background-position:-127px 0; width:6px; height:6px;}
.rb-corner-viewcart {background-position:-133px 0; width:6px; height:6px;}
/** Brand logos **/
.brand-prana, .brand-yogi-toes, .brand-onzie, .brand-vimmia, .brand-cozy-orange, .brand-Satya-Jewelry, .brand-Pura-Vida, .brand-Marika, .brand-Yoga-TuneUp, .brand-alo, .brand-anue, .brand-beyond-yoga, .brand-gaiam, .brand-hugger-mugger, .brand-kulae, .brand-jade-yoga,
.brand-om, .brand-lole, .brand-manduka, .brand-spiritual-gangster, .brand-wai-lana, .brand-toesox, .brand-soybu, .brand-lucy, .brand-three-minute-egg { background:url(../images/sprite-brands-logo3.png) 0 0 no-repeat; display:block; text-indent:-9999px; height:51px;}
.brand-alo { background-position:0 0; width:74px;}
.brand-anue { background-position:-74px 0; width:121px;}
.brand-beyond-yoga { background-position:-195px 0; width:123px;}
.brand-gaiam { background-position:-318px 0; width:121px;}
.brand-hugger-mugger { background-position: -437px 0; width: 121px;}
.brand-kulae { background-position:-565px 0; width:127px;}
.brand-jade-yoga { background-position:-692px 0; width:119px;}
.brand-om { background-position:-811px 0; width:143px;}
.brand-lole { background-position:0px -51px; width:111px;}
.brand-manduka {background-position: -111px -59px; width: 120px;}
.brand-wai-lana { background-position:-231px -51px; width:131px;}
.brand-toesox { background-position:-362px -51px; width:123px;}
.brand-spiritual-gangster { background-position:-485px -51px; width:165px;}
.brand-soybu { background-position:-650px -51px; width:116px;}
.brand-lucy { background-position:-766px -51px; width:79px;}
.brand-three-minute-egg { background-position:-845px -51px; width:109px;}
.brand-prana{background-position:-5px -102px;width:112px}
.brand-yogi-toes{background-position:-117px -102px;width:117px}
.brand-onzie{background-position:-238px -99px;width:104px}
.brand-vimmia{background-position:-351px -102px;width:117px}
.brand-cozy-orange{background-position:-468px -102px;width:117px}
.brand-Satya-Jewelry{background-position:-585px -102px;width:117px}
.brand-Pura-Vida{background-position:-702px -102px;width:117px}
.brand-Marika{background-position:-819px -102px;width:117px}
.brand-Yoga-TuneUp{background-position:-20px -152px;width:81px}

/*------------------------------------------------------------------
   For Menu on top 
  ------------------------------------------------------------------*/
.top-nav { width:100%; height:30px; }
.wrapper-top-nav {margin:0 auto; width:1014px; }
.top-nav { background-color:#767774; }
.top-nav ul { float:right; margin-right:-1px; overflow:hidden; border-right:1px solid #7E7E7E; }
.top-nav li { float:left; height:30px; line-height:30px; border-right:1px solid #686868; border-left:1px solid #7E7E7E; }
.top-nav li a { color:#fff; font-weight:bold;margin:0 9px;}
.top-nav li a:hover { color:#FFEC00; }
.top-nav li .link-my-account span { font-size:11px; font-weight:normal; margin-left:4px; }
.top-nav li .link-live-chat { padding-left:25px; margin-left:12px;}
.top-nav li .link-sizing-chart { padding-left:11px; }
#liveChatTop > a { margin-left: 12px; }
#spanLoginEmail { margin-left:0px!important;}
.top-reasons { background-image: url("../Images/icons/ico-top-reasons.png"); background-position: right 4px; background-repeat: no-repeat; color: #CCECF3; float: left; font-family: arial; font-size: 14px; margin: 6px 0 0 22px; padding-right: 15px; }	
a.top-reasons:hover { color:#ffec00 }
.ico-top-reasons { float:left; width:8px; height:9px; margin:10px 0 0 7px; background:url(../Images/icons/ico-top-reasons.png)}
.ico-email-signup { background-position: -125px -8px; float: left; height: 9px; margin: 11px -4px 0 12px; width: 16px; }
/*------------------------------------------------------------------
   For Header 
  ------------------------------------------------------------------*/
header {width:100%;}
    header .content-wrapper { padding-bottom:0; min-height:121px;}
	header h1 {float:left; width:244px; margin-top:23px;} /* dont need this line for pages on server, but need for local */
	header .site-logo { float:left; width:248px; height:60px; margin-top:25px; background:url(../images/logo/logo-yogaoutlet.png) 0 0 no-repeat; text-indent:-9999px;}
	header .site-logo1 { float:left; width:248px; height:79px; margin-top:25px; background:url(../images/logo/logo-yoga-largest-shop.png) 0 0 no-repeat; text-indent:-9999px;}	
	header .site-logo2 { float:left; width:248px; height:79px; margin-top:25px; background:url(../images/logo/logo-yoga-practice-needs.png) 0 0 no-repeat; text-indent:-9999px;}	
	header .site-logo3 { float:left; width:248px; height:79px; margin-top:25px; background:url(../images/logo/logo-yoga-style-represent.png) 0 0 no-repeat; text-indent:-9999px;}	
	.top-right-panel { float:right; width:703px; margin:28px 0 0 0; position:relative; z-index:11;}
	.frm-search-global { width:410px; float:left; position:relative;}
	.frm-search-global .ui-txt { float:left;}
	.frm-search-global input[type="text"] { -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.3) inset; box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.3) inset; width:360px; padding-right:40px; padding-left:7px; height:37px; line-height:39px; color:#CCCCCC; border:1px solid #e0e0e0; font:normal 22px FranklinGotURWTLigRegular, Arial, Helvetica, sans-serif; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
	.frm-search-global .btn-search { outline:none; position:absolute; width:34px; height:34px; background-color:#00C4CC; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; right:3px; top:3px;}
	.frm-search-global .btn-search-click { outline:none; position:absolute; width:34px; height:34px; background-color:#00C4CC; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; right:3px; top:3px;} /*on click/press button*/
	.btn-search span { background-position:0 0; width:17px; height:18px; margin:8px 0 0 9px;  }
	.btn-search-click span { background-position:0 0; width:17px; height:18px; margin:8px 0 0 9px;}

	.shopping-cart-global { width:226px; float:right; z-index:35;}
	.box-shopping-cart p { width:89px; float:left; line-height:130%; color:#fff; padding-left:33px; font-size:10px; margin:1px 0 0 4px; cursor:pointer; min-height:26px;}
	.box-shopping-cart p.p-empty-cart { width:179px; height:27px; cursor:pointer;}
	.box-shopping-cart p.p-empty-cart span { margin:7px 0 0 8px; display:block;}
	.shopping-cart-global .link-checkout { float:left; margin:3px 5px 0 0;}
	.shopping-cart-global .show-shopping-cart,
	.shopping-cart-global .show-added-cart-off,
	.shopping-cart-global .show-added-cart-on { float:left; margin-top:7px; width:13px; height:13px;}
	.box-shopping-cart { width:226px; min-height:38px;}
	.popup-shopping-cart { z-index:9889; position:absolute; left:2px; top:-1px; color:#333; width:221px; font-size:10px; display:none;}
	.popup-shopping-cart > table { width:221px; border:0;}
	.popup-shopping-cart > table td > div { padding-top:10px; background-color:#fff;}
	.popup-shopping-cart > table table { background-color:#fff; width:100%; font-size:10px; color:#333;}
	.popup-shopping-cart > table table td { padding-top:3px; padding-bottom:3px;}
	.popup-shopping-cart table p { border-top:1px solid #D4D4D4; text-align:center; padding:10px 0 7px 0; background:#fff; width:205px; margin:0;}
	.p-free-shipping { padding-top:7px; }
	.p-free-shipping a { color: #9DA68B; display: block; font-family: 'FranklinGothicMediumRegular',Arial; font-size: 16px; }
	.p-free-shipping u { font-size: 9px; font-weight: normal; text-decoration: underline; position:absolute; margin-top:23px; margin-left:-46px; }
	.p-free-shipping a:hover { text-decoration:none; color: #9DA68B;}
	.p-free-shipping b { font-weight:normal; color:#686868;  }
	.p-free-shipping b em { font-size:21px; font-style:normal; }
	.p-free-shipping span:first-child {  border-right: 2px solid #9DA68B;  margin-right: 5px;  padding-right: 6px;}
	.p-free-shipping u { font-size:9px; font-weight:normal; text-decoration:underline; }
	.popup-contact { display:none; position:absolute; z-index:999999; top:0; left:0; width:534px; height:471px; }
	
	 /*Update some new graphics for Paypal*/
	.pp-gfx-now-accepting { position: absolute; right: 0px; top: -4px;}	 
	
	.ui-shopping-cart-global { width:208px; float:right; z-index:35; border:1px solid #D4D4D4; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding:5px 12px; }
	.ui-shopping-cart-global .link-checkout { float:left; margin:3px 5px 0 7px;}
	.ui-shopping-cart-global .show-shopping-cart,
	.ui-shopping-cart-global .show-added-cart-off,
	.ui-shopping-cart-global .show-added-cart-on { float:left; margin-top:7px; width:13px; height:13px;}	
	.ui-box-shopping-cart p { line-height:130%; color:#666; font-size:10px; margin:1px 0 0 0; cursor:pointer; }
	.ui-box-shopping-cart p.p-empty-cart { cursor:pointer; line-height:20px; padding:3px 0; }
	.ui-box-shopping-cart p > span { display:block; width:27px; height:20px; background-position:-21px 0; float:left; margin-right:9px; margin-top:4px; }
	.ui-box-shopping-cart p.p-empty-cart > span { margin-top:0; }
	.wrapper-box-cart {position:relative; z-index:5;}
	.pos-rel-cart-dropdown { position:relative; z-index:4;}
	.pos-rel-cart-dropdown .popup-shopping-cart { left:2px; top:-1px;}		
	
	.content-cart-division { width:210px;}			
	
	.popup-added-to-cart {z-index:9890; position:absolute; left:-13px; top:-1px!important; color:#333; width:234px; font-size:11px;}
    .inner-popup-added-to-cart { width:222px; margin:0 auto; text-align:left; padding:8px 0 2px;}
    .inner-popup-added-to-cart table td, .inner-popup-added-to-cart table th { vertical-align:top; text-align:left;}
    .heading-popup-header { font-size:12px; font-weight:bold; line-height:130%; padding:0 0 0 5px; margin-bottom:4px;}
    .item-added-to-cart { padding:0 5px;}
    .item-added-to-cart > img { border:1px solid #D5D5D5; display:block; width:100px; height:123px;}
    .heading-pd-added { color:#262626; font:bold 12px/110% "Helvetica Ultra Compressed", Arial, Helvetica, sans-serif; margin:9px 0 5px;}
    .item-added-info { color:#262626; font-family:"Helvetica Ultra Compressed", Arial, Helvetica, sans-serif; line-height:110%; width:146px; word-wrap:break-word;}
    .item-added-price { color:#FF6600; font-weight:bold; font-size:12px;}
    .item-added-summary { border-top:1px solid #D4D4D4; margin:8px 0 0; padding:7px 5px 11px;}
    .btn-ctn-to-checkout { background:url(../images/btn/btn-ctn-to-checkout.png) 0 0 no-repeat; width:173px; height:24px; cursor:pointer; margin:0 auto 9px; display:block;}
    .close-btn-type { background:url(../images/icons/ico-arrow-up-dark-gray.png) 0 50% no-repeat; padding-left:13px; color:#757572; font-size:10px; cursor:pointer; width:35px; display:block; margin:0 auto;}
.line-reskin { height:1px; overflow:hidden; background-color:#D4D4D4; clear:both;}
.nav-reskin-outer { border-top:1px solid #D4D4D4; clear:both; height:55px; padding-bottom:5px; background:url(../images/backgrounds/bg-outer-content-reskin.png) repeat-x 0 100%;}
/*------------------------------------------------------------------
   For Main Menu 
  ------------------------------------------------------------------*/
.nav{ float:left; width:1015px; height:55px; padding:0; margin:0; list-style:none; }
.nav > li{float:left; position:relative; z-index:0;}
.nav > li > a {font-family: 'FranklinGotURWTLigRegular', Calibri; font-size:17px; color:#000; text-decoration:none; padding:8px 26px 10px; overflow:hidden; display:block; text-transform:lowercase; text-align:center; height:38px; line-height:18px; vertical-align:middle; }					
.nav > li > a:hover { text-decoration:none }	
.nav > li:hover .nav-list { display:block!important; }				
.nav-list-bgtop {height:19px; width:100%;
	background: -moz-linear-gradient(top,  rgba(153,153,153,0.25) 0%, rgba(255,255,255,0.25) 48%, rgba(255,255,255,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,0.25)), color-stop(48%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,153,153,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,153,153,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,153,153,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,153,153,0.25) 0%,rgba(255,255,255,0.25) 48%,rgba(255,255,255,0.25) 100%); /* W3C */
}
.nav-list-bgbot {width:100%; height:16px; background:#ffffff; filter:alpha(opacity=60); opacity:0.6; -webkit-opacity:0.6; -moz-opacity:0.6;}               
.nav-arrow {display:none; position:relative; z-index:999; width:18px; height:6px; background-image:url(../images/sprite-main-reskin.png); background-position:-54px -0; margin:-7px auto 0 auto}
.nav > li:hover .nav-arrow {display:block}
.nav-list-outer {background-color:#F7F8F6; border:1px solid #D4D4D4; border-top:none; border-bottom:solid 1px #dddddd ;}
.nav-list-mg {padding:0 0 14px 40px;}   	
.col-mgleft { padding-left:44px}
.nav-list-cloth {width:402px}
.nav-list-mats {width:405px}
.nav-list-gear {width:380px}
.nav-list-accessories {width:250px}
.nav-list-essentials {width:370px}
.nav-list-book {width:150px}
.nav_line { width:2px; overflow:hidden; height:55px; background-repeat:no-repeat; background-position:0 -55px; }
.nav-list { position:absolute; left:-2px; z-index:1; top:55px;}
.nav_first dl { width:896px; }
.nav_list dl { margin:0; padding:0; }
.nav_first dt { float:left; padding:0; margin:0; width:178px; }
.nav_first dd { height:33px; clear:both;}
.nav-list {font:normal 18px FranklinGotURWTLigRegular, Arial, Helvetica, sans-serif;}
.nav-list a { text-decoration:none; font-size:18px; color:#3f3f3f; line-height:36px;display:block }
.nav-list label { color:#154C66;font-size:15px; cursor:pointer; }
.nav_sub_line { background-color:#F2FCFC; padding:15px 12px 12px 20px; width:670px; -webkit-border-radius: 0 0 7px 7px; -moz-border-radius: 0 0 7px 7px; border-radius: 0 0 7px 7px; }		
.nav-list .nav-tit { font-family:'FranklinGothicMediumRegular',Arial; color:#EDA156; font-size:18px; font-weight:normal; cursor:pointer;margin-top:-5px}
.nav_sub_meditation { width:123px;}					    
.nav_sub_electronics { width:210px; }
.nav_sub_electronics td:first-child { width:182px; }
.nav_sub_col_end_electronics { width:160px!important;}
.nav_sub_clothing { width:353px;}
.nav_sub_gear { width:295px; }
.nav_sub_gear td { padding-left:20px!important;}
.nav_sub_col_middle_gear { width: 158px!important; }

.nav_sub_line_bottom { background-color:#F4FAFD; }
.nav_view_more_brand { text-align:right; font-weight: bold; color:#154C66; padding-right:14px; }
.nav_view_more_brand a { color:#154C66; font-size:14px; }

.nav_sub .nav_view_all { font-weight:bold; color:#35618A; }
.nav_position { position:relative; z-index:10; height:55px; margin:0 auto } /*no dropdown > remove z-index here*/
.clear {clear:both; }

.nav_all_category .nav_list{ left: -406px; width: 580px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.nav_all_category dl { float:left; width:171px; border-right:1px solid #DCDFE3; margin-right:22px; }
.nav_all_category dt { padding-bottom:30px; }
.nav_all_category .nav_all_category_end { border:none; margin:0; }
.nav_all_category .nav_view_all { font-weight:normal; }
.nav_all_category .nav_sub_line { padding-right:0; }

.nav_view_more {background-color:#3698DD; border-radius:0 0 5px 5px; border-top:2px solid #35658A; font-size:12px; left:0; padding:7px 40px; position:absolute; right:0;}
.nav_view_more a {color:#FFF; font-family:Arial; text-decoration:none; float:right; }

.nav_alpha {height:30px;}
.nav_alpha a {float:left; font-weight:bold; color:#000; width:21px; overflow:hidden;}

.nav_line_detect { display:none; position:absolute; width:1px; height:55px; overflow:hidden; left:-3px; }
/*ORIGIN BANNER ------------------------------------------------------------------------*/
.banner { clear:both; position:relative;}	
.banner .content-wrapper { position:relative; z-index:0; height:374px; }
.banner_position {/*background-image:url(/images/banner/banner-mats1.jpg);*/background-repeat:no-repeat;display:block;height:374px;position:relative;z-index:0;cursor:pointer;background-position:center 0;} /*old banner before holiday*/
/*.banner_position-second {background-image:url("/images/banner/banner-mats2.jpg");background-repeat:no-repeat;background-position:center 108px;} */ /*old banner before holiday*/
/*.banner_position-third {background-repeat:no-repeat;background-image:url("/images/banner/banner-mats3.jpg");background-position:center 282px;}*/ /*old banner before holiday*/
.banner_position h1 { color: #FFFFFF; font-family: 'ClarendonBTRoman'; font-size: 62px;font-weight: normal; left: 448px; letter-spacing: -2px; line-height: 52px; margin: 0; padding: 0;  position: absolute;  text-shadow: 0 2px 0 #29303E;  top: 129px;  width: 567px; }
.banner_position:hover { text-decoration:none;}
.banner_position .banner_label { 
	background: -moz-linear-gradient(top,rgba(0,155,194,0.93) 0%, rgba(0,168,210,0.93) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,155,194,0.93)), color-stop(100%,rgba(0,168,210,0.93)));
	background: -webkit-linear-gradient(top, rgba(0,155,194,0.93) 0%,rgba(0,168,210,0.93) 100%);
	background: -o-linear-gradient(top, rgba(0,155,194,0.93) 0%,rgba(0,168,210,0.93) 100%); 
	background: -ms-linear-gradient(top, rgba(0,155,194,0.93) 0%,rgba(0,168,210,0.93) 100%); 
	background: linear-gradient(top, rgba(0,155,194,0.93) 0%,rgba(0,168,210,0.93) 100%);							
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; 
	border:#ffffff solid 1px; font:normal 25px FranklinGotURWTLigRegular, Arial, Helvetica, sans-serif; color:#ffffff; word-spacing:-2px; display:block; position:absolute; bottom:80px; right:85px; padding:0 19px; height:39px; line-height:39px; width:406px; text-align:center; }

/*HOLIDAY BANNER ------------------------------------------------------------------------*/
/*.banner_position { background-image:url(../Images/banners/banner-yoga-holiday.jpg); background-repeat:no-repeat; display:block; width:980px; height:224px; position:relative; z-index:0; cursor:pointer; }
.banner_position h1 { font-family: 'FranklinGothicMediumRegular'; font-size:49px; color:#fff; line-height:49px; position:absolute; top:11px; left:19px; margin:0; padding:0; text-shadow:0px 1px 1px rgba(0,0,0,0.65); font-weight:normal; letter-spacing:-2px; }
.banner_position:hover { text-decoration:none;}
.banner_position .banner_label { 
	background:url(../images/backgrounds/bg-why-shop-at-yo-holiday.png) 0 0 no-repeat; width:334px; height:34px; padding:16px 0 0; text-align:center;
	font:normal 25px FranklinGotURWTLigRegular, Arial, Helvetica, sans-serif; color:#ffffff; word-spacing:-2px; display:block; position:absolute; top:146px; left:21px; 
}*/	

/*begin :: YO Homepage Holiday Update (SWIMOUTLET-17151)*/
.banner_position {background-image:url(/images/banner/banner-home-large1-s1.jpg); cursor:default;} /*revert to old banner after holiday if required*/
.banner_position-second {background-image:url(/images/banner/banner-home-large1-s2.jpg);} /*revert to old banner after holiday if required*/
.banner_position-third {background-image:url(/images/banner/banner-home-large1-s3.jpg);} /*revert to old banner after holiday if required*/
.banner_position-second { background-position:center 162px;background-repeat:no-repeat;} /*revert to old banner after holiday if required*/
.banner_position-third { background-position:center 273px;background-repeat:no-repeat;} /*revert to old banner after holiday if required*/
.banner .content-wrapper { padding-top:162px; height:212px;} /*revert to old banner after holiday if required*/
.banner .content-wrapper a { display:block; height:49px; margin-bottom:13px; text-indent:-9999px; width:289px;}  /*revert to old banner after holiday if required*/
.banner .content-wrapper a:first-child { width:395px;} /*revert to old banner after holiday if required*/
.banner .content-wrapper a:hover { text-decoration:none;}  /*revert to old banner after holiday if required*/
.home-top-category-v1 { background:url(/images/banner/banner-for-gifts.jpg) 0 0 no-repeat; width:980px; height:339px; margin-bottom:12px;}
.home-top-category-v1 a { display:block; float:left; margin-right:7px; width:324px; text-indent:-9999px; height:339px;}
.home-top-category-v1 a:first-child { width:321px;}
.home-top-category-v1 a.noMarginR { width:321px;}
.home-top-category-v1 a:last-child { width:321px; margin-right:0;}
.home-top-category-v1 a:hover { text-decoration:none;}	
.banner-gift-under-15 { background:url(/images/banner/banner-gifts-under-15.jpg) 0 0 no-repeat; text-indent:-9999px; height:377px; display:block; margin-bottom:13px;}
.banner-gift-under-15:hover { text-decoration:none;}
.home-top-category-v2 { background:url(/images/banner/banner-holiday-shop.jpg) 0 0 no-repeat; width:486px; float:left; margin-right:8px;}
.home-top-category-v2 a { display:block; height:309px; text-indent:-9999px; margin-top:12px;}
.home-top-category-v2 a:first-child { margin-top:0;}
.home-top-category-v2 a:hover { text-decoration:none;}
.gift-for-traveling-yogi { float:left; background:url(/images/banner/banner-gifts-traveling-yogi.jpg) 0 0 no-repeat; height:630px; width:486px; text-indent:-9999px;}
.gift-for-traveling-yogi:hover { text-decoration:none;}	
/*end :: YO Homepage Holiday Update (SWIMOUTLET-17151)*/	

.banner_aside ul { padding:0; margin:0; list-style:none; }
.banner_aside a { font-size:17px; font-family:Arial; color:#FFF; font-weight:bold; text-decoration:none; display:block; padding:17px 0; outline:none; }
.banner_aside .banner_aside_line { height:1px; overflow:hidden; background-color:#38979D; border-bottom:1px solid #4DD1D6; }
.banner_aside span { float:left; width:29px; height:29px; overflow:hidden; margin:0 3px 0 13px; }
.what_new span{ background-position:0 -135px;}
.clearance span{ background-position:0 -192px;}
.top_sellers span{ background-position:0 -246px;}
.gift_ideas span{ background-position:0 -303px;}

/*------------------------------------------------------------------
   For Homepage 
  ------------------------------------------------------------------*/
.home-list-service { height: 40px; padding-top: 5px; }
.home-list-service li, .home-top-category a > span span { float:left; font-family: 'FranklinGothicMediumRegular', Arial;font-size:18px; color:#646E78; background-image:url(/images/sprite-home.png); background-repeat:no-repeat; height:27px; line-height:25px; }
.hfast-shipping { background-position:0 0px; padding-left:39px; margin-left:24px; width:190px;  }
.hnohassle { background-position:0 -29px; padding-left:35px; width:238px; }
.hlowprice { background-position:0 -63px; padding-left:35px; width:251px;  }
.hservice { background-position:0 -98px;  padding-left:35px;}
.home-top-category a > span span { width:8px; height:13px; background-position:0 -130px; position:absolute; overflow:hidden; text-indent:-1000px; margin:7px 0 0 7px; }
.home-top-category dd, .home-top-category dt{ float:left; z-index:0; }
.home-top-category a { font-family: 'FranklinGotURWTLigRegular', Arial; font-size:25px; color:#fff; height:189px; display:block; position:relative; line-height:22px;  }
.home-top-category dd { background-image:url(/images/banner/top-category-3.jpg); background-repeat:no-repeat; }
.hstaff a { width:321px; }
.hsmeditation { margin:0 7px; background-position:-321px 0; }
.hsmeditation a { width:324px;  }
.hsholiday { background-position:-645px 0; }
.hsholiday a { width:321px; }
.home-top-category a > span { position:absolute; bottom:20px; left:20px; letter-spacing:-1px; top:125px; }
.home-top-category dt { background-image:url(/images/banner/top-cat-bottom-3.jpg); background-repeat:no-repeat; margin-top:10px; } 
.home-top-category dt a { width:486px; }
.hjustarrived { margin-right:8px; }
.hwomen { background-position:-486px 0;}
.hstaff span, .hsmeditation span, .hsholiday span, .hjustarrived span, .hwomen span {text-indent:-9000px} /*moved from asp file*/

.main { width:100%; margin-top:9px }
.block-content { width:980px; margin-bottom:9px; position:relative;}
.tit-content { position:relative; font:normal 18px/30px 'FranklinGothicMediumRegular', Arial, Helvetica, sans-serif; color:#333333; text-transform:uppercase;}
.tit-content-reskin { position:relative; font:normal 17px/30px 'FranklinGothicMediumRegular', Arial; color:#333333; text-transform:uppercase;}
.tit-content-striped { position:relative; background:#d8dbd1 url(../images/backgrounds/bg-tit-content-striped.gif) 0 0 repeat-x; height:30px; line-height:30px; font-size:18px; color:#666666; padding-left:10px; text-transform:uppercase;}
.tit-content-striped .bg-arrow-down-striped { display:block; position:absolute; bottom:-4px; left:10px;}
.tit-content-type1 .bg-arrow-down { display:block; position:absolute; bottom:-4px; left:10px;}
.tit-content3 { position:relative; background:#356289 url(../images/backgrounds/bg-tit-content3.gif) 0 0 repeat-x; height:30px; line-height:30px; font-size:14px; color:#fff; padding:0 18px; text-transform:uppercase;}
.tit-content3 .bg-arrow-down { display:block; position:absolute; bottom:-4px; left:11px;}

.block-lifestyle-shop { border:0; width:100%;}
.block-lifestyle-shop .tit-content  {border:1px solid #D4D4D4; border-bottom:0; z-index:555;}	
.block-lifestyle-shop ul { width:100%; overflow:hidden; margin-top:1px; position:relative; z-index:11;} 
.block-lifestyle-shop li { width:97px; height:97px; float:left; margin-right:1px;}
.block-lifestyle-shop li:last-child, .block-lifestyle-shop li.last { width:98px; margin-right:0;}
.block-lifestyle-shop a { position:relative; height:97px; display:block;}
.block-lifestyle-shop a span { display:block; height:21px; line-height:21px; text-transform:uppercase; color:#FFF; text-align:center; font-size:11px; font-weight:bold; position:absolute; bottom:0; left:0; width:100%; background-color:rgba(0,0,0,0.5);}

.category-wrapper {padding:17px 0 17px 15px; overflow:hidden; font-size:14px; line-height:178%;}
.cat-content {float:left}
.cat-content-col1 {width:194px;}
.cat-content-col2 {width:161px;}
.cat-content-col3 {width:178px;}
.cat-content-col4 {width:200px;}
.cat-content-col5 {width:209px;}
.cat-content-col6 {width:120px;}
.cat-content h3 {font-size:15px; color:#000;}
.cat-content a {color:#333;}
.cat-content a:hover, .cat-content a.link-view-all:hover { color:#F63;}
.cat-content a.link-view-all {color:#34608A; font-weight:bold; padding-right:12px;}
.category-wrapper .cat-content.last { width:97px; padding-left:27px;}
	
.block-brands { border:1px solid #D4D4D4; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding:10px; clear:both; margin-top:12px; }
.block-brands h2 {font-family: 'FranklinGothicMediumRegular', Arial; font-size:18px; color:#646E78; font-weight:normal;}
.block-brands ul { padding:15px 0 5px; overflow:hidden;}
.block-brands li { float:left;}
.block-brands > p { text-align:right; padding-right:20px;}
.block-brands > p a { color:#35618A; font-weight:bold; text-decoration:underline;}
.block-brands > p a:hover { color:#f63;}
.block-ads { width:100%; overflow:hidden; margin-bottom:9px; position:relative}
.block-ads a { float:left; margin-right:9px;}
.block-ads a.last  { margin-right:0;}
.block-ads-face{height: 30px; position: absolute; right: 15px; bottom: 20px; width: 112px;}
.block-frm-contact { border-top-left-radius:4px; border-top-right-radius:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; margin-bottom:3px;}
.inner-block-frm { padding:15px 40px 19px 47px; overflow:hidden;}
.block-frm-contact .frm-tittle { padding-left:66px; margin:22px 0 0 0; padding-bottom:18px;}
.frm-tittle label { font-size:20px; color:#2A879E; display:block;}
.frm-tittle span { display:block; color:#666666; font-size:13px;}
.frm-signup { width:442px; float:left; background:url(../images/backgrounds/bg-line-dotted-vertical.gif) 100% 0 repeat-y; min-height:144px;}
.frm-signup > div { padding-left:66px; overflow:hidden; padding-top:3px;}
.frm-signup input[type="text"] { color:#2A879E; width:250px; background-color:transparent; height:32px; line-height:32px;}
.frm-contactus { width:416px; float:left; padding-left:33px;}
.frm-contactus > div { padding-left:66px; overflow:hidden;}
.frm-contactus > div label {color:#666666; font-size:14px; font-weight:bold; display:block; margin-bottom:6px;}
.frm-contactus > div label span, .frm-contactus > div label a { color:#2A879E; font-weight:normal; margin-left:7px;}
.frm-contactus > div label a:hover { color:#ff6633; font-weight:normal; margin-left:7px;}
.frm-contactus > div > p { width:168px; float:left;}
.frm-contactus > div > label { float:left; display:inline; margin-top:10px; margin-right:18px}
.frm-contactus .btn-live-chat { float:left; margin:1px 0 0 18px;}
/* round corner boxes - Signup */
.box-striped { border:1px solid #D4D4D4; background:#DAEBF9 url(../images/backgrounds/bg-box-triped-reskin.gif) 0 0 repeat; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; position:relative; padding:7px;}
.left-border-viewcart {background-color:#FFF; border-left:1px solid #D4D4D4; font-size:0; width:5px; line-height:0;}
.right-border-viewcart {background-color:#FFF; border-right:1px solid #D4D4D4; font-size:0; width:5px; line-height:0;}
.bottom-border-viewcart {background-color:#FFF; border-bottom:1px solid #D4D4D4; font-size:0; height:5px; line-height:0;}	
.lt-corner, .rt-corner, .lb-corner, .rb-corner ,.footer-cornerlt,.footer-cornerrt,.footer-cornerlb,.footer-cornerrb{ display:none;}

/*------------------------------------------------------------------
   For Footer 
  ------------------------------------------------------------------*/
.footer-wrap { width:1028px; margin:0 auto; background-repeat:repeat; font-family:Arial }
.footer-contact { width:100%; height:70px; background-color:#ffffff; -webkit-border-radius:5px; border-radius:5px; border:solid 1px #D4D4D4; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; position:relative; z-index:1;}
#fservice { float:left; width:190px; padding-right:10px }
#faboutus { float:left; width:143px; padding-right:10px }
#fpolicies { float:left; width:113px;}
#fconnect { float:left; width:214px; }
#fconnect img { float:left; border:none; }
#fconnect span { float:left; margin-left:-5px; padding-top:6px }
#fstella { float:left; width:145px; height: 64px; padding-right:20px; margin-top:-5px}
.footer-aff { width: 80px; margin-top: 11px; }
.ffacebook,.ftwitter, .facebook, .twitter, .mail, .pin, .fgold,.fswimlove,.flivechat-ha,.fcustomer,.femail,.fsuggest,.flogostel,.flogoaccred,.flogomaca, .blog, .googleplus, ul.cusvervice li .instagram { float:left; background:url(../images/sprite-main-1.png); }
.ffacebook,.ftwitter,.fgold,.fswimlove { width:146px; padding-left:37px!important; padding-top:8px!important; }
.ffacebook { height:32px; background-position:0px -301px; background-repeat:no-repeat; cursor:pointer; margin-top:8px }
.ftwitter { height:32px; background-position:0px -349px; }
ul.cusvervice li .facebook, ul.cusvervice li .twitter, ul.cusvervice li .mail, ul.cusvervice li .pin, ul.cusvervice li .blog , ul.cusvervice li .googleplus, ul.cusvervice li .instagram { width:30px; height:26px; padding:0; text-indent:-9999px }
.facebook { background-position:-0 -1068px; padding:0 }
.twitter {  background-position:-30px -1068px; }
.mail { background-position:-60px -1068px; padding:0 }
.pin { background-position:-90px -1068px; }
ul.cusvervice li .blog { background-position:-120px -1068px; width:51px; }
ul.cusvervice li .googleplus { background-position:-175px -1068px; height:25px; padding:0 }
ul.cusvervice li .instagram { background-position:-205px -1068px; height:26px; padding:0 }
.fgold { width:162px; height:37px; background-position:0px -174px; }
.fswimlove { width:158px; height:33px; background-position:0px -124px; }
#fstuff { float:left; width:158px; padding-right:10px }
ul.cusvervice { float:left; width:1020px; padding:0px 0px 27px; /*margin:10px 0 10px 117px;*/ margin:10px 0 10px 0; clear:both; font-size:12px; color:#ffffff; }
ul.cusvervice li a { float:left; width:100%; color:#333; text-decoration:none; padding:4px 0px; }
ul.cusvervice li a:hover { color:#FF9B06; text-decoration:underline; }
.footer-deviceline { width:1014px; height:1px; border-top:dotted 1px #A7CDE4; clear:left; }
.footer-shadow { float:left; width:1099px; height:57px; margin-left:-46px; margin-top:26px; background:url('../Images/backgrounds/footer-shadow.png'); }
.fcontactline { float:left; height:48px; margin:11px 31px 11px; margin-left:34px; border-left:dotted 4px #d4d4d4;}
.fcustomer,.femail,.fsuggest { line-height:20px; }
.flivechat {float:left;}
.fcustomer {margin-left:22px; }
.fcustomer {}
.femail {}
.fsuggest {}

.flivechat a, .fcustomer a, .femail a, .fsuggest a { font:normal 22px/18px ClarendonBTRoman, Arial, Helvetica, sans-serif; color:#2A879E; letter-spacing:-1px }
.flivechat a:hover, .fcustomer a:hover, .femail a:hover, .fsuggest a:hover { color:#ff6633; text-decoration:none }

.footer-contact #liveChatBar { width:130px; height:61px; margin-top:10px; float:left;}
.h-live-chat > div > a > img{ margin-top:7px;}
.flivechat-ha { width:130px; height:53px; background-position:0px -484px; margin-top:12px; padding-left:67px; padding-top:3px; }
.fcustomer { width:203px; height:55px; background-position:0px -674px; margin-top:7px; padding-left:72px; padding-top:8px; }
.femail { background-position:0px -625px;height:48px;width:66px;margin-top:15px;padding-left:64px;padding-top:0px }
.fsuggest { width:170px; height:52px; background-position:0px -739px; margin-top:8px; padding-left:56px; padding-top:7px; }
.flogobottom { float:left; text-align:center; padding:50px 241px; }
.flogostel,.flogoaccred,.flogomaca { float:left; height:65px; cursor:pointer }
.flogostel { width:103px; height:65px; background-position:0px -225px; margin-right:39px }
.flogoaccred { width:173px; height:65px; background-position:-104px -225px }
.flogomaca { width:177px ;height:65px; background-position:0px -399px; margin-right:29px }
.fallright { margin:0 auto; padding-top:45px; padding-bottom:20px; font-size:12px; color:#71797F; text-align:center; clear:both; }
/*For Fit-Friendly Worksite by the American Heart Association!*/
.ico-fitfriendly, .tooltip-fitfriendly { float:left; background:url(../images/sprite-fitfriendly.png); background-repeat:no-repeat; margin:13px 0 0 25px }
ul.cusvervice li .ico-fitfriendly { width:80px; height:80px; background-position:0 0; padding:0}
ul.cusvervice li .tooltip-fitfriendly { width:274px; height:93px; background-position:-85px 0; display:none; position:absolute;z-index:99; margin-top:-112px; margin-left:-110px; font-size:15px; color:#000000; padding-top:18px; padding-left:26px; line-height:22px }
.ico-fitfriendly:hover .tooltip-fitfriendly { display: block; }
ul.cusvervice h2 { font-size:17px; color:#49535D; margin-bottom:13px; text-transform:lowercase; font-family:'ClarendonBTRoman'; }
/*------------------------------------------------------------------
   Css for custom drop down (input search on header / search caching from Google)   
  ------------------------------------------------------------------*/
.gsc-completion-container { width:305px; border:1px solid #BBBBBB; border-top:1px solid #DDDDDD;}
.gsc-completion-container td { padding:5px 10px; line-height:12px;}
.gsc-completion-container td:hover { background-color:#EEF5FD;}
/****A-B Header***/
#topPropositions { float: left; padding: 6px 0; }
#topPropositions a:hover { text-decoration:none;}
#topPropositions span:first-child { margin-left:2px; }
#topPropositions span { background-image: url("/images/position-value-header.png"); float: left; height: 18px; margin-left:7px; margin-right: 2px; width: 20px; }
#topPropositions .ico-header-shipping { background-position: -25px 0; margin-right:4px; }
.ico-header-returns { background-position: -55px 0; }
#topPropositions p { color:#ECECEB; float: left; font-family: FranklinGothicMediumRegular; font-size: 12px; line-height: 18px; cursor:pointer; }
#topPropositions p:hover { color:#ffec00; }
/**testimonials banner ***/
.testimonials-banner { border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; position:relative; /*padding:12px 14px;*/ margin:12px 0 45px; border:1px solid #D4D4D4; font-family: 'FranklinGotURWTLigRegular', Arial; font-size:33px; letter-spacing:-1.5px; word-spacing:-1.5px; text-shadow: 1px 1px 1px #ffffff; background-image:url(/images/trip-grey.gif); background-repeat:repeat; }
.testimonials-banner b { font-family: pacificoregular;  font-size:61px; color:#EDA156; font-weight:normal; float:left; padding-right:13px; line-height:64px; }
.testimonials-banner span { float:left; padding-top:16px; padding-right:9px; color:#49535D; }
.testimonials-banner .read-review { font-family: FranklinGothicMediumRegular; background-color:Transparent; font-size:17px; color:#EDA156; float:right; letter-spacing:-1px; word-spacing:0; background-image:url(../images/icons/ico-arrow-green.png); background-repeat:no-repeat; background-position:right 1px; line-height:15px; padding-right:17px; margin-top:29px; }
.award-winning { letter-spacing:-3px }
.testimonials-banner > a { display: block; padding: 12px 14px; }
.testimonials-header{float:left;width:759px;padding:17px 0; 
background: #f0f7fc; /* Old browsers */
background: -moz-linear-gradient(top,  #f0f7fc 0%, #ffffff 49%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f7fc), color-stop(49%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f0f7fc 0%,#ffffff 49%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f0f7fc 0%,#ffffff 49%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f0f7fc 0%,#ffffff 49%); /* IE10+ */
background: linear-gradient(to bottom,  #f0f7fc 0%,#ffffff 49%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f7fc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.testimonials-header img { float:left; margin:0 10px 0 22px; }
.testimonials-header h1 { font-family: FranklinGotURWTLigRegular; font-size:40px; color:#223E53; float:left; letter-spacing:-1px; }
.testimonials-header label { float:left; font-family: FranklinGotURWTLigRegular; font-size:24px; color:#666; float:left; word-spacing:-2px; white-space:nowrap; }
.testimonials-count { font-size:14px; color:#2A4D6E; font-style:italic; padding:11px 0 0 33px; }

.testimonials-comment-list { margin:15px 0 0 34px; }
.testimonials-comment { position:relative; background-image:url(../images/backgrounds/bg-box-triped-comment.png); background-repeat:repeat; width:643px; padding:24px 24px 17px; -webkit-border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; }
.testimonials-comment p {  color: #666666; font-size: 14px; line-height: 22px; }
.testimonials-comment-list li { padding-bottom:34px; }
.testimonials-comment-fotter { background-image:url(../images/backgrounds/testimonials-bottom.png); background-repeat:no-repeat; width:691px; height:23px; }
.testimonials-comment b { color: #054B7E; display: block; font-size: 18px; font-style: normal; font-weight: bold; padding-bottom: 5px; padding-left: 0;}
.testimonials-comment b span { float:right; color: #3885B9; font-size: 14px; font-weight: bold; padding-left: 26px; }
.testimonials-des { font-size:14px; font-weight:bold; color:#666; padding-top:10px; }
.testimonials-des a { text-decoration:underline; }

.hformMailingList {margin-top:21px; position:relative;}
.hformMailingList input[type="text"]{-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:166px; height:33px; color:#2A879E; font-size:12px; font-family:Arial; border:1px solid #E0E0E0; -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.3) inset; box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.3) inset; padding:0 40px 0 7px; }
.hformMailingList > label {color:#666666;font-family:Arial;font-size:12px;font-weight:bold;line-height:22px;white-space:nowrap;width:214px;display:block;}
.hformMailingList > div {border-left:1px solid #C4C4C4;cursor: pointer;padding:5px 0 5px 10px;position:absolute;right:10px;top:36px;}
.btn-send {background-color:Transparent; background-position:-64px -9px;height:13px;width:7px;}
.hformMailingList span { width:21px; height:23px; margin-right:5px; background-position:-76px -0; margin-left:-5px; }

.outer-content-reskin .content-wrapper { padding:0 23px 67px!important; min-height:824px!important;}
/*A/B testing recommendations*/ .list-pd-items-home .pd-item-info  { margin-right:54px; } .list-pd-items-home .pd-item-info:first-child { margin-left:30px; } .list-pd-items-search .pd-item-info { margin-right:7px; } .list-pd-items-search .pd-photo{ width:73px!important; height:83px!important; margin:0 auto; } .error-recommendation { font-size:22px; color:#192B41; font-family:Arial; font-weight:normal;} .list-pd-items-error .pd-item-info  { margin-right:44px; } .list-pd-items-error .pd-item-info:first-child { margin-left:0; } .list-items-recommendation { /*padding-left: 32px;*/ } .list-items-recommendation .pd-item-info {  margin-right: 67px; } .inner-general .list-pd-items-search .pd-item-info { margin-right:7px;} .re-border {border-bottom:1px solid #D4D4D4; margin-bottom:25px; }
.sp-li-name{font-size: 13px;}

.anchor-back2top{background:url(../images/icons/ico-back-to-top.png) 0 0 no-repeat;width:43px;height:38px;display:block;text-decoration:none;position:fixed;bottom:0;right:17%;text-indent:-9999px;}
.anchor-back2top:hover{text-decoration:none;}
.border-backtop{background:transparent;height:38px;margin:0px;position:fixed;bottom:0px;width:100%;text-align:center;}
.border-backtop > div{width:1015px;height:38px;margin:0px auto;text-align:right;background:transparent; position:relative;}
.border-backtop > div > a.anchor-back2top{background:url(../images/icons/ico-back-to-top.png) 0 0 no-repeat;width:43px;height:38px;display:block;text-decoration:none;text-indent:-9999px;position:absolute;right:-70px;bottom:0px;}

.tit-home.tit-home-line.tit-home-long{clear:both; padding-bottom:10px;}
#s-recommendation, #s-recommendation1{clear:both; padding-top:35px}
#brandmenuloading {text-align:center;}
.tit-home.tit-home-line {clear: both;}
#s-recommendation-oos .tit-content{padding-bottom:15px}
#s-recommendation-cat .pd-item-info, #s-recommendation-search .pd-item-info{float:left;margin-right:64px;width:137px}
#s-recommendation-cat .pd-item-info.noMarginR, #s-recommendation-search .pd-item-info.noMarginR{position:relative;right:-2px}
.nav-list-brand{left:-875px;width:980px}.nav-list-brand h3{color:#36638a;font-family:'FranklinGothicMediumRegular',Tahoma;font-size:19px;font-weight:normal;padding-bottom:18px}.nav-list-brand ul{height:31px;margin-bottom:20px}.nav-list-brand .balpha-select a,.nav-list-brand .balpha-select,.nav-list-brand ul li:hover{background-color:#469be1;color:#fff}.nav-list-brand ul li{-moz-user-select:none;border-bottom:1px solid #d4d4d4;border-top:1px solid #d4d4d4;color:#1088cc;cursor:pointer;float:left;font-family:Arial;font-weight:bold;padding:8px 9px;text-align:center}.nav_list dl{margin:0;padding:0}.nav-list-brand dl{float:left;margin-right:20px!important;width:172px}.nav-list-brand-align{padding:15px 0 20px 27px;font-size:12px}.nav-list-brand ul li:last-child{padding:0}.nav-list-brand ul li a{color:#1088cc;display:block;line-height:normal;padding:8px 9px;font-size:12px}.nav-list-brand ul li a:hover{color:#fff;text-decoration:none}.nav-list-brand .nav_end_list{border:medium none!important;margin-right:0!important}.nav-list-brand-align dl a{font-size:17px}.nav-list-brand .brand-unavailable{background-color:rgba(0,0,0,0)!important;color:#999!important;cursor:default}
.tit-didmean {padding:11px 0 10px 18px;color:#2A4D6E;font-size:15px;}

.nav>li>a{line-height:38px}
.nav>li.nlines-text>a{line-height:18px} 
.nav-list-practice { width:449px;}
.col-space-left { padding-left:51px;}
.nav_name-sub { margin-bottom:13px;}
.nav_name-sub a:hover { color:#eda156;}
.hot-yoga, .sup-yoga { width:159px; height:51px; background-image:url(../images/icons/sprite-dropdown-icon.jpg); background-repeat:no-repeat; display:block; margin-top:9px;}
.hot-yoga { background-position:0 0;}
.sup-yoga { background-position:0 -54px;}

.popup-top-signin {position:absolute;float:left;margin-left:-58px;width:196px;top:20px;z-index:1000;}
.top-signin {width:164px;padding:7px 8px 6px 8px; text-align:center;line-height:18px}
.top-signin .btn-signin {float:left;background:url("../images/btn/btn-signin-top.png");background-repeat:no-repeat;width:163px;height:34px;margin:0 0 6px 1px}
.popup-top-signin .top-signin a {text-decoration:underline; color:#1385C6; font-weight:normal}
.border-grey-top, .border-grey-corner-lb, .border-grey-corner-rb {background:url("../images/sprite-border-grey.png");background-repeat:no-repeat;} 
.border-grey-corner-lb, .border-grey-corner-rb {width:8px;height:8px;line-height:0;}
.border-grey-top {width:196px;height:12px;background-position:0 -35px}  
.border-grey-corner-lb {background-position:0 0;} 
.border-grey-corner-rb {background-position:0 -22px;} 
.border-grey-left {background-color:#FFF;border-left:2px solid #D4D4D4;font-size:0;width:6px;line-height:0;}
.border-grey-right {background-color:#FFF;border-right:2px solid #D4D4D4;font-size:0;width:6px;line-height:0;}
.border-grey-bottom {background-color:#FFF;border-bottom:2px solid #D4D4D4;font-size:0;height:6px;line-height:0;}

/*Add Search Feature to Brand Filter (SWIMOUTLET-15598)*/
.tit-content-reskin>input{border-color:#b3b3b3 #c9c9c9 #c9c9c9;border-image:none;border-radius:3px;border-right:1px solid #c9c9c9;border-style:solid;border-width:1px;color:#999;font-weight:bold;height:21px;text-indent:5px;width:143px;-webkit-box-shadow:0 1px 1px 0 #e5e5e5 inset;box-shadow:0 1px 1px 0 #e5e5e5 inset; padding-right:25px;}
.sBrandFind{background-image:url(../images/icons/ico-search-24x22.png);background-position:0 0;background-repeat:no-repeat;display:inline-block;height:22px;margin-left:-25px;margin-top:4px;position:absolute;vertical-align:-7px;width:24px}
.s-brand-title{padding-left:5px;}
.choose-yr-options .tit-content-reskin.s-brand-title { font-size:12px;}
/*Search suggestion*/
#search-suggestion{background-color:#fff;border:2px solid #666;border-radius:3px;clear:both;padding:5px 0 10px;position:absolute;min-width:405px;z-index:2000; -webkit-box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;box-shadow:0 1px 3px #666}
#search-suggestion>div{border-top:1px solid #9bc6fb;margin-top:27px; margin:15px 14px 0;}
#search-suggestion span{background-color:#fff;font-size:14px;font-weight:bold;padding-right:7px;position:relative;top:-9px}
#search-suggestion>p{line-height:19px;padding: 0 14px; line-height:29px; white-space:nowrap}
#search-suggestion a{color:#666; display:block;}
#search-suggestion img{border:1px solid #d4d4d4;margin-right:11px;vertical-align:-17px;width:61px; margin-bottom:8px}
.s-g-brand {margin-bottom:10px;}
.s-g-brand-h { margin-top:20px!important; }
.highlighted { background-color:#d4d4d4}
.list-item-dropship h4 {float:none!important}
.quantity-item-price { width:80px; display:inline!important }
/*update for IE7 bug*/
.nav-arrow {position:absolute; left:40%; bottom:1px}
.nav-list-mg { margin:0 0 0 40px; padding:0;} 
.nav-list-outer { padding-bottom:14px;}
.nav li:first-child .nav-list-outer{ padding:0; }                
.top-nav {z-index:12}
.ie7 .popup-top-signin{ margin-left:-144px; }
.ie7 #brand-end-list a { padding:0; }

/*Best seller (css copied from SO)*/
.so-best-seller{display:block;margin-top:5px}
.so-best-seller>img{vertical-align:-4px}
.so-best-seller>span{text-decoration:underline}
.so-best-seller:hover{text-decoration:none}
/*Gift holiday*/
/*font face Century Gothic Bold*/
@font-face {
font-family: "CenturyGothicB";
src: url("/font/gothicb.eot");
src: local("CenturyGothicBold"), local("CenturyGothicBold"), url("/font/gothicb.woff") format("woff"), url("/font/gothicb.ttf") format("truetype"), url("/font/gothicb.svg#CenturyGothicBold") format("svg"); font-weight:normal; font-style:normal; 
}

.banner-holiday-shop { background:url(/images/banner/banner-holiday-shop-topnav2.jpg) 50% 0 no-repeat; margin-bottom:1px;}
.banner-holiday-shop a { display:block; height:58px; text-indent:-9999px; text-align:center;}
.banner-holiday-shop a:hover { text-decoration:none;}			
			
.cate-gift-guides { clear:both;}
.cate-gift-types1, .cate-gift-types2 { background-repeat:no-repeat; background-position:0 0; width:741px; height:274px;}
.cate-gift-types1 { background-image:url(/images/banner/banner-gftholiday-cate-01.jpg); margin-bottom:22px;}
.cate-gift-types2 { background-image:url(/images/banner/banner-gftholiday-cate-02.jpg); margin-bottom:15px;}
.cate-gift-types1 a, .cate-gift-types2 a { display:block; float:left; margin-right:36px; width:221px; height:48px; padding-top:226px;}
.cate-gift-types1 a.noMarginR, .cate-gift-types2 a.noMarginR { width:222px;}
.cate-gift-types1 a:first-child, .cate-gift-types2 a:first-child { width:224px; margin-right:38px;}
.cate-gift-types1 a:hover, .cate-gift-types2 a:hover { text-decoration:none;}
.cate-gift-types1 a span, .cate-gift-types2 a span { display:block; height:48px; line-height:48px; text-align:center; font-family:"CenturyGothicB",Arial; color:#fff; font-size:15px; text-transform:uppercase; background-color:rgba(35,41,31,0.7); border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-font-smoothing:antialiased;}
.gift-amount-type { background:url(/images/banner/banner-giftholiday-ages011.jpg) 19px 17px no-repeat; height:118px; width:708px; margin-bottom:20px; padding:14px 15px 14px 16px; border:1px solid #BBBBBB;}
.gift-amount-type a { float:left; width:156px; margin-right:19px; height:84px; border:1px solid #D4D4D4; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; padding:30px 2px 2px; box-shadow:0px 0px 1px rgba(0,0,0,0.1) inset; -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.1) inset; -moz-box-shadow:0px 0px 1px rgba(0,0,0,0.1) inset;}
.gift-amount-type a > span { font-size:20px; display:block; line-height:22px; font-family:"CenturyGothicB",Arial; color:#fff; text-align:center;-webkit-font-smoothing:antialiased;}
.gift-amount-type a > span span { color:#9DA58B;}
.gift-amount-type a:hover { text-decoration:none;}
/*Update to Holiday Shop page(YOGAOUTLET-687,SWIMOUTLET-17447)*/
.give-giftcard { background:url(/images/banner/giftcard-holiday2.jpg) 0 0 no-repeat; height:175px; display:block; text-indent:-9999px; margin-bottom:20px;}
.give-giftcard:hover { text-decoration:none;}
/*Add the Gift Card Module to the SO & YO Desktop/Mobile Footers(SWIMOUTLET-17341)*/
ul.cusvervice li a.f-gft-mod { margin-top:24px; background:url(/images/gift-cards-buy-now.jpg) 0 0 no-repeat; width:154px; height:53px; text-indent:-9999px;}
ul.cusvervice li a.f-gft-mod:hover { text-decoration:none;}
/*begin: Launch on Monday November 24th - YogaOutlet Black Friday(SWIMOUTLET-17511)*/
.banner-blackfri-nav { background:#1C1C1C url(/images/banner/banner-blackfri-topnav.jpg) 50% 0 no-repeat; margin-bottom:1px;}
.banner-blackfri-nav a { display:block; height:58px; text-indent:-9999px; text-align:center;}
.banner-blackfri-nav a:hover { text-decoration:none;}	
.banner-home-blackfri-sale { background:#1C1C1C url(/images/banner/banner-blackfriday-sale.jpg) 50% 41px no-repeat;}
.banner-home-blackfri-sale a { display:block; height:375px; text-indent:-9999px;}
.banner-home-blackfri-sale a:hover { text-decoration:none;}
/*Cyber Monday*/
.banner-cyber-nav {background: url("/images/banners/banner-cyberweek-topnav-95.jpg") no-repeat scroll 50% 0 #78797b;margin-bottom: 1px;}
.banner-cyber-nav a {display: block;height:58px;text-indent:-9999px;}
.banner-cyber-nav a:hover { text-decoration:none;}	
.banner-home-cyber {height:374px;background: url("/images/banners/banner-cyberweek-95.jpg") no-repeat scroll 50% #78797B;}
.banner-home-cyber a {display:block;height:374px;text-align:center;text-indent:-9999px;}
.banner-home-cyber a:hover { text-decoration:none;}

.home-gft-amount { background:url(/images/banner/banner-gft-amount.jpg) 0 0 no-repeat; width:980px; height:350px; margin-bottom:9px;}
.home-gft-amount a { display:block; float:left; margin-right:9px; width:321px; text-indent:-9999px; height:350px;}
.home-gft-amount a:first-child { margin-right:8px;}
.home-gft-amount a:hover { text-decoration:none;}	
.gft-spiritual-yogi { background:url(/images/banner/banner-gft-spiritual-yogi.jpg) 0 0 no-repeat; text-indent:-9999px; height:400px; display:block; margin-bottom:9px;}
.gft-spiritual-yogi:hover { text-decoration:none;}
.home-sale-reduced { background:url(/images/banner/banner-sale-reduced.jpg) 0 0 no-repeat; width:484px; float:left; margin-right:10px;}
.home-sale-reduced a { display:block; height:295px; text-indent:-9999px; margin-top:10px;}
.home-sale-reduced a:first-child { margin-top:0;}
.home-sale-reduced a:hover { text-decoration:none;}
.yo-holiday-shop { float:left; background:url(/images/banner/banner-holiday-shop2.jpg) 0 0 no-repeat; height:600px; width:486px; text-indent:-9999px;}
.yo-holiday-shop:hover { text-decoration:none;}	
/*end: Launch on Monday November 24th - YogaOutlet Black Friday(SWIMOUTLET-17511)*/