/* CSS Document */


/* -- context selector -- */
div#ibfModal {
    width: auto;
    height: auto;
    padding:0 0 60px 0 !important;
    border:none;
    background:url(../ibf/images/overlay-bg.jpg) no-repeat center 10px #FFFFFF;
}

div.context-selector-header {
 background:#f8f5ed;
 border-bottom:1px solid #e6ddc4;
 padding:0;
 margin-top:0;
}


h1#context-selector-header-h1 {
    color: #FFFFFF;
    font-family: arial,helvetica,sans-serif;
    font-size: 22px;
    font-weight: normal;
    left: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
}
#contextSelector .modalControls td {
    height: 53px;
}
#contextSelector #ibfModal{
    padding-bottom:0 !important;
}

#contextSelector .modalControls td {
    height: 43px;
    padding-right: 5px;
    padding-top: 12px;
    vertical-align: top;
}

div.context-selector-content {
    padding:40px 40px 0 30px;
}

div.context-selector-content h2 {
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 22px;
    font-weight: 100;
    margin-top: 29px;
}

span.context-selector-content-text {
    color: #666666;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 17px;
}

div#context-selector-selection-wrapper {
    padding:0 20px 80px;
}

div.context-selector-selection {
    float:left;padding:30px 15px 0 0;
}

span.context-selector-selection-label {
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    color:#444444;
}

#context-selector-country-select, #context-selector-currency-select {
    border: 1px solid #DDD9CB;
    color: #444444;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    margin-top: 4px;
    padding: 3px;
    width: 173px;
}

div.context-selector-selection {
    float:left;
    padding:30px 15px 0 0;
}
div.context-selector-call-to-action {
    float:left;
    padding:50px 0 0 0;
    margin-left:10px;
}
div.context-selector-call-to-action input[type=submit], div.context-selector-call-to-action input{
    -moz-box-shadow:    2px 2px 3px  #CDCDCD;
      -webkit-box-shadow: 2px 2px 3px  #CDCDCD;
      box-shadow:         2px 2px 3px  #CDCDCD;
}
div#borderfree-partner-terms {
    display:none;
    font-family:arial, helvetica, sans-serif;
    font-size:12px;
    margin-top:-10px;
    margin-bottom:16px;
}
#contextSelector #context-selector-content-wrapper{
    background:none !important;
    height:auto !important;
}



/* Modal Update */
#contextSelector #context-selector-content-wrapper {
    background:url(../ibf/images/overlay-bg.jpg) no-repeat left top #FFF;
    height:310px;
}

/* SKU ERROR MODALS */
div#borderfreeSKUError {
    background: #FFFFFF;
    text-align:center;
    font-family: arial, helvetica, sans-serif;
    color: #330000;
    font-size:24px;
    background: #fff;
}

div#borderfreeError {
    background: #FFFFFF;
    text-align:center;
    font-family: arial, helvetica, sans-serif;
    color: #330000;
    font-size:24px;
}


div#borderfreeSKUError a.modalClose {
    display: none;
}

/*
* Restricted Items Modal - Common
*/
#modal-restricted {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 621px;
    background: #fff;
}

#modal-restricted dl {
    margin: 0;
    padding: 0;
}

#modal-restricted dl dd {
    margin: 0;
    padding: 0;
}

#modal-restricted div.modal-restricted-header {
    height: 50px;
    background: url('../ibf/images/model-header-international-shipping-conflict.jpg') no-repeat;
    background-color:#000;
}

#modal-restricted div.modal-restricted-header span {
    display: none;
}

#modal-restricted .note {
    font-size: 16px;
    padding: 0 20px;
    margin: 25px 0;
}

#modal-restricted ul.restricted-items-list {
    list-style: none;
    overflow:auto;
    margin: 0px 20px;
    padding: 0px;
    max-width: 620px;
    min-height:160px;
    min-width:590px;
    max-height: 480px;
}

#modal-restricted ul.restricted-items-list li {
    float:left;
    width: 105px;
    height: 160px;
    margin-right:10px;
}

#modal-restricted ul.restricted-items-list li .itemName {
    font-size: 13px;
    margin-bottom:10px;
    display:block;
}

#modal-restricted .modal-form-submit {
    overflow: hidden;
    margin-left: 20px;
    width: 100%;
    padding-bottom: 25px;
}

#modal-restricted .restricted-items-button {
    background: url('../ibf/images/modal-button-remove-items-and-continue.jpg') #FFF no-repeat;
    width: 201px;
    height: 28px;
    border: none;
    float: left;
}

#modal-restricted .restricted-items-link {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
    float: left;
}

/*
* Restricted Items Modal - Brand
*/

#modal-restricted {
    color: #444444;
}

#modal-restricted a {
    color: #444444;
}

#modal-restricted ul.restricted-items-list li .item-price-label {
    color: #989898;
}

/* generic error modal */

#ibf-error-modal-content {
    text-align: left;
    margin-top: 0;
}

#ibf-error-modal-content-heading {
    margin-left: 30px;
    font-size: 22px;
}

#ibf-error-modal-content-message {
    margin: 16px 0 28px 30px;
    font-size: 12px;
}

#ibf-error-modal-content-button {
    text-align: center;
}

div#borderfreeError a.modalClose {
    background: none !important;
}

#borderfreeSKUError .modalControls {
    display: none;
}
/* price change modal */

#borderfreePriceChange {
    background: #FFFFFF;
}

#ibf-price-change-modal-content {
    text-align: left;
    margin-top: 0;
}

#ibf-price-change-modal-content-heading {
    margin-left: 30px;
    font-size: 22px;
}

#ibf-price-change-modal-content-message {
    margin: 16px 15px 28px 30px;
    font-size: 12px;
}

#ibf-price-change-modal-content-button {
    text-align: center;
}

div#borderfreePriceChange a.modalClose {
    background: none !important;
}

div#borderfreePriceChange .modalControls td {
    background: #FFFFFF !important;
}

/*** BF SKU ERROR MODAL OVERRIDE ***/
.borderfreeSKUErrorModal{
   opacity:0.7;
   background-color:#000000;
}

/* */

.promo-slot-container-usa-casl { /* HG 11-11-14 */
    float: left;
    margin: 20px auto 0;
}

.login-casl {font-size: 11px !important;} /* HG 11-11-14 */

#account-login-wrapper p {width: 700px;} /* HG 11-11-14 */
