/* styles the HTML rendered for the advanced search */
#advanced-search { background:none; padding-top:10px; }
#advanced-search legend { font-size:15px; font-weight:bold; padding-top:5px; }
#advanced-search .alert { margin:15px 0; }
#advanced-search p { margin-bottom:15px; }
#advanced-search p label { display:inline; float:none; padding:0; width:auto; }
#advanced-search p input { vertical-align:bottom; }
#advanced-search label { display:block; float:left; font-weight:bold; padding-right:10px; width:140px; }
#advanced-search input.text, #advanced-search select { border:solid 1px #ccc; border-top:solid 1px #666; border-left:solid 1px #666; font-size:12px; margin-bottom:3px; padding:2px; vertical-align:middle; }
#advanced-search input.text { width:200px; }
#advanced-search select { width:206px; }
#advanced-search input.priceRange { width:66px; }
#advanced-search br { clear:left; }
#advanced-search input.btn-adv-search { margin-left:150px; }
