#footer-links .cols { border-top: 3px solid #eaeaea; }
#footer-links .cols .col { border-left: 1px solid #eaeaea; }
#footer-links .cols .col.first { border-left-color: #eaeaea; }
#content #left-menu h2 { color: #999999; }
#content #left-menu-sloc h2 { color: #0a5491; }
#footer { color: #fff; }
#content #left-menu a span.text_new { color: #0a5491; }
.product-list-table th { background: #dae7ee; }
.table-header05 #popup-header h2 { color: #FFFFFF; }
.table-body06 h3 { color: #999999; } 
.product-promo-text h2 {
color:#0a5491;
font-size:32px;
line-height:36px;
margin:0;
padding:0 0 9px;
}
.color-text { color: #656565; }