/* Common styles */
body { font: 11px Arial, Helvetica, sans-serif; color: #656565; margin: 0px auto; padding: 0px; height: 100%; width: 100%; position: relative }
form { margin: 0; padding: 0 }
.clear { line-height: 0px; height: 0px; clear: both; font-size: 0px; margin: 0px; padding: 0px; position: static }
.clearfix { zoom: 1; }
.clearfix:after { content: ' '; clear: both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0; }
#outer { width: 971px; margin: 0 auto }
#content { width: 865px; margin: 0px; zoom: 1; overflow: hidden; }
#white-area { background-color: #fff}
#content_bottom { padding: 0px 6px 0px 5px; width: 865px; margin: 0px; height: 12px; line-height: 0px }
#content p { margin: 0px }
a { color: #4F91CD; text-decoration: none; }
a:hover { color: #333333; }

#outer { width: 977px; margin: 0 auto; }

input.form-field { height: 17px; font-size: 11px; color: #4d4d4d; border: 1px solid #bbbbbb; margin: 0px; padding: 3px 3px 0px; }
textarea.form-field { margin: 0px; height: 88px; width: 170px; overflow: auto; border: 1px solid #dcdcdb; padding: 3px 3px 0px; font-size: 11px; color: #4d4d4d; }
#sign-up-email { border: none; }

/* Top page section */
#top-section { position: relative; height: 89px; background: #fff; }
#top-section div { padding: 0; margin: 0; }
#top_menu { position: absolute; right: 0; top:8px; }
#top_menu #top-search { display: block; float: left; line-height: 23px; height: 23px; width: 195px; }
#top_menu #top-search .bg { height: 100%; padding: 0 0 0 8px; }
#top_menu #top-search #search { display: block; float: left; width: 142px; margin: 0 12px 0 0; padding: 3px 0px; outline: none; border: none; font-size: 10px !important; background-color: transparent; }
#top_menu #top-search #search-button { display: block; float: left; }
#top_menu #t-links { float: left; font-size: 13px; line-height: 15px; padding: 0; }
#top_menu #t-links a { display: block; float: left; margin: 0 16px 0 0; font-size: 13px; color: #666666; line-height: 14px; padding: 3px 0; }
#top_menu #t-links a:hover { color: #666666; text-decoration: underline; }
#top-section #brand-logo { position: absolute; width: 181px; height: 35px; left: 0; top: 25px; padding: 0; margin: 0; }
#top-section .play-music { position: absolute; right: 0; top: 50px; width: 122px; height: 20px; }
#top-section .play-music a { display: block; width: 100%; height: 100%; }
#top-section .play-music span { display: none; }
#footer { overflow: visible; zoom: 1; }

#top-banner { width: 505px; margin: -60px 0 8px 185px; height: 32px; margin-bottom: 8px; text-align: center; position: relative; display: table; font-size: 0; line-height: 0; *margin-top : -45px; }
* html #top-banner { margin-bottom: 0; }
*:first-child+html #top-banner { margin-bottom: 0; }
#top-banner .inner { display: table-cell; height: 100%; width: 100%; vertical-align: bottom; }
* html #top-banner .inner a { display: block; position: absolute; bottom: 0; left: 50%; margin-left: expression(-this.offsetWidth/2); zoom: 1; float: left; }
*:first-child+html #top-banner .inner a { display: block; position: absolute; bottom: 0; left: 50%; margin-left: expression(-this.offsetWidth/2); zoom: 1; float: left; }
#top-banner img { border: 0; }

#top-main-menu-c { position: relative; height: 29px; margin: 0 0 10px 0; }
#top-main-menu { position: absolute; width: 816px; height: 29px; margin: 0 4px 0 23px; }
#top-main-menu .right { position: absolute; z-index: 1; right: -4px; top: 0; width: 4px; height: 29px; }
#top-main-menu .left { position: absolute; z-index: 1; left: 0; top: 0; width: 4px; height: 29px; }
#top-main-menu .wrapper { height: 100%; }
#top-main-menu ul li.selected a,
#top-main-menu ul li.hover a,
#top-main-menu ul li:hover a { background-position: left bottom !important; }
#top-main-menu ul { float: left; height: 29px; margin: 0; padding: 0; }
#top-main-menu li { display: block; position: relative; float: left; list-style: outside none none; }
#top-main-menu li span { display: none; }

#top-main-menu #my-gymboree { display: inline; width: 133px; height: 29px; }
#top-main-menu #my-gymboree a { display: block; width: 133px; height: 29px; }
/* Begin: Sizes */
#top-main-menu .size { display: none; position: absolute; z-index: 3; left: 0; bottom: 29px; padding: 0; margin: 0; height: auto; width: auto; text-align: center; }
#top-main-menu .size li a { cursor: pointer; background: none !important; }
#top-main-menu .size span { font-size: 10px; }
#top-main-menu .size.list span { height: 15px; }
* html #top-main-menu .size { bottom: 28px; }
#top-main-menu ul li.hover ul.size,
#top-main-menu ul li:hover ul.size { display: block !important; }
#top-main-menu #size-1.size { left: 5px; }
#top-main-menu #size-1.size li,
#top-main-menu #size-1.size li a,
#top-main-menu #size-1.size li span,
#top-main-menu #size-4.size li,
#top-main-menu #size-4.size li a,
#top-main-menu #size-4.size li span { display: block; float: left; width: 99px; height: 23px; line-height: 23px; }
#top-main-menu #size-2.size li,
#top-main-menu #size-2.size li a,
#top-main-menu #size-2.size li span { display: block; float: left; width: 96px; height: 23px; line-height: 23px; }
#top-main-menu #size-3.size li,
#top-main-menu #size-3.size li a,
#top-main-menu #size-3.size li span { display: block; float: left; width: 83px; height: 23px; line-height: 23px; }
#top-main-menu #size-5.size li,
#top-main-menu #size-5.size li a,
#top-main-menu #size-5.size li span { display: block; float: left; width: 85px; height: 23px; line-height: 23px; }
#top-main-menu #size-6.size li,
#top-main-menu #size-6.size li a,
#top-main-menu #size-6.size li span { display: block; float: left; width: 133px; height: 15px; line-height: 14px; }
#top-main-menu #size-6.size li.first,
#top-main-menu #size-6.size li.first a,
#top-main-menu #size-6.size li.first span { display: block; float: left; width: 133px; height: 15px; line-height: 14px; }
/* End: Sizes */

#shopping-bag-area { position: absolute; left: 615px; width: 358px; height: 28px; z-index: 2; }
#shopping-bag-area .top-bg { position: relative; z-index: 1; width: 343px; height: 29px; padding: 0 4px 0 0; }
#shopping-bag-area.collapse .top-bg { width: 224px; }
#shopping-bag-area.collapse #expanded-shopping-bag { display: none; }
#shopping-bag-area.empty #expanded-shopping-bag { display: none; }
#shopping-bag-area.empty #expanded-shopping-bag { display: none; }
#shopping-bag-area.empty #ec-shopping-bag .arrow { display: none; }
#shopping-bag-area .bg-c { position: relative; height: 28px; }
#shopping-bag-area #expanded-shopping-bag { position: absolute; right: 0; top: 0; width: 114px; height: 557px; }
#shopping-bag-area #expanded-shopping-bag .esb-c { width: 95px; padding: 29px 12px 0 7px; height: 528px; }
#shopping-bag-area .in-expanded-shopping-bag-c { position: relative; height: 414px; margin-bottom: 23px; overflow: hidden; }
#shopping-bag-area .bag-item { width: 70px; height: 70px; margin: 0 auto; padding: 0 0 16px 0; }
#shopping-bag-area .bag-item a img { border: none; }
#shopping-bag-area #bag-edit { display: block; position: relative; z-index: 1; cursor: pointer; float: left; font-size: 11px; padding: 2px 0; height: 13px; line-height: 13px; }
#shopping-bag-area #expanded-shopping-bag .bottom { border-top: 2px solid #e1ddd9; padding: 2px 5px 0 6px; }
#shopping-bag-area #expanded-shopping-bag .bottom a { color: #5190cd; }
#shopping-bag-area #expanded-shopping-bag .buttons { float: right; }
#shopping-bag-area #up-button { display: block; position: relative; float: left; width: 17px; height: 17px; margin: 0 4px 0 0; background-position: left bottom; background-repeat: no-repeat; }
#shopping-bag-area #up-button.disabled { background-position: left top !important; }
#shopping-bag-area #down-button { display: block; position: relative; float: left; width: 17px; height: 17px; background-position: left bottom; background-repeat: no-repeat; }
#shopping-bag-area #down-button.disabled { background-position: left top !important; }
#shopping-bag-area #up-button span,
#shopping-bag-area #down-button span { display: none; }
#shopping-bag-area .checkout-button { padding: 21px 0 10px 0; }
#shopping-bag-area #checkout-button { display: block; position: relative; width: 73px; height: 20px; margin: 0 auto; }
#shopping-bag-area #checkout-button:hover { background-position: left bottom !important; }
#shopping-bag-area #checkout-button span { display: none; }
#shopping-bag-area .sbi-c { display: block; float: left; padding: 0 0 0 115px; }
#shopping-bag-area.collapse .sbi-c { padding: 0; }
#shopping-bag-area .shopping-bag-ico { display: block; float: left; cursor: pointer; width: 139px; height: 29px; line-height: 29px; font-size: 16px; font-weight: bold; color: #fff; outline: none; }
#shopping-bag-area .shopping-bag-ico span { display: block; width: 104px; height: 29px; padding: 0 0 0 35px; }
#shopping-bag-area .shopping-bag-ico b { display: none; }
#shopping-bag-area #ec-shopping-bag { display: block; position: relative; cursor: pointer; float: right; line-height: 15px; height: 15px; font-size: 13px; font-weight: bold; color: #878787; padding: 6px 17px 8px 0; outline: none; }
#shopping-bag-area #ec-shopping-bag .arrow { display: block; position: absolute; right: 0; top: 5px; width: 14px; height: 15px; margin: 2px 0 0 3px; background-position: right top; }
#shopping-bag-area.collapse #ec-shopping-bag .arrow { background-position: left top; }

#content_bottom { height: 17px; line-height: 0; font-size: 0; }
#content-middle { padding: 0 6px 0 7px; height: 100%; width: 865px; }
#page-header { width: 820px; padding: 0 23px; }

#footer-links { position: relative; }
#footer-links .top { height: 14px; }
* html #footer-links .top { font-size: 0; }
#footer-links .content { width: 864px; padding: 0 6px 0 8px; overflow: hidden; }
#footer-links .bottom { height: 15px; }
* html #footer-links .bottom { font-size: 0; }
#footer-links .cols { padding: 0 0 0 16px; margin-top: 30px; overflow: hidden; }
#footer-links .cols .wrapper { float: left; }
#footer-links .cols .wrapper { padding-bottom: 32px; }
#footer-links .cols .wrapper { width: 832px; }
#footer-links .cols .wrapper.narrow { width: 615px; }
#footer-links .cols .banner01 { float: right; padding: 9px 24px 5px 0; }
#footer-links .cols .col { float: left; }
#footer-links .cols .col h4 { font-size: 11px; line-height: 13px; padding: 7px 8px 3px; margin: 0; color: #333; }
#footer-links .cols .col ul { display: block; margin: 0; padding: 0 8px 4px; }
#footer-links .cols .col ul li { list-style: outside none none; line-height: 14px; font-size: 10px; }
#footer-links .cols .col ul li a { color:#666666;}
#footer-links .earn-rewards { position: absolute; left: 33px; top: 15px; width: 237px; height: 20px; }
#footer-links .earn-rewards a { display: block; width: 100%; height: 100%; }
#footer-links .earn-rewards span { display: none; }

#footer-links #email-signup-form { float: right; padding: 0 22px 0 0; }
#footer-links #email-signup-form label { display: block; float: left; line-height: 22px; height: 22px; padding: 0 6px 0 0; }
#footer-links #email-signup-form .email-c { display: block; float: left; width: 160px; padding: 0 4px; }
#footer-links #email-signup-form input.form-field { display: block; margin: 0 auto; width: 160px; padding: 4px 0 1px; background-color: transparent; }
#footer-links #email-signup-form a { display: block; float: left; line-height: 21px; height: 21px; width: 61px; margin: 0 0 0 3px; }
#footer-links #email-signup-form a:hover { background-position: left bottom; }
#footer-links #email-signup-form a span { display: none; }

/* Left section with the headings and menu */
#content #left-menu { width: 196px; margin: 0px; padding: 0px 13px 0px 23px; float: left }
#content #left-menu-sloc { width: 196px; margin: 0px; padding: 0px 13px 0px 23px; float: left }
#content #left-menu h2 { font-size: 26px; line-height: 32px; padding: 0 0 5px 6px; margin: 0; }
#content #left-menu-sloc h2 { font-size: 26px; line-height: 32px; padding:0 0 10px 29px; color: #88A702; margin: 0; text-align:left; }
#content #left-menu h3 { margin: 0px; display: block; width: 196px; min-height: 21px; padding: 0px }
* html #content #left-menu h3 { height: 21px; overflow: visible; }
#content #left-menu h3 a { display: block; width: 166px; min-height: 18px; font-size: 12px; color: #878787; text-decoration: none; padding: 3px 20px 0px 10px; font-weight: normal; line-height: 15px; }
* html #content #left-menu h3 a { height: 18px; overflow: visible; }
#content #left-menu h3.collapse { margin-bottom: 2px }
#content #left-menu h3.expanded { margin-bottom: 0; }
#content #left-menu_s { width: 196px; margin: 0px; padding: 0px 15px 0px 21px; float: left;}
#content #left-menu_s h4 { font-size: 26px; line-height: 32px; padding: 0 0 5px 6px; margin: 0;  padding-left:8px; }
#content #left-menu .section { padding: 7px 0 0 0; }
#content #left-menu #store-locator-head { font-size: 30px }
#content #left-menu a.orange { color: #f58426; }
#content #left-menu a span.text_new { padding: 0 0 0 3px; }

.menu { margin: 3px 0 9px 0; padding: 0 }
.menu a { display: block; font-size: 12px; line-height: 24px; color: #666666; text-decoration: none !important; padding: 0 6px 0 11px; }
.menu a:hover, .menu .selected a { color: #669bcc; }
.menu li  { display: block; list-style: outside none none; line-height: 15px; padding-bottom: 2px; }
.menu li ul  { list-style: outside none none; margin: 0; padding: 0 0 0 10px; }
/* .menu li ul li  { background-image: none; } */
.menu li.selected ul li a { color: #666666; background: none !important; }
.menu li.selected ul li a:hover { color: #5a97d0; background: none !important; }
.menu li.selected a:hover,
.menu li.selected ul li.selected a { color: #5a97d0; }
.menu li ul li,
.menu li ul li a { height: 17px; line-height: 17px; margin: 0; }
.menu li.selected{ background-image:none; }
/*
.menu li ul li a { background: #fff; background-image: none !important; color: #7fa3df; padding: 2px 6px 0px 11px }
.menu b { color: #f58428 }
*/

/* Right Section */
#content #left_block { overflow: hidden; }
* html #content #left_block { float: left; zoom: 1; }

/* Begin: Breadcrumbs */
.breadcrumbs { line-height: 14px; padding: 0 0 0 31px; margin: -3px 0 12px; }
.breadcrumbs span { padding: 0 6px; }
.breadcrumbs a { line-height: 21px; color: #5a97d0; text-decoration: none; }
.breadcrumbs a:hover { color: #7fa3df; text-decoration: underline; }
.breadcrumbs b { color: #f58428; }
/* End: Breadcrumbs */

/* Begin: Banner Sections */
#content #left_block.bs-page { padding-left: 31px; }
.bs-page .b-section { position: relative; width: 588px; height: 440px; }
.bs-page .float-b01 { position: absolute; left: 340px; top: 7px; }
.bs-page .float-b02 { position: absolute; left: 522px; top: 10px; }
.bs-page .float-b03 { position: absolute; left: 340px; top: 0; }
.bs-page .float-b03 .banner { padding-bottom: 3px; }
.bs-page .bottom-bs02 { padding-top: 5px; }
.bs-page .bottom-bs01 .banner,
.bs-page .bottom-bs02 .banner { float: left; margin: 0 5px 0 0; }
.bs-page .bottom-bs03 { width: 474px; height: 41px; padding: 9px 0; margin: 0 auto; }
.bs-page .bottom-bs03 .separator { display: block; float: left; width: 62px; height: 41px; }
.bs-page .bottom-bs03 .banner { float: left; }
.bs-page .bottom-bs04
/* End: Banner Sections */

/* Begin: Footer */
#footer { padding: 6px 0 47px 0; font-size: 10px; line-height: 12px; color: #fff; }
#footer .left { float: left; font-size: 11px; line-height: 13px; padding: 6px 14px 0 15px; }
.shop-brands-blank{width:150px; color: #656565; font-weight:bold;}

/* start nch pr-hp changes used to be margin-bottom:20px; */
#footer .brands { display: block; float: left; height: 28px; width: 440px; margin-bottom:0px;}
/* end nch pr-hp changes */

#footer .brands a { float: left; outline: none; cursor: pointer; margin: 0 10px 0 0; }
#footer .brands a span { display: none; }
#footer .brands .gfoot-pm { display: block; width: 86px; height: 35px; }
#footer .brands .gfoot-brand6 { display: block; width: 60px; height: 35px; }
#footer .brands .gfoot-jj { display: block; width: 44px; height: 35px; }
#footer .brands .gfoot-brand1 { display: block; width: 57px; height: 35px; }
#footer .right { float: left; width: 250px; text-align: right; padding: 5px 0; }
/* End: Footer */


/* Begin: Buffers */
.buffer { clear: both; float: none; font-size: 0; line-height: 0; display: block; zoom: 1; overflow: hidden; }
.h36 { height: 36px!important; line-height: 36px!important; }
/* End: Buffers */

/* Begin: Messages */
/* Product has been added message */
.added { width: 611px; margin: 0 0 -9px 0; line-height: 15px; padding: 9px 0; color: #f58426; font-size: 13px; font-weight: bold; text-align: center; position: relative; z-index: 1; }
.added a { color: #5091cd; text-decoration: none; }
.added a:hover { text-decoration: underline; }
/* End: Messages */

/* Begin: Modify Fields */
.modify-mystore-fields { padding-top: 8px; }
.modify-mystore-fields a { color: #5190cd; text-decoration: none; }
.modify-mystore-fields a:hover { text-decoration: underline; }
.modify-mystore-fields .row { padding: 0 8px 7px; }
.modify-mystore-fields .row .inline-link { display: block; float: left; line-height: 17px; height: 17px; margin: 0 0 0 12px; }
.modify-mystore-fields .row label { display: block; clear: left; float: none; font-size: 11px; line-height: 13px; color: #333; padding: 0 0 3px 0; }
.modify-mystore-fields .row select { display: block; clear: both; float: left; }
.modify-mystore-fields select.form-select { margin: 0px; height: 17px; width: 88px; border: 1px solid #dcdcdb; font-size: 11px; color: #666; }
.modify-mystore-fields .buttons { padding: 3px 8px 0; }
.modify-mystore-fields .buttons a { display: block; float: left; clear: both; margin: 0 0 9px 0; }
.modify-mystore-fields .buttons .see-results { display: block; width: 86px; height: 20px; }
.modify-mystore-fields .buttons .update-profile { display: block; width: 99px; height: 20px; margin-bottom: 7px; }
.modify-mystore-fields .buttons span { display: none; }
.modify-mystore-fields .mystorefooter { line-height: 0; font-size: 0; height: 5px; }
/* End: Modify Fields */

/* Store locator additions added by Venkat */
#left-menu-sloc.s-menu01 { padding: 0 !important; width: 245px !important; }
.s-menu01 h2 { font-size: 32px; line-height: 40px; height: 40px; overflow: hidden; padding: 43px 0px 0; text-align: center; }

#brand-store-picture { width: 604px; height: 323px; }
#brand-store-location { width: 604px; height: 324px; }
.print-directions { position: absolute; font-size: 11px; line-height: 14px; padding: 0 0 0 15px; margin: 45px 0 17px 0; }
.print-directions a { color: #5e8bcb; text-decoration: none; }
.print-directions a:hover { text-decoration: underline; }
.slocator01 { width: 198px; margin: 0 auto; }
.slocator01 .header { height: 5px; font-size: 0; }
* html .slocator01 .header { background: none; }
.slocator01 .content { padding: 0 1px; }
* html .slocator01 .content { height: 100%; background: none #f1f4c7; }
.slocator01 .footer-sloc { height: 5px; font-size: 0; }
* html .slocator01 .footer-sloc { background: none; }
.slocator01 .enter-zip-postal { padding: 11px 16px 18px 16px; font-size: 11px; line-height: 14px; font-weight: bold; color: #70625a; background: #fff; }
.slocator01 .br br { display: none;  }
.slocator01 .br { float: none; clear: both; height: 0; font-size: 0; line-height: 0; border-bottom: 1px solid #c6ce2f; }
.slocator01 .or { float: none; clear: both; line-height: 16px; height: 16px; }
.slocator01 .or span { display: block; float: left; height: 16px; line-height: 16px; color: #3f3f3f; background: #f1f4c7; padding: 0 4px; margin: 0 0 0 12px; font-weight: bold; }

.slocator01 .row { float: none; clear: both; padding: 4px 0 4px 16px; height: 22px; color: #3f3f3f; }
.slocator01 .row.select { padding: 6px 0 6px 16px; height: 18px; }
.slocator01 .row.select label { line-height: 18px; height: 18px; }

.slocator01 .row select { display: block; width: 163px; }

.slocator01 .row label,
.slocator01 .row input { display: block; float: left; }
.slocator01 .row label { cursor: pointer; line-height: 22px; height: 22px; font-size: 11px; font-weight: bold; padding: 0 10px 0 0; }

.slocator01 .content.mh313 { min-height: 313px; }
* html .slocator01 .content.mh313 { height: 313px; overflow: visible; }
.slocator01 .content.mh314 { min-height: 314px; }
* html .slocator01 .content.mh314 { height: 314px; overflow: visible; }

.slocator01 .zip-postal-code-row { padding-top: 27px; padding-bottom: 12px; }
.slocator01 .zip-postal-code-row #zip-postal-code { width: 59px; }
.slocator01 .city-row01 { padding-top: 12px; }
.slocator01 .city-row01 #city { width: 124px; }
.slocator01 .city-row02 { }
.slocator01 .city-row02 #city { width: 105px; }

.slocator01 .zip-code01 {}
.slocator01 .zip-code01 #zip-code { width: 105px; }

.slocator01 .street-row01 label,
.slocator01 .city-row02 label,
.slocator01 .zip-code01 label { width: 40px; }
.slocator01 .street-row01 #street { width: 105px; }

.slocator01 .starting-address { font-size: 11px; line-height: 13px; font-weight: bold; padding: 12px 0 9px 16px; color: #3f3f3f; }
.slocator01 .address { color: #70625a; padding: 2px 0 12px 16px; background: #fff; line-height: 13px; }
.slocator01 .address strong { line-height: 15px; }

.slocator01 .find-store-btn { padding: 6px 15px 0 15px; }

.slocator01 .submit-button-c { padding: 10px 0 0 15px; }
.slocator01 .submit-button-c .submit02-button { float: left; }
.slocator01 .submit-button-c .return-to-results { display: block; float: left; height: 20px; line-height: 20px; padding: 0 0 3px 0; margin: 0 0 0 3px; text-decoration: none; color: #4f91cd; }
.slocator01 .submit-button-c .return-to-results:hover { text-decoration: underline; }

.locator-no-results {
	padding-top:10px;
}

/* Begin: new Styles added by Eminess 10.28.2009*/
.stores-list {width:604px;}
.stores-list-clear {clear: both; height:20px;}
/* End: new Styles added by Eminess 10.28.2009*/

.shops-found { line-height: 15px; font-size: 13px; color: #3f3f3f; font-weight: bold; padding: 16px 0 8px 0; }

.stores-list .shop { position: relative; float: left; width: 240px; padding: 0 0 0 28px; margin: 0 27px 0 0; font-size: 11px; line-height: 13px; color: #3f3f3f; }
.stores-list .shop span.num { position: absolute; display: block; width: 20px; left: 0; top: 0; text-align: right; }
.stores-list .shop .info { width: 224px; float: left; }
* html .stores-list .shop .info { padding-left: 3px; }
.stores-list .shop .note { color: #bf0000; }
.stores-list .shop a { color: #4f91cd; text-decoration: none; }
.stores-list .shop a:hover { text-decoration: underline; }
.stores-list .shop .hours { margin: 12px 0 0 0; }

.driving-table-estimate { color: #3f3f3f; font-size: 11px; line-height: 17px; margin: 15px 0 7px 0; }
.driving-table-estimate th { font-weight: bold; text-align: left; padding: 0 0 4px 0; font-size: 13px; }
.driving-table-estimate a { text-decoration: none; font-weight: normal; color: #5a97d0; }
.driving-table-estimate a:hover { text-decoration: underline; }

.driving-table-estimate td.id { width: 20px; padding: 0 5px 0 0; }
.driving-table-estimate th.route { width: 500px; }

.driving-table-estimate td.id { width: 20px; padding: 0 5px 0 0; }
.driving-table-estimate td.route { width: 500px; }

.estimate-driving { font-size: 11px; line-height: 17px; font-style: italic; color: #3f3f3f; }

/* Stores List for Store Locator added by Venkat */

.stores-list {width:604px;}
.stores-list-clear {clear: both; height:20px;}

.shops-found { line-height: 15px; font-size: 13px; color: #3f3f3f; font-weight: bold; padding: 16px 0 8px 0; }

.stores-list .shop { position: relative; float: left; width: 240px; padding: 0 0 0 28px; margin: 0 27px 0 0; font-size: 11px; line-height: 13px; color: #3f3f3f; }
.stores-list .shop span.num { position: absolute; display: block; width: 20px; left: 0; top: 0; text-align: right; }
.stores-list .shop .info { width: 224px; float: left; }
* html .stores-list .shop .info { padding-left: 3px; }
.stores-list .shop .note { color: #bf0000; }
.stores-list .shop a { color: #4f91cd; text-decoration: none; }
.stores-list .shop a:hover { text-decoration: underline; }
.stores-list .shop .hours { margin: 12px 0 0 0; }

.location-title { margin: 0; padding: 10px 0 0; font-size: 14px; font-weight: bold; color: #333 }
.state-selector-title { margin: 0; padding: 55px 0 0; font-size: 14px; font-weight: bold; color: #333 }
.special-message i { font-style: normal; font-weight: bold; color: #DC8005 }
.hours { position: relative; height: 100%; display: block }
.hours span { display: block; padding-left: 43px}
.hours strong { position: absolute; left: 0px }
.contact-left a:link, .contact-left a:visited, .contact-right a:link, .contact-right a:visited { color: #5190CD; text-decoration: none }
.contact-left a:hover, .contact-right a:hover { text-decoration: underline }
.state-selector { padding: 10px 20px 20px 0px; margin: 0; float: left; display: block; width: 100px }
.state-selector li { padding: 1px 5px; margin: 0; list-style-type: none }
.state-selector li a:link, .state-selector li a:visited { color: #5190CD; text-decoration: none }
.state-selector li a:hover { text-decoration: underline }

#content #left_block_content { float: left }
.buffer.h50 { height: 50px; }

select.form-select { margin: 0px; height: 17px; width: 208px; border: 1px solid #dcdcdb; font-size: 11px; color: #666; }
select.states { width: 46px; }

/* Begin: GiftCard Details */
.gift-card-details { height: 100%; }
.gift-card-details .left-col-area { width: 259px; float: left; text-align: center; padding: 21px 0 0 0; }
.gift-card-details .left-col-area .complete-gift { padding: 4px 0 0 0; }
.gift-card-details .left-col-area .large-image { padding: 0 0 12px 0; }
.gift-card-details .left-col-area a { color: #4f91cd; text-decoration: none; }
.gift-card-details .left-col-area a.view-larger { display: block; text-align: left; width: 65px; margin: 0 auto; padding: 0 0 0 14px; line-height: 16px; }
.gift-card-details .left-col-area .links { padding: 18px 0 10px 0; }

.gift-card-details .left-col-area .bottom { padding: 0 0 5px 0; }
.gift-card-details .left-col-area .middle { height: 100%; }
.gift-card-details .left-col-area .footer { color: #666666; font-size: 11px; line-height: 13px; text-align: center; padding: 7px 0 1px 0; }
.gift-card-details .left-col-area .footer a { color: #666666; text-decoration: none; }
.gift-card-details .left-col-area .footer a:hover { text-decoration: underline; }
.gift-card-details .left-col-area .images { padding: 13px 0 0 0; }
.gift-card-details .left-col-area .images img { margin: 0 10px 9px; }

.gift-card-details .left-col-area .images { min-height: 65px; }
* html .gift-card-details .left-col-area .images { height: 65px; overflow: visible; }

.gift-card-details .right-col-area { float: left; width: 335px; color: #666666; margin: 0 0 0 10px; }
.gift-card-details .right-col-area h3 { font-size: 18px; line-height: 22px; font-weight: normal; color: #000; padding: 0; margin: 0; }
.gift-card-details .right-col-area a { color: #5190cd; text-decoration: none; }
.gift-card-details .right-col-area a:hover { text-decoration: underline; }

.gift-card-details .right-col-area .header-share { padding: 0 0 3px 0; }
.gift-card-details .right-col-area .header-share h4 { display: block; float: left; font-size: 11px; line-height: 13px; color: #666666; padding: 0; margin: 0; }
.gift-card-details .right-col-area .header-share a { display: block; float: right; font-size: 11px; line-height: 13px; }
.gift-card-details .right-col-area ul { padding: 0; margin: 0; }
.gift-card-details .right-col-area ul li { list-style-position: inside; }
.gift-card-details .right-col-area ul,
.gift-card-details .right-col-area p { font-size: 12px; line-height: 14px; margin-bottom: 14px !important; }

.gift-card-details .right-col-area .view-terms { padding: 8px 0 0 0; margin-bottom: 2px !important; }
.gift-card-details .right-col-area .view-terms,
.gift-card-details .right-col-area .view-terms a { line-height: 13px; font-size: 11px; }

.gift-card-details .right-col-area .send-giftcard { width: 342px; margin: 0 0 0 -10px; padding: 5px 0 0 0; }
.gift-card-details .right-col-area .send-giftcard .bottom { height: 40px; }
.gift-card-details .right-col-area .send-giftcard .middle { height: 100%; padding: 0 0 5px 10px; }
.gift-card-details .right-col-area .send-giftcard .row { padding: 2px 0; }
.gift-card-details .right-col-area .send-giftcard .row.message { padding: 14px 0 2px; }
.gift-card-details .right-col-area .send-giftcard label { display: block; float: left; width: 90px; position: relative; font-size: 10px; line-height: 10px; color: #a19799; text-align: right; padding: 0 5px 0 0; margin: 0 10px 0 0; }
.gift-card-details .right-col-area .send-giftcard span.req { position: absolute; color: #f58426; right: 0; top: 0; }
.gift-card-details .right-col-area .send-giftcard .input  { display: block; float: left; width: 212px; border: 1px solid #a5acb2; font-family: arial, sans-serif; font-size: 12px; padding: 2px 0; }
.gift-card-details .right-col-area .send-giftcard textarea { display: block; float: left; width: 212px; border: 1px solid #a5acb2; font-family: arial, sans-serif; font-size: 12px; padding: 2px 0; }
.gift-card-details .right-col-area .send-giftcard textarea { height: 60px; }
.gift-card-details .right-col-area .required-fields { color: #a19799; text-align: right; font-size: 9px; line-height: 11px; padding: 0 8px 1px 0; }
.gift-card-details .right-col-area .required-fields span { color: #f58426; }
.gift-card-details .right-col-area .send-giftcard .buttons { padding: 9px 10px 0 0; text-align: right; }
.gift-card-details .right-col-area .text-width { width: 333px; }
.box-content .right {padding-right:30px;text-align:right;}
.buffer.h13 { clear: both; float: none; line-height: 0; font-size: 0; }
.buffer.h13 { height: 13px; }
/* End: GiftCard Details */



/* Begin: GiftCard Outfit */
.gift-card-outfit { height: 100%; padding-top: 10px; background-color:#ffffff;}
.gift-card-outfit .left-col-area { width: 259px; float: left; text-align: center; padding: 0px 0 0 0; }
.gift-card-outfit .left-col-area .complete-gift { padding: 4px 0 0 0; }
.gift-card-outfit .left-col-area .large-image { padding: 0 0 12px 0; }
.gift-card-outfit  a { color: #4f91cd; text-decoration: none; }
.gift-card-outfit  a.view-larger { display: block; text-align: left; width: 65px; margin: 0; padding: 0 0 0 14px; line-height: 16px; }
.gift-card-outfit  .links { padding: 18px 0 10px 0; }

.gift-card-outfit .left-col-area .bottom { padding: 0 0 5px 0; }
.gift-card-outfit .left-col-area .middle { height: 100%; }
.gift-card-outfit .left-col-area .footer { color: #666666; font-size: 11px; line-height: 13px; text-align: center; padding: 7px 0 1px 0; }
.gift-card-outfit .left-col-area .footer a { color: #666666; text-decoration: none; }
.gift-card-outfit .left-col-area .footer a:hover { text-decoration: underline; }
.gift-card-outfit .left-col-area .images { padding: 13px 0 0 0; }
.gift-card-outfit .left-col-area .images img { margin: 0 10px 9px; }

.gift-card-outfit .left-col-area .images { min-height: 65px; }
* html .gift-card-outfit .left-col-area .images { height: 65px; overflow: visible; }

.gift-card-outfit .right-col-area { float: left; width: 335px; color: #666666; margin: 0 0 0 10px; padding: 0 0 0 10px; }
.gift-card-outfit .right-col-area h3 { font-size: 18px; line-height: 22px; font-weight: normal; color: #000; padding: 0; margin: 0; }
.gift-card-outfit .right-col-area a { color: #5190cd; text-decoration: none; }
.gift-card-outfit .right-col-area a:hover { text-decoration: underline; }

.gift-card-outfit .right-col-area .header-share { padding: 0 0 3px 0; }
.gift-card-outfit .right-col-area .header-share h4 { display: block; float: left; font-size: 11px; line-height: 13px; color: #666666; padding: 0; margin: 0; }
.gift-card-outfit .right-col-area .header-share a { display: block; float: right; font-size: 11px; line-height: 13px; }
.gift-card-outfit .right-col-area ul { padding: 0; margin: 0; }
.gift-card-outfit .right-col-area ul li { list-style-position: inside; }
.gift-card-outfit .right-col-area ul,
.gift-card-outfit .right-col-area p { font-size: 12px; line-height: 14px; margin-bottom: 14px !important; }

.gift-card-outfit .right-col-area .view-terms { padding: 8px 0 0 0; margin-bottom: 2px !important; }
.gift-card-outfit .right-col-area .view-terms,
.gift-card-outfit .right-col-area .view-terms a { line-height: 13px; font-size: 11px; }



.gift-card-outfit .box-content h3 { font-size: 18px; line-height: 22px; font-weight: normal; color: #000; padding: 0; margin: 0; }
.gift-card-outfit .box-content a { color: #5190cd; text-decoration: none; }
.gift-card-outfit .box-content a:hover { text-decoration: underline; }

.gift-card-outfit .box-content .header-share { padding: 0 0 3px 0; }
.gift-card-outfit .box-content .header-share h4 { display: block; float: left; font-size: 11px; line-height: 13px; color: #666666; padding: 0; margin: 0; }
.gift-card-outfit .box-content .header-share a { display: block; float: right; font-size: 11px; line-height: 13px; }
.gift-card-outfit .box-content ul { padding: 0; margin: 0; }
.gift-card-outfit .box-content ul li { list-style-position: inside; }
.gift-card-outfit .box-content ul,
.gift-card-outfit .box-content p { font-size: 12px; line-height: 14px; margin-bottom: 14px !important; }
.gift-card-outfit .box-content .view-terms { padding: 8px 0 0 0; margin-bottom: 2px !important; }
.gift-card-outfit .box-content .view-terms,
.gift-card-outfit .box-content .view-terms a { line-height: 13px; font-size: 11px; }


.gift-card-outfit-bottom  .send-giftcard { width: 342px; margin: 0 0 0 -10px; padding: 5px 0 0 0; }
.gift-card-outfit-bottom  .send-giftcard .bottom { height: 40px; }
.gift-card-outfit-bottom  .send-giftcard .middle { height: 100%; padding: 0 0 5px 10px; }
.gift-card-outfit-bottom  .send-giftcard .row { padding: 2px 0; }
.gift-card-outfit-bottom  .send-giftcard .row.message { padding: 14px 0 2px; }
.gift-card-outfit-bottom  .send-giftcard label { display: block; float: left; width: 90px; position: relative; font-size: 10px; line-height: 10px; color: #a19799; text-align: right; padding: 0 5px 0 0; margin: 0 10px 0 0; }
.gift-card-outfit-bottom  .send-giftcard span.req { position: absolute; color: #f58426; right: 0; top: 0; }
.gift-card-outfit-bottom  .send-giftcard input,
.gift-card-outfit-bottom  .send-giftcard textarea { display: block; float: left; width: 212px; border: 1px solid #a5acb2; font-family: arial, sans-serif; font-size: 12px; padding: 2px 0; }
.gift-card-outfit-bottom  .send-giftcard textarea { height: 60px; }
.gift-card-outfit-bottom  .required-fields { color: #a19799; text-align: right; font-size: 9px; line-height: 11px; padding: 0 8px 1px 0; }
.gift-card-outfit-bottom  .required-fields span { color: #f58426; }
.gift-card-outfit-bottom  .send-giftcard .buttons { padding: 9px 10px 0 0; text-align: right; }
.gift-card-outfit-bottom  .text-width { width: 333px; }

.buffer.h13 { clear: both; float: none; line-height: 0; font-size: 0; }
.buffer.h13 { height: 13px; }



.gift-card-outfit-bottom .box-content h3 { font-size: 18px; line-height: 22px; font-weight: normal; color: #000; padding: 0; margin: 0; }
.gift-card-outfit-bottom .box-content a { color: #5190cd; text-decoration: none; }
.gift-card-outfit-bottom .box-content a:hover { text-decoration: underline; }
.gift-card-outfit-bottom .box-content .header-share { padding: 0 0 3px 0; }
.gift-card-outfit-bottom .box-content .header-share h4 { display: block; float: left; font-size: 11px; line-height: 13px; color: #666666; padding: 0; margin: 0; }
.gift-card-outfit-bottom .box-content .header-share a { display: block; float: right; font-size: 11px; line-height: 13px; }
.gift-card-outfit-bottom .box-content ul { padding: 0; margin: 0; }
.gift-card-outfit-bottom .box-content ul li { list-style-position: inside; }
.gift-card-outfit-bottom .box-content ul,
.gift-card-outfit-bottom .box-content p { font-size: 11px; line-height: 14px; margin-bottom: 14px !important; }
.gift-card-outfit-bottom .box-content .view-terms { padding: 8px 0 0 0; margin-bottom: 2px !important; }
.gift-card-outfit-bottom .box-content .view-terms,
.gift-card-outfit-bottom .box-content .view-terms a { line-height: 13px; font-size: 11px; }
.gift-card-outfit-bottom .box-content  .links { padding: 18px 0 10px 0; }



.gift-card-outfit-bottom  .outfit-box .mid .box-content a { color: #5190cd; text-decoration: none; }
.gift-card-outfit-bottom  .outfit-box .mid .box-content a:hover { text-decoration: underline; }


/* End: GiftCard Outfit */

/* Product List Header */
.product-list-header { height: 40px; width: 611px }
.product-list-header h2 { font-size: 16px; color: #656565; float: left; margin: 0px; padding: 10px 0px 0 14px }

.products-optbuttons { display: block; float: right; padding: 10px 10px 0px 0px; }
.products-optbuttons .view-checked-items-button { float: right; margin: 0 5px 0 0; padding: 0; }
.products-optbuttons .add-items-to-bag-button { float: left; margin: 0; padding: 0; }

/* "Shop by" section */
.shop-by { height: 30px; width: 140px; padding: 6px 0px 0px 7px; float: left; margin: 5px 10px 0px 10px }
.ext-shop-by { height: 30px; width: 231px; padding: 6px 0px 0px 7px; float: left; margin: 5px 10px 0px 10px }
.shop-by select { font-size: 10px; height: 18px; width: 78px; }
.shop-by .bottom-size { width: 84px; margin-left: 4px }
.shop-by label { font-size: 12px; padding-right: 6px; }

/* Size chart link */
.size-chart-link:link, .size-chart-link:visited { right: 20px; color: #5A97D0; text-decoration: none; right:20px }
.size-chart-link:hover { text-decoration: underline }
.size-chart-link2:link, .size-chart-link2:visited { float: none!important; margin: 0!important; position: absolute!important; right:20px; clear: both; top:0px; color: #5A97D0; text-decoration: none }
.size-chart-link2:hover { text-decoration: underline }
.size-chart-link3:link, .size-chart-link3:visited { margin-top: 13px!important; float: left; color: #5A97D0; text-decoration: none }
.size-chart-link3:hover { text-decoration: underline }

/* View Checked Items */
.view-checked-items-button { display: block; width: 142px; height: 23px; }
.view-checked-items-button:hover { background-position: left bottom!important }
.view-checked-items-button span { display: none }

.add-items-to-bag-button { display: block; width: 170px; height: 23px; }
.add-items-to-bag-button:hover { background-position: left bottom !important; }
.add-items-to-bag-button span { display: none; }

.products-optbuttons { display: block; float: right; padding: 10px 10px 0px 0px; }
.products-optbuttons .view-checked-items-button { float: right; margin: 0 5px 0 0; padding: 0; }
.products-optbuttons .add-items-to-bag-button { float: right; margin: 0; padding: 0; }

/* Product List Cells */
.product-list-data { height: 100%; width: 611px }
.product-list-data .c1, .product-list-data .c2, .product-list-data .c3, .product-list-data .c4 { float: left; margin: 0px; min-height: 215px; overflow: visible; }
* html .product-list-data .c1,
* html .product-list-data .c2,
* html .product-list-data .c3,
* html .product-list-data .c4 { height: 215px; }
.product-list-data .c1, .product-list-data .c3 { padding: 0px 1px; width: 151px }
.product-list-data .c2, .product-list-data .c4 { padding: 0px; width: 152px }

/* Product List Data */
.product-image { display: block; width: 145px; height: 145px; margin: 0 auto }
.t145x145 { height: 145px; width: 145px; position: relative; margin: 0 auto 12px auto; cursor: pointer }
.t145x161 { height: 161px; width: 145px; position: relative; margin: 0 auto 12px auto; cursor: pointer }
.t145x129 { height: 129px; width: 145px; position: relative; margin: 0 auto 12px auto; cursor: pointer }
.product-list-data p { margin: 0px; padding: 0px 8px 8px 37px; display: block }
.product-list-data .p-price { color: #4d4d4d; text-decoration: none }
.product-list-data span.p-price i { text-decoration: line-through; font-style: normal }
.product-list-data .p-price-now { color: #bf0000 }
.product-list-data .p-special { color: #ffaf0a; font-weight: bold }
.product-list-data .special-col { min-height: 160px}
.product-list-data a:link, .product-list-data a:visited { color: #5A97D0; text-decoration: none; font-size: 11px }
.product-list-data a:hover { text-decoration: underline }
.product-list-data .checker { float: left; margin: 0px 0 24px 11px; padding: 0 }
.product-nav { padding: 10px 0px; height: auto; width: 611px; text-align: right }
.product-nav a:link, .product-nav a:visited { color: #5A97D0; text-decoration: none }
.product-nav a:hover { text-decoration: underline }
.product-nav b { color: #F58428 }
.preview { position: absolute; left: 33px; width: 79px; height: 20px; top: 62px }
.p_off { display:none }
.p_on { display:block }

/* Product List Footer */
.product-list-footer { height: 40px; width: 611px; }
.product-list-mini-footer { height: 5px; width: 611px; margin-bottom: 10px; font-size: 0px }

.v-line { border-bottom: solid 1px #d8d8d8; height: 1px; display: block; font-size: 0px }
.v-line span { position: relative; left: 20px }
.v-line1 { height: 20px; display: block; padding: 2px 0px }
.v-line1 span { color: #bcb3a8; background-color: #fff; margin: 0px 0px 0px 16px; display: block; width: 48px; padding: 6px 4px; font-size: 9px }
.v-line3 { border-bottom: solid 1px #d8d8d8; height: 1px; display: block; font-size: 0px; width: 604px }
.v-line3 span { position: relative; left: 20px }
.v-line4 { border-bottom: solid 1px #d8d8d8; height: 1px; display: block; font-size: 0px; width: 604px; margin-bottom: 15px; }

/*Sweeptakes Confirm*/
.sweepstakes, .give-thanks { width:436px; padding-bottom:52px;}
.sweepstakes a img, .give-thanks a img{ border: 0px;}
.sweepstakes h3, .give-thanks h3 {margin:17px 0px 6px 0px; font-weight:bold; font-size:13px; color:#88A702; }
.sweepstakes h3 {margin-top:14px;}
.sweepstakes .size-correct {margin-top:8px; padding:0;}
.sweepstakes p {font-size:11px; color:#333;}
.sweepstakes ul {margin:12px 0 19px 0; padding:0;list-style:none;}
.sweepstakes ul li {margin-bottom:2px;}
.sweepstakes ul li a:link, .sweepstakes ul li a:visited { text-decoration:none; color:#5190cd;}
.sweepstakes ul li a:hover {text-decoration:underline;}
/* Sweepstakes and Special offers confirm page breadcrumb alignment */
.sweepsbreadcrumbs { height: 14px; margin-bottom: 2px; }
/* End Sweepstakes and Special offers confirm page breadcrumb alignment */
#go-shopping-button span {display:none;}
#go-shopping-button:link, #go-shopping-button:visited {display:block; width: 107px!important; height: 23px!important; cursor: pointer; }
#go-shopping-button:hover { background-position: left bottom!important }

/*Give thanks*/
.give-thanks {padding-bottom:15px;}
.give-thanks h2 {font-size:16px; font-weight:bold; color:#70625a; margin-top:14px;}
.give-thanks ul {color:#333; margin-left:15px; padding-left:0px;}
.give-thanks p a:link, .give-thanks p a:visited {text-decoration:none; color: #7FA3DF;}
* html .give-thanks p.with-w:first-letter {padding-left:1px;}
.give-thanks p a:hover {text-decoration:underline;}
.give-thanks h5 { font-size:11px; font-weight:bold; padding:0; margin:3px 8px 0 0; float:left;}
.give-thanks select { width: 108px; border: 1px solid #dcdcdb; font-size: 11px; color: #666;float:left; margin-top:2px; height:17px; padding:0;}
* html .give-thanks select {margin-top:1px;}
.give-thanks .with-border {width:436px; border-top:1px solid #dcd8cf; padding-top:17px; margin-top:20px;}
#add-shopping-bag span {display:none;}
#add-shopping-bag:link, #add-shopping-bag:visited {display:block; position:relative; width: 142px!important; height: 23px!important; cursor: pointer; float:left;  margin-left:10px;}
#add-shopping-bag:hover { background-position: left bottom!important }

/*Error Page*/
#page-not-found { display: block; width: 436px; height: 100%; padding: 44px 0px 15px 232px;}
#page-not-found h2 {margin: 0px 0px 16px 0px; font-size: 30px; font-weight: bold;}
#page-not-found p { padding-bottom:58px;}

#page-not-found h3 {font-weight:bold; font-size:20px; margin:0px 0px 8px 0px; padding:28px 0 0 0;}
#page-not-found p a:link, #page-not-found p a:visited { text-decoration: none; color: #7FA3DF;}
#page-not-found p a:hover { text-decoration: underline; }
#page-not-found a img {border:0px;}
#page-not-found #logo1, #page-not-found #logo2 {display:block; float:left;}
#page-not-found #logo1 {margin-right:104px;}
#page-not-found #logo2 {margin-top:27px;}
#page-not-found .size-correct {font-size:12px; padding-bottom:19px;}

.product-details-data .send-giftcard { margin: 0 0 0 -10px; padding: 5px 0 30px; width: 342px; }
.product-details-data .send-giftcard .middle { height: 100%; padding: 0 0 5px 10px; }
/*.product-details-data .send-giftcard label { color:#A19799; display:block; float:left; font-size:10px; line-height:10px; margin:0 10px 0 0; padding:0 5px 0 0; position:relative; text-align:right; width:90px; }
*/
.product-details-data .required-fields { color:#A19799; font-size:9px; line-height:11px; padding:0 8px 1px 0; text-align:right; }

.product-details-data .send-giftcard .row { padding: 2px 0; }
.product-details-data .send-giftcard .row.message { padding: 14px 0 2px; }
.product-details-data .send-giftcard label { display: block; float: left; width: 90px; position: relative; font-size: 10px; line-height: 10px; color: #a19799; text-align: right; padding: 0 5px 0 0; margin: 0 10px 0 0; }
.product-details-data .send-giftcard span.req { position: absolute; color: #f58426; right: 0; top: 0; }
.product-details-data .send-giftcard .input { display: block; float: left; width: 212px; border: 1px solid #a5acb2; font-family: arial, sans-serif; font-size: 12px; padding: 2px 0; }
.product-details-data .send-giftcard textarea { display: block; float: left; width: 212px; border: 1px solid #a5acb2; font-family: arial, sans-serif; font-size: 12px; padding: 2px 0; }
.product-details-data .send-giftcard  textarea { height: 60px; }
.menu ul{ padding-left: 20px; }
#warning-section01 #sorry01 { font-size: 12px; font-weight: bold; color: #cc0000; position: absolute; bottom: 17px; padding-left: 20px; display: block; width: 580px; display: block; }

#order-total-n1 .right .dotted { background: url(../images/2010redesign/global/dot03.gif) left 16px repeat-x; }
/*Error message display for Mogreet*/

.p-dscr .p-price { color: #4d4d4d; text-decoration: none }
.p-dscr span.p-price i { text-decoration: line-through; font-style: normal }
.p-dscr .p-price-now { color: #bf0000 }

/* BEGIN: media publish without build deployment - add back current styles 01.31.2012 */
#top-section #crazy8-logo { position: absolute; width: 181px; height: 35px; left: 0; top: 35px; padding: 0; margin: 0; }

#top-main-menu #newborn { display: inline; width: 100px; height: 29px; }
#top-main-menu #newborn a { display: block; width: 100px; height: 29px; }
#top-main-menu #baby-girl { display: inline; width: 95px; height: 29px; }
#top-main-menu #baby-girl a { display: block; width: 95px; height: 29px; }
#top-main-menu #kid-girl { display: inline; width: 82px; height: 29px; }
#top-main-menu #kid-girl a { display: block; width: 82px; height: 29px; }
#top-main-menu #baby-boy { display: inline; width: 98px; height: 29px; }
#top-main-menu #baby-boy a { display: block; width: 98px; height: 29px; }
#top-main-menu #kid-boy { display: inline; width: 84px; height: 29px; }
#top-main-menu #kid-boy a { display: block; width: 84px; height: 29px; }

#footer .brands .gfoot-crazy8 { display: block; width: 60px; height: 35px; }

#footer .brands .gfoot-gymboree { display: block; width: 57px; height: 35px; }

.modify-c8-fields { padding-top: 8px; }
.modify-c8-fields a { color: #5190cd; text-decoration: none; }
.modify-c8-fields a:hover { text-decoration: underline; }
.modify-c8-fields .row { padding: 0 8px 7px; }
.modify-c8-fields .row .inline-link { display: block; float: left; line-height: 17px; height: 17px; margin: 0 0 0 12px; }
.modify-c8-fields .row label { display: block; clear: left; float: none; font-size: 11px; line-height: 13px; color: #333; padding: 0 0 3px 0; }
.modify-c8-fields .row select { display: block; clear: both; float: left; }
.modify-c8-fields select.form-select { margin: 0px; height: 17px; width: 88px; border: 1px solid #dcdcdb; font-size: 11px; color: #666; }
.modify-c8-fields .buttons { padding: 3px 8px 0; }
.modify-c8-fields .buttons a { display: block; float: left; clear: both; margin: 0 0 9px 0; }
.modify-c8-fields .buttons .see-results { display: block; width: 86px; height: 20px; }
.modify-c8-fields .buttons .update-profile { display: block; width: 99px; height: 20px; margin-bottom: 7px; }
.modify-c8-fields .buttons span { display: none; }
.modify-c8-fields .mystorefooter { line-height: 0; font-size: 0; height: 5px; }

#crazy8-store-picture { width: 604px; height: 323px; }
#crazy8-store-location { width: 604px; height: 324px; }
/* END: media publish without build deployment - add back current styles 01.31.2012 */


/*lightbox*/
.closelightbox{
position: absolute; left: 443px;  width: 15px; height: 15px; top: 3px; color:white;  cursor: pointer; 
}
.lightbox_overlay_mask{
	position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; display: none; 
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE */
	moz-opacity: .50; /*older Mozilla*/
	khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.4;   /*supported by current Mozilla, Safari, and Opera*/
	z-index: 9998; background-color: rgb(0, 0, 0);
}
.lightbox {
	
	 
	width:456px;  height: 368px; position: absolute; z-index: 9999; top: 150px; left: 30%; vertical-align:middle;
}

.titlebox{
	float:left;
	padding:0 5px;
	margin:-10px 0 0 30px;
	background:#fff;
}
.ThankYou{

  width:446px;  height: 127px; position: absolute; z-index: 9999; top: 150px; left: 30%; vertical-align:middle;padding:5px;
}
.Thankyoutable{
vertical-align:middle;  width:412px; height:92px; margin:18px 0px 0px 16px;
}
.Thankyoutabletd{
text-align:center; font-family:Arial; font-weight:bold; font-size:32px; color: #F49800;
}
.lightboxtable{
display:block; padding:3px; margin:22px 16px 3px 21px; width:408px; height: 319px;
}
.lightBoxMessage1{
width:408px;  text-align:center; font-family:Arial;  font-size:40px; font-weight:bold; color: #f8971d;
}
.lightBoxMessage2{
width: 408px;text-align:center;  font-size: 18px; font-family:Arial;color: #f8971d;	
}
.lightBoxMessage3{
width: 408px;text-align:center;  font-size: 14px;font-family:Arial;color: #666666;
}
.lightBoxMessage4{
width: 408px;text-align: center; font-family:Arial;font-size: 9px; color: #A4A4A2; 
}
.lightBoxLabel{
text-align:center; font-family:Arial; font-weight:normal; font-size:18px; color:#f8971d;
}
.lightBoxInput{
width: 200px; height: 18px; margin-top:1px;  outline:1px solid black; font-size: 12px; line-height: 18px; text-indent:5px; vertical-align: top; 
}
.lightboxht1{ height:28px;}
.lightboxht2{ height:5px;}
.lightboxht3{ height:29px;}
.lightboxht4{ height:12px;}
.lightboxht5{ height:19px;}
/*END lightbox*/
/*Email preferences*/
.pad5 {padding:5px;}
.pad20 {padding: 0px 0px 0px 20px;}
.radio-text-width-1 {margin-left:-1px;margin-right:7px;}
.radio-text-width-2 {margin-left:4px;margin-right:7px;}
.sub-label-width {display: block; padding-left: 27px; text-indent: -32px;}
.ht15 {display:block;height:15px;}
.subscribe-radio label { float:left; width:550px; clear:none; display:block; padding: 0px 0px 0px 10px;padding: 3px 0px 0px 10px\9; }
.subscribe-radio input[type=radio], .subscribe-radio input.radio { float:left; clear:none; margin: 0px 0px 0px 0px; }
/*Email preferences*/
/* start bug fix 10202013  added style */
.slocator01 .row label.multiline {
line-height: 17px;
height: auto;
padding: 0 10px 5px 0;
}
#sloc-shops-legend{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 1px #8a7a67 solid;
padding:10px;
font-weight:bold;
color:#000000;
margin:10px 0px 0px 0px;
}
.sloc-shops-legend-col{
width:140px;
float:left;
}
.sloc-shops-legend-col.corp{
width:auto;
padding-right:0px;
}
.sloc-shops-legend-col img{
float:left;
}
.sloc-shops-legend-col .label{
float:left;
padding:8px 0px 0px 5px;
}
.sloc-shops-legend-col.secondrow{padding-top:10px;}
.sloc-shops-legend-col.col1{width:98px;}
.sloc-shops-legend-col.col2{width:133px;}
.sloc-shops-legend-col.col3{width:168px;}
.sloc-shops-legend-col.col4{width:183px;}
.slocator01 .row.city-row { padding-top: 11px; padding-bottom: 7px; }
.slocator01 .city-row #city { width: 124px; }
.slocator01 .row .form-checkbox{margin-left:0px;}
.slocator01 .row.international { height:auto; padding-top: 2px; padding-bottom: 3px; }
.stores-list .shop .promos { margin: 12px 0 0 0; }
.stores-list .shop .send-store-info { margin: 3px 0 0 0; color: #4f91cd;}
/* end bug fix 10202013 */
/* start bug fix 20140615 added styles */
.copyright{
margin-bottom:20px;
padding:3px 0px 0px 15px;
color:#ffffff;
float:left;
width:250px;
}

.legal-footer{
margin-bottom:20px;
padding:3px 115px 0px 15px;
color:#656565;
float:right;
width:465px;
text-align:right;
}

.legal-footer a{
color:#656565;
text-decoration:underline;
}
/* end bug fix 20140615 */
/* start bug fix 20140428 added styles for homepage YMAL */
#ymal-home{
border:1px solid #ebebeb;
margin:24px 24px 24px 24px;
text-align:center;
width:816px;
}
#ymal-home h2{
color:#575757;
font-weight:bold;
font-size:16px;
padding:0px 0px 0px 0px;
margin:10px 0px 10px 0px;
}
#ymal-home .item{
float:left;
width:204px;
}
#ymal-home .item img{

}
#ymal-home .item .text{
color:#5A97D0;
font-weight:normal;
font-size:11px;
padding:5px 30px 20px 30px;
line-height:15px
}
#ymal-home .item .text a{
color:#5A97D0;
font-weight:normal;
font-size:11px;
}
#ymal-home .item .text a:hover{
color:#5A97D0;
text-decoration:underline;
}
#ymal-home .item .text .price{
color:#BF0000;
font-weight:normal;
font-size:11px;
}
/* end bug fix 20140428 */
/* start of Visa Checkout changes */
#visa-landing{
margin: 0px;
padding: 25px 25px 25px 25px;
height: 100%;
}
#visa-landing img{
border:none;
}
#visa-landing h2{
color:#1a1f71;
font-size:22px;
font-weight:normal;
}
#visa-landing h3{
color:#1a1f71;
font-size:18px;
font-weight:normal;
}
#visa-landing .left{
float:left;
width:400px;
}
#visa-landing .left .visa-apps{
padding: 25px 0px 25px 0px;
}
#visa-landing .right{
float:right;
width:400px;
text-align:center;
}
#visa-landing .right .details{
color:#1a1f71;
font-size:11px;
font-weight:normal;
}
#visa-landing .right .visa-logo{
padding: 25px 0px 25px 0px;
}
#visa-landing .right .visa-button{
padding: 25px 0px 25px 0px;
}
#visa-landing .visa-bullets{
margin: 40px 0px 0px 0px;
padding: 25px 70px 25px 70px;
color:#70625A;
font-size:17px;
font-weight:normal;
}
#visa-landing .visa-bullets li{
padding: 0px 0px 5px 0px;
}
#visa-landing .visa-tandc{
padding: 25px 50px 25px 50px;
font-size:11px;
font-weight:normal;
line-height:17px;
}
#visa-landing .visa-tandc h3{
color:#70625A;
}
/* End of Visa Checkout changes */