/* 
Pluck overide CSS for Rtaing and Reviews
Create date: 08/10/2012
Latest revs: 9/19/2012
*/

/* hide login form initially */
#customer-reviews-login-container{display:none;}
div.plck-app-container-loaded, div.pluck-app.pluck-review.pluck-review-list {background:#FFF;}


/* **********************/
/* ROLLUP WIDGET STYLES */
/* **********************/
div#prod_rollup, div#prod_rollup div.pluck-review-rollup-wrapper{width:290px; display:inline; position:relative; margin:0; padding:0;}
div.pluck-review-create-review-rollup-wrap, p.pluck-review-rollup-review-meta-text {display:none !important;}
div.pluck-review-login-review-rollup-wrap{display:none !important;}

div#prod_rollup div.plck-app-container-loaded, div#prod_rollup div.pluck-app.pluck-review.pluck-review-rollup {width:290px;}
p.pluck-review-rollup-review-meta-text {padding-top:3px; font-size:12px;}
div#rollUpContainerTop,div#rollUpContainerBottom {display:block; clear:both; margin:0; width:300px;}

div#rollUpContainerTop { position:relative;} /* to allow absolute positioning of the ratings graphic */

div.pluck-review-rollup-output-line {width:300px;}
div#prod_rollup {display:block; height:50px;}

div.pluck-review-starsOutput{padding-bottom:0;}


div.pluck-review-rollup-attributes-wrap, p.pluck-review-rollup-review-meta-text{display:none;}

/* hide unwanted graphics from both rollup widgets */
div.pluck-dialog-wrapper{display:none;}
/* ratings graphic mods - hide the graphic in the upper rollup */
div#prod_rollup div.pluck-review-rollup-dialog.pluck-dialog, div.pluck-dialog-wrapper.hasCorners {display:none;}

/*  display the graphic in the lower rollup widget */
div#reviews_rollup div.pluck-review-rollup-dialog.pluck-dialog, div.pluck-dialog-wrapper.hasCorners { display:inline; border:2px solid #bcb49d; padding-bottom:0; border-radius:4px;}
div#reviews_rollup { border-bottom:1px solid #CCCCCC;}
div#reviews_rollup div.pluck-app.pluck-review.pluck-review-rollup  {
    float:left; 
    display:inline; 
    width:60%;
    height:140px;
    height:80px;
    }
div.pluck-app.pluck-review.pluck-review-rollup div.pluck-review-rollup-wrapper {width:70%;}
div#reviews_rollup.plck-app-container-loaded {width:100%; height:140px; margin-bottom:15px; height:130px;}
div.pluck-dialog-wrapper, div.pluck-app.pluck-review.pluck-review-rollup div.pluck-dialog-wrapper div.pluck-dialog-middle{display:block; }
div.pluck-review-rollup-dialog div.pluck-dialog-middle {padding:4px 0;}

div.pluck-dialog-wrapper {border:1px solid #bcb49d;}

/*  display the ratings graphic in the lower rollup widget */
div.pluck-review-rollup-dialog.pluck-dialog {position:relative; float:right; display:inline; top:-60px; left:220px;  z-index:100;}

/* style the ratings graphic in the center .product_info area */
div#ratings_container div.pluck-review-rollup-dialog.pluck-dialog {display:block;}
div#ratings_container {position:absolute; display:none; top:70px; z-index:190; width:181px; height:108px; /* background:red; border:1px solid green; */}
div#ratings_container div.pluck-review-rollup-dialog.pluck-dialog {left:0; top:0; border:2px solid #bcb49d; padding-bottom:0; border-radius:4px; }

a.pluck-review-full-attribute-name-ref{text-decoration:none;}

div.pluck-review-attributesOutput {margin-top:6px; margin-bottom:1px;}
/* *******************/
/* LIST WIDGET STYLES */
/* *******************/

#Customer-Reviews h1 {}
#Customer-Reviews h2 {font-size:1.3em;}
div#reviews_list.plck-app-container-loaded {width:100%; clear:both;}
div.pluck-review-full-review-body.description {width:480px;}
img#submit_a_review{float:right;}
div.pluck-review-create-review-title-tips, div.pluck-review-full-review-powered-by-wrap, div.pluck-review-full-review-powered-by-wrap a img, div.pluck-review-avatar.pluck-review-avatar-active {display:none;}
.topContainer, .hasBackgroundColor, .pluck-review-full-review-action-buttons, div.pluck-review-full-review-pro-con, div.pluck-review-full-author-attribute, p.pluck-review-full-recommend, p.pluck-review-full-header-headline, div.pluck-review-edit-delete-control-wrap, div.pluck-review-first-post-review {display:none;}
.pluck-review-full-subheader-headline, div.pluck-review-full-attributes, img.pluck-avatar, p.pluck-review-full-review-recommendations, p.pluck-review-full-review-comment-text {display:none;}
select.pluck-review-full-header-sorting,  p.pluck-review-full-header-sort-label {float:none !important; margin:0; display:inline; line-height:2.2;}
p.pluck-review-full-header-sort-label {padding-right:10px;}
p.pluck-review-full-header-sort-label {width:100px;}
div.pluck-review-full-reviewer-block, div.pluck-review-full-stars {padding:0;}
div.pluck-review-full-reviewer-meta, div.pluck-review-full-review-body.description {min-height:0; padding-bottom:0; margin:0; clear:both;}
div.pluck-review-full-review-desc p {margin:0;}
div.pluck-review-full-subheader, div.pluck-review-full-subheader p {background:#FFF; color:#666; border:none !important;}
div.pluck-review-full-subheader p span,  div.pluck-review-full-header{background:#FFF; color:#666; border:none !important;}
div.pluck-review-full-header p.pluck-review-full-header-headline {background:#FFF; color:#666; border:none !important;}
p.pluck-review-full-header-headline {padding-left:0;}
/* This is the style to turn the filters on and off */ 
a.pluck-review-full-header-filter{display:none !important;  float:none !important; margin:0;}
a.pluck-review-full-header-filter, a.pluck-review-allfilter-link.pluck-review-subhead-friends-filter {background:#FFF; color:#666; border:none !important;}
div.pluck-review-full-review-single-review-wrap, .pluck-review-full-review-single-review-wrap{border:none !important;}
.pluck-review-main-area, .pluck-review-full-wrap, .hasCorners {border:none !important; overflow:hidden !important;}
.pluck-review-full-review-powered-by-wrap, .pluck-review-full-review-powered-by-wrap {background:#FFF; margin:0 !important; no-repeat; border:none;}

div.pluck-review-full-review-single-review-wrap.pluck-review-isOdd.pluck-user-isLoggedOut.pluck-user-isEditorTier .luck-review-isVisible.pluck-review-first.hreview {padding-left:0;}

div.pluck-review-list-filter-wrap div.pluck-review-list-filter-wrap.pluck-review-list-filter-wrap-noResults {background:#FFF; margin-bottom:0;}

a.pluck-review-list-create.pluck-primary-button /*, span.pluck-primary-button-text */ {display:none;}
div.pluck-review-create-review-title-tips
div.pluck-review-full-content-wrap, div.pluck-review-full-wrap {background-color:#FFFFFF;}
div.pluck-review-full-wrap
/* *********************/
/* REVIEW FORM STYLES */
/* *********************/
div.pluck-review-create-review-title-tips, div.pluck-review-create-header, div.pluck-review-create-review-desc-photoadd, div.pluck-review-create-review-rec, input.pluck-review-create-review-input.pluck-review-create-review-pros-input, input.pluck-review-create-review-input.pluck-review-create-review-cons-input, div.pluck-review-create-review-slide-box, p.pluck-review-create-review-attribute-single-label-text, p.pluck-review-attribute-clear-wrap, div.pluck-review-create-pros,  div.pluck-review-create-cons, div.pluck-review-create-attributes, div.pluck-review-create-author-attributes {display:none;}
/*div.pluck-review-create-review-primary-buttons */ a.pluck-review-create-review-preview.pluck-secondary-button {display:none;}
div.pluck-review-create-content-wrap {background:#FFF; margin-bottom:0;}
span.pluck-primary-button-text {padding:6px 14px 7px 20px; height:26px; color:#000; background: url('/assets/images/reviews/pluck_button_left.jpg') no-repeat scroll 0 0 transparent;}
a.pluck-primary-button{height:26px; background: url('/assets/images/reviews/pluck_button_right.jpg') no-repeat scroll right top transparent;}
div.pluck-review-create-review-primary-buttons {height:80px;}
.new_elm {color: #786952;}
p.new_elm {clear:both; padding-top:10px;}
a#customer-reviews-link3 {padding:2px 8px;}

