@charset "utf-8";
/* CSS Document */
/* nav-banner-styles-140915.css */
/* rev: 140915 khosty - simplified css */
/* rev: 140916 amateyka */

.navBannerPC,
.navBannerCA {
	display:block;	
	clear:both;
	margin:10px 0px 0px 0px;
	padding:0px;
}


/* Marketlive needs the iframe styles specified */

/* Commenting out to see if it's necessary -- kh 
.NavBannerPC iframe,
.NavBannerCA iframe{
	clear:both;
	margin:10px 0px 0px 0px;
	padding:0px;
	display:block;
}*/

























