#feedback-pop {
	display: none;
}

.pop-feedback {
	position: fixed;
	top: 25%;
	right: 0px;
	z-index: 7777;
	width: 33px;
	height: 90px;
	display: none;
}

@media print {
	.pop-feedback {
		display: none;
	}
}