/* PowerReviews override stylesheet copyright 2006 all rights reserved */

/* PowerReviews override V2.0 stylesheet */
.pr-stars{background-image:url("../images/stars.gif")!important;}
.pr-stars-small{background-image:url("../images/stars_small.gif")!important;}
.pr-snippet-stars .pr-snippet-rating-decimal, .pr-rating, .pr-snippet-read-write p{display:none;}
.pr-snippet, .pr-snippet-wrapper, .pr-snippet-stars {padding:0px; margin:0px 0px 4px 0px;}
.pr-snippet-read-write{clear:none;width:auto; font-family:Arial, Helvetica, sans-serif; border:0; padding:0; margin:0;float:right;}
.pr-snippet-write-review, .pr-snippet-read-reviews, .pr-snippet-read-reviews a span{font-size:9px; color:#2074B4; font-weight:normal!important; border:0; background:none;}
.pr-snippet-read-write div{float:right; padding:0px 0px 0px 2px;}
.pr-snippet-wrapper{background:none;}
.pr-snippet-wrapper,.pr-snippet-stars {border:none;}

.pr-snippet-stars .pr-stars-small, .pr-modal-container .pr-stars {
    background-image: url("../images/stars_small.gif");
    float: left;
    height: 15px;
    line-height: 15px;
    width: 83px;
}

.pr-clear {
    clear: both;
}

.pr-stars-0_5-sm{background-position:0px -18px}
.pr-stars-1-sm{background-position:0px -36px}
.pr-stars-1_5-sm{background-position:0px -54px}
.pr-stars-2-sm{background-position:0px -72px}
.pr-stars-2_5-sm{background-position:0px -90px}
.pr-stars-3-sm{background-position:0px -108px}
.pr-stars-3_5-sm{background-position:0px -126px}
.pr-stars-4-sm{background-position:0px -144px}
.pr-stars-4_5-sm{background-position:0px -162px}
.pr-stars-5-sm{background-position:0px -180px}

#review_snippet p{width:auto!important;float:left; clear:none!important;}

/*Top Sellers, etc. Tab Style OverRide*/
dl#productTabset .pr-snippet-review-count, dl#productTabset .pr-snippet-read-write{display:none;}
/*Family Page Style OverRide*/
div#famRightContent .pr-snippet-review-count, div#famRightContent .pr-snippet-read-write{display:none;}
/** Size and Fit Feature **/
.pr-other-attributes-histogram, .pr-other-attributes-subratings { display:block;}
.pr-snapshot .pr-other-attributes-histogram .pr-other-attribute-value-histogram-wrapper,
.pr-snapshot .pr-other-attributes-histogram .pr-other-attribute-value-histogram-barValue {zoom: 1 !important;overflow: visible !important;}
/*IE Breakage Fix suggestion from PWR*/
.pr-review-faceoff-review-negative{ padding-left: 30px;}
.pr-review-faceoff-review-positive{padding-right: 30px;}
/*END PowerReviews override V2.0 stylesheet*/

.prReviewEngine {color:#444444;}
.ReviewSnippet{display:none;}
.prSnippetEngine {width:327px; height:50px; text-align:right;}
.prSnippetEngine div { padding: 0px; }
.prSnippetTitle {color:#444444; margin-bottom:3px; text-align:left;}
.prSnippetRatingUnclickable {float:left;width:160px; text-align:left;}
a.prSnippetLink, a.pr-snippet-link { color:#2074b4; font-size:9px; width:100%; }
.prSnippetWriteReview{ display:inline; width: auto; }
.prSnippetReadReviews, .pr-snippet-read-reviews { display:inline; width: auto; background: transparent url(../images/product/pr-review-divider.gif) no-repeat left center; padding-left:5px !important; margin-left:4px; }
.prSnippetNumberOfRatingsText, .pr-snippet-review-count {font-size:10px; line-height:14px; text-align:left; padding:0; font-family:Arial, Helvetica, sans-serif;}
.prSnippetWriteReview a, .prSnippetReadReviews a,.pr-snippet-read-reviews a, .pr-snippet-write-review a { width:auto; font-family:Arial, Helvetica, sans-serif; }

#prReviewSummary { border: 0; margin: 0 5px; background: none; }
.prSummaryHeader{background-color:#eaf4fd; padding:0; margin:0; line-height:21px; height:21px;}
.prSummaryTitle {color:#444444!important;margin-left:10px}
.prSummaryCobrand {font-size:8px; font-family:verdana;color:#000000;}
.prSummaryPrintableViewLink {margin-top:2px; padding:0;font-size:10px;}
.prSummaryPrintableViewLink a {color:#0b31ca; margin:0; padding:0;font-size:10px;}
a.prSummaryCobrandLink {color:#0b31ca;}

a#writeReview {color:#0b31ca;}
.prSummaryAverageRatingText {font-size:13px;}

.prReviewSort { margin: 0 5px; background-color:#dddddd;}
#sorter {font-weight:bold; font-size:10px; color:#444444;}

#prContents { margin: 0 5px; color:#444444;}
.prPageCount strong {font-weight:normal}
.prReviewText {color:#444444;}
.prReviewCount {color:#444444;}
.prReviewSortBox {color:#444444;}
.prReviewRatingHeadline {color:#444444;}
.prReviewAuthorName {color:#444444;}
.prReviewAuthorName span {color:#444444;}
.prReviewAuthorLocation {color:#444444;}
.prReviewAuthorLocation span {color:#444444;}
.prReviewAuthorDate {color:#444444;}
.prReviewAuthorDate span {color:#444444;}

dl#productTabset div.mask ul.slider .prSnippetEngine {height: 21px;}