.product #additionnal-nav {
height:45px;
overflow:hidden;
margin:0 0 20px .5px
}

.product .contextual-nav {
margin-top:-38px;
position:absolute;
right:0;
z-index:1
}

.product .contextual-nav ul li {
float:left;
font:normal 1.5em/30px gill-ss-std-bold,"Times New Roman", Times, serif;
text-transform:uppercase;
margin:0
}

.product .contextual-nav ul li a span {
color:#7fb719;
font-family:gill-ss-std,Verdana, Geneva, sans-serif
}

.product .catalog {
overflow:hidden;
position:relative
}

.product .catalog .item-S.item-04 {
background:url(/img/common/separator/separator-02.gif) left bottom repeat-x;
padding:15px 0
}

.product .catalog li:last-child .item-S.item-04 {
background:0 none
}

.product .catalog .item-S.item-04 .wrapper {
border:0 none;
overflow:hidden;
position:relative
}

.product .catalog .item-S.item-04 .visual {
display:block;
position:relative;
width:80%!important;
margin:0 10%
}

.product .catalog .item-S.item-04 .title-01 {
color:#7fb719;
font:normal 3em/1em bebasneue,Impact, Charcoal, sans-serif;
text-transform:uppercase
}

.product .catalog .item-S.item-04 .batch {
padding:0 0 65px
}

.product .catalog .item-S.item-04 .rating img {
float:left;
width:115px!important;
margin:0 10px 0 0
}

.product .catalog .item-S.item-04 .prices {
width:100%;
margin:5px 0 0
}

.product .catalog .item-S.item-04 .prices .new {
float:left;
font-size:18px;
line-height:20px
}

.product .catalog .item-S.item-04 .prices .old {
float:right;
font-size:16px;
line-height:20px;
position:relative;
top:0;
margin:0 10px 0 5px
}

.product .item-L.item-03 .right .button-buy {
text-align:center;
font-size:16px;
width:40%;
height:40px;
line-height:40px;
margin:5px 0 0
}

.product .item-L.item-03 .right .warranties ul li:last-child img {
width:33px!important
}

.product .item-L.item-03 .right .warranties ul li a {
line-height:58px;
text-decoration:underline
}

.product .item-L.item-03 .right .warranties img {
float:left;
padding:14px 0 0 10px
}

.product .featured {
position:relative;
color:#4D4D4D;
font:normal 1.4em/1.2em gill-ss-std, "Times New Roman", Times, serif;
margin:25px 0 0
}

.product .featured .title {
font:normal 1.4em/15px gill-ss-std-bold,"Times New Roman", Times, serif
}

.product .featured a {
color:#7fb719;
font:normal 1.4em/15px gill-ss-std,"Times New Roman", Times, serif;
text-decoration:underline
}

.product .featured a:hover {
color:#7FB719;
text-decoration:underline
}

.product .gcol.gcol-L.first .inner-nav {
border:1px solid #ccc;
position:relative;
font:normal 14px/40px gill-ss-std, "Times New Roman", Times, serif;
margin:0 0 25px
}

.product .gcol.gcol-L.first .inner-nav ul {
list-style:none;
overflow:hidden;
position:relative;
text-transform:uppercase
}

.product .gcol.gcol-L.first .inner-nav ul li {
color:#3a5508;
display:block;
float:left;
height:40px;
border-right:1px dotted #bbb;
background:none;
padding:0
}
.product .item-S.item-01 .infos .prices .new{color:#E2007A;}
.product .gcol.gcol-L.first .inner-nav ul li.selected {
background-color:#e5e5e5!important;
height:40px;
background:none;
color:#7FB719;
}

.product .gcol.gcol-L.first .inner-nav ul li a {
display:block;
color:#7FB719
}

.product .gcol.gcol-L.first .inner-nav ul li.selected a {
color:#666!important
}

.product .gcol.gcol-L.first .inner-nav ul li:hover {
background-color:#e5e5e5;
background:#FFF
}

.product .gcol.gcol-L.first .inner-nav ul li:last-child {
background-image:none;
border:none
}

.product .gcol.gcol-L.first .about-content {
list-style:none;
overflow:hidden;
width:100%;
padding-bottom:40px
}

.product .gcol.gcol-L.first .about-content > li {
overflow:hidden;
position:relative;
margin:0 0 7px
}

.product .gcol.gcol-L.first .about-content > li .title {
color:#666;
font:normal 14px/14px gill-ss-std-bold,"Times New Roman", Times, serif;
text-transform:uppercase;
margin:0 0 5px
}

.product .gcol.gcol-L.first .about-content > li .description {
color:#666;
font:normal 14px/14px gill-ss-std,"Times New Roman", Times, serif;
position:relative
}

.product .gcol.gcol-L.first .about-content tr {
border-bottom:1px solid #ccc
}

.product .gcol.gcol-L.first .about-content th {
color:#666;
font:normal 14px/16px gill-ss-std-bold,"Times New Roman", Times, serif;
padding:10px
}

.product .gcol.gcol-L.first .about-content td {
color:#666;
font:normal 14px/14px gill-ss-std,"Times New Roman", Times, serif;
padding:10px
}

.product .gcol.gcol-L.first .about-content li > .title {
background:#fff;
color:#fff;
font:normal 3em/40px bebasneue, Arial, Helvetica, sans-serif;
display:block;
height:40px;
overflow:hidden;
width:100%;
padding:0 20px
}

.product .gcol.gcol-L.first .about-content li > .title a {
color:#7fb719;
display:block;
position:relative;
padding:0 20px
}

.product .gcol.gcol-L.first .about-content .opened > .title a {
display:block;
position:relative;
color:#7FB719;
padding:0 20px
}

.product .gcol.gcol-L.first .about-content li > .border {
display:block;
height:38px;
overflow:hidden;
position:absolute;
width:99%;
border:none
}

.product .gcol.gcol-L.first .about-content .opened > .title {
font:normal 3em/40px bebasneue, Arial, Helvetica, sans-serif;
display:block;
height:40px;
overflow:hidden;
background:none;
color:#7FB719;
border-bottom:1px dotted #bbb
}

.product .about-content li .title em {
color:#666;
font:normal 14px/40px gill-ss-std, "Times New Roman", Times, serif;
position:absolute;
right:30px;
top:0
}

.product .about-content li .title em span {
background:url(/img/common/sprites.png) -290px -50px no-repeat;
display:inline-block;
height:14px;
position:relative;
top:2px;
width:14px;
margin:0 0 0 5px
}

.product .about-content .opened .title em {
font:normal 14px/40px gill-ss-std, "Times New Roman", Times, serif;
position:absolute;
right:30px;
top:0;
color:#666
}

.product .about-content .opened .title em span {
position:relative;
top:2px;
background:url(/img/common/sprites.png) -290px -50px no-repeat
}

.product .gcol.gcol-L.first .button {
background-color:#7fb719;
color:#FFF;
display:inline-block;
float:right;
font:22px/40px gill-ss-std-bold,Verdana,Geneva,sans-serif;
position:relative;
text-align:center;
margin:0 0 0 10px;
padding:0 15px
}

.product .gcol.gcol-L.first .about-content li h4.title img {
float:right;
width:14px!important;
height:14px;
margin-top:13px
}

.product .gcol.gcol-L.first .about-content .catalog {
padding:10px 20px
}

.product .gcol.gcol-L.first .about-content .back-to-top {
color:#666;
float:right;
font:normal 14px/12px gill-ss-std, "Times New Roman", Times, serif;
position:relative;
margin:0 20px 0 0;
padding:0 0 10px
}

.product .gcol.gcol-L.first .about-content .back-to-top span {
background:url(/img/common/sprites.png) -270px -40px no-repeat;
display:inline-block;
height:7px;
width:13px;
margin:0 0 0 5px
}

.product .gcols3 > .gcol2.content {
padding-top:20px
}

.advert-dummy {
overflow:hidden;
position:relative;
padding:20px 0 0
}

.advert-dummy ul li {
display:block;
float:left;
width:33%
}

.advert-dummy ul li .advertising {
margin:0!important
}

.advert-dummy ul li:nth-child(3n+1) .advertising {
float:left
}

.advert-dummy ul li:nth-child(3n+2) .advertising {
margin:0 auto!important
}

.advert-dummy ul li:nth-child(3n+3) .advertising {
float:right
}

#microbasket {
background:url(/img/common/pixel/pixel_black60.png) 0 0 repeat transparent;
height:100%;
left:0;
position:absolute;
top:0;
visibility:hidden;
width:100%;
z-index:500
}

#microbasket .overlay {
left:0;
position:absolute;
top:230px;
width:100%
}

#microbasket .btn.close {
color:#fff;
display:inline;
font:normal 14px/22px gill-ss-std,Verdana, Geneva, sans-serif;
position:absolute;
right:10px;
text-align:right;
top:10px;
padding:0 20px 0 0
}

#microbasket .btn.close span {
background:url(/img/common/sprites.png) -330px -30px no-repeat;
height:17px;
position:absolute;
right:0;
top:4px;
width:17px;
margin:0 0 0 5px
}

#microbasket .container {
background-color:#FFF;
border:1px solid #C6C6C5;
left:50%;
position:absolute;
top:50%;
width:390px;
z-index:1;
margin:0 0 0 -196px;
padding:0
}

#microbasket .container .visual {
display:block;
float:left;
height:60px;
width:60px;
margin:0 10px
}

#microbasket .container .infos {
float:left;
width:275px
}

#microbasket .container .infos .price {
color:#666;
font:18px/1em gill-ss-std-bold,Verdana, Geneva, sans-serif
}

#microbasket .container .infos .quantity {
color:#666;
font:14px/1em gill-ss-std,Verdana, Geneva, sans-serif
}

#microbasket .container .infos .quantity span {
font-family:gill-ss-std-bold,Verdana, Geneva, sans-serif
}

#microbasket .container > .title {
background-color:#7fb719;
color:#fff;
display:block;
font:30px/41px bebasneue,Impact, Charcoal, sans-serif;
height:45px;
overflow:hidden;
text-indent:15px;
margin:0 0 10px
}

#microbasket .container > .title strong {
float:left;
font-weight:400;
text-transform:uppercase
}

#microbasket .container .content {
background:url(/img/common/separator/separator-02.gif) bottom left repeat-x;
overflow:hidden;
position:relative;
padding:0 15px 15px 0
}

#microbasket .container .content .title {
color:#666;
font:14px/1em gill-ss-std,Verdana, Geneva, sans-serif;
text-transform:uppercase;
margin:0 0 15px
}

#basket-summary {
background-color:#e5e5e5;
clear:both;
overflow:hidden;
position:relative;
padding:15px
}

#basket-summary .total {
color:#333;
font:24px/1em gill-ss-std-bold,Verdana, Geneva, sans-serif;
position:relative;
margin:0 0 10px
}

#basket-summary .total span {
position:absolute;
right:0
}

#basket-summary .tools {
clear:both;
overflow:hidden;
position:relative;
margin:0 0 15px
}

#basket-summary .tools .btn {
color:#fff;
display:block;
float:left;
font:15px/25px gill-ss-std-bold,Verdana, Geneva, sans-serif;
position:relative;
text-align:center;
text-transform:uppercase;
width:48%
}

#basket-summary .tools .btn span {
background:url(/img/common/sprites.png) no-repeat scroll -260px -60px transparent;
display:inline-block;
height:8px;
position:relative;
top:-1px;
width:4px;
margin:0 0 0 5px
}

#basket-summary .tools .btn.wish {
background-color:#7fb719;
margin:0 4% 0 0
}

#basket-summary .tools .btn.buy {
background-color:#e2007a
}

#basket-summary .disclaimer {
color:#666;
font:12px/1em gill-ss-std,Verdana, Geneva, sans-serif;
text-align:right;
padding:0 15px 0 0
}

#contextual-info {
border:3px solid #343434;
padding:10px 0
}

#contextual-info p {
font:normal 1.4em/1em gill-ss-std, "Times New Roman", Times, serif;
text-align:center
}

#contextual-info p .free-shipping {
background:url(/img/common/product/free-shipping_bg.gif) no-repeat scroll bottom left transparent;
display:inline-block;
color:#343434;
font:normal 1em/30px gill-ss-std-bold,"Times New Roman", Times, serif
}

#contextual-product > .title {
color:#7fb719;
font:3em/45px bebasneue,Impact, Charcoal, sans-serif;
text-transform:uppercase;
padding:0 15px
}

#contextual-product ul {
list-style:none;
overflow:hidden;
position:relative;
padding:0 0 10px
}

#contextual-product li {
display:block;
float:left;
text-align:center;
width:50%
}

#contextual-product li:first-child {
background:url(/img/common/separator/separator-03.gif) top right repeat-y
}

#contextual-product li a span {
color:#666;
display:block;
font:10px/1em gill-ss-std,Verdana, Geneva, sans-serif;
text-transform:uppercase
}

#contextual-product li a span:last-child {
color:#666;
display:block;
font:9px/1em gill-ss-std,Verdana, Geneva, sans-serif;
text-transform:uppercase
}

#microbasket .container .link.detail {
color:#7fb719;
float:right;
font:14px/40px gill-ss-std,Verdana, Geneva, sans-serif;
text-decoration:underline;
margin:0
}

#microbasket .container .link.detail span {
background:url(/img/common/sprites.png) no-repeat scroll -230px -60px transparent;
display:inline-block;
height:9px;
width:5px;
margin:0 20px 0 5px
}

.product #selected-shade .description .weight {
display:block
}

#product-zoom {
background:url(/img/common/pixel/pixel_black60.png) 0 0 repeat transparent;
visibility:hidden;
height:100%;
left:0;
position:absolute;
text-align:center;
top:0;
width:100%;
z-index:500
}

#product-zoom img {
max-height:650px;
position:absolute;
width:auto
}

#product-zoom a {
color:#7fb719;
font:15px/1.5em Arial,Helvetica,sans-serif;
right:0;
position:absolute;
top:50%;
z-index:501
}

#breadcrumb_product ul {
list-style:none;
width:100%
}

#breadcrumb_product ul li {
float:left;
font:normal 1.4em/45px gill-ss-std,"Times New Roman", Times, serif;
margin:0 8px 0 0
}

#breadcrumb_product ul li:last-child {
font-family:gill-ss-std-bold,"Times New Roman", Times, serif
}

#breadcrumb_product ul .active span {
background:url(/img/common/sprites.png) no-repeat scroll -220px -60px transparent;
display:inline-block;
height:9px;
width:5px;
margin:0 5px 0 0
}

#maincontent .warranties {
height:58px
}

#maincontent .warranties ul li {
height:58px;
position:relative;
background:none
}

#maincontent .warranties ul .returns .visual {
margin:12px 0 0 15px
}

#maincontent .warranties ul .delivery .visual {
margin:11px 0 0 12px
}

#maincontent .warranties ul li .subtitle {
top:37px
}

.product #additionnal-nav .title span {
background:url(/img/common/sprites.png) -270px -60px no-repeat
}

.item-L.item-03 .left {
float:left;
overflow:hidden;
position:relative;
width:33%;
margin:20px 0 5px;
}

.item-L.item-03 .right {
float:left;
overflow:hidden;
position:relative;
width:67%;
margin:0 0 5px
}

/* CR: BBB-672 Starts here */
.item-L.item-03 div#delivery-popup { overflow:hidden; background-color: #FFFFFF; border: 1px solid black; float: right; width: 51.8%; display:none; }
.item-L.item-03 #delivery-popup .title { background-color: #7FB719; color: #FFFFFF; font: 20px/25px bebasneue,Impact,Charcoal,sans-serif; text-indent: 10px; }
.item-L.item-03 #delivery-popup .title .btn.close { color: #FFFFFF; cursor: pointer; display: inline; float: right; font: 13px/15px gill-ss-std,Verdana,Geneva,sans-serif; padding: 5px 5px 0 0; text-align: right; }
.item-L.item-03 #delivery-popup .title .btn.close span { background: url("/img/common/sprites.png") no-repeat scroll -330px -30px transparent; float: right; height: 17px; margin: 0 0 0 5px; width: 17px; }
.item-L.item-03 #delivery-popup div { color: #666666; font: 1.3em/1.2em gill-ss-std,'Times New Roman',Times,serif; padding: 3px 10px; }
/* CR: BBB-672 Ends here */

.item-L.item-03 .rightmost {
float:left;
overflow:hidden;
position:relative;
width:35%;
color:#666;
font-family:gill-ss-std,"Times New Roman", Times, serif;
margin:0 0 5px
}

.item-L.item-03 .rightmost > .title {
color:#343434;
font:normal 3em/.9em gill-ss-std,"Times New Roman", Times, serif;
text-transform:uppercase;
margin:0 0 10px
}

.item-L.item-03 .rightmost .note {
font-family:gill-ss-std,"Times New Roman", Times, serif
}

.item-L.item-03 .rightmost .note .rating {
float:left;
width:115px;
margin:0 5px 5px 0
}

.item-L.item-03 .rightmost .note .rating-score {
color:#333;
float:left;
font:normal 1.2em/22px gill-ss-std,"Times New Roman", Times
}

.item-L.item-03 .rightmost .note .fb-like {
float:right;
line-height:21px;
padding:4px 0 0
}

.item-L.item-03 .rightmost .note .user-info-request {
border-bottom:1px dotted #ccc;
clear:both;
display:block;
overflow:hidden;
position:relative;
width:100%;
margin:0 0 20px;
padding:0 0 15px
}

.item-L.item-03 .rightmost .note .user-info-request a {
color:inherit;
font-size:1.2em
}

.item-L.item-03 .rightmost .note .user-info-request a:hover {
color:#000
}

.item-L.item-03 .rightmost .note .user-info-request .user-review {
font-size:1.4em;
list-style-image:url(../image/common/ico/ico_article.gif);
float:left
}

.item-L.item-03 .rightmost .note .user-info-request .user-review li {
float:left;
margin:0 15px
}

.item-L.item-03 .rightmost .note .user-info-request .user-review li:last-child {
margin-left:12px
}

.item-L.item-03 .rightmost .order .title {
clear:both;
color:#666;
font:normal 1.4em/1em gill-ss-std,"Times New Roman", Times, serif;
margin:0 0 10px
}

.item-L.item-03 .rightmost .order .title .weight {
color:#000;
font-family:gill-ss-std-bold,"Times New Roman", Times, serif;
margin:0 0 0 5px
}

.item-L.item-03 .rightmost .order ul.size-selector {
list-style:none;
overflow:hidden;
position:relative;
margin:0 0 15px
}

.item-L.item-03 .rightmost .order ul.size-selector li {
float:left;
margin:0 0 0 10px
}

.item-L.item-03 .rightmost .order ul.size-selector li label {
background-color:#FFF;
border:1px solid #4f4f4f;
color:#666;
display:block;
float:left;
font:normal 1.4em/25px gill-ss-std-bold,"Times New Roman", Times, serif;
padding:0 5px
}

.item-L.item-03 .rightmost .order ul.size-selector li label.selected-size {
background-color:#4f4f4f;
border:1px solid #4f4f4f;
color:#fff;
display:block;
float:left;
font:normal 1.4em/25px gill-ss-std-bold,"Times New Roman", Times, serif;
padding:0 5px
}

.item-L.item-03 .rightmost .order .shade-selector {
padding:10px 0 0
}

.item-L.item-03 .rightmost .button-buy {
background-color:#e2007a;
color:#FFF;
font:normal 2em gill-ss-std-bold,"Times New Roman", Times, serif;
height:30px;
float:right;
text-transform:uppercase;
width:195px
}

.item-L.item-03 .rightmost .free-shipping-amout {
float:right;
font:normal 1.4em/1em gill-ss-std, "Times New Roman", Times, serif
}

.item-L.item-03 .rightmost .free-shipping-amout .free-shipping {
background:url(../image/common/product/free-shipping_bg.gif) no-repeat scroll bottom left transparent;
display:inline-block;
color:#343434;
font:normal 1em/30px gill-ss-std-bold,"Times New Roman", Times, serif
}

.item-L.item-03 .rightmost #product-offers {
float:left;
margin-top:70px;
position:absolute;
margin-bottom:20px;
width:350px
}

.item-L.item-03 .rightmost #product-offers p:first-child {
font:normal 1.4em/1em gill-ss-std-bold,"Times New Roman", Times, serif
}

.item-L.item-03 .rightmost #product-offers p:last-child {
color:#e2007a;
font:normal 1.4em/1em gill-ss-std,"Times New Roman", Times, serif;
padding:5px 0
}

.item-L.item-03 .rightmost .warranties {
border-bottom:1px dotted #ccc;
border-top:1px dotted #ccc;
float:left;
font:normal 14px/34px gill-ss-std, "Times New Roman", Times, serif;
height:34px;
overflow:hidden;
width:100%;
margin:40px 0 10px
}

.item-L.item-03 .rightmost .warranties ul li > a {
display:block;
float:left;
color:#7fb719;
padding:0 10px
}

.item-L.item-03 .rightmost .warranties ul li:first-child img {
width:10px!important
}

.item-L.item-03 .rightmost .warranties ul li:last-child img {
width:20px!important;
padding:20px 0 0
}

.item-L.item-03 .rightmost .warranties ul li:last-child .delivery-txt {
display:block;
float:left;
line-height:58px;
position:relative;
padding:0 0 0 1px
}

.item-L.item-03 .rightmost .warranties ul li:last-child .delivery-txt a {
color:#7fb719;
font-size:.9em;
left:10px;
position:absolute;
top:15px
}

.item-L.item-03 .rightmost .warranties ul li:last-child .delivery-txt .shipping-amount {
font:normal 1em gill-ss-std-bold, "Times New Roman", Times, serif
}

.item-L.item-03 .rightmost .warranties .delivery-txt .more_info {
color:#7fb719;
font-size:12px;
left:10px;
position:absolute;
top:14px
}

.item-L.item-03 .rightmost .product-infos {
color:#4d4d4d;
float:left;
font:normal 1.4em/1.2em gill-ss-std, "Times New Roman", Times, serif;
width:100%;
padding:15px 0
}

.item-L.item-03 .rightmost .product-infos .title {
font-family:gill-ss-std-bold, "Times New Roman", Times, serif;
margin:0 0 5px
}

.item-L.item-03 .rightmost .product-infos .introduction {
margin:0 0 5px
}

.item-L.item-03 .rightmost .product-infos ul {
margin:0 15px 20px
}

.item-L.item-03 .rightmost .product-infos ul li {
padding:2px 5px
}

.product .item-L.item-03 .rightmost .button-buy {
font-size:17px;
width:35%;
padding-left:10px;
padding-top:8px;
margin:15px 0 0
}

.product .item-L.item-03 .rightmost .warranties ul li:last-child img {
width:30px!important
}

.product .item-L.item-03 .rightmost .warranties img {
float:left;
padding:20px 0 0
}

.item-L.item-03 #product-block {
background:#F3FAD9;
position:relative;
float:right;
width:50.3%;
margin-right:0;
overflow:hidden;
border:1px solid #D3DDAC;
padding:10px 5px
}

.item-L.item-03 .right .warranties ul li:last-child .delivery-txt {
margin-left:10px;
padding:0
}

.item-L.item-03 .right > .title {
font-size:28px;
width:100%;
margin-bottom:0
}

.item-L.item-03 .right .note {
width:100%;
overflow:hidden;
display:block
}

.item-L.item-03 .right .order {
position:relative;
float:left;
width:47%
}

.item-L.item-03 #main-form .quantity {
margin:5px 5px 15px 0
}

.item-L.item-03 #main-form .shade-type {
float:right;
margin:5px 0 15px
}

.item-L.item-03 #main-form .volume {
float:left;
margin:5px 5px 15px 10px
}

.product .item-L.item-03 #main-form {
margin-bottom:2px
}

.product .item-L.item-03 .right #product-offers {
margin-top:10px;
width:100%
}

.item-L.item-03 #product-block .title {
margin-bottom:5px;
color:#666;
font-family:gill-ss-std,"Times New Roman", Times, serif
}

.item-L.item-03 #product-block .title span {
margin-left:5px;
font-size:12px
}

.item-L.item-03 .right .product-infos .title,.item-L.item-03 .right .featured .title {
font:normal 16px gill-ss-std,"Times New Roman",Times,serif;
text-transform:uppercase;
color:#7FB719;
margin:0 0 5px
}

.gcols3 > .gcol2 .gcol-R {
width:34.7%;
/*border:1px dotted #bbb;*/
margin:5px 0 0 13px
}

.item-S.item-01 .wrapper .title {
color:#E2007A;
font:normal 14px/1em gill-ss-std,"Times New Roman",Times,serif;
background:none;
text-transform:uppercase;
margin:13px 10px;
padding:0
}

.item-S.item-01 .wrapper {
border:0 none
}

.item-S.item-01 .wrapper .content {
margin:10px 0
}

.item-S.item-01 .button {
display:inline;
font:12px/20px gill-ss-std-bold,Verdana,Geneva,sans-serif;
margin:0 0 5px;
padding:5px 10px
}

.item-S.item-01 .button span {
margin:0 0 -2px 5px
}

.item-L.item-03 .right .note .user-info-request {
margin:0 0 5px;
padding:0 0 5px
}

.item-L.item-03 .right .note .user-info-request .user-review {
font-size:10px;
text-transform:uppercase;
font-weight:700
}

.item-L.item-03 .right .note .fb-like {
line-height:10px;
padding:0
}

.item-L.item-03 .right .product-infos,.item-L.item-03 .right .featured {
width:47%;
clear:left;
float:left;
position:relative;
margin:2px 0;
padding:5px 0
}

.gcols3 > .gcol2 .gcol-L {
width:63.83%;
margin-top:5px
}

.product .gcol.gcol-L.first .about-content > li,.product .gcol.gcol-L.first .inner-nav {
border:1px dotted #bbb
}

.product .warranties ul .returns-visual {
background:url(/img/common/sprites.png) -27px -118px no-repeat;
display:block;
float:left;
height:30px;
width:28px;
margin:15px 0 0
}

.product .warranties ul .delivery-visual {
background:url(/img/common/sprites.png) -67px -116px no-repeat;
display:block;
height:27px;
width:32px;
float:left;
margin:13px 0 0 2px
}

.product .sidecoloumn1 {
border:none;
width:auto;
max-width:360px;
max-height:360px;
padding:5px 10px
;
border-top: 1px dotted #bbb;
}

.product .itemQuantitySection {
width:auto
}

.product .item-L.item-03 .right .note .user-info-request {
width:auto;
position:relative;
clear:none;
overflow:hidden;
margin-top:15px;
border-bottom:none
}

#RightBoxBazaarvoice {
width:50%;
float:left
}

.product .item-L.item-03 .right .note {
border-bottom:1px dotted #BBB;
margin-bottom:10px
}

#selected-shade {
padding-bottom:10px;
top:0;
float: right;
position: relative;
right: 28px;
width: 35%;
padding: 0 0 36px 10px;
}

.product .item-L.item-03 .right .order .title {
font:normal 16px gill-ss-std,"Times New Roman",Times,serif;
text-transform:uppercase;
color:#7FB719
}

.product .item-L.item-03 .right .order .selectedShadetitle {
width:44%;
float:right;
position:relative;
clear:none
}

.product .item-L.item-03 .right .order .allShades {
float:left;
width:45%;
position:relative
}

.product .item-L.item-03 .right .order .shade-selector {
width:180px
}

.product .shade-selector li {
width:20px;
height:20px;
margin:4px 10px 4px 0
}

.product .shade-selector li a {
width:20px;
height:20px;
}

.product #selected-shade .visual {
width:60px;
height:60px
}

.product .item-L.item-03 .right .warranties {
border-bottom:none;
margin-top:5px;
margin-bottom:0
}

.product .item-L.item-03 #product-block .content .priceOffersSection,.product .item-L.item-03 #product-block .itemQuantitySection {
margin:0 10px
}

.product .item-L.item-03 .right .button-buy span {
background:url(/img/common/sprites.png) -210px -40px no-repeat;
display:inline-block;
height:14px;
position:relative;
width:7px;
margin:0 0 -1px 5px
}

.product .item-L.item-03 #product-block .prices {
margin:0 10px 5px 0
}

.product .item-L.item-03 #product-block .prices .new {
line-height:30px
}

.product .item-L.item-03 #video_container {
height:325px;
width:325px;
margin-left:1px
}

.product #community_link {
position:relative;
float:right;
text-align: right;
width: 50%;
}

.product #community_link a {
text-decoration:underline;
text-transform:none;
cursor:pointer
}

.product .bazaarVoiceSummaryContainer {
float:right;
margin:2px 8px
}

.product .buyButton {
border:1px solid #D3DDAC;
float:left;
position:relative;
background-color:#F3FAD9;
padding:5px
}

.product .buyButton .button span {
margin-bottom:-2px
}

.product .buyButton .button {
font-size:11px;
line-height:18px;
float:right;
margin:2px;
padding:5px
}

#product-block .content a.outofstockbtn{
text-align: center;
font-size: 14px;
width: 45%;
height: 35px;
line-height: 18px;
margin: 5px 0 0;
padding: 5px 0px;
background-color: #A3A3A3;}
#product-block .content a.outofstockbtn span{margin-bottom:-2px;}

.product .buyButton .Outofstockbutton {
float:right;
background-color:#a3a3a3;
color:#FFF;
display:block;
font:normal 11px/18px gill-ss-std-bold,Verdana, Geneva, sans-serif;
position:relative;
text-align:center;
text-transform:uppercase;
margin:2px
}

.product .buyButton .addToBag .outofstock {
width:95px;
margin:0 5px
}

.product .buyButton .moreDetails {
text-align:center;
width:75px;
height:20px;
position:relative;
float:left;
font:normal 12px/30px gill-ss-std,Verdana, Geneva, sans-serif;
margin:0
}

.product .buyButton .moreDetails a,.product .buyButton .moreDetails a:visited {
text-decoration:underline;
color:#666
}

.product .buyButton .addToBag {
width:106px;
height:auto;
float:right;
overflow:hidden;
word-wrap:break-word
}

.product .featured a,.product .featured a:visited {
color:#4D4D4D;
font-size:14px;
text-decoration:none
}

.product .item-S.item-01 .content .sticker {
width:45px!important;
height:45px!important;
position:absolute;
float:left;
margin-left:110px
}

.product .item-S.item-01 .infos {
width:53%
}
.product .item-S.item-01 .infos .name{height:auto;min-height:0;}
.product .item-S.item-01 .visual {
width:34.8%!important
}

.product .gcol.gcol-L.first .about-content .opened > .title a,.product .gcol.gcol-L.first .about-content li > .title {
font:normal 14px/40px gill-ss-std, "Times New Roman", Times, serif;
padding:0 20px
}

.product .item-L.item-03 .right .warranties ul li:last-child .delivery-txt a {
left:0
}

.product #breadcrumb_product ul li,#community_link {
line-height:20px
}

.product .advertising,.item-L.item-03 .rightmost .product-infos .description {
margin:0 0 20px
}

.product .contextual-nav ul,.product .catalog ul,.advert-dummy ul {
list-style:none
}

.product .contextual-nav ul li a,.product .gcol.gcol-L.first .inner-nav ul li:hover a,.product .about-content td a,.product .about-content th a,#breadcrumb_product ul li span,#breadcrumb_product ul li a,.shade-selector .description,#selected-shade .description,.shade-selector .description .name,#selected-shade .description .name {
color:#666
}

.product .contextual-nav ul li a:hover span,.product .about-content td a:hover,.product .about-content th a:hover,.product .gcol.gcol-L.first .about-content li > .title a:hover,.product .gcol.gcol-L.first .button:hover,.item-L.item-03 .rightmost .button-buy:hover,.item-L.item-03 .rightmost .warranties ul li a:hover {
text-decoration:underline
}

.product .catalog .item-S.item-04 .rating,.product .gcol.gcol-L.first .about-content .catalog li {
margin:0 0 10px
}

.product .item-L.item-03 .right .order ul.size-selector li:hover,.product .item-L.item-03 .rightmost .order ul.size-selector li:hover {
background:#ccc
}

.product .item-L.item-03 .right .warranties ul li:first-child img,.product .item-L.item-03 .rightmost .warranties ul li:first-child img {
width:15px!important
}

.product .gcol.gcol-L.first .about-content > li .description a,.product .gcol.gcol-L.first .about-content .back-to-top:hover,#contextual-product li:hover a span,#breadcrumb_product ul li a:hover {
color:#7fb719
}

.product .gcol.gcol-L.first .about-content .opened > .border,.item-L.item-03 .rightmost .order ul.size-selector li input {
display:none
}

.product .about-content li .title:hover em span,.product .about-content .opened .title:hover em span {
background:url(/img/common/sprites.png) -310px -50px no-repeat
}

#contextual-info p .amount-left,.item-L.item-03 .rightmost .free-shipping-amout .amount-left {
font:normal 1em gill-ss-std-bold,"Times New Roman", Times, serif;
color:#343434
}

#breadcrumb_product,.product .item-L.item-03 #product-block .content {
width:100%
}

#breadcrumb_product ul li:last-child a:hover,.product .buyButton .moreDetails a:hover {
color:#7FB719;
cursor:pointer
}

#maincontent .warranties ul li .title,.product .item-L.item-03 .rightmost .warranties ul li a {
line-height:58px
}

.product .gcols3 > .gcol2,.item-L.item-03 .rightmost .order ul.size-selector li:first-child {
margin:0
}

.item-L.item-03 .rightmost .warranties ul li:last-child,.product .warranties ul li {
background:none
}

.item-S.item-01 .wrapper .container {
border-top:1px dotted #bbb
}
.item-S.item-01.top-products, .item-S.item-01.latest-offers{border:1px dotted #bbb;margin-top: 0px;}
.item-S.item-01.top-products{margin-bottom:10px;}

.item-S.item-01 .wrapper.latest-offers .content{margin-top:0;}
.item-L.item-03 .right .product-infos ul li a, .item-L.item-03 .right .product-infos ul li a:visited{color:#7fb61a; text-decoration:underline;}
.item-L.item-03 .right .product-infos ul li a:hover{color:#7FB719;}
.warranties .dummySeperator{
border-top: 1px dotted #BBB;
float: none;
margin: 0 20px;
position: relative;
display: block;
}
.product .shade-selector .active a img{border:1px solid #7fb719;padding: 1px;}
.product .shade-selector a img{border:1px solid #bbb;}
.product .item-L.item-03 .right .warranties{border:none;}
