@charset "UTF-8";
/* Web Fonts Definition for TH site */

@import url("//fast.fonts.com/t/1.css?apiType=css&projectid=601e4f33-d640-4f41-ad2a-259d57f37d13");

@font-face{
font-family:"Trade Gothic W01 Bold";
src:url("../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?iefix") format("eot");}
@font-face{
font-family:"Trade Gothic W01 Bold";
src:url("../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?iefix");
src:url("../fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("../fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("../fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
}

@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix") format("eot");}
@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?iefix");
src:url("../fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("../fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("../fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}

@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix") format("eot");}
@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?iefix");
src:url("../fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("../fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("../fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}

@font-face{
font-family:"Caslon 540 W01 Italic 927408";
src:url("../fonts/5d5a2183-26f3-4921-8848-f2721a74dcb7.eot?iefix") format("eot");}
@font-face{
font-family:"Caslon 540 W01 Italic 927408";
src:url("../fonts/5d5a2183-26f3-4921-8848-f2721a74dcb7.eot?iefix");
src:url("../fonts/23dcb531-92ee-42d7-9dab-2f389bc051a5.woff") format("woff"),url("../fonts/b3b2da78-e049-4948-a5ee-955e59a2d7bb.ttf") format("truetype"),url("../fonts/b45ece69-f5f4-4c2c-b34e-d17f8353d4f0.svg#b45ece69-f5f4-4c2c-b34e-d17f8353d4f0") format("svg");
}

@font-face
{
    font-family: 'BerlingRoman';
    src: url('../fonts/Berling-Rmn.eot');
    src: url('../fonts/Berling-Rmn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Berling-Rmn.woff') format('woff'),
         url('../fonts/Berling-Rmn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
