/* snippet  v2 */

/* brv */
.pr-pagination-top, .pr-review-most-helpful,
.pr-attribute-value-list, .pr-comments-header, .pr-attribute-label-pros,
.pr-other-attributes, .pr-review-bottom-line-wrapper, .pr-review-author-badge-wrapper,
.pr-review-author-location, .pr-review-author-date span, .pr-review-points,
.pr-review-author, .pr-review-most-helpful-bottom, .pr-nav-back-to-top, .pr-snapshot-footer
{
    display:none !important;
}

.pr-pagination-bottom{#margin:0 15px;}


.pr-review-tools p.pr-review-helpful-response{padding:0px !important; margin:0px !important; }
.pr-review-wrap
{
    border:1px Solid #DCDDE0 !important;
    border-left:none !important;
    border-right:none !important;
    border-top:1px Solid Transparent !important;
    #margin:-10px 15px 10px 0px !important;
}
.pr-review-tools p
{
    font-style:normal !important;
    font-size:11px !important;
    font-weight:bold !important;
}
.pr-review-tools p a
{
    font-weight:normal !important;
    color:#135D82 !important;
    text-decoration:none !important;
}
.pr-review-tools p a:hover
{
    text-decoration:underline !important;
}
.pr-review-tools
{
    display:block !important;
}
.pr-review-wrap
.prSnippetTitle {
	padding:0 5px 5px 0;
}
.pr-review-author-name
{
    margin:9px 0px !important;
    font-weight:bold;
}
.pr-review-author-name span
{
    font-weight:bold;
}
*html .prSnippetTitle {
	padding:0 5px 2px 0;
}

.pr-snippet-wrapper {
	background: none;
	border: none;
	padding: 0;
	width: 100%;
	float: left;
	display: block;
	margin:-9px 0px 0px 30px;
	#margin-bottom:-15px;
}

.pr-snippet-stars {
	display:inline;
	float:left;
	line-height:15px;
	border:none;
	float:left;
	margin-right:0;
	padding:4px 0;
	background-color:Transparent;
}

.pr-snippet-stars .pr-snippet-rating-decimal {
	display: none !important;
}

.pr-snippet-review-count {
	display: none;
}

.pr-snippet-read-write {
	border: none;
	padding:0px;
	margin: 5px 0 0 10px;
	display: block;
	float: none;
	text-align: left;
	clear: right;
	background-color:Transparent;
}

.pr-snippet-read-reviews {
	text-align:left;
	border: none;
	font-size: 8pt;
	text-transform: lowercase;
}

.pr-snippet-write-review {
	display: none;
}

.pr-snippet-write-first-review {
	display: none;
}

.pr-snippet-read-write a.pr-snippet-link span {
	font-weight:normal;
}

.pr-snippet-read-write a.pr-snippet-link {
	text-decoration: none;
	color:orange;
	font-size:12px;
	margin-left:-6px;
}


/* Review Snapshot */

.ReviewDisplay {
	margin: 0 5px 0 5px;
}

.pr-review-engine {
	font-size: 12px;
/*	width: 34.5em;	*/
	width: 100%;	
}

.pr-snapshot-head {
	border: none;
	background-image: none;
	padding: 0px;
}

.pr-snapshot-cobrand {
	display: none;
}

.pr-snapshot-head-wrapper {
/*	padding: 0 0.8em;	*/
	padding: 0 .8em .4em .8em;
	display: block;
	margin-bottom: 0em !important;
}

.pr-snapshot-title {
	font-size: 105%;
}

.pr-snapshot-consensus {
	clear: left;
	padding-top: 0.7em;
	#padding-bottom:4px;
	margin-top: 0px !important;
	
}

.pr-snapshot-consensus-value.pr-rounded {
	display: inline !important;
}

.pr-snapshot-consensus-text {
	display: inline !important;
}

.pr-snapshot-consensus .pr-snapshot-consensus-value {
	display: inline !important;
}

.pr-snapshot-body-wrapper {
	border: none;
	padding: 0px;
}

.pr-snapshot-body {
	border: none !important;
	background-color:transparent;
	overflow: auto;
}	

.pr-snapshot-body-wrapper .pr-review-points {
	display: none;
}

.pr-snapshot-body-wrapper .pr-other-attributes {
	display: none;
}

.pr-snapshot-body-wrapper .pr-write-review-link {
	display: none;
}

.pr-snapshot-footer {
	padding-bottom: 1em;
}


/* Review Sort */

.pr-review-sort {
	border: none;
/*	background-color:#E7E2D9;	*/
	background-color:#E8ECF4;
}

.pr-review-sort-wrapper {
	padding: 4px 8px 4px 14px;	
}

p.pr-review-count {
	font-size: 10px;
}

/* General Review Display */

.pr-contents {
	background-color:transparent;
	border: none !important;
	padding:0px !important;
}

.pr-contents-wrapper {
	border: none;
	padding: .5em .2em 1em .2em;
}

.pr-review-count {
	padding-top:2px;
}


/* Review Display */

.pr-review-author {
	font-size: ;
}
.pr-review-author-date.pr-rounded {
	padding: block !important;
}

.pr-review-author-date {
	background: none;
	border: none;
	padding: 0;
	text-transform:none;
	position:relative;
	top:17px;
	float:left;
	left:78px;
	font-family:"Helvetica Nueve", Arial !important;
	font-size:12px;
	color:#000000;
/*	position: relative;
	display: block;	
	top:35px;
	right:410px;
	right:279px; */
}

.pr-review-author-info-wrapper {
	float: left;
}

.pr-review-author-verified-buyer-wrapper.pr-review-author-verified-buyer-en_US a {
	display: none !important;
}

.pr-review-author-verified-buyer-wrapper {
	background:transparent url(http://cache1.allpostersimages.com/images/poster_club/reviews/APC_verifiedbuyer_badge.gif) top right no-repeat;
	height:25px;
}

.pr-review-author-verified-buyer-wrapper {
	margin-bottom:0;
}

.pr-review-text .pr-comments-header em {  /* hides product name */
	display: none !important;  
}

.pr-review-text .pr-comments-header {
	font-size:10px !important;
}

.pr-review-wrap .pr-stars.pr-stars-small {
	margin-right: 0.8em;
}

.pr-review-wrap .pr-rating.pr-rounded {
	display: none;
}

.pr-review-rating-headline {
	font-size:16px !important;
	position: relative;
	top:25px;
	left:-94px;
	color:#677590 !important;
	margin-bottom:32px;
}

.pr-review-points-attr-wrapper .pr-attribute-group {
	width: 100%;
}

.pr-attribute-pros {
	width: 100% !important;
}

.pr-attribute-cons {
	width: 100% !important;
}

.pr-attribute-bestuses {
	display: none !important;
	visibility: hidden;
}

.pr-attribute-value-list li {
	border-left: 1px dotted #C0C0C0;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px !important;
}

.pr-other-attributes-list li.pr-other-attribute-value {
	font-size:10px !important;
}

.pr-attribute-key p {
	float:left;
}

.pr-attribute-bestuses {
	display: none;
}

.pr-other-attributes-list {
	width: 100% !important;
}

.pr-other-attributes-list li.pr-other-attribute-label {
	background-image: none;
	text-transform: none;
	width: auto;
	padding:0 0.3em 0 0;
	font-size: 10px !important;
}

.pr-review-points .pr-empty {
	display: none !important;
}

.pr-other-attributes {
	padding-left: 0px !important;
}

.pr-review-footer {
	clear: left;
}

.pr-review-footer p {
	font-size: 10px;
}

span.pr-review-bottom-line {
	font-size: 11px;
}


/* Modal Window See All Reviews */

.pr-modal-wrapper .pr-review-author-date {
	margin-left: -165px !important;
}

.pr-snapshot-no-ratings .pr-write-review-link {
	display: inline !important;
}


/*  IE specific rules   */
*html .pr-contents {
    padding-right:10px;
}
*html .pr-review-points .pr-clear {
        display: none !important;
}

*html .pr-review-main-wrapper {
        margin-top: -10px !important;
}

*html .pr-other-attributes .pr-clear {
	display: none;
}

*html .pr-review-wrap {
	padding-bottom: 0px !important;

}

*html ﻿.pr-review-author-date.pr-rounded {
	right: 395px; !important;
	top: 35px; !important;
}

/*  New  */

.pr-review-author-badge-wrapper {
	position:relative;
	top:-10px;
	width: 100px;
	float: right;
}

.pr-review-author p span {
	font-weight:bold;
	font-size: 10px;
}

.pr-review-wrap {
	padding-top: 0;
	/*border-bottom:1px Solid #DCDDE0 !important;*/
	margin-bottom:5px;
	margin-top:3px;
}
.pr-review-author p {
	display:inline;
	margin-right: .2em;
	font-size: 10px;
}

.pr-review-rating-wrapper, .pr-review-main-wrapper {
	float:none; 
	clear: both;
	width: 100%;
	/*margin-top:-21px;*/
}

.pr-review-rating{
	clear: both;
}

.pr-review-author {
	float:none; 
	width: 100% !important;
	margin-top: .5em;
}

/* Reviewer Profile Modal Window 2010-05-17 */

.pr-modal-container.pr-review-engine {
	width: 50em;
}

.ReviewDisplay .pr-review-engine {
	#width: 100% !important;
}

*html .pr-modal-wrapper .pr-modal-content {
	width: 46.2em !important;
}

.pr-modal-wrapper .pr-review-author-date {
	margin-left:-50px !important;
}
.pr-review-text, .pr-review-text p
{
    margin: 0px 0px 10px !important;
    line-height:125%;
}