
/* Display Engine Frame */
.pr-review-engine{*width:545px;}

/* Snapshot Header*/
.pr-snapshot-head{display:none;}
.pr-review-engine{width:621px;}

/* Snapshot Body*/
.pr-snapshot-body{background-color:transparent;border:none;padding-left:0px;*padding-bottom:18px;padding-top:0px;padding-bottom:0px;}
.pr-snapshot-body-wrapper{border:none;padding:0px;}

/* Rating Summary */
.pr-snapshot-rating-wrapper{padding-left:10px;padding-top: 15px}
.pr-snapshot-rating .pr-rating{margin-right:5px;}
.pr-snapshot-rating .pr-stars,.pr-review-faceoff .pr-stars,
.pr-modal-container .pr-stars,.pr-modal-container .pr-review-faceoff-review-content 
.pr-stars{background-image:url(/img/App_Sprites/custreviews/DSCM_PR_stars_large_transparent.gif);margin-left:0.0em;}
.pr-stars-small{background-image:url(/img/App_Sprites/custreviews/stars_small.gif);}
.pr-snippet-stars .pr-stars-small,.pr-modal-container .pr-stars{background-image:url(/img/App_Sprites/custreviews/DSCM_PR_stars_small_transparent.gif);}
.pr-snapshot-rating {background-color: transparent;height:34px; width:512px; text-align:center; padding-top:5px;padding-left:119px;background-image:url(/img/custreviews/average_rating_621.gif); background-repeat:no-repeat;}
.pr-rating{background-color:transparent; color:#333333; font-family:Arial; font-weight:bold; font-size:14px;padding-left:0px; padding-right:0px;}
.pr-snapshot-average-based-on-text{color:#333333;font-family:Arial; font-weight:normal; font-size:11px;}
.pr-ratings-histogram-wrapper{text-align:left}
.pr-snapshot-attribute-value-list{height:8em;}

/* Consensus */
.pr-snapshot-consensus {margin-top:10px;padding-left:10px;}
.pr-snapshot-consensus-value {background-image:none;background-color:transparent;color:#333333; font-family:Arial;font-size:12px;font-weight:bold;border:none;padding:0}
.pr-snapshot-consensus-text {color:#333333; font-family:Arial;font-size:12px;font-weight:normal;}

/* Tag Summary - Attributes - PROS, CONS, BEST USES */
.pr-attribute-key p {background-color: transparent;padding:0px;}
.pr-review-points{padding-left:0px;}
.pr-review-points-attr-wrapper{padding-left:20px;}
/*.pr-review-points-attr-wrapper .pr-attribute-group {margin-right:0%;width:32.5%;border-right:none;border-left:1px;border-top:none;border-bottom:none;}*/
.pr-review-points-attr-wrapper .pr-attribute-pros{margin-right:0%;width:30%;border-left:none;border-left:none;border-top:none;border-bottom:none;}
.pr-review-points-attr-wrapper .pr-attribute-cons{border-left:none;border-top:none;border-bottom:none; padding-left:10px;margin-right:0px;}
.pr-review-points-attr-wrapper .pr-attribute-bestuses{border-right:none;border-left:none;border-top:none;border-bottom:none;padding-left:10px;}


.pr-attribute-label-pros {font-family:Arial;font-size:12px;font-weight:bold;color:#007bbf;}
.pr-attribute-label-cons {font-family:Arial;font-size:12px;font-weight:bold;color:#FF0000;}
.pr-attribute-label-bestuses {font-family:Arial;font-size:12px;font-weight:bold;color:#90BF1F;}
.pr-attribute-value {padding-left:0px;padding-bottom:0px; font-size:11px;padding-right:0px;padding-top:15px;}
.pr-attribute-value-list .pr-snapshot-attribute-value-list{font-size:11px;}
.pr-attribute-value-list li{font-family:Arial;font-weight:normal;color:#333333;font-size:12px;line-height:17px;}
/* Attribute Summary */
.pr-other-attributes-list{height:auto; padding:0 0 0 0;}
.pr-snapshot-body-wrapper .pr-other-attributes{padding:0px .2em 0px 20px;}
.pr-other-attributes-list li.pr-other-attribute-label {background-image: none;padding: 0 0 0 0;text-transform:none;margin-right:0;
                                                       width:30%;color:#333333; font-family:Arial;font-size:12px;line-height:15px;font-weight:bold;
                                                       padding:20px 0px 0px;}
.pr-other-attributes-list li.pr-other-attribute-value {color:#333333; font-family:Arial;font-size:12px; line-height:15px;font-weight:normal;padding-left:20px;padding-top:20px;}
.pr-other-attributes-list li.pr-other-attribute-clear {display:block;}  
.pr-other-attributes-list li {margin:0 0;}
                                                   

/* Write Review */
.pr-snapshot-footer {padding: 0 0 0 0;margin-left:1.2em}
.pr-snapshot-write-review {
background-image: url(/img/custreviews/write_review_btn_dscm.gif);
height: 17px;
width: 10em;
visibility:visible;
display:block;
padding:20px 0 0 0;
}
.pr-snapshot-write-review span {
display: none;
}

/* Review Header */
.pr-review-content-header {margin-left:10px;margin-right:-10px;margin-bottom:10px;border:none;}

/* Sort Options */
.pr-review-sort {background-color:transparent;border:none;margin-right:10px;margin-left:10px;width:621px; height:40px;}
.pr-review-sort-wrapper {width:611px;height:40px; padding-left:10px; padding-right:0px;padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;background-color:#F0F0F0;color:#333333; font-family:Arial;display:table-cell;
                         font-size:11px;font-weight:bold;text-transform:lowercase; vertical-align:middle;}
.pr-review-sort-box {margin-right:10px; vertical-align:middle;*+padding-top:10px;}
.pr-review-sort-box p{display:inline;margin:0 .3em 0 0;padding:0;vertical-align: middle;line-height:1.4em;font-family:Arial; font-size:12px;font-weight:normal;text-transform:lowercase;}
.pr-review-sort-by {padding-right:10px;vertical-align: middle;}
.pr-review-sort-box select {font-family: Arial;font-size: 11px;text-transform: lowercase; margin-left:6px; vertical-align:middle;}


/* Pagination Navigation */                         
.pr-contents {background-color:transparent;border:none;padding-left:0px;padding-right:0px;margin-right:15px;}
.pr-contents-wrapper {border-color:White;padding-top:0px;padding-right:0px;padding-left:10px;padding-bottom: 2px}
.pr-pagination-top {padding-top:10px; padding-bottom:20px;width:621px;margin-bottom:0px;}
.pr-page-count {color:#333333; font-family:Arial; font-size:11px;font-weight:normal;text-transform:lowercase;}
.pr-page-count strong{font-weight: normal;}
.pr-nav-back-to-top {color:#333333; font-family:Arial; font-size:11px;font-weight:normal;text-transform:lowercase;}
.pr-nav-back-to-top a{padding-left:0px;color:#666666;font-family:Arial;font-size:12px;font-weight:normal;margin-left:10px;}
.pr-page-nav {text-transform:lowercase;font-family:Arial; font-size:11px;font-weight:normal;}
.pr-page-prev {color:#666666;font-family:Arial;font-size:11px;font-weight:normal;text-align:right;}
.pr-page-next {color:#666666;font-family:Arial;font-size:11px;font-weight:normal;text-align:right;}

/* Review Display */
.pr-review-wrap {padding-top:20px; width:621px;padding-bottom:20px;margin:0px; float:left;}
.pr-profile-wrapper {padding-right:0;}

/* Reviewer Profile */
.pr-review-author-info-wrapper {text-transform:lowercase;font-family:Arial; font-size:12px;width:180px;color:#333333;line-height:15px;}
.pr-review-author {width:180px; margin-top:0px;}
.pr-review-author-affinity-wrapper {margin-top:20px; margin-bottom:0px;}
.pr-review-author-badge-wrapper {margin-top:20px;}
.pr-modal-wrapper .pr-review-author-affinities {font-weight:normal;font-size:11px;}
.pr-modal-wrapper .pr-review-author-affinities span {font-weight:bold;display: block;font-size:11px;margin-top:6px;}
.pr-profile-reviews-container .pr-profile-reviews-header {margin-top:5px;margin-bottom:15px;text-transform:lowercase;font-size:14px;}


/* Review Header */
.pr-review-rating-wrapper {width:440px; margin-left:0px;}
.pr-review-most-helpful {font-family:Arial;font-weight:normal;color:#333333; margin-left:0px;font-size:11px;margin-bottom:13px;}
.pr-review-most-helpful p span{font-size:10px;}
.pr-review-most-helpful p {font-size:10px;}
.pr-review-author-date {background-image:none; padding-right:0px;border:none;font-family:Arial;font-weight:normal;color:#333333;font-size:11px;text-align:right;}
.pr-rating .pr-rating pr-rounded {background-color:#8D8D8D;}
.pr-review-rating span {background-color:#8D8D8D; width:23px; height:14px;font-family:Arial;font-weight:bold;color:#FFFFFF;font-size:11px;text-align:center;}
.pr-review-rating-headline {font-family:Arial;font-weight:bold;color:#333333;font-size:14px;}
.pr-review-rating{margin-left:0px;margin-bottom:20px;}
.pr-contents-wrapper .pr-review-rating span {background-color:#8D8D8E; width:24px;height:15px;font-family:Arial;font-weight:bold;color:#FFFFFF;font-size:12px;text-align:center;}

/* Review Tags */
.pr-review-main-wrapper {width:440px;}
/*.pr-review-wrap .pr-review-main-wrapper .pr-review-points-attr-wrapper .pr-attribute-group {width:30%; padding-left:10px; padding-bottom:10px;}*/
.pr-review-wrap .pr-review-main-wrapper .pr-review-points-attr-wrapper .pr-attribute-pros {padding-left:0px;width:30%;padding-bottom:0px;}
.pr-review-wrap .pr-review-main-wrapper .pr-review-points-attr-wrapper .pr-attribute-cons {width:30%;padding-bottom:0px;}
.pr-review-wrap .pr-review-main-wrapper .pr-review-points-attr-wrapper .pr-attribute-bestuses {width:30%; padding-bottom:5px;}
.pr-review-wrap .pr-review-main-wrapper .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-value {margin-top:1px;font-family:Arial;font-weight:normal;color:#333333;font-size:12px;padding-top:10px;}

/* Review Comments*/
.pr-review-text {margin-top:20px;margin-bottom:0px;}
.pr-review-text p {font-family:Arial;color:#333333;font-size:12px;margin-top:10px;}
.pr-review-text .pr-comments-header{font-size:11px; margin-left:0px;font-weight:bold;font-style:italic:}
.pr-review-text .pr-comments {margin-left:0px;line-height:15px;margin-top:10px;}

/* Review Footer*/
.pr-review-footer {font-family:Arial;color:#333333;font-size:12px;margin-top:10px;}
.pr-review-bottom-line-wrapper .pr-review-bottom-line{font-family:Arial;color:#333333;font-size:11px;font-weight:bold; text-transform: none; margin-left:0px;}
.pr-review-tools {font-size:10px; font-family:Arial;color:#333333; margin-left:0px; margin-bottom:0px;}
.pr-review-tools .pr-review-helpful-text {padding-left:1px;font-style:normal;margin-top:0px;margin-bottom:0px;}
.pr-review-tools .pr-review-report-issue {font-style:normal;margin:0px;}
.pr-review-bottom-line-wrapper p{ margin-top:15px;margin-bottom:15px;}
.pr-review-helpful-text-link{font-size:11px;}
.pr-pagination-bottom {font-size:12px; font-family:Arial;color:#333333;margin-top:20px;width:621px;}
.pr-review-tools p.pr-review-helpful-response {padding-top:0px;margin:0px;}
 

/* Face-Off */
.pr-review-faceoff{background-color:transparent;border-color:transparent;border-style:solid;border-width:0 1px;font-size:100%;padding:20px 10px 0px 10px;width:621px;}
.pr-review-faceoff-review-wrapper {border-top-color:#CCCCCC;border-bottom-color:transparent;border-right-color:transparent;border-left-color:transparent;height:100%;padding:20px 0px 0px 10px;}
.pr-review-faceoff-review-content .pr-stars {margin-left:0px;}
.pr-review-faceoff-label {font-size:14px; font-family:Arial;color:#333333;font-weight:bold;padding-bottom:5px;text-transform:lowercase;}
.pr-review-faceoff-title {font-size:14px; font-family:Arial;color:#333333;font-weight:bold;padding-top:10px;padding-bottom:20px;}
.pr-review-faceoff-review {font-size:12px; font-family:Arial;color:#333333;font-weight:normal;line-height:15px;}
.pr-modal-container .pr-review-faceoff-review-content {padding:17px 10px 10px 10px;}

/* Facebook Comment*/
.pr-fb-reviewComment span {text-transform:lowercase;font-size:11px; font-family:Arial;color:#333333;font-weight:normal;}


/* Real All Reviews*/
.pr-modal-container{border:1px solid #B3B3B3;}
.pr-modal-toolbar {background-color:#D9D9D9;height:21px;border-bottom:1px solid #B3B3B3;}
.pr-review-faceoff-container .pr-review-faceoff-label {font-size:14px; font-family:Arial;color:#333333;font-weight:bold;margin:0px; padding-bottom:10px;}
.pr-review-faceoff-title {font-size:13px; font-family:Arial;color:#333333;font-weight:bold;padding:10px 0px;}
.pr-review-faceoff-review-content .pr-review-faceoff-review-full{margin-top:15px;font-size:12.5px; line-height:16.5px;font-family:Arial;color:#333333;font-weight:normal;}
.pr-review-faceoff-container .pr-review-faceoff-review-content .pr-stars {margin-left:0px;margin-right:10px;}
.pr-profile-author-information .pr-profile-nickname {margin-top:5px;font-family:Arial;font-size:14px;text-transform:lowercase;}
.pr-profile-author-information .pr-profile-location {margin-top:6px;font-size:12px;}
.pr-profile-histogram-container .pr-profile-histogram-header {margin-top:15px;margin-bottom:7px;font-size:12px;text-transform:lowercase;}
.pr-profile-reviews-wrapper .pr-review-rating .pr-rating {margin-right:7px;width:23px;height:14px;}
.pr-profile-reviews-wrapper .pr-rating pr-rounded {font-weight:bold;}
.pr-profile-reviews-wrapper .pr-review-rating-headline{margin-left:7px;}
.pr-profile-reviews-wrapper .pr-review-rating {margin-bottom:20px;}
.pr-profile-reviews-wrapper .pr-attribute-key p {margin-top:16px;}
.pr-profile-reviews-wrapper .pr-attribute-label-pros {font-size:11px;}
.pr-profile-reviews-wrapper .pr-attribute-label-cons {font-size:11px;}
.pr-profile-reviews-wrapper .pr-attribute-label-bestuses {font-size:11px;}
.pr-profile-reviews-wrapper .pr-attribute-value {margin-top:10px;}
.pr-profile-reviews-wrapper .pr-attribute-value-list li {font-size:11px;line-height:16px;}
.pr-profile-reviews-wrapper .pr-attribute-pros {padding-bottom:10px;}
.pr-profile-reviews-wrapper .pr-attribute-cons {padding-bottom:10px;}
.pr-profile-reviews-wrapper .pr-attribute-bestuses {padding-bottom:10px;}
.pr-profile-reviews-wrapper .pr-review-text .pr-comments {line-height:14px;font-size:11px;}
.pr-profile-reviews-wrapper .pr-profile-review-product-info a {padding-top:10px;font-size:11px;line-height:14px;}
.pr-profile-reviews-wrapper .pr-review-bottom-line-wrapper p {margin-top:20px;margin-bottom:0px;font-size:11px;}

/* Flag This Review */
.pr-report-issue-header {font-weight:bold;padding-left:5px;}
.pr-report-issue-header span{font-weight:bold;color:#E50000;}
.pr-submit-button { background:transparent url(/img/sites/0/custreviews/submit_btn_dscm.gif);width:68px;height:20px;border:none;margin-right:10px;margin-top:5px;margin-bottom:10px;}
.pr-submit-button span{display:none;}
.pr-cancel-button {background:transparent url(/img/sites/0/custreviews/cancel_btn_dscm.gif);width:64px;height:20px;border:none;margin-top:5px;margin-bottom:10px;}
.pr-cancel-button span{display:none;}
.pr-review-faceoff-readcomplete {font-family:Arial; font-size:11px;font-weight:bold;text-transform:lowercase;color:#007bbf;margin:0px; padding:20px 0px;}
.pr-review-count{font-family:Arial; font-size:11px;font-weight:bold;color:#333333;*+padding-top:10px;}
.pr-review-faceoff-review a {color :#007bbf;}
.pr-error{padding-bottom:0px;margin-top:15px;padding-left:10px;border: #CCCCCC 1px solid; width:353px;margin-bottom:20px;}
.pr-error-email{margin-bottom:5px;margin-top:3px;font-weight:bold;}
.pr-error input{margin:0px 5px 9px 0px; padding:0px; vertical-align: -2px}
.pr-error input[type="text"] { margin:3px 0px 5px 0px;font-weight:bold; }
.pr-error label {font-size:11px; font-family:Arial;font-weight:normal;line-height:21px;color: #333333;}


/* added versus image */
.pr-review-faceoff-img-txt {visibility:hidden;}
.pr-review-faceoff-review-positive{padding:0px 26px 0px 0px; }
.pr-review-faceoff-review-negative{padding:0px 0px 0px 26px;float:right;width:41.6%;}
.pr-review-faceoff-img {background-image: url(/img/custreviews/versus_box.gif);width:40px;height:210px;border:0px;left:48.8%; }

/* Histogram */
#pr-snapshot-histogram-container {width:259px; height:150px;}
#pr-snapshot-histogram-header {padding-top:16px; padding-left:60px;padding-bottom:0px;font-size:12px;text-transform:lowercase;text-align:left;}
ul.pr-ratings-histogram-content {padding:0 17px 10px;}
.pr-ratings-histogram-wrapper .pr-histogram-label {font-family:Arial; font-size:11px; line-height:20px;font-weight:normal;width:auto;padding-right:10px;text-transform:lowercase;}
.pr-ratings-histogram-wrapper .pr-histogram-count span{font-family:Arial; font-size:11px; line-height:22px;font-weight:normal;color:#999999;}

.pr-profile-reviews-wrapper .pr-review-rating span {font-weight:bold;}
.pr-review-author p {padding:0px;}
.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-key p {margin-top:0px;}
.pr-page-next a{color: #666666;}
.pr-snapshot-rating .pr-stars{margin:0px 7px 0px 7px;}
.pr-profile-author-container {width:219px;padding:0px;}
.pr-profile-reviews-wrapper .pr-review-wrap {width:522px;padding-top:0px;}
.pr-profile-reviews-container {width:551px;}
.pr-modal-wrapper .pr-contents-wrapper {padding:0px;}
.pr-modal-container .pr-stars{margin-right:7px;}

/*Social discovery */
.pr-modal-container .pr-stars{margin-right:7px;}

.pr-review-social-bar {background-color:#c7eafb;margin-left:10px;width:621px !important;height:54px !important;margin-top:12px; }
.pr-snapshot-fb-get-advice-container{margin-right:0px;background:none;padding-right:10px;margin-bottom:5px;margin-top:10px;}

.pr-review-count{font-size:14px;}

.pr-snapshot-fb-get-advice-label, .pr-snapshot-fb-follow-product-category-label {font-family:Arial;font-weight:bold;font-size:12px;color:#333333;line-height:12px;}
.pr-snapshot-fb-get-advice-link, .pr-snapshot-fb-follow-product-category-link {font-family:Arial;font-weight:normal !important;font-size:11px;color:#333333;line-height:15px;}
.pr-snapshot-fb-get-advice-container{background:none;margin-top:14px;margin-bottom:12px;padding-right:18px;background-image:url(/img/custreviews/large_facebook_icon.gif);background-repeat:no-repeat;margin-left:14px;
                                     border-right:1px solid #999999;border-left:0px;border-top:0px;border-bottom:0px;border-radius:0px;padding:0px 18px 0px 0px;width:210px;background-color:#c7eafb !important;height:28px;}
.pr-snapshot-fb-follow-product-category-container{background:none !important;border-radius:0px;border:0px;padding:0px;margin:0px;background-color:#c7eafb !important;}
.pr-snapshot-fb-follow-product-category-container .pr-fb-social-button{background:none;}
.pr-fb-social-button{filter:none;}
.pr-snapshot-social-roll .pr-social-fb{background:none;}
.pr-snapshot-social-roll .pr-social-email{background:none;}
.pr-snapshot-fb-get-advice-container .pr-snapshot-fb-follow-content{margin-left:40px;}
.pr-snapshot-fb-follow-product-category-button-wrapper{margin:14px 0px 14px 18px;}
#prFbWrapper #prFbWindowHead{padding:0px !important;}

.pr-review-content-header{background-color:transparent;padding:0px;margin:0px;}
.pr-review-content-header-label{display:none;}
.pr-review-content-header .pr-product-follow-link-container{margin-left:262px;top:43px;}
.pr-review-count{font-family:Arial;font-weight:bold;color:#333333;font-size:18px;padding:21px 19px 19px 16px}
.pr-review-sort-wrapper{display:block;height:66px;padding:0px;}
.pr-review-sort{height:66px;}
a.pr-product-follow-link {font-family:Arial;font-size:11px;color:#333333;font-weight:normal;}
.pr-review-sort-box{padding-top:25px;}
.pr-review-author-follow-link{font-family:Arial;font-size:12px;color:#333333;font-weight:normal;padding-top:7px;}

.pr-pagination-bottom p.pr-product-follow-link-container{margin-left:3px;}

.pr-pagination-bottom .pr-fb-follow-wrapper{overflow:visible}

.pr-fb-follow-cta-email{display:none;}
.pr-fb-follow-footer .pr-fb-follow-body-left{width:100%;}
.pr-fb-follow-cta-like-wrapper .pr-fb-likebtn-wrapper{float:right;padding:26px 0px 39px;background-color:#c7eafb;}
.pr-review-author-info-wrapper .pr-base-modal .pr-fb-follow-cta-like-wrapper .pr-fb-likebtn-wrapper{padding-top:22px;}
.pr-fb-follow-cta-like{background-color:#c7eafb;height:85px;}
.pr-review-author-info-wrapper .pr-base-modal .pr-fb-follow-cta-like{height:81px;}

.pr-fb-follow-modal-header{padding:22px 0px 11px 20px;font-family:Arial;font-weight:bold;font-size:18px !important;color:#333333;}
.pr-fb-follow-info-wrapper{background-color:transparent;border:0px;border-radius:0px;margin:0px;padding:0px;height:75px;padding-left:14px;}
.pr-fb-follow-body-right{position:absolute;background-color:transparent;margin-top:108px;width:325px;margin-left:47px;}
.pr-review-author-info-wrapper .pr-base-modal .pr-fb-follow-body-right{margin-top:98px;}
.pr-fb-follow-info-wrapper{*+position:absolute;*+margin:40px 0px 0px 0px;}
.pr-fb-follow-body-right{*+position:relative;*+margin:0px 153px 0px 0px;}
.pr-fb-follow-category .pr-fb-follow-body-right{*+position:relative;*+margin:0px 153px 0px 0px;}

.pr-fb-follow-cta-like-wrapper{background-image:url(/img/custreviews/large_facebook_icon.gif);background-repeat:no-repeat;padding:0px;background-color:#c7eafb;}
.pr-fb-link-med{display:none;}
.pr-fb-follow-body{margin:0px;height:145px;}
.pr-fb-follow-footer{height:88px;background-color:#c7eafb;padding:21px 0px 0px 19px;}
.pr-product-follow-link-container .pr-base-modal .pr-fb-follow-footer {height:105px;}
.pr-review-author-info-wrapper .pr-base-modal .pr-fb-follow-footer{height:85px;}

.pr-fb-follow-product-category li{padding:0 0 17px;}
.pr-fb-follow-product-category li{*+padding:0px;}
.pr-fb-follow-product-category li p{font-family:Arial;font-size:12px;color:#333333;font-weight:normal;}
.pr-fb-follow-body .pr-fb-follow-modal-header{padding:22px 0px 11px 19px !important;}
.pr-fb-follow-content-wrapper{padding-left:19px !important;}
.pr-fb-follow-product-category li input{margin-right:5px !important;}

.pr-fb-follow-content-wrapper .pr-fb-follow-info img{width:50px !important;height:50px !important;border:0px !important;}

.pr-fb-follow-content-wrapper .pr-fb-follow-info p{margin-left:65px;top:62px;position:absolute;font-family:Arial;font-size:12px;color:#333333;line-height:16px;}
.pr-fb-follow-location{top:0px;white-space:nowrap;float:right;padding-left:4px;*+position:absolute;}
.pr-fb-follow-content-wrapper .pr-fb-follow-info p{*+margin-left:65px;}

.pr-pagination-bottom .pr-page-count-wrapper{width:auto;padding-top:28px;}
.pr-pagination-bottom .pr-fb-follow-wrapper{width:auto;padding-top:28px;font-family:Arial;font-size:11px;color:#333333;font-weight:normal;}

.pr-review-author-follow-link-container .pr-fb-follow-info img{display:none;}
.pr-review-author-follow-link-container .pr-fb-follow-location{display:inline;}
.pr-review-author-follow-link-container .pr-fb-follow-info{font-family:Arial;font-size:11px;color:#333333;}
.pr-review-author-follow-link-container .pr-fb-follow-content-wrapper{padding-top:4px;}
.pr-review-author p span{font-family:Arial;font-size:11px;color:#333333;}
.pr-review-author-follow-link-container .pr-reset{font-family:Arial;font-size:12px;color:#333333;line-height:16px;font-weight:bold;}
.pr-product-follow-link-container .pr-reset{font-family:Arial;font-size:12px;color:#333333;line-height:16px;}
.pr-reset{font-family:Arial;font-size:12px;color:#333333;line-height:16px !important;}
.pr-fb-follow-info-wrapper .pr-reset{padding-bottom:42px;}

@media screen and (-webkit-min-device-pixel-ratio:0){
    .pr-fb-follow-location{position:relative !important;top:-16px !important;}
}