@charset "UTF-8";
/* CSS Document */

p, h2 {margin:0;}
.hidden {
    display: none;
    visibility: hidden;
}

h2 {font-family: "HPSimplified-light"; font-size: 1.5em; font-weight:100;line-height: 1.3em;}
p {font-size:1em; font-weight:normal;line-height:1.3em;}
#content .module_country {font-family: "HPSimplified-light"; font-size:1.25em; font-weight: 100;}
p.closed_win{font-family: "HPSimplified-light"; font-size: 1.2em; font-weight:100;}

a:link {color:#0096d6; text-decoration:none;}
a:visited {color:#0096d6;}
a:hover {color:#006699;}
a:active {color:#006699;}

a.bluebtn:link, 
a.bluebtn:visited, 
a.bluebtn:hover, 
a.bluebtn:active {color:#fff;}


header {height:72px; background:#0096d6; padding:0 30px;}
header a.hf_logo {display:block; height:50px; width:50px; float:left; padding: 11px 0 0 6px;}
#content .module_title {display:inline-block; margin:0; color:#fff;}
#content .module_country {color: #fff;display: block; line-height:1em;}
.module_id {float: right; text-align: right; padding-top:5px;}

section#chat {padding:30px; max-width:382px;}
section#chat h2 {margin-bottom:8px;}
p.support, p.statement {color:#767676}
p.instructions{padding:20px 0 30px 0;}
p.statement{margin-top:20px;}
p.closed_win{color:#000; margin-bottom:20px;font-size: 1.125em;}

/*Forms*/
#content textarea {
    height: 73px;
	resize: none;
}
.bluebtn {
    background: none repeat scroll 0 0 #0096d6;
}
.bluebtn:hover {
    background: none repeat scroll 0 0 #006699;
}
.disabled .bluebtn {
    background: none repeat scroll 0 0 #ccc;
}
.viewBtn, .viewBtn1, .btn {
    border: 0 solid #ffffff;
    border-radius: 0 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 2.5em;
    padding: 0 1em;
    text-align: center;
}
._field_spacer._last_row {
    margin-bottom: 22px;
}
/*Validation*/
.parsley-errors-list {margin:0;}
/*Matrix*/
section#live_help {
	font-family: "HPSimplified-light";font-weight:100;	
}
section#live_help h2 {
    margin-bottom: 8px;
}

.title_row div {
    background: none repeat scroll 0 0 #0096d6;
    color: #fff;
	font-size: 1.125em;
	border-top: 1px solid #828282;
}
.chat_row .first_cl, .email_row .first_cl, .call_row .first_cl {
    background-color: #eee;
	font-size: 1.25em;
}
#matrix div > div.vertical_align span {
    font-size: 0.875em;
	line-height:1.5em;
}
#matrix div > div.vertical_align a {
    font-size: 1em;
}
.first_cl {
    width: 85px;
}
.second_cl {
    width: 258px;
}
.third_cl {
    width: 217px;
}
.fourth_cl {
    width: 178px;
}
.first_cl, .second_cl, .third_cl, .fourth_cl {
    display: inline-block;
    text-align: center;
	 margin-right: -4px;
}
#matrix div > div.vertical_align span {
    display: block;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vertical_align{
    display: inline-block;
    vertical-align: middle;
	}
#matrix div > div.first_cl span {
	display: inline-block;
    vertical-align: middle;
}

.first_cl {
    width: 85px;
}
.title_row ._height{height:55px;}
.chat_row ._height {height:81px;}
.email_row ._height {height:94px;}
.call_row ._height {height:277px;}
.chat_row ._height.first_cl {height: 89px;}

._inliner .slide_this_tab {
    float: left;
    letter-spacing: normal;
    vertical-align: top;
    white-space: normal;
    word-spacing: normal;
}
.chat_row ._height.first_cl {
    height: 89px;
}
.chat_row ._height, .email_row ._height {
    border-bottom: 1px solid #cfcfcf;
}
._table_body .second_cl._height {
    border-left: 1px solid #cfcfcf;
}
._table_body .third_cl._height {
    border-left: 1px solid #cfcfcf;
}
._table_body .fourth_cl._height {
    border-left: 1px solid #cfcfcf;
}
.title_row .second_cl._height {
    border-left: 1px solid #46aadb;
}
.title_row .third_cl._height {
    border-left: 1px solid #46aadb;
}
.title_row .fourth_cl._height {
    border-left: 1px solid #46aadb;
}
.chat_row ._height.first_cl {
    height: 79px;
    padding-bottom: 2px;
}
.email_row ._height.first_cl {
    height: 92px;
    padding-bottom: 2px;
}
.call_row .first_cl {
    height: 275px;
    padding-bottom: 2px;
}
section#live_help {
    font-family: "HPSimplified-light";
    font-weight: 100;
}
body {
    font-family: "HPSimplified",arial;
}
html {
    color: #000;
    font-family: sans-serif;
}
.first_cl {
    border-left: 1px solid #828282;
}
.third_cl {
    border-right: 1px solid #828282;
}
.fourth_cl {
    border-right: 1px solid #828282;
}
.last_row .first_cl,  .last_row .second_cl, .last_row .third_cl, .last_row .fourth_cl{
    border-bottom: 1px solid #828282;
}
#matrix p.spanish {
    margin-bottom: 12px;
    margin-top: 12px;
}
#live_help > section#matrix {
    margin-bottom: 20px;
}
/*Request a call*/
section#call {
    max-width: 450px;
    padding: 30px;
}

fieldset {
    border: medium none;
    padding: 0;
	margin:0;
}
.call_me_name > div {
	float: left;
    width: 215px;
	
}
.call_me_name .field_name {
	padding-right:20px;
	}
	
fieldset.call_me_phone div{
	float:left;
	}
fieldset .field_phone {
	width:235px;
	}		
.field_phone input._3digits[type="text"] {
    float: left;
    width: 44px;
}
input._4digits[type="text"] {
    float: left;
    width: 57px;
}
.field_phone > span {
    display: block;
    float: left;
    padding: 10px;
}
.field_ext {
    width: 66px;
}

.label_ext {
    float: left;
    padding-top: 24px;
}
.field_phone #phone_2 {
    float: left;
    width: 55px;
}
.form_note {
    color: #767676;
    font-size: 0.875em;
    margin: 0 0 5px 2px;
}

section#call > img.operator {
    float: left;
	padding-right:20px;
}
section#call > h2 {
    display: inline-block;
}
fieldset.call_me_name {
    padding-top: 30px;
}
section#call .bs-callout-warning {
    padding-top: 15px;
}
.before_sumbit {padding-top:10px;}
.foot_note {
    color: #767676;
    font-size: 0.875em;
    margin: 0;
	padding-top:20px;
	line-height:1.5em;
}


.clear:before, .clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear:before, .clear:after {
    content: "";
    display: table;
}

p.closed_win._hours {
    font-family: "HPSimplified",arial;
    font-weight: normal;
}

section#call form .form_note, section#call .foot_note  {
    font-size: 0.75em;
}
a.lp_link { color:#0096d6; }
a.lp_link:hover {color: #006699;}