
.form-error-messages {
	display : none;
}

.captcha-input {
	width: 38% !important;
}

ul.sort li.sort-paging li.sort-paging-prev a.disabled { background-position: -60px bottom; }
ul.sort li.sort-paging li.sort-paging-next a.disabled { background-position: -80px bottom; }

.without-left-menu {
	float: left !important;
	width: 960px !important;
}

.clearance-info {
	width: 330px !important;
}

.static-page-content {
	text-align: justify;
	overflow: hidden;
}

.centring-first {
	position: relative;
	left: 50%;
	float: left;
}

.centring-second {
	position: relative;
	right: 50%;
	z-index: 1;
}

ul.item-list .item-rating,ul.item-wishlist .item-rating {
	position: relative;
	left: -34px;
}

#ui-datepicker-div {
	z-index: 2000 !important
}

ul.item-grid-large .item-actions a.button {
	position: absolute;
	right: 4px;
	top: 5px;
}

ul.item-wishlist ul.item-sku li {
	float: left;
	width: 110px;
}

ul.item-wishlist ul {
	margin: 0;
}

ul.item-wishlist a.button, ul.item-wishlist input.button {
	bottom: 9px;
	position: absolute;
	right: 9px;
}

ul.item-wishlist .item-right {
	text-align: right;
}

ul.item-wishlist .item-right .item-price {
	right: 10px;
	top: 10px;
}

.backgr-grey {
	color: #C0C0C0 !important;
	background:#E9E9E9 !important;
}

span.item-price-total {
	text-align:right;
}

/* Modals*/
/* GLOBAL */

div.modal-container *{
	zoom: 1.0;
	-webkit-font-smoothing: antialiased !important;
}

div.modal-container #body {
	padding: 10px 20px;
}

div.modal-container {
	text-align: left;
}

/* warranty box */

div.modal-container ul.warranty {
	padding: 14px 14px 0 34px;
	border: 1px solid #ccc;
	margin: 0 0 10px;
	font-size: 14px;
}

div.modal-container ul.warranty li {
	list-style: none;
	margin: 0;
	padding: 0 0 14px;
}

div.modal-container ul.warranty li .warranty-title {
	display: block;
}

div.modal-container ul.warranty li label {
	position: relative;
	display: block;
}

ul.item li.item-item ul.item-notes {
	margin: 0;
	font-weight: bold;
	font-size: 11px;
}

ul.item li.item-item ul.item-notes li { 
	list-style: none;
	margin: 0;
}

optgroup {
	color: #999;
}

option {
	color: #333333;
}

