body { background: #fff; }
#header { height: 80px !important; }

ul.header-account,
.header-search,
ul.header-nav,
#breadcrumb,
#footer,
#bottom {
	display: none;
}

/* #sidebar {
	display: none;
} */

#content {
	float: none;
	margin: 0 auto;
}

#sidebar {
	float: none;
	margin: 0 auto;
}