#BVRRQuickTakeSummaryID{padding:0;}
#BVRRDisplayContentSelectBVFrameID{margin-left:0;padding:0;width:auto;}
.BVReviewDiv{display:none;}.BVRRValue.BVRRUserNickname{word-wrap:break-word;}.BVRRRatingSummaryLinkWriteFirst a, .BVRRRatingSummaryLinkWriteFirst a:visited{font-style:normal !important;}.BVErrorsHeader {max-width: 400px;}