ul.whiteFlyout li a.tertiaryCategory, a.tertiaryCategory {
  display:none !important;
}

ul.whiteFlyout li.navMenuDiv ul li {
  height:auto!important;
}

li.navFont > a[href='/Pets-|-Animals/cat00171/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  top:150px!important;
}

li.navFont > a[href='/Pets-|-Animals/cat00171/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:0px!important;
}

li.navFont > a[href='/Pets-|-Animals/cat00171/'] + ul.whiteFlyout {
  width:300px!important;
  height:270px!important;
}

li.navFont > a[href='/Art-|-Artists/cat00002/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  top:130px!important;
}

li.navFont > a[href='/Art-|-Artists/cat00002/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:0px!important;
}

li.navFont > a[href='/Art-|-Artists/cat00002/'] + ul.whiteFlyout {
  width:300px!important;
  height:375px!important;
}

li.navFont > a[href='/Travel-|-Scenic-/cat00697/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  width:150px!important;
  position:absolute!important;
  left:150px!important;
  top:5px!important;
}

li.navFont > a[href='/Travel-|-Scenic-/cat00697/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:30px!important;
}

li.navFont > a[href='/Travel-|-Scenic-/cat00697/'] + ul.whiteFlyout {
  width:300px!important;
  height:470px!important;
  max-height: 470px;
}

li.navFont > a[href='/Movies-|-TV-|-Music/cat00044/'] + ul.whiteFlyout {
  width:300px!important;
  height:500px!important;
}

li.navFont > a[href='/Movies-|-TV-|-Music/cat00044/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  width:150px!important;
  position:absolute!important;
  left:150px!important;
  top:5px!important;
}

li.navFont > a[href='/Movies-|-TV-|-Music/cat00044/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:30px!important;
}

li.navFont > a[href='/Movies-|-TV-|-Music/cat00044/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:105px!important;
}

li.navFont > a[href='/Movies-|-TV-|-Music/cat00044/'] + ul.whiteFlyout {
  width:300px!important;
  height:220px!important;
}

li.navFont > a[href='/Religion-|-Inspirational/cat00349/'] + ul.whiteFlyout {
  height:300px!important;
}

li.navFont > a[href='/Pop-Culture-|-Fashion/cat00092/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  position: absolute!important;
  left: 150px!important;
  top: 5px!important;
}

li.navFont > a[href='/Pop-Culture-|-Fashion/cat00092/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:30px!important;
}

li.navFont > a[href='/Pop-Culture-|-Fashion/cat00092/'] + ul.whiteFlyout {
  width:310px!important;
  height:320px!important;
}

li.navFont > a[href='/Organization/cat440046/'] + ul.whiteFlyout {
  width:180px!important;
  height:450px!important;
  max-height: 450px!important
}

li.navFont > a[href='/Flowers-|-Gardens/cat00101/'] + ul.whiteFlyout {
  width:180px!important;
  height:350px!important;
}

li.navFont > a[href='/Sports/cat00402/'] + ul.whiteFlyout {
  width:310px!important;
  height:220px!important;
}

li.navFont > a[href='/Sports/cat00402/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:5px!important;
}

li.navFont > a[href='/Kids-|-Toys-|-Games/cat00139/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  top:230px!important;
}

li.navFont > a[href='/Kids-|-Toys-|-Games/cat00139/'] + ul.whiteFlyout > li.navMenuDiv + li.navMenuDiv + li.navMenuDiv {
  position:absolute!important;
  left:150px!important;
  top:5px!important;
}


li.navFont > a[href='/Kids-|-Toys-|-Games/cat00139/'] + ul.whiteFlyout {
  width:310px!important;
  height:420px!important;
}


li.navFont > a[href='/Publishers/cat250004/'] + ul.whiteFlyout {
  width:310px!important;
}