a {
    color: #0088CC;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}

.pr-stars{
	background-image: url("/images/stars.gif") !important;
}

.pr-stars-small{
	background-image: url("/images/stars_small.gif") !important;
	height:1.25em;
}

.pr-snippet {padding:0;border:0;background:none}
.pr-snippet-wrapper {
	padding:0;
	border:0;
	background:none;
	text-align: center !important;
    width: 100%;
 }
 
 .pr-snapshot-head{
 	display:none;
 }
 
 .pr-snapshot-body, .pr-review-sort, .pr-contents{
 	border: 0;
 	background-color: transparent;
 }
 
 .pr-snapshot-body-wrapper, .pr-contents-wrapper{
 	border:0;
 }
 
 .pr-review-wrap{
 	border: solid 1px #D7D7D7;
 	padding: 1em;
 }

 .pr-review-sort-wrapper{
	border-bottom: 1px dashed #D7D7D7;
 }
 
 .pr-pagination-top {
 	border:0;
 }
 
.pr-snippet-read-write {
  border:0;
  background:none;
  width:215px;
  line-height:15px;
}
.pr-snippet .pr-snippet-read-write div {padding:0 }

.pr-snippet-review-count{
  display:none !important;
}

.pr-review-engine {clear:both;}

.pr-review-author{
	width:25%;
}

.pr-review-rating-wrapper, .pr-review-main-wrapper{
	width:73%;
}

.pr-page-count, .prPaPageCount {
	color: #F27A45;
	font-family: Georgia W01 Italic;
	font-size: 12px;
}

.pr-snippet .pr-snippet-read-reviews {
	padding-right:5px;
	border:0;
	width:106px !important;
  	text-align:right;
  	margin: 0 !important;
  	border-right: 1px solid #CCCCCC;
}
.pr-snippet .pr-snippet-read-reviews a{
	padding-right:5px;
}
.pr-snippet .pr-snippet-write-review {
	width:107px !important;
  	text-align:left;
  	margin: 0 !important;
}
.pr-snippet .pr-snippet-write-review a{
	padding-left:5px;
}

.prSnippetEngine {width:auto;}

.prSnippetEngine .prSnippetTitle {float:left;width:auto;height:15px;}
.prSnippetEngine .prSnippetNumberOfRatingsText {display:none}


.prSnippetEngine a, .prSnippetNumberOfRatingsText {color:#ED0677}
.prSnippetEngine div.prSnippetNumberOfRatingsText {padding:0;float:right;text-align:right;}
.prSnippetRatingUnclickable {float:right;clear:right;height:15px;padding-left:0 !important;padding-right:0 !important;}

.prSnippetEngine div.prSnippetWriteReview {width:auto;float:left;}
.prSnippetEngine div.prSnippetWriteReview, .prSnippetEngine div.prSnippetTitle, .prSnippetEngine div.prSnippetReadReviews {padding-right:0;padding-left:0;}



.productListing .prSnippetReadReviews, .productListing .prSnippetTitle {display:none;}
.productListing .prSnippetEngine{width:85px;}


.prSnippetEngine div.prSnippetReadReviews {width:auto;text-align:right;float:right;}



#prReviewEngineDiv div {overflow:visible}

#prReviewSummary {background-image:none;}

#prReviewEngineDiv div.prSummaryHeader, #prReviewEngineDiv div.prStars, img.prVerified, #prContents .prPagination, #prContents .prPagination span {position:static}


.prSummaryBody {overflow:visible}
.prReviewPoints {margin:.5em 0;}
.prSummaryRating {padding:0 0 .5em;}
.prReviewAuthor {margin:.5em 0;}
.prSummaryWriteReview {margin:0 1em;}

.prReviewText {margin:.5em 0 1em;}
.prComments {margin:0}

.prPagination .prPageNav {float: right;}

.pr-snippet-stars{
  border:0 !important;
  float: none !important;
  width: 125px;
  margin: 0 auto !important;
}

.pr-snippet-stars .pr-stars-small, .pr-modal-container .pr-stars .pr-snippet-rating-decimal{
  height:19px !important;
}

.pr-snippet-stars .pr-snippet-rating-decimal{
  font: 12px HelveticaNeueW01-75Bold !important;
  padding: .2em .4em .2em .4em !important;
}

.pr-snapshot-rating .pr-rating {
	height: 25px;	
}

.pr-snapshot-rating .average{
	font-family: HelveticaNeueW01-75Bold !important;
	color: #FFFFFF !important;
	padding: 0.4em 0.4em 0;
	height:20px;
	line-height:15px;
}

.pr-review-rating .pr-rounded{
	font-family: HelveticaNeueW01-75Bold !important;
	color: #FFFFFF !important;
	padding: 0.4em;
	height: 1em;
	line-height: 1em;
}
	
.pr-snapshot-rating .pr-stars, .pr-review-faceoff .pr-stars, .pr-modal-container .pr-stars, .pr-modal-container .pr-review-faceoff-review-content .pr-stars {
height: 22px;	
}

.pr-snippet-read-write a.pr-snippet-link, .pr-pa-snippet-qa a.pr-snippet-link {
  color: #A4ADB8 !important;
}

.pr-snippet a:hover, .pr-pa-snippet  a:hover{
  color: #FB9550 !important;
}

.pr-pa-snippet{
  border:0 !important;
  background: #FFFFFF !important;
  width:220px;
  padding: 0 !important;
}

.pr-pa-snippet-qa{
  border: 0 !important;
}

.pr-pa-snippet-ask-question{
  margin-left: 1em !important;
}

.pr-pa-snippet-title,.pr-pa-snippet-text{
  display:none !important;
}

.prPaContainer, .prPaFooter{
  width: auto !important;
  background: #FFFFFF !important;
}

.prPaContainer ul{
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.pr-pa-snippet-read-questions{
  border:0;
  float:inherit;
}
.pr-pa-snippet-read-questions p{
  width: 106px;
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  float: left;
  line-height:15px;
}

.pr-pa-snippet-read-questions .pr-pa-snippet-questions{
	text-align:right;
}
.pr-pa-snippet-read-questions .pr-pa-snippet-questions a{
	padding-right:5px;
}
.pr-pa-snippet-read-questions .pr-pa-snippet-answers{
	text-align:left;
}
.pr-pa-snippet-read-questions .pr-pa-snippet-answers a{
	padding-left:5px;
}


.pr-pa-snippet-ask-question{
  display:none;
}

.prPaAnswerLnk{
  display:none;
}

.prPaAskQuestionLnk{
	border: none;
	background: #fab485;
	padding: 6px;
	margin-left: 10px;
	color: #FFF !important;
	text-decoration: none !important;
	clear: both;
	display: inline-block;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 10pt 'Helvetica';
	height:auto;
	
}

.prPaAskQuestionLnk span {
	background:0;
	padding:0;
	color:#FFFFFF !important;
	font:11pt 'Helvetica'  !important;
}

.prwrapper h2, .prwrapper h3 {
	color:#333333;
}

@media(max-width: 766px) {
	.pr-review-main-wrapper, .pr-review-rating-wrapper, .pr-review-author{
		float:none !important;
		width:100% !important;
	}
}

