@charset "UTF-8";
/*Reset*/
* {
	font-family: Arial, Helvetica, sans-serif !important;
	color: #474747;
}
ul, li {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none !important;
}

.mLink div:hover
{
     color: #000000;
     background-color: #dcdcd8    !important;
}

.mLink1 li:hover
{
     color: #000000;
     background-color: #dcdcd8    !important;
}

/*END Reset*/



/*This is the main contianer that holds everything*/
.config_container {
	height: 443px;
	width: 554px;
	border: 1px solid #C5C5C5;
	position: relative;
}
/*END amin container*/



/*This container holds the tab navication. START .confignavtab_container*/
.config_navtab_container {
	position: absolute;
	bottom: 106px;
	z-index: 1;
	left: 20px;
	font-size: 12px;
	font-weight: bold;
}
.config_navtab_container li {
	background-color: #F1F1ED;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #C5C5C5;
	border-right-color: #C5C5C5;
	border-left-color: #C5C5C5;
	list-style-type: none;
	display: inline;
	height: 22px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.config_navtab_container ul .tab_inactive {
	background-color: #C5C5C5;
}
.config_navtab_container ul .tab_inactive:hover {
	background-color: #A9A9A9;
}
.config_navtab_container ul .tab_inactive a {
	color: #FFF;
}
/*END .confignavtab_container*/



/*This outer container postions the outer container.*/
.config_tab_outer_container {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 544px;
	background-color: #F1F1ED;
	position: absolute;
	bottom: 0px;
	font-size: 11px;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #C5C5C5;
	z-index: 0;
}
/*END outer container*/



/*This inner container holds the active tab content with scroll arrows. START .config_tab_inner_container_scroll*/
.config_tab_inner_container_scroll {
	height: 89px;
	position: relative;
	margin: 0px;
	padding: 0px;
	left: 32px;
	width: 480px;
	/*margin-top:3px;*/
}
.config_tab_inner_container_scroll ul {
	text-align:center;
	paådding: 0px;
	margin: 0px;
	cursor: hand;
}
.config_tab_inner_container_scroll li {
	display: inline;
	margin: 0px;
	list-style-type: none;
	float: left;
	height: 83px;
	width: 80px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.config_tab_inner_container_scroll li:hover {
	background-color: #dcdcd8;
}
.config_tab_inner_container_scroll li:active {
	/* background-color: #edd6a9; */
	   background-color: #dcdcd8;
}
.config_tab_inner_container_scroll ul li img {
	padding-bottom: 5px;
}
/*END .config_tab_inner_container_scroll*/



/*Positions the scroll arrows*/
#rtArw {
	position: absolute;
	/*right: 5px;*/
	right: -10px;
	top: 34px;
	float: none;
	clear: none;
	cursor: pointer;
}
#lftArw {
	position: absolute;
	left: -15px;
	top: 34px;
	cursor: pointer;
}
/*END scroll arrows*/



/*This inner container holds the active tab content. START config_tab_inner_container_fullwidth*/
.config_tab_inner_container_fullwidth {
	height: 93px;
	position: relative;
	margin: 0px;
	padding: 0px;
	left: 15px;
	width: 95%;
}
.config_tab_inner_container_fullwidth ul {
	text-align:left;
	paådding: 0px;
	margin: 0px;
	font-size: 9px;
}
.config_tab_inner_container_fullwidth li, .metal_list_spacer {
	display: inline;
	list-style-type: none;
	float: left;
	height: 43px;
	width: 115px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.config_tab_inner_container_fullwidth1 li, .stone_list_spacer {
	display: inline;
	list-style-type: none;
	float: left;
	height: 90px;
	width: 69px; 
	/*width: 70px;*/
	margin-top: 0px;
	margin: -1px 2px 0 0;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}
.config_tab_inner_container_fullwidth li:hover {
	background-color: #dcdcd8;
}
.config_tab_inner_container_fullwidth li:active {
	background-color: #dcdcd8;
}
.config_tab_inner_container_fullwidth ul li a img {
	float: left;
	clear: right;	
	padding-right: 5px;
}
/*END config_tab_inner_container_fullwidth*/



/*Misc text config tab styles*/
.config_input {
	height: 22px;
	width: 85%;
	padding: 2px;
	border: 1px solid #999;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
.config_preview {
	background-color: #FFF;
	border: 1px solid #999;
	height: 72px;
	width: 100%;
	margin-top: 10px;
}
.preview_message {
	position: relative;
	top: 42%;
	font-size: 12px;
	color: #999;
}
/*END Misc text config tab styles*/



/* RADIO BUTTON start */
.regular-radio {
	display: none;
}
.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	margin-top: 5px; /*added on 4/4/13*/
}
.regular-radio:checked + label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #660066;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.6);
	text-shadow: 0px;
	left: 3px;
}
.regular-radio:checked + label {
	background-color: #fff;
	color: #99a1a7;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

/* END radio button*/



/*formats text*/
.bold_caps {
	font-weight: bold;
	text-transform: uppercase;
}
.metal_type_text {
	position:relative;
	top: -10px;
	font-size: 11px;
}
.config_gold_type {
	color: #a9a9a9;
	font-size:11px;
}
/*END formats text*/




/*added styles on 4/4/13*/

.radio_btn_group_container {
	margin-top: 25px;
}
.radio_container {
	display: inline-block;
	padding-right: 19px;
	font-size: 13px;
}
.radio_container_large {
	display: inline-block;
	padding-right: 4px;
	font-size: 14px;
}
/*END added styles on 4/4/13*/


.jewelry_config_container {
	position: absolute;
	top: 6px;
	left: 115px;
	width: 300px;
	height: 300px;
	/*width: 187px;
	height: 133px;*/
	border: 1px solid #CCC;
}
.birthstone_quantity_container {
	position: absolute;
	top: 25px;
	left: 354px;
	width: 240px;
}
.birthstone_quantity_container_header {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: bold;
	/*margin-left:21px;*/
}
.birthstone_quantity_container ul li {
	list-style-type: none;
	display: inline-block; /*!important; */
	/* float:left; */
}
.lg_num_container {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.lg_num {
	background-color: #BBB;
	height: 42px;
	width: 42px;
	color: #FFF;
	font-size: 22px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display:block;
	
}
.lg_num_spacer {
	padding-top: 8px;
	padding-bottom: 8px;
	display:block;
	color: #FFF;
	/*margin-left:14px;*/
}

.lg_num_label {
	font-size: 10px;
	color: #474747;
	margin-left:10px;
}


.config_container .birthstone_quantity_container ul li .lg_num:hover,.config_container .birthstone_quantity_container ul li .lg_num_spacer:hover {
	background-color: #dcdcd8;
	color: #474747;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.config_container .birthstone_quantity_container ul li .lg_num:active,.config_container .birthstone_quantity_container ul li .lg_num_spacer:active {
	background-color: #dcdcd8;
	color: #474747;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
