#pdpMain{float:left;padding-bottom:10px;padding-left:24px;}
#pdpMain .breadcrumb{background-color:white;padding:20px 25px 12px 0;width:735px;}
#pdpMain .breadcrumb p.path{color:#555;font-size:12px;font-weight:bold;margin:0;}
#pdpMain #right_left #item_description .ui-widget{width:312px;height:100%;}
#pdpMain .breadcrumb p.path a{color:#555;font-weight:normal;text-decoration:none;}
#pdpRight{float:right;min-width:137px;margin-top:11px;margin-right:25px;margin-bottom:10px;border-left-width:1px;border-left-color:#d2d2d2;}
#pdpRight div.productBlock{margin-left:25px;margin-bottom:10px;width:111px;font-family:Arial,Helvetica,sans-serif;margin-right:0;margin-bottom:0;}
#pdpRight div.productBlock .innerList{color:#555;margin-bottom:16px;margin-top:0;max-height:300px;max-width:111px;text-align:left;width:174px;}
#pdpRight div.productBlock .innerList ul{list-style:none outside none;margin:0;padding:0;}
#pdpRight div.productBlock .innerList ul .priceProduct{border-bottom:1px solid #D2D2D2;color:#FF6400;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;max-width:111px;width:111px;word-wrap:break-word;}
#pdpRight div.productBlock .innerList ul li .productListDesc,.productListDesc a{color:#555;font-size:11px;font-weight:bold;max-width:111px;text-decoration:none;width:111px;word-wrap:break-word;margin:0;margin-top:2px;}
#pdpRight div.productBlockFinal{font-family:Arial,Helvetica,sans-serif;margin-right:0;margin-bottom:0;margin-left:25px;width:111px;margin-bottom:6px;}
#pdpRight div.productBlockFinal .innerList{color:#555;margin-bottom:16px;margin-top:3px;max-height:300px;max-width:111px;text-align:right;width:174px;}
#pdpRight div.productBlockFinal .innerList ul{list-style:none outside none;margin:0;padding:0;}
#pdpRight div.productBlockFinal .innerList ul .priceProduct{border-bottom:1px solid #D2D2D2;color:#FF6400;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;max-width:111px;width:111px;word-wrap:break-word;}
#pdpRight div.productBlockFinal .innerList ul li .productListDesc{color:#555;font-size:11px;font-weight:bold;max-width:111px;text-decoration:none;width:111px;word-wrap:break-word;margin:0;}
#pdpRight div.productBlockFinal .innerList{margin-bottom:0;}
#pdpRight div.title{margin-left:25px;margin-bottom:10px;border-bottom-width:1px;border-bottom-color:#d2d2d2;padding-top:11px;width:111px;}
#pdpRight div.title p{text-align:center;margin-top:0;margin-bottom:2px;color:#555;font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;line-height:17px;}
#pdpBottom{padding-left:24px;padding-right:25px;}
#pdpBottom .title{background-color:#555;margin-bottom:10px;padding-top:4px;padding-bottom:4px;padding-left:15px;}
#pdpBottom .title span{color:white;font-size:18px;font-family:Arial,Helvetica,sans-serif;font-weight:bold;}
#pdpBottom .content{padding-bottom:20px;}
#pdpBottom .content div.productBlock{font-family:Arial,Helvetica,sans-serif;margin-right:0;margin-bottom:0;float:left;margin-left:25px;}
#pdpBottom .content div.productBlock .innerList{color:#555;margin-bottom:16px;margin-top:3px;max-height:300px;max-width:111px;text-align:right;width:174px;}
#pdpBottom .content div.productBlock .innerList ul{list-style:none outside none;margin:0;padding:0;}
#pdpBottom .content div.productBlock .innerList ul .priceProduct{border-bottom:1px solid #D2D2D2;color:#FF6400;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:18px;max-width:111px;width:111px;word-wrap:break-word;}
#pdpBottom .content div.productBlock .innerList ul li .productListDesc{color:#555;font-size:11px;font-weight:bold;max-width:111px;text-decoration:none;width:111px;word-wrap:break-word;margin:0;}
#pdpBottom .content div.productBlock .innerList{margin-bottom:0;}
#pdpBottom .content div.productBlockStart{font-family:Arial,Helvetica,sans-serif;margin-right:15px;margin-bottom:0;float:left;margin-left:0;}
#pdpBottom .content div.productBlockStart .innerList{color:#555;margin-bottom:16px;margin-top:3px;max-height:300px;max-width:111px;text-align:left;width:174px;}
#pdpBottom .content div.productBlockStart .innerList ul{list-style:none outside none;margin:0;padding:0;}
#pdpBottom .content div.productBlockStart .innerList ul .priceProduct{border-bottom:1px solid #D2D2D2;color:#FF6400;font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:16px;max-width:111px;width:111px;word-wrap:break-word;}
#pdpBottom .content div.productBlockStart .innerList ul li .productListDesc,#pdpBottom .content div.productBlockStart .innerList ul li .productListDesc a{color:#555;font-size:11px;font-weight:bold;max-width:111px;text-decoration:none;width:111px;word-wrap:break-word;margin:0;padding-top:2px;}
#pdpBottom .content div.productBlockStart .innerList{margin-bottom:0;}
#productContent{background-color:#fff;border-bottom:1px solid #d2d2d2;}
div.floatted{float:left;}
div.floatted2{float:left;margin-left:-2px;}
div.inline{float:left;margin-right:15px;}
div.inline_prev_img{float:left;margin-right:20px;}
.clearBoth{clear:both;}
ul#icons li{margin:8px;}
.divsize{width:426px;}
.rollover-text{font-family:Arial,"Sans-Serif";font-size:11px;font-weight:normal;color:#555;margin-bottom:5px;text-align:center;width:300px;}
.item_title,.item_title a{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:bold;color:#555;margin-bottom:3px;text-decoration:none;text-transform:uppercase;}
.item_number{font-family:Arial,"Sans-Serif";font-size:11px;font-weight:normal;color:black;margin-bottom:7px;}
.prices_container{padding-bottom:11px!important;height:100%;}
.priceProduct{border-bottom:0;}
.options_container_css{padding-bottom:24px;}
a.express_title{font-family:Arial,Helvetica,sans-serif;font-size:11px;vertical-align:middle;color:#FF6400;font-weight:normal;text-decoration:none;cursor:pointer;}
a.pdpTabPanel{font-family:Arial,Helvetica,sans-serif;font-size:12px;vertical-align:middle;color:#FF6400;font-weight:normal;cursor:pointer;}
.express_checkout_add_cart{margin:15px 0 24px;}
.express-padding{padding-top:5px!important;}
.express_checkout_add_cart_btm{margin-top:16px;margin-bottom:8px;width:736px;}
.item-desc-div-size{width:331px;height:100%;}
.square-delimited{float:left;margin-right:10px;margin-top:18px;padding:4px;cursor:pointer;}
.social_icons{float:left;margin-right:4px;}
.border-img-unselected{border:1px solid #d2d2d2;}
.last_text_containter{font-family:Arial,"Sans-Serif";font-size:11px;vertical-align:middle;font-weight:normal;color:black;padding-top:17px;word-wrap:break-word;width:400px;}
.ui-tabs .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{border:0 solid #000;background:#fff;background-color:#fff!important;color:#fff;font-weight:bold;}
.ui-tabs{position:relative;padding:0;margin-left:-3px;zoom:1;border:0;background:none;}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .35em 0;font-family:Arial,"Sans-Serif";font-weight:bold;color:black;font-size:12px;background-color:#F0F0F0;}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom{border:1px solid #555!important;background-color:#f0f0f0!important;color:#000;margin-left:4px;padding:1em;padding-top:8px;padding-left:12px;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;color:black;}
.ui-tabs.ui-widget-content .ui-state-default{font-weight:bold;}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom ul{margin-top:1px;padding-left:10px!important;margin-left:0;margin-bottom:0;list-style:disc outside none;}
ul.padding-left{padding-left:14px;}
img.nodecoration{border-style:none;}
.iframe-style{overflow:hidden;height:22px!important;width:100px;}
div.social-buttons{float:left;margin-left:-5px;padding-bottom:10px;}
.qty-text{font-family:Arial,"Sans-Serif";font-size:12px;text-align:center;border:1px solid #555;height:13px;}
.qty_container{float:left;margin-right:4px;margin-top:3px;font-family:Arial,"Sans-Serif";font-size:11px;font-weight:bold;color:#555;}
#table_description{width:736px;padding-top:22px;}
table,tr,th,td{border-collapse:collapse;border:1px solid #555;padding:8px;font-family:Arial,"Sans-Serif";font-size:12px;}
th{color:#555;background-color:#D2D2D2;text-align:left;padding-top:4px;padding-right:7px;padding-bottom:4px;padding-left:7px;}
td{background-color:#F0F0F0;}
td.aligned_center{text-align:center;}
th.col1{width:122px;}
th.col2{width:65px;}
th.col3{width:66px;}
th.col4{width:72px;}
th.col5{width:66px;}
th.col6{width:76px;}
th.col7{width:102px;}
th.col8{width:51px;}
th.col9{width:116px;}
div.message_container{padding-left:.7em!important;width:200px;margin-bottom:24px;font-weight:bold;}
span.message_icon{float:left;margin-right:.3em;}
.message{padding:10px 0!important;font-size:12px;}
div.social_buttons_top{padding-bottom:5px;padding-left:14px;}
.leftMargin{margin-left:25px;}
form{margin:0;padding:0;}
.addthis_default_style .at300b,.addthis_default_style .at300bo,.addthis_default_style .at300m{padding:0!important;}
.outStockTableContainer{width:140px;}
.outStockTableContainer #discountinued_message1{font-weight:bold;color:#555;}
.outStockTableContainer #discountinued_message2{font-weight:normal;color:#000;}
.outStockTableContainer #outofstock_message1{font-weight:bold;color:#555;}
.hazardWarningImg{float:left;padding-bottom:5px;width:198px;}