


#shell #leftNav {width:135px;}
#content {width:765px; clear:none; padding-bottom:30px;padding-right:40px;}
#contentHolder {position:relative;}
#itemInfo2,#proaductDetails2,#inTheCart,#errMessageHolder,#unavailableMsg {display:none;}
#pdetailCenter {float:left; position:relative;}
#leftColumn {float:left; width:481px; position:relative;}
#rightColumn {float:right; width:225px; padding-left:53px;}

#forwardToAFriend {display: none;}


#leftColumn #productDetails {float:left; width:100%; color:#000000;}
#leftColumn #productDetails span {float:left;}
#leftColumn #productDetails #topEdge, #leftColumn #productDetails #bottomEdge {display:none;}
#leftColumn #productDetails #detailItems {float:left; width:100%;}
#leftColumn #productDetails ul {float:left; padding:15px;}
#leftColumn #productDetails #desc {float:left; padding-top:15px; text-align:justify;}

#buttonsBar {border-top:1px solid #cccccc; float:left; padding-top:6px; width:100%;}
#buttonsBar span {float:left; padding-right:5px; padding-top:4px;}
#buttonsBar span img {cursor:pointer;}
#buttonsBar #showProductLocator {display:none;}

#crossSell {float:left; width:100%; padding-top:12px;}
#crossSell #crossSellHeader {float:left; width:100%; height:44px;; border-top:solid 1px #cccccc; text-align:center; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/CSS/productDetail/crossSellHeader.gif);background-position:center center;background-repeat:no-repeat;}
#crossSell #crossSellHeader img {display:none;}
#crossSell #CSrightColumn {float:left; width:100%;}
#crossSell #CSrightColumn .product {float:left; width:186px; padding-left:5px;}
#shell #crossSell #CSrightColumn .first {padding-left:0;}
#crossSell #CSrightColumn .crossSellItem {text-align:center;float:left;}
#crossSell #CSrightColumn .crossSellItem a {text-decoration:none;}
#crossSell #CSrightColumn .crossSellItem .thumbnail {float:left; border:solid 1px #e7e7e7; width:186px; height:186px; margin-bottom:15px;}
#crossSell #CSrightColumn .crossSellItem .thumbnail img {}
#crossSell #CSbottom {display:none;}
#crossSell .csqvlink {left:24px; position:absolute; top:80px;}

#socialFriendsLike {display:none;}

/* easyViewer shopping bag */
#evShopBag {position: absolute;right:8px;top: 70px;z-index: 209;display: none;}
#evShopBagShadow {position: absolute;z-index: 109;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}
#tblShopBag, #tblShopBagShadow {border-collapse: collapse;}
#evShopBag td.cellT, #evShopBag td.cellB {width: 426px;}

/* print easyViewer */
#evPrint {position: absolute;left: 50px;top: 116px;z-index: 208;display: none;}
#evPrintShadow {position: absolute;z-index: 108;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}
#tblPrint, #tblPrintShadow {width:660px; border-collapse:collapse;}
#evPrint td.cellT, #evPrint td.cellB {width:644px;}

#evPrint #printHeaderHolder {height: 41px;}
#evPrint #printHeader {padding: 2px 0px 5px 19px;float: left;}
#evPrint #printClose {float: right;padding: 10px 12px 0px 0px;}
#evPrint #printLeft {float: left;width: 398px;padding: 8px 0px 15px 20px;}
#evPrint #printName, #evPrint #printNameValue {color: #000000;font-weight: bold;font-size: 10pt;}
#evPrint #printNameValue {text-decoration: line-through;}
#evPrint #printNow, #evPrint #printNowValue {color: #ff6633;font-weight: bold;font-size: 12pt;}
#evPrint #printDesc {color: #000000;}
#evPrint #printBtnHolder {padding-top: 10px;}
#evPrint #printImgHolder {padding: 2px 0px 0px 40px;}

#evPrint #crossSellHeader {padding: 2px 0px 0px 0px;text-align:center;}
#evPrint #CSrightColumn {}

/* enlarge easyViewer */
#productGraphics a, #productGraphics a:link, #productGraphics a:active, #productGraphics a:visited, #productGraphics a:hover {text-decoration: none;}
#evEnlarge {position: absolute;left: 180px;top: 115px;z-index: 205;display: none;}
#evEnlargeShadow {position: absolute;z-index: 105;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}
#tblEnlarge, #tblEnlargeShadow {width: 506px;border-collapse: collapse;}
#evEnlarge td.cellT, #evEnlarge td.cellB {width: 490px;}

#evEnlarge #enlargeHeaderHolder {height: 17px;}
#evEnlarge #enlargeClose {float: right;padding-right: 12px;}
#evEnlarge #enlargeName, #evEnlarge #enlargeNameValue {color: #000000;font-weight: bold;font-size: 10pt;}
#evEnlarge #enlargeName {padding: 15px 0px 0px 20px;}
#evEnlarge #enlargeNameValue {text-decoration: line-through;}
#evEnlarge #enlargeNow, #evEnlarge #enlargeNowValue {color: #ff6633;font-weight: bold;font-size: 12pt;}
#evEnlarge #enlargeDesc {color: #000000;padding-left: 20px;}
#enlargeDesc a, #enlargeDesc a:link, #enlargeDesc a:active, #enlargeDesc a:visited, #enlargeDesc a:hover {text-decoration: none;font-size: 8pt;color: #000000;}
#evEnlarge .imageTypeSelector {float:none; border:none;}

#evPrintWidget{background:#ffffff;margin-left:auto;margin-right:auto;text-align:left;width:800px;border:solid 0px blue;height:0px;position:relative;}
#evEnlargeWidget{background:#ffffff;margin-left:auto;margin-right:auto;text-align:left;width:800px;border:solid 0px blue;height:0px;position:relative;}
/*#ckoutcShopBtns > span:first-child {visibility:hidden;}*/
#enlargeDesc .selected {font-size:11px;font-weight:bold;}

#internalMiniBag {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/images/productDetail/ShoppingBag_bg2.gif);background-position:10px 7px;background-repeat:no-repeat;width:426px;}
#internalMiniBag #shopBagHeaderHolder {height:26px;width:100%;}
#internalMiniBag #shopBagClose {float:right;padding:10px 10px 0 0;}
#internalMiniBag #ShopBagContent {float:left;padding:10px;text-align:left;width:420px;}
#internalMiniBag #shopBagProdName {clear:both;font-size:11px;font-weight:bold;color:#000000;}
#internalMiniBag #shopBagProdNameValue {color:#000000;font-weight:bold;padding-bottom:3px;}

#internalMiniBag #shopBagAction {color:#ff6633;float:left;font-size:11px;font-weight:bold;padding-bottom:10px;}
#internalMiniBag #shopBagTotalQty {color:#ff6633;float:left;padding-left:3px;padding-bottom:10px;text-decoration:underline;width:180px;font-size:11px;font-weight:bold;}
#internalMiniBag #shopBagTotalQty a, #internalMiniBag #shopBagTotalQty a:link, #internalMiniBag #shopBagTotalQty a:visited, #internalMiniBag #shopBagTotalQty a:active {color:#ff6633;font-size:11px;font-weight:bold;text-decoration:underline;}
#internalMiniBag #shopBagTotalQtyValue{font-size:11px;font-weight:bold;color:#ff6633;text-decoration:underline;}

#internalMiniBag #addedItemDetail {float:left;padding:10px 0;width:420px;}
#internalMiniBag #shopBagImageHolder {float:left;width:70px;height:70px;}
#internalMiniBag #shopBagImageHolder img {border:0px solid #EFE7DA;padding-top:10px;}

#internalMiniBag #shopBagItem, #internalMiniBag #shopBagColor, #internalMiniBag #shopBagSize, #internalMiniBag #shopBagQty {float:left;padding:8px 5px;}

#internalMiniBag #shopBagItem {width:133px;}
#internalMiniBag #shopBagColor {width:95px;}
#internalMiniBag #shopBagSize {width:45px;}
#internalMiniBag #shopBagQty {width:20px;}

#internalMiniBag #shopBagItemHeading, #internalMiniBag #shopBagColorHeading, #internalMiniBag #shopBagSizeHeading, #internalMiniBag #shopBagQtyHeading {color:#000000;font-size:11px;font-weight:bold;}
#internalMiniBag #shopBagItemValue, #internalMiniBag #shopBagColorValue, #internalMiniBag #shopBagSizeValue, #internalMiniBag #shopBagQtyValue {font-size:11px;color:#ff6633;}
#omnitureDiv {height:0; width:0; overflow:hidden;}

#itemInfo2,#proaductDetails2,#inTheCart,#errMessageHolder,#unavailableMsg {display:none;}

/* easyViewer shopping bag */
#evShopBag {position: absolute;right:8px;top: 70px;z-index: 209;display: none;}
#evShopBagShadow {position: absolute;z-index: 109;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}
#tblShopBag, #tblShopBagShadow {border-collapse: collapse;}
#evShopBag td.cellT, #evShopBag td.cellB {width: 426px;}

/* print easyViewer */
#evPrint {position: absolute;left: 50px;top: 116px;z-index: 208;display: none;}
#evPrintShadow {position: absolute;z-index: 108;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}

/* enlarge easyViewer */
#productGraphics a, #productGraphics a:link, #productGraphics a:active, #productGraphics a:visited, #productGraphics a:hover {text-decoration: none;}
#evEnlarge {position: absolute;left: 180px;top: 115px;z-index: 205;display: none;}
#evEnlargeShadow {position: absolute;z-index: 105;opacity: 0.3;filter: Alpha(Opacity=30);display: none;}
#tblEnlarge, #tblEnlargeShadow {width: 506px;border-collapse: collapse;}
#evEnlarge td.cellT, #evEnlarge td.cellB {width: 490px;}

#evEnlarge #enlargeHeaderHolder {height: 17px;}
#evEnlarge #enlargeClose {float: right;padding-right: 12px;}
#evEnlarge #enlargeName, #evEnlarge #enlargeNameValue {color: #000000;font-weight: bold;font-size: 10pt;}
#evEnlarge #enlargeName {padding: 15px 0px 0px 20px;}
#evEnlarge #enlargeNameValue {text-decoration: line-through;}
#evEnlarge #enlargeNow, #evEnlarge #enlargeNowValue {color: #ff6633;font-weight: bold;font-size: 12pt;}
#evEnlarge #enlargeDesc {color: #000000;padding-left: 20px;}
#enlargeDesc a, #enlargeDesc a:link, #enlargeDesc a:active, #enlargeDesc a:visited, #enlargeDesc a:hover {text-decoration: none;font-size: 8pt;color: #000000;}

#popUps{text-align:center;width:100%;border:solid 0px red;height:0px;position:absolute;top:0px;left:0px;z-index:1000;}

#evPrintWidget{background:#ffffff;margin-left:auto;margin-right:auto;text-align:left;width:800px;border:solid 0px blue;height:0px;position:relative;}
#evEnlargeWidget{background:#ffffff;margin-left:auto;margin-right:auto;text-align:left;width:800px;border:solid 0px blue;height:0px;position:relative;}
/*#ckoutcShopBtns > span:first-child {visibility:hidden;}*/
#enlargeDesc .selected {font-size:11px;font-weight:bold;}

#internalMiniBag {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/images/productDetail/ShoppingBag_bg2.gif);background-position:10px 7px;background-repeat:no-repeat;width:426px;}
#internalMiniBag #shopBagHeaderHolder {height:26px;width:100%;}
#internalMiniBag #shopBagClose {float:right;padding:10px 10px 0 0;}
#internalMiniBag #ShopBagContent {float:left;padding:10px;text-align:left;width:420px;}
#internalMiniBag #shopBagProdName {clear:both;font-size:11px;font-weight:bold;color:#000000;}
#internalMiniBag #shopBagProdNameValue {color:#000000;font-weight:bold;padding-bottom:3px;}

#internalMiniBag #shopBagAction {color:#ff6633;float:left;font-size:11px;font-weight:bold;padding-bottom:10px;}
#internalMiniBag #shopBagTotalQty {color:#ff6633;float:left;padding-left:3px;padding-bottom:10px;text-decoration:underline;width:180px;font-size:11px;font-weight:bold;}
#internalMiniBag #shopBagTotalQty a, #internalMiniBag #shopBagTotalQty a:link, #internalMiniBag #shopBagTotalQty a:visited, #internalMiniBag #shopBagTotalQty a:active {color:#ff6633;font-size:11px;font-weight:bold;text-decoration:underline;}
#internalMiniBag #shopBagTotalQtyValue{font-size:11px;font-weight:bold;color:#ff6633;text-decoration:underline;}

#internalMiniBag #addedItemDetail {float:left;padding:10px 0;width:420px;}
#internalMiniBag #shopBagImageHolder {float:left;width:70px;height:70px;}
#internalMiniBag #shopBagImageHolder img {border:0px solid #EFE7DA;padding-top:10px;}

#internalMiniBag #shopBagItem, #internalMiniBag #shopBagColor, #internalMiniBag #shopBagSize, #internalMiniBag #shopBagQty {float:left;padding:8px 5px;}

#internalMiniBag #shopBagItem {width:133px;}
#internalMiniBag #shopBagColor {width:95px;}
#internalMiniBag #shopBagSize {width:45px;}
#internalMiniBag #shopBagQty {width:20px;}

#internalMiniBag #shopBagItemHeading, #internalMiniBag #shopBagColorHeading, #internalMiniBag #shopBagSizeHeading, #internalMiniBag #shopBagQtyHeading {color:#000000;font-size:11px;font-weight:bold;}
#internalMiniBag #shopBagItemValue, #internalMiniBag #shopBagColorValue, #internalMiniBag #shopBagSizeValue, #internalMiniBag #shopBagQtyValue {font-size:11px;color:#ff6633;}

#internalMiniBag #shopBagCheckout {float:right;width:100%;}
#internalMiniBag #shopBagCheckout div {float:right;padding-left:10px;padding-top:6px;}

.miniCartDividerBottom{background-color:#cccccc;height:1px;font-size:0;padding:0;margin:0;line-height:0;float:left;width:100%;}
.miniCartDividerTop{background-color:#cccccc;height:1px;font-size:0;padding:0;margin:0;line-height:0;float:left;width:100%;}

#headerBC_PREV_NEXT {float:left; width:100%; height:26px; overflow:hidden; padding-bottom:4px;}
#productCrumbs {float:left; width:400px; padding-top:10px;}
#productCrumbs a {color:#666666; text-decoration:none; font-style:italic; text-transform:uppercase;}
#paging {float:right; text-align:right;}
#paging a {color:#666666; text-decoration:none;}
.prevnextlink, .productcount {float:left;}
.productcount {padding-top:8px;}

#miniSubTotal{width:420px;text-align:right;float:left;font-size:11px;font-weight:bold;padding:5px 0;color:#000000;}
#evShopBag #shopBagCheckout #subTotalDetail{float:left;padding-left:0;width:112px;line-height:12px;font-size:9px;}
#internalMiniBag #shopBagMessage{color:#ff6633;float:left;padding-left:5px;width:325px;font-size:10px;}
#internalMiniBag #mini_addToCloset{display:none;}
#errorText{display:none;}

.miniCartDividerBottom{background-color:#cccccc;height:1px;font-size:0;padding:0;margin:0;line-height:0;float:left;width:100%;}
.miniCartDividerTop{background-color:#cccccc;height:1px;font-size:0;padding:0;margin:0;line-height:0;float:left;width:100%;}

#gcMoreWidget {height:0;margin-left:auto;margin-right:auto;position:relative;text-align:left;}
#gcMore {display:none;position:absolute;left:-460px;top:-170px;z-index:209;}
#gcMoreLink {background-color:#ffffff;border:4px solid #9F9F9F;float:left;width:440px;height:315px}
#gcMoreLink #gcMoreHeaderHolder {height:25px;padding:10px 5px 0 0;}
#gcMoreLink #gcMoreClose {float:right;}
#gcMoreLink #gcMoreContent {float:left;padding:10px 30px 20px 35px;text-align:left;}
.gcFindMore{padding-top:20px;text-decoration:underline;}
a.gcMoreCloseHandle{color:#FF3599;}

#soldOutTextHolder {display:none;}
#descSoldOutMessaging {}
#soldOutImg {left:80px; position:absolute; top:260px; opacity:0.55; filter:alpha(Opacity=55); z-index:300;}

.tab_description {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/CSS/productDetail/description_on.gif); background-position:0 0; background-repeat:no-repeat;}
.tab_reviews {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/CSS/productDetail/reviews_on.gif); background-position:0 0; background-repeat:no-repeat;}
#leftColumn #productDetails #tabHeader {float:left; width:100%; height:27px;}
#leftColumn #productDetails #tabHeader img {width:74px; height:14px; border:0;}
#leftColumn #productDetails #tabHeader span {float:left; padding:6px 10px 6px 6px; width:74px;}
#reviewsHolder {float:left; width:100%; padding:5px 0 15px;}
#BVRRDisplayContentNoReviewsImageID, #BVRRDisplayContentNoReviewsID {float:left; width:100%;}
#descriptionHolder {float:left; width:100%; padding:5px 0;}
#shareThisLink {float:left; width:100%; padding-top:15px;}
.cs_prodName{float:left;width:100%;text-align:left;}
#shell #bazaarVoiceRate .BVRRRootElement a{color:#999999;}
#shell .BVContentSubscription, #shell #BVRRRatingSummaryNoReviewsWriteImageLinkID,#shell #BVRRRatingSummaryLinkWriteFirstID{clear:both;width:225px;padding:0 0 0 0;margin:0 0 0 0;}
#sr_pdp{width:224px;overflow:hidden;float:left;padding:10px 0;}

.recentWrapper .pricingContainer span {width:100%; display:block; clear:both; font-size:11px; font-weight:bold;}
.recentWrapper .pricingContainer .ListSalePrices {font-weight:normal; color:#666666;}
.recentWrapper .qvLinkA {margin-top:14px; float:left;}
.recentWrapper a {text-decoration:none;}
#croosellproductpricingwrapper .ListSalePrices {font-size:11px; padding-right:6px;}
#croosellproductpricingwrapper .SaleSalePrices {font-size:11px;}
.recentWrapper .ListSalePrices {clear:both;}
.recentWrapper .SalePrices {clear:both;}
.recentWrapper .productPromotionva {color:#FF6633;}
.recentWrapper .aQuickViewLink {display:none;}
.recentWrapper .crosssellproductname {font-size:12px; font-weight:bold;}
.recentWrapper .SimpleProductCell {padding-bottom:20px;}
#shell .BVRRDisplayContentLinkWrite a, #shell .BVRRDisplayContentLinkWrite a:visited , #shell .BVRRDisplayContentLinkWrite a:hover, #shell .BVRRDisplayContentLinkWrite a:focus, #shell .BVRRDisplayContentLinkWrite a:active {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-easyspirit-Site/Sites-easyspirit-Library/default/v1417583707284/images/productDetail/buttonWrite.gif); background-position:0 0; background-repeat:no-repeat; padding:0; margin-bottom:12px; height:20px; width:138px;
	-moz-box-shadow:3px 3px 2px #dddddd;
	-webkit-box-shadow:3px 3px 2px #dddddd;
	box-shadow:3px 3px 2px #dddddd; /* For IE 8 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength = 2, Direction = 135, Color = '#dddddd');
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dddddd')"; /* For IE 5.5 - 7 */
}
#lpButtonDiv1 img {
	-moz-box-shadow:-3px 3px 2px #dddddd;
	-webkit-box-shadow:-3px 3px 2px #dddddd;
	box-shadow:-3px 3px 2px #dddddd; /* For IE 8 */
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength = 2, Direction = 135, Color = '#dddddd');
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#dddddd')"; /* For IE 5.5 - 7 */
}

/*certona*/
#pdpcertonaHolder{float:left;height:330px;margin-top:30px;width:722px;}
.container { position:absolute;}
#tabOne{position:absolute;border-right: 1px solid black;width:200px;z-index:99;}
#tabTwo{position:absolute;width:200px;left:210px;z-index:99;}
#certona_pdp_1{ float:left;margin-top:30px;}
#certona_pdp_2{ float:left; margin-top:30px;display:none;}
.tabTrigger{cursor:pointer;}
.tabTrigger > div{font-family: Humanist521BT-Roman, Arial, Helvetica, sans-serif;font-size: 15px;text-transform: uppercase;}
.activeLink > div{color:black;}
#pdpcertonaHolder .product{float:left;width:190px}
