


* {margin:0; padding:0;}
body {text-align:center; background:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/2013.08.01/bg.jpg) no-repeat fixed center top #ffffff;}
body map, body area, body a, body a:link, body a:visited, body a:active {border:0 none; outline:0 none transparent;}
body.naked {background-color:#ffffff;}
div, span, td, th, img {border:0; color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; padding:0;}
a.remove, a.remove:link, a.remove:visited, a.remove:hover, a.remove:active {color:#cf3f3f; text-decoration:underline;}
a.blackStrong {color:#000000; font-weight:bold;}
a.blackStrong:hover, a.blackStrong:active {color:#666666; font-weight:bold;}
.textBox {border:solid 1px #cdcdcd; color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:9pt; padding-bottom:2px; padding-left:2px; padding-top:2px;}
#shell #SR_CO {background-color:#eeeeee; clear:both; float:left; margin:15px 0 6px; padding:2px 6px;}
select.textBox {padding-bottom:0; padding-top:0;}
.shellInput {height:14px; margin-bottom:1px; padding-bottom:0; padding-top:0;}
select {font-family:Arial, Helvetica, sans-serif; font-size:10px;}
.clear, .clearer {clear:both; font-size:0; height:0;}
.clearRight {clear:right;}
.clearLeft {clear:left;}
.err, .errb, .errormessage {color:#ff0000; font-size:11px;}
.formFieldErrorMsg, #GCERROR, #PINERROR {color:red;}
.errorFields, .errorDropDowns {border:1px solid #ff0000;}
.highlight {font-size:11px; font-weight:bold;}
.headerTxt {font-size:15px; font-weight:bold;}
#shell .pr_controlEdit{display:none;}
#shell {float:left; margin-left:auto; margin-right:auto; text-align:left; width:100%;}
#topNavGlobal {background-color:#000000; color:#ffffff; float:left; height:28px; text-transform:uppercase; width:100%;}
#topNavGlobal #topNavSocial {float:left; line-height:100%; width:40%;}
#topNavGlobal #topNavSocial a {float: left; display: block; height: 28px; text-indent: -9999px;}
#topNavGlobal #topNavSocial a#topNavSocialNineWest { width: 79px; background: transparent url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/topNavGlobal/spriteNineWest.png) -79px 0px no-repeat;}
#topNavGlobal #topNavSocial a#topNavSocialNineWest:hover { background-position: -79px 0px; }
#topNavGlobal #topNavSocial a#topNavSocialChannel9 { width: 85px; background: transparent url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/topNavGlobal/spriteChannel9.png) 0px 0px no-repeat;}
#topNavGlobal #topNavSocial a#topNavSocialChannel9:hover { background-position: -85px 0px; }
#topNavGlobal #topNavSocial a#topNavSocialVintageAmerica { width: 136px; background: transparent url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/topNavGlobal/spriteVintageAmerica.png) 0px 0px no-repeat;}
#topNavGlobal #topNavSocial a#topNavSocialVintageAmerica:hover { background-position: -136px 0px; }
#topNavGlobal #topNavAccount {float:right; padding-top:4px; text-align:right; width:520px;}
#topNavGlobal #topNavAccount img.topNavDivider {margin:0 5px;}
#topNavSocial #topNavFreeShipping {float:left; margin-top:-21px; width:246px;margin-left:-2px;}
#header #logo {clear:both; float:left; padding:16px 0 10px; width:100%; text-align: center;}
#header #navHolder {float:left; padding-top:5px; width:100%;}
#header #topSearch {float:right; height:23px; margin-top:10px; text-align:right; width:435px;}
#header #topSearch table {border-collapse:collapse;}
#header #topSearch table #storeLocatorSearch {padding-top:1px; padding-right: 20px; vertical-align:top;}
#header #topSearch table #advSearch {padding-top:1px; vertical-align:top; padding-left: 20px;}
#header #topSearch table #searchBtn {border-bottom:solid #ccc 1px; border-right:solid #ccc 1px; border-top:solid #ccc 1px; height:14px; margin-top:1px; padding:0;}
#header #topNavDivider {border-top:1px solid #e5e5e5; float:right; font-size:0; height:0; margin:0; padding:0; width:658px;}
#navHolder .divider {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/header/top_nav/nav_links/navDivider.gif); background-repeat:no-repeat; font-size:0; height:10px; width:28px;}
.dividerNoImage {height:10px; width:20px;}
ul#topNavBar2 {font-family:Humanist521BT-Roman, Arial, Helvetica, sans-serif; float:left; padding: 0 0 5px 69px; width:820px;  position:relative;}
ul#topNavBar2 li {color:#333333; font-family:Humanist521BT-Roman, Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; letter-spacing:1px; text-decoration:none;}
ul#topNavBar2 li.navSeparator {width:16px;}
ul#topNavBar2 li a {color:#000000; float:left; font-family:Humanist521BT-Roman, Arial, Helvetica, sans-serif; font-size:10pt; font-weight:normal; letter-spacing:1px; text-decoration:none; text-transform:uppercase; line-height:16px;}
ul#topNavBar2 li#loves a {height:0; padding-top:10px; width:126px; overflow:hidden; margin-top:2px; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/images/header/top_nav/2013.06.06/nineloves_rewards.gif); background-position:0 0; background-repeat:no-repeat;}
ul#topNavBar2 li#loves a:hover {background-position:0 -31px;}
ul#topNavBar2 li#loves a img {display:none;}

/* FOOTER */
#footer {border-top:solid #E0E0E0 2px; padding:15px 0 0; width:100%;}
#footer #footerSocialBanner { text-align: center; margin: 15px 0 28px 0;}

#footer #optIn {float:left; width:142px;}
#footer #optIn #optInTable {border-collapse:collapse; float:right;}
#footer #optIn #txt {float:left; margin-right:8px; margin-top:5px;}
#footer #optIn #txt span {color:#636466;}
#footer #optIn #customizeEmail {margin-left:7px;}
#footer #optIn #customizeHolder {margin-top:2px;}
#footer #optIn #emailBox {float:left; margin-right:0; margin-top:2px; padding:0;}
#footer #optIn #submitButton {float:left; margin:0; padding:0 0 0 1px;}
#footer #footerNav {float:left; text-align:left; width:734px;}

#footer #footerLinksHolder {width: 709px; float: left; margin-left: 33px; }
#footer #footerLinksHolder .footerLinksColumn {width: 176px; display: block; float: left; }
#footer #footerLinksHolder .footerLinksColumn h3 {text-transform: uppercase; color: #333333; font-size: 10px; margin: 0 0 2px 0;}
#footer #footerLinksHolder .footerLinksColumn .footerLink {display: block; width: 100%;}
#footer #footerLinksHolder .footerLinksColumn a {font-size: 10px; color: #666766;}
#footer #footerLinksHolder #footerLinksAbout {}
#footer #footerLinksHolder #footerLinksCustomers {}
#footer #footerLinksHolder #footerLinksStores {width: 175px; }
#footer #footerLinksHolder #footerLinksServices {width: 174px; }
#footer #footerLinksHolder #footerLinksServices  #footerCopyright{ font-size: 9px; color: #999999; margin-top: 5em;}

#seoFooter {text-align: center; color:#999999; float:left; font-size: 10px; margin:15px 0; padding:8px 0; width:100%;}
#seoFooter .link {color:#999999; font-size: 10px; padding-right:8px;}
#seoFooter .linkLast {color:#999999;}
/* end FOOTER */

#rightNav {float:left; padding-right:39px; width:130px;}
#rightPromotion {padding-top:14px; text-align:center; width:130px;}
.salePrice {color:#990000; font-size:11px; font-weight:bold;}
#outerContent #leftNav {float:left; padding:0 0 50px 75px; width:130px;}
#leftNav img {display:block; margin:0; padding:0;}
#leftNav #img_9w {display:none; height:10px; margin-bottom:6px; margin-top:0; width:88px;}
#navbottom {display:block; height:6px; margin:0; width:130px;}
#navlist {margin:0; padding:0; width:130px;}
#navlist .divider {background-color:#EAEAEA; font-size:0; height:2px; line-height:2px; margin-bottom:4px; margin-top:4px; width:100px;}
#navlist .level1, #navlist .level2 {font-size:11px; padding:4px 7px 0 0;}
#navlist .level0 {font-size:11px; padding:12px 7px 0 0;}
#navlist div.level0 a {text-transform:uppercase;}
#navlist div.level1 {margin-left:15px;}
#navlist div.level2 {margin-left:30px;}
#refineSearch {display:none; padding-top:11px; width:130px;}
#refineSearch #refineSearchBody {background:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/refineSearch/refine_search_left_bar.gif) repeat-y; padding-left:16px;}
#refineSearch select {color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; height:17px; width:114px;}
#refineSearch .top {margin-bottom:5px;}
#refineSearch .bottom {margin-bottom:24px;}
#refineSearch .last {margin-bottom:12px;}
#refineSearch input#searchQuery {margin-bottom:5px; margin-top:1px; width:110px;}
#refineSearch input#searchSubmit {margin-top:7px;}
#exclusiveDescription {display:none; padding-top:10px;}
td.cellTL {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_topLeft.gif); background-repeat:no-repeat; border-width:0; height:8px; width:8px;}
td.cellT {background-color:#ffffff; border-top:solid #9F9F9F 1px;}
td.cellTR {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_topRight.gif); background-repeat:no-repeat; border-width:0; height:8px; width:8px;}
td.cellC {background-color:white; border-left:solid #9F9F9F 1px; border-right:solid #9F9F9F 1px;}
td.cellBL {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_btmLeft.gif); background-repeat:no-repeat; border-width:0; height:8px; width:8px;}
td.cellB {background-color:#ffffff; border-bottom:solid #9F9F9F 1px;}
td.cellBR {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_btmRight.gif); background-repeat:no-repeat; border-width:0; height:8px; width:8px;}
td.cellTLShadow {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_topLeft_shadow.gif); background-repeat:no-repeat; height:11px; width:11px;}
td.cellTShadow {background-color:#111111; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_hLine_shadowTop.gif); background-position:top; background-repeat:repeat-x;}
td.cellTRShadow {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_topRight_shadow.gif); background-repeat:no-repeat; height:11px; width:11px;}
td.cellLShadow {background-color:#111111; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_vLine_shadowLeft.gif); background-position:left; background-repeat:repeat-y;}
td.cellCShadow {background-color:#111111;}
td.cellRShadow {background-color:#111111; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_vLine_shadowRight.gif); background-position:right; background-repeat:repeat-y;}

td.cellBLShadow {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_btmLeft_shadow.gif); background-repeat:no-repeat; height:11px; width:11px;}
td.cellBShadow {background-color:#111111; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_hLine_shadowBtm.gif); background-position:bottom; background-repeat:repeat-x;}
td.cellBRShadow {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/pop_crnr_btmRight_shadow.gif); background-repeat:no-repeat; height:11px; width:11px;}
#topSearch {position:relative;}
#topSearch .over {background-color:#eeeeee;}
#topSearch .term {width:100%;}
#topSearch .suggestItem {border-bottom:1px dotted #BCBCBC; cursor:pointer; margin:0 2px;}
#topSearch #search_suggest {background-color:#ffffff; border-bottom:solid 1px #CDCDCD; border-left:solid 1px #CDCDCD; border-right:solid 1px #CDCDCD; height:50px; left:0; overflow:hidden; position:absolute; text-align:left; top:16px; visibility:hidden; width:175px; z-index:999;}
a:link, a:visited {color:#666666; text-decoration:none;}
a:hover, a:active {color:#000000; text-decoration:none;}
#header #topcrumbs #account {float:right; text-transform:uppercase;}
#header #topcrumbs .checkOutIcon {float:right; margin-left:30px;}
#header #topSearch input#query, #footer #optIn #email {width:173px;}
ul#topNavBar li, ul#topNavBar2 li {display:inline; float:left;}
ul#topNavBar li a {color:#ffffff; display:block; font-size:0; height:0; line-height:0; margin:0 8px; overflow:hidden; padding-top:12px;}
#leftNav #advSearchLink, #navlist #navcontainer {padding-top:3px;}
#productNewTextAndPriceCO {color:#990000; font-size:11px; font-weight:bold;}
#productOldTextAndPriceCO {text-decoration:line-through;}
.finalSaleText {color:#990000; float:left; font-size:10px; padding-top:5px; width:100%;}
.ctaContainer {text-align:left;}
#globalTopPromoBar {float:left; margin-bottom:12px; position:relative; top:4px; width:100%;z-index:2;}
#pdqvHolder, .pdqvHolder {background-color:#ffffff; clear:both; height:0; left:0; position:absolute; text-align:center; top:0; width:100%; z-index:999;}
#shell #navHolder {position:relative;z-index:998;}
#centered {height:2px; margin:auto; padding:auto; position:relative; width:770px;}
.centered {height:2px; margin:auto; padding:auto; position:relative; width:446px;}
#pdqv {background-color:#ffffff; border:solid 4px #cccccc; display:none; float:left; left:0; padding-bottom:20px; position:absolute; text-align:left; top:128px; width:762px; z-index:99;}
.shipPopUp {display:none; float:left; left:0; position:absolute; text-align:left; top:25px; width:762px; z-index:99;}
#quickViewClose {overflow:hidden; padding-bottom:3px; padding-right:10px; padding-top:6px; text-align:right; width:752px;}
#quickViewLeft {float:left; padding-left:20px; padding-right:20px; width:452px;}
#quickViewRight {float:left; overflow:hidden; padding:20px 10px; width:225px;}
#productGraphics {float:left; padding-bottom:20px; position:relative; width:100%;}
#productGraphics #productImage {border:solid 1px #cccccc; float:left; font-size:0; padding:0; width:100%;}
#productGraphics .viewsMenu {float:inherit; width:100%;}
#productGraphics .viewsMenu .dividerBar {cursor:default; padding-left:4px; padding-right:7px;}
#productGraphics .viewsMenu .selected {border:solid 1px #898989;}
.nofirstaltview {margin-left:3px;}
#cartControls .pickerArea {border:solid 1px #cccccc; overflow:hidden; padding:5px 0 5px 9px; width:214px;}
#cartControls #selectableInfo #widthsBlock #widths, #cartControls #selectableInfo #sizesBlock #sizes, #cartControls #selectableInfo #colorsBlock #colorChips {float:left; padding-left:0; width:214px;}
#cartControls #selectableInfo #colorsBlock #colorChips span {float:left; padding:0 4px 4px 0;}
#cartControls #selectableInfo #colorsBlock #colorChips span img {cursor:pointer; padding:1px;}
#cartControls #selectableInfo #sizesBlock #sizes span, #cartControls #selectableInfo #widthsBlock #widths span {cursor:pointer; float:left; height:14px; margin:0 4px 4px 0; overflow:hidden; padding:1px 2px 0; text-align:center; vertical-align:middle; width:25px;}
#cartControls #selectableInfo #colorsBlock #colorChipsLabel, #cartControls #selectableInfo #widthsBlock #widthsLabel, #cartControls #selectableInfo #sizesBlock #sizesLabel {float:left; padding-bottom:1px; padding-top:7px; width:100%;}
#cartControls #selectableInfo #widthsBlock #widthsLabel, #cartControls #selectableInfo #sizesBlock #sizesLabel {height:12px;}
.choiceText {color:#000000; float:left; font-size:10px; text-transform:uppercase;}
#cartControls #selectableInfo #colorsBlock #colorChipsLabel .currentColor, #cartControls #selectableInfo #widthsBlock #widthsLabel .currentWidth, #cartControls #selectableInfo #sizesBlock #sizesLabel .currentSize {background-color:#ffffff; color:#666666; float:left; font-size:11px; font-weight:bold; white-space:nowrap; z-index:101;}
#cartControls #selectableInfo #colorsBlock #colorChipsLabel .currentColor {clear:both;}
#cartControls #selectableInfo #colorsBlock #colorChipsLabel .unavailableColor, #cartControls #selectableInfo #widthsBlock #widthsLabel .unavailableWidth, #cartControls #selectableInfo #sizesBlock #sizesLabel .unavailableSize {background-color:#ffffff; color:red; display:none; font-weight:bold; white-space:nowrap; width:20px; z-index:101;}
#cartControls #selectableInfo #colorsBlock #colorChipsLabel .errColor, #cartControls #selectableInfo #widthsBlock #widthsLabel .errWidth, #cartControls #selectableInfo #sizesBlock #sizesLabel .errSize {display:none; padding-left:5px;}
.controlSeperator {font-size:0; height:0; line-height:0; margin:0; padding:0; width:214px;}
#cartControls #addToCart {float:left; padding-top:18px; width:100%;}
.locErrText {clear:both; font-size:8pt; font-weight:bold; height:30px; padding-top:10px;}
.CARTchip, .CARTwidth, .CARTsize, .available {background-color:#FFFFFF; border:1px solid #e8e8e8; color:#333333;}
.notAvailable {background-color:#FFFFFF; border:1px dashed #999999; color:#666666;}
.selectedButton {background-color:#000000; border:1px solid #4b4b4b; color:#FFFFFF;}
.selectedColorButton {border:1px solid #4b4b4b; color:#006699;}
#cartControlDivider {background:transparent url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/productDetail/border_line.gif) repeat-x scroll center; clear:both; height:30px; margin-left:2px; margin-right:0; width:265px;}
#itemInfo {float:left; padding-bottom:10px; width:100%;}
#itemInfo #productLineName {font-size:8pt; font-weight:bold; padding-bottom:5px;}
#itemInfo .displayNameAndPrice .name {color:#000000; float:left; font-size:15px; font-weight:bold; text-transform:uppercase; width:100%;}
#itemInfo .displayNameAndPrice #nameShipDate .preorder {color:#cc0066; font-size:15px;}
#itemInfo .onSale {color:#666666; float:left; padding-top:1px;}
#itemInfo .notSale {float:left; font-size:12px; font-weight:bold;}
#itemInfo .salePrice {color:#990000; font-size:12px; font-weight:bold;}
.percentageOff {color:#990000;}
#itemInfo #descSoldOutMessaging {float:left; position:relative; width:100%;}
#itemInfo #descSoldOutMessaging #soldOutTextHolder {color:#006699; font-size:11px; font-weight:bold; padding-top:5px;}

#soldOutImg {float: left;/*filter:alpha(Opacity=55); *//*height:36px;*/ /*opacity:0.65;*/ overflow:hidden; position:absolute; top: 31px; /*292px;*/ left:1px; /*102px;*/ /*width:249px;*/ z-index:100;}
/* Various IE-specific compatibility mode hacks */
#soldOutImg {
    *top: 1px;    /* IE6+7, doesn't work in IE8/9 as IE7 */
}
#soldOutImg {
    _top: 1px;     /* IE6 */
}
#soldOutImg {
    top: 1px \0/; /* IE8+9  */
}

.unavailableMsg {background-color:#ffffff; color:red; display:none; font-size:11px; font-weight:bold; height:30px; left:0; position:absolute; top:10px; width:100%; z-index:101;}
.messgingHolder {float:left; height:40px; position:relative; width:225px;}
.messgingHolder .errTitle {padding-bottom:5px;}
.messgingHolder .errTitle, #messgingHolder #theError {font-size:11px; font-weight:bold;}
#altViewsText {float:left; padding:5px 0 2px; text-transform:uppercase; width:100%;}
.productPromotion {clear:both; color:#990000; font-size:8pt; font-weight:bold; height:11px; line-height:9pt; margin-bottom:5px; overflow:hidden; width:100%;}
.promotionsSpan {float:left; font-size:0; height:0; line-height:0; overflow:hidden; padding-top:10px; width:100%;}
.qvdesc {float:left; padding:0 0 10px; text-align:justify; width:100%;}
.viewsMenu .imageTypeSelector {border:1px solid #D7D6D6; float:left;}
.crosssellproductname {color:#000000; float:left; font-size:9pt; width:100%;}
#availProdSkuHolder {clear:both; float:left; height:50px; overflow:hidden; width:100%;}
#availProdSkuHeader {float:left; font-size:11px; font-weight:bold; width:100%;}
.availProdSkuText {clear:both; float:left; padding-top:3px; width:100%;}
#productGraphics #zoomImgHolder {float:left; font-size:0; padding:0; width:100%;}
#productGraphics #zoomImgHolder2 {border:1px solid #CCCCCC; float:left; height:450px; overflow:hidden; position:relative; width:450px;}
#productGraphics #zoomImg {cursor:move; position:absolute;}
#productGraphics #zoomHolder {float:right; height:18px; padding:0; text-align:right;}
#productGraphics #enlargeZoom {float:right; padding:0;}
.PDPPriceArea {float:left; height:35px; width:100%;}
#evShopBag {display:none; position:absolute; right:0; top:50px; z-index:209;}
#evShopBagShadow {display:none; filter:Alpha(Opacity=30); opacity:0.3; position:absolute; z-index:109;}
#tblShopBag, #tblShopBagShadow {border-collapse:collapse; width:240px;}
#internalMiniBag {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/images/productdetail/ShoppingBag_bg2.gif); background-position:10px 10px; background-repeat:no-repeat; border:4px solid #dfdfdf; float:left; width:428px;}
#internalMiniBag #shopBagHeaderHolder {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/images/productdetail/nw_dots.gif); background-position:bottom left; background-repeat:repeat-x; height:20px; margin:0 10px; padding:10px 0; width:410px;}
#internalMiniBag #ShopBagContent {float:left; padding:10px 9px 9px; text-align:left; width:410px;}
#internalMiniBag #shopBagProdName {clear:both; float:left; font-size:15px; font-weight:bold;}
#internalMiniBag .nameContainer {width:410px;}
#internalMiniBag #shopBagProdName .theName {padding-right:5px; text-transform:uppercase;}
#shell #internalMiniBag #shopBagProdName .preorder {color:#CC0066; float:left; font-size:14px; font-weight:normal; padding-top:1px; text-transform:uppercase;}
#internalMiniBag #shopBagProdNameValue {color:#CC0066; font-size:11px; font-weight:bold; padding-bottom:5px; text-transform:uppercase;}
#internalMiniBag #shopBagAction {float:left; font-size:11px; font-weight:bold; padding-bottom:10px;}
#internalMiniBag #shopBagTotalQty {color:#CC0066; float:left; font-size:11px; font-weight:bold; padding-bottom:10px; padding-left:3px; text-decoration:underline; width:180px;}
#internalMiniBag #shopBagTotalQty a, #internalMiniBag #shopBagTotalQty a:link, #internalMiniBag #shopBagTotalQty a:visited, #internalMiniBag #shopBagTotalQty a:active {color:#CC0066; font-size:11px; font-weight:bold; text-decoration:underline;}
#internalMiniBag #shopBagTotalQtyValue {color:#CC0066; font-size:11px; font-weight:bold; text-decoration:underline;}
#internalMiniBag #addedItemDetail {float:left; padding:10px 0; width:410px;}
#internalMiniBag #shopBagImageHolder img {border:0 solid #EFE7DA;}
#internalMiniBag #shopBagItem, #internalMiniBag #shopBagColor, #internalMiniBag #shopBagSize, #internalMiniBag #shopBagQty {float:left; padding:0 5px;}
#internalMiniBag #shopBagItem {width:133px;}
#internalMiniBag #shopBagColor {width:95px;}
#internalMiniBag #shopBagSize {width:45px;}
#internalMiniBag #shopBagQty {width:20px;}
#internalMiniBag #shopBagItemHeading, #internalMiniBag #shopBagColorHeading, #internalMiniBag #shopBagSizeHeading, #internalMiniBag #shopBagQtyHeading {color:#999999; font-size:11px; font-weight:bold;}
#internalMiniBag #shopBagItemValue, #internalMiniBag #shopBagColorValue, #internalMiniBag #shopBagSizeValue, #internalMiniBag #shopBagQtyValue {color:#CC0066; font-size:11px;}
#omnitureDiv {height:0; overflow:hidden; width:0;}
#internalMiniBag #shopBagCheckout {float:right; padding-top:3px; width:410px;}
#internalMiniBag #shopBagCheckout div {float:right; padding-left:15px;}
#internalMiniBag #shopBagCheckout #shopBagContinue {padding-top:2px;}
#internalMiniBag #shopBagMessage {clear:both; color:#FF0000; float:left; padding-left:5px; padding-top:7px; width:320px;}
#evShopBag td.cellC {background-color:#FFFFFF; border:0;}
#popUps {left:0; position:absolute; top:0; width:100%; z-index:116;}
#miniSubTotal {color:#CC0066; float:left; font-size:11px; font-weight:bold; padding:5px 0; text-align:right; width:410px;}
#evShopBag #shopBagCheckout #subTotalDetail {float:left; font-size:9px; line-height:12px; padding-left:0; padding-top:5px; width:170px;}
#shell #evShopBag {display:none; z-index:951;}
#shell #content .qvLinkA {font-weight:bold; text-decoration:underline;}
#jagGrayBG {background-color:#000000; left:0; position:absolute; top:0; z-index:90;}
.descShipDate {clear:both; display:none; float:left; padding:0 9px 9px; width:200px;}
#quickViewRight .descShipDate {padding:0;}
.shipwithprice {float:left; font-weight:bold; padding-top:1px; text-transform:uppercase;}
.overAllRatingText {float:left; font-size:11px; font-weight:bold; padding-right:6px; padding-top:5px;}
.backToProductLinkA {text-decoration:none;}
.productSalePrice {padding-right:6px;}
.leftNavStaticElement {color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; padding-top:15px; text-decoration:none;}
#quickViewRight .sr-free-ship {overflow:hidden; width:215px;}
#sr_pdp {float:left; overflow:hidden; padding:10px 0; width:250px;}

#vabacktotop {bottom:0; cursor:pointer; float:left; height:0px; overflow:hidden; position:fixed; right:40px; visibility:hidden; width:75px; z-index:9999; padding-top:82px; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/2013.08.01/rightarrow/backtop.gif); background-repeat:no-repeat; background-position:0 50px; top:300px;}
#vabacktotop:hover {padding-top:82px; background-position:0 -30px;}
/*
#vabacktotop {bottom:0; cursor:pointer; float:left; height:0px; overflow:hidden; position:fixed; right:40px; visibility:hidden; width:75px; z-index:9999;padding-top:31px;background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/CSS/2013.08.01/rightarrow/backtop.gif);background-repeat:no-repeat;background-position:0 0; top:300px;}
#vabacktotop:hover {padding-top:81px;background-position:0 -31px;}
*/

#header, #footer {float:left; padding:0; width:100%;}
#outerContent {margin:0 auto; width:1024px;}
#outerContent #content {float:left; padding:0 74px; width:876px;}
#shell #footer {border-top:1px solid #cccccc;}
#footer #shareSocial #nowTweeting {float:left; width:105px;}
#footer .twtr-widget {float:left; height:45px; overflow:hidden; width:771px;}
#shareSocial #twtfeed {font-size:11px; height:45px; overflow:hidden;}
#optInTable .shellInput {color:#8a8a8a; height:12px; margin:5px 0 0; padding:0; width: 127px;}
#optInTable #emailBtn {margin:5px 0 0;}
.errb, #footer #footerNav .toprow .footerLink {font-weight:bold;}
#topNavGlobal a, #topNavGlobal a:visited, #topNavGlobal a:hover, #topNavGlobal a:active {color:#ffffff;}
#topNavGlobal #topNavSocial img, #topNavGlobal #topNavAccount img {vertical-align:text-bottom;}
#topNavGlobal #topNavAccount div, #topNavGlobal #topNavAccount a {color:#ffffff; display:inline;}
#topNavGlobal #topNavAccount span, #topNavGlobal #topNavAccount span#closetCount {color:#ffffff;}
#header #topSearch table #searchField, #header #topSearch table #searchButton {height:25px; vertical-align:top;}
#header ul#topNavBar2 li a:hover {color:#ec098c;}
ul#topNavBar2 li#sale a {color:#ec098c;}
ul#topNavBar2 li#sale a.current {color:#000000;}
#header ul#topNavBar2 li#sale .mainCat {color:#ec098c; text-decoration:none;}
ul#topNavBar2 li#sale .submenu a {color:#666666;}
ul#topNavBar2 li#sale .submenu a:hover {color:#ec098c;}
ul#topNavBar2 li#sale .submenu a.current {color:#000000;}
#footer #footerNav .toprow .footerLink a:hover, #navlist a.navLink:hover, #navlist a.selected {color:#ec098c;}
.availProdSkuText .preorder {color:#cc0066;}
ul#topNavBar2 li a.current {color:#000000; text-decoration:underline;}
#footer #footerNav .footerLink, #cartControls, #internalMiniBag #shopBagImageHolder, .overAllRating {float:left;}
#footer #footerNav .bottomrow .footerLink a:hover, #seoFooter .link:hover, #seoFooter .linkLast:hover {color:#666666;}
#footer #footerNav .toprow .footerLink a, #optInTable td {color:#4a4a4a; font-weight:bold;}
#img_9w+img, #cookietest, #topSearch .hitcount, #copyRight, #advSearchLink, #cookietest, #topSearch .hitcount, #tcalShade, #unavailableMsg, #productGraphics .viewsMenu #Left span, #productGraphics .viewsMenu #main, #hiddenFields, #itemInfo .hiddenSalePrice, #internalMiniBag #mini_addToCloset, #evShopBag td.cellTL, #evShopBag td.cellT, #evShopBag td.cellTR, #evShopBag td.cellBL, #evShopBag td.cellB, #evShopBag td.cellBR, #tblShopBagShadow, #cartControlsFitGuide, .preorderCarttext {display:none;}
select option, #cartControls #selectableInfo #widthsBlock #widthsLabel .currentWidth, #cartControls #selectableInfo #sizesBlock #sizesLabel .currentSize {padding-left:5px;}
#header #topSearch table #advSearch a, #header #topSearch table #storeLocatorSearch a, .backToProductLinkA:hover {text-decoration:underline;}
#header #topSearch table #storeLocatorSearch a {color:#999999;}
.viewsMenu span, #cartControls #addToCart img {cursor:pointer; float:left;}
#cartControls #selectableInfo #colorsBlock, #cartControls #selectableInfo #widthsBlock, #cartControls #selectableInfo #sizesBlock, #outerContentHolder, #headerHolder, #footerLinksHolder {float:left; width:100%;}
#internalMiniBag #shopBagClose, #paging {float:right;}
#shell #popUps, #shell #pdqvHolder {z-index:951;}
#evShopBagWidget, #evPrintWidget, #evEnlargeWidget {height:0; margin-left:auto; margin-right:auto; position:relative; text-align:left; width:876px;}
.miniCartDividerBottom, .miniCartDividerTop {background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/images/productdetail/nw_dots.gif); background-repeat:repeat-x; float:left; font-size:0; height:1px; line-height:0; margin:0; padding:0; width:100%;}
#pNameHOne, .pNameHOne {color:000000; font-size:15px; line-height:20px;}
.aQuickViewLink, #croosellproductpricingwrapper {float:left; width:172px;}
#topNavGlobalContent, #outerHeader, #footerHolder {margin:0 auto; width:876px;}
#footer .twtr-bd, #footer .twtr-doc {float:left; height:45px; overflow:hidden;}
#spPayPalBtn {width:100%;clear:both;float:right;padding-top:10px;}
#pdCloseHldr, #pdDateHldr {}

#countrySelectWidget {color:#000000; float:left; font-size:12px; padding-top:1px; position:relative; width:105px; z-index:951; background-image:url(http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/images/header/arrow_down.gif); background-repeat:no-repeat; background-position:right 7px;}
#countrySelectWidget a {color:#000000;}
#countrySelectWidget a:hover {text-decoration:underline;}
.countrySelectHolder {}
#countrySelectHolder {cursor:pointer; float:left; width:100%;}
#currentCountry {float:left;}
#countriesDD {float:left; width:50%;}
#countriesDD a {}
.countrySelectLabel {float:left; color:#000000; text-transform:uppercase; padding-right:5px; text-decoration:none; cursor:pointer;}
.countryHeadSpan {padding-right:8px; font-size:12px; text-transform:none;}
.countryFlagSpan {padding:1px 0;}
.countryNameSpan {padding-left:2px;}
#selectedCountry {float:left; width:100%; padding-bottom:10px;}
#countriesDD img {float:left; padding-right:5px;}
#countryLabelHolder {float:left; width:100%; padding-bottom:10px;}
#shell #topNavGlobal #countryLabelHolder span {font-size:11px; font-weight:bold; text-transform:uppercase;}
.currencySelectHolder {display:none;}
#currencySelectHolder {background-color:#ffffff; border:1px solid #999999; float:left; left:-224px; padding:15px; position:absolute; top:22px; width:600px;}
#currencySelectHolder a {color:#000000; float:left; padding-top:3px;}
#currencySelectContent .countrySelectLabel {font-size:12px; padding-right:5px; text-transform:none;}
#countrySelectWidget #currencySelectContent .countryNameSpan {text-transform:uppercase;}
#currenciesDD {float:left; width:50%;}
#currencySelectContent {float:left; width:100%; padding-bottom:10px;}
.currencySelectLabel {float:left; width:100%; padding-bottom:10px; font-size:12px; text-transform:none;}
#shell #topNavGlobal .currencySelectLabel span {font-size:11px; font-weight:bold; text-transform:uppercase;}
#selectedCurrency {float:left; width:100%; padding-bottom:10px;}
#currencyCloseHolder {}
#currencyCloseHolder #currencyClose {float:right; width:43px;}
#currencyHeader {float:left; font-size:12px; padding-bottom:15px; text-transform:none; width:545px;}
#currencyHeader p {float:left; font-size:12px; font-weight:bold; letter-spacing:1px; padding-bottom:10px; text-transform:uppercase; width:100%;}
#currencyHeader div {float:left; width:100%;}
#countrySelectWidget option {background-repeat:no-repeat; padding:2px; float:left; height:12px; font-size:11px; text-transform:none;}
#countrySelectWidget select {font-size:11px; text-transform:none;}
#countrySelectWidget #country option {padding-left:25px;}
#countrySelectWidget #buttonHolder {float:left; padding:20px 0 14px; width:100%;}
#countrySelectWidget #button1Holder {float:left;}
#countrySelectWidget #button2Holder {float:left; padding-left:26px;}
#countrySelectWidget #buttonHolder a {background-color:#000000; color:#ffffff; float:left; font-size:11px; padding:4px 0 5px; text-align:center; text-decoration:none; width:274px;}
#countrySelectWidget label {float:left; width:100%; font-size:11px; text-transform:none;}
#countrySelectWidget #currencyFooter {float:left; font-size:12px; width:100%; text-transform:none;}
#countrySelectWidget #currencyFooter a {float:none; text-decoration:underline;}
#shell #topNavGlobal #topNavSocial {width:300px;}
#topNavGlobal #topNavAccount #countrySelectWidget {color:#000000; text-align:left;}
#topNavGlobal #topNavAccount #countrySelectWidget img {margin-top:-1px;}
#topNavGlobal #topNavAccount .currencySelectHolder {display:none; color:#000000;}
#topNavGlobal #topNavAccount .currencySelectHolder div, #topNavGlobal #topNavAccount .currencySelectHolder a, #topNavGlobal #topNavAccount .currencySelectHolder span {color:#000000;}
#quickViewBottom {display:none;}
#headerHolder {position:relative; z-index:101;}
#topNavGlobal #topNavAccount .currencySelectHolder #buttonHolder a {color:#ffffff;}
#modal a {text-decoration:underline;}
.pr_controlEdit{}
.pr_proControl_right, #promo_gift_card_div a{}

@font-face {font-family: 'Humanist521BT-Roman';src: url('/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/webfonts/23440A_1_0.eot');src: url('/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/webfonts/23440A_1_0.eot#iefix') format('embedded-opentype'),url('/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/webfonts/23440A_1_0.woff') format('woff'),url('/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/webfonts/23440A_1_0.ttf') format('truetype');}
/*
@font-face {font-family: 'Humanist521BT-Roman';src: url('http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/webfonts/23440A_1_0.eot');src: url('http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/webfonts/23440A_1_0.eot?#iefix') format('embedded-opentype'),url('http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/webfonts/23440A_1_0.woff') format('woff'),url('http://demandware.edgesuite.net/aaca_prd/on/demandware.static/Sites-ninewest-Site/Sites-ninewest-Library/default/v1417583707303/webfonts/23440A_1_0.ttf') format('truetype');}
*/

.Humanist521BT-Roman
{
font-family: Humanist521BT-Roman;
font-weight: normal;
font-style: normal; }

#intl_continue_ussite {display: none;}
#intl_message {padding-bottom: 20px;}
#intl_close_container {display: none;}
#navlist a {color:#000000;}
#navlist a:hover {color:#EC098C;}
#omnitureTracking {display:none;}
#fields div {height:30px;}

/*certona*/

.product {float:left; width:172px;}
.productOldText{float:left;padding-right:5px}


/*.container { position:absolute;}*/
/*#tabOne{position:absolute;border-right: 1px solid black;}
#tabTwo{position:absolute;}
#certona_pdp_1{ float:left;margin-top:30px;}
#certona_pdp_2{ float:left; margin-top:30px;display:none;}*/

/*find in store */
#pdqv #findInStoreHolder {display:none;}
#inProgress{display:none;}

body ._SRD .srd_iconline .srd_msg {/*float:left;*/font-size:12px;}
body ._SRD .srd_iconline .srd_logo{/*margin-right:7px !important;*/float:none !important;}
/*body ._SRD .srd_a_newline{display:inline !important;}*/
#srd_cs{margin-left:0 !important;}
