.ContentPink{color:#000;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none}
.RegPrice{color:#000;font-family:Arial, Helvetica, sans-serif;font-size:12px}
.RegPrice_Grey{color:#9a9a9a;font-family:Arial, Helvetica, sans-serif;font-size:12px}
a.cart666666_10:link{font-family:Verdana;color:#666;font-size:10px;text-decoration:none}
.cart666666_12{color:#9a9a9a;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-decoration:none}
a.cart666666_12:link{font-family:Arial, Helvetica, sans-serif;color:#9a9a9a;font-size:12px;text-decoration:none}
a.cart666666_12:hover{font-family:Arial, Helvetica, sans-serif;color:#ec519d;font-size:12px;text-decoration:none}
.ContentGrey{color:#CCC}
.cart333333{color:#333;font-family:Verdana;font-size:9px}
.headerTotal{color:#000;font-family:arial;font-size:12px;text-transform:uppercase;text-decoration:none}
a.headerTotal:link{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:12px;text-decoration:none}
a.headerTotal:hover{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:12px;text-decoration:underline}
a.ContentPink:link{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:12px;text-decoration:none}
a.ContentPink:hover{font-family:Arial, Helvetica, sans-serif;color:#333;font-size:12px;text-decoration:none}
.errormessage{color:#fff;font-family:Verdana;font-size:9px;position:absolute;top:133px;left:705px;width:274px;background-color:#ec519d;border:1px solid #ccc;z-index:4;padding:5px}
.ContentPink9px{color:#ec519d;font-family:Verdana;font-size:9px;text-decoration:none}
.ContentWhite{color:#fff;font-family:Verdana;font-size:10px}
a.ContentWhite:link{font-family:Verdana;color:#fff;font-size:10px;font-weight:700}
a.ContentWhite:hover{font-family:Verdana;color:#333;font-size:10px;font-weight:700}
a.crfn:hover{font-family:Arial;color:#000;font-size:11px;text-decoration:none}
a.darktopink:hover{font-family:Verdana;color:#ec519d;font-size:10px}
.Content14{font-family:Verdana;font-size:14px;color:#333;text-decoration:none}
a.Content14:link{font-family:Verdana;color:#333;font-size:14px;text-decoration:none}
a.Content14:hover{font-family:Verdana;color:#ec519d;font-size:14px;text-decoration:none}
.Content9px{font-family:Verdana;font-size:9px;color:#333;text-decoration:none}
.cart666666_9{color:#666;font-family:Verdana;font-size:9px;text-decoration:none}
a.cart666666_9:link{font-family:Verdana;color:#666;font-size:9px;text-decoration:none}
.pagination{color:#ec519d;font-family:Verdana;font-size:10px;text-decoration:underline}
a.pagination:link{font-family:Verdana;color:#ec519d;font-size:10px;text-decoration:underline}
a.pagination:hover{font-family:Verdana;color:#333;font-size:10px;text-decoration:underline}
.MagicZoomBigImageCont{border:2px solid #ccc}
.MagicZoomHeader{font:10px Tahoma, Verdana, Arial, sans-serif;color:#fff;background:#ccc;text-align:center}
.MagicZoomPup{border:2px solid #333;background:#}
img{border-style:none}
.addressbook td{padding-left:7px;padding-top:3px;font-family:Verdana;font-size:10px;color:#333;text-decoration:none}
.order_summary_td td{padding-top:5px}
.bread_div{position:absolute;top:202px;left:200px;z-index:0;width:355px;height:20px}
.Total_div_points_div{position:absolute;top:176px;left:777px;z-index:0;width:191px;height:58px}
.small_header_div{position:absolute;top:240px;left:231px;z-index:0;width:300px}
.small_header_content_div{position:absolute;top:289px;left:180px;z-index:0;width:735px;height:641px}
.PinkCurve_div{position:absolute;top:170px;left:167px;z-index:0;width:14px;height:33px}
.darkPinkNav_div{position:absolute;top:162px;left:0;z-index:0;width:167px}
.viewAnother_div{position:absolute;top:302px;left:238px;z-index:0;width:735px;height:54px}
.Content_lower_div{position:absolute;top:385px;left:230px;z-index:0;width:735px;height:641px}
.youAreviewing_div{position:absolute;top:256px;left:572px;z-index:0;width:406px}
.viewyour_div{position:absolute;top:256px;left:758px;z-index:0;width:220px}
.Content_no_headbread{position:absolute;top:192px;left:206px;z-index:0;width:772px;height:151px}
.Contest_div{position:absolute;top:192px;left:204px;z-index:1;width:772px}
.PromoArea_div{position:absolute;top:170px;left:167px;z-index:0;width:806px}
.PromoArea_content_div{position:absolute;top:542px;left:183px;z-index:1;width:808px;height:151px}
.divastyle_account_info{position:absolute;top:225px;left:179px;z-index:0;width:791px;height:453px}
.fashion_trends_div{position:absolute;top:302px;left:230px;z-index:0;width:898px;height:653px}
.nodes_div{position:absolute;top:546px;left:183px;z-index:1}
.LogoLink{position:absolute;top:10px;left:2px;z-index:1;width:210px;height:109px}
.nodePageContent{position:absolute;top:192px;left:206px;z-index:0;width:737px;height:151px}
.customer_service_div{position:absolute;top:-2px;left:780px;z-index:0;width:193px;height:51px}
#error_close{position:absolute;top:135px;left:770px;z-index:20;border:0 solid #666}
#dropdowntd{background:url(/media/torrid/images/external/dropdown.gif);background-repeat:no-repeat;padding-left:10px;padding-top:10px}
#error_contentBox{border:0 solid #666;height:0;visibility:hidden;position:absolute;overflow:hidden;margin-top:32px;padding:2px}
#error_content{position:relative;font-family:Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;width:100%;font-size:.8em}
#error_slidedown{position:absolute;width:290px;height:120px;z-index:15;right:0;top:0}
#checkout_window{position:absolute;top:103px;left:768px;z-index:1;width:100px}
.nodePageContentWithPromo{position:absolute;top:542px;left:183px;z-index:0;width:808px;height:151px}
#nodepage1{padding-bottom:10px}
#nodepage3{padding-top:5px;padding-bottom:5px;padding-left:5px}
#nodepage5{padding-top:20px}
#nodepage6{padding-top:350px}
#nodepage7{padding-left:20px;padding-right:20px;padding-top:10px}
#nodepage8{border:1px solid #dacfc7}
#nodepage9{padding-left:20px;padding-right:20px;padding-top:20px}
.slantStrike{text-decoration:line-through}
.slantStrikeProduct{background:transparent url(/media/torrid/images/external/Slash_productpage.gif) no-repeat center center}
#international{position:absolute;top:31px;right:0;z-index:0;width:300px;height:20px;visibility:visible}
.e4x{font-family:Arial, Helvetica, sans-serif;color:#666;font-size:12px;text-decoration:none;vertical-align:middle}
.mid{vertical-align:middle}
div.country_flags{border-top:2px solid #000;border-bottom:2px solid #000;margin:20px 0 0;padding:0 30px 30px 40px}
.flag_img{margin:8px 8px 0 2px}
.flag_td{vertical-align:top}
.flag_a{color:#000;font-size:14px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;font-weight:700}
#centering{width:1024px;position:relative;text-align:left;margin-top:35px}
#topPromo{width:215px;height:auto;overflow:hidden;border:solid 1px #000;font-family:arial;font-size:16px;margin-top:2px;line-height:96%;padding:10px 5px 0 10px}
#topPromo span{color:#f15fa6}
#topPromo a{color:#f15fa6;text-decoration:none;font-family:arial;font-size:9px;margin-right:5px}
#BluePull a{color:#000;text-decoration:none;font-family:arial;font-size:11px;text-transform:uppercase}
#copyright{font-family:arial;border-top:1px solid #000;margin-top:4px;margin-bottom:10px;padding-top:15px;text-align:center;text-transform:uppercase;font-size:8px;color:#999}
.searchInputBox{border:solid 1px #000;font-family:arial;font-size:9px;color:#333;width:150px;height:18px}
.clear{clear:both}
#nav{list-style:none;font-family:arial;font-size:14px;font-weight:400;margin:0;padding:0}
#nav li{float:left;display:block;background-color:#fff;position:relative;z-index:500;margin-left:20px}
#nav li a{display:block;font-weight:400;text-decoration:none;text-align:center;color:#000;text-transform:uppercase;padding:5px}
#nav li a:hover{color:#FFF;background-color:#000}
#nav a.selected{background-color:#000;color:#FFF}
#nav ul{position:absolute;left:0;display:none;list-style:none;background-color:#FFF;margin:0 0 0 1px;padding:0}
#nav ul li{width:221px;float:left;border-top:1px solid #ccc;margin-left:-1px;background-color:#FFF}
#nav ul a{display:block;color:#000;text-align:left;text-transform:capitalize;font-size:12px;font-weight:400;padding:5px 10px}
#nav ul a:hover{text-decoration:none}
*html #nav ul{margin:0 0 0 -2px}
.dropShadow{-moz-box-shadow:0 2px 3px #000;-webkit-box-shadow:0 2px 3px #000;box-shadow:0 2px 3px #000;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=90,Color='#000000')}
.newLeftNav{font-family:Arial;font-size:11px;color:#333;text-decoration:none;font-weight:400}
a.newLeftNav:link{font-family:Arial;color:#333;font-size:11px;text-decoration:none;font-weight:400}
a.newLeftNav:hover{font-family:Arial;color:#333;font-size:11px;text-decoration:underline;font-weight:400}
#headerTopLinks{font-family:arial;font-size:11px;position:absolute;top:10px;right:0;width:auto;margin-right:24px}
#headerTopLinks a{color:#000;text-decoration:none;margin-left:10px;text-transform:uppercase;padding:0}
.topNavSpace{margin-left:10px}
#headerTopLinks div{height:13px}
#signInOut a{font-size:9px;color:#EA529D}
#dynamicFooter{font-family:arial;margin-top:10px;height:auto;overflow:hidden;color:#000;font-size:11px;border-top:solid 1px #000;padding-top:15px}
#footerCustomerService{width:246px;float:left;margin-left:30px}
.pinkColor{color:#eb539e}
.footerGray{font-size:10px;color:#939598}
#footerBlueLinks{float:left;width:464px;margin-left:4px}
#footerBlueLinks a{color:#000;text-decoration:none;text-transform:uppercase}
#footerBlueLinks a:hover{color:#333}
#footerBlueLinks div{float:left;width:152px}
#footerEmailLite{margin-left:32px;float:left}
#emailLiteField{color:#999;font-size:10px;padding-left:5px;border:solid 1px #000;height:18px;width:150px;text-align:left;float:left}
#emailLiteBtnHolder{background-color:#000;float:left;padding:4px 3px}
#emailLiteBtn{color:#FFF;border:solid 1px #FFF;text-decoration:none;padding:0 7px}
#footerPromo{margin-top:10px}
#myBagDetails{right:0;top:141px;position:absolute;z-index:600;font-weight:600;margin-right:24px}
#myBagDetails a{font-weight:600}
#fulCrumSearch{width:150px;height:23px;float:right;overflow:hidden}
#fulCrumSearch input{font-size:10px;padding-left:5px;color:#999}
#promoBar{position:absolute;left:25px;top:16px;z-index:22}
#topnavUpdate{position:absolute;left:0;top:134px;z-index:10;width:1024px;border-bottom:1px solid #000;padding-bottom:0}
#torridHPHolder{position:absolute;top:175px;left:0;z-index:1;height:400px;width:800px}
#FooterColumn3{margin-left:56px;width:85px!important}
.CheckoutTxt_Grey,.cart666666_10{color:#666;font-family:Verdana;font-size:10px;text-decoration:none}
a.cart666666_10:hover,a.darktopinkX_:hover,a.Content:hover{font-family:Verdana;color:#ec519d;font-size:10px;text-decoration:none}
a.ContentPink9px:link,a.Content9px:hover,a.cart666666_9:hover{font-family:Verdana;color:#ec519d;font-size:9px;text-decoration:none}
a.ContentPink9px:hover,a.Content9px:link{font-family:Verdana;color:#333;font-size:9px;text-decoration:none}
.copyright,a.copyright:link{font-family:Verdana;color:#fff;font-size:10px;font-weight:700;text-decoration:none}
a.copyright:hover,a.copyrightFooter:hover{font-family:Verdana;color:#000;font-size:10px;font-weight:700;text-decoration:none}
.copyrightFooter,a.copyrightFooter:link{font-family:Verdana;color:#676767;font-size:10px;font-weight:700;text-decoration:none}
.crfn,a.crfn:link{font-family:Arial;color:#676767;font-size:11px;text-decoration:none}
.darktopink,a.darktopink:link{font-family:Verdana;color:#333;font-size:10px}
.darktopinkX_,a.darktopinkX_:link,a.Content:link,a.BlackLink:link,a.BlackLink:hover{font-family:Verdana;color:#333;font-size:10px;text-decoration:none}
.Content,.BlackLink{font-family:Verdana;font-size:10px;color:#333;text-decoration:none}
.Diva_promo_area,#member_promo{position:absolute;top:658px;left:231px;z-index:0;width:801px;height:261px}
#nodepage2,#nodepage4{padding-right:50px}