@media screen and (max-width:767px){

	/* Stop mobile font-size adjustments */
	/* ------------------------------------- */
	
	body {-webkit-text-size-adjust: none;}
	
	/* Ensure no content extends beyond page wrapper */
	/* ------------------------------------- */
	
	//div,img {max-width:100%;}
	
	/* Adjust the forms to be more mobile-friendly */
	/* ------------------------------------- */
	
	input[type="text"], input[type="password"], textarea, select {width:90%;}
	.form-row-button {margin-left:0;}
	.form-inline label {padding:0;}
	.form-inline button {width: 50% !important;}
	.form-indent{margin-left:2%;}
	legend {padding: 14px 30% 10px 2%; width: 68%;}
	.label-inline input {height: 2em;margin:0;padding:0;}
	.label-inline label {margin:0;}
	.form-field-tooltip {display:none;}
	
	/* Primary page regions: remove padding, update width */
	/* ------------------------------------- */
	
	.print-page,
	.size-chart-link,
	#tooltip {display:none !important;}
	.form-field-tooltip {float:none;margin:0 0 10px 5px;width:auto;}
	.ui-dialog {max-width:98%;}
	.ui-dialog .ui-dialog-content {height: auto !important; overflow: visible;}
	#wrapper{border:0;font-size: 14px; max-width:100%; min-width:320px; width:100%;}
	#main {padding: 0;}	
	#primary{background:none;border:0 !important;float:none;margin:0;padding-left:0 !important;width:100% !important;}
	.col-1,.col-2{float:none;width:100%;}
	.scrollable {height:auto;}
	.scrollable li {float:left;}
	.scrollable li a {border:1px solid #d9d9d9;border-radius:6px;display:block;padding:.2em .8em;}
	
	/* Header elements need to be re-positioned */
	/* ------------------------------------- */
	
	#header{height:auto; padding: 0;}
	#header .primary-logo img {max-width:100%;}
	.menu-utility,.menu-utility-user{clear:none;float:right;letter-spacing:0;margin:0;overflow:hidden;}
	.menu-utility li,.menu-utility-user li{padding:0 5px;}
	.header-banner{float:none;margin:10px 5px;}
	.mini-cart-products  {max-height: 100%;}
	.mini-cart-content {max-width: 220px;}
	.mini-cart-label{margin-right:0;}
	.mini-cart-item-word,
	.mini-cart-total-label{display:none;}
	.header-search input[type="text"]{}
	.header-search input[type="submit"]{}

	/* Navigation adjusted, stacked so it's easier to use */
	/* ------------------------------------- */
	
	#navigation {padding: 0 ;width:100%;}
	#navigation h1{background:#000000 url('../images/interface/icon-nav-arrow.png') 95% center no-repeat;color:#ffffff;cursor:pointer;font-weight:normal;margin:0;padding:.7em;position:relative;height:auto;text-transform:uppercase;width:auto;}
	ul.level-1 a span {float:right;}
	ul.level-1 .last a.level-1{border:0;}
	ul.level-1 li{float:none;}
	.js ul.level-1 li:hover div.level-2 {display:none;}
	div.level-2{position:relative;}
	div.level-2.menu-horizontal li{border:0 !important;float:none !important;}
	div.level-2 .custom {display: none;}
	
	/* Reduce primary header size */
	/* ------------------------------------- */
	
	.primary-content h1 {margin:10px 0;}
	
	/* Grid, product tile layout adjustments */	
	/* ------------------------------------- */
	

	.search-result-options .items-per-page {display:none;}
	.search-result-options .pagination {margin:0;}
	.wide-tiles .product-tile .product-image{width:41%;}
	.wide-tiles .product-tile .product-name, .wide-tiles .product-tile .product-pricing, .wide-tiles .product-tile .product-promo, .wide-tiles .product-tile .pr_stars, .wide-tiles .product-tile .product-swatches {
float: right;}
	.wide-tiles .product-tile .product-name h2 { margin-top:0px}
	
	.product-tile .product-swatches .swatch img {height:2em;width: 2em;}
	.product-listing-1x4 ul.search-result-items .grid-tile {margin:2%; width: 92%;}
	.product-compare,.compareitems {display:none !important;}
	
	/* Pdp */
	/* ------------------------------------- */
	
	.pt_product-details .primary-content {padding-bottom: 0;}
	.pt_product-details .breadcrumb .last {display:none;}
	#product-nav-container {bottom: 0;width:100%;}
	#product-nav-container div {width: 60px;}
	#product-nav-container div.product-next {float:right;}
	#product-nav-container .divided span {border:0;}
	.pdp-main .product-col-1,
	.pdp-main .product-col-2,
	.pdp-main .product-name	 {clear:both;float:none;margin:0;width:100%;}
	.pdp-main .attribute span.value {padding-top:5px;}
	.pdp-main .product-add-to-cart .inventory {width: 100%;}
	.pdp-main .product-add-to-cart .product-price {padding:30px 10px;text-align:left;width: 100%;}
	.pdp-main .product-add-to-cart button {clear:both;width:100%;}
	.ui-tabs .ui-tabs-nav li a {width: auto;}	
	.pdp-main .product-set-list .product-set-image img {max-width: 90%;}
	.pdp-main .product-set-list .block-add-to-cart .inventory {margin:0; width:23%;}
	.pdp-main .product-set-list .block-add-to-cart .product-price {width:44%;}
	.pdp-main .product-review-links {margin-left:6%;}
	.pdp-main .prSnippetTitle {float:left;}
	.pdp-main .prSnippetRatingUnclickable {float:left;}
	
	/* size chart */
	/* ------------------------------------- */
	
	.sizinginformation {padding:0;}
	.sizinginformation th{font-weight:normal;padding:0 0 0 2px;}
	.sizinginformation td {background:#ffffff;padding:5px;text-align:center;}
	.sizinginformation .sizechart{padding:0 !important;}
	.ui-dialog .ui-dialog-content {padding:.25em;}
	
	/* Cart: tables need to be broken up and cells stacked */
	/* ------------------------------------- */
	
	.pt_cart #secondary{display:none;}
	#cart-table thead{display:none;}
	#cart-table .item-image{float:left;text-align:center;width:40%;}
	#cart-table .item-details{float:left;width:70%;}
	#cart-table .item-quantity{clear:both;float:left;text-align:center;width:40%;}
	#cart-table .item-quantity input {text-align:center;width: 50px;}
	#cart-table .item-quantity-details{float:left;width:44%;}
	#cart-table .item-price{clear:both;float:left;margin-left:30%;width:70%;}
	#cart-table .item-total{float:right;text-align:right !important;margin-left:30%;width:70%;}
	.cart-coupon-code .input-text{width:50%;}
	.cart-coupon-code{clear:both;float:none;width:100%;}
	.cart-actions{margin:auto;overflow:hidden;}
	.cart-order-totals{border-top:1px solid #D9D9D9;clear:both;float:none;margin:20px 0;padding:20px 2%;width:96%;}
	.cart-order-totals button {margin:0 0 20px;}
	.cart-order-totals td{width: 50%;}
	
  #cart-table .item-total .promo-adjustment{width:auto;}
  .pdp-main .product-col-1{margin-left:0;}
  
	
	/* Checkout */
	/* ------------------------------------- */
	
	.checkout-progress-indicator {clear:both;margin-bottom:3%;position:relative;overflow:hidden;text-align:left;top:auto;}
	.order-summary-footer h2 {width:50%;}
	.place-order-totals .order-totals-table  {width: 100%;}
	.payment-method-options {padding:0;}
	.payment-method-options .form-row {width:100%;}
	.pt_order-confirmation .item-list th {display:none;}
	.pt_order-confirmation .item-list td {float:left;padding:1em 0;width:98%;}
	.pt_order-confirmation .item-list .order-totals-table td {float:left;width: 48%;}
	.pt_order-confirmation .order-shipment-table th {display:none;}
	.pt_order-confirmation .order-shipment-table .shipping-method {padding-left:0;}
	
	/* account pages */
	/* ------------------------------------- */
	
	.content-asset ul.account-options li {float:none;width: auto;}
	ul.address-list li,
	ul.payment-list li{float:none;width: auto;}
	.order-history-header button {padding:.25em;}
	
	/* Gift certificates */
	/* ------------------------------------- */
	
	
	/* Gift registry */
	/* ------------------------------------- */
		
	.page-content-tab-navigaton button {width:100%;}
	.pt_gift-registry .add-gift-cert button {width:100%;}
	.pt_gift-registry .add-gift-cert p {width: 100%;}
	.pt_gift-registry .create-new-registry p {display:none;}
	.pt_gift-registry .create-new-registry {overflow:hidden;}
	.pt_gift-registry .item-list {width:98%;}
	.pt_gift-registry .item-list th {display:none;}
	
	/* report tables */
	/* ------------------------------------- */

	table.item-list .item-image,
	table.item-list .item-details,
	table.item-list .item-availability,
	table.item-list .item-dashboard {display:inline-block;}
	table.item-list .item-image {width: 30%;}
	table.item-list .item-details{width: 50%;}
	table.item-list .item-availability {width: 97%;}
	table.item-list .item-dashboard {width: 97%;}
	table.item-list .delete-registry {text-align:center;}
	table.item-list th.section-header {background-image:none;}
	.list-table-header {padding: 1em !important;}
	.list-table-header .button {display:block;margin:20px 0;width: 196px;}
	.list-table-header p {display:none;}
	.list-table-header button {display:block;width: 260px;}
	
	/* Homepage assets */
	/* ------------------------------------- */

	.home-bottom-left {width: 100% !important;}	
	.home-bottom-center {width:100% !important;}	
	.home-bottom-right {clear:both;float:none;width: 100% !important;}	
	.home-bottom-right .product-tile{min-height:0;}
	.product-tile .product-image {height:auto;}
	#email-alert-signup {margin:0;text-align:center;width: 100%;}
	#email-alert-signup label {text-align:center;width: 100%;}
	#email-alert-signup input[type="text"] {margin:0;}
	#email-alert-signup input[type="image"] {vertical-align: bottom;}
	.facebook-registration {left:-3px;}
	.facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100.7% !important;}
}

/* Bump up to a min-480 viewport */

@media screen and ( min-width:480px) and (max-width:767px){
	#wrapper {width:100%; }
	
	.product-tile .pr_stars {left:40px}
	
	.wide-tiles .product-tile .product-name h2 {margin-top:10px;}
	.wide-tiles .product-tile .product-image {width:38%}
	
	.facebook-registration {left:0px;}
	.facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100% !important;}
	#preferred-store-panel input[type="text"] {width:49.5966%;}
}

/* 768px layout: make minor adjustments from full layout. None of the mobile styles above used, based on media queries */

@media screen and ( min-width:768px) and (max-width:1025px){
	
	/* set page, primary regions width */
	/* ------------------------------------- */

	#wrapper{width:100%;}
	.primary-focus .primary-content{width:540px;}
	.primary-focus #secondary{width:210px;}
	.html-slot-container img,
	.bottom-banner-cell img {max-width:100%;}
	
	/* various page tweaks */
	/* ------------------------------------- */
	
	.ui-dialog {max-width:98%;}
	.ui-dialog .ui-dialog-content {height: auto !important; overflow: visible;}
	.scrollable {height:auto;}
	.mini-cart-total-label{display:none;}
	.menu-utility {clear:both;margin: .7em 0;}
	.mini-cart-products  {max-height: 100%;}
	.header-banner {margin:0;}
	.header-search input[type="text"]{}
	ul.level-1 a{padding:10px 5px;}
	.pdp-main .product-add-to-cart .product-price {font-size: 18px;margin-top:12px;}
	.pdp-main .product-add-to-cart button {font-size: 18px;margin-top:20px;}
	.pdp-main .recommendations .jcarousel-clip {width:200px;}
	.pdp-main .product-set-list .block-add-to-cart button {margin-top:3px;}
	table .section-header {font-size: 1em !important;}
	#compare-table td .product-tile {width:79px;}
	.pt_gift-registry .add-gift-cert p {width: auto;}
	#cart-table .item-total .promo-adjustment {width:77px;}
	
	/* homepage assets */
	/* ------------------------------------- */
		
	.home-bottom-right .product-tile{min-height:0;}	
		
	.facebook-registration {left:0px;}
	.facebook-registration,.facebook-registration .fb_iframe_widget,.facebook-registration .fb_iframe_widget span,.facebook-registration .fb_iframe_widget span iframe {position:relative;width:100% !important;}

}

@media screen and ( min-width:1026px) and (max-width:1260px){
	
	/* set page, primary regions width */
	/* ------------------------------------- */

	#wrapper{width:100%;}
}

@media screen and (max-width:480px){
	#navigation h1 {top:2px}
	.header-search input[type="submit"]{}
	div#wrapper.pt_gift-registry{font-size:12px;}
	#preferred-store-panel input[type="text"] {width:49.5966%;}
}
	