/*** For small stars ***/
#delRating-00 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px 2x; width:85px; height:18px;}
#delRating-05 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -16px; width:85px; height:18px;}
#delRating-10 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -34px; width:85px; height:18px;}
#delRating-15 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -52px; width:85px; height:18px;}
#delRating-20 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -70px; width:85px; height:18px;}
#delRating-25 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -88px; width:85px; height:18px;}
#delRating-30 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -106px; width:85px; height:18px;}
#delRating-35 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -124px; width:85px; height:18px;}
#delRating-40 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -142px; width:85px; height:18px;}
#delRating-45 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -160px; width:85px; height:18px;}
#delRating-50 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") no-repeat 0px -180px; width:85px; height:18px;}


/*** For BIG stars ***/
#delRating-big-00 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px 3px; width:112px; height:24px;}
#delRating-big-05 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -20px; width:112px; height:24px;}
#delRating-big-10 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -43px; width:112px; height:24px;}
#delRating-big-15 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -66px; width:112px; height:24px;}
#delRating-big-20 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -89px; width:112px; height:24px;}
#delRating-big-25 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -112px; width:112px; height:24px;}
#delRating-big-30 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -135px; width:112px; height:24px;}
#delRating-big-35 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -158px; width:112px; height:24px;}
#delRating-big-40 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -181px; width:112px; height:24px;}
#delRating-big-45 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -204px; width:112px; height:24px;}
#delRating-big-50 {background:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") no-repeat 0px -227px; width:112px; height:24px;}

.prStarDiv {float:left;margin-bottom: 15px;}
/*** Over-ride PWR Rev ***/
.pr-stars-small{
	height:16px;
	line-height:16px;
	width:85px;
	background-image:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif");
}

.pr-snippet-stars .pr-stars-small, .pr-modal-container .pr-stars {
    background-image: url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif");
    float: left;
    height: 15px;
    line-height: 15px;
    width: 85px;
}

.pr-snapshot-rating .pr-stars, .pr-review-faceoff .pr-stars, .pr-modal-container .pr-stars, .pr-modal-container .pr-review-faceoff-review-content .pr-stars {
    background-image: url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif");
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 0.5em 0 0;
    width: 112px;
}

.pr-snippet-wrapper {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	padding: 0;
	text-align: left;
}

.pr-snippet-stars {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    margin-right: 0.3em;
    padding: 0.3em;
}

.pr-snippet-stars .pr-snippet-rating-decimal {
    background-color: #414142;
    color: #FFFFFF;
    display: none;
    padding: 0 0.2em;
}

.pr-snippet-review-count {
    font-size: 95%;
    line-height: 19px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 185px;
	display:none;
}

.pr-snippet-read-write {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    clear: none;
    float: right;
    font-size: 77%;
	margin-right: 119px;
    margin-top: 6px;
    padding: 0;
    text-align: center;
}

.pr-snippet-read-reviews {
    border-right: medium none;
    float: left;
    padding: 0 12px;
}

.pr-snippet-write-review {
    float: left;
    padding: 0 4px;
}

.pr-snippet-read-write a.pr-snippet-link {
    color: #676767;
}

.pr-snippet-read-write a.pr-snippet-link span {
    font-size: 11px;
    font-weight: normal;
}
 div.prStars.prStarsSmall {
	background-image:url("/images/delias/en_us/global/globalgraphics/delias_star_ratings_small.gif") !important;
}
div.prStars {
    background-image: url("/images/delias/en_us/global/globalgraphics/delias_star_ratings.gif") !important;
}


/*** DON'T DELETE  THE FOLLOWING LINE - THIS IS TO REMOVE THE UNWANTED CONTENTS FROM POWER REVIEW'S WRITE REVIEW PAGE ***/
#pros, #cons, #bestuses, #describeyourself, #wasthisagift, #comfortvsstyle, #length, #waist, #inseam, #width, #viewonshoes {display:none;}