/* Shoprunner CSS OverRides */
.sr_registrationLink a,
.sr_signInLink a,
.sr_productLearnMoreLink a,
.sr_eddMsg a,
.sr_message a,
.sr_productMessage a,
.sr_edd_link a,
div.sr_gProduct div.sr_productMessage a,
div#sr_guestSubHeader a, div#sr_memberSubHeader a,
div#sr_guestSubHeader a:hover, div#sr_memberSubHeader a:hover {
    color:#577F17 !important;
}
div.sr_gProduct {
    width:auto !important;
}
.directoryGridRow div.sr_gProduct div.sr_productMessage {
	width:180px !important;
}
.directoryListRow div.sr_gProduct div.sr_productMessage {
	width:auto !important;
}
.sr_productDetailDiv {
	padding: 10px 0 0 0;
}
.accRightContainer .sr_mCatalogProductGrid,
.accRightContainer .sr_mshippingSummaryMessage {
	width: auto !important;
}

.accRightContainer .sr_cartSummaryMessage {
	width: 210px !important;
}

div.sr_gProduct div.sr_productMessage a