.monoQ  {
    background-image: url('/media/images/productDetail/monogram_sprite_v2_m56577569832079182.gif');
}
.monogram-edit-button, .monogram-delete-button {
    background-image: url('/media/images/checkout2/checkout_v2_m56577569832188573.png');
}
.factory .pdp-bag-button {
background-image: url('');   
}  
.social-icon,
#tumblr_button a {
    background-image: url(/media/images/sprites/social-media_v2_m56577569832104436.png);
}
.mw-footer .subscribe-email button.submit{
    background-image:url();
    background-position:0 -35px;

}
.mw-footer .subscribe-email input[type="submit"]:hover{
    background-position:0 0;
}

.mw-footer #ftrCol7 .ftr-item a {
    background-image:url();
}
#ftrCol7 div:nth-child(9) a{
    background-image:none!important;
}
.leftnav.leftnav1{
    background:url(/media/images/btn-return_v2_m56577569832109854.png) no-repeat 0 180px;
}
.outfit-wrap .next
    , .outfit-wrap .prev
        , .outfit-wrap .close{
    background:url(/media/images/ex/btn-carousel-nav_v2_m56577569832109860.png) no-repeat;
}
.outfit-wrap{
  background:url(/media/images/ex/bg-rule_v2_m56577569832109861.png) no-repeat #fff 27px 39px;
}

.backBtn {
    background:url(/media/images/giftguide/backgg_v2_m56577569833217440.png);
}






