.leftnav{
	display:block;
	width:192px;
	font-family:Arial,sans-serif;
	font-size:10px;
	color:#666;
	text-align: left;
	padding: 20px 0 20px 0 ; //after top nav revamp
}

.leftnav ul {
	list-style:none;
	margin: 4px 0px 0px 0px;
	padding:0px;
	display:block;
}

.leftnav .navsection,
.leftnav .navsection_ftr,
.leftnav .navsection_kids{
	padding-bottom:17px;
	padding-right: 15px;
}

.leftnav .navsection_ftr .navsection_hdr,
.leftnav .navsection_ftr .navsection_hdr a,
.leftnav .navsection_kids .navsection_hdr,
.leftnav .navsection .navsection_hdr,
.leftnav .navsection .navsection_hdr a {
	font-size:11px;
	color:#000;
	font-weight:bold;
}

.leftnav li {
	letter-spacing: 1px;
	width: inherit;
	line-height:13px;
	margin-bottom: 5px;
}

.leftnav a {
	color:#666;	
	font-size:10px;
	text-decoration: none;
	_display: inline-block; /* IE6 */
	vertical-align: middle;
}

.leftnav img {
	vertical-align: bottom;
	_display: inline-block; /* IE6 */
	margin-bottom: 2px;
}

.leftnav ul.navsection_ftr a {
	text-decoration: underline;	
}

.leftnav ul.navsection_ftr a:hover,
.leftnav ul.navsection_ftr .navsection_hdr a,
.leftnav ul.navsection_ftr .leftnav_active a,
.leftnav ul.navsection_ftr .leftnav_sub_sub a {
	text-decoration: none;
}

.leftnav ul.navsection_ftr .navsection_hdr a {
	font-weight: bold;
	font-size: 10px;
}

.leftnav .navsection_kids .navsection_hdr a {
	font-weight: normal;
	font-size: 10px;
}

.leftnav a:hover,
.leftnav .navsection_kids .navsection_hdr a:hover {
	text-decoration: none;
	color: #000;
}

.multiline{
	line-height:13px;
}

.leftnav .leftnav_sub_sub,
.leftnav .leftnav_sub_sub a {
	font-size:11px;
	text-transform: lowercase;

}
.leftnav .leftnav_sub_sub li{
	margin-left:10px;
}

.leftnav a,
.leftnav .navsection_hdr {
	text-transform: uppercase;
	white-space:normal;	
	word-wrap: break-word;
}

.leftnav .navsection .navsection_hdr a {
	font-weight: bold;
	font-size: 10px;
}

.leftnav p.leftNavCat,
.leftnav h1 {
	margin: 0px;
	padding: 0px;
	display: list-item;
	font-size: 11px;
}

.leftnav h1.header1,
.leftnav h1.header1 a,
.leftnav h1.subCatSelected a,
.leftnav h2.header2,
.leftnav h2.header2 a,
.leftnav p a,
.leftnav p.leftNavCat,
 .leftnav p.leftNavCat a {
	font-family:Arial,sans-serif;
	font-size:inherit;
}

.leftnav .navsection_hdr a,
.leftnav .leftnav_active a {
	color: #000;
	font-weight: bold;
}

.leftnav .navsection_kids .navsection_hdr a {
	color: #666;
	font-weight: normal;
}

.leftnav li span.seeAll {
	font-weight: bold;
	color: #000;	
	font-family:Arial,sans-serif;
}
/*visibility hidden for left nav coming from lwl product tray*/
.leftnav.leftnav1 ul{
  visibility:hidden;
}
