/*Technical Specification tab rounded box properties*/
	 #prodtabs .content{
		padding: 0px;
	 }
	#rounded_container {
		/*background-image: url('/sys/images/tab_current_content_bg.gif');*/
		padding: 0px 3px 0px 3px;
		width:553px;/*EXTRA ATTRIBUTE for tab width*/
	}

	#rounded_container .content_container {
		padding: 17px 10px 0px 15px;/* need to modify for the etore css size fix 0 20px 0 0*/
		margin: 0px;
		font-family:Arial,Helvetica,sans-serif;
		font-size: 11px;
	}

	#rounded_container .content_container .bold_text {
		font-weight:bold;
	}

	#rounded_container .content_container a {
		color:#666666;
		text-decoration:none;
	}

	#rounded_container .content_container p {
		font-size: 11px;
		color: #000000;
		margin: 0px 10px 16px 0px;
		padding: 0px 0px 0px 0px;
	}

	#rounded_container .content_container h2 {
		font-size: 21px;
		font-weight: bold;
		color: #666666;
		margin: 0px 0px 6px 0px;
		padding: 0px;
	}

	/*start spec1 css */
	#rounded_container .content_container .back_to_top {
		background-image:url('/sys/images/back_to_top_sep.gif');
		background-position:0 7px;
		background-repeat:no-repeat;
		margin:0 0 9px;
		height:8px;
	} 

	#rounded_container .content_container .back_to_top img {
		float:right;
		margin:0 2px 0 0;
	}
	/*end spec1 css */ 

	 /*Specs 2*/
	 /*spec2*/
	#rounded_container .content_container .specs2 {
		margin: 0px 0px 0px 28px;
	}

	#rounded_container .content_container .specs2 table {
		font-size: 11px;
		margin: 0px 0px 24px 0px;
		table-layout: fixed;
		width: 500px;
	}

	#rounded_container .content_container .specs2 table caption {
		font-size: 14px;
		font-weight: bold;
		color: #666666;
		text-align: left;
		background-image: url('/sys/images/spec_caption_bg.gif');
		background-repeat: no-repeat;
		background-position: 0px bottom;
		padding: 0px 0px 4px 0px;
		margin: 0px 0px 0px 0px;
	}

	#rounded_container .content_container .specs2 td {
		padding: 0px;
		line-height: 13px;
	}

	#rounded_container .content_container .specs2 td.section {
		padding: 16px 0px 0px 0px;
	}

	#rounded_container .content_container .specs2 td.label {
		width: 194px;
		font-weight: bold;
	}
	
	#rounded_container .content_container .specs2 table td {
        vertical-align: top; 
    }
	
	
	/*spec2*/

	/*specs2_list*/
	#rounded_container .content_container .specs2_list {
		margin: 0px 0px 0px 28px;
	}

	#rounded_container .content_container .specs2_list table {
		font-size: 11px;
		margin: 0px 0px 24px 0px;
		table-layout: fixed;
		width: 500px;
	}

	#rounded_container .content_container .specs2_list table caption {
		font-size: 14px;
		font-weight: bold;
		color: #666666;
		text-align: left;
		background-image: url('/sys/images/spec_caption_bg.gif');
		background-repeat: no-repeat;
		background-position: 0px bottom;
		padding: 0px 0px 4px 0px;
		margin: 0px 0px 0px 0px;
	}

	#rounded_container .content_container .specs2_list td {
		padding: 0px;
		line-height: 13px;
	}

	#rounded_container .content_container .specs2_list td.section {
		padding: 16px 0px 0px 0px;
	}

	#rounded_container .content_container .specs2_list td.label {
		width: 194px;
		font-weight: bold;
	}
	/*specs2_list*/	 

	#rounded_container .content_container h3 { 
		background-image:url(/sys/images/content_container_h3_bg.gif);
		background-repeat:no-repeat;
		color:#666666;
		font-size:14px;
		font-weight:bold;
		line-height:21px;
		margin:16px 0 20px;
		padding:0 0 0 12px;
	}

	#rounded_container .content_container h3 img { 
		margin:3px 2px 0 0;
	}
	#rounded_container .content_container h3 img, h3 a img, h2 img { 
		float:right;
	}
	/*end spec2 css */ 

	/*Start Footer backto top button css */
   .content_container_footer .navbar #back_to_top { 
		float:right;
   }
	#rounded_container .content_container_footer { 
		background-image:url(/sys/images/content_container_footer_bg.gif);
		background-position:center bottom;
		background-repeat:no-repeat;
		min-height:28px;
		padding:0 0 6px 18px;
	}
   #rounded_container .content_container_footer .navbar  { 
		font-size:11px;
		margin:0;
		padding:9px 0 0;
		width:525px;
	}
   #rounded_container  img { 
		border:medium none;
	}
	/*End Footer backto top button css */