/*BR-URW STYLES*/

.br-urw {
    border: 1px solid #7c7c7c;
    margin: 10px 0px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.5); 
  }
  
  .br-urw.br-urw-cat {
    margin-left: 4px;
    margin-bottom: 10px;
  }
  
	.br-urw .br-urw-head {
		color: #FFF;
		display: block;
		padding-bottom: 30px;
		background-color: #7A7879;
	}
	
	.head-personalized {
		border-right:2px solid #3D3B3C;
	}
	
	.br-urw a {
		color: #FFF;
		display: inline;
		font-weight: normal;
		line-height: 12px;
	}
	
	.br-urw-headLeft {
	  float: left;
	  height: 30px;
	  width: 66%;
	  background-color:#7A7879;
	  font-size: 16px;
		text-transform: capitalize;
		font-family: arial;
	}

	.br-urw-headRight {
	  background-color: #3D3B3C;
	  height: 30px;
	  width: 34%;
	  float: right;
	}
	
	.personalized {
		border-left: 1px solid #3D3B3C;
	}
	
	.br-urw-personalization {
		padding: 5px 10px 5px 10px;
	}
	
	.br-urw-query {
	  padding: 6px 10px 5px 10px;
	}
  
  .br-urw a.br-urw-headRight.collapsed {
    background: url("http://cdn.brcdn.com/4073/static_files/images/tick-plus.gif") no-repeat scroll 0 0 transparent;
  }

	.br-urw .br-urw-prodList {
		background-color: #FFF;
		font-size: 0.75em;
		font-weight: bold;
	}
  
  .br-urw .br-urw-prodList.collapsed {
		height: 0;
    visibility: hidden;
	}

	.br-urw .br-urw-prodItem {
		background-color: #FFF;
		display: block;
		float: left;
		width: 33%;
	}

	.br-urw .prodImage {
		border-left: 1px solid #CCCCCC;
    float: left;
    margin: 15px 0px 0px 1px;
    
	}
  
  .br-urw .prodImage.first {
    border-left: 0px;
    padding-left: 0;
  }
	
	.br-urw .prodImage .imgResize {
		width: 105px;
	}

	.br-urw .prodDesc {
		display: block;
		float: left;
		margin: 15px 0 15px 15px;
		width: 54%;
                height: 140px;
                position: relative;
	}
  
  .br-urw.br-urw-cat .prodDesc {
		width: 115px;
	}
	
	.br-urw .title {
		margin-bottom: 5px;
	}
	
	.br-urw .title a {
		color: #525252;
		line-height: 14px;
		text-decoration: none;
		text-transform: uppercase;
	}

	.br-urw .price {
		margin-bottom: 15px;
    color: #525252;
		font-size: 12px;
		line-height: 14px;
	}

	.br-urw .description {
		margin-bottom: 15px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
	}
  
  .br-urw .descriptionAlt {
    color: #000000;
    font-size: 11px;
		margin-bottom: 15px;
	}
	
	.br-urw a.btnViewMore {
		background: url("http://cdn.brcdn.com/4073/static_files/images/btn-viewMore.jpg") no-repeat scroll 0 0 transparent;
		display: block;
		height: 20px;
		margin: 0;
		padding: 0;
		text-indent: -9999px;
		width: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    border:1px solid #A8A7A7;
	}
	
	.br-urw .clear { clear: both; }
