/* ----------------------------------------- */
/* BLACK FLEECE */
/* ----------------------------------------- */
/* Black Fleece general rules */
/* ----------------------------------------- */
.blackfleece #container{background:url(../images/bg-bf.jpg) repeat left top;}

.blackfleece h1,
.blackfleece h2,
.blackfleece h3,
.blackfleece h4,
.blackfleece h5,
.blackfleece h6,
.blackfleece #QuickViewDialog *,
.blackfleece #dialog-minicart *,
.blackfleece #send-to-friend-dialog *,
.blackfleece #send-to-friend-dialog #send-to-friend-main h1,
.blackfleece #send-to-friend-dialog .send-to-friend-product .product-description h2{font-family: "Courier New", Helevetica, Arial, sans-serif !important;}

.blackfleece #send-to-friend-dialog .send-to-friend-product p.price-sales,.blackfleece #send-to-friend-dialog .send-to-friend-product .price-standard{letter-spacing:-4px;}
.blackfleece #root #container .product-tile .product-pricing *{letter-spacing:0;}
.blackfleece #root #container .price-first-letter.usd,.blackfleece #dialog-remember-item .price-first-letter.usd{margin-right:-2px; letter-spacing:0;}
.blackfleece #root #container .price-first-letter,.blackfleece #dialog-remember-item .price-first-letter{letter-spacing:.9px;}
.blackfleece #root #container .pt_product-details .product-col-2.product-set .price-first-letter{margin-right:-13px;}
.ie7 .blackfleece #root #container .price-first-letter,.ie7 .blackfleece #QuickViewDialog #product-content .price-first-letter,.ie7 .blackfleece #dialog-minicart .price-first-letter,.ie7 .blackfleece #send-to-friend-dialog .send-to-friend-product .price-first-letter,.ie7 .blackfleece #dialog-remember-item .price-first-letter,.ie7 .blackfleece #root #container .pt_product-details .product-set .price-first-letter{margin:0!important;letter-spacing:1px;}
.ie7 .blackfleece #send-to-friend-dialog .send-to-friend-product .product-price p{display:block;min-width:100px;}
.ie7 .blackfleece #dialog-remember-item .product-pricing > span{display:block;min-width:60px;}
.blackfleece .pt_product-details .inventoryerror{padding:0px;}
/*.blackfleece #dialog-remember-item .product-standard-price,.blackfleece #dialog-remember-item .price-standard{font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;font-size:1.15em;letter-spacing:-3px;}*/
/* Black Fleece STL Carousel */
/* ----------------------------------------- */
.stl-carousel{display:block;position:relative;}
.stl-carousel .jcarousel-clip{max-width:984px;margin:0 49px;overflow:hidden;border:3px solid #CAC5BE;}
.stl-carousel .stl-carousel-container{float:left;position:relative;height:593px;}
.stl-carousel .prev,.stl-carousel .next{cursor:pointer;width:41px;height:41px;position:absolute;top:21px;opacity:0.7;}
.stl-carousel .prev:hover,.stl-carousel .next:hover{opacity:1;}
.stl-carousel .prev{background:url(../images/carousel-prev.png) no-repeat scroll right center transparent;left:71px;}
.stl-carousel .next{background:url(../images/carousel-next.png) no-repeat scroll right center transparent;right:71px;}
/* Black Fleece Footer */
/* ---------------------------------------- */
#footer.black-fleece{background:#000;border-color:#000;color:#FFF;}
.ie7 #footer.black-fleece{padding-right:0;}
#footer.black-fleece .footer-up .img{background:url(../images/footer-lamb-blackfleece.png) no-repeat center center;}
#footer.black-fleece hr{color:#5a5855;background-color:#5a5855;}
#footer.black-fleece ul.menu-footer li a{color:#999;font-size:.9em;font-style:normal;letter-spacing:1px;}
#footer.black-fleece ul.menu-footer li.title-link > a{color:#FFF;letter-spacing:1px;background:url(../images/footer-atitle-bg-blackfleece.png) no-repeat left bottom transparent;font-size:1em;}
#footer.black-fleece .magazine-wrapper ul.menu-footer li.title-link > a { background: none; }
#footer.black-fleece ul.menu-footer{margin:0 6px;text-align:left;}
.ie9 #footer.black-fleece ul.menu-footer{margin:0 11px;}
.ie8 #footer.black-fleece ul.menu-footer{margin:0 5px;}
.ie7 #footer.black-fleece ul.menu-footer{margin:0 7px;}
/*#footer.black-fleece .footer-down hr{width: 216px;}*/
#footer.black-fleece .footer-down hr{width: 12%;}
#footer.black-fleece .footer-down li a{color:#8d8a84;border-left:1px solid #8d8a84;}
#footer.black-fleece .footer-down li:first-child a{border:0;}
#footer.black-fleece .email-signup form input[type=submit]{width:79px;height:27px;background:#000;border:0;font-size:1em;letter-spacing:2px;}
#footer.black-fleece .submit-wrapper{border:0;width:81px;height:30px;}
#footer.black-fleece li.facebook a{background:url(../images/social-icons-blackfleece.png) no-repeat 0 0;}
#footer.black-fleece li.twitter a{background:url(../images/social-icons-blackfleece.png) no-repeat -30px 0;}
#footer.black-fleece li.youtube a{background:url(../images/social-icons-blackfleece.png) no-repeat -60px 0;}
#footer.black-fleece li.pinterest a{background:url(../images/social-icons-blackfleece.png) no-repeat -90px 0;}
#footer.black-fleece li.blog a{background:url(../images/social-icons-blackfleece.png) no-repeat -120px 0;}
#footer.black-fleece ul.menu-footer.no-margins{margin:0;}
#footer.black-fleece ul.menu-footer li.title-link > a,#footer.black-fleece ul.menu-footer li.title-link > span{letter-spacing:1px;}
/* Black Fleece PDP */
/* ------------------------------------- */
.blackfleece .product_top_details{position:relative;}

#pdp-bf-logo,
#pdp-rf-logo{
	position:relative;
	display:block;
	width:50px;
	height:50px;
	background:url('../images/logo/bf-logo-50x50.jpg') center center no-repeat;
	overflow:hidden;
	margin:-70px 15px 15px 0;
	float:right;
}

#pdp-bf-logo{margin-top:-20px;}
#pdp-rf-logo{
	width:90px;
	height:60px;
	display:none;
	background:url('../images/logo/rf-logo-90x60.jpg') center center no-repeat;
}

.pdp-redfleecemain #pdp-rf-logo{display:block;}

#pdp-bf-logo a,
#pdp-rf-logo a{
	display:block;
	width:100%;
	height:100%;
	text-indent:-99999px;
}
/*.blackfleece .pt_product-details #main{margin-top:195px;}*/
.blackfleece .pt_product-details #main .wrapper-product-details{margin-bottom:-50px;border-color:#D6D6D6;}
.blackfleece .pt_product-details #main .product-details-breadcrumbs{top:-60px;}
/*.blackfleece .pt_product-details #main .bf-subnav-links{top:-133px;}*/
.blackfleece .categorylandingpagealt-top .bf-subnav-links{top:17px;}
.pdp-main.pdp-blackfleecemain .product-name,.blackfleece .product-col-2.product-set .product-set-item .product-set-details .product-name a{color:#000;text-transform:uppercase;font-size:24px;}
.pdp-main.pdp-blackfleecemain .product-col-2 h3,.pdp-main.pdp-blackfleecemain .product-col-2 h3 a,.pdp-main.pdp-blackfleecemain .product-variations span.label,.pdp-main.pdp-blackfleecemain .product-col-2 .quantity label,.pdp-main.pdp-blackfleecemain .product-col-2 label.attr-label{color:#333;}
.blackfleece .pt_product-details #main .product-details-breadcrumbs ol li,
.blackfleece .pt_product-details #main .product-details-breadcrumbs ol li span,
.blackfleece .pt_product-details #main .product-details-breadcrumbs ol li a{
	font-family:Times New Roman, serif !important; 
	-webkit-font-smoothing:antialiased !important;
	color:#666;
	transition: color .3s ease;
}

.blackfleece .pt_product-details #main .product-details-breadcrumbs ol li a span {
	margin-left: 3px;
}

.blackfleece .breadcrumb a{padding:0;}

/*
.blackfleece .productsearch-breadcrumbs .breadcrumb a{font-size:.75em;}
.blackfleece .productsearch-breadcrumbs .breadcrumb a.breadcrumb-last{background:none;color:#000;}
.blackfleece .price-first-letter{color:#666;font-size:.8em;}*/

.blackfleece .pdp-main .product-add-to-cart button#add-to-cart,
.blackfleece .pdp-main .product-add-to-cart button[name=add-to-cart],
.blackfleece .product-col-2.product-set .buttons-wrapper button#add-to-cart,
.blackfleece .product-col-2.product-set .buttons-wrapper button[name=add-to-cart],
.blackfleece #pdpMain.pdp-main .product-add-to-cart button#add-to-cart.halfactive,
.blackfleece .product-col-2.product-set .buttons-wrapper button[disabled] > span{background:#000 !important; color:#fff; font-family: "proxima-nova", "Helvetica", sans-serif; }

.blackfleece #pdpMain.pdp-main .product-add-to-cart button#add-to-cart.halfactive.sizeError,
.blackfleece #pdpMain.pdp-main .product-add-to-cart button#add-to-cart.halfactive.sizeError:hover{background:#fff !important; color:#001f38 !important;}
.blackfleece .pdp-main .product-add-to-cart button#add-to-cart:hover,
.blackfleece .pdp-main .product-add-to-cart button[name=add-to-cart]:hover {background-color: #333 !important;}

.blackfleece .pdp-main .product-add-to-cart button#add-to-cart:active,
.blackfleece .pdp-main .product-add-to-cart button[name=add-to-cart]:active {background-color: #666 !important;}

.blackfleece .pdp-main .product-add-to-cart button#add-to-cart:visited,
.blackfleece .pdp-main .product-add-to-cart button[name=add-to-cart]:visited {background-color: #000 !important;}

.blackfleece .pdp-main .product-add-to-cart button#add-to-wishlist,
.blackfleece .pdp-main .product-add-to-cart button[name=add-to-wishlist],
.blackfleece .product-col-2.product-set .buttons-wrapper button#add-to-wishlist,
.blackfleece .product-col-2.product-set .buttons-wrapper button[name=add-to-wishlist],
.blackfleece #pdpMain.pdp-main .product-add-to-cart button#add-to-wishlist.halfactive{font-family: "proxima-nova", "Helvetica", sans-serif;}


.blackfleece .golden-menu {margin-top:20px;}
.blackfleece .golden-menu li a{font-family:Times New Roman, serif !important; -webkit-font-smoothing:antialiased !important;}
/*
.blackfleece .golden-menu .manuscript a{background:url(../images/icon-manuscript-blue.png) no-repeat left top;}
.blackfleece .golden-menu .globe a{background:url(../images/icon-globe-blue.png) no-repeat left top;}
.blackfleece .golden-menu .right-curved a{background:url(../images/icon-right-curved-blue.png) no-repeat left top;}
.blackfleece .golden-menu .question-mark a{background:url(../images/icon-question-mark-blue.png) no-repeat left top;}
*/

.blackfleece .pdp-main .Color li:hover,.blackfleece .pdp-main .Color li.selected,.blackfleece .refinement ul.swatches li.selected,.blackfleece .refinement ul.swatches li:hover{border-color:#999;}
.blackfleece #recently-viewed-products ul li .product-tile .product-name a{text-transform:none;font-size:.9em;}

.blackfleece #main .pdp-main .product-price .price-standard,
.blackfleece #main .pdp-main .product-col-2 p.price-sales,
.blackfleece #main .product-tile .product-pricing .product-sales-price,
.blackfleece #main .product-tile .product-pricing .product-standard-price,
.blackfleece #main .mini-cart-product .mini-cart-pricing,
.blackfleece #main .products-mini-cart .mini-cart-price,
.blackfleece #dialog-minicart .mini-cart-subtotals .value,
.blackfleece #dialog-remember-item .product-tile .product-sales-price,
.blackfleece #QuickViewDialog .pdp-main .product-col-2 .price-sales{
	font-weight:400;
	font-family: "Times New Roman", serif !important;
}
/*
.blackfleece #main .pdp-main .product-price .price-standard,
.blackfleece #main .pdp-main .product-col-2 p.price-sales{font-size:18px;}
*/

.blackfleece .pdp-main .product-price *{font-family:Times New Roman, serif !important; font-size:18px;}
.blackfleece .pdp-main .product-price .price-standard *{color:#999999;}
.blackfleece .pdp-main .product-price .price-sales{margin-right:15px; float:left;}
.blackfleece .pdp-main .product-price .price-sales *{color:#000;}
.blackfleece .pdp-main .recommendations .price-standard *,
.blackfleece .pdp-main .recommendations .price-sales *{font-size:12px;}
.blackfleece .pdp-main .recommendations .price-value{margin-left:0;}

/*.blackfleece #main .pdp-main .product-number > span,.blackfleece #QuickViewDialog .pdp-main .product-number > span{font-weight:700;font-size:1.1em;font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;}*/
.blackfleece .pdp-main .product-col-2 .attribute .label .displayvalue{color:#7b7d7f;}
.blackfleece .pdp-main .product-add-to-cart a.pdp-remember-button,.blackfleece .product-col-2.product-set .buttons-wrapper a.pdp-remember-button,.blackfleece .pdp-main .product-add-to-cart a.pdp-cancel-button,.blackfleece .mini-cart-close .button-text > span{border-color:#CBCBCB;}
/*.blackfleece .golden-menu li{background:url(../images/separator-golden-menu.png) no-repeat left 3px;padding-left:12px;}
.blackfleece .golden-menu li:first-child{background:none;padding-left:0;}*/
.blackfleece #dialog-minicart .items-count h3,.blackfleece #dialog-minicart .mini-cart-totals-bottom .infotext,.blackfleece #dialog-remember-item .remembered-item-top h3,.blackfleece #QuickViewDialog .pdp-main .product-col-2 .attribute .label .displayvalue{font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;}
.blackfleece #main .pdp-main .product-col-2 .promotion{top:53px;}
.blackfleece #main .pdp-main .product-col-2 .promotion .promotion-title{font-weight:700;font-size:1.3em;}
.blackfleece #main .pdp-main .product-col-2 .promotion .promotion-callout{color:#052640;font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;font-style:normal;}
.blackfleece #main .product-col-2 .promotion-callout{letter-spacing:-2px;}

.blackfleece #main .pdp-main .product-col-2 .attribute .label .displayvalue{font-family:"Times New Roman", serif !important;letter-spacing:0.5px;}
.blackfleece .pdp-main .pdp-social h3,
.blackfleece .pdp-main .recommendations > div > h2,
.blackfleece #recently-viewed-products > h2{
	font-family:"Times New Roman", serif !important;
	font-size:14px;
	-webkit-font-smoothing:antialiased;
}


/* Black Fleece Mini-Cart */
/* ------------------------------------- */
.blackfleece .items-count h2,.blackfleece #dialog-minicart .mini-cart-name a,.blackfleece .products-mini-cart .row-product > div > h4,.blackfleece .mini-cart-totals,.blackfleece #dialog-remember-item .remembered-item-top h2,.blackfleece #dialog-remember-item h2 span.darker-2{color:#000;text-transform:uppercase;}
.blackfleece #dialog-remember-item .remembered-item-top h2{font-family:"Courier New";}
.blackfleece #dialog-minicart .items-count h3,.blackfleece #dialog-minicart .mini-cart-totals-bottom .infotext,.blackfleece #dialog-remember-item .remembered-item-top h3{color:#666;font-style:normal;margin-top:3px;}
.blackfleece #dialog-remember-item .remembered-item-top h3{font-size:9px;letter-spacing:0;}
.blackfleece .items-count h3{font-size:.9em;}
.blackfleece #dialog-minicart .mini-cart-subtotals,.blackfleece .mini-cart-totals-bottom > div{background:none;}
.blackfleece #dialog-minicart .mini-cart-subtotals .price-first-letter{margin-right:-12px;}
.blackfleece .mini-cart-subtotals .button-text span{background:url(../images/bg-black.png) repeat;font-family:"Courier New";font-size:.9em;border:1px solid #cdcdcd;height:28px;line-height:28px;width:154px;}
.blackfleece .mini-cart-subtotals .label{border-bottom:2px solid #000;border-top:2px solid #000;padding:5px 0;}
.blackfleece .mini-cart-products .heading .desc{width:263px;}
.blackfleece .mini-cart-product .mini-cart-qty,.blackfleece .products-mini-cart .row-product > div.input-wrapper{width:50px;}
.blackfleece .mini-cart-products .heading{border-bottom:1px solid #d7d7d7;border-top:1px solid #d7d7d7;padding:5px 10px;}
.blackfleece .products-mini-cart .mini-cart-price .price-first-letter,.blackfleece .mini-cart-subtotals .price-first-letter{font-size:.7em;}
.blackfleece #dialog-minicart .mini-cart-attributes .label,.blackfleece #dialog-minicart .item-monogramming .label,.blackfleece .products-mini-cart .row-product > div > p .label,.blackfleece .products-mini-cart .row-product > div .attribute .label{font-size:.8em;font-style:normal;text-transform:uppercase;color:#999593;}
.blackfleece #dialog-minicart .mini-cart-attributes .value,.blackfleece #dialog-minicart .item-monogramming .value,.blackfleece #dialog-minicart .products-mini-cart .row-product > div > p .value,.blackfleece #dialog-minicart .products-mini-cart .row-product > div .attribute .value{font-weight:700;font-size:1em;font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;letter-spacing:-2px;}
.blackfleece #dialog-minicart .mini-cart-subtotals .button-text{border:1px solid #afb1b3;}
.blackfleece .mini-cart-close .button-text > span{font-size:.8em;letter-spacing:.1em;}
.blackfleece .mini-cart-product .mini-cart-pricing span,.blackfleece .products-mini-cart .mini-cart-price{font-size:1.5em;}
.blackfleece .mini-cart-close{border:0;background:url(../images/separator-mini-cart.jpg) no-repeat center center;height:51px;}
.blackfleece .mini-cart-close .button-text{top:-13px;}
.blackfleece .ui-widget.ui-widget-content{background:url(../images/bg-bf.jpg) repeat left top;}
.blackfleece #mobile-cat-menu .ui-widget.ui-widget-content{background:none;}
.blackfleece .ui-dialog .ui-dialog-titlebar-close{background:url(../images/close-btn-bf.png) no-repeat;right:5px;}
.blackfleece #dialog-minicart .products-mini-cart .mini-cart-price{letter-spacing:-2px;}
.blackfleece #dialog-minicart .products-mini-cart .mini-cart-price .price-first-letter{display:inline-block;margin-right:-5px;letter-spacing: .9px;}
.blackfleece #dialog-minicart .products-mini-cart .mini-cart-price .price-first-letter.usd{letter-spacing: 0;}
.ie7 .blackfleece #dialog-minicart .products-mini-cart .mini-cart-price .price-first-letter{margin-right:-2px;}
/* Black Fleece Shopping Cart With Items */
/* ------------------------------------- */
.blackfleece .pt_cart #main .wrapper-cart{border-color:#D6D6D6;margin-bottom:-50px;}
.blackfleece .pt_cart h1,.blackfleece .pt_cart h2 span.spend-amount{color:#000;}
.blackfleece .pt_cart h2{color:#666;}
.blackfleece .pt_cart h2 span.spend-amount{font-size:1.1em;}
.blackfleece #cart-table td.item-description{text-transform:uppercase;}
.blackfleece #cart-table .name,.blackfleece #cart-table .name a{color:#000;font-size:1em;letter-spacing:1px;}
.blackfleece #cart-table .item-edit-details a{color:#333;}
.blackfleece #cart-table .product-list-item{color:#999593;}
.blackfleece #cart-table .product-list-item .label{font-size:.7em;font-style:normal;}
.blackfleece #cart-table .product-list-item .value{letter-spacing:-1px;font-size:.8em;}
.blackfleece ul.product-availability-list .on-order,.blackfleece ul.product-availability-list .not-available{font-size:.75em;}
.blackfleece #cart-table .price-sales,.blackfleece #cart-table .price-total{color:#000;font-size:1em;font-weight:700;letter-spacing:-2px;}
.blackfleece #cart-table .section-header{color:#666;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;padding:5px 14px 6px; text-align:left;}
.blackfleece #cart-table td.item-price{padding-right:40px;white-space:nowrap; text-align:left;}
.blackfleece .ie7 #cart-table td.item-price{padding-right:30px;}
.blackfleece .ie7 #cart-table td.item-price span.price-sales{min-width:70px;}
.blackfleece #cart-table .item-quantity .update-quantity{color:#333;}
.blackfleece .item-subtotal .price-unadjusted span,.blackfleece .item-subtotal .price-adjusted-total span{display:block;}
.blackfleece #cart-table .item-user-actions button span,.blackfleece .pt_cart button.remove-button span{color:#333;}
.blackfleece #cart-table .item-user-actions button.cart-remember-button{background:transparent url(../images/stars_bf.png) no-repeat left 1px;}
.blackfleece #cart-table .item-user-actions button.cart-remember-button.selected{background-position:left -30px;}
.blackfleece .pt_cart button.remove-button{background:transparent url(../images/remove_bf.png) no-repeat left 1px;}
.blackfleece .pt_cart button.remove-button span{padding-left:20px;}
.blackfleece .pt_cart .cart-coupon-code label,.blackfleece .pt_cart .code-applied span.code-message,.blackfleece .pt_cart .code-applied span.code-number{text-transform:uppercase;color:#333;font-size:1em;}
.blackfleece .pt_cart .cart-coupon-code div{margin-right:5px;}
.blackfleece .pt_cart .cart-coupon-code input[type=text]{font-style:normal;color:#959595;text-transform:uppercase;font-size:1em !important;letter-spacing:1px;padding:7px 15px;}
.blackfleece .pt_cart .cart-order-totals h3{font-size:1.2em;color:#333; margin-left:-10px;}
.blackfleece .pt_cart .cart-order-totals p,.blackfleece .pt_cart .cart-empty-blocks div.block p{color:#999;font-style:normal;}
.blackfleece .pt_cart .cart-order-totals div.block{min-height:204px;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr td.price-data,.blackfleece .pt_cart .order-total span.value,.blackfleece .pt_cart .code-applied span.code-discount-price{color:#666;font-size:1.5em;}
.blackfleece .pt_cart .order-total span.label{font-size:.9em;/*width:159px;*/}
.blackfleece .pt_cart .order-total span.value{color:#000;font-size:1.4em;letter-spacing:-3px;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr td.price-data{margin-top:-2px;}
.blackfleece .pt_cart .asterisk-note p{color:#666;font-size:.95em;}
.blackfleece .pt_cart .order-total,.blackfleece .pt_cart button.white-bg-btn span{background:url(../images/bf_cart_pattern.png) repeat left top;}
.blackfleece .pt_cart .order-total{border-color:#d7d7d7;/*padding:23px 35px 23px 10px;*/}
.blackfleece .pt_cart button.white-bg-btn span,.blackfleece .pt_cart button.blue-bg-btn span{border:1px solid #CBCBCB;width:190px;height:20px;letter-spacing:2px;}
.blackfleece .pt_cart button.blue-bg-btn span{background:url(../images/bg-black.png) repeat;}
.blackfleece .pt_cart button.white-bg-btn,.pt_cart button.blue-bg-btn{border-color:#b8babc;}
.blackfleece .pt_cart .cart-coupon-code button.white-bg-btn,.blackfleece .pt_cart .cart-coupon-code button.white-bg-btn span{border:0;background:transparent;}
.blackfleece .pt_cart .cart-coupon-code button.white-bg-btn{width:63px;margin-right:0;}
.blackfleece .pt_cart .cart-coupon-code button.white-bg-btn span{width:57px;color:#333;font-size:1.1em;letter-spacing:2px;}
.blackfleece .ocrf-bigger{font-size:1.5em;letter-spacing:-1px;}
.oldie #cart-table .price-total{display:block;}
.oldie .blackfleece td.item-availability li.is-in-stock{padding-top:0;}
.blackfleece #main h2 span.spend-amount,.blackfleece #main #cart-table .product-list-item .value,.blackfleece #main #cart-table .price-sales,.blackfleece #main #cart-table .price-total,.blackfleece #main td.item-availability ul li,.blackfleece #main .order-total-wrapper .order-total span.value,.blackfleece #main .cart-order-totals .block:first-child p,.blackfleece #main .ocrf-bigger,.blackfleece #main .cart-coupon-code input[type=text],.blackfleece #main .cart-order-totals table.order-totals-table tr td.price-data,.blackfleece #main .asterisk-note p{font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;font-weight:400;}
.blackfleece #main #cart-table .product-list-item .value,.blackfleece #main .ocrf-bigger{font-weight:700;}
.blackfleece #main td.item-availability ul li,.blackfleece #main .cart-order-totals table.order-totals-table tr td.price-data{letter-spacing:-2px;}
.blackfleece #main td.item-availability ul li{font-size:.8em;}
.blackfleece #main .cart-order-totals .block:first-child p,.blackfleece #main .asterisk-note p{letter-spacing:-1px;}
.blackfleece .pt_cart input#dwfrm_cart_couponCode {width: 240px; padding: 7px 3px;}
.blackfleece .pt_cart #cart-table .cart-coupon-code .code-discount-price {display: inline;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table {width: 340px; margin: 0;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr td {width: 130px; padding: 5px 0; margin: 0;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr td:first-child {width: 170px; padding: 0 0 0 10px;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr.payment-total td {padding: 5px 0;}
.blackfleece .pt_cart .cart-order-totals table.order-totals-table tr td.price-data {font-size: 17px !important;}
/* Black Fleece Product Grid - Product Tiles */
/* ------------------------------------- */
.blackfleece .product-tile .product-name a.name-link{text-transform:uppercase;color:#7b7d7f;font-size:.8em;letter-spacing:1px;}
.blackfleece .product-tile .product-sales-price{color:#000;font-size:1.15em;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip,.blackfleece .cart-remember-tooltip .hover-tooltip{background:#FFF;border:0px solid #a3a3a3;width:203px;height:34px;top:-18px;right:-106px;}
.blackfleece .cart-remember-tooltip .hover-tooltip {top: -110px; height: inherit; width: inherit;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip {right:-63px;}
.blackfleece #main .cart-remember-tooltip .hover-tooltip{right:-88px;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip.left,.blackfleece .cart-remember-tooltip .hover-tooltip.left{right:-16px;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip .hover-container,.blackfleece .cart-remember-tooltip .hover-tooltip .hover-container{background:none;width:232px;height:62px;padding:10px 0;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip .hover-container h3,.blackfleece .product-promo .hover-tooltip .hover-container h3,.blackfleece .cart-remember-tooltip .hover-tooltip .hover-container h3{color:#000;letter-spacing:3px;font-size:16px;font-weight:400;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip .hover-container h3 span,.blackfleece .cart-remember-tooltip .hover-tooltip .hover-container h3 span{padding:0 0 4px 24px;}
.blackfleece #main .pgrid-remember-tooltip .hover-tooltip .hover-container p,.blackfleece #main .cart-remember-tooltip .hover-tooltip .hover-container p{color:#666;font-size:10px;letter-spacing:-1px;line-height:18px;padding:0 10px;}
.blackfleece .pgrid-remember-tooltip .hover-tooltip .arr-down,.blackfleece .product-promo .hover-tooltip .arr-down,.blackfleece .cart-remember-tooltip .hover-tooltip .arr-down{background:url(../images/white-arrow-down.png) no-repeat center center;height:7px;bottom:-7px;}
.blackfleece .line-blue-40{background:url(../images/line-gray-40.png) no-repeat left bottom transparent;}
.blackfleece .product-tile .product-promo .promotion-title{border-left:0;padding-left:15px;background:url(../images/bf-promo-separator.png) no-repeat left center;font-weight:700;font-size:.9em;letter-spacing:2px;}
.blackfleece .product-tile .product-promo .promotional-message-label,.blackfleece .product-promo .hover-tooltip .hover-container .promotional-message{font-size:.8em;letter-spacing:-1px;}
.blackfleece .product-tile .product-promo .promotional-message-label{color:#697D8C;}
.blackfleece .product-promo .hover-tooltip{background:#FFF;border:1px solid #A3A3A3;}
.blackfleece .product-promo .hover-tooltip .hover-container{background:none;}
.blackfleece .product-promo .hover-tooltip .hover-container h3{padding:4px 0 4px 10px;}
.blackfleece .product-promo .hover-tooltip .hover-container h3.line-blue-40{background:none;border-top:2px solid #000;border-bottom:2px solid #000;}
.blackfleece .product-promo .hover-tooltip .hover-container .promotional-message{color:#666;background:url(../images/line-gray-51.png) no-repeat center top transparent;margin:0;padding:17px 0;}
.blackfleece .product-promo .hover-tooltip .hover-container .promotional-messages-container .promotional-message:first-child{background:none;}
.blackfleece .morelink span.more{color:#333;font-size:.8em;letter-spacing:2px;text-transform:uppercase;font-weight:700;}
.blackfleece #main .pgrid-remember-tooltip .hover-tooltip .hover-container p,.blackfleece #main .product-tile .product-promo .promotional-message-label,.blackfleece #main .product-promo .hover-tooltip .hover-container .promotional-message,.blackfleece #main .cart-remember-tooltip .hover-tooltip .hover-container p{font-family:ocr-b-std, "Courier New", Helvetica, Arial, sans-serif;}
.blackfleece #main #productsearch-content-left .productsearch-left-hold.product-grid .refinement ul#category-level-1 > li ul.list-diamond li a,.blackfleece #main .productsearch-left-hold li a{color:#999;font-size:.9em;letter-spacing:.1em;}
.blackfleece #main #productsearch-content-left .productsearch-left-hold.product-grid .refinement ul#category-level-1 > li ul.list-diamond li a:hover,.blackfleece #main .productsearch-left-hold li a:hover{color:#333;}
.ie9 .blackfleece #main #productsearch-content-left .productsearch-left-hold.product-grid .refinement ul#category-level-1 > li ul.list-diamond li a,.ie9 .blackfleece #main .productsearch-left-hold li a,.oldie .blackfleece #main #productsearch-content-left .productsearch-left-hold.product-grid .refinement ul#category-level-1 > li ul.list-diamond li a,.oldie .blackfleece #main .productsearch-left-hold li a{letter-spacing:0;}
.blackfleece .refinement h3,.blackfleece .productsearch-left-hold h3{color:#000;}
.blackfleece .productsearch-content #productsearch-content-left .productsearch-left-hold,.blackfleece .productsearch-content .secondary-bottom{/*background:url(../images/bg-bf-left-nav.jpg) repeat;*/}
.blackfleece .productsearch-content{background:#FFF;border:1px solid #dbdbdb;-webkit-box-shadow:inset 0 0 0 1px #FFF;-moz-box-shadow:inset 0 0 0 1px #FFF;box-shadow:inset 0 0 0 1px #FFF;}
.blackfleece .bf-subnav-links.product-grid{top:20px;margin-bottom:25px;}
.blackfleece .bfcategory-headericon{text-align:center;margin:10px 0 25px;}

/*Fix for 6422*/
.blackfleece #main .productsearch-sorting .sort-by .chzn-container-single .chzn-single span{font-family:"Courier New", Helvetica, Arial, sans-serif;font-size:1.1em;padding-left:10px;}

/* Left Nav on Category Grid */
/* ------------------------------------- */
.blackfleece #productsearch-content-left .productsearch-left-hold.product-grid .refinement ul#category-level-1 > li ul.list-diamond li.selected > a{border-bottom:2px solid #666;}
.blackfleece #main .productsearch-content #productsearch-content-left,.blackfleece #main .productsearch-content .secondary-bottom{top:52px;}
.blackfleece #main .productsearch-content #productsearch-content-left.productsearch-notop{top:0;}
.blackfleece #main .productsearch-content .secondary-bottom{width:210px;}
.bf-cat-grid-header .html-slot-container img{margin-top:35px;}
/* Bazaarvoice style fixes */
/* ------------------------------------- */
.blackfleece #root .BVQANoQuestions a,.blackfleece #root .BVQANoQuestions a:visited{letter-spacing:.2em;word-spacing:.2em;text-align:center;display:block;}

.productsoldout {position:relative;top:140px;width:100%;height:31px;line-height:31px;background-color:#8c8c8c;color:#FFF;font-family:'Courier New', Helvetica, Arial, sans-serif;font-size:9.5px;letter-spacing:1px;text-align:center;filter: alpha(opacity=90);-khtml-opacity: 0.9;-moz-opacity: 0.9;opacity: 0.9;z-index:99;}
.productsoldout-empty{position:relative;top:140px;width:100%;height:31px;line-height:31px;}