.ie8 .ui-dialog {
	/*top:40px !important; Generates BUG 6582*/
}
.ie8 #dialog-info .sizeGuide {
     font-family: adobe-garamond-pro;
     padding: 20px;
     width: auto;
}
.ie8 #dialog-info .sizeGuide .header {
     background: url("../images/lamb-line.jpg") no-repeat scroll center top transparent;
	height: 93px;
}
.ie8 #dialog-info .sizeGuide .header h1 {
    color: #6E6B6A;
    font-family: adobe-garamond-pro;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 43px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.ie8 #dialog-info .sizeGuide .header h2 {
    color: #8E754C;
    font-family: adobe-garamond-pro;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 2px 0 0;
    text-align: center;
    text-transform: none;
}
.ie8 #dialog-info .sizeGuide .navigation ul {
     margin-left: 103px;
     overflow: auto;
}
.ie8 #dialog-info .sizeGuide .navigation ul li {
     border: medium none;
     display: inline-block;
     float: left;
     padding: 0px 8px;
}
.ie8 #dialog-info .sizeGuide .navigation ul li {
     border-left: 1px dotted #999999;
     float: left;
     list-style-type: none;
     padding: 0px 10px;
     text-align: center;
}

.ie8 #dialog-info .sizeGuide .navigation ul li div {
     border-bottom: 2px solid #FFFFFF;
     border-top: 2px solid #FFFFFF;
     padding: 5px 15px;
     text-align: center;
     white-space: nowrap;
}
.ie8 #dialog-info .sizeGuide .navigation ul li div:hover {
     border-bottom: 2px solid #DEDEDF;
     border-top: 2px solid #DEDEDF;
}

.ie8 #dialog-info .sizeGuide .navigation ul li div.active {
     border-bottom: 2px solid #8E754C;
     border-top: 2px solid #8E754C;
     color: #333333;
}
.ie8 #dialog-info .sizeGuide .navigation ul li:first-child {
     border: medium none;
}
.ie8 #dialog-info .sizeGuide .navigation a {
     color: #6E6B6A;
     font-size: 11px;
     letter-spacing: 0.15em;
     outline: 0px none;
     text-decoration: none;
     text-transform: uppercase;
}
/*---styles for IE 9 */

.ie9 .ui-dialog {
	/*top:40px !important; Generates BUG 6582*/ 
	
}
.ie9 #dialog-info .sizeGuide {
     font-family: adobe-garamond-pro;
     padding: 20px;
     width: auto;
}
.ie9 #dialog-info .sizeGuide .header {
     background: url("../images/lamb-line.jpg") no-repeat scroll center top transparent;
	height: 93px;
}
.ie9 #dialog-info .sizeGuide .header h1 {
    color: #6E6B6A;
    font-family: adobe-garamond-pro;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 43px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.ie9 #dialog-info .sizeGuide .header h2 {
    color: #8E754C;
    font-family: adobe-garamond-pro;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 2px 0 0;
    text-align: center;
    text-transform: none;
}
.ie9 #dialog-info .sizeGuide .navigation ul {
     margin-left: 103px;
     overflow: auto;
}
.ie9 #dialog-info .sizeGuide .navigation ul li {
     border: medium none;
     display: inline-block;
     float: left;
     padding: 0px 8px;
}
.ie9 #dialog-info .sizeGuide .navigation ul li {
     border-left: 1px dotted #999999;
     float: left;
     list-style-type: none;
     padding: 0px 10px;
     text-align: center;
}

.ie9 #dialog-info .sizeGuide .navigation ul li div {
     border-bottom: 2px solid #FFFFFF;
     border-top: 2px solid #FFFFFF;
     padding: 5px 15px;
     text-align: center;
     white-space: nowrap;
}
.ie9 #dialog-info .sizeGuide .navigation ul li div:hover {
     border-bottom: 2px solid #DEDEDF;
     border-top: 2px solid #DEDEDF;
}

.ie9 #dialog-info .sizeGuide .navigation ul li div.active {
     border-bottom: 2px solid #8E754C;
     border-top: 2px solid #8E754C;
     color: #333333;
}
.ie9 #dialog-info .sizeGuide .navigation ul li:first-child {
     border: medium none;
}
.ie9 #dialog-info .sizeGuide .navigation a {
     color: #6E6B6A;
     font-size: 11px;
     letter-spacing: 0.15em;
     outline: 0px none;
     text-decoration: none;
     text-transform: uppercase;
}
