* { margin:0; padding:0; border:none !important; }
body, html { background-color:#FFF; color:#666; font-size:9px; font-family:Arial, Helvetica, sans-serif; }

/* Hide unneeded elements */
#progress_bar_dialog, #header-nav-search, 
#main-navigation, #msgpopup_content_wrapper, 
#customer-care-navigation, #footer,
#sub-footer, .modify, .header, .hidden, .hide, 
#MessageArea, .directions, #header-hover-tout, .viewBy,
.email, .print, tr, #location, #carousel, #bv-tabs,
.addressStart, .addressEnd, .store-end, #logo-container,
.ui-widget-overlay, .ui-dialog-titlebar-close, .storeInfo,
.zoomWindow, .zoomPreload, .zoomPup, .inStoreDirections,
.features, .social-options, .tooltipClickLeft.blue_link  { display:none !important; }

#page { width:596px; margin:0; }
#header { border-bottom:6px solid #000 !important; padding-bottom:6px; }
#header #header_logo { width:188px; height:52px; margin:0; }
#header #header_logo img.hide { display:block !important; }
#main_content_wrapper { width:auto; margin:0; }
#customer-care-main-content { padding:0; width:586px; min-height:0; }

/* PDP Specific */
#pdp-display { width:596px; min-height:550px; }
#pdp-display #product .product_images { height:280px; border-bottom:1px solid #CCCCCC !important; }
#pdp-display #product { width:300px; margin:26px 0 0; }
#pdp-display #product .zoomPad { width:300px; display:table-cell; border-bottom:1px solid #CCC; height:280px; vertical-align:middle; cursor:default; float:none; }
#pdp-display #product img { width:300px; }
#pdp-display .product_options { width:265px; float:right; margin:18px 0 0; height:auto; background-color:#F2F1F1 !important; }
#pdp-display .product_options .pdp-description { padding-bottom:0 !important; }
#pdp-display .product_options .pdp-description .description-info h3.ui-state-active, #pdp-display .product_options .pdp-description .description-info h3.ui-state-default { cursor:default; background:#FFF none; font-size:11px; text-transform:none; padding:10px 0 0 10px; color:#666; font-weight:bold; }
#pdp-display .product_options .pdp-description .price-cart br { display:none; }
#pdp-display .product_options .pdp-description .price-cart .price { min-height:20px; }
#pdp-display .product_options .pdp-description .price-cart .price .sale-price { color:#000; font-size:12px; font-weight:bold; }
#pdp-display .product_options .pdp-description .description-info { width:285px; position:relative; left:-10px; padding-bottom:0; }
#pdp-display .product_options .pdp-description .description-info .collapsible-section { display:block !important; overflow:visible !important; }
#pdp-display .product_options .pdp-description .description-info p { font-size:9px; line-height:11px; margin-top:0; padding-top:0; }
#pdp-display .product_options .pdp-description .description-info .jspContainer, #pdp-display .product_options .pdp-description .description-info .collapsible-section { height:auto !important; overflow:visible !important; padding:0 10px 10px; }
#pdp-display .product_options .pdp-description .description-info .jspContainer .jspPane { padding:0 !important; }
#pdp-display .product_options .pdp-description .description-info ul { width:135px; float:left; }
#pdp-display .product_options .pdp-description .description-info ul li { color:#333; font-weight:bold; font-size:9px; }
#pdp-display .product_options .pdp-description .description-info ul li span { font-weight:normal; }
#pdp-display .product_options .pdp-description .description-info .collapsible-section.last { float:left; }
#pdp-display .product_options .pdp-description .description-info .collapsible-container { height:auto; top:0; }
#pdp-display .product_options .pdp-description #frame-lens { width:210px; }
#customer-care-footer.hide { display:block !important; border-top:1px solid #CCC !important; clear:both; margin:20px 0 0; padding:10px 0; }
#pdp-display .product_options .pdp-description #frame-lens .icn.on { border: 2px solid #000 !important; }