/* Category display */
.pr_snippet_category .pr-snippet-wrapper {
    border: none;
    background: none;
    width: auto;
}

.pr_snippet_category .pr-snippet-stars {
    border: none;
    background: none;
}

.pr_snippet_category .pr-snippet-rating-decimal {
    display: none;
    clear: right;
}

.pr_snippet_category .pr-snippet-review-count {
    display: inline;
    clear: right;
}

.pr_snippet_category .pr-snippet-read-write {
    border: none;
    background: none;
    display: none;
}

.pr_snippet_category .pr-snippet-read-reviews {
    display: none;
}

.pr_snippet_category .pr-snippet-write-review {
    display: none;
}

.pr_snippet_category .pr-snippet-write-first-review {
    display: none;
}

/* Product display */
.pr_snippet_product .pr-snippet-wrapper {
    border: none;
    background: none;
    width: auto;
}

.pr_snippet_product .pr-snippet-stars {
    border: none;
    background: none;
}

.pr_snippet_product .pr-snippet-rating-decimal {
    display: none;
    clear: right;
}

.pr_snippet_product .pr-snippet-review-count {
    display: inline;
    clear: right;
    }

.pr_snippet_product .pr-snippet-read-write {
    border: none;
    background: none;
            text-align: left;
                    margin-top: 0;
            padding-top: 4px;  /* mixing px's w/ em's b/c of IE6 */
            }

.pr_snippet_product .pr-snippet-read-reviews {
    padding: 0 1em 0 0;
            /* show both links on separate lines case */
        float: none;
        text-align: left;
        border-right: none;
    }

.pr_snippet_product .pr-snippet-write-review {
            float: none;
        text-align: left;
        padding: 0;
    }

.pr_snippet_product .pr-snippet-write-first-review {
    text-align: left;
    display: block;
}

/* Review Snapshot/Summary */

.pr_review_summary .pr-snapshot-express-referral {
    display: none;
}

/* Write Reviews display */
  #reviewForm .prlabel {
      float: left;
      text-align: right;
  }
