.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchindex-results {
  *zoom: 1;
  margin-top: 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #a0b3c3;
}
.searchindex-results:before,
.searchindex-results:after {
  display: table;
  content: "";
  line-height: 0;
}
.searchindex-results:after {
  clear: both;
}
.searchindex-results li {
  margin-bottom: -1px;
  float: left;
  *zoom: 1;
  margin: 0px 2px;
}
.searchindex-results li:before,
.searchindex-results li:after {
  display: table;
  content: "";
  line-height: 0;
}
.searchindex-results li:after {
  clear: both;
}
.searchindex-results li a {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  display: block;
  cursor: pointer;
  padding: 2px 5px 1px 5px;
  line-height: 20px;
  border: 1px solid transparent;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}
.searchindex-results li a:hover {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -o-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: linear-gradient(to bottom, #e8e8e8, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#ffffffff', GradientType=0);
  border: 1px solid #a0b3c3;
  border-bottom: none;
}
.searchindex-results li a span {
  font-weight: normal;
  font-size: 0.9em;
}
.searchindex-results li.active a {
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -o-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: linear-gradient(to bottom, #e8e8e8, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#ffffffff', GradientType=0);
  cursor: default;
  border: 1px solid #a0b3c3;
  border-bottom: none;
}
.searchindex-result li {
  padding: 5px;
}
.searchindex-result li .title a {
  font-weight: bold;
  color: #203548;
  font-size: 13px;
}
.searchindex-result.searchindex-result-category {
  margin-bottom: 20px;
}
.searchindex-result.searchindex-result-category li {
  padding: 1px 0px;
}
.searchindex-result.searchindex-result-category li a {
  font-weight: bold;
  color: #203548;
}

/*=======================================================Category Listing Page Design Start Here==========================================*/
.category-image{ margin:0 0 12px 0; padding:0; text-align: center; width:920px; height:342px; position:relative;}
 #options{ background:#cccccc; float:left; width:920px; padding:0; margin:0 0 14px 0;}
 #options .short_text{ float:left; width:120px; padding:0; margin:0;}
 #options .short_text h3 {
  font-size: 20px; float:left; font-family: 'HelveticaNeueLTstdCnbold', 'texgyreheroscnbold'; line-height:45px; padding:6px 0 0 27px; margin:0; color:#000; text-transform:uppercase; font-weight:bold;
}
 #options .link_color{ float:left; width:800px; padding:20px 0 20px 0; margin:0;}
 #options .link_color .div1st{ float:left; width:380px; padding:0 16px 0 0; margin:0; border-right:solid 3px #a7a7a7;}
 #options .link_color .div2nd{ float:left; width:384px; padding:0 16px 0 0; margin:0;}

 #options .link_color .div1st .short-small{ float:left; width:380px; padding:0 0 5px 0; margin:0;}
 #options .link_color .div2nd .short-small{ float:left; width:380px; padding:0 0 5px 0; margin:0;}
 #options .link_color .div2nd .short-small ul{ list-style-type:none; padding:0 0 0 15px;}

 #options .link_color .div1st .short-small ul{ list-style-type:none; padding:0 0 0;}
 #options .link_color ul li{ float:left; padding:0 5px 5px 0; white-space:nowrap;}
 #options .link_color ul li a{ text-decoration:none;}
 #options .link_color ul li a span.left{ background:url(../images/left.png) no-repeat 0 0; width:6px; height:21px; float:left;}
 #options .link_color ul li a span.expan{ background:url(../images/expan.png) no-repeat 100% 0; height:21px; float:left; font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-weight:normal; font-size:15px; line-height:19px; text-transform:uppercase; color:#000; text-decoration:none; padding:0 6px 0 0; text-shadow:1px 1px 1px #fff; white-space: nowrap;}
 #options .link_color ul li a:hover span.left, #options .link_color ul li a:hover span.expan{ 
  background:url(../images/hover.png) repeat-x 0 0; font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-weight:normal;}
  
 #options .link_color ul li a.selected span.left, #options .link_color ul li a.selected span.expan{ 
  background:url(../images/hover.png) repeat-x 0 0; font-family: 'HelveticaNeueLTstdCnbold', 'texgyreheroscnbold'; font-weight:bold;}
    
 #options .link_color ul li ul li a
.form-list {
    position: relative;
    z-index: 10;
}

.color_bg{ float:left; width:20px; height:20px; /*background:url(../images/color-bg.png) no-repeat 0 0; padding:1px 2px 3px 2px;*/ }
.color_bg .inner-bg{ width:18px; height:18px; border:solid 2px #aeaeae;}
.color_bg .inner-bg:hover{ border:solid 2px #d3fc02; width:18px; height:18px;}
a.selected .color_bg .inner-bg { border:solid 2px #d3fc02; width:18px; height:18px;}

/*------------------------------------------Category listing page design Start Here today (27-02-13)--------------------------*/

.element { height:267px; margin: 0 10px 30px 0; overflow:visible;}
 .element .ac_title{ position:relative; background:#4c4c4c; height:36px; width:222px; overflow:visible; margin:0 0 0 0; left:0; top:0;}
 .element .ac_title h2{ font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-size:15px; line-height:15px; font-weight:normal; color:#ffffff; padding:3px 0 0 10px; text-transform:capitalize; overflow:hidden; height:31px; float:left; width:155px; margin:0 0 3px 0;}
 .element .ac_title .list_other h2{ width:210px; }

/*.category-view .element .ac_title .list_prod h2 { width:210px;}*/
 .element .ac_subtitle {bottom:-27px; left:5px; clear:both; display:none;}
 .element .ac_subtitle p{ font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-size:12px; line-height:12px; font-weight:normal; color:#fff; padding:4px 0 0 0; margin:0 10px 0 10px; text-transform:capitalize; border-top:solid 1px #fff; height:12px; overflow:hidden;
}

 .element .ac_title .price-box {float:left; width:47px; padding:2px 10px 0 0; margin:0; text-align:right;}
 .element .ac_title .price-box .old-price{ float:left; width:47px; text-align:right; padding:0; margin:3px 0 0 0;}
 .element .ac_title .price-box .old-price .price-label{ display:none;}
 .element .ac_title .price-box .old-price .price{ font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-size:12px; line-height:12px; font-weight:normal; color:#fff; font-weight:normal; text-align:right; text-decoration:line-through;}
 .element .ac_title .price-box .special-price{ float:left; width:47px; text-align:right; padding:0; margin:0;}
 .element .ac_title .price-box .special-price .price-label{ display:none;}
 .element .ac_title .price-box .special-price .price{ font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-size:15px; line-height:15px; font-weight:bold; text-align:right; color:#f54348;}

/* Safari*/ 
@media screen and (-webkit-min-device-pixel-ratio:0)
{
 .element .ac_title .price-box .special-price .price { font-weight:bold; color:#f54348;}
}
/* Safari*/ 

 .element .ac_title .price-box .regular-price .price{ font-family: 'HelveticaNeueLTstdCnregular', 'texgyreheroscnregular'; font-size:15px; line-height:15px; font-weight:normal; text-align:right; color:#fff;}
/* Safari*/ 
@media screen and (-webkit-min-device-pixel-ratio:0)
{
 .element .ac_title .price-box .regular-price .price { font-weight:normal;}
}
/* Safari*/ 
