@charset "utf-8";
/* Base Styles that can be removed */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside, details, embed,
figure, figcaption,
menu, output, ruby, section, summary,
time, mark {
border: 0;
vertical-align: baseline;
font-family: inherit;
font-style: inherit;
font-size: 100%;
outline: 0;
padding: 0;
margin: 0;
}
body {
color: #333;
vertical-align: baseline;
font-family: inherit;
font-style: inherit;
font-size: 100%;
outline: 0;
padding: 0;
margin: 0;
text-align: center;
font-size: 12px;
background: url("/content/219639/_templates/233938/fastmodern/header-bg.png");
background-repeat: no-repeat;
background-position: center top;
background-color: #444444;
font-family: Arial,Helvetica,sans-serif;
}
body a:link, body a:visited {
color: #595959;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
a:active {
color: #ffffff;
}
#primary-links a {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #d8d8d8;
}
.store-branding.name {
width: 285px;
}
/*font style end*/
/*main body*/
form, fieldset {
margin: 0;
padding: 0;
border: none;
}
#container {
width: 976px;
text-align: left;
margin: 0 auto;
}
#bodywrap {
background-color: #ffffff;
float: left;
width: 960px;
clear: both;
position: relative;
padding-top: 15px;
padding-bottom: 15px;
}
#content {
padding: 20px;
*margin-top: 0px;
}
/* Category Navigation */
#left-nav {
-webkit-border-radius: 8px 8px 0px 0px;
border-radius: 8px 8px 0px 0px;
width: 960px;
float: left;
display: inline;
position: relative;
margin: 10px 0 10px 0;
z-index: 9999;
filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
}
#bottom-nav {
clear: both;
border-radius: 0 0 4px 4px;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
background-color: #fff;
float: left;
padding: 10px 15px;
margin-bottom: 10px;
}
/*header*/
#header-container {
position: relative;
height: 85px;
width: 960px;
*height: 180px;
}
#masthead {
height: 37px;
float: left;
margin-top: 26px;
width: 192px;
margin-bottom: 22px;
}
#masthead h1 a {
text-decoration: none;
position: absolute;
left: 15px;
color: #fefefe;
font-family: Impact, Arial, sans-serif;
font-size: 36px;
font-weight: lighter;
text-transform: uppercase;
letter-spacing: 4.2px;
}
/*primary header links*/
#primary-header-container {
float: right;
height: 40px;
width: auto;
margin-top: 28px;
}
#primary-header-container ul#primary-links li a, #primary-header-container #cart-links li a {
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight:normal;
color: #ffffff;
}
/*your cart information */
#cart-links {
background-image: url("/content/219639/_templates/233938/fastmodern/cart-icon.png");
background-repeat: no-repeat;
background-position: 8px center;
list-style: none;
display: inline-block;
padding: 0px 0px 0px 48px;
margin-top: 0px;
background-color: #2a2a2a;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#cart-links li {
display: inline;
padding: 0px 10px;
}
#cart-links li a {
color: #d8d8d8;
text-decoration: none;
vertical-align: middle;
}
#cart-links .checkout {
text-decoration: underline;
display: inline-block;
background-image: url("/content/219639/_templates/233938/fastmodern/checkout-button.png");
background-repeat: no-repeat;
background-position: center;
text-indent: -9999px;
height: 40px;
width: 71px;
}
/*secondary header*/
.hdbtm {
border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
float: left;
}
.hdbtmin {
padding: 0px;
float: left;
width: 960px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
div#header-container div.hdbtm {
;
}
#secondary-header-container {
height: 80px;
float: right;
width: 577px;
}
/*search box*/
#search-box {
float: left;
height: 53px;
margin-top: 20px;
width: 579px;
}
#search-box div, #search-box form {
display: inline;
float: left;
height: 41px;
width: 490px;
margin-left: 10px;
}
#search-box .search-field {
border: medium none;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
color: #ffffff;
background-color:#676767;
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: normal;
height: 31px;
line-height: 30px;
padding: 5px 5px 5px 10px;
width: 467px;
}
#search-box form input.btn-search {
background: url("/content/219639/_templates/233938/fastmodern/search-icon.png");
background-repeat: no-repeat;
border: medium none;
bottom: 32px;
color: transparent;
float: right;
font-size: 12px;
font-weight: normal;
height: 23px;
right: 10px;
padding: 0;
position: relative;
width: 22px;
}
#search-box div.adv-search {
clear: right;
float: left;
margin: 0;
width: 78px;
}
#search-box div a {
background-image: url("/content/219639/_templates/233938/fastmodern/nav-top-search-adv.png");
background-repeat: no-repeat;
height: 41px;
width: 77px;
display: inline-block;
text-indent: -9999px;
*color: transparent;
*text-indent: 0px;
}
.btn-main:hover {
cursor: pointer;
}
#secondary-header-container #secondary-header-checkout {
float: left;
margin-left: 10px;
padding-top: 22px;
}
#secondary-header-container #secondary-header-links {
float: left;
height: 59px;
margin-left: 30x;
margin-top: 5px;
width: 196px;
padding: 2px 19px;
}
ul#primary-links {
margin-top: 0;
overflow: hidden;
padding: 12px;
}
ul#primary-links li {
display: inline;
margin-right: -3px;
padding: 20px 15px;
}
ul#primary-links li:last-of-type {
border-right: none !important;
}
ul#primary-links li:first-of-type {
border-left: none !important;
}
ul#primary-links li a {
text-decoration: none;
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
font-weight: 100;
color: #ffffff;
}
ul#primary-links li a:hover {
text-decoration: underline;
}
/* customer portal links */
#customerportal-cont {
background-color: rgba(0,0,0,0.3);
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding: 10px;
position: absolute;
right: 10px;
top: 10px;
}
#customerportal-cont ul {
margin: 0;
list-style: none;
}
#customerportal-cont li {
display: inline;
padding: 0px 10px;
color: #fff;
}
#customerportal-cont li:first-child {
padding-right: 0px;
}
#customerportal-cont li:first-child a {
padding-right: 10px;
}
#customerportal-cont li a {
color: #fff;
text-decoration: none;
}
#portal-links {
padding: 0;
}
/* ?????? */
.cartwrap {
background-color: rgba(0,0,0,0.3);
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
padding: 10px;
position: absolute;
right: 10px;
top: 50px;
width: 385px;
vertical-align: middle;
}
.cartwrap span {
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
padding-left: 20px;
background: url("/content/173875/cart.png");
background-repeat: no-repeat;
color: #fff;
}
/* Category Navigation Ul > LI > UL > LI two levels deep */
.section-cap {
float: left;
text-align: left;
height: 42px;
-webkit-border-radius: 8px 0px 0px 0px;
border-radius: 8px 0px 0px 0px;
background: rgb(201,1,1); /* Old browsers */
background: -moz-linear-gradient(top, rgba(201,1,1,1) 0%, rgba(177,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,1,1,1)), color-stop(100%,rgba(177,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90101', endColorstr='#b10000',GradientType=0 ); /* IE6-9 */
width: 100px;
}
.section-cap p {
font-family: Impact,Helvetica,sans-serif;
color: #ffffff;
font-size: 24px;
font-weight: lighter;
letter-spacing: 1px;
width: 88px;
padding-top: 7px;
padding-left: 12px;
}
#category-container {
float: left;
}
#category-container ul#cats {
list-style-type: none;
margin: 0 auto;
padding-left: 10px;
background-color: #5a5a5a;
width: 850px;
border-radius: 0px 8px 0px 0px;
-webkit-border-radius: 0px 8px 0px 0px;
}
#category-container ul#cats li {
display: inline-block;
padding-bottom: 16px;
padding-top: 6px;
*zoom: 1;
*display: inline;
border-right: 1px solid #eeeeee;
word-break: break-all;
border: none;
}
#category-container ul#cats li:hover {
background-image: none;
width: auto;
background-color: #2a2a2a;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border: none;
}
#category-container ul#cats li a {
font-size: 12px;
color: #f2f2f2;
padding-top: 5px;
text-decoration: none;
word-break: break-word;
display: block;
padding-left: 10px;
width: 149px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
#category-container ul#cats li:last-of-type {
border-right: none;
}
#category-container ul#cats li:hover a {
color: #FFFFFF;
text-decoration: underline;
}
#category-container ul#cats li ul {
display: none;
background-color: #2a2a2a;
width: 150px;
padding-left: 9px;
}
#category-container ul#cats li:hover ul {
display: block;
position: absolute;
z-index: 9999;
}
#category-container ul#cats li:hover ul li {
display: block;
padding: 10px 0 10px 0;
border-radius: 0;
width:149px;
}
#category-container ul#cats li ul li:first-of-type {
border-top: none;
}
#category-container ul#cats li ul li:first-child {
border-top: none;
}
#category-container ul#cats li:hover ul li a {
width:125px;
word-break: keep-all;
text-decoration: none;
}
#category-container ul#cats li:hover ul li a:hover {
text-decoration: underline;
}
#category-container ul#cats li:hover ul li ul {
display: none;
}
/* Footer Styles */
/* Stay Updated section */
#subscription-container {
width: 960px;
clear: both;
padding-top: 10px;
height: 67px;
}
#subscription-container .subscription-content {
width: 960px;
background-color: #3a3a3a;
height: 67px;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #fafafa;
}
div.subscription-news-text {
width: 624px;
float: left;
margin: 0px 0px 0px 0px;
padding-top: 20px;
}
div.subscription-news-text p {
font-size: 12px;
font-family: Arial,Helvetica,sans-serif;
}
span.subscription-header {
float: left;
font-family: Impact,Helvetica,sans-serif;
font-size: 24px;
font-weight: 100;
height: 51px;
-webkit-border-radius: 5px 0px 0px 0px;
border-radius: 5px 0px 0px 0px;
margin-top: -21px;
margin-right: 21px;
padding-left: 12px;
padding-top: 17px;
text-shadow: 1px 1px 5px #39771A;
width: 142px;
background: rgb(201,1,1); /* Old browsers */
background: -moz-linear-gradient(top, rgba(201,1,1,1) 0%, rgba(177,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,1,1,1)), color-stop(100%,rgba(177,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(201,1,1,1) 0%,rgba(177,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90101', endColorstr='#b10000',GradientType=0 ); /* IE6-9 */
}
span.subscription-info {
}
div.subscription-news-join {
float: left;
margin-left: 50px;
width: 216px;
height: 56px;
}
div.subscription-news-join form {
height: 57px;
width: 260px;
}
div.subscription-news-join form input#newsletter-email {
color: #333333;
height: 29px;
padding-left: 15px;
width: 200px;
margin-top: 10px;
padding-bottom: 5px;
padding-top: 5px;
line-height: 2;
border: none;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
font-weight: normal;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */    border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
div.subscription-news-join form input#newsletter-go {
background-image: url("/content/219639/_templates/233938/fastmodern/submit-newsletter-email.png");
background-position: 10px center;
background-repeat: no-repeat;
color: transparent;
margin-left: -45px;
width: 0px;
height: 0px;
padding: 11px 29px 7px 8px;
top: 5px;
position: relative;
*padding: 10px 29px 25px 8px;
}
/* Navigation at bottom of page */
#footer-container {
clear: both;
padding-top: 25px;
width: 915px;
margin: 0 auto;
}
#footer-container #footer-primary-container {
color: #fff;
height: 55px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
#secondary-links {
list-style: none;
overflow: hidden;
float:left;
width: 645px;
margin-top: 0px;
white-space: normal;
}
#secondary-links li {
padding: 0px 35px 0px 5x;
display: inline;
}
#secondary-links li a {
padding: 0px 8px 0 10px;
font-size: 10px;
text-decoration: none;
font-family: Arial,Helvetica,sans-serif;
color: #ffffff;
}
#secondary-links li a:hover {
text-decoration: underline;
}
.copyright {
display: block;
font-family: Arial,Helvetica,sans-serif;
height: 20px;
width: 270px;
float: left;
}
#footer-container #footer-primary-container #footer-flair {
text-align: center;
margin-top: 20px;
}
/*MISC*/
/*Fixes margin in checkout causing summary of purchase to not float at top of page*/
div#page-body fieldset#billing-address div.summary {
margin: 20px 0px 10px 0px;
}
textarea, input {
outline: none;
}
/*Cart default checkout-buttons */
div.wrapper-main input.button.apply {
background-image: url("/content/219639/_templates/233938/fastmodern/button-apply.gif");
height: 19px;
width: 42px;
}
div.wrapper-main input.button.buy {
background-image: url("/content/219639/_templates/233938/fastmodern/button-buy.gif");
height: 18px;
width: 28px;
}
div.wrapper-main input.button.checkout {
background-image: url("/content/219639/_templates/233938/fastmodern/button-checkout.gif");
height: 25px;
width: 97px;
}
div.wrapper-main input.button.clear-cart {
background-image: url("/content/219639/_templates/233938/fastmodern/button-clear-cart.gif");
height: 25px;
width: 82px;
}
div.wrapper-main input.button.continue-shopping {
background-image: url("/content/219639/_templates/233938/fastmodern/button-continue-shopping.gif");
height: 25px;
width: 153px;
}
div.wrapper-main input.button.recalculate {
background-image: url("/content/219639/_templates/233938/fastmodern/button-recalculate.gif");
height: 25px;
width: 89px;
}
div.wrapper-main input.button.remove {
background-image: url("/content/219639/_templates/233938/fastmodern/button-remove.gif");
height: 19px;
width: 20px;
}
div.wrapper-main input.button.return-cart {
background-image: url("/content/219639/_templates/233938/fastmodern/button-return-cart.gif");
height: 25px;
width: 123px;
}
div.wrapper-main input.button.submit-order {
background-image: url("/content/219639/_templates/233938/fastmodern/button-submit-order.gif");
height: 25px;
width: 113px;
}
/* START: top categories - structure */
/* styles the HTML rendered in the search results */
/* result is list view, results-grid is grid view */
#page div.results .result { display:inline-block; line-height:1.25; margin-bottom:10px; overflow:hidden; width:auto; }
#page div.results-grid { border-collapse:separate; display:table; }
#page div.results-grid .result { border-collapse:separate; clear:none; display:table-cell; line-height:1.25; text-align:left; height:auto; overflow:hidden; width:167px; }
#page div.results-grid .results-row { display:table-row; }
#page .result .details { float:left; padding:5px; text-align:left; width:365px; overflow:hidden; }
#page .result .amount { float:left; padding-right:5px; text-align:left;}
#page .result {clear:both;}
#page .result h3 { font-size:13px; font-weight:bold; margin-bottom:8px; overflow:hidden; }
#page .result .description { display:block; line-height:1.10em; margin-bottom:10px; overflow:hidden; }
#page .result .thumbnail { float:left; margin-right:15px; width:150px; text-align:center; }
#page .result .btn-add-to-cart { margin:10px 0; }
#page div.results-grid .result .thumbnail { clear:both; float:none; margin:10px 0px 5px 10px !important; }
#page div.results-grid .result .amount { display:block; float:none; padding-left: 5px; text-align:left; }
#page div.results-grid .details { display:block; float:none; overflow:hidden; width:auto; }
#page div.results-grid .btn-add-to-cart { margin:10px 0; }
/* styles the paging at the top and bottom of search results */
#page div.paging { font-size:small; margin:10px 0; }
#page div.paging span { margin-left:10px; }
#page div.paging label { padding-right:5px; }
#page div.paging .page-mode { margin-left:0; }
#page div.paging a { font-weight:bold; }
#page div.paging a.disabled { color:#333333; font-weight:normal; text-decoration:none; }
/* styles the search results */
#page .result .details { padding-top: 0; }
#page .result h3 { margin: 0; padding: 0; margin-bottom: 8px; word-wrap: break-word; overflow: hidden; }
#page .result .amount { width: auto; }
#page .result .thumbnail { margin-right: 8px; }
/* OVERRIDE STYLES */
#page div.results-grid .result{width: 250px !important;*float:left;}
#page div.results-grid .result .thumbnail{margin:0; width: auto; text-align: center;}
#page div.results-grid .details, #page div.results-grid .result .amount{text-align: center;}
#page div.results-grid {margin:0 auto;width:800px;}
#page div.results-grid .result .thumbnail {margin:10px 0 5px 0px !important;}
div.upsell-panel div.product .product-details a.btn-main {float:none !important; width: 45px; margin: 0 auto;}
div.upsell-panel div {text-align:center;}
div.upsell-panel div.product, .results-grid div.result {text-align:center;}
#page div.results-grid .result { max-width:250px;}
div.upsell-panel div.product .product-details {display:block;margin:0 auto;text-align:center;}
#page div.results-grid .result .thumbnail  {margin:10px auto !important;}
#page div.results-grid .details {text-align:center;margin:0 auto;}
#page div.results-grid .result .amount {text-align:center;margin:0 auto;padding-left:0px !important;}
#page .result .amount {padding-right:0px !important;text-align:right;}
#page div.results-grid .results-row {margin: 0 auto;text-align:center;width:800px;}
#page div.results .results-row .result  {margin:15px auto; display:block;}
div.results div.results-row {display:block;margin:0 auto;width:800px;}
#page .result span.price span {display:block;}
div.wrapper-main .upsell table {margin:0 auto !important; text-align:center !important;}
div.upsell-panel {
float: left;
display: inline;
width: 100%;
}
.upsell-panel div.group {
display: block;
margin: 0 auto;
width: 800px;
}
div.upsell-panel div.product, div.upsell-panel div.category  {
width: 250px !important;
*width: 242px !important;
}
div.upsell-panel div.product .product-thumb img {
float: none !important;
}
#message-center { clear:both; padding-top:10px; }
/* END: top categories - structure */