#header.onDemand .search,
#header.onDemand .search  * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#header.onDemand .search  {
	background: url(/images/francescas/en_us/global/globalgraphics/search-shadow.png) bottom center no-repeat;
	padding-bottom: 15px;
}

#header.onDemand .search form {
	background-color: #f7f7f7;
	height: 43px;
	width: 340px;
	padding: 0;
	margin: 0;
	border: 1px solid #cdcdcd;
	overflow: hidden;
}

#header.onDemand .search form input[type="text"] {
	display: block;	
	background: transparent;
	height: 41px;
	width: 298px;
	color: #cdcdcd;
	font-family: Georgia,'Proxima Nova',Helvetica,sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
	line-height: 13px;
	text-indent: 10px;
	padding: 13px 0;
	margin: 0;
	float: left;
	border: none;
	border-radius: none!important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

#header.onDemand .search form .search-btn {
	display: block;	
	background: transparent;
	height: 41px;
	width: 40px;
	margin: 0;
	padding: 0;
	float: left;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

#header .nav ul#tabletHeader li#global-cart {
	background: url("/images/francescas/en_us/global/globalgraphics/header_shopping_bag.png") no-repeat scroll left 2px transparent;
	padding-right: 15px;
}

.add-cart-container p a.add-wishlist {
	display: inline-block;
	color: #89c0db;
	line-height: 22px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 0 30px;
	margin-bottom: 10px;
	letter-spacing: 0.1em;
	background: transparent
	 url("/images/francescas/en_us/global/globalgraphics/heart.png")
	 no-repeat 0 1px;
}

.add-cart-container p a.tell-friend {
	display: inline-block;
	color: #89c0db;
	line-height: 22px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 0 0 30px;
	margin-bottom: 10px;
	letter-spacing: 0.1em;
	background: transparent
	 url("/images/francescas/en_us/global/globalgraphics/wishlist_tell_friend_icon.png")
	 no-repeat 0 1px;
}

.add-cart-container p a.add-wishlist:hover,
.add-cart-container p a.tell-friend:hover {
	text-decoration: none;
	}


.nav-tabs > li > a {
	border-radius: 0;
	border: none;
	margin-right: 0;
}

.jcarousel-skin-tango{
	float:left;
}



.nav-tabs > li > a {
	border-radius: 0;
	border: none;
	margin-right: 0;
}


.jcarousel-skin-tango{
	float:left;
}
/*
.jcarousel-skin-tango .jcarousel-container-horizontal {
	background: #f7f7f7;
}
*/
.alt-views-container a {
	padding: 0!important;
	border: transparent;
}

, 
.alt-views-container .active a {
	border-color: transparent;
}
.alt-views-container a:hover{
	border: 4px solid transparent;

}

.alt-views-container a {
	border: 4px solid transparent;
	margin: 0;
}

.alt-views-container a:hover {
	border-color:#d9ecf5;
}

.jcarousel-skin-tango .jcarousel-item-horizontal img:hover {
	border: none;
}

.thumbdiv {
	background: none;
	border: 4px solid transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.thumbdiv:hover {
	border-color:#d9ecf5;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	display: none !important;
	top: 100px;
	background: url(/images/francescas/en_us/global/globalgraphics/slider-arrow-left.png) center center no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
	display: none !important;
	top: 100px;
	background: url(/images/francescas/en_us/global/globalgraphics/slider-arrow-right.png) center center no-repeat;
}


/*TABBED CAROUSEL*/
 .tabbed-slider img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 30px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 20px;
  padding-bottom: 0px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  z-index: 2;
  border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}

.tabbable {
  *zoom: 1;
}


.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

#tabletHeader #search {
	display: none;
	}



/* ONDEMAND TOPNAV MICHAEL */

#header.onDemand .nav {
	color: #777;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	padding: 10px 0;
	text-transform: none!important;
	border: none;
}

#header.onDemand .nav ul li {
	font-size: 14px;
	}

#header.onDemand .nav #tabletHeader > li {
	font-size: 14px;
	margin-left: 45px;
	padding: 0;
	}

#header.onDemand .nav ul li a {
	color: #777;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	}

#header.onDemand .nav ul li a:hover {
	color: #777;
	text-decoration: none;
	}

#collapsedMenu {
	padding: 0;
	margin: 0;
	}

#header.onDemand .nav ul#collapsedMenu div#shopCategoriesButton {
	background: url("/images/francescas/en_us/global/globalnav/topnav/list.png") no-repeat left center transparent;
	color: #777;
	cursor: pointer;
	padding: 0 0 0 33px;
	}

#header.onDemand .nav ul#collapsedMenu div#shopCategoriesButton:hover {
	color: #777;
	text-decoration: none;
	}

#header.onDemand .nav ul li:hover > a, 
#header.onDemand .nav ul#tabletHeader li.myAccount span:hover, 
#header .nav ul#tabletHeader li#findLocator:hover {
	color: #777;
	text-decoration: none;
	}

#header.onDemand .nav ul#tabletHeader li.myAccount {
	background: url("/images/francescas/en_us/global/globalnav/topnav/collapse.png") no-repeat right center transparent;
	cursor: pointer;
	margin: 0;
	padding: 0 15px 0 0;
	}

#header.onDemand .nav ul#tabletHeader li.myAccount span {
	color: #777;
	line-height: 40px;
	}

#header .nav ul#tabletHeader li#findLocator {
	cursor: pointer;
	height: auto!important;
	}

#header .nav ul#tabletHeader li#findLocator > span {
	background: url("/images/francescas/en_us/global/globalgraphics/header_find.png") no-repeat left center transparent;
	cursor: pointer;
	float: left;
	height: 40px;
	width: 18px;
	}

#header .nav ul#tabletHeader li#findLocator > div, 
#header.tablet .nav ul#tabletHeader li#findLocator a {
	color: #777;
	line-height: 40px;
	display: inline-block;
	padding: 0;
	}

#header .nav ul#tabletHeader li#findLocator div#find-locator-popup .find-locator {
	position: absolute;
	top: 40px;
	left: -100px;
	display: none;
	background: none repeat scroll 0 0 #ffffff;
	height: 180px;
	width: 500px;
	line-height: 1.5;
	text-transform: none;
	padding: 15px;
	border-top: 1px solid #e6e6e6;
	box-shadow: 0 3px 6px #bfbfbf;
	cursor: default;
	}

#header .nav ul#tabletHeader .find-locator a.button {
	display: block;
	position: absolute;
	bottom: 0;
	background: #d9ecf5;
	width: 200px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	cursor: pointer;
	margin: 0 0 10px;
	padding: 0 10px;
	}

#header .nav ul#tabletHeader .find-locator a.button:hover {
	background: #c0d7e2;
	}

#header .nav ul#tabletHeader li#global-cart {
	background: url("/images/francescas/en_us/global/globalgraphics/header_shopping_bag.png") no-repeat left center transparent;
	padding: 3px 0 0 20px;
	height: 30px;
	}

#global-cart .menu-item {
	color: #777;
	font-weight: 600;
	height: 30px;
	}

#global-cart .menu-item a {
	font-weight: 600;
	height: 30px;
	padding: 0 !important;
	}


#global-cart .menu-item a span {
	display: inline-block;
	margin-right: 15px;
	}

#global-cart .menu-item .js-nav-qty {
	margin-left: -30px;
	width: 16px;
	height: 30px;
	background: url("/images/francescas/en_us/global/globalgraphics/cart-items-circle.png") no-repeat;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding-top: 13px;
	margin-top: -6px;
	}

#global-cart .menu-item .js-nav-total {
	margin: 0;
	}

#global-cart .ml-save-cart {
	display: block;
	background: #d9ecf5;
	width: 138px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	margin: 0 auto;
	cursor: pointer;
	}

#global-cart .ml-save-cart:hover {
	background: #c0d7e2;
	}

#global-cart-popup .controls button {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 auto;
	cursor: pointer;
	}

#global-cart-popup .controls button:hover {
	background: #c13402;
	}

#global-cart-popup .shadow {
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#global-cart-popup ul.cart-contents li.cart-item .name, #global-cart-popup ul.cart-contents li.cart-item .name a {
	color: #735130;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	float: left;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-pricing .price {
	color: #735130;
	font-size: 16px;
	text-align: right;
	line-height: 30px;
	}

#global-cart-popup ul.cart-contents li.cart-item {
	border-left: 0 none;
	border-bottom: 1px solid #cdcdcd;
	float: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-pricing {
	background-color: #d9ecf5;
	margin-left: 270px;
	padding: 20px 0px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	}

#global-cart-popup .total-container {
	color: #735130;
	font-size: 15px;
	text-align: right;
	padding: 15px;
	}

#global-cart-popup ul.cart-contents li.cart-item ul.options li {
	color: #666;
	border: 0 none;
	font-size: 11px;
	line-height: 12px;
	float: none;
	margin: 0 0 2px 0;
	padding: 0;
	}

#global-cart-popup ul.cart-contents li.cart-item ul.options li label {
	color: #666;
	}

#global-cart-popup ul.cart-contents li.cart-item ul.options {
	display: block;
	padding: 45px 0 0;
	top: 0px;
	width: inherit;
	box-shadow: none;
	position: inherit;
	border-top: 0px solid #e6e6e6;
}

#header .nav ul#tabletHeader ul {
	width: 350px;
	}

#tabletHeader {
	padding: 0;
	margin: 0;
	}

#header.onDemand .nav ul#tabletHeader li.myAccount {
	height: auto;
	}

#header.onDemand .nav ul li a {
	height: auto;
	}

#header .nav ul#tabletHeader li#findLocator > div, #header.tablet .nav ul#tabletHeader li#findLocator a {
	height: auto;
	}


/* PDP MICHAEL */





.registerLogin .headerrule img {
	display: none;
}






/*GLOBAL BUTTON STYLING STACY*/	

/*Account sign-in:*/
.registerLogin input[type="button"] {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.registerLogin input[type="button"]:hover {
	background: #c13402;
}

.registerLogin input[name="register"] {
	background: #d9ecf5;
	color: #6d8f9e;
	border-bottom: 2px solid #6d8f9e;
}

.registerLogin input[name="register"]:hover {
	background: #c0d7e2;
}

/*Email sign-up*/
#email-signup button {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 40px 0 0 0;
	padding: 0;
	cursor: pointer;
}

#email-signup button:hover {
	background: #c13402;
}


/*Email-thank-you*/
#email-thank-you .btn{
	display: block;
	background: #d9ecf5;
	width: 200px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	margin: 20px auto;
	padding: 0;
	cursor: pointer;
}

#email-thank-you .btn:hover {
	background: #c0d7e2;
}

/*Continue Shopping*/
#shopping-bag .continue-shopping a.btn-primary {
	display: block;
	background: #ff4200;
	width: 200px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px auto;
	padding: 0;
	cursor: pointer;
}

#shopping-bag .continue-shopping a.btn-primary:hover {
	background: #c13402;
}

#shopping-bag .continue button {
	display: inline-block;
	background: #ff4200;
	width: 138px;
	height: 42px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 0 10px 10px;
	padding: 0;
	cursor: pointer;
}

#shopping-bag .continue button b {
	font-weight: normal!important;
	}

#shopping-bag .continue button:hover {
	background: #c13402;
}

#shopping-bag .cross-sells a.left-arrow {
	left:0;
}

#shopping-bag .cross-sells a.right-arrow { 
	position: absolute;
	left: auto;
	right: 0;
}

#shopping-bag ul.sub-total ul.promo-code {
	height: 70px;
	}

#shopping-bag ul.sub-total ul.promo-code li.col2 {
	margin-top: 10px;
	}

#shopping-bag .product-name a {
	color: #735130;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	}

#shopping-bag .continue a {
	color: #735130;
	text-transform: uppercase;
	text-decoration: none;
	}

#shopping-bag .continue a:hover {
	color: #A6580D;
	text-transform: uppercase;
	text-decoration: underline;
	}

#shopping-bag ul.sub-total ul.tax a {
	color: #735130;
	text-decoration: none;
	}

#shopping-bag ul.sub-total ul.tax a:hover {
	color: #A6580D;
	text-decoration: underline;
	}

#shopping-bag .cross-sells h2 {
	color: #666;
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	font-size: 24px;
	font-weight: normal;
	text-transform: capitalize;
	}

#shopping-bag .title h1 {
	color: #666;
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	font-size: 36px;
	font-weight: normal;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	}

#shopping-bag .title h1 span.quantity {
	font: 200 36px "Proxima Nova", Arial, sans-serif;
	}

#shopping-bag .choices select {
	border-radius: 0px;
	border-color: rgb(169, 169, 169);
	box-sizing: border-box;
	height: 30px;
	font-size: 12px;
	padding-top: 0px;
	}

#shopping-bag ul.sub-total ul.tax select {
		border-radius: 0px;
		border-color: #A9A9A9;
		box-sizing: border-box;
		height: 30px;
		font-size: 12px;
		padding-top: 0px;
		width: 190px;
	}

#shopping-bag select.cart-high-qty.valid {
	width: 60px;
	}

#shopping-bag ul.sub-total li.col1 {
	color: #504d4d;
	}


/*Add to Bag*/
a.cta, 
input.cta,
.product-detail .cta {
	display: block;
	background: #ff4200;
	width: 200px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin-bottom: 30px;
	padding: 0;
	cursor: pointer;
}

a.cta:hover,
input.cta:hover {
	background: #c13402;
}

/*Global Cart- Save Cart*/
.sub-total .ml-save-cart, 
.saveCartHeaderLink .ml-save-cart {
	display: inline-block;
	background: #d9ecf5;
	width: 138px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	margin: 0 0 10px 10px;
	padding: 0;
	cursor: pointer;
}

.sub-total .ml-save-cart:hover, 
.saveCartHeaderLink .ml-save-cart:hover {
	background: #c0d7e2;
}


/*Customer Service - Contact Us- Submit*/
.custService a.cta, 
.custService input.cta {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.custService a.cta:hover, 
.custService input.cta:hover {
	background: #c13402;
}

a.btn.secondary {
	display: block;
	background: #d9ecf5;
	width: 138px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	letter-spacing: normal;
	line-height: 40px;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	margin: 10px 0 0 0;
	padding: 0;
	cursor: pointer;
}

a.btn.secondary:hover {
	background: #c0d7e2;
}





input.cta {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

input.cta:hover {
	background: #c13402;
}

.chkLogin .Clogin, 
.guestUser #guestUserContinue{
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.chkLogin .Clogin:hover,
.guestUser #guestUserContinue:hover {
	background: #c13402;
}

/*Accordian Checkout as guest*/

/*Billing Continue Button*/
#checkout button,
#checkout .primary {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#checkout button:hover,
#checkout .primary:hover {
	background: #c13402;
}

/*Gift Card-apply btn*/
#checkout .secondary {
	background: #ff4200;
}

/*Order Error, continue shopping*/
#checkout-error .btn {
	display: block;
	background: #ff4200;
	width: 200px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 auto;
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

#checkout-error .btn:hover {
	background: #c13402;
}

.errordialog .errorclose button {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.errordialog .errorclose button:hover {
	background: #c13402;
}


/*My-account-wishlists*/
.btn {
	display: block;
	background: #d9ecf5;
	width: 200px;
	height: 40px;
	color: #6d8f9e;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #6d8f9e;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.btn:hover {
	background: #c0d7e2;
}

/*locate*/
.eslSearchButton {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 20px 0 30px;
	padding: 0;
	cursor: pointer;
}

.eslSearchButton:hover {
	background: #c13402;
}














/*Friends-wishlist*/
.registerLogin button {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 15px 0 0;
	padding: 0 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.registerLogin button:hover {
	background: #c13402;
}



.options-container .quantity-option {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	}

.options-container .quantity-option #qty {
	background: #fff;
	height: 40px;
	width: 60px; 
	color: #666;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	vertical-align: bottom;
	float: left;
	}

.options-container .quantity-option .plus, 
.options-container .quantity-option .minus {
	background: #f8f8f8;
	height: 42px;
	width: 32px; 
	color: #666;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 32px;
	text-align: center;
	line-height: 40px;
	border: none;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	outline: none;
	vertical-align: bottom;
	float: left;
}

.review-item .recommendation {
	margin: 20px 0;
}


.review-item .reviewDate {
	color: gainsboro;
}

.product-detail .detailImage 	{
	margin: 0 !important;
	width: 480px !important;
}

.add-cart-container {
	margin-right: -60px;
	margin-top: 0px;
}

#footer .footer_content {
	height: 180px!important;
}

#footer .footer_content ul.social {
	margin: 0 0 10px 0;
}

#footer .footer_content ul.social > li {
	display: block;
	margin: 0 10px 0 0!important;
	padding: 0!important;
	float: left;
}

#footer .footer_content ul.social a {
	display: block;
	height: 44px;
	width: 44px;
	margin: 0!important;
	padding: 0!important;
    color:transparent;
}

#footer .footer_email_signup,
#footer .footer_email_signup * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#footer .footer_email_signup {
	background: url(/images/francescas/en_us/global/globalgraphics/email-shadow.png) bottom center no-repeat;
	overflow: visible;
	padding-bottom: 15px;
}

#footer .footer_content form {
	width: 100%;
	height: 40px;
	margin: 5px 0 0;
	border: 1px solid #cccccc!important;
}

#footer .footer_email_signup p {
	color: #666;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#footer .footer_content input {
	display: block;
	background: transparent;
	color: #666;
	width: 185px;
	height: 40px;
	font-family: Georgia,'Proxima Nova',Helvetica,sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	line-height: 12px;
	text-indent: 10px;
	padding: 14px 0;
	margin: 0;
	float: left;
	border: none;
	border-radius: none!important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
}

#footer .footer_content .footer-btn {
	display: block;
	background: url("/images/francescas/en_us/global/globalgraphics/mail.png") no-repeat scroll center center transparent;
	text-indent: -99999px;
	height: 40px;
	width: 43px;
	margin: 0;
	padding: 0;
	float: left;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

#footer .footer_content .footer-btn:active,
#footer .footer_content .footer-btn:hover {
	background: url("/images/francescas/en_us/global/globalgraphics/mail.png") no-repeat scroll center center transparent!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: #f2f6f7;
	color: #504d4d;
	border: none;
	padding-top: 20px;
	padding-left: 20px;
}


.product-detail .ui-widget-content a {
	color: #735130;
	text-decoration: none;
}

.ui-widget-content {
	background: #FFFFFF 50% top repeat-x;
	color: #333333;
	}

.customer-reviews-header {
	text-align: right;
	color: #89c0db;
	}

.customer-reviews-header .customer-reviews-helpful a {
	color: #89c0db;
	text-decoration: none;
	margin-right: 5px; 
	}


.customer-reviews-header .customer-reviews-newest a {
	color: #89c0db;
	text-decoration: none;
	margin-left: 5px; 
	}


.alt-views-container a {
	margin: 0;
	padding: 0;
	border: 4px solid transparent!important;
	}

.alt-views-container a:hover {
	margin: 0;
	padding: 0;
	border-color: #d9ecf5!important;
	}

.alt-views-container .active a {
	margin: 0;
	padding: 0;
	border-color: #d9ecf5!important;
	}

.alt-views-container img {
	width: 102px;
	margin: 0;
	padding: 0;
	border: none!important;
	}


.directoryGridRow .directoryCell {
    background-color: #f6f6f6;
    float: left;
    margin: 10px;
    padding: 4px;
    width: 158px;
}

.right-content {
margin-left: auto;
margin-right: auto;
}

/* Bombay ("Hamburger") Menu */

#main-nav {
	position: relative;

	border: 1px solid #666;
	padding: 5px 10px;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav > .toggle {
	text-decoration: none;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav > .toggle::before {
	content: '';
	display: inline-block;
	
	width: 23px;
	height: 40px;
	
	margin-bottom: -15px;
	margin-top: -1px;
	margin-right: 5px;
	
	background: transparent url('/images/francescas/en_us/global/globalgraphics/menu-icon-bars.png') center center no-repeat;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav > .content {
	display: none;
	position: absolute;
	top: 51px;
	left: 0;
	padding: 0 0 25px;
	width: 220px;
	overflow: visible;
	border: 0 none;
	
	background-color: #f7f7f7;
	background-color: rgba(247,247,247,0.9);
	
	line-height: 1;
	
	box-shadow: none;
	z-index: 130;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav > .content::after {
	content: '';
	
	position: absolute;
	left: 0;
	top: 100%;

	width: 220px;
	height: 15px;
	background: transparent url('/images/francescas/en_us/global/globalgraphics/menu-dropshadow.png') top center no-repeat;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav.open > .content {
	display: block;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu,
#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster {
	overflow: hidden;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu ul {
	display: block;
	position: static;
	
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav ul,
#header.onDemand .nav ul#collapsedMenu #hamburger-nav li {
	list-style: none;
	
	margin: 0;
	padding: 0 !important;
	
	width: auto;
	
	background: transparent none;
	border: 0 none;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu a {
	color: #777;
	text-decoration: none;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-back { 
	display: none;
	position: relative;
	z-index: 140;
	
	height: 39px;
	padding: 0 10px 0 25px;

	background: #FFF url('/images/francescas/en_us/global/globalgraphics/menu-bg-back.png') top right no-repeat;
	
	font-size: 16px;
	line-height: 39px;
	
	cursor: pointer;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-back::before {
	content: '';
	
	display: block;
	position: absolute;
	left: 10px;
	top: 0;
	
	width: 11px;
	height: 39px;
	
	background: transparent url('/images/francescas/en_us/global/globalgraphics/menu-icon-back.png') center center no-repeat;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-item {
	
}


#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-back,
#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-label {
	text-transform: none;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-label .bombay-menu-close {
	display: none;

	position: absolute;
	top: 0;
	right: 0;

	line-height: 14px;
	padding: 6px 10px;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-item.active .bombay-menu-close {
	display: block;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster {
	display: none;
}

/* Base */
#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-label {
	display: block;
	padding: 20px 10px 5px;
	
	color: #777;
	
	font-size: 16px;
	line-height: 1;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-item.active > .bombay-menu-label {
	position: relative;

	background-color: transparent;
	color: #89C0DB;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-item:hover > a.bombay-menu-label {
	color: #89C0DB;
}

/* Tier Two Labels */
#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-label {
	padding: 0 20px;
	
	font-size: 14px;
	font-weight: normal; 
	line-height: 1.5;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-item.active > .bombay-menu-label {
	
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-item.active > .bombay-menu-label::before {
	content: '';
	
	position: absolute;
	left: 20px;
	right: 20px;
	top: 100%;
	height: 1px;
	
	background-color: #89C0DB;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-item.active > .bombay-menu-label::after {
	content: '';
	
	position: absolute;
	right: 20px;
	top: 0;
	height: 100%;
	width: 15px;
	
	background: transparent url('/images/francescas/en_us/global/globalgraphics/menu-icon-close.png') center center no-repeat;
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-header .bombay-menu-label {
	padding: 10px 10px 0;
	
	font-size: 16px;
	font-weight: bold; 
}

#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-header:first-child .bombay-menu-label {
	padding-top: 0;
}

/* Tier Three Labels */
#header.onDemand .nav ul#collapsedMenu #hamburger-nav .bombay-menu-cluster .bombay-menu-cluster .bombay-menu-label {
	
}

/* End Bombay ("Hamburger") Menu */


#alt-view-carousel-wrapper {
    clear: both;
}

li.directory-alt-columns-2 {
    height: auto !important;
    width: 350px !important;
}

li.directory-alt-columns-3 {
    height: auto !important;
    width: 228px !important;
}

#header.onDemand {
	margin: 0;
	z-index: 2000;
}

.topnav-background {
	z-index: -10;
}

.product-detail #header.onDemand {
	margin: 0 auto;
	}

#header.onDemand.isStuck ul#tabletHeader li div#searchButton {
	display: none!important;
	}

.quickview .rating, .quickview .reviews {
	clear: none;
	margin: 8px 0 8px 0;
}

.quickview .fitReviews {
	clear: both;
}

.quickview .fitReviews .label {
	float: left;
	margin: 5px;
}

.quickview .fitReviews .key {
	float: left;
	margin: 5px;
	color: #89c0db;
	font-weight: bold;
}

.quickview .fitReviews .bar {
	position: relative;
	height: 26px;
	width: 154px;
	background-image: url('/images/francescas/en_us/global/globalgraphics/fit_slider/fit_bar.png');
	display: block;
	float:left;
	
}
.quickview .fitReviews .ball {
	position: absolute;
 	background-image: url('/images/francescas/en_us/global/globalgraphics/fit_slider/fit_circle.png');
	display: block;
	height: 26px;
	width: 26px;
}

.quickview .fitReviews .key.disable {
color: #dcd;
}

.quickview .fitReviews .ball.disable {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.quickview a#sizeInfo {
	display: block;
	float: right;
}

.quickview .quantity-add-to-bag {
	margin-top: 20px;
}

.quickview .options-container {
	width: 400px;
}

.quickview .options-container .quantity-option {
	float: left;
}
/*** Not needed (TW)
.quickview .options-container .quantity-option .plus, .quickview .options-container .quantity-option .minus {
	height: 36px;
	line-height: 32px;
}

.quickview .options-container .quantity-option #qty{
	margin-top: 1px;
}
***/

.quickview .options-container .add-cart-container {
	float: left;
}

.quickview .add-cart-container {
	margin-top: 0px;
}


.quickview .add-cart-container a.cta {
	margin-top: 0px;
	width: auto;
}


.quickview .add-cart-container p a.add-wishlist, .quickview .add-cart-container p a.tell-friend {
	margin-top: 5px;
	padding: 2px 0 8px 30px;
}

.quickview .tab-container {
	float: none;
}

#item-options li[data-code="color"] li.option {
	width: 44px;
	height: 44px;
	border: 2px solid transparent;
	margin: 2px;
	}

#item-options li[data-code="color"] li.option img {
	width: 40px;
	height: 40px;
	}

#js-store-today-hours {
	margin-right: 15px;
	}

.globalCartSaveCart {
	margin: 0px 0 0 24px;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-pricing a {
	margin-top: -20px;
	margin-right: 5px;
	float: right;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-thumbnail .frame {
	width: 66px;
	height: 99px;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-pricing .pricewas {
	color: #735130;
	line-height: 20px;
	}

.cart-item .product-to-show .product-pricing .priceEach {
	float: left;
	margin-left: 5px;
	}

.product-review-container .fitReviews .key {
	color: #89c0db;
	font-weight: bold;
	}

.product-review-container .fitReviews .bar {
	width: 148px;
	}

.product-sharing-container {
	padding-right: 0px;
	width: 125px;
	}

.reviews a {
	color: #89c0db;
	font-weight: bold;
	}

.reviews {
	color: #89c0db;
	font-weight: bold;
	}

.overall-review .fitReviews .key {
	color: #89c0db;
	font-weight: bold;
	}

.overall-review .reviews-rating {
	color: #89c0db;
	font-weight: bold;
	}

.reviews-container .fitReviews .key {
	color: #89c0db;
	font-weight: bold;
	}

.ui-icon-triangle-1-s {
	width: 12px;
	height: 12px;
	background: url("/images/francescas/en_us/global/globalgraphics/accordion_minus.png") no-repeat left center transparent;
	float: right;
	}

.ui-icon-triangle-1-e {
	width: 12px;
	height: 12px;
	background: url("/images/francescas/en_us/global/globalgraphics/accordion_cross.png") no-repeat left center transparent;
	float: right;
	}

.ui-corner-all {
	color: #504d4d;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	}

.ui-accordion-header {
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	font-size: 18px;
	font-weight: normal;
	padding-right: 20px;
	width: 430px;
	background-color: #f6f6f6;
}

.ui-accordion-content {
	padding-right: 20px;
	width: 430px;
}

.ui-accordion.ui-widget.ui-helper-reset.ui-accordion-icons.bottom-shadow {
	height: inherit !important;
	width: 470px!important;
	}

.product-info-container {
	border: none;
	}

.product-info-container {
	background-color: transparent !important;
	padding: 0px 0px 0px !important;
	}

div#refineSelection {
background-color: #f2edeb;
padding: 15px;
}

#refineSelection .directorySort td {
	padding-bottom: 10px;
	}

#refineSelection .directorySort table tr td:nth-child(3n+3) {
	width: 113px;
	overflow: hidden;
	}

#formlabelsortby {
text-transform: capitalize;
}

.directoryPaging {
	margin-top: 30px;
	}

.directorySort table tbody tr td select {
	width: 116%;
	height: 30px;
	font-size: 12px;
	color: #666;
	background: url("/images/francescas/en_us/global/globalnav/dd-icon1.png") no-repeat right center #f6f2f1;
	-webkit-appearance: none;
	border: 1px solid #a9a9a9;
}

.directorySort {
	margin-left: 540px;
	}

.dropdown dt span {
height: 30px;
width: 135px;
font-size: 12px;
color: #666;
background: url("/images/francescas/en_us/global/globalnav/dd-icon.png") no-repeat right center #f6f2f1;
-webkit-appearance: none;
border-radius: 0px;
border-color: rgb(169, 169, 169);
box-sizing: border-box;
}

.product-detail .completeLook h2 {
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
	}

.right-content .masthead h2 {
	text-transform: capitalize;
	}

tbody tr td button.btn.primary.save-btn {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 15px 0 380px;
	padding: 0 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	float: left;
	}

a.btn.primary.view-list-btn, a.btn.primary.new-list-btn, a.btn.primary.view-friend-btn {
	display: block;
	background: #ff4200;
	width: 138px;
	height: 40px;
	color: #fff;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-transform: none;
	letter-spacing: normal;
	line-height: 40px;
	vertical-align: baseline;
	border: none;
	border-bottom: 2px solid #9b2e08;
	margin: 0 15px 0 0;
	padding: 0 10px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	float: left;
	}

/*** Start Ticket #12566 ***/

#shopping-bag .cross-sells {
	overflow: visible;
	}

#shopping-bag .cross-sells a.right-arrow {
	top: 75px;
	margin: 0;
	padding: 0;
	z-index: 10;
	display: block;
	background: transparent url(/images/francescas/en_us/global/globalgraphics/carousel/shadow_w_arrow_right.png) no-repeat;
	height: 280px;
	width: 28px;
	position: absolute;
	right: -6px;
	}

#shopping-bag .cross-sells a.right-arrow:hover {
background: transparent url(/images/francescas/en_us/global/globalgraphics/carousel/shadow_w_arrow_right_active.png) no-repeat;
}


#shopping-bag .cross-sells a.left-arrow {
	top: 75px;
	margin: 0;
	padding: 0;
	z-index: 10;
	display: block;
	background: transparent url(/images/francescas/en_us/global/globalgraphics/carousel/shadow_w_arrow_left.png) no-repeat;
	height: 280px;
	width: 28px;
	position: absolute;
	left: 8px;
	}

#shopping-bag .cross-sells a.left-arrow:hover {
	background: transparent url(/images/francescas/en_us/global/globalgraphics/carousel/shadow_w_arrow_left_active.png) no-repeat;
	}
	
/*** End Ticket #12566 ***/

/*** Start Ticket #12584 ***/

#header.tablet .nav ul li {
	padding: 0px 22px;
	}

#header.tablet .nav div.menu-wrapper div.right-side {
	float: right;
	width: 220px;
	margin-top: 3px;
	}

#header.tablet .nav ul#tabletHeader li.wishList {
	cursor: pointer;
	margin-right: 10px;
	padding: 0 10px 0 0;
	}

/*** End Ticket #12584 ***/


#header .nav ul#tabletHeader li#findLocator div#find-locator-popup .find-locator {
	z-index: 111;
	}
	
.reviews-container .fitReviews .label {
	padding-right: 200px;
	margin: 5px 0 0 5px;
	}

.reviews-container .fitReviews .key {
	margin: 0 0 5px 5px;
	}

#header .stuckMenu {
	background-color: #e6e6e6;
	}

#header .nav ul#tabletHeader li#findLocator {
	text-transform: capitalize;
	}

#global-cart .menu-item {
	text-transform: capitalize;
	}

#header .nav ul#tabletHeader li#findLocator span.findLocator-collapsed {
	background: transparent;
		}

#header .nav ul#tabletHeader li#findLocator div {
	background: url("/images/francescas/en_us/global/globalnav/topnav/collapse.png") no-repeat scroll right 8px transparent;
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

.ui-accordion.ui-widget.ui-helper-reset.ui-accordion-icons.bottom-shadow {
	background-color: #fff;
	margin-bottom: 30px;
	}

#accordion-info-tabs div:nth-child(2) div:nth-child(3) h3 {
	margin-top: 50px;
	}

.dropdown dd ul li:hover {
cursor:pointer;
background-color: #C6C4BD;
color: #fff;
}

#shopping-bag {
	margin: 0px 8px;
	}

#header.tablet .nav.isStuck {
	width: 960px;
	}

#shopping-bag .continue {
	padding-right: 10px;
	}


#global-cart-popup ul.cart-contents li.cart-item .name, #global-cart-popup ul.cart-contents li.cart-item .name a {
	font-family: Jubilat,sans-serif,Arial,Helvetica;
	text-transform: capitalize;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-description {
	width: 250px;
	}

.cart-item .product-to-show .product-pricing .priceEach {
		float: none;
		margin-right: 15px;
		}

#global-cart-popup ul.cart-contents li.cart-item .product-pricing a {
	margin-top: -50px;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-info {
	margin-left: 80px;
	}

#global-cart-popup .total-container .subtotal {
	padding-left: 160px;
	}

#global-cart-popup ul.cart-contents li.cart-item .product-thumbnail {
	padding: 20px 0 20px 0px;
	}

#shopping-bag #mainForm table tbody tr:nth-child(4) td div:nth-child(2) {
	margin-right: 10px;
	}

#shopping-bag #mainForm table tbody tr:nth-child(5) td input {
	margin-right: 10px;
	}

.product-sharing-container {
	min-height: 20px;
	margin-top: 10px !important;
	}

#accordion-info-tabs div:nth-child(2) .ui-accordion-content {
	padding: 10px 20px 0px 20px;
	}

.topnav-background {
	background-color: transparent;
	}

#header.onDemand .nav ul#tabletHeader li.myAccount ul {
	background-color: rgba(247,247,247,0.9);
	}

#header.onDemand .nav ul#tabletHeader li.myAccount ul li {
	background-color: transparent;
	}

#header .nav ul#tabletHeader li#findLocator div#find-locator-popup .find-locator {
	background-color: rgba(247,247,247,0.9);
	}

.onDemand #global-cart .menu-item {
	margin-top: -5px;
	}

.onDemand #global-cart .menu-item .js-nav-qty {
	padding-top: 0px;
	}

.onDemand #global-cart-popup ul.cart-contents li.cart-item .name, #global-cart-popup ul.cart-contents li.cart-item .name a {
	font-weight: normal;
	}

.onDemand #global-cart-popup ul.cart-contents li.cart-item .product-pricing .price {
	font-weight: normal;
	}

#header.onDemand .nav .my-account ul li a:hover {
	text-decoration: underline;
	}

#header.tablet .nav .menu-wrapper .left-side ul li ul {
	background-color: rgba(247,247,247,0.9);
	}

#header.tablet .nav .menu-wrapper .left-side ul li ul li {
	background-color: transparent;
	}

#header .nav ul li:hover {
	background-color: transparent;
	}

#header.tablet .nav .menu-wrapper .left-side ul li a {
	padding: 0px 16px;
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	line-height: 22px;
	}

#header.tablet .nav .menu-wrapper .left-side ul li a:hover {
	padding: 0px 16px;
	color: #89c0db;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

#header.tablet .nav ul li {
padding: 0px 3px;
}

#header.tablet .nav ul#tabletHeader li.wishList a {
	margin-top: -5px;
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

#header.tablet .nav ul#tabletHeader li.wishList a:hover {
	color: #89c0db;
	}

#header.tablet .nav ul#tabletHeader li.myAccount span {
	color: #735130;
	line-height: 28px;
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}


#header.tablet .nav ul#tabletHeader li.myAccount span:hover {
	color: #89c0db;
	text-decoration: none;
	}
	

#header.tablet .nav .menu-wrapper .left-side ul li a div span {
	padding: 0px 16px;
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

#header.tablet .nav .menu-wrapper .left-side ul li div span {
	color: rgb(119, 119, 119) !important;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px !important;
	font-weight: 600 !important;
	}

#header.tablet .nav .menu-wrapper .left-side ul li div span a {
	color: #89c0db !important;
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 15px !important;
	font-weight: 800 !important;
	}

#header.tablet .nav .menu-wrapper .left-side ul li div span a:hover {
	text-decoration: underline;
	}

#header.tablet .nav ul ul {
	width: 200px;
	}

#header.tablet .nav ul#tabletHeader li.myAccount {
	font-size: 14px !important;
	padding-bottom: 6px;
	margin-top: -6px;
	}

#header.tablet .nav .menu-wrapper .left-side ul li ul li a {
	font-weight: 400;
	}

.my-account ul li a {
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

.my-account ul li a:hover {
	color: #89c0db;
	text-decoration: none;
	}

#header.tablet .nav ul#tabletHeader li#findLocator .expanded .find-locator .left ul {
	background-color: transparent;
	}

#header.tablet .nav ul#tabletHeader li#findLocator .expanded .find-locator .left ul li {
	background-color: transparent;
	}

#header.tablet #my-account-popup div ul {
	background-color: rgba(247,247,247,0.9);
	}

#header.tablet #my-account-popup div ul li {
	background-color: transparent;
	}

#header.tablet #my-account-popup div ul li a {
	color: rgb(119, 119, 119);
	font-family: proxima-nova, sans-serif, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none solid rgb(119, 119, 119);
	}

#header.tablet #my-account-popup div ul li a:hover {
	color: #89c0db;
	text-decoration: none;
	}

#header .nav ul#tabletHeader li#findLocator div div {
	font-size: 12px;
	background: transparent;
	}

#header.tablet .nav ul#tabletHeader li#findLocator .expanded .find-locator .left ul {
	background-color: transparent;
	}

#header.tablet .js-nav-title, #header.tablet .js-nav-total {
	font-size: 14px;
	}

.product-detail .info-tabs li:nth-child(1) + li::after {
	content: "\00a0\00a0\00a0|";
	}

.product-detail .ui-widget-content .tab-container .info-tabs .tab {
	color: #89c0db;
	}

.product-detail .ui-widget-content a:hover {
	text-decoration: underline;
	}

#shopping-bag .cross-sells {
	height: 380px;
	}

#shopping-bag .upsells-container .carousel .frame {
	height: 300px;
	}

#shopping-bag .cross-sells a.left-arrow {
	height: 300px;
	}

#header .nav ul ul {
	background-color: transparent;
	}

#header .nav ul ul li {
	background-color: transparent;
	}

#header.tablet .nav ul#tabletHeader li.myAccount {
	margin: 5px 35px 0px 10px;
	}

.registerLogin .formrequiredtext {
	margin-right: 10px;
	}

.registerLogin input[type="button"] {
	margin: 20px 10px 30px;
	}

#tabletHeader #findLocator div:nth-child(2) {
	width: 275px;
	}

#header .nav {
	z-index: 1000;
	}

div#currentStore-phone, div#currentStore-street1, div#currentStore-city, div#currentStore-state, div#currentStore-zipCode {
	padding-bottom: 0px !important;
	}

div#currentStore-city {
	float: left;
	margin-right: 4px;
	}

div#currentStore-city::after {
	content: ", ";
	}

div#currentStore-state {
	float: left;
	margin-right: 4px;
	}

#header.tablet .nav ul#tabletHeader li#findLocator a.button {
	height: 34px;
	}

#header.tablet #my-account-popup div ul li a {
	margin-bottom: 10px;
	}

/* RM-12581 */
.directoryGridRow .directoryCell.directory-two-columns:nth-child(4n+1) {
    clear: none;
}

.directorySort {
	margin-left: 500px !important;
	}

#header .nav ul#tabletHeader div#global-search-popup ul li {
	padding: 0px 0px 0px 0px;
	}

.quickview #cloud-zoom-big {
	left: 0px !important; 
	top: 0px !important; 
	}

#header .nav ul#tabletHeader div#global-search-popup ul {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	width: 340px;
	top: -32px;
	left: -110px;
	}

#header .nav ul#tabletHeader div#global-search-popup .search form {
	width: 340px;
	}

#header.tablet .search form .search-btn {
	margin-top: -3px;
	}
