.doNotDeletePlease{color:red;}
#clientInfo .textClientInfo{color:#5e5e60;}
.borderBottom{border-bottom:1px solid #bababa;}.borderBottom:last-of-type{border-bottom:none;}
.titleClientInfo{color:#202120;padding:10px;padding-left:30px;cursor:pointer;text-transform:uppercase;}
.textClientInfo{display:none;position:relative;}.textClientInfo .innerContent{padding:10px 2px;}
.titleClientInfo,#careLinkMenu.titleClientInfo.target-on{background:url(../../images/simple_arrow_right_darkgrey.png) no-repeat;background-position:10px 14px;}
.titleClientInfo.target-on{background:url(../../images/simple_arrow_down_darkgrey.png) no-repeat;background-position:10px 14px;}
@media (max-width : 767px) {.doNotDeletePlease{color:red;}
#helpRowWrapper .leftColumn{display:none;}
.topBorder{border-top:1px solid #a5a5aa;}
}@media (max-width : 479px) {}@media ((max-width : 767px) and (min-width : 480px)) {}@media (min-width : 768px) {}@media (max-width : 1023px) and (min-width : 768px) {}@media (min-width : 768px) and (max-width : 1100px) {}@media (min-width : 1024px) {}@media (min-width : 1440px) {}