.doNotDeletePlease{color:red;}
#modelSize{font-size:0.8em;padding:5px 0px;}
#productSheetSlideshow{-ms-touch-action:none;}
#productSheetSlideshow img{display:none;}
.slideshow-loaded #productSheetSlideshow{display:block;}
.slideshow .scroller li img{position:static;cursor:-webkit-zoom-in;cursor:-Moz-Zoom-In;cursor:url(../../images/category/zoom-in.cur),pointer;}
.slideshow .wrapperBigs img{max-height:none;}
.zoomProductSheet .closeButton{position:absolute;text-indent:-9999em;z-index:999;top:10px;right:14px;width:24px;padding:0;height:24px;background-image:url("../../images/formClose_button.png");background-repetition:no-repeat;background-position:50% 50%;}
.zoomProductSheet .cursor{background-image:url("../../images/full_arrow_down_darkgrey.png");background-position:50% 50%;background-repeat:no-repeat;}
.zoomProductSheet .zoomable{background:#ffffff url("../../images/ajx_loader_uglygrey.gif") no-repeat center center;width:100%;height:100%;}
.blackWrapper .modal.zoomProductSheet{max-height:100%;padding:0;}.blackWrapper .modal.zoomProductSheet .container{width:100%;height:100%;padding:0;}
.s7basiczoomviewer .s7zoominbutton{background-image:url(../../images/zoom_plus.png) !important;background-size:initial !important;}
.s7basiczoomviewer .s7zoomoutbutton{background-image:url(../../images/zoom_less.png) !important;background-size:initial !important;}
.s7basiczoomviewer .s7zoomresetbutton{background-image:url(../../images/zoom_reset.png) !important;background-size:initial !important;}
.zoomableContainer{position:relative;}
.zoomInIcon{background-image:url(../../images/zoom_plus.png);background-repeat:no-repeat;width:23px;height:22px;position:absolute;right:10px;top:10px;z-index:501;display:none;}
.bulletPointDark{background:#c8a985;}
.sku{color:#8b8b8b;text-transform:uppercase;padding-bottom:22px;display:block;}
.productName{color:#202120;margin-top:10px;margin-bottom:5px;text-transform:uppercase;}
.productDescription{line-height:18px;color:#202120;}
.sizeOutOfStock{color:#a29c95;}
#attributePanelClosedWrapper .textClientInfo .innerContent{color:#5e5e60;line-height:18px;}
#clientInfo{}
.priceButton{margin:10px 0px 0px 0px;}
.momAddPadding{margin-top:5px;}
.arrow-right{padding:0px;border-top:1px solid transparent;border-bottom:1px solid transparent;border-left:1px solid white;background:#c8a985;}
.price{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#c8a985;font-family:'LouisVuitton-N',sans-serif;width:100%;border-spacing:0px;margin-top:10px;visibility:hidden;}html.ASIA .price{font-family:'LouisVuitton-N',Asian,sans-serif;}
.price .priceValue{white-space:nowrap;padding-left:5px;padding-right:5px;}
.price .addToBag{padding-left:5px;padding-right:5px;}
.addToBag{background-color:#c8a985;color:#ffffff;font-family:'LouisVuitton-N',sans-serif;text-align:center;text-transform:uppercase;}html.ASIA .addToBag{font-family:'LouisVuitton-N',Asian,sans-serif;}
.addToBag a{color:#ffffff;}
.arrowWrapper{background-color:#c8a985;}
.topPanelSize{display:table;width:100%;}.topPanelSize a{color:#5e5e60;}
.topPanelSize .titlePanelSizeText{padding-right:10px;}
.topPanelSize .currentpanelname{float:right;line-height:25px;padding:5px 0px;}
.topPanelSize .sizesPanel,.topPanelSize .titlePanel{display:inline-block;float:left;line-height:25px;margin-right:10px;padding:5px 0px;}
#addToCart{transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;cursor:pointer;}#addToCart:hover{color:#c5bdb5;}
.addToWishListFormHolder:hover{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 66);filter:alpha(opacity = 66);-moz-opacity:0.66;-khtml-opacity:0.66;opacity:0.66;}
.shareButtonOpened{-webkit-border-bottom-right-radius:0px;-moz-border-bottom-right-radius:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-bottom-left-radius:0px;border-bottom-left-radius:0px;}
.addToWishListButton{display:inline-block;padding:8px 5px;}
.sharingButtons,.addToWishListFormHolder{position:relative;display:inline-block;margin-top:10px;}
.addToWishListFormHolder{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 100);filter:alpha(opacity = 100);-moz-opacity:1;-khtml-opacity:1;opacity:1;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;cursor:pointer;}
.shareButton{background:url("../../images/share_icon_grey_24.png") no-repeat;background-position:5px;padding:8px 5px 8px 25px;}
#infoProductBlockTop,.infoProductBlockBottom{padding:10px;}
#attributePanelClosedWrapper{padding-top:35px;}
.sizeGuideModalContainer{text-align:center;}
.attributePanel{padding:5px 0;border-bottom:1px solid #bababa;}
.titlePanel{color:#000000;text-transform:uppercase;}
.tableTopPanel .titlePanel{display:inline-block;margin-right:15px;}
.tableTopPanel,.topPanelSize{width:100%;}.tableTopPanel .currentpanelname,.topPanelSize .currentpanelname{color:#5e5e60;text-align:left;}
.palette{display:inline-block;margin:3px 1px 0;cursor:pointer;}.palette>a{display:block;}
.palette img{width:90%;height:90%;margin:auto;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}.palette img.currentPalette{border:1px solid #ffffff;outline:1px solid #c8a985;}
.palette img:hover{height:95%;width:95%;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);}
#attributePanelOpenedWrapper{position:relative;border-top:1px solid #bababa;}
.openerTab{background-color:#ffffff;padding:5px;padding-left:10px;}
.attributePanelClosed{background-color:#ffffff;border-bottom:1px solid #bababa;}.attributePanelClosed .arrowPanelWrapper{vertical-align:top;width:9px;}
.tablePanelOpener{width:100%;}
.contentPanel{display:none;padding:10px;position:relative;}
.discoverMoreTitle{color:#5e5e60;margin-bottom:10px;text-transform:uppercase;}
.discoverMoreDescription{color:#5e5e60;}
#addedToGiftList{display:none;}
.cartModalHeader .productNameFlyin{color:#71635e;padding:10px;}
.cartModalHeader .titleFlyin,#addedToGiftList .titleFlyin{background-color:#0c0c0c;color:#ffffff;}
.cartModalHeader .upFlyin,#addedToGiftList .upFlyin{display:table;width:100%;}
.cartModalHeader .upFlyinRow,#addedToGiftList .upFlyinRow{display:table-row;}
.cartModalHeader .imageFlyin,#addedToGiftList .imageFlyin{display:table-cell;padding-left:20px;padding-top:10px;width:105px;}
.cartModalHeader .textFlyin,#addedToGiftList .textFlyin{padding-top:10px;display:table-cell;vertical-align:top;padding-left:10px;padding-right:20px;padding-bottom:10px;}
.cartModalHeader .addedText,#addedToGiftList .addedText{color:#909090;}
.cartModalHeader .separatorFlyin,#addedToGiftList .separatorFlyin{display:table;border-top:1px solid #bababa;width:100%;}
.cartModalHeader .bottomFlyin,#addedToGiftList .bottomFlyin{display:table-row;}
.cartModalHeader #clientService,#addedToGiftList #clientService{border-bottom:0px;padding:0px;}
.cartModalHeader #titleClientService,#addedToGiftList #titleClientService{white-space:nowrap;}
.cartModalHeader .clientServiceFlyin,#addedToGiftList .clientServiceFlyin{display:table-cell;vertical-align:top;padding-top:10px;padding-bottom:10px;padding-left:20px;}
.cartModalHeader .checkoutFlyin,#addedToGiftList .checkoutFlyin{display:table-cell;padding-top:10px;padding-bottom:10px;padding-right:20px;padding-left:10px;}.cartModalHeader .checkoutFlyin .button-orange,#addedToGiftList .checkoutFlyin .button-orange{text-transform:uppercase;}
.modal_addToWishlist #addedToGiftList .titleFlyin{margin-left:-10px;}
.modal_addToWishlist #addedToGiftList .imageFlyin{padding:10px;vertical-align:middle;}
.modal_addToWishlist #addedToGiftList .textFlyin{padding:10px;vertical-align:middle;}.modal_addToWishlist #addedToGiftList .textFlyin .productNameFlyin{margin:6px 0;padding:0;}
.modal_addToWishlist #addedToGiftList .seeWishlist{margin:3px 0 0 0;}
.currentpanelname{cursor:pointer;}
.errorMessageAddToCart{display:none;margin-top:35px;text-align:center;margin-bottom:15px;margin-right:5px;}
.completethelookimg{max-width:none;max-height:none;}
.backOrderButton{text-align:right;width:100%;margin-bottom:10px;}.backOrderButton .backOrderLabel{width:90%;text-align:left;}
#clickToCall{text-transform:uppercase;padding:8px 0;border-top:1px solid #bababa;border-bottom:1px solid #bababa;}#clickToCall .contactTitle{color:#c8a985;}
#clickToCall .contactDescription{color:#a5a5aa;}
.productPictures li{width:60%;}
.productPictures img{cursor:-webkit-zoom-in;cursor:-Moz-Zoom-In;cursor:url(../../images/category/zoom-in.cur),pointer;}
.infos{background-color:#ebeae5;}
.price-sheet-adapt{font-family:'LouisVuitton-N',sans-serif;font-size:13px;}html.ASIA .price-sheet-adapt{font-family:'LouisVuitton-N',Asian,sans-serif;}
#completeTheLook{text-align:center;}#completeTheLook .titleTheLook{color:#5e5e60;text-transform:uppercase;text-align:center;}
#completeTheLook .subTitleThelook{color:#a5a5aa;line-height:0.75em;font-size:1em;font-family:Georgia,sans-serif;font-style:italic;}html.ASIA #completeTheLook .subTitleThelook{font-family:'LouisVuitton-N-Light',Asian,sans-serif;}
html.ASIA #completeTheLook .subTitleThelook{font-style:normal;}
.horizontalLine{border-bottom:#a5a5aa 1px solid;margin-left:10px;margin-right:10px;}
#allImagesTableWrapper{position:relative;display:table;}#allImagesTableWrapper .imageWrapper{vertical-align:middle;background-color:#ffffff;position:relative;text-align:center;text-transform:uppercase;vertical-align:top;}#allImagesTableWrapper .imageWrapper a{color:#5e5e60;display:inline-block;margin-bottom:0px;width:100%;height:100%;}#allImagesTableWrapper .imageWrapper a table{border-spacing:0px;width:100%;}
#allImagesTableWrapper .imageWrapper img{margin-bottom:5px;}
.bottomImagewrapper{position:relative;}
.editorialProductSheet{table-layout:fixed;text-align:center;color:white;}.editorialProductSheet .push{position:relative;}
.editorialProductSheet .push1{float:left;width:50%;position:relative;}
.editorialProductSheet .push2{float:left;width:50%;position:relative;}
.editorialProductSheet .push1 .pushPopin,.editorialProductSheet .push2 .pushPopin,.editorialProductSheet .push .pushPopin{background-color:#ffffff;color:#000000;position:absolute;padding:30px 0px;left:0px;right:0px;bottom:0px;width:100%;text-align:center;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;}.editorialProductSheet .push1 .pushPopin .pushTitle,.editorialProductSheet .push2 .pushPopin .pushTitle,.editorialProductSheet .push .pushPopin .pushTitle{display:block;}
.editorialProductSheet .push1 .pushPopin .pushDescription,.editorialProductSheet .push2 .pushPopin .pushDescription,.editorialProductSheet .push .pushPopin .pushDescription{display:block;}
.editorialProductSheet .push1 .imageWrapper img,.editorialProductSheet .push2 .imageWrapper img,.editorialProductSheet .push .imageWrapper img{max-width:100%;}
.editorialProductSheet .pushService{min-height:220px;}
.editorialProductSheet .pushContent{position:relative;}
.editorialProductSheet .video{height:400px;text-align:center;position:relative;float:left;}.editorialProductSheet .video .imageWrapper{display:inline-block;vertical-align:middle;}.editorialProductSheet .video .imageWrapper img{max-width:100%;}
.editorialProductSheet .video:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em;}
.editorialProductSheet .video .pushPopin{background-color:#ffffff;color:#000000;position:absolute;padding:30px 0px;left:0px;right:0px;bottom:0px;width:100%;text-align:center;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;}
.editorialProductSheet .video .pushTitle{display:block;margin-top:15px;}
.editorialProductSheet .boxWrapper .pushServiceCallToAction{padding:8px 15px 8px 30px;color:#ffffff;text-transform:uppercase;background:#443229 url("../../images/arrow_right_white.png") 10px 50% no-repeat;width:auto;margin:auto;margin-top:2%;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;}.editorialProductSheet .boxWrapper .pushServiceCallToAction:hover{background-position:20px 50%;}
.editorialProductSheet .pushContent .pushPopin{filter:alpha(opacity=60);background-color:#ffffff;background-color:rgba(255, 255, 255, 0.6);}
.editorialProductSheet .pushContent .pushTitle,.editorialProductSheet .pushContent .pushDescription{color:#5e5e60;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;}
.editorialProductSheet .pushContent:hover .pushPopin{filter:alpha(opacity=60);background-color:#ffffff;background-color:rgba(255, 255, 255, 0.8);}
.editorialProductSheet .pushContent:hover .pushTitle,.editorialProductSheet .pushContent:hover .pushDescription{color:#000000;}
.iconicLiveChatHolder>div{border-top:none;}
#discoverTheFamilyTitle,#viewedArticlesTitle{margin:10px 0;color:#5e5e60;font-size:22px;text-transform:uppercase;}
#discoverTheFamily{margin-top:25px;padding-top:15px;border-top:1px solid #dfdfdf;}
.carouselProductName{display:block;color:#202120;margin-top:10px;margin-bottom:5px;text-transform:uppercase;}
#viewedArticles{margin-top:25px;padding-top:15px;}
.sliderRespWrapper{overflow:hidden;-webkit-overflow-scrolling:touch;position:relative;}.sliderRespWrapper .sliderRespContainer{float:left;list-style:none;}.sliderRespWrapper .sliderRespContainer li{float:left;cursor:pointer;}.sliderRespWrapper .sliderRespContainer li .visualContainer{display:block;width:100%;position:relative;height:0;padding-bottom:100%;margin:0 auto;overflow:hidden;}.sliderRespWrapper .sliderRespContainer li .visualContainer .img{position:absolute;display:block;max-width:100%;max-height:100%;left:0;right:0;top:0;bottom:0;margin:auto;}
.sliderRespWrapper .sliderRespContainer li .descriptionContainer{display:block;width:100%;}
.sliderRespWrapper .arrowRight{background-image:url('../../images/arrow_big_right_black.png');background-position:center center;background-repeat:no-repeat;right:5px;}
.sliderRespWrapper .arrowLeft{background-image:url('../../images/arrow_big_left_black.png');background-position:center center;background-repeat:no-repeat;left:5px;}
#addToCartSubmit{display:block;padding:10px 0;}
.navigationBtn{position:absolute;top:50%;width:18px;height:34px;margin-top:-17px;z-index:20;cursor:pointer;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 40);filter:alpha(opacity = 40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;}.navigationBtn:hover{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 100);filter:alpha(opacity = 100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.shadowOverlay{position:absolute;top:0;z-index:10;}.shadowOverlay.overlayLeft{left:0;background-image:-webkit-gradient(linear, left top, right top, color-stop(30%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));background-image:-webkit-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 100%);background-image:-moz-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#00ffffff', GradientType=1);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff',endColorstr='#00ffffff',GradientType=1);background-image:linear-gradient(to right, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);}
.shadowOverlay.overlayRight{right:0;background-image:-webkit-gradient(linear, right top, left top, color-stop(30%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));background-image:-webkit-linear-gradient(right, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);background-image:-moz-linear-gradient(right, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);background-image:-ms-linear-gradient(right, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);background-image:-o-linear-gradient(right, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#e6ffffff', GradientType=1);-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#e6ffffff',GradientType=1);background-image:linear-gradient(to left, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0) 100%);}
#moreChoicesBtn{padding-left:15px;text-transform:uppercase;background:url(../../images/simple_arrow_right_darkgrey.png) no-repeat;background-position:0px;cursor:pointer;cursor:hand;}
#moreChoicesBtn.opened{background:url(../../images/simple_arrow_down_darkgrey.png) no-repeat;background-position:0px;}
.mustBeCollapsed{display:none;}
.modal .cartModalHeader{background:transparent !important;}
@media (max-width : 767px) {.doNotDeletePlease{color:red;}
#header{height:auto;}
#infoProductBlock{background-color:#ffffff;margin-bottom:0px;}
#moreProductBlock{margin-bottom:10px;padding:10px;}
.productPictures{display:none;}
.sku{margin:10px 0;}
.productDescription{margin-bottom:10px;}
#expanderMoreLess{padding:5px;}
#seeMore,#seeLess{display:none;text-align:right;margin-bottom:40px;cursor:pointer;}
.tableTopPanel{min-height:40px;}.tableTopPanel .titlePanel{float:left;}
.tableTopPanel .currentpanelname,.topPanelSize .currentpanelname{line-height:1.625em;}
.topPanelSize .wrapLeftSizePanel{float:left;}
.palette{width:42px;height:42px;}
.exp_content{display:block;}
.price{font-size:1em;}
#PersonnalAdvice{background:#e2e2e2;color:#5e5e60;padding:10px;}#PersonnalAdvice .personnalAdviceTitle{font-size:0.875em;font-family:'LouisVuitton-N',sans-serif;margin-bottom:5px 0px;text-transform:uppercase;}html.ASIA #PersonnalAdvice .personnalAdviceTitle{font-family:'LouisVuitton-N',Asian,sans-serif;}
#PersonnalAdvice .personnalAdviceText{font-family:Georgia,sans-serif;font-size:0.75em;font-style:italic;margin:5px 0px;}html.ASIA #PersonnalAdvice .personnalAdviceText{font-family:'LouisVuitton-N-Light',Asian,sans-serif;}
#PersonnalAdvice .callButton{background-color:#ffffff;border-width:0px;font-size:0.75em;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.topPanelSize .currentpanelname{font-family:Georgia,sans-serif;font-style:italic;}html.ASIA .topPanelSize .currentpanelname{font-family:'LouisVuitton-N-Light',Asian,sans-serif;}
html.ASIA .topPanelSize .currentpanelname{font-style:normal;}
#attributePanelOpenedWrapper{border-top:1px solid #a5a5aa;}
.imageWrapper,.allImagesRowWrapper{display:block;}
.imageWrapper{margin-bottom:10px;}.imageWrapper img{max-width:none;max-height:none;}
#allImagesTableWrapper{margin:0px auto;}
.shadowWrap{position:absolute;bottom:-11px;height:10px;width:100%;z-index:1;}.shadowWrap .topShadow{border-width:3px;}
.blackWrapper .modal .closeButton{z-index:9999;}
.blackWrapper .modal.zoomProductSheet{width:100% !important;}.blackWrapper .modal.zoomProductSheet .container{height:100%;}
.productItem{width:100%;}
.currentpanelname{float:right;}
#discoverMore{padding:10px;}#discoverMore .discoverMoreDescription{margin-top:10px;}
#completeTheLookSlideshow .description{text-align:center;}
#completeTheLook{border-bottom:1px solid #bababa;border-top:1px solid #bababa;margin-top:25px;padding:15px 0;}#completeTheLook .titleTheLook{padding-left:10px;margin:10px 0;text-align:left;font-size:1.375em;}
#completeTheLook .subTitleThelook{padding-left:10px;margin:10px 0;text-align:left;font-style:italic;}
#completeTheLook .productPriceColor{color:#c8a985;}
.editorialProductSheet{width:100%;margin-top:25px;}.editorialProductSheet .pushService{display:table;}.editorialProductSheet .pushService .centered{display:table-cell;vertical-align:middle;}
.push1{width:100%;}
.push2{width:100%;}
.push{width:100%;}
.video{width:100%;}
.pushServiceImg img{margin:0 auto;}
.boxWrapper{padding:8%;}.boxWrapper .pushServiceTitle,.boxWrapper .pushServiceDescription{padding:3%;}
.boxWrapper .pushServiceCallToAction{display:inline-block;padding:4%;}
#youMayAlsoLikeWrapperAS{margin-bottom:20px;}
#discoverTheFamily{border-top:1px solid #bababa;}
#discoverTheFamilyTitle{text-align:left;margin-left:10px;}
.shadowOverlay{width:60px;}
.modal_addTocart .cartModalHeader,.modal_addToWishlist .cartModalHeader{width:280px !important;}
.modal .cartModalHeader{border:1px solid red;position:fixed;right:0px;}
}@media (max-width : 479px) {.sliderRespWrapper .sliderRespContainer li{width:300px;}
}@media ((max-width : 767px) and (min-width : 480px)) {.page #medias #productImage{max-width:48%;max-height:none;}
.window{height:auto;}
#moreViews .close{left:80% ! important;}
.sliderRespWrapper .sliderRespContainer li{width:220px;}
}@media (min-width : 768px) {.doNotDeletePlease{color:red;}
#back-btn{position:relative;}
#mainPictureBlock{float:left;padding-bottom:10px;}
#infoProductBlock{background-color:#ffffff;float:right;position:relative;z-index:40;}
#moreProductBlock{height:auto;padding-top:10px;float:left;}
.navigationSlideshow{display:none;}
.productPictures{text-align:center;}.productPictures li{margin:0 auto;}
.productPictures .endListPictures{width:50%;float:left;}
.infoProductBlockWrapper{width:90%;padding:0 5%;}
.tableTopPanel{min-height:38px;}
.footerHeight{height:40px;}
.modal .chapterTitle{width:40%;float:left;position:relative;}
.modal .chapterContent{width:60%;float:left;position:relative;}
.bottomWrapperBlock{border-top:#a5a5aa 1px solid;margin:auto;width:100%;min-width:490px;}
.imageWrapper{display:table-cell;}
.allImagesRowWrapper{display:table-row;}
.shadowWrap{background:#ffffff;position:absolute;bottom:-5px;height:10px;width:100%;}.shadowWrap .topShadow{border-width:3px;}
#completeTheLook{padding:20px 0;}
.titleTheLook,.subTitleThelook{padding-left:5px;}
#discoverMoreTable{display:table;}
#discoverMoreRow{display:table-row;}
#discoverMoreCellLeft,#discoverMoreCellRight{display:table-cell;padding:10px;vertical-align:top;width:50%;}
.handleHeight{background:#ffffff;right:0;bottom:0;top:0;position:absolute;z-index:30;border-left:1px solid #e2e2e2;}
.productDescription{width:90%;margin:auto 5%;text-align:center;}
.wrapLeftSizePanel{width:100%;display:table-row;}
.wrapLeftSizePanel{width:100%;}
.sizeGuideView{float:left;}
#completeTheLook{border-top:1px solid #dfdfdf;margin-top:25px;padding-top:15px;}#completeTheLook .titleTheLook{text-align:center;margin:10px 0;font-size:22px;}
#completeTheLook .subTitleThelook{margin:10px 0;font-size:1em;font-style:italic;}
#youMayAlsoLikeWrapperML{display:table;table-layout:fixed;width:100%;margin:40px 0;}
#youMayAlsoLikeContainerML{display:table-row;width:100%;overflow:hidden;}#youMayAlsoLikeContainerML .productItem{display:table-cell;width:33.3333%;text-align:center;border-right:1px solid #bababa;}#youMayAlsoLikeContainerML .productItem .productItemHolder .productPriceColor{margin-top:8px;color:#c8a985;}
#youMayAlsoLikeContainerML .productItem .productItemHolder .productItemWrapper{display:block;}
#youMayAlsoLikeContainerML .productItem:last-child{border-right:none;}
.horizontalLine{border-bottom:#a5a5aa 1px solid;margin-left:10px;margin-right:10px;}
#allImagesTableWrapper{position:relative;display:table;border-spacing:10px;min-height:180px;}#allImagesTableWrapper .imageWrapper{vertical-align:middle;background-color:#ffffff;padding-bottom:15px;position:relative;text-align:center;text-transform:uppercase;vertical-align:top;width:33.33%;border:2px solid red;}#allImagesTableWrapper .imageWrapper a{color:#5e5e60;display:inline-block;margin:5px;margin-bottom:0px;width:100%;height:100%;}#allImagesTableWrapper .imageWrapper a table{border-spacing:0px;width:100%;}
#allImagesTableWrapper .imageWrapper img{margin-bottom:5px;}
.bottomImagewrapper{position:relative;}
.half{width:50%;}
.full{width:100%;}
.editorialProductSheet{display:table;margin-top:20px;clear:left;}.editorialProductSheet .pushWraper{display:table-row;}
.editorialProductSheet .push{display:table-cell;vertical-align:middle;}
.pushService .pushServiceTitle{padding:2%;}
.pushService .pushServiceCallToAction{padding:2%;text-transform:uppercase;}
.pushService img{margin:0 auto;}
.pushServiceDescription.description-push-text{margin-bottom:4%;}
.boxWrapper{padding:5%;}
#discoverTheFamilyTitle,#viewedArticlesTitle{text-align:center;}
#viewedArticles{margin-top:20px;}
.shadowOverlay{width:80px;}
}@media (max-width : 1023px) and (min-width : 768px) {.handleHeight,#infoProductBlock{width:33%;}
#mainPictureBlock,#moreProductBlock,.editorialProductSheet{width:67%;}
#infoProductBlockTop,.infoProductBlockBottom{padding:10px 20px;}
.palette{width:42px;height:42px;}
#viewedArticles{width:67%;}
.sliderRespWrapper .sliderRespContainer.viewedArticles li{width:125px;}
}@media (min-width : 768px) and (max-width : 1100px) {}@media (min-width : 1024px) {.handleHeight,#infoProductBlock{width:25%;}
#mainPictureBlock,#moreProductBlock,.editorialProductSheet{width:75%;}
#infoProductBlockTop,.infoProductBlockBottom{padding:10px 25px;}
.palette{width:34px;height:34px;}
#viewedArticles{width:75%;}
.sliderRespWrapper .sliderRespContainer li{width:165px;}
}@media (min-width : 1440px) {}