/* Category display */
.pr_snippet_category .pr-snippet-wrapper {
    border: none;
    background: none;
    width: auto;
}

.pr_snippet_category .pr-snippet-stars {
    border: none;
    background: none;
}

.pr_snippet_category .pr-snippet-rating-decimal {
    display: inline;
    clear: right;
}

.pr_snippet_category .pr-snippet-review-count {
    display: none;
    clear: right;
}

.pr_snippet_category .pr-snippet-read-write {
    border: none;
    background: none;
    display: none;
}

.pr_snippet_category .pr-snippet-read-reviews {
    display: none;
}

.pr_snippet_category .pr-snippet-write-review {
    display: none;
}

.pr_snippet_category .pr-snippet-write-first-review {
    display: none;
}

/* Product display */
.pr_snippet_product .pr-snippet-wrapper {
    border: none;
    background: none;
    width: auto;
}

.pr_snippet_product .pr-snippet-stars {
    border: none;
    background: none;
}

.pr_snippet_product .pr-snippet-rating-decimal {
    display: inline;
    clear: right;
}

.pr_snippet_product .pr-snippet-review-count {
    display: none;
    clear: right;
    }

.pr_snippet_product .pr-snippet-read-write {
    border: none;
    background: none;
            text-align: left;
                    margin-top: 0;
            padding-top: 4px;  /* mixing px's w/ em's b/c of IE6 */
            }

.pr_snippet_product .pr-snippet-read-reviews {
    padding: 0 1em 0 0;
            display: inline;
            }

.pr_snippet_product .pr-snippet-write-review {
            display: inline;
            }

.pr_snippet_product .pr-snippet-write-first-review {
    text-align: left;
    display: inline;
}

/* Review Snapshot/Summary */

.pr_review_summary .pr-snapshot-express-referral {
    display: none;
}

/* Write Reviews display */
  .prwrapper {
      width: 445px;
  }
  .prCI,
    .prCIupload,
    .prCImainform,
    .prCIpreview {
      margin: 0 0 1.5em 0;
  }
  #reviewForm .prlabel,
  .prlabel.preview {
      float: none;
      text-align: left;
  }
  div.prwrapper .prcontentwrap,
  div.prwrapper .prgroup {
    width:445px;
  }
  div.prwrapper .prcontent {
    width:421px;
  }
  #reviewForm .prsubmit {
      margin-left: 0;
  }
