#expressShop {
	position : absolute;
	z-index:999191 !important;
	margin:0px;
	padding:0px;
	width:962px; 
	top : 0%;
	border:0;
	font-size:12px;
    text-align: left;
	/*background:#fff;*/
}
#esContainer {
	width:715px;
	height:304px;
}


#es_prodInfoTab_off {float:left;padding:0px;width:165px;height:33px;font-size:0;line-height:0;}
#es_prodInfoTab_on {float:left;width:165px;position:absolute;padding:0;}

#es_fullDesc_off {float:left;padding:0px;width:165px;height:33px;font-size:0;line-height:0;_margin-left:-1px;}
#es_fullDesc_on {float:left;width:165px;display:none;position:absolute;padding:0;_margin-left:-1px;}

#es_sizeChart_on {float:left;width:165px;display:none;position:absolute;padding:0;_margin-left:-1px;}
#es_sizeChart_off {float:left;padding:0px;width:165px;height:33px;font-size:0;line-height:0;_margin-left:-1px;}

#es_close {_position:absolute;float:right;padding:0px;width:130px;height:33px;font-size:0;line-height:0;_margin-left:-1px;}
#esBg {background-image:url(../images/es_bg.gif);width:625px;height:271px;background-repeat:no-repeat;}

div.dvProdImage {margin:10px 0 0 5px;display:block;border:0;}

#dvCustomTagProductTitle {padding-left:10;
	padding:7px 0 0 5px;
	margin:10px 0 5px 0;
	background-image:url(../images/es_titleBG2.gif);
	background-repeat:no-repeat;
	width:371px;
	height:48px;
	color:#000000;
	font-size:13px;
	font-family:verdana,verdana,helvetica;
	text-decoration:none;
	font-weight:bold;
}

#esPromo {min-height:14px;}
#esPromo font.alert {font-size:11px !important;color:#EC164C !important;text-transform:uppercase !important;font-weight:bold !important;}

#productPriceLabel {float:left;margin-right:5px;margin-top:4px;}
#productPrice {float:left;margin-right:10px;margin-bottom:8px;}
#productPriceDivider {float:left;width:2px;margin-right:9px;margin-top:3px;color:#DFDFDF;}
#productRatingLabel {float:left;margin-right:5px;}
#productRating {float:left;margin-top:3px;}
#productRating #bvRatings a {}

#prodBottom {width:372px;height:96px;display:block;margin-top:3px;
			padding-left: 5px;
			background-image:url(../images/es_prodInfoBG.gif);
			background-repeat:no-repeat;}
#productSize div {float:left;margin-right:5px;}
#productSize1 {}

#productSize {margin-top:0px !important;}
#productSize select {margin-left:2px;}
#productSize br {display:none;}
#productQty {margin:10px 10px 0 0;float:left;}
#productAddToCart {position:absolute;top:205px;left:300px;#left:320px;#top:209px;}

#fullDesc_content {padding-top:10px;}
#prodDescName {background-image:url(../images/es_titleBG.gif);
	background-repeat:no-repeat;
	width:606px;
	height:33px;
	margin:0px 0 0 10px;
	padding:7px 0 0 5px;
	color:#4F4945;
	font-size:13px;
	font-family:verdana,verdana,helvetica;
	text-decoration:none;
	font-weight:bold;}
#prodDescShort {float:left;width:350px;margin-left:10px;margin-right:5px;}
#prodDescShort u {font-weight:bold !important;margn-bottom:5px !important;text-decoration:none;}
#prodDescLong {width:237px;_width:230px;padding-left:15px;margin-left:5px;height:180px;overflow:scroll;}
#prodDescLong u {text-decoration:none;}

#sizeChart_content {padding-top:10px;}
#dvCustomTagProductSizeChart {overflow:scroll;height:180px;width:600px;margin:0px 0 0 10px;background-color:#ffffff;font-size:10px;font-family:verdana;}
#dvCustomTagProductSizeChart ul {font-size:10px;font-family:verdana;}
#dvCustomTagProductSizeChart p.h1 a {font-size:12px;font-family:verdana;font-weight:bold;color:#695a53;font-family:verdana,arial;}


#prodsCountLeft {margin-left:7px;}
#prodsCountCurrent {margin-right:3px;margin-left:5px;}
#prodsCountOf {margin-right:3px;margin-left:3px;}
#prodsCount {margin-right:3px;margin-left:3px;}
#prodsCountRight {margin-right:-14px;}


#esFooter {margin-top:23px;}
#esFooterArrows {float:left;width:350px;margin-top:-4px;margin-left:10px;}
#esFooterPage {width:237px;_width:230px;height:10px;display:block;margin:0px 20px 0 0;overflow:hidden;}
.es_iebutton{position:relative;width:100px;height:25px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/es_button.png',sizingMethod='scale');}
.es_iebutton_bru{position:relative;width:100px;height:25px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/es_button_bru.png',sizingMethod='scale');}
.es_iebutton_over{position:relative;width:100px;height:25px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/es_button-over.png',sizingMethod='scale');}
.es_iebutton_over_bru{position:relative;width:100px;height:25px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/es_button-over_bru.png',sizingMethod='scale');}




#expressShopIntro {position:absolute;border:0;padding:0px;background-color:#ffffff;float:left;width:302px;font-size:10px;}
.button {position:absolute;padding:0;width:164px;top:104px;left:19px;text-align:center;}
.buttonNetscape {position:absolute;width:144px;top:60px;left:40px;}
#productFlashMovie {padding:1px;background-color:#bababa;}
#expressShopProdImage{padding:1px;background-color:#bababa;}

.es_brand{
	color: #666666;
	font-size: 11px;
	font-weight:normal;
}

#lightbox {background-color:#eee;padding: 10px;border-bottom: 2px solid #666;border-right: 2px solid #666;border:1px solid black;}
#lightboxDetails {font-size: 0.8em;padding-top: 0.4em;}	
#lightboxCaption {float: left;}
#keyboardMsg {float: right;}
#lightbox img {border: none;} 
#overlay img {border: none;}
#overlay {
	background-image: url("../images/quickshop/overlay.png");
	display : none;
	height : 100%;
	position : fixed;
	width : 100%;
}

* html #overlay {background-color: #000;back\ground-color: transparent;background-image: url(blank.gif);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");}

.customTagProductImage {border:1px solid #d1d1d1;}
.customTagProductColor {font-size : 10px; font-family : verdana,geneva; color : #4D4D4D;}
#dvCustomTagProductImage {display:block;border:0px solid #d5d5d5;width:194px;}
#salePriceLabelStyle_0{color:#EC164C;font-size:11px;font-weight:bold;font-family:arial;}

#dvCustomTagRegularPrice_0 {text-transform:uppercase; font-weight:bold !important; font-size: 14px; 
	font-family: verdana, verdana, Helvetica, Sans-Serif; color: #006BB7 !important; text-decoration:none;}
#dvCustomTagSalePrice_0 {font-family:verdana,helvetica; color:#EC164C;font-size:14px;padding-left:10px;font-weight:bold;}
#dvGradient {
	
	}
#lineGrade {
	background-image:url(../images/dvGradient.jpg);
	background-repeat:repeat-x;
	background-position: bottom left;	
	}	
#regPriceLabelStyle_0{FONT-WEIGHT:normal;}
/*#prodInfoContent {background-color:#F1F1F1;}*/
#prodInfo_content {clear:left;}
#drpCustomTagProductColor_0 {font-size:10px;width:147px;float:left;}
#drpCustomTagProductColor_1 {font-size:10px;width:147px;float:left;}
#drpCustomTagProductColor_2 {font-size:10px;width:147px;float:left;}
#drpCustomTagProductSize_0 {font-size:10px;width:94px;float:left;}
#drpCustomTagProductSize_1 {font-size:10px;width:94px;float:left;}
#drpCustomTagProductSize_2 {font-size:10px;width:94px;float:left;}
#qty_0 {font-size:10px;}
#qty_1 {font-size:10px;}
#qty_2 {font-size:10px;}


.skuDetailsTitle {font-weight:bold;color:#4F4945;font-size:10px;}

#imgCustomTagAddToCartButton {border:0px;}
#orderForm {margin:0;padding:0;display:inline;}


/* size chart styles */
.th2 {background-color:#eaeaea;}
#tda {background-color:#f8f8f8;border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;padding:5px;font-family:arial;font-size:10px;}
#tdb {background-color:#ffffff;border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;padding:5px;font-family:arial;font-size:10px;}

#dvCustomTagProductSizeChart p.h3 {font-weight:bold;}

/* dropshadow styles */
#fotocontainer {margin: 5% auto 0 auto;width: 400px;height: 260px;line-height: 1px;position:absolute;}
.dropshadow {
margin:0;
opacity: .5;                         /* for css-3 browsers, between 0 and 1 */
filter:alpha(opacity=50);     /* IE only, between 0(%) and 100(%). Proprietary IE code, so the w3c css-validator is not happy  */
}


.es_line {height:1px;background-color:#D4D4D4;clear:both;line-height:0;font-size:0;margin:0px;}
.es_botline {height:4px;background-color:#f0f0f0;clear:both;line-height:0;font-size:0;margin:0px;}

.es_view_links {color:#4F4945;font-size:10px;padding-top:8px;text-decoration:none;font-weight:bold;font-family:verdana;}
.bot_nav_buttons {padding-top:8px;}
#dvCustomTagProductShortDescription {font-size:10px;font-family:verdana;}
#dvCustomTagProductLongDescription {font-size:10px;font-family:verdana;}
#dvCustomTagProductLongDescription  ul {font-size:10px;font-family:verdana;}


div.bvRatings {margin-top:2px;}
a.ratingsLink {border: 0 none;}
img.ratingsLink {display:block;border: 0 none;margin-left:auto;margin-right:auto;}

#button_close { 
	z-index : 200;
	position : relative;
    cursor: pointer;
	margin:-6px 4px 0px 0px !important;
}


#expressShop .buyfind {
	clear : both;
	float : none;
	margin-left : 10px;
	overflow : visible;
	padding : 0;
	position : relative;
	width : 375px;
	z-index : 200;
}
#expressShop #age {
	width : 100%;
}
#priceReviewAge h1 {margin-left: 0px ! important ; width:421px;}
.qsinfo { width:673px !important ;}
.qs-tru .qs-border {
	background: url("../images/quickshop/qs_tool_tip_2.png") no-repeat scroll 0 0 transparent; 
}
.qs-bru .qs-border {
	background: url("../images/quickshop/qs_tool_tip_2.png") no-repeat scroll 0 0 transparent;
}
#expressShop #qsbottom,
#expressShop #qstop { 
	height : 15px;
}
#qsbottom {
	background-position : 0px -19px;
	background-repeat:no-repeat;
	margin : 0;
}
#qstop{ 
	background-repeat:no-repeat;
}
#expressShop .qswrap {
	width : 918px;  
	background : url("../images/quickshop/qs_tool_tip_middle.png") repeat scroll 0 0 transparent;
	background-repeat : repeat-y;
	z-index : 100;
	padding-bottom : 8px;
	position : relative;
	min-height:620px;
	margin-left:5px;
}
.qsright{
	width: 395px !important;
	position : relative;
	font-family:"Avenir-Medium";
}
#expressShop .qsright {
	float : right;
	margin-top : 10px;
	padding-left : 0;
	margin-right:8px;
}
#expressShop .qstabset {
	height : auto !important;
	margin-bottom : 6px;
	padding-left : 5px;
	position : relative;
	z-index : 100;
}

#qsh1 {margin-left: 0px !important;width: 381px !important; height:auto; background:none; text-indent:0;}
#qsh1 a {
	text-decoration:none;
	font-family:"Avenir-Medium" !important;
}
#expressShop .safetyWarning{width: 280px !important;}
#expressShop #tab2 .qs-tab-content {
	font-size : 12px;
	height : 130px;
	overflow-y : auto;
}

#expressShop #tab2 .qs-tab-content ul li {
    margin-left: 15px;
}
#expressShop .qs-tab-content {
	margin : 7px 0 0;
}
#expressShop .qs-tab-content-description .qs-tab-content label {
	display : none;
}
#expressShop .retail, 
#expressShop .list {
	list-style-type:none !important;
}
#expressShop #price ul li.list {
	font-size : 2em;
	padding:21px 10px 0 0 !important;
}
#expressShop #qsh1 {
	float : none;
	font-size : 20px;
	width : auto;
}
#expressShop .qs-product-note {
	font-size : 12px;
	margin-top : 7px;
}
#expressShop #reviews {
	border-bottom : none;
	padding: 0px !important;
	width : 83px;
}
#expressShop #price{
    	overflow: hidden;
	display:block; 
	font-weight:normal;
}
#expressShop .qs-promo-wrapper #viewAllPromosLink {
	float : none;
	margin-top : 0;
	position : absolute;
	right : 0;
	text-align:right !important;
	top : 24px;
}
#expressShop #firstPromoWrapper {
	border-bottom : none;
}
#expressShop .qs-promo-wrapper {
	font-size : 12px;
	padding : 14px 0 0;
	position : relative;
}
#expressShop .qs-promo {
	width : 265px;
}
#expressShop #specialOffers strong {
	color: #000000;
	font-size : 12px;
	font-weight : bold;
}
#expressShop #specialOffers a {
	text-transform : lowercase;
}
#expressShop .tabControl {
	position : absolute;
	visibility : hidden;
}
#expressShop .qs-tru .tabControl {
	border-top : 3px solid #0056B6;
}
#expressShop .qs-bru .tabControl {
	border-top : 3px solid #5E2D91;
}
#expressShop #tab1 {
    clear: left;
    color: #0A63BE;
    font-weight: 600;
    margin: 0 5px 0 0;
    padding: 0;
}
#expressShop .qs-tru #tab1,
#expressShop .qs-tru a,
#expressShop .qs-tru a:active,
#expressShop .qs-tru a:visited {
	color : #0056B6;
}
#expressShop .qs-bru #tab1,
#expressShop .qs-bru a,
#expressShop .qs-bru a:active,
#expressShop .qs-bru a:visited {
	color : #542b91;
}
#expressShop .qs-tab {
	float:left;
	list-style-type:none !important;
}
#expressShop .qs-tab a {
	background : transparent url("../images/quickshop/qs_sprite.png") scroll no-repeat 0 0;
	display : block;
	height : 42px;
	overflow : hidden;
	text-indent : 100%;
}
#expressShop .qs-tab-active a {
	height : 42px;
}
#expressShop .qs-tru #qs-tab-details a {
	background-position : -207px -45px;
	width : 85px;
}
#expressShop .qs-tru #qs-tab-description a {
	background-position :-293px -4px;
	width : 111px;
}
#expressShop .qs-tru #qs-tab-details.qs-tab-active a {
	background-position : -207px -4px;
}
#expressShop .qs-tru #qs-tab-description.qs-tab-active a {
	background-position : -293px -45px;
}
#expressShop .qs-bru #qs-tab-details a {
	background-position : 1px -46px;
	width : 88px;
}
#expressShop .qs-bru #qs-tab-description a {
	background-position : -293px -4px;
	width : 116px;
}
#expressShop .qs-bru #qs-tab-details.qs-tab-active a {
	background-position : -2px -4px;
}
#expressShop .qs-bru #qs-tab-description.qs-tab-active a {
	background-position : -89px -45px;
}
#expressShop .qs-tru #iasClose .iasCloseText {
    background-image: url("/images/ispu/TRU_close.gif");
}
#expressShop .qs-bru #iasClose .iasCloseText {
    background-image: url("/images/ispu/BRU_close.gif");
}
#expressShop .qs-tru #iasClose .iasCloseX {
    background: url("../images/quickshop/qs_sprite.png") repeat scroll -411px -35px transparent !important;
    cursor: pointer;
    float: right;
    height: 18px !important;
    margin-right: 5px;
    width: 53px !important;
}
#expressShop .qs-bru #iasClose .iasCloseX {
    background: url("../images/quickshop/qs_sprite.png") repeat scroll -464px -34px transparent !important;
    float: right;
    height: 18px !important;
    margin-right: 3px;
    width: 53px !important;
}
#expressShop #tabset_productPage .tabControl {
	padding-left : 5px;
}
#expressShop #tabset_productPage .qs-tab-content-active {
	min-height : 137px;
	overflow : hidden;
	position : relative;
	visibility : visible;
	z-index : 100;
}
#leaderboard{z-index: 9980 !important;}
#addToCartLink, #addToRegistryLink, #addToRegistryLink {cursor:pointer;}
.myStoreWrapper{z-index:9980 ! important;}
#expressShop .button_close {
	margin-right : 12px;
	right : 0;
}
#expressShop #tabset_productPage ul.tab-links {
	margin:6px 0 -4px 5px;
	overflow : auto;
	padding:0;
	position : relative;
	z-index : 200;
	float:left;
	width:280px;
}
#expressShop #tabset_productPage #tab2 li {
    display : list-item;
    list-style-type: disc;
    
}
#expressShop #tabset_productPage #tab1 li {
    display : inline;
   
}
#expressShop #price ul li.list p {
color: #000000;
display : inline;
font-size:1.7em;
}

#expressShop #container {
	margin : 0;
}
#expressShop #qsproddetail a {
	background : transparent url("../images/quickshop/qs_sprite.png") no-repeat scroll -380px 0;
	display : block;
	height : 29px;
	margin : 0 auto;
	overflow : hidden;
	text-indent : 100%;
	white-space : nowrap;
	width : 126px;
}
#expressShop .qs-tru #qsproddetail a {
	background-position : -535px -7px;
}
#expressShop .qs-bru #qsproddetail a {
	background-position : -408px -7px;
}

#eligibility{padding:0px 0 5px !important;}
#expressShop .prSnippetRatingUnclickable {
	padding : 0;
}

#expressShop #buyWrapper {
	position : relative;
	width : auto;
}
#expressShop .qs-bru #buyWrapper {
}
#expressShop #buyInterior {
}
#expressShop .qs-bru #buyInterior {
}
#expressShop #leftSide {
	border-right : none;
	margin-left : 15px;
	margin-top : 5px;
	padding : 0;
}
#expressShop #productPanel {
	margin : 0;
	overflow : hidden;
	position : relative;
	z-index : 100;
}
#expressShop #qty {
    border-top:none !important ;
}






#expressShop #colorSize {
    clear: both;
}
#expressShop #colorSize .marker-container {
    color: #d70b5b;
    display: inline;
    font-size: 11px;
    font-weight : bold;
}
#expressShop #colorSize .hidden {
    display: none;
}
#expressShop #colorSize .color,
#expressShop #colorSize .size {
	position : relative;
}
#expressShop #colorSize .marker,
#expressShop #colorSize .marker .content { 
	display : inline;
}
#expressShop #colorSize .marker .right {
	display : none;
    background: url("../images/sliced-marker-tooltip-right.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 27px;
    width: 16px;
}
#expressShop #colorSize h3, #expressShop #qty h3 {
    clear: both;
    color : #000000;
    float: left;
    padding-right: 12px;
    font-size: 11px;
    font-weight: normal !important;
    margin: 8px 0 12px;
}
#expressShop #colorSize .size h3 {padding-right:25px !important;}
#expressShop #qty label {
	font-size : 12px;
	margin:0 26px 0 0 !important;
}
#expressShop #colorSize ul {
    list-style-type: none;
    margin: 0 0 0 -2px;
    padding: 5px 0 2px;
    width: 320px;
    float: left;
}
#expressShop #colorSize li {
    float:left;
    margin: 3px 1px 3px 2px;
    zoom : 1;
    *display : inline;
}
#expressShop #colorSize input {
    display: none;
}
#expressShop #colorSize .color li {
    padding: 2px;
}
#expressShop #colorSize .color li.selected {
   /* padding: 1px;*/
}
#expressShop #colorSize .color li.selected .overlay ,
#expressShop #colorSize .color li.peek-backordered .overlay,
#expressShop #colorSize .color li.peek-unavailable .overlay,
#expressShop #colorSize .color li.unavailable .overlay,
#expressShop #colorSize .color li.backordered .overlay{
    height: 22px;
    background: url("../images/colorNotAvail.png") no-repeat scroll 0 0 transparent;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
}
#expressShop #colorSize .color li.backordered .overlay, #expressShop #colorSize .color li.unavailable .overlay {
    background-position: -24px 0;
}
#expressShop #colorSize .color li.peek-available .overlay {
    background-position: 0 0;
}
#expressShop #colorSize .color li.peek-backordered .overlay, #expressShop #colorSize .color li.peek-unavailable .overlay {
    background-position: -24px 0;
}
#expressShop #colorSize .size li {
    margin-right: 5px;
}
#expressShop #colorSize .size li.selected {
    margin: 1px 3px 1px 0;
}
#expressShop #colorSize .size li.selected a {
    border: 3px solid #574376;
}
#expressShop #colorSize .size li.backordered a, #expressShop #colorSize .size li.unavailable a {
    color: #B4B4B4;
}
#expressShop #colorSize .size li.peek-available a {
    color: #000000;
}
#expressShop #colorSize .size li.peek-backordered a, #expressShop #colorSize .size li.peek-unavailable a {
    color: #B4B4B4;
}
#expressShop #colorSize .sliced-tip-container {
    display: none;
    position: relative;
}
#expressShop #colorSize li.backordered a:hover .sliced-tip-container-na, #expressShop #colorSize li.unavailable a:hover .sliced-tip-container-dne {
    display: block;
}
#expressShop #colorSize li a {
    color: #000000;
    display: block;
    height : 22px;
    position: relative;
    text-align: center;
    width : 22px;
}
#expressShop #colorSize label {
    cursor: pointer;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 0;
}
#expressShop #colorSize .color label {
    height: 22px;
    width: 22px;
}
#expressShop #product-sizechart {
    border: 0 none;
    color: #D30044 !important;
    font: bold 11px arial;
    height: auto;
    padding: 2px 3px 0 0;
    text-decoration: none;
    width: auto !important;
	display:inline !important;
}
#expressShop #colorSize .size li.option-wrapper a {
    border: 1px solid #E6E7E8;
    display : block;
    font-size: 11px;
    height: 18px;
    width: 61px;
	position:relative;
	text-align:center;
}
#expressShop #colorSize .size label {
    display: block;
    font-weight: normal;
    height: 100%;
    line-height: 18px;
    width: 100%;
}
#expressShop #colorSize a:hover {
    text-decoration: none;
}
#expressShop #buyInterior #cartButtons {
    overflow: visible;
	clear:left;
}
#expressShop #middle-availability {
}
#expressShop #middle-availability.qty-disabled {
	position : relative;
	margin : 0;
}
#expressShop #eligibility .dne {
	display : none;
}
#expressShop #middle-availability p {
    color: #D6085A !important;
}
#expressShop #middle-availability .select-color-size,
#expressShop #middle-availability .select-color,
#expressShop #middle-availability .select-size {
	display : none;
}
#expressShop #middle-availability .dne, #expressShop #middle-availability .not-available {
    color: #D6085A;
}
#expressShop #middle-availability .hidden {
    display: none;
}
#expressShop div#buyInterior #eligibility li.no-icon {
    background-image: none;
    padding-left: 0;
}
#expressShop div#buyInterior #eligibility li.hidden {
    display: none;
}
#expressShop #dropDown {
    display: none;
}
#expressShop #cartButtons .disabled-tip-container {
    color: #D70B5B;
    display: none;
    font-size: 11px;
    position: relative;
    font-family: "Avenir-Medium";
    font-size: 14px;
}
#expressShop #cartButtons .disabled-tip {
    left: -3px;
    position: absolute;
    top: -76px;
}
#expressShop #cartButtons #addToRegistry .disabled-tip {
    left: -33px;
}
#expressShop #cartButtons #addToWishList .disabled-tip {
    left: -32px;
	top:-78px !important;
}
#expressShop #cartButtons .disabled-tip .top-tool {
    background: url("../images/brus_product_tool_tip.png") no-repeat scroll 0 15px transparent;
    height: 24px;
    width: 190px;
}
#expressShop #cartButtons .disabled-tip .content {
    background: url("../images/tool_tip_repeat.png") repeat-y scroll 0 0 transparent;
    color: #8A8A8A;
    font-family: avenir-book;
    margin-left: 1px;
    padding: 0 9px 3px;
    width: 168px;
}
#expressShop #cartButtons .disabled-tip .point {
    background: url("../images/brus_product_tool_tip.png") no-repeat scroll 0 -15px transparent;
    height: 25px;
    width: 190px;
}

#expressShop #colorSize .sliced-tip {
    color: #574376;
    font-size: 11px;
    left: -78px;
    position: absolute;
    top: -125px;
}

#expressShop #colorSize .sliced-tip-container-dne .sliced-tip {
    top: -110px;
}

#expressShop #colorSize .size .sliced-tip {
    left: -60px;
    top: -99px;
    z-index: 1;
}
#expressShop #colorSize .size .sliced-tip-container-dne .sliced-tip {
    top: -86px;
}
#expressShop #colorSize .sliced-tip .top-tool {
    background: url("../images/brus_product_tool_tip.png") no-repeat scroll 0 15px transparent;
    height: 24px;
    width: 190px;
}
#expressShop #colorSize .sliced-tip .content {
    background: url("../images/tool_tip_repeat.png") repeat-y scroll 0 0 transparent;
    color: #8A8A8A;
    font-family: avenir-book;
    margin-left: 1px;
    padding: 0 9px 3px;
    width: 168px;
	font-size:14px;
}
#expressShop #colorSize .sliced-tip .point {
    background: url("../images/brus_product_tool_tip.png") no-repeat scroll 0 -15px transparent;
    height: 25px;
    width: 190px;
}

#expressShop #cartButtons #toShow.disabled a, #expressShop #cartButtons #addToRegistry.disabled a, #expressShop #cartButtons #addToWishList.disabled a {
    cursor: default;
}
#expressShop #far_right {
    float: left;
    padding: 20px 0 0 22px;
    width: 318px;
}
#expressShop #additionalInfo .hidden {
    visibility: hidden;
}

#expressShop .data-pass {
	display : none;
}

#expressShop #colorSize .size li.option-wrapper label {
    color : #333333;
}
#expressShop #colorSize .size li.backordered label,
#expressShop #colorSize .size li.unavailable label {
    color : #b4b4b4;
}

#expressShop .mboxDefault {
	visibility : visible;
}

#expressShop #productView .imgButtons a {
	display : block;
	padding-bottom : 7px;
}
#expressShop #productView .imgButtons img {
	display : block;
	padding : 0;
	margin:0;
}
#expressShop .altImgActive {
	background : transparent url("../images/prod_altview_arrow.gif") no-repeat scroll 0 bottom;
}
#expressShop .altImgActive img {
	border : 1px solid #87cefa;
}
#expressShop #buyerProtectionPlan {
	margin: 30px 0 5px;
}
#expressShop .qs-tru #productView h3.rExclusive_pIR {
	background: url("../images/trus_product_sprite.png") repeat scroll -535px -107px transparent;
    height: 38px;
    margin: 0 10px;
    padding: 0;
    text-indent: -9999px;
    width: 218px;
}
#expressShop .qs-bru #productView h3.rExclusive_pIR {
    background: url("../images/brus_product_sprite.png") no-repeat scroll -218px -122px transparent;
    height: 38px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 219px;
}
#expressShop .qs-tru #eligibility,
#expressShop .qs-tru #cartButtons {
}
#expressShop .qs-bru #eligibility,
#expressShop .qs-bru #cartButtons {
	padding:16px 0 0 0;
	margin:0px !important;
}
#expressShop .aso-header {
	display : none;
}
#expressShop #toShow,
#expressShop #addToRegistry,
#expressShop #addToWishList {
	float : left;
}
#expressShop #qty input#quantity {
	text-align : center;
}
#expressShop div#buyInterior ul#eligibility li span.details {
    top : -110px;
}
#expressShop .pop3 #header,
#expressShop .pop3 .TRU_Were_Sorry {
	display : block;
}
#expressShop #moreInfoStep {
	margin : 0;
}
#expressShop #bubwrapper {
	margin-bottom : 10px;
}
#expressShop #eligibility > li{
clear:left;
}
/* Add to registry button */
.qs_sprite_registry
{
	background: url("../images/quickshop/qs_sprite.png");
    display: block;
    height: 26px;
    width: 124px;
}
.qs_tru_registry_addTo
{
	background-position:-387px 121px;
}
.qs_tru_registry_addTo_disabled
{
	background-position:-387px 94px;
}
.qs_bru_registry_addTo
{
	background-position:-380px 249px;
}
.disabled  .qs_bru_registry_addTo, .qs_bru_registry_addTo_disabled
{
	background-position:-380px 219px;
}

/* Add to Wishlist button */
.qs_sprite_wishlist
{
	background: url("../images/quickshop/qs_sprite.png");
    display: block;
    height: 26px;
    width: 124px;
	cursor:pointer;
}
.qs_tru_wishlist_addTo
{
	background-position:-518px 121px;
}
.qs_tru_wishlist_addTo_disabled
{
	background-position:-518px 94px;
}
.qs_bru_wishlist_addTo
{
	background-position:-508px 249px;
}
.disabled .qs_bru_wishlist_addTo, .qs_bru_wishlist_addTo_disabled
{
	background-position:-508px 219px;
}

/* Add to cart buton */
.qs_sprite_cart
{
	background: url("../images/quickshop/qs_sprite.png");
    display: block;
    height: 60px;
    width: 189px;
}
.qs_tru_cart_addTo
{
	background-position:-3px -214px;
}
.disabled .qs_tru_cart_addTo, 
.qs_tru_cart_addTo_disabled
{
	background-position:-3px -275px;
}
.qs_bru_cart_addTo
{
	background-position:-5px -91px;
}
.disabled .qs_bru_cart_addTo, 
.qs_bru_cart_addTo_disabled
{
	background-position:-5px -150px;
}
/* Quick Shop Button in prod loop */
/* Disable QuickShop by default */
.prodloop_float .expressShopButtonGlobal {
	display : none;
}

#price ul li.list {
    color: #595959 !important;
}

/* Enable QuickShop if body has "qs" class - javascript determines - detect if not mobile */
.qs .prodloop_float .prodloop_cont .prodloop-thumbnail .expressShopButtonGlobal {
	display : none;
	margin : 0 auto;
	padding:0;
	cursor : pointer;
	position : absolute;
	text-align:center;
	top:129px;
    left: 13px;
	width:156px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Avenir-Heavy", "Avenir-Black", sans-serif;
    font-size: 14px;
    background-color: #004ebc;
    opacity: .9;
    filter: alpha(opacity = 90);
}
.qs .BRU .prodloop_float .prodloop_cont .prodloop-thumbnail .expressShopButtonGlobal {
	background-color:#5E2D91
}
.qs .prodloop_float .prodloop_cont .prodloop-thumbnail:hover .expressShopButtonGlobal {
	display : block;
}

/* Certona quick shop */

.certona-active .thumbWrapper .expressShopButtonGlobal {
    background-color: #004EBC;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    font-family: "Avenir-Heavy","Avenir-Black",sans-serif;
    font-size: 14px;
    left: 42px;
    line-height: 30px;
    margin: 0 auto;
    opacity: 0.9;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 214px;
    width: 156px;
}

#thome_rr.certona-active .thumbWrapper .expressShopButtonGlobal,
#bhome_rr.certona-active .thumbWrapper .expressShopButtonGlobal {
    left: 40px;
    top: 128px;
    width: 130px;
}

#thome2_rr.certona-active .thumbWrapper .expressShopButtonGlobal,
#bhome2_rr.certona-active .thumbWrapper .expressShopButtonGlobal,
#thome3_rr.certona-active .thumbWrapper .expressShopButtonGlobal,
#bhome3_rr.certona-active .thumbWrapper .expressShopButtonGlobal {
    left: 10px;
    width: 220px;
}

.certona-active.bfamily_rr .expressShopButtonGlobal,
.certona-active.bhome_rr .expressShopButtonGlobal {
	background-color:#5E2D91
}

.certonaWrapper.small .certona-active .expressShopButtonGlobal {
    left: 27px;
    top: 128px;
}

.qs .certona-active .thumbWrapper:hover .expressShopButtonGlobal {
    display: block !important;
}

/* Other related lightboxes */

/* Wishlist and Baby Registry */
.qs .dialogHolder {
	position : absolute;
	z-index : 999999;
}
.qs .dialogHolder .ispu_container,
.qs .dialogHolder #W700 {
	margin-top : 0 !important;
}

/* Size chart */
.qs #sizechart_checkStoreContainer {
	margin-left : -336px;
	top : 43px;
}
.qs #sizechart_checkStoreContainer .sizechart_top .close {
	position : absolute;
	top : 3px;
	right : 20px;
}
.qs #sizechart_checkStoreContainer .sizechart_top .closeBox {
	right : 0;
}
#proceedCustomize{
	 padding-top:10px;
 }
#proceedCustomize a{
	 font-size: 14px;
	 font-weight: bold;
	 text-decoration: underline;
	 float:left;
 }
#qs_body #viewAllPromosLink{color:#DB0049 !important;float: left; padding-top: 20px; width: 72px;padding-left:10px;}
.withLP #viewAllPromosLink{padding-top: 33px !important;}
.priceAlert #viewAllPromosLink{padding:10px 0 5px 0!important;width:100%;}
#bubLyr2{z-index:9;}
#bubLyr2 h3{float:left;}
.rExclusive_pIR_BRU {
	background:url("../images/quickshop/qs_sprite.png") repeat scroll -571px 183px transparent;
    height: 24px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 100px;
}
.rExclusive_pIR_TRU{
	background:url("../images/quickshop/qs_sprite.png") repeat scroll -573px 66px transparent;
    height: 24px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 100px;
}
.newPid_BRU{
	background:url("../images/quickshop/qs_sprite.png") repeat scroll -675px 185px transparent;
    height: 25px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 53px; 
}
.newPid_TRU{
	background:url("../images/quickshop/qs_sprite.png") repeat scroll -674px 64px transparent;
    height: 25px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 53px;
}
.comingSoonPid{
	background:url("../images/quickshop/qs_sprite.png") repeat scroll -729px 64px transparent;
    height: 25px;
    margin: 0 10px;
    padding: 20px 0 8px;
    text-indent: -9999px;
    width: 53px;
}
.fL{float:left;width:100%;}
.clear{clear:both;}
#viewAllPromosLink a, #viewAllPromosLink a:active, #viewAllPromosLink a:visited, #viewAllPromosLink a:hover{color:#D30044 !important;font-weight:bold;}
.tt_store_pick{top:-170px !important;left:7px !important;}
#buyWrapper #buyInterior #eligibility {
	padding:8px 0 0;
	font:bold 12px arial!important;
}
#container #productPanel h3{
	font-family:arial;
	font-weight:bold;
}
#colorSize  ul li.option-wrapper img{
	height:22px;
	width:22px;
}
#price ul li.withLP span{font-weight:normal;color:#373637 !important;}
#price ul li.withLP #viewAllPromosLink{width:132px !important;}
body.product #colorSize .size li{float:left;} 
body.product #colorSize .size h3{
    padding-right: 28px;
}
body.product #colorSize .color h3
{
    padding-right: 12px;
}
#selected-color-desc{display:none;} 
.retail  span{float:left;}
.qs_reset{margin:0 !important;padding:0 !important;}
#buyerProtectionPlan h4{float:left;width:102px;}
#qs_protectIt{font-weight:bold;font-size:14px;line-height:18px !important;}
.qs_tru_right_arrow{
    background: url("../images/quickshop/qs_sprite.png") no-repeat -410px -55px !important;
    height: 8px;
    padding: 0 7px 0 0;
    width: 10px;
	float:left;
	margin-top:6px;
}
.qs_bru_right_arrow{
    background: url("../images/quickshop/qs_sprite.png") repeat scroll -411px -67px rgba(0, 0, 0, 0) !important;
    height: 11px;
    padding: 0 7px 4px 0;
    width: 10px;
}
#expressShop #colorSize .size li.selected a {
    border: 3px solid #0056AF;
}
#expressShop #colorSize.BRU .size li.selected a {
    border: 3px solid #574376;
}
#selected-size-desc{display:none;}
#expressShop #colorSize .color{height:28px;}	
#expressShop #qty h3{padding-right:26px !important;margin-top:5px !important;} 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.prodloop_float .swacthMsg{width:100px !important }
}