.t_search_box, .t_freeship {
	display: inline-block;
	float: left;
}

.t_search_box
{
    padding-right: 20px;
    width:  200px;
}
        
.t_search_box #search_box_drop {
	display: inline-block;
	width: 100%;
	position:relative;
	padding-top: 7px;
}

.t_search_box #search_box_drop .m_searchbox_wrapper {
	display: block;
	padding: 0;
	/* width: 100%; */
	float: left;
}

.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input:-ms-input-placeholder {
	color: #fff !important;
	vertical-align: middle;
	text-transform: uppercase;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input::-webkit-input-placeholder {
	color: #fff !important;
	vertical-align: middle;
	text-transform: uppercase;
}

.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input:-moz-placeholder {
	color: #fff !important;
	vertical-align: middle;
	text-transform: uppercase;
}

.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input::-moz-placeholder {
	color: #fff !important;
	vertical-align: middle;
	text-transform: uppercase;
}

.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox {
	width: 200px;
	display: inline-block;
	background: #3e3e3e;
	border: 1px solid #fdd240;
	height: 25px;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox .m_search_box {
	float: right;
	width: 30px;
	display: inline-block;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input[type="text"]{
	background: transparent;
	color: #fff;
	outline: none;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline:none;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input:-ms-input-placeholder {
	color: #fff;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input::-webkit-input-placeholder  {
	color: #fff;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input::-moz-placeholder  {
	color: #fff;
	opacity: 1;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox input:-moz-placeholder {
	color: #fff;
	opacity: 1;
}


.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox :focus:-ms-input-placeholder {
	opacity: 0;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox :focus::-webkit-input-placeholder  {
	opacity: 0;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox :focus::-moz-placeholder  {
	opacity: 0;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_inputbox :focus:-moz-placeholder {
	opacity: 0;
}

.t_search_box #search_box_drop .m_searchbox_wrapper .m_search {
	width: 160px;
	height: 25px;
	display: inline-block;
	text-indent: 10px;
	border: 0;
	float: left;
}
.t_search_box #search_box_drop .m_searchbox_wrapper .m_search_button {
	width: 10%;
	float: right;
}
.t_search_box #search_box_drop .m_searchbox_wrapper input[type="submit"] {
	color: #ddd;
	width: 30px;
	height: 25px;
	font-size: 15px;
	float: left;
	display: inline-block;
	border: 0;
	outline:none;
	background: url("/images/en/common/basic/btn_top_search.gif") no-repeat #2f2f2f;
}
.t_search_box #search_box_drop .m_searchbox_wrapper input[type="submit"]:hover {
	background: url("/images/en/common/basic/btn_top_search_hover.gif") no-repeat #fdd240;
}

#search_suggestion {
	width: 320px;
	display: inline-block;
	position: relative;
	background: #3e3e3e;
	top: -1px;	
	z-index: 995;
	border: 1px solid #fdd240;
}
#search_suggestion .suggestion_keyword {
	padding: 10px 0;
}
#search_suggestion ul li {	
	width: 100%;
	padding: 2px 0;
    cursor: pointer;
}

#search_suggestion a {
	color: #ccc;
	display: block;
	text-indent: 12px;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#search_suggestion a:hover {
	background: #000;
	color: #fff;
}
#search_suggestion a .keywords{
	color: #ffc600;
	font-weight: bold;
	text-decoration: underline;
}

#search_suggestion a .department  {
	color: #fff;
	text-decoration: underline;
}

.category-suggest {
	padding: 0 0 10px 0;
}

.t_freeship {
	display: inline-block;
	float: left;
	margin-top: -5px;
}


.t_freeship a
{
    color:#fff !important;
    text-decoration:none;
}

