*{margin:0;padding:0;border:none;}
#wrapper{position:relative;}
#header{height:auto!important;z-index:100;margin:0 auto;}
h1 a{display:block;width:150px;height:60px;}
h1 a span{position:absolute;left:-9999em;}
.small{width:88px;}
.miniwishlist-close{background:url("../img/close-box.png") no-repeat scroll left top transparent;cursor:pointer;height:9px;overflow:hidden;position:absolute;right:5px;text-indent:-99999px;top:5px;width:9px;z-index:9999;}
.miniwishlist{width:220px;padding:0 10px;background:#fff;position:absolute;left:450px;top:21px;border:1px solid #ccc;display:none;height:0;overflow:hidden;z-index:1000;text-align:left;}
.miniwishlist-header{font:normal 12px/14px Arial,Helvetica,sans-serif;height:19px;color:#666;padding:10px 0 0;}
.miniwishlist-item{float:left;width:100px;}
.miniwishlist-desc{float:right;width:100px;position:relative;height:100%;}
.miniwishlist-thumb{float:left;width:100px;height:auto;border:1px solid #dedede;}
ul.miniwishlist-list li{border-top:1px solid #666;float:left;width:210px;padding:4px 0 0;height:126px;font:normal 11px/12px Arial,Helvetica,sans-serif;color:#333;list-style:none;}
ul.miniwishlist-list li .miniwishlist-desc h5,ul.miniwishlist-list li .miniwishlist-desc p{font-size:11px;line-height:14px;font-family:Arial,Helvetica,sans-serif;}
.miniwishlist-price,.miniwishlist-sale-price{font:bold 11px Arial,Helvetica,sans-serif;position:absolute;top:90px;}
.miniwishlist-price{left:0;}
.miniwishlist-sale-price{font-weight:bold;color:#f21314;left:55px;}
ol.miniwishlist-rating{position:absolute;top:111px;left:0;width:71px;height:10px;background:url(../img/rating-bg-lg.gif) no-repeat left top;}
ol.miniwishlist-rating li{float:left;width:14px;height:10px;margin:0;padding:0;list-style:none;overflow:hidden;border:none;}
.miniwishlist-button{clear:both;text-align:center;padding:5px 0 15px;}
.miniwishlist-button a.button{background-image:url(../img/button-123.png);width:123px;margin:0 auto;background-color:transparent!important;background-position:left top!important;background-repeat:no-repeat!important;border:none!important;text-align:center;font:normal 10px/10px Arial,Helvetica,sans-serif;color:#666;display:block;cursor:pointer;text-decoration:none!important;padding:10px 0 0;height:20px;}
.mini-color-1{color:#f00;}
.minicart{display:block;width:270px;font-family:"Trebuchet MS",Helvetica,sans-serif;font-style:normal;font-weight:normal;z-index:1000;position:absolute;right:0;top:27px;position:absolute;right:0;top:0;border-bottom:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;padding:0 2px;}
.minicart .line-pattern{background:url('/img/minicart/background_line.gif') no-repeat bottom left;width:2px;height:70px;position:absolute;top:0;}
.minicart .line-pattern.left{left:0;}
.minicart .line-pattern.right{right:0;}
.minicart a img{border:0;}
.reset{margin:0;padding:0;list-style:none;}
.minicart .header{line-height:35px;padding:18px 0 17px 0;text-align:center;font-size:0;}
.minicart.active{background-color:#FFF;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.minicart.active .line-pattern{display:none;}
.minicart .header .hover{display:inline-block;cursor:pointer;min-width:175px;}
.minicart .header .icon,.minicart .header .item-amount,.minicart .header .separator,.minicart .header .price{display:inline-block;vertical-align:middle;}
.minicart .header .icon{margin-right:5px;}
.minicart .header .item-amount{margin-right:10px;}
.minicart .header .separator{margin-right:10px;width:1px;height:17px;background:url('/img/minicart/dotted_line.gif') top left repeat-y;}
.minicart .header .icon.emcart{background:url('/img/minicart/cart_no_items.png') top left;width:31px;height:28px;display:inline-block;vertical-align:middle;}
.minicart .header .icon.gmcart{background:url('/img/minicart/cart_w_items_Justice.png') top left;width:31px;height:28px;display:inline-block;vertical-align:middle;}
.minicart .header .icon.bmcart{background:url('/img/minicart/cart_w_items_Brothers.png') top left;width:31px;height:28px;display:inline-block;vertical-align:middle;}
.minicart .header .item-amount{font-size:14pt;letter-spacing:-1px;color:#666;}
.minicart .header .price{font-size:14pt;letter-spacing:-1px;color:#333;font-weight:bold;}
.minicart .close{padding:8px 11px 9px;background-color:#e5e5e5;font-size:11pt;line-height:18px;color:#666;text-align:right;}
.minicart .close span{cursor:pointer;}
.minicart .close .icon{background:url('/img/minicart/X.gif') top left;width:7px;height:7px;vertical-align:middle;display:inline-block;}
.minicart .footer{padding:0 2px 2px 2px;font-size:0;}
.minicart .footer .total-savings,.minicart .footer .view-cart-checkout{height:40px;margin-top:2px;float:left;}
.minicart .footer .total-savings .label{line-height:18px;}
.minicart .footer .view-cart-checkout{cursor:pointer;}
.minicart .footer .line-o{width:100%;}
.minicart .footer .view-cart-checkout{float:right;}
.minicart .footer .total-savings{height:36px;width:105px;margin-right:2px;border:2px solid #f00;font-weight:bold;font-size:14px;color:#f00;text-align:center;}
.minicart .footer .view-cart-checkout{width:155px;}
.minicart .body{margin:10px 2px 0;font-size:0;position:relative;max-height:290px;overflow:hidden;}
.minicart .footer{position:relative;}
.minicart .footer .bottom{background:url('/img/minicart/shadow.png') bottom center no-repeat;width:270px;height:14px;position:absolute;top:-14px;}
.minicart .body .line{width:100%;}
.minicart .body .detailed-values{letter-spacing:-1px;}
.minicart .body .items{width:265px;}
.minicart .body .l-block{width:50px;}
.minicart .body .r-block{width:75px;text-align:right;}
.minicart .crossed-line{text-decoration:line-through;}
.minicart .body .items .item{padding:10px 5px 0 6px;background:url('/img/minicart/dotted_line_horizontal.gif') bottom left repeat-x;}
.minicart .body .items .item.last{background-image:none;}
.minicart .body .thumbnail{width:50px;line-height:0;margin-right:10px;min-height:80px;}
.minicart .body .thumbnail img{width:50px;}
.minicart .body .thumbnail a{display:inline-block;}
.minicart .body .details{width:185px;}
.minicart .body .remove{float:right;cursor:pointer;margin-bottom:10px;margin-right:10px;}
.minicart .body .thumbnail,.minicart .body .details{float:left;display:block;}
.minicart .body .title{font-size:11pt;color:#448ccb;text-align:left;line-height:13pt!important;}
.minicart .body .title,.minicart .body .qty,.minicart .body .amount{margin-bottom:5px;line-height:100%;}
.minicart .body .qty,.minicart .body .size{float:left;text-align:left;font-weight:normal;}
.minicart .body .amount,.minicart .body .discount{float:right;}
.minicart .body .size,.minicart .body .discount{margin-bottom:25px;line-height:100%;}
.minicart .body .qty,.minicart .body .amount,.minicart .body .size{font-size:11pt;color:#333;}
.minicart .body .l-block{width:60px;}
.minicart .body .r-block{width:120px;}
.minicart .body .amount{font-weight:bold;}
.minicart .body .amount .crossed-line{text-decoration:line-through;}
.minicart .body .discount{font-size:9pt;padding-top:1px;color:#f00;}
.minicart .body .discount .value{font-weight:bold;}
.minicart .body .remove{font-size:11pt;color:#333;}
.minicart .body .remove .icon{background:url('/img/minicart/X.gif') top left;display:inline-block;width:7px;height:7px;vertical-align:middle;}
.minicart .items{float:left;}
.minicart .body .scrollbars{background:url('/img/minicart/scroll_bar.png') top left;width:11px;height:118px;float:right;}
.minicart .footer .line-k{background-color:#808080;line-height:30px;height:30px;padding:0 18px;text-align:right;margin-bottom:2px;font-size:12pt;font-weight:bold;color:#fff;}
.minicart .footer .line-m{background-color:#f3f3f3;line-height:30px;border-bottom:1px solid lightgray;font-size:12px;color:#f00;text-align:right;padding:0 17px 0 0;font-weight:bold;}
.minicart .footer .line-n{background-color:#e5e5e5;line-height:30px;height:30px;color:#333;font-size:12px;text-align:right;padding:0 17px 0 0;font-weight:bold;}
.minicart .mc-raw-block{margin-top:2px;}
.breadcrumb{font:normal 12px/15px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;color:#333;padding-bottom:12px;text-transform:lowercase;}
.breadcrumb a{text-decoration:none;font-weight:normal;color:#808080!important;float:left;}
.breadcrumb .last-link{color:black!important;}
.breadcrumb a:hover{text-decoration:underline!important;}
.breadCrumbFloat{float:left;padding:0 6px;height:15px;width:9px;background:url("../img/buttons/arrow.gif") no-repeat center;}
#footer{position:relative;width:975px;margin:0 auto;background:#fff;padding-top:45px;}
.footer-misc{font-family:"Trebuchet MS",Trebuchet,Helvetica,sans-serif;padding-top:20px;width:937px;margin:0 auto;font-size:12px;line-height:15px;color:#393939;}
.footer-misc a{text-decoration:none;display:block;color:#393939;}
.footer-misc a:hover{text-decoration:underline;}
.footer-links{padding-bottom:30px;}
#footer-col-1{float:left;padding-right:111px;}
#footer-col-2{float:left;padding-right:76px;}
#footer-col-3{float:left;padding-right:63px;}
#footer-col-4{float:left;padding-right:56px;}
#footer-col-5{float:left;}
.foorter-bold{font-size:13px;font-weight:bold;display:block;line-height:15px;}
a.footer-signUp-link{color:#448ccd;}
.footer-border{border-top:1px solid #ccc;width:936px;margin:0 auto;max-height:1px;}
.footer-slot{margin:18px auto 16px;width:916px;height:inherit;}
p.copy{text-align:center;padding-bottom:20px;}
.rv{height:22px;font:normal 10px/10px Arial,Helvetica,sans-serif;color:#666;padding:8px 7px 0;text-align:center;}
.rv a.rv-trigger{background:url(../img/button-rv.png) no-repeat left top;display:block;width:114px;height:15px;padding:5px 0 0 10px;font:normal 10px/10px Arial,Helvetica,sans-serif;color:#999;text-decoration:none;text-align:left;margin:0 auto;}
ul.social{height:49px;padding:15px 0 0;position:absolute;left:30px;top:0;display:inline;width:200px;}
ul.social li{float:left;list-style:none;margin:0;padding:0 4px 0 0;width:19px;height:42px;}
ul.social li a{width:36px;height:42px;margin:0 4px 0 0;background-position:center 10px;background-repeat:no-repeat;text-indent:-9999em;display:block;}
ul.social li.social-fb a{height:17px;width:17px;}
ul.social li.social-tw a{background-image:url(../img/social-tw.png);}
dl#email{width:200px;padding:19px 0 0 230px;}
dl#email dt{display:none;}
dl#email dd.email-input input{position:absolute;left:15px;top:5px;width:210px;height:23px;font:normal 11px/11px Arial,Helvetica,sans-serif;color:#999;background:none;border:none!important;}
dl#email dd.email-submit input{position:absolute;right:6px;top:6px;display:block;background:url(../img/button-circle.png) no-repeat left top;width:22px;height:22px;padding:0 1px 1px 0;font:normal 10px/10px Arial,Helvetica,sans-serif;color:#999;border:none!important;}
dl#email dd.email-submit input::-moz-focus-inner{border:0;padding:0;}
.clear{clear:both!important;float:none!important;height:0!important;overflow:hidden!important;padding:0!important;margin:0!important;border:none!important;}
.align-center{text-align:center!important;}
.print-only{display:none;}
.left{float:left;}
.right{float:right;}
input.error,select.error,textarea.error{border:2px solid #F00!important;margin-left:-1px!important;margin-top:-1px!important;}
.error-message{border:2px solid #F00;padding:10px;color:#F00;font:normal 11px/14px Arial,Helvetica,sans-serif;clear:both;margin:0 0 10px;}
.note-message{border:2px solid #0F0;padding:10px;color:#0F0;font:normal 11px/14px Arial,Helvetica,sans-serif;clear:both;margin:0 0 10px;}
.error-message-gift{border:2px solid #F00;clear:both;color:#F00;font:bold 11px/14px Arial,Helvetica,sans-serif;margin:0 0 10px;padding:10px;width:350px;}
.checkbox-dimensions{width:14px!important;height:14px;vertical-align:top;}
a.item-look{position:absolute;left:40px;top:170px;width:106px;height:30px;background:url(../img/get-this-look.png) no-repeat left top;text-indent:-9999em;display:none;}
ul.cat-list-toplooks li:hover a.item-look{display:block;}
.orangeNote{color:#F60;font-weight:bold;font-size:12px;}
.blackNote,a.blackNote:focus,a.blackNote:active,a.blackNote:hover,a.blackNote:visited{color:#000;font-weight:bold;font-size:12px;}
.orangeInfo{color:#F60;}
.redNote{color:#F00;}
.specialBoxBorder{border:1px #666 solid;}
.fromBottomMargin{margin-bottom:5px;}
.fromBottomMarginOne{margin-bottom:1px;}
.fromBottomMarginTwo{margin-bottom:2px;}
.fromBottomMarginSeven{margin-bottom:7px;}
.noUpper{text-transform:none;}
.textRight{text-align:right;}
.textLeft{text-align:left;}
.marginTopSix{margin-top:6px;}
.marginTopFour{margin-top:4px!important;}
.marginTopEight{margin-top:8px;}
.marginBottomThree{margin-bottom:3px;}
.marginTopTwo{margin-top:2px;}
.marginBottomZero{margin-bottom:0!important;}
.marginBottomTen{margin-bottom:10px;}
.marginBottomFifteen{margin-bottom:15px;}
.marginBottomTop{margin:6px 0 5px;}
.marginTopMore{margin-top:56px;}
.paddingTopTeen{padding-top:10px;}
.paddingTopTwo{padding-top:2px;}
.paddingTopOne{padding-top:1px;}
.paddingBottomTop{padding:5px 0;}
.paddingTopFive{padding-top:5px;}
.paddingBottomFive{padding-bottom:5px!important;}
ul.pdpBullets li{list-style:none;background-image:url(../img/bullet.png);background-repeat:no-repeat;background-position:0 .6em;text-indent:10px;color:#333;font:11px Arial,Helvetica,sans-serif;line-height:1.4;}
ul li a.leftNavLink h2{display:inline;font-size:11px;font-style:italic;font-weight:normal;}
#googleACode{display:none;}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
.chat-status-online{color:#0F0;}
.chat-status-offline{color:#F00;}