#sidebar{float:left;width:148px;padding:0 20px 0 0;font-family:"Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
#sidebar .sideBarTitle,#sidebar .sideBarFeature{color:#448CBB;font:bold 14px/16px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;padding:13px 0 5px;text-decoration:none;text-align:left;text-transform:lowercase;background:url("../img/buttons/dotted_line_secondary_nav.gif") no-repeat bottom;}
#sidebar .sideBarTitle,#sidebar .sideBarTitle h1{font:bold 14px/16px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
#sidebar .sideBarTitle a{text-decoration:none;color:#448CBB;}
#sidebar .sideBarFeature{padding:8px 0 5px 0;}
#sidebar ul{padding:3px 0 0;}
#sidebar ul li{list-style:none;display:inline;}
#sidebar ul li a{padding:0;display:block;color:#333;text-decoration:none;font:normal 12px/18px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
#sidebar ul li a.clearance,#sidebar ul li a.clearance h1{color:#F10000!important;font-weight:bold!important;}
#sidebar ul li h2,#sidebar ul li h1{font:bold 12px/18px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;word-wrap:break-word;}
#sidebar ul li h2{font-weight:normal;}
#sidebar ul li a:hover{color:#F60;text-decoration:underline;}
#sidebar ul li a.selected{color:#F60;}
#sidebar ul li.top-on a{font-weight:bold;}
#sidebar ul li.top-on ul li a{font-weight:normal;}
#sidebar ul li.top-clearance-on a{color:#C00;font-weight:bold;}
#sidebar ul.staticCategories{padding-top:10px;margin-top:8px;background:url("../img/buttons/dotted_line_secondary_nav.gif") no-repeat top;}
#sidebar ul li a.open,#sidebar ul li a.open h1{font-weight:bold;color:#F60!important;}
#sidebar ul li.open ul li.on a,#sidebar ul li.open ul li.on a h2{font-weight:bold;color:#f60;}
#sidebar ul li ul{background:url("../img/buttons/dotted_line_secondary_nav.gif") no-repeat bottom;padding:3px 0 9px;margin-bottom:8px;display:block;font:normal 11px/12px Arial,Helvetica,sans-serif;text-transform:none;}
#sidebar ul li.last ul{background:none;padding:3px 0 0;margin-bottom:0;display:block;font:normal 11px/12px Arial,Helvetica,sans-serif;text-transform:none;}
#sidebar ul li ul li{padding:0 0 0 10px;display:block;}
#sidebar ul li ul li a{background:none!important;display:inline;border:none;padding:0;font-weight:normal;text-transform:lowercase;font-style:normal;color:#333;}
#miscSideBar{float:left;font:12px/25px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;padding:10px 20px 0 25px;}
#miscSideBar ul{list-style:none;}
#miscSideBar ul li a{text-decoration:none;color:#333;}
#miscSideBar ul li a:hover{color:#F60;}
#miscSideBar ul li a.selected{color:#F60;}
#sidebar ul li ul.subCatLeftNav{background:none;margin-bottom:0;padding:3px 0 9px;}
.subCategoryContent{margin:0;height:100%;color:#448CBB;padding:14px 20px 0 0;font:bold 20px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;text-align:left;white-space:nowrap;text-transform:lowercase;}
.backTo{float:right;font-size:10px;}
.backTo a{color:#133B63;}
.backTo a:hover{color:#448CCB;}
.subCategoriTitleSection{float:left;}
dl.sorting{margin:0;padding:10px;background-color:#f3f3f3;font:bold 14px/16px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
.searchPagination{color:#555;}
.sort-anchor{color:#92278F;text-decoration:none;font:bold 14px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
.sort-result{color:#EF008B;font-size:11px;height:30px;line-height:30px;text-align:center;padding-top:9px;font-weight:normal;}
dl.sorting label{font:bold 12px/18px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;color:#333;padding:0 5px 0 0;}
#body dl.sorting select{font:normal 12px/18px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;min-width:115px;max-width:150px;margin:0;max-height:21px;height:21px;color:#333;-webkit-appearance:menulist-button;}
.paginator{line-height:21px;}
.paginator span.page,.paginator_bottom span.page{color:#448CCB;}
.paginator .page-selected{color:#F60;}
.paginator a{color:#448CCB;float:left;}
.paginator>a{padding:1px 2px 0 0;}
.paginator span{float:left;padding:1px 2px 0 2px;}
.paginator a img{position:relative;top:2px;}
.paginator a img.nextPage{padding-left:7px;}
.paginator a img.previousPage{padding-right:4px;}
.paginatorPrev{padding-right:3px;}
.paginatorNext{padding-left:5px;}
.view{padding-left:15px;padding-top:3px;}
.view label,.view span,.view a{float:left;}
.view .view-selected{color:#F60;}
.view .viewAllActive{color:#F60;}
.view a{color:#448CCB;padding:0 3px;}
.view span{padding:0 3px;}
.subCategoryCatList{margin-top:14px;}
.swatch{width:20px;}
ul.cat-list .space_swatches_empty{height:30px;}
ul.cat-list .selected{border:2px solid #f60;padding:1px!important;}
ul.cat-list .swatchContainer{padding-bottom:3px;}
ul.cat-list .swatchEmtpyContainer{min-height:29px;}
ul.cat-list .swatchContainer div{float:left;max-width:26px;min-width:26px;max-height:28px;}
ul.cat-list .swatchContainer div a{display:block;padding:2px 3px;}
.swatch img{border:1px solid #636363;}
ul.cat-list li div.subCatTag{max-width:185px;min-width:185px;color:#f09;font:bold 10px/10px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;text-align:left;word-wrap:break-word;padding-top:1px;}
ul.cat-list li div.subCatName{max-width:160px;min-width:155px;bottom:20px;color:#000;font:normal 10px/12px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;text-align:left;text-transform:capitalize;word-wrap:break-word;}
ul.cat-list li div.subCatName a{color:#000;}
ul.cat-list li div.subCatName a h2{font:normal 10px/12px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;}
ul.cat-list li div.cat-list-price.subCatPrice{max-width:185px;min-width:115px;text-align:left;color:#636363;margin-top:1px;}
ul.cat-list li div.cat-list-price{font:9px/11px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;color:#636363;}
ul.cat-list li div.cat-list-price .price_regular{text-align:left;}
ul.cat-list li div.cat-list-price .price_description{font:9px/11px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;word-wrap:break-word;}
ul.cat-list li div.cat-list-price .price_door{font:bold 14px/16px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;word-wrap:break-word;color:#f00;text-align:left;}
.price_col1{min-width:55px;max-width:90px;width:90px;float:left;padding-right:5px;}
.price_col2{min-width:60px;max-width:73px;float:left;padding-left:5px;}
ul.cat-list li div.spotlight{color:#F00;font:8px/9px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;margin:0;word-wrap:break-word;width:160px;position:relative;bottom:2px;}
ul.cat-list li div.spotlight span.spotlight_focus{color:#E10543;}
a.item-qv{position:absolute;left:32px;top:90px;width:85px;height:25px;display:none;background:url("../img/buttons/all_buttons.png") no-repeat;background-position:-10px -3267px;text-align:center;cursor:pointer;}
a.item-qv:hover{background-position:-10px -1292px;}
ul.cat-list li:hover a.item-qv{display:block;}
.category-raw{padding-top:34px;}
div.seeMoreSwatches{padding-bottom:5px;width:155px;text-align:right;text-transform:lowercase;}
div.seeMoreSwatches a{color:#F60;font:bold 10px/10px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;word-wrap:break-word;text-align:right;}
.searchPageCatList{background:url("../img/buttons/sp_dotted_line.gif") no-repeat left top;padding-top:21px;margin-top:19px;}
.searchPageTitle{padding:13px 20px 10px 0;background:url("../img/buttons/sp_dotted_line.gif") no-repeat left bottom;height:100%;}
.searchPageTitleInfo{font:bold 36px/42px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;color:#448CCB;float:left;}
.searchPageTitleResult{font:bold 14px/16px "Trebuchet MS",Trebuchet,Helvetica,sans-serif;color:#333;float:right;text-align:right;padding-top:21px;}
.searchPageCatList ul.cat-list .selected{border:2px solid #92278F;padding:1px!important;}
.spotlight-bogo{font-size:12px!important;line-height:12px!important;}