.pdp{float:left;height:auto;width:613px;}
.pdp-gallery{float:left;width:258px;}
ul.pdp-pagination{height:25px;padding:5px;font:normal 10px/10px Arial,Helvetica,sans-serif;color:#666;margin:0 2px 0 0;}
ul.pdp-pagination li{display:inline;list-style:none;}
ul.pdp-pagination li.pdp-pagination-left a{float:left;}
ul.pdp-pagination li.pdp-pagination-right a{float:right;}
.pdp-gallery-hero{display:block;margin:0 2px 0 0;border:1px solid #b3b2b3;overflow:hidden;width:256px;}
.pdp-gallery-hero ul li{list-style:none;display:block;width:254px;}
ul.pdp-gallery-actions{padding:5px 2px 0 0;height:35px;}
ul.pdp-gallery-actions li.pdp-gallery-actions-zoom{float:left;font:normal 11px/11px Arial,Helvetica,sans-serif;color:#333;padding:8px 0 0;list-style:none;}
ul.pdp-gallery-actions li.pdp-gallery-actions-enlarge{float:right;width:116px;height:30px;list-style:none;}
#body ul.pdp-gallery-actions li.pdp-gallery-actions-enlarge a{background-image:url(../images/button-106.png);width:106px;}
ul.pdp-gallery-thumbs{height:90px;}
ul.pdp-gallery-thumbs li{float:left;width:60px;border:1px solid #dedede;margin:0 2px 0 0;list-style:none;}
ul.pdp-gallery-thumbs li.fourth{margin:0;}
.pdp-meta{float:right;width:350px;position:relative;}
#wrapper .pdp-meta{height:auto;}
#content .pdp-meta h1,#content .pdp-meta h1 a{font:normal 15px/15px Arial,Helvetica,sans-serif;}
ol.pdp-meta-rating{position:absolute;top:auto;right:0;width:71px;height:10px;}
ol.pdp-meta-rating-email{position:absolute;top:50px;right:0;width:71px;height:10px;background:url(../images/rating-bg-lg.gif) no-repeat left top;}
ol.pdp-meta-rating li{float:left;width:71px;height:10px;margin:0;padding:0;list-style:none;overflow:hidden;}
ol.pdp-user-rating{top:28px;right:0;width:71px;height:10px;background:url(../images/rating-bg-lg.gif) no-repeat left top;}
ol.pdp-user-rating li{float:left;width:71px;height:10px;margin:0;padding:0;list-style:none;overflow:hidden;display:inline;}
.review{font-family:Arial,Helvetica,sans-serif;font-size:11px;font-style:normal;margin-top:5px;}
#content .pdp-meta p.pdp-meta-sku{font:normal 10px/10px Arial,Helvetica,sans-serif;color:#666;margin:0 0 5px;text-transform:uppercase;}
#content .pdp-meta p.pdp-meta-price{font:normal 11px/11px Arial,Helvetica,sans-serif;color:#333;margin:0 0 5px;}
#content .pdp-meta p.pdp-meta-price ins,#content .pdp-meta p.pdp-meta-price del{font:normal 10px/20px Arial,Helvetica,sans-serif;text-transform:uppercase;text-decoration:none;}
#content .pdp-meta p.pdp-meta-price ins strong{font:normal 18px/24px Arial,Helvetica,sans-serif;color:#f21314;}
#content .pdp-meta p.pdp-meta-price del strong{font:normal 14px/20px Arial,Helvetica,sans-serif;}
#content .pdp .tab-content{height:auto;position:relative;overflow:auto;padding:8px 24px 8px 8px;}
#content .pdp .pdp-tab{clear:both;}
#content .pdp .pdp-tab .tab-content{height:auto;overflow:auto;padding:8px 24px 8px 8px;}
dl.pdp-order{position:relative;height:165px;margin:0;}
dl.pdp-nochoice{height:110px;}
dl.pdp-order dt{float:left;width:54px;height:21px;font:bold 11px/12px Arial,Helvetica,sans-serif;color:#333;padding:9px 0 0;position:relative;}
dl.pdp-order dd{float:left;width:295px;height:30px;position:relative;}
dl.pdp-order dt.pdp-order-color,dl.pdp-order dd.pdp-order-color{border:none;display:block;width:350px;}
dl.pdp-order dt.pdp-order-color{height:20px;}
dl.pdp-order dd.pdp-order-color{height:auto;}
dl.pdp-order dt.pdp-order-color span{position:absolute;left:54px;top:9px;font-weight:normal;}
dl.pdp-order dd.pdp-order-color ul{padding:0;}
dl.pdp-order dd.pdp-order-color ul li{float:left;width:30px;padding:1px;margin:0 3px 0 0;list-style:none;}
dl.pdp-order dd.pdp-order-color ul li a{display:block;width:30px;height:30px;text-indent:-9999em;border:1px solid #dedede;}
dl.pdp-order dd.pdp-order-color ul li.on{background:#b2b2b2;border:1px solid #b2b2b2;margin:0 2px 0 1px;position:relative;bottom:3px;}
dl.pdp-order dd select{width:70px;font:normal 12px/12px Arial,Helvetica,sans-serif;margin-top:5px;float:left;}
dl.pdp-order dd input{width:70px;font:normal 12px/12px Arial,Helvetica,sans-serif;margin-top:6px;float:left;}
#content dl.pdp-order dd a.text-button{position:absolute;left:100px;top:4px;color:#333;text-decoration:underline;}
dl.pdp-order dd.pdp-order-submit{width:100%;padding:0;border:none;height:100%;margin-top:28px;}
#body dl.pdp-order dd.pdp-order-submit input{float:right;margin:0;}
#body dl.pdp-order dd.pdp-order-update input{float:right;margin:0;width:106px;background:url(../images/button-106.png);}
#body dl.pdp-order dd.pdp-order-submit a{float:left white-space:nowrap;font:normal 11px/12px Arial,Helvetica,sans-serif;text-decoration:underline;padding:6px 52px 0 0;float:right;}
ul.pdp-meta-actions{clear:both;height:30px;font:normal 10px/12px Arial,sans-serif;margin-top:25px;text-align:center;white-space:nowrap;position:relative;top:auto;}
#wrapper ul.pdp-meta-actions{position:relative;width:345px;}
ul.pdp-meta-actions li{display:inline;list-style:none;white-space:nowrap;float:right;padding:0 12px;}
ul.pdp-meta-actions li.single{padding-top:7px;}
#content ul.pdp-meta-actions li a{color:#333;text-decoration:underline;font-size:10px/12px;padding-top:3px;}
.pdp-outfit{border-top:2px solid #001c41;border-bottom:1px solid #001c41;width:350px;height:auto;min-height:100px;margin-top:6px;margin-bottom:15px;}
.pdp-outfit .pdp-outfit-description{font:normal 10px/10px Arial,Helvetica,sans-serif;padding:9px 0 0 8px;height:21px;text-transform:uppercase;border-bottom:1px solid #001c41;color:#333;width:255px;}
.pdp-outfit ul{font:normal 10px/12px Arial,Helvetica,sans-serif;color:#666;padding:5px 0 0 8px;width:255px;}
.pdp-outfit ul li{list-style:none;padding-right:90px;margin:0 0 4px;position:relative;}
.pdp-outfit ul li span{position:absolute;right:0;top:0;}
.pdp-outfit ul li span ins{text-decoration:none;}
.pdp-outfit a.pdp-outfit-thumb{margin-top:5px;word-wrap:break-word;border:1px solid #dedede;width:70px;display:block;}
.pdp-ymal{clear:both;border-top:1px solid #001c41;}
.pdp-ymal .pdp-ymal-header{font:normal 11px/11px Arial,Helvetica,sans-serif;padding:9px 0 0;height:21px;text-transform:uppercase;color:#333;}
.pdp-ymal ul.cat-list{padding-left:0;}
.ctl{float:right;margin-right:10px;display:inline;width:144px;overflow:hidden;border-top:2px solid #001c41;border-bottom:1px solid #001c41;padding:0 0 1px;}
.ctl h4.ctl-header{font:normal 10px/10px Arial,Helvetica,sans-serif;padding:9px 0 0;height:21px;text-align:center;text-transform:uppercase;border-bottom:1px solid #001c41;color:#333;}
.ctl ul.cat-list{padding:12px 0 0 6px;}
.ctl ul.cat-list li{margin:0 0 12px;width:132px;height:205px;display:block;overflow:hidden;}
.ctl ul.cat-list li a.cat-list-thumb{width:130px;height:160px;}
.ctl ul.cat-list li h4{bottom:12px;width:135px;}
.ctl ul.cat-list li p.cat-list-price,.ctl ul.cat-list li ol.cat-list-rating{bottom:0;}
.ctl ul.cat-list li p.cat-list-price{width:60px;height:20px;bottom:-10px;}
a.pdp-modal-detail{float:right;clear:both;}
ul.pdp-taf-actions{clear:both;background:#bccbd3;height:18px;padding:4px 0 0;font:normal 12px/12px Arial,Helvetica,sans-serif;margin:0 0 15px;width:256px;border-top:6px solid #fff;}
ul.pdp-taf-actions li{padding-left:18px;float:left;list-style:none;}
#content ul.pdp-taf-actions li a{color:#fff;text-decoration:underline;}
#content dl.pdp-taf{border-top:2px solid #666;padding-top:15px;width:350px;height:250px;}
#content dl.pdp-taf dd{width:200px;height:24px;}
#content dl.pdp-taf dd input,#content dl.pdp-taf dd select,#content dl.pdp-taf dd textarea{width:190px;}
#content dl.pdp-taf dd.form-submit{position:absolute;right:5px;bottom:10px;width:106px;}
#body dl.pdp-taf dd.form-submit input{width:106px;}
ul.pdp-thelook{float:right;width:350px;}
ul.pdp-thelook li.pdp-thelook-item{border-top:1px solid #666;list-style:none;padding:7px 0 0;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-thumb{float:left;width:70px;height:85px;border:1px solid #dedede;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta{float:right;width:270px;padding:5px 0 0;height:89px;position:relative;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta ol.pdp-meta-rating{top:20px;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta .pdp-modal-description{font:normal 15px/15px Arial,Helvetica,sans-serif;color:#333;text-transform:uppercase;width:100%;word-wrap:break-word;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-sku. p.pdp-meta-desc{font:normal 10px/14px Arial,Helvetica,sans-serif;color:#666;}
p.pdp-meta-desc{padding-top:10px;padding-bottom:10px;font:normal 11px/14px Arial,Helvetica,sans-serif;color:#333;text-transform:uppercase;word-wrap:break-word;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-price{font:normal 11px/14px Arial,Helvetica,sans-serif;color:#333;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-price ins,ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-price del{font:normal 10px/14px Arial,Helvetica,sans-serif;text-transform:uppercase;text-decoration:none;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-price ins strong{font:normal 14px/14px Arial,Helvetica,sans-serif;color:#df0a1a;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta p.pdp-meta-price del strong{font:normal 14px/14px Arial,Helvetica,sans-serif;}
ul.pdp-thelook li.pdp-thelook-item .pdp-thelook-meta a.pdp-modal-detail{position:absolute;left:0;bottom:8px;margin:0;float:left;}
ul.pdp-thelook li.pdp-thelook-item dl.pdp-order{position:relative;clear:both;height:130px;}
ul.pdp-thelook li.pdp-thelook-item dl.pdp-order dt.pdp-thelook-check{position:absolute;right:5px;bottom:8px;white-space:nowrap;width:100px;text-align:right;border:none;height:auto;font-weight:normal;}
ul.pdp-thelook li.pdp-thelook-submit{border-top:1px solid #666;list-style:none;clear:both;padding:5px 0 0;height:30px;}
ul.pdp-thelook li.pdp-thelook-submit input{float:right;}
.pdp-edit .pdp-meta{float:none;width:430px;margin:0;}
.pdp-edit .pdp-meta .pdp-meta-price{right:0;top:4px;}
.pdp-edit .pdp-gallery{width:132px;padding:6px 0 0;}
.pdp-edit .pdp-gallery-hero{width:130px;height:auto;}
.pdp-edit dl.pdp-order{float:right;width:475px;height:168px;position:relative;}
.pdp-edit dl.pdp-order dt,.pdp-edit dl.pdp-order dd{border:none;}
.pdp-edit dl.pdp-order dt{width:39px;}
.pdp-edit dl.pdp-order dd{width:399px;}
.pdp-edit dl.pdp-order dt.pdp-order-color,.pdp-edit dl.pdp-order dd.pdp-order-color{border:none;display:block;width:475px;}
dl.pdp-order dt.pdp-order-color span{position:absolute;left:54px;top:9px;font-weight:normal;}
.pdp-edit dl.pdp-order dd.pdp-order-shipping select{width:150px;}
.pdp-edit dl.pdp-order dd.pdp-order-cancel,.pdp-edit dl.pdp-order dd.pdp-order-save{border:none;width:106px;height:30px;position:absolute;bottom:5px;}
#body .pdp-edit dl.pdp-order dd.pdp-order-cancel{left:65px;}
#body .pdp-edit dl.pdp-order dd.pdp-order-save{left:138px;}
#body .pdp-edit dl.pdp-order dd.pdp-order-cancel input,#body .pdp-edit dl.pdp-order dd.pdp-order-save input{width:106px;}
.gc-edit .pdp-meta{height:30px;}
#body .gc-edit .pdp-gallery{width:200px;padding:2px 0 0;}
.gc-edit .pdp-gallery-hero{width:200px;height:128px;border:none;}
.gc-edit dl.pdp-order{width:405px;height:auto;padding:0 0 35px;}
.gc-edit dl.pdp-order dt{width:134px;}
.gc-edit dl.pdp-order dd{width:270px;}
.gc-edit dl.pdp-order dd input,.gc-edit dl.pdp-order dd select{width:200px;margin:5px 0 0;}
.gc-edit dl.pdp-order dt small{display:block;font:normal 10px/10px Arial,Helvetica,sans-serif;padding:10px 0 0;}
.gc-edit dl.pdp-order dt.gc-order-msg{height:66px;}
.gc-edit dl.pdp-order dd.gc-order-msg{height:75px;}
.gc-edit dl.pdp-order dd.gc-order-msg textarea{width:250px;height:60px;margin:6px 0 0;}
dl.pdp-order dd.sku-order-submit{right:0;bottom:5px;width:350px;height:100px;padding:0;float:none;margin-top:20px;border:none;}
.sku-meta-attribute{color:#333;font:bold 11px/12px Arial,Helvetica,sans-serif;margin:0 0 5px;}
.sku-image{float:left;width:150px;border:1px solid #B3B2B3;}
.pwp{float:left;width:510px;}
.pwp-color-picker dt.pdp-order-color{width:54px!important;float:left;padding-top:5px;}
.pwp-color-picker dd.pdp-order-color{width:295px!important;float:left;}
.nothanks{background-color:transparent!important;background-position:0 5px!important;background-repeat:no-repeat!important;border:medium none!important;background-image:url("../images/button-130_35.png");width:130px;height:37px;}