.clearfix{zoom:1;}.clearfix:after{display:block;visibility:hidden;height:0;clear:both;content:".";}
.inline_block{display:inline-block;vertical-align:top;*zoom:1;*display:inline;}
#overlay{position:fixed;left:0;top:0;background:#000000;opacity:.7;filter:alpha(opacity=70);z-index:1000;}
#lightbox_container{visibility:hidden;position:fixed;z-index:1001;background:#fff;border:10px solid #aaa;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;line-height:1;}
#close_container{padding:4px 1px 8px;background:#aaa;position:relative;zoom:1;}#close_container:after{display:block;visibility:hidden;height:0;clear:both;content:".";}
#lightbox_title{clear:both;float:none;}
#lightbox_title p{color:#000;font-size:17px !important;margin-bottom:0;line-height:1.3em;}
#lightbox_title .new_icon{float:left;margin:3px 11px 0px 5px !important;}
#lightbox_title .new_icon p{font-size:10px !important;color:#FFF !important;}
#close_button{height:30px;width:30px;background:url(/assets/images/bose_lightbox/button_close.png) no-repeat;cursor:pointer;position:absolute;right:-25px;top:-25px;}
#lightbox_content{clear:both;overflow:auto;}
#lightbox_content img{display:block;margin:0 auto;}
#lightbox_content h2{font-size:12px;font-weight:bold;}
#lightbox_content h2.promo2header{font-size:14px;font-weight:bold;margin-bottom:2px;color:#c95e2a;}
#lightbox_content h3{font-size:11px;font-weight:bold;margin-bottom:4px;color:#333333;}
#lightbox_content p{font-size:11px;color:#333333;}
.brightcove_player.single_video{padding:5px 0px 0px 5px !important;}
