@charset "utf-8";
/* CSS Document */

img.authSeal {
	display:block;
	width:80px;
	height:67px;
	margin-top:-230px;
	margin-bottom:150px;
}

.authSellerBox {
	width:100%;
	color:#000;
	font-size:11px;
	margin:10px 0 0 0;
	overflow:hidden;
}

.authSellerBox span {
	display:inline-block;
	float:left;
	margin:20px 0 0 10px;
}

div.bottomSpace {
	margin-bottom:3px;
}

.authSellerBox-brand {
	width:160px;
	float:right;
	text-align:center;
	font-size:11px;
	position:relative;
	margin:18px 0 -100px 0;
	color:#000;
}

.authSellerBox-brand img {
	display:block;
	margin:-20px auto 5px auto;
}

 .tooltip {
    display:none;
    /** background:transparent url(images/chatBG.png); **/
    width:234px;
    padding:8px;
	text-align:center;
	color:#000;
	font-size:11px;
	font-weight:bold;
	border:1px solid #999;
	background:#fff;
  }